<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Datos generales del proyecto</title>
        <meta http-equiv="Expires" content="0"/>
        <meta http-equiv="Last-Modified" content="0"/>
        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" />
        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet"/>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
		 
		<script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
		<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
		<script src="#{request.contextPath}/assets/js/funciones.js"></script>
		<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
		<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
		<script>
			function mensajePagoDer(resp){
				if(resp==0){
					mensajes('Debe realizar el cálculo del pago de derechos en el menú &lt;span class="glyphicon glyphicon-cog"&gt;&lt;/span&gt;','danger');
				}
			}
		</script>
    </h:head>
    <h:body onload="javascript:mensajePagoDer(#{capitulo1View.pagoDer})">
		<div class="row">
    		<div class="col-md-12" id="mensaje"></div>
    	</div>
        <div class="col-md-8" >  
           <div class="row">
             <h3>Datos generales del proyecto</h3>
             <hr class="red"/>
            </div>
            
			<!-- Botón para llamar guías <p:commandButton id="btnGuiaPdf" value="Guia PDF" class="btn btn-primary" action="#{capitulo1View.abreGuia}" disabled="#{capitulo1View.hayGuias}" style="float:right;"/>-->
			
			<div class="row">
				<label class="control-label col-md-4 alineacionGraficaBase" for="fNomProy">Nombre del proyecto*:</label>
					<div class="col-md-8">
						<p class="form-control-static">#{capitulo1View.proyecto.proyNombre}</p>
					</div>
			</div>
			<div class="row">
				<label class="control-label col-md-4 alineacionGraficaBase" for="fSector">Sector*:</label>                        
				<div class="col-md-8">
					<p class="form-control-static">#{capitulo1View.sector}</p>
				</div>
			</div>
			<div class="row">
				<label class="control-label col-md-4 alineacionGraficaBase" for="fSubsector">Subsector*:</label>
				<div class="col-md-8">
					<p class="form-control-static">#{capitulo1View.subSector}</p>
				</div>
			</div>
			<div class="row">
				<label class="control-label col-md-4 alineacionGraficaBase" for="fSubsector">Rama*:</label>
				<div class="col-md-8">
					<p class="form-control-static">#{capitulo1View.rama}</p>
				</div>
			</div>
			<div class="row">
				<label class="control-label col-md-4 alineacionGraficaBase" for="fSubsector">Tipo de proyecto*:</label>
				<div class="col-md-8">    
					<p class="form-control-static">#{capitulo1View.tipo}</p>
				</div>
			</div>
		</div>
	</h:body>
</html>