<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<title>Datos Generales del Proyecto</title>
		
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8" />
	<!-- CSS -->
	<link href="#{request.contextPath}/assets/images/favicon.ico" rel="shortcut icon" />
    <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
    <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
			
    <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
    <script src="#{request.contextPath}/assets/js/funciones.js"></script>        
    <script src="#{request.contextPath}/assets/js/ayudas.js"></script>

<style type="text/css">
.ui-panel .ui-panel-content {
	padding: 0.0em;
}

.ui-panel-content {
}

.ui-widget-content {
}

.requiereMia {
	background-color: #EAF038 !important;
	background-image: none !important;
}

.noRequiereMia {
	background-color: #697CE4 !important;
	background-image: none !important;
}

.ui-button-textx{
    font-size: 18px;
    line-height: 2.4;
    padding: 1px 25px;
	font-family: "Glyphicons Halflings","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.disable {
	pointer-events:none;
}  
</style>

<script>
    function muestra_advertencia() {                 
        document.getElementById('msgadvertencia').style.display = 'block';
    }
    function oculta_advertencia() {
        document.getElementById('msgadvertencia').style.display = 'none';
    }           
</script>

</h:head>
<h:body>
	<h:form id="wizard" styleClass="wizard">
		
		<div class="container">
		
			<div class="row">
				<div class="col col-lg-12 col-md-12 top-buffer" >
					<h4>Obras y actividades que requieren someterse al PEIA</h4>
				</div>
			</div>
			<hr class="red" />
			<button id='case_btn_ayuda' type="button" class="btn btn-default"
					data-toggle="tooltip" data-placement="bottom">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
			</button><hr></hr>	
		
			<p:panel id="pnlWizard" style="border: none;">
				<ul id="tabs" class="nav nav-tabs" style="pointer-events: none;">
					<li id="t1"
						class="#{revisionObra.indexTab eq 1?'active':'disabled'}"><a
						data-toggle="tab" href="#tab-01">1. Cambio de uso de suelo</a></li>
					<li id="t2"
						class="#{revisionObra.indexTab eq 2?'active':'disabled'}"><a
						data-toggle="tab" href="#tab-02">2. Ecosistemas costeros</a></li>
					<li id="t3"
						class="#{revisionObra.indexTab eq 3?'active':'disabled'}"><a
						data-toggle="tab" href="#tab-03">3. Cuerpos de agua</a></li>
					<li id="t4"
						class="#{revisionObra.indexTab eq 4?'active':'disabled'}"><a
						data-toggle="tab" href="#tab-04">4. ANP</a></li>
					<li id="t5"
						class="#{revisionObra.indexTab eq 5?'active':'disabled'}"><a
						data-toggle="tab" href="#tab-05">5. Actividades reguladas</a></li>
				</ul>

				<div class="tab-content">
					<c:choose>
						<c:when test="#{revisionObra.indexTabActual > 1}">
							<div id="tab-01"
								class="#{revisionObra.indexTab eq 1?'tab-pane fade in active':'tab-pane fade'}"
								style="pointer-events: none;">
								<ui:include src="/capitulo1/1/tab1.xhtml" />
							</div>
						</c:when>
						<c:otherwise>
							<div id="tab-01"
								class="#{revisionObra.indexTab eq 1?'tab-pane fade in active':'tab-pane fade'}">
								<ui:include src="/capitulo1/1/tab1.xhtml" />
							</div>
						</c:otherwise>
					</c:choose>
					<c:choose>
						<c:when test="#{revisionObra.indexTabActual > 2}">
							<div id="tab-02"
								class="#{revisionObra.indexTab eq 2?'tab-pane fade in active':'tab-pane fade'}"
								style="pointer-events: none;">
								<ui:include src="/capitulo1/1/tab2.xhtml" />
							</div>
						</c:when>
						<c:otherwise>
							<div id="tab-02"
								class="#{revisionObra.indexTab eq 2?'tab-pane fade in active':'tab-pane fade'}">
								<ui:include src="/capitulo1/1/tab2.xhtml" />
							</div>
						</c:otherwise>
					</c:choose>
					<c:choose>
						<c:when test="#{revisionObra.indexTabActual > 3}">
							<div id="tab-03"
								class="#{revisionObra.indexTab eq 3?'tab-pane fade in active':'tab-pane fade'}"
								style="pointer-events: none;">
								<ui:include src="/capitulo1/1/tab3.xhtml" />
							</div>
						</c:when>
						<c:otherwise>
							<div id="tab-03"
								class="#{revisionObra.indexTab eq 3?'tab-pane fade in active':'tab-pane fade'}">
								<ui:include src="/capitulo1/1/tab3.xhtml" />
							</div>
						</c:otherwise>
					</c:choose>
					<c:choose>
						<c:when test="#{revisionObra.indexTabActual > 4}">
							<div id="tab-04"
								class="#{revisionObra.indexTab eq 4?'tab-pane fade in active':'tab-pane fade'}"
								style="pointer-events: none;">
								<ui:include src="/capitulo1/1/tab4.xhtml" />
							</div>
						</c:when>
						<c:otherwise>
							<div id="tab-04"
								class="#{revisionObra.indexTab eq 4?'tab-pane fade in active':'tab-pane fade'}">
								<ui:include src="/capitulo1/1/tab4.xhtml" />
							</div>
						</c:otherwise>
					</c:choose>
					<c:choose>
						<c:when test="#{revisionObra.indexTabActual > 5}">
							<div id="tab-05"
								class="#{revisionObra.indexTab eq 5?'tab-pane fade in active':'tab-pane fade'}"
								style="pointer-events: none;">
								<ui:include src="/capitulo1/1/tab5.xhtml" />
							</div>
						</c:when>
						<c:otherwise>
							<div id="tab-05"
								class="#{revisionObra.indexTab eq 5?'tab-pane fade in active':'tab-pane fade'}">
								<ui:include src="/capitulo1/1/tab5.xhtml" />
							</div>
						</c:otherwise>
					</c:choose>
				</div>
			</p:panel>

			<p:panel id="pnlBotonesWizard" style="border: none;">
				<!-- Boton siguiente -->
				<div id="tab1_q012" class="row">
					<div class="col-md-8 ">
						<p:commandButton id="btnAtras" value="Atras"
							styleClass="btn btn-primary "
							rendered="#{revisionObra.indexTab > 1}" immediate="true"
							update="pnlWizard pnlBotonesWizard" style="float: left;margin-right: 5px;"
							actionListener="#{revisionObra.setIndexTab(revisionObra.indexTab - 1)}" />

						<c:if
							test="#{revisionObra.indexTab ne revisionObra.indexTabActual and !revisionObra.botonFinalizar}">
							<p:commandButton id="btnSiguienteTab" value="Siguiente"
								styleClass="btn btn-primary" immediate="true"
								update="pnlWizard pnlBotonesWizard"
								actionListener="#{revisionObra.setIndexTab(revisionObra.indexTab + 1)}" />
						</c:if>
						<c:if
							test="#{revisionObra.indexTab eq revisionObra.indexTabActual and revisionObra.btnSiguienteActivo and !revisionObra.botonFinalizar}">
							<p:commandButton id="btnSiguiente" value="Siguiente"
								styleClass="btn btn-primary"
								oncomplete="$('#myModal').modal('show')"
								actionListener="#{revisionObra.validarCondiciones}"
								immediate="true" update="dlgModal msjTab" />
						</c:if>

						<c:if test="#{revisionObra.botonFinalizar}">
							<p:commandButton id="btnFinalizar" value="Finalizar"
								styleClass="#{!revisionObra.enabledFinalizar?'btn btn-primary disabled btnFinalizar':'btn btn-primary btnFinalizar'}"
								oncomplete="$('#myModalName').modal('show')"
								actionListener="#{revisionObra.changeModalFinalizar}"
								immediate="true" update="dlgModal msjTab" />
						</c:if>


					</div>
				</div>
			</p:panel>


		</div>

		<!-- Dialogo modal -->
		<p:panel id="dlgModal" widgetVar="dlgModal" style="border: none;">
			<div class="modal fade" id="myModal">
			
			  <p:panel rendered="#{revisionObra.validaPrimeraPregunta}"   >	
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true"></span>
								</button>
								<h4 class="modal-title" id="myModalLabel">Enviar datos</h4>
							</div>
							<div class="modal-body" id="msjTabDiv">
								<div
									class="alert alert-warning">
									<p:outputLabel id="msjTab" value="#{revisionObra.mensajeTab}" />
								</div>
								<p:outputLabel value="#{revisionObra.mensajeDialogo}" />
							</div>
	
							<div class="modal-footer">
								<p:commandButton styleClass="btn btn-default" value="No" onclick="$('#myModal').modal('hide')" />	
								<p:commandButton value="Si" styleClass="btn btn-primary"
									oncomplete="$('#myModal').modal('hide')"
									actionListener="#{revisionObra.onFlowProcess}" immediate="true"
									update="pnlWizard pnlBotonesWizard" />
							</div>
						</div>
					</div>
				</p:panel>
				
				<p:panel rendered="#{!revisionObra.validaPrimeraPregunta}"  >
				<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true"></span>
								</button>
								<h4 class="modal-title" id="myModalLabel">Error</h4>
							</div>
							<div class="modal-body" id="msjTabDiv">
								<div
									class="alert alert-warning">
									<p:outputLabel  value="No se ha seleccionado ninguna opción" />
								</div>
								
							</div>
	
							<div class="modal-footer">
								<p:commandButton styleClass="btn btn-primary" value="Aceptar" onclick="$('#myModal').modal('hide')" />	
							</div>
						</div>
					</div>
				</p:panel>	
				
			</div>
		</p:panel>

		<!--  -->
		<p:panel id="dlgModalName" style="border: none;">
			<div class="modal fade" id="myModalName" >
				<div class="modal-dialog" role="document">
					<p:panel id="finalizarQ">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true"></span>
								</button>
								<h4 class="modal-title">Guardar nombre del proyecto</h4>
							</div>
							<div class="modal-body">
								<h:panelGrid width="100%">
									<p:outputLabel
										value="Para finalizar solo hace falta agregar el nombre del proyecto."
										rendered="#{!revisionObra.showMsjFinalizar}" />
										
									<!-- Seleccion de la obra principal -->
									<p:outputLabel value="Seleccione la obra principal:"
										rendered="#{revisionObra.showMsjFinalizar}" />
									<h:selectOneMenu id="slObras" required="true" requiredMessage="almenos una"
										value="#{revisionObra.idObraPrincipalSeleccionada}" style="width:100%"
										styleClass="form-control" rendered="#{revisionObra.showMsjFinalizar}">										
										<f:selectItem itemValue="0" itemLabel="Selecciona una obra" />									
										<f:selectItems value="#{revisionObra.listaReiaProyObrasTab5}" var="o" 
											itemValue="#{o.clave}" itemLabel="#{o.obra.obra}"/>
										<p:ajax/>
									</h:selectOneMenu>
							        
							        <!-- Nombre del proyecto -->
									<p:outputLabel value="Nombre del proyecto:"
										rendered="#{revisionObra.showMsjFinalizar}" />
									<p:inputTextarea value="#{revisionObra.nombreObra}"
										rendered="#{revisionObra.showMsjFinalizar}" maxlength="200"
										counter="contador1" counterTemplate="Quedan {0} caracteres."
										autoResize="false" rows="8" style="width:500px">
										<p:ajax/>
									</p:inputTextarea>
									<h:outputText id="contador1" />
								</h:panelGrid>
								<div class="alert alert-warning" id="msgadvertencia">
									<p:outputLabel value="#{revisionObra.msjAdvertenciaFinalizacion}" />
								</div>
							</div>
								
							
							<div class="modal-footer">
								<p:commandButton value="Cancelar" styleClass="btn btn-default"
										oncomplete="$('#myModalName').modal('hide')"/>
									<p:commandButton value="Aceptar" styleClass="btn btn-primary"
										actionListener="#{revisionObra.continueNombreFinalizar}"
										immediate="true" update="finalizarQ"
										rendered="#{!revisionObra.showMsjFinalizar}" />
									<p:commandButton value="Guardar" styleClass="btn btn-primary"
										actionListener="#{revisionObra.saveNombreFinalizar}"
										immediate="true" process="@form"
										update="pnlWizard pnlBotonesWizard"
										rendered="#{revisionObra.showMsjFinalizar}" />
									
									
								
							</div>
						</div>
					</p:panel>
				</div>
			</div>
		</p:panel>
		
		<!-- Modal para mostrar el error cuando faltan preguntas de la obra por ser contestadas -->
	<p:panel id="dlgModalAdvertencia" widgetVar="dlgModalAdvertencia" style="border: none;">
		<div class="modal fade" id="dlgModalAdvertencia">			
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true"></span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Error</h4>
					</div>
					<div class="modal-body">
						<div
							class="alert alert-warning">
							<p:outputLabel  value="El nombre del proyecto y la obra principal son obligatorios." />
						</div>
						
					</div>

					<div class="modal-footer">
						<p:commandButton styleClass="btn btn-primary" value="Aceptar" onclick="$('#dlgModalAdvertencia').modal('hide')" />	
					</div>
				</div>
			</div>
		</div>
	</p:panel>
	</h:form>

	<h:form id="formDialog">

	</h:form>
	<p:growl id="growl" sticky="true" showDetail="true" />
	<h:form id="myForm">
		<p:growl id="mensaje" showDetail="true" />
	</h:form>

	<c:choose>
		<c:when
			test="#{revisionObra.muestraadvertencia == true }">
			<script>			
				console.log('muestra div');
				muestra_advertencia();
            </script>
		</c:when>		
		<c:otherwise>
			<script>
			    console.log('oculta div');
			    oculta_advertencia();
            </script>
		</c:otherwise>
	</c:choose>
	
</h:body>
</html>
