<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" >
<div id="divTab1">
<div id="tab1_q01" class="row">
				<div class="col-md-8 ">
							<h:outputLabel styleClass="control-label">
								¿Su proyecto requiere cambio de uso de suelo en
									predios con vegetación forestal?
							</h:outputLabel>

						</div>
						<div class="col-md-2">
							<div class="btn-group">
								<h:commandButton
									styleClass="#{ revisionObra.respuesta1==null? 'btn btn-default btn-sm panelTan1Q2' : !revisionObra.respuesta1?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}"
									value="No">
									<p:ajax event="click"
										listener="#{revisionObra.changeValueFirstQuestionNo}"
										update="@(.panelTan1Q2) pnlBotonesWizard" immediate="true" />
								</h:commandButton>
								<h:commandButton
									styleClass="#{revisionObra.respuesta1==null? 'btn btn-default btn-sm panelTan1Q2' :revisionObra.respuesta1?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}"
									value="SI">
									<p:ajax event="click"
										listener="#{revisionObra.changeValueFirstQuestionSi}"
										update="@(.panelTan1Q2) pnlBotonesWizard" immediate="true" />
								</h:commandButton>
							</div>


						</div>
						<div class="col-md-2"></div>
					</div>

					<p:panel id="panelTan1Q2" styleClass="panelTan1Q2" style="border: none;">
						<div id="tab1_qu2" class="row">
							<div class="col-md-12">
								<h:outputLabel styleClass="control-label"
									rendered="#{revisionObra.respuesta1}">
									¿Su proyecto considera alguna de las siguientes obras o actividades ?
								</h:outputLabel>
							</div>
						</div>
						<div id="tab1_qu3" class="row">
							<div class="col-md-12">
								<h:selectOneMenu id="selectTab1Q2" required="true" requiredMessage="almenos una"
									value="#{revisionObra.selectedObraActividad}" style="width:50%"
									styleClass="form-control" rendered="#{revisionObra.respuesta1}"
									converter="#{obraActConverter}">
									<p:ajax listener="#{revisionObra.changeValueObrasActividades}"
										event="change" process="@this" update="@(.listaPreguntas) pnlBotonesWizard"/>
									<f:selectItem itemValue="" itemLabel="Selecciona una obra"/>									
									<f:selectItems value="#{revisionObra.listaObrasActividad}"
										var="obraAct" itemLabel="#{obraAct.descripcion}"
										itemValue="#{origen}" />
								</h:selectOneMenu>
							</div>


						</div>
					</p:panel>


					<p:panel id="cuestionsTab1" styleClass="listaPreguntas" style="border: none;">
						<c:forEach items="#{revisionObra.listaCondicionesTab1}" var="condicion">
							<div id="tab1_q01" class="row">
								<div class="col-md-8 ">
									<h:outputLabel value="#{condicion.condicion}"
										styleClass="control-label" />
								</div>
								<div class="col-md-2">


									<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$4 -->
									<div class="btn-group">
										<h:commandButton
											styleClass="#{condicion.respuestaUser==null ? 'btn btn-default btn-sm panelTan1Q2' : !condicion.respuestaUser?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}"
											value="No">
											<p:ajax event="click"
												listener="#{revisionObra.changeValueFirstQuestionNo(condicion.id)}"
												update="@(.listaPreguntas)" immediate="true" />
										</h:commandButton>
										<h:commandButton
											styleClass="#{condicion.respuestaUser==null ? 'btn btn-default btn-sm panelTan1Q2' : condicion.respuestaUser?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}"
											value="SI">
											<p:ajax event="click"
												listener="#{revisionObra.changeValueFirstQuestionSi(condicion.id)}"
												update="@(.listaPreguntas)" immediate="true" />
										</h:commandButton>
									</div>

									<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
								</div>
							</div>
						</c:forEach>
					</p:panel>
	</div>
</ui:composition>