<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<div id="tab2_q01" class="row">
		<div class="col-md-8 ">
			<h:outputLabel styleClass="control-label" value="#{msgObras['msj.wizard.tab2.pregunta1']}" />
		</div>
		<div class="col-md-2">
			<div class="btn-group">
				<h:commandButton
					styleClass="#{  revisionObra.respuesta1Tab2==null ?  'btn btn-default btn-sm panelTab2Q2' :  !revisionObra.respuesta1Tab2?'btn btn-primary btn-sm panelTab2Q2':'btn btn-default btn-sm panelTab2Q2'}"
					value="No">
					<p:ajax event="click"
						listener="#{revisionObra.changeValueFirstQuestionTab2No}"
						update="@(.panelTab2Q2) pnlBotonesWizard" immediate="true" />
				</h:commandButton>
				<h:commandButton
					styleClass="#{ revisionObra.respuesta1Tab2==null ?  'btn btn-default btn-sm panelTab2Q2' : revisionObra.respuesta1Tab2?'btn btn-primary btn-sm panelTab2Q2':'btn btn-default btn-sm panelTab2Q2'}"
					value="SI">
					<p:ajax event="click"
						listener="#{revisionObra.changeValueFirstQuestionTab2Si}"
						update="@(.panelTab2Q2) pnlBotonesWizard" immediate="true" />
				</h:commandButton>
			</div>


		</div>
		<div class="col-md-2"></div>
	</div>





	<p:panel id="panelTab2Q2" styleClass="panelTab2Q2" style="border: none;">
		<div id="tab2_qu2" class="row">
			<div class="col-md-12">
				<h:outputLabel styleClass="control-label"
					rendered="#{revisionObra.respuesta1Tab2}">
									¿Su proyecto considera una o más de las siguientes obras o actividades ?
								</h:outputLabel>
			</div>
		</div>
		<div id="tab2_qu3" class="row">
			<div class="col-md-12">
				<h:selectManyListbox id="selectTab2Q2"
					value="#{revisionObra.selectedObraActividadTab2}" style="width:50%"
					styleClass="form-control" rendered="#{revisionObra.respuesta1Tab2}"
					converter="#{obraActConverter}">										
					<f:selectItems value="#{revisionObra.listaObrasActividadTab2}"
						var="obraAct" itemLabel="#{obraAct.descripcion}"
						itemValue="#{origen}" />
					<p:ajax event="change" listener="#{revisionObra.actualizaBotonSiguiente}" update="pnlBotonesWizard"/>
				</h:selectManyListbox>
			</div>


		</div>
	</p:panel>



</ui:composition>