<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">
<div id="tab4_q01" class="row">
						<div class="col-md-8 ">
							<h:outputLabel styleClass="control-label" value="#{msgObras['msj.wizard.tab4.pregunta1']}" />
						</div>
						<div class="col-md-2">
							<div class="btn-group">
								<h:commandButton
									styleClass="#{revisionObra.respuesta1Tab4 ==null ? 'btn btn-default btn-sm panelTan4Q2': !revisionObra.respuesta1Tab4?'btn btn-primary btn-sm panelTan4Q2':'btn btn-default btn-sm panelTan4Q2'}"
									value="No">
									<p:ajax event="click"
										listener="#{revisionObra.changeValueFourQuestionNo}"
										update="@(.panelTan4Q2) pnlBotonesWizard" immediate="true" />
								</h:commandButton>
								<h:commandButton
									styleClass="#{revisionObra.respuesta1Tab4 ==null ? 'btn btn-default btn-sm panelTan4Q2': revisionObra.respuesta1Tab4?'btn btn-primary btn-sm panelTan4Q2':'btn btn-default btn-sm panelTan4Q2'}"
									value="SI">
									<p:ajax event="click"
										listener="#{revisionObra.changeValueFourQuestionSi}"
										update="@(.panelTan4Q2) pnlBotonesWizard" immediate="true" />
								</h:commandButton>
							</div>


						</div>
						<div class="col-md-2"></div>
					</div>

					<p:panel id="panelTan4Q2" styleClass="panelTan4Q2" style="border: none;">
						<div id="tab4_qu2" class="row">
							<div class="col-md-12">
								<h:outputLabel styleClass="control-label"
									rendered="#{revisionObra.respuesta1Tab4}">
									¿Su proyecto considera alguna de las siguientes obras o actividades ?
								</h:outputLabel>
							</div>
						</div>
						<div id="tab4_qu3" class="row">
							<div class="col-md-12">
								<h:selectOneMenu id="selectTab4Q2"
									value="#{revisionObra.selectedObraActividad4}" style="width:50%"
									styleClass="form-control" rendered="#{revisionObra.respuesta1Tab4}"
									converter="#{obraActConverter}">
								    <p:ajax event="change" process="@this" listener="#{revisionObra.actualizaBotonSiguiente}" update="pnlBotonesWizard"/>
 									<f:selectItem itemLabel="Selecciona una obra" itemValue="" />
									<f:selectItems value="#{revisionObra.listaObrasActividad4}"
										var="obraAct" itemLabel="#{obraAct.descripcion}"
										itemValue="#{origen}" />
								</h:selectOneMenu>
							</div>


						</div>
					</p:panel>
</ui:composition>