<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<link href="#{request.contextPath}/assets/css/wizard.css" rel="stylesheet" />
	
	<div id="tab5_q01" class="row">
		<div class="col-md-12 ">
			<div class="alert alert-warning alert-dismissible">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h:outputLabel value="#{msgObras['msj.wizard.tab5.advertencia']}"
					escape="false" />
			</div>
			<h:panelGroup styleClass="tab5All" id="tab5All">
				<div>					
					<p:commandLink						
						styleClass="btn btn-default glyphicon-plus glyphicon ui-button-textx"						
						style="float: right;"
						oncomplete="$('#myModalAdd').modal('show')"
						actionListener="#{revisionObra.loadAddActidadesRegulas}"
						update="selectTab5Q1 @(.pnlAddObra)" value="Agregar" >												
					</p:commandLink>
					<p:spacer width="5"/>
					<p:commandLink id="btnEliminarObras"
						class="btn btn-default glyphicon glyphicon-remove-circle ui-button-textx botonEliminar"
						value="Eliminar" style="float:right;"
						disabled="#{revisionObra.obrasSeleccionadas.size() == 0}"	
						oncomplete="$('#modalEliminarObras').modal('show')"					
						update=":wizard:dlgModalEliminarObras @(.pnlObrasEliminar)">
					</p:commandLink>
				</div>

				<br /><br /><br /><br />
				<h:panelGroup>					
					<p:dataTable styleClass="table" var="obra" style="width: 100%;" rowIndexVar="rowIndexObra" 
                        	value="#{revisionObra.listaReiaProyObrasTab5}" id="tablaObras" rowStyleClass="#{obra.obra.idCategoria.estatus eq 2 ? 'disable' : null}"
                        	selection="#{revisionObra.obrasSeleccionadas}" rowKey="#{obra.clave}"
                        	paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
                        	              
                        <p:ajax event="toggleSelect" update=":wizard:btnEliminarObras"/>
                       	<p:ajax event="rowSelectCheckbox" update=":wizard:btnEliminarObras"/>
                       	<p:ajax event="rowUnselectCheckbox" update=":wizard:btnEliminarObras"/>
                        <p:column id="check" selectionMode="multiple" style="width:5%;text-align:center"
                        	disabledSelection="#{obra.obra.idCategoria.estatus == 2}">                            	                             
                        </p:column>
                        <p:column style="width: 5%; text-align: center;">
                            <f:facet name="header">#</f:facet>
                            <p:outputLabel value="#{rowIndexObra+1}"/> 
                        </p:column>
				        <p:column style="width: 35%; white-space:normal">
				        	<f:facet name="header">Categoría</f:facet>
				            <p:outputLabel value="#{obra.obra.idCategoria.categoria}" />
				        </p:column>
				        <p:column style="width: 35%; white-space:normal">
				        	<f:facet name="header">Descripción de obras y actividades</f:facet>
				            <p:outputLabel value="#{obra.obra.obra}" />
				        </p:column>
				        <p:column style="width: 10%; text-align: center;">
				        	<f:facet name="header">Exceptuada</f:facet>
				        	<p:outputLabel value="#{ obra.obra.idCategoria.estatus eq 2 ? obra.exceptuada == '0' ? 'NO' : 'SI' : obra.exceptuada == '1' ? 'NO' : 'SI'}" />				        				        			            
				        </p:column>
                    </p:dataTable>
                </h:panelGroup>
			</h:panelGroup>
		</div>
	</div>

	<!-- Dialogo modal  ADD-->
	<p:panel id="dlgModalAdd" style="border: none;">
		<div class="modal fade" id="myModalAdd">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true"></span>
						</button>
						<h4 class="modal-title" id="myModalAddLabel">Agregar</h4>
					</div>
					<div class="modal-body">
						<h:panelGrid styleClass="pnlAddObra" id="pnlAddObra">
							<h:outputLabel value="Categoría" />
							<h:selectOneMenu id="selectTab5Q1"
								value="#{revisionObra.categoriasTab5Selected}"
								styleClass="form-control" converter="#{categoriaConverter}">
								<p:ajax listener="#{revisionObra.changeValueCategoriasTab5}"
									event="change" process="@this" update="@(.pnlAddObra) " />
								<f:selectItem itemValue="" itemLabel="Selecciona una Categoría" />
								<f:selectItems value="#{revisionObra.listaCategoriasTab5}"
									var="categoria" itemLabel="#{categoria.categoria}"
									itemValue="#{categoria}" />
							</h:selectOneMenu>

							<h:panelGrid
								rendered="#{revisionObra.categoriasTab5Selected!=null}">
								<h:outputLabel value="Obra actividad" />
								<h:selectOneMenu id="selectTab5Q2"
									value="#{revisionObra.obrasActividadTab5Selected}"
									styleClass="form-control" converter="#{obraActConverter}">
									<p:ajax listener="#{revisionObra.changeValueObrasTab5}"
										event="change" process="@this" update="@(.pnlAddObra)" />
									<f:selectItem itemValue="" itemLabel="Selecciona una Obra" />
									<f:selectItems value="#{revisionObra.listaObrasActividadTab5}"
										var="obra" itemLabel="#{obra.descripcion}" itemValue="#{obra}" />
								</h:selectOneMenu>


								<h:panelGrid id="pnlPreguntas"
									rendered="#{revisionObra.obrasActividadTab5Selected!=null}">
									<!-- EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE  -->


									<p:panel id="cuestionsTab5" styleClass="listaPreguntasTab5" style="border: none;">
										<c:forEach items="#{revisionObra.listaCondicionesTab5}"
											var="condicion">
											<div id="tab5_q01" class="row">
												<div class="col-md-9 ">
													<h:outputLabel value="#{condicion.condicion}"
														styleClass="control-label" />
												</div>
												<div class="col-md-3">


													<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$4 -->
													<div class="btn-group">
														<h:commandButton
															styleClass="#{condicion.respuestaUser==null? 'btn btn-default btn-sm panelTan1Q2' : !condicion.respuestaUser?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}"
															value="No">
															<p:ajax event="click"
																listener="#{revisionObra.changeValueQuestionT5No(condicion.id)}"
																update="@(.listaPreguntasTab5)" immediate="true" />
														</h:commandButton>
														<h:commandButton
															styleClass="#{condicion.respuestaUser==null? 'btn btn-default btn-sm panelTan1Q2' : condicion.respuestaUser?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}"
															value="SI">
															<p:ajax event="click"
																listener="#{revisionObra.changeValuetQuestionT5Si(condicion.id)}"
																update="@(.listaPreguntasTab5)" immediate="true" />
														</h:commandButton>
													</div>

													<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
												</div>
											</div>
										</c:forEach>
									</p:panel>
									<!-- buuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu -->
								</h:panelGrid>
							</h:panelGrid>
						</h:panelGrid>
					</div>

					<div class="modal-footer">
						<p:commandButton styleClass="btn btn-default" oncomplete="$('#myModalAdd').modal('hide');" value="Cancelar" />
						<p:commandButton value="Guardar"
							styleClass="btn btn-primary pnlAddObra"
							disabled="#{revisionObra.obrasActividadTab5Selected==null}"
							actionListener="#{revisionObra.saveObraTab5}" immediate="true"
							update="tab5All @(.btnFinalizar) :wizard:msjTab5" />

					</div>
				</div>
			</div>
		</div>
	</p:panel>
	
	<!-- Modal para mostrar el error cuando faltan preguntas de la obra por ser contestadas -->
	<p:panel id="dlgModalError" widgetVar="dlgModalError" style="border: none;">
		<div class="modal fade" id="modalError">			
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true"></span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Error</h4>
					</div>
					<div class="modal-body" id="msjTabDiv">
						<div
							class="alert alert-warning">
							<p:outputLabel  value="Aún faltan preguntas por contestar." />
						</div>
						
					</div>

					<div class="modal-footer">
						<p:commandButton styleClass="btn btn-primary" value="Aceptar" onclick="$('#modalError').modal('hide')" />	
					</div>
				</div>
			</div>
		</div>
	</p:panel>


	<p:panel id="dlgModalOkTab5" styleClass="tab5All" style="border: none;">
		<div class="modal fade" id="myModalTab5">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel5">Aviso</h4>
					</div>
					<div class="modal-body" id="msjTabDiv5">
						<div class="alert alert-warning" id="msgadvertencia">
							<p:outputLabel id="msjTab5" value="#{revisionObra.mensajeTab5}"
							styleClass="tab5All" />
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
					</div>
				</div>
			</div>
		</div>
	</p:panel>
	
	<!-- Modal para eliminar las obras seleccionadas -->
	<p:panel id="dlgModalEliminarObras" widgetVar="dlgModalEliminarObras" styleClass="tab5All" style="border: none;">
		<div class="modal fade" id="modalEliminarObras">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Eliminar</h4>
					</div>
					<div class="modal-body">
						<div class="alert alert-warning">
							<p:outputLabel value="¿Realmente desea borrar las obras?"
							styleClass="tab5All" />
						</div>
						<c:forEach items="#{revisionObra.obrasSeleccionadas}" var="obraEliminar">
							<p:outputLabel value="#{obraEliminar.obra.obra}"/>
							<br />
						</c:forEach>										
					</div>
					<div class="modal-footer">
						<p:commandButton styleClass="btn btn-default" oncomplete="$('#modalEliminarObras').modal('hide');" value="Cancelar" />
						<p:commandButton value="Eliminar" immediate="true"
							styleClass="btn btn-primary" oncomplete="$('#modalEliminarObras').modal('hide');$('#myModalTab5').modal('show');"
							actionListener="#{revisionObra.eliminarObrasSeleccionadas}"
							update="tab5All @(.btnFinalizar) :wizard:msjTab5 :wizard:btnEliminarObras" />
					</div>
				</div>
			</div>
		</div>
	</p:panel>

</ui:composition>