<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<title></title>
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="Last-Modified" content="0" />
	<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
<!-- 	<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
	<!-- Gráfica Base Local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	<script src="#{request.contextPath}/assets/js/locale_es.js"></script>
	<style>
		.css_radio label {
			display: inline-block;
			margin-bottom: 5px;
			font-weight: bold;
			width: 50px;
			padding: 10px;
			vertical-align: middle;
			text-align: justify;
		}
	</style>
</h:head>
<h:body
	onload="javascript:getInformacionAdicional('#{capitulo3View.strComentProy}','foDatosGen',7,0,0,'Acuerdos, convenios y tratados internacionales en materia ambiental')">
	<div class="col-md-12" id="mensaje"></div>
	<h:form id="foDatosGen">

		<h:inputHidden id="ubicActual" value="#{capitulo3View.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional"
			value="#{capitulo3View.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />

		<div class="semarnat_ayuda" id='case_pnl_ayuda'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>
		<div id="titulo"></div>
		<hr class="red"></hr>
		<button id='case_btn_ayuda' type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom">
			<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
			<span class="glyphicon-class">Ayuda</span>
		</button><hr></hr>

		<h:panelGroup id="pnlAcuer">
			<!-- <div id="carParProy">-->
			<h:outputLabel for="fAcuReq"
				value="¿Su proyecto es vinculante con acuerdos, convenios y tratados internacionales en materia de impacto ambiental?" />
			<p:selectOneRadio id="fAcuReq" required="true"
				requiredMessage="Este campo es obligatorio"
				value="#{capitulo3View.aplica}">
				<f:ajax listener="#{capitulo3View.selAcuerdos}" render="pnlAcuer" />
				<f:selectItem itemLabel="Si" itemValue="S" />
				
				<f:selectItem itemLabel="No" itemValue="N" />
			</p:selectOneRadio>			

			<h:panelGroup id="panelCaptura"
				rendered="#{capitulo3View.capServicios}">
				<p:commandLink
				class="btn btn-default btn-xs glyphicon glyphicon-plus alinDerecha ui-button-textx"
				value="Agregar" action="#{capitulo3View.creaConvenio}"
				update=":agregar:pnlAgregar">
				<p:ajax process="@this" />
				<p:resetInput target=":agregar:pnlAgregar" />
			</p:commandLink>
			<p:commandLink id="btnEliminar"
				class="btn btn-default btn-xs glyphicon glyphicon-remove-circle alinDerecha ui-button-textx botonEliminar"
				value="Eliminar" action="#{capitulo3View.tieneConveniosSeleccionados}"
				update=":eliminar:pnlEliminar" disabled="#{capitulo3View.conveniosElegidos.size() == 0}">
				<p:ajax process="@this" />
			</p:commandLink>
			<br /><br /><br />
				<p:dataTable id="tablaConvenios"
					value="#{capitulo3View.convenios}" var="c" rowIndexVar="rowIndex"
					selection="#{capitulo3View.conveniosElegidos}"
					rowKey="#{c.convenioProyPK.convenioProyId}"
					paginatorPosition="bottom" paginator="true" emptyMessage="Sin registros.">

					<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminar" />
					<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminar" />
					<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminar" />

					<p:column id="check" selectionMode="multiple"
						style="width:3%;text-align:center" />

					<p:column style="white-space: normal;width:3%">
						<f:facet name="header">#</f:facet>
							<h:outputText value="#{rowIndex+1}" />
					</p:column>

					<p:column style="white-space: normal">
						<f:facet name="header">Acuerdo, convenio o tratado internacional</f:facet>
							<h:outputText value="#{c.convenioDescripcion}" />
					</p:column>

					<p:column style="white-space: normal">
						<f:facet name="header">Fecha de publicación</f:facet>
							<h:outputText value="#{c.convenioFechaPublicacion}" />
					</p:column>

					<p:column style="white-space: normal">
						<f:facet name="header">Vinculación</f:facet>
							<h:outputText value="#{c.convenioVinculacionCorta}" />
					</p:column>

					<p:column style="white-space: normal;width:5%">
						<f:facet name="header" />
						<p:commandButton
							class="btn btn-default btn-xs glyphicon glyphicon-pencil"
							value="" action="#{capitulo3View.consultaConvenioId}"
							update=":editar:pnlEditar :editar:formEditaHeader"
							oncomplete="modalEditar.show()" immediate="true">
							<p:ajax process="@this" />
							<f:param name="prowindexAcuerdo" value="#{rowIndex+1}" />
							<f:param name="id" value="#{c.convenioProyPK.convenioProyId}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:panelGroup>
		</h:panelGroup>

		<!--</div>-->

		<c:set value="3.7" target="#{capitulo3View}" property="seccion" />
<!-- 		<p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" /> -->

		<div id="componenteGuarda"
			style="display: none; float: right; clear: right;">
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{capitulo3View.guardar}"
				onsuccess="parent.actualizaBarra();" />
		</div>
	</h:form>


	<h:form id="agregar">
		<!-- ============================ MODAL AGREGAR CONVENIO ========================-->
		<p:dialog id="modalAgregar" widgetVar="modalAgregar" modal="true">
			<f:facet name="header">
				<h:form id="formHeader">
					<h4 class="modal-title">Acuerdo, convenio o tratado
						internacional - agregar registro</h4>
				</h:form>
			</f:facet>

			<p:outputPanel id="pnlAgregar">
				<p:outputLabel value="Acuerdo, convenio o tratado internacional" />
				<p:outputLabel value="" for="acuerdo" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="acuerdo"
					value="#{capitulo3View.agrega.convenioId}"
					converter="#{catConvenioConverterBean}" required="true"
					hideNoSelectionOption="true" style="width: 400px"
					requiredMessage="Este campo es obligatorio">
					<f:selectItem itemLabel="Seleccione" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catConvenios}" />
				</h:selectOneMenu>
				<p:message for="acuerdo" />
				<br />

				<p:outputLabel value="Fecha de publicación" />
				<p:outputLabel value="" for="calAcuerdos"/>
				<p:outputLabel value=":" />
				<br />
				<p:calendar id="calAcuerdos"
					value="#{capitulo3View.agrega.fechaPublicacion}" locale="es"
					pattern="dd/MM/yyyy" readonlyInput="true" required="true" requiredMessage="Este campo es obligatorio">
					<f:convertDateTime pattern="dd/MM/yyyy" />
					<f:ajax render="@this" />
				</p:calendar>					
				<p:message for="calAcuerdos" />	
				<br />

				<p:outputLabel value="Vinculación" />
				<p:outputLabel value="" for="vinculacion"/>
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="vinculacion" class="form-control"
					value="#{capitulo3View.agrega.convenioVinculacion}" cols="50"
					rows="3" maxlength="1000" counter="contador1"
					counterTemplate="Quedan {0} caracteres." autoResize="false"
					required="true"
					requiredMessage="Este campo es obligatorio" />
				<h:outputText id="contador1" />
				<p:message for="vinculacion" />
				<br />
				<p:commandButton id="guardar" styleClass="btn btn-primary alinDerecha"
					value="Guardar" action="#{capitulo3View.agregarConvenio}"
					update=":foDatosGen:tablaConvenios,pnlAgregar">
					<p:resetInput target="pnlAgregar" />
				</p:commandButton>
				<p:commandButton id="cerrar" styleClass="btn btn-default alinDerecha botonEliminar"
					value="Cerrar" onclick="modalAgregar.hide()"
					update=":agregar:pnlAgregar" immediate="true" />
			</p:outputPanel>
		</p:dialog>


		<!-- ============================= MODAL AVISO CONVENIO AGREGADO ======================== -->

		<p:dialog widgetVar="modalConvenioAgregado" modal="true"
			position="top" showEffect="fade" hideEffect="fade">
			<f:facet name="header">
				<h:form id="formAvisoAgregado">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>

			<p:outputPanel id="pnlGuardado">
				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro agregado
					exitosamente.
				</div>
				<div class="modal-footer">
					<p:commandButton id="cierraAvisoAgregar"
						styleClass="btn btn-primary" value="Aceptar"
						onclick="modalConvenioAgregado.hide()" update="pnlGuardado"
						inmediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>


	<h:form id="editar">
		<!-- ============================ MODAL EDITAR CONVENIO ========================-->


		<p:dialog id="modalEditar" widgetVar="modalEditar" modal="true" >
			<f:facet name="header">
				<p:outputPanel id="formEditaHeader">
					<h4 class="modal-title">Editar registro # #{capitulo3View.rowIndexAcuerdoEditar}</h4>
				</p:outputPanel>
			</f:facet>

			<p:outputPanel id="pnlEditar">
				<p:outputLabel value="Acuerdo, convenio o tratado internacional" />
				<p:outputLabel value="" for="acuerdo" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="acuerdo"
					value="#{capitulo3View.edita.convenioId}"
					converter="#{catConvenioConverterBean}" style="width: 400px"
					required="true" requiredMessage="Este campo es obligatorio">
					<f:selectItem itemLabel="Seleccione" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catConvenios}" />
				</h:selectOneMenu>
				<p:message for="acuerdo" />
				<br />

				<p:outputLabel value="Fecha de publicación" />
				<p:outputLabel value="" for="calAcuerdos"/>
				<p:outputLabel value=":" />
				<br />
				<p:calendar id="calAcuerdos"
					value="#{capitulo3View.edita.fechaPublicacion}" locale="es"
					pattern="dd/MM/yyyy" readonlyInput="true" required="true" requiredMessage="Este campo es obligatorio">
					<f:convertDateTime pattern="dd/MM/yyyy" />
					<f:ajax render="@this" />
				</p:calendar>				
				<p:message for="calAcuerdos" />
				<br />

				<p:outputLabel value="Vinculación" />
				<p:outputLabel value="" for="vinculacion"/>
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="vinculacion" class="form-control"
					value="#{capitulo3View.edita.convenioVinculacion}" cols="50"
					rows="3" maxlength="1000" counter="contador1"
					counterTemplate="Quedan {0} caracteres." autoResize="false"
					required="true"
					requiredMessage="Este campo es obligatorio" />
				<h:outputText id="contador1" />
				<p:message for="vinculacion" />
				<br />
				<p:commandButton id="guardar" styleClass="btn btn-primary alinDerecha"
					value="Guardar" action="#{capitulo3View.editarConvenio}"
					update=":foDatosGen:tablaConvenios, pnlEditar" />
				<p:commandButton id="cerrarModal" styleClass="btn btn-default alinDerecha botonEliminar"
					value="Cerrar" onclick="modalEditar.hide()"
					update=":editar:pnlEditar" immediate="true" />
			</p:outputPanel>
		</p:dialog>

	


		<!-- ============================= MODAL AVISO CONVENIO AGREGADO,EDITADO ======================== -->

		<p:dialog widgetVar="modalConvenioAgregado" modal="true"
			position="top" showEffect="fade" hideEffect="fade">
			<f:facet name="header">
				<h:form id="formAvisoAgregado">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>

			<p:outputPanel id="pnlEditado">
				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro guardado
					exitosamente.
				</div>
				<div class="modal-footer">
					<p:commandButton id="cierraAvisoAgregar"
						styleClass="btn btn-primary" value="Aceptar" update="pnlEditado"
						onclick="modalConvenioAgregado.hide()" inmediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<!-- ============================= MODAL AVISO CONVENIO ELIMINADO ======================== -->

	<h:form id="eliminar">
		<p:dialog id="elimina" header="Eliminar acuerdo"
			widgetVar="modalEliminar" modal="true" position="top"
			showEffect="fade" hideEffect="fade" closable="false"
			resizable="false">
			<p:messages id="mismensajes3" />
			<p:outputPanel id="pnlEliminar">
				<div class="alert alert-warning">¿Realmente desea borrar
					el(los) convenio(s)?</div>
				<ui:repeat value="#{capitulo3View.conveniosElegidos}" var="a">
					<h:outputText value="#{a.convenioDescripcion}" style="display:block;" />
				</ui:repeat>
			</p:outputPanel>
				<p:commandButton class="btn btn-primary" value="Si"
					action="#{capitulo3View.eliminarConvenios}"
					update="mismensajes3 :foDatosGen:tablaConvenios, pnlEliminar"
					style="float:right;" oncomplete="modalEliminar.hide();modalBorrado.show()"/>
				<p:commandButton class="btn btn-default botonEliminar" value="No"
					oncomplete="modalEliminar.hide()" style="float:right;" />
		</p:dialog>
		
			<h:form id="MensajeEditar">
			<p:dialog widgetVar="modalMensajeEditar" id="modalMensajeEditar"
				modal="true">
				<f:facet name="header">
					<h:form id="formMensajeHeader">
						<h4 class="modal-title">Aviso</h4>
					</h:form>
				</f:facet>
				<p:outputPanel id="pnlMensaje">

					<div class="alert alert-success">
						<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro actualizado
						exitosamente.
					</div>

					<div class="modal-footer">
						<p:commandButton styleClass="btn btn-primary" id="cerrarModalM"
							value="Aceptar" onclick="modalMensajeEditar.hide()"
							update="pnlMensaje" immediate="true" />
					</div>
				</p:outputPanel>
			</p:dialog>
		</h:form>

		<p:dialog header="Aviso" widgetVar="modalBorrado" modal="true"
			position="top" showEffect="fade" hideEffect="fade">
			<div class="alert alert-success"><span class="glyphicon glyphicon-remove"></span> Registro(s) eliminado(s)
				exitosamente.</div>
			<p:commandButton class="btn btn.default" style="float:right;"
				value="Cerrar" oncomplete="modalBorrado.hide()"/>
		</p:dialog>
	</h:form>
	
	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo3View.claveTramite}",
			nsub : "#{capitulo3View.proyecto.nsub}",
			capitulo : 3,
			subcapitulo : 7,
			seccion : -1,
			apartado : -1
		}, case_ayuda);
	</script>
</h:body>
</html>
