<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
		<!--	<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" />		 -->
		<!-- Gráfica Base Local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
            
            .disable {
            	pointer-events:none;
            }            
        </style>
    </h:head>
    <h:body onload="javascript:getInformacionAdicional('#{cap3_3_6.strComentProy}','foDatosGen',5,0,0,'Área natural protegida (ANP)')">
    <div class="col-md-12" id="mensaje"></div>
        <h:form id="foDatosGen">

            <h:inputHidden id="ubicActual" value="#{cap3_3_6.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{cap3_3_6.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>

            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>

            <div id="carParProy">                
                    <div id="titulo"></div>
                    <hr class="red"></hr>
				<button id='case_btn_ayuda' type="button" class="btn btn-default"
					data-toggle="tooltip" data-placement="bottom">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button>								
				<hr></hr>
                    
                    <!-- Div de pregunta ANP --> 
                    <p:outputLabel id="lblPreguntaANP" value="¿Su proyecto incide en alguna ANP?"/><p:spacer width="20px"/>
                    <h:commandButton id="btnNo"
						styleClass="btn btn-primary btn-sm botonEliminar" value="No">
						<p:ajax event="click" listener="#{cap3_3_6.respuestaANPNo}" update=":foDatosGen:btnAgregarANP"/>							
					</h:commandButton>
					<h:commandButton id="btnSi"
						styleClass="btn btn-default btn-sm"
						value="SI">
						<p:ajax event="click" listener="#{cap3_3_6.respuestaANPSi}" update=":foDatosGen:btnAgregarANP"/>								
					</h:commandButton>
					
					<!-- Botones Eliminar y Agregar -->
			<p:commandLink id="btnAgregarANP" value="Agregar"
				class="btn btn-default glyphicon glyphicon-plus ui-button-textx"
				disabled="#{!cap3_3_6.respuestaIncideANP}" style="float:right;"
				immediate="true" action="#{cap3_3_6.crearNuevoANP}"
				oncomplete="modalANP.show()" process="@this"
				update=":foDatosGen:pnlContenidoModal :foDatosGen:dlgModalAnp">
				<p:resetInput target=":foDatosGen:pnlContenidoModal" />
			</p:commandLink>
			<p:commandLink id="btnEliminarANP"
				class="btn btn-default glyphicon glyphicon-remove-circle ui-button-textx botonEliminar"
				value="Eliminar" style="float:right;"
				disabled="#{cap3_3_6.anpProyectosSeleccionados.size() == 0}"
				process="@this" onclick="modalEliminarAnp.show()"
				update=":foDatosGen:pnlAnpsEliminar" immediate="true">
			</p:commandLink>
			<br /> <br /> <br />

			<div id="componenteCaptura" style="display:none;">
                        <h:panelGroup id="pnlAnps">
                        
                        	<!-- Tabla de ANPPROYECTOS -->
                            <p:dataTable styleClass="table" var="c" rowIndexVar="rowIndexANP"
                            	value="#{cap3_3_6.anpProyectos}" id="danpaC" rendered="#{cap3_3_6.anpProyectos.size() > 0}"
                            	selection="#{cap3_3_6.anpProyectosSeleccionados}" rowKey="#{c.anpProyectoPK.anpId}"
                            	paginator="true" paginatorPosition="bottom" rows="20" rowStyleClass="#{c.claveOrigenRegistro ne 1 ? 'disable' : null}" emptyMessage="Sin registros.">
                            	
                            	<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarANP"/>
	                        	<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarANP"/>
	                        	<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarANP"/>
                            	<p:column id="check" selectionMode="multiple" style="white-space: normal;width:4%;text-align:center;"
                            		disabledSelection="#{c.claveOrigenRegistro != 1}" >                                
	                            </p:column>
	                            <p:column style="white-space: normal;width:4%;text-align:center;">
                                    <f:facet name="header">#</f:facet>
                                    <p:outputLabel value="#{rowIndexANP+1}"/>                                        
                                </p:column>
                                <p:column style="white-space: normal;">
                                    <f:facet name="header">Tipo</f:facet>
                                    <p:outputLabel value="#{c.anpTipo}"/>                                        
                                </p:column>
                                <p:column style="white-space: normal;">
                                    <f:facet name="header">ANP</f:facet>
                                    <p:outputLabel value="#{c.anpNombre}"/>                                        
                                </p:column>
                                <p:column style="white-space: normal;">
                                    <f:facet name="header">Categoría de manejo</f:facet>
                                    <p:outputLabel value="#{c.anpCategoriaManejo}"/>                                    
                                </p:column>                                
                                <p:column style="white-space: normal;">
                                    <f:facet name="header">Fecha de decreto</f:facet>
                                    <h:outputText value="#{c.anpUltimoDecreto}">
                                        <f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
                                    </h:outputText>
                                </p:column>                               
                                <p:column style="width:4%;">
	                                 
			                        <h:panelGroup rendered="#{c.idArchivoDecreto!=null}">
										<a class="btn btn-default btn-xs glyphicon glyphicon-eye-open" 
					                        	href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{c.idArchivoDecreto}" 
					                        	target="_blank"  >
					                    </a>
					                 </h:panelGroup>                                  	                      
	                            </p:column>
	                            <p:column style="width:5%;">
	                                <f:facet name="header"></f:facet>
	                                <p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-upload" value=""
	                                	disabled="#{c.claveOrigenRegistro != 1}" process="@this" immediate="true"
	                                	action="#{cap3_3_6.iniciarArchivo}" oncomplete="modalSubirArchivo.show()" 
                                		update=":foDatosGen:pnlContenidoArchivo :foDatosGen:dlgSubirArchivo">
                                		<f:param name="id" value="#{c.anpProyectoPK.anpId}" />
                                		<f:param name="esArchivoDecreto" value="true" />
                                		<p:resetInput target=":foDatosGen:pnlContenidoArchivo"/>		                         		                         	
			                        </p:commandButton>
	                            </p:column>
                                <p:column style="white-space: normal;">
                                    <f:facet name="header">Fecha de programa de manejo</f:facet>                                                                                                       		
                                 	<h:outputText value="#{c.anpFechaManejo}">
                                       <f:convertDateTime type="date" pattern="dd-MM-yyyy"/>
                                   </h:outputText>                                                                      
                                </p:column>
                                <p:column style="width:4%;">
                                 
		                        <h:panelGroup rendered="#{c.idArchivoPrograma!=null}">
										<a class="btn btn-default btn-xs glyphicon glyphicon-eye-open" 
					                        	href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{c.idArchivoPrograma}" 
					                        	target="_blank"  >
					                    </a>
					                 </h:panelGroup>  
                            </p:column>
                            <p:column style="width:5%;">
                                <f:facet name="header"></f:facet>
                                <p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-upload" value=""
                                	disabled="#{c.claveOrigenRegistro != 1}" process="@this" immediate="true"
                                	action="#{cap3_3_6.iniciarArchivo}" oncomplete="modalSubirArchivo.show()" 
                               		update=":foDatosGen:pnlContenidoArchivo :foDatosGen:dlgSubirArchivo">
		                         	<f:param name="id" value="#{c.anpProyectoPK.anpId}" />	
		                         	<f:param name="esArchivoDecreto" value="false" />    
		                         	<p:resetInput target=":foDatosGen:pnlContenidoArchivo"/>                     	
		                        </p:commandButton>
                            </p:column>                            
                            <p:column style="width:5%;">
                                <f:facet name="header"></f:facet>                                
                               	<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" immediate="true"
                                	action="#{cap3_3_6.mostrarAnpSeleccionado}" oncomplete="modalANP.show()" disabled="#{c.claveOrigenRegistro != 1}"
                                	update=":foDatosGen:pnlContenidoModal :foDatosGen:dlgModalAnp" process="@this">
                                	<f:param name="prowindexANP" value="#{rowIndexANP+1}" />
                                	<f:param name="id" value="#{c.anpProyectoPK.anpId}" /> 
		                        </p:commandButton>                                                                                              
                            </p:column>
                            </p:dataTable>
                            <br />
                            <br />                            
                            
                            <!-- VINCULACION DE DECRETO -->
					<div id="divHeaderVinculacionDecreto">
						<h3>Vinculación con el decreto</h3>
						<hr class="red"></hr>
						<!-- Botones Eliminar y Agregar - VINCULACION DE DECRETO -->
						<p:commandLink id="btnAgregarVinculacionDecreto" value="Agregar"
							class="btn btn-default glyphicon glyphicon-plus ui-button-textx"
							style="float:right;" process="@this" immediate="true"
							disabled="#{cap3_3_6.anpProyectos.size() == 0}"
							action="#{cap3_3_6.crearNuevoArticuloReglaDecreto}"
							oncomplete="modalArticulo.show()"
							update=":foDatosGen:pnlArticuloModal :foDatosGen:dlgModalArticulo">
							<p:resetInput target=":foDatosGen:pnlArticuloModal" />
						</p:commandLink>
						<p:commandLink id="btnEliminarVinculacionDecreto"
							class="btn btn-default glyphicon glyphicon-remove-circle ui-button-textx botonEliminar"
							value="Eliminar" style="float:right;"
							disabled="#{cap3_3_6.vinculacionDecretoSeleccionados.size() == 0}"
							process="@this" onclick="modalEliminarArticuloDecreto.show()"
							update=":foDatosGen:pnlArticulosDecretoEliminar" immediate="true">
						</p:commandLink>
					</div>
					<br />
					<br /><br />
					<!-- Tabla ANP VINCULACION DECRETO -->
                            <p:dataTable id="tblAnpsDecreto" styleClass="table" var="d" rowIndexVar="rowIndexAnpVd"
                            	value="#{cap3_3_6.vinculacionDecreto}" rendered="#{cap3_3_6.vinculacionDecreto.size() > 0}"
                            	selection="#{cap3_3_6.vinculacionDecretoSeleccionados}" rowKey="#{d.articuloReglaAnpPK.anpArtRegId}">
                            	
                            	<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarVinculacionDecreto"/>
	                        	<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarVinculacionDecreto"/>
	                        	<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarVinculacionDecreto"/>
                            	<p:column id="check" selectionMode="multiple" style="width:5%;text-align:center">                                
	                            </p:column>
	                            <p:column style="width:5%;text-align:center">
                                    <f:facet name="header">#</f:facet>
                                    <p:outputLabel value="#{rowIndexAnpVd+1}"/>                                    
                                </p:column>
                                <p:column style="white-space: normal">
                                    <f:facet name="header">ANP</f:facet>
                                    <p:outputLabel value="#{d.anpProyecto.anpNombre}"/>                                    
                                </p:column>
                                <p:column style="white-space: normal">
                                    <f:facet name="header">Artículo</f:facet>
                                    <p:outputLabel value="#{d.anpArtNomRegla}" maxlength="4000"/>
                                </p:column>
                                <p:column style="white-space: normal">
                                    <f:facet name="header">Vinculación</f:facet>
                                    <p:outputLabel value="#{d.anpArtNomVinculacionCorta}" maxlength="4000"/>                                                                
                                </p:column>
                                <p:column style="white-space: normal; width:5%;">
	                                <f:facet name="header"></f:facet>                                
	                               	<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" immediate="true"
	                                	action="#{cap3_3_6.mostrarArticuloReglaSeleccionado('A')}" oncomplete="modalArticulo.show()" 
	                                	update=":foDatosGen:pnlArticuloModal :foDatosGen:dlgModalArticulo" process="@this">
	                                	<f:param name="prowindexANP" value="#{rowIndexAnpVd+1}" />
	                                	<f:param name="id" value="#{d.articuloReglaAnpPK.anpArtRegId}" />
		                        </p:commandButton>                                                                                              
                            </p:column>
                            </p:dataTable>
                            <br />
                            <br />
                            
                            <!-- VINCULACION DE PROGRAMA -->
					<div id="divHeaderVinculacionPrograma">
						<h3>Vinculación con el programa de manejo</h3>
						<hr class="red"></hr>
						<!-- Botones Eliminar y Agregar - VINCULACION DE PROGRAMA -->
						<p:commandLink id="btnAgregarVinculacionPrograma" value="Agregar"
							class="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx"
							style="float:right;" process="@this" immediate="true"
							disabled="#{cap3_3_6.anpProyectos.size() == 0}"
							action="#{cap3_3_6.crearNuevoArticuloReglaPrograma}"
							oncomplete="modalArticulo.show()"
							update=":foDatosGen:pnlArticuloModal :foDatosGen:dlgModalArticulo">
							<p:resetInput target=":foDatosGen:pnlArticuloModal" />
						</p:commandLink>
						<p:commandLink id="btnEliminarVinculacionPrograma"
							class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar"
							value="Eliminar" style="float:right;"
							disabled="#{cap3_3_6.vinculacionProgramaSeleccionados.size() == 0}"
							process="@this" onclick="modalEliminarArticuloPrograma.show()"
							update=":foDatosGen:pnlArticulosProgramaEliminar"
							immediate="true">
						</p:commandLink>
					</div>
					<br />
					<br /><br />
					<!-- Tabla ANP VINCULACION PROGRAMA -->
                            <p:dataTable id="tblAnpsPrograma" styleClass="table" var="p" rowIndexVar="rowIndexAnpVpm"
                            value="#{cap3_3_6.vinculacionPrograma}" rendered="#{cap3_3_6.vinculacionPrograma.size() > 0}"
                            	selection="#{cap3_3_6.vinculacionProgramaSeleccionados}" rowKey="#{p.articuloReglaAnpPK.anpArtRegId}">
                            	
                            	<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarVinculacionPrograma"/>
	                        	<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarVinculacionPrograma"/>
	                        	<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarVinculacionPrograma"/>
                            	<p:column id="check" selectionMode="multiple" style="width:5%;text-align:center">                           	                          
	                            </p:column>
	                            <p:column style="width:5%;text-align:center">
                                    <f:facet name="header">#</f:facet>
                                    <p:outputLabel value="#{rowIndexAnpVpm+1}"/>                                    
                                </p:column>
                                <p:column style="white-space: normal">
                                    <f:facet name="header">ANP</f:facet>
                                    <p:outputLabel value="#{p.anpProyecto.anpNombre}"/>                                    
                                </p:column>
                                <p:column style="white-space: normal">
                                    <f:facet name="header">Artículo</f:facet>
                                    <p:outputLabel value="#{p.anpArtNomRegla}" maxlength="4000"/>
                                </p:column>
                                <p:column style="white-space: normal">
                                    <f:facet name="header">Vinculación</f:facet>
                                    <p:outputLabel value="#{p.anpArtNomVinculacionCorta}" maxlength="4000"/>                                                                
                                </p:column>
                                <p:column style="white-space: normal;width:5%;">
	                                <f:facet name="header"></f:facet>                                
	                               	<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" immediate="true"
	                                	action="#{cap3_3_6.mostrarArticuloReglaSeleccionado('R')}" oncomplete="modalArticulo.show()" 
	                                	update=":foDatosGen:pnlArticuloModal :foDatosGen:dlgModalArticulo" process="@this">
	                                	<f:param name="prowindexANP" value="#{rowIndexAnpVpm+1}" />
	                                	<f:param name="id" value="#{p.articuloReglaAnpPK.anpArtRegId}" />	
		                        </p:commandButton>                                                                                              
                            </p:column>
                            </p:dataTable>
                            
                        </h:panelGroup>                       
						
						<!-- Ventana modal de Registro y Actualizacion ANP -->
						<p:dialog id="dlgModalAnp" header="#{cap3_3_6.headerText}" widgetVar="modalANP" closable="false"
							modal="true">
							<h:panelGrid id="pnlContenidoModal">
								<p:row>
									<p:column>
										<p:outputLabel value="Tipo" />
										<p:outputLabel id="lblTipo" value="" for="txtTipo" />
										<p:outputLabel value=":" />
									</p:column>
									</p:row>
									<p:row>
									<p:column>
										<p:inputText id="txtTipo" value="#{cap3_3_6.anpProyectoSeleccionado.anpTipo}" maxlength="200"
										required="true" requiredMessage="Este campo es obligatorio" validatorMessage="Este campo es obligatorio"/>
										<p:message for="txtTipo" display="text" />
									</p:column>
								</p:row>
								
								<p:row>
									<p:column>
										<p:outputLabel value="ANP" />
										<p:outputLabel id="lblANP" value="" for="txtANP" />
										<p:outputLabel value=":" />
									</p:column>
									</p:row>
									<p:row>
									<p:column>
										<p:inputText id="txtANP" value="#{cap3_3_6.anpProyectoSeleccionado.anpNombre}" maxlength="200"
										required="true" requiredMessage="Este campo es obligatorio" validatorMessage="Este campo es obligatorio"/>
										<p:message for="txtANP" display="text" />
									</p:column>
								</p:row>
								
								<p:row>
									<p:column>
										<p:outputLabel value="Categoría manejo" />
										<p:outputLabel id="lblCategoriaManejo" value="" for="txtCategoriaManejo" />
										<p:outputLabel value=":" />
									</p:column>
									</p:row>
									<p:row>
									<p:column>
										<p:inputText id="txtCategoriaManejo" value="#{cap3_3_6.anpProyectoSeleccionado.anpCategoriaManejo}" maxlength="200"
										required="true" requiredMessage="Este campo es obligatorio" validatorMessage="Este campo es obligatorio"/>
										<p:message for="txtCategoriaManejo" display="text" />
									</p:column>
								</p:row>
								
								<p:row>
									<p:column>
										<p:outputLabel value="Fecha de decreto" />
										<p:outputLabel id="lblFechaDecreto" value="" for="txtFechaDecreto" />
										<p:outputLabel value=":" />
									</p:column>
									</p:row>
									<p:row>									
									<p:column>
							  			<p:calendar id="txtFechaDecreto" value="#{cap3_3_6.anpProyectoSeleccionado.anpUltimoDecreto}"
							  				locale="es" pattern="dd/MM/yyyy" required="true" requiredMessage="Este campo es obligatorio" validatorMessage="Este campo es obligatorio"/>	
							  			<p:message for="txtFechaDecreto" display="text" />							  								  														  			
							  		</p:column>
								</p:row>
								
								<p:row>
									<p:column>
										<p:outputLabel value="Fecha de programa de manejo" />
										<p:outputLabel id="lblFechaPrograma" value="" for="txtFechaPrograma" />
										<p:outputLabel value=":" />
									</p:column>
									</p:row>
									<p:row>									
									<p:column>
							  			<p:calendar id="txtFechaPrograma" value="#{cap3_3_6.anpProyectoSeleccionado.anpFechaManejo}" locale="es"
							  				pattern="dd/MM/yyyy" required="true" requiredMessage="Este campo es obligatorio" validatorMessage="Este campo es obligatorio"/>
							  			<p:message for="txtFechaPrograma" display="text" />							  								  														  			
							  		</p:column>
								</p:row>
							</h:panelGrid>
							<br />

					<p:commandButton styleClass="btn btn-primary" id="btnGuardar"
						value="Guardar" process="@this pnlContenidoModal"
						action="#{cap3_3_6.validarDatos}"
						update=":foDatosGen:lblAlerta :foDatosGen:pnlContenidoModal :foDatosGen:pnlAnps"
						style="float: right;">
						<p:resetInput target="pnlAnps" />
					</p:commandButton>
					<p:commandButton styleClass="btn btn-default" id="btnCerrar"
						value="Cerrar" process="@this" oncomplete="modalANP.hide()"
						style="float: right; margin-right: 5px;" >
						<p:resetInput target="pnlContenidoModal" />
						</p:commandButton>
				</p:dialog>
						
						<!-- Ventana modal para eliminar los PROYECTOS ANP seleccionados -->
						<p:dialog id="dlgModalEliminarAnp" header="Eliminar ANP" modal="true" widgetVar="modalEliminarAnp" closable="false">
						<div class="alert alert-warning">
							<p:outputLabel id="lblMensajeBorrar" value="¿Realmente desea borrar el(los) registro(s)?"/>
							<br/></div>
							<h:panelGrid id="pnlAnpsEliminar">				
								<c:forEach items="#{cap3_3_6.anpProyectosSeleccionados}" var="anpEliminar">
									<p:row>
										<p:column>
											<p:outputLabel value="#{anpEliminar.anpNombre}"/>
										</p:column>										
									</p:row>
								</c:forEach>
							</h:panelGrid>
							<br />
					<div>
					<p:commandButton styleClass="btn btn-primary alinDerecha"
							value="Si" process="@this" action="#{cap3_3_6.eliminarAnps}"
							oncomplete="modalAlerta.show()" update=":foDatosGen:lblAlerta">
						</p:commandButton>
						<p:commandButton styleClass="btn btn-default alinDerecha botonEliminar"
							value="No" onclick="modalEliminar.hide()" process="@this"
							immediate="true" />
					</div>
				</p:dialog>
						
						<!-- Ventana modal de Registro y Actualizacion ARTICULOSREGLA -->
						<p:dialog id="dlgModalArticulo" header="#{cap3_3_6.headerText}" widgetVar="modalArticulo"
							modal="true" closable="false">
							<h:panelGrid id="pnlArticuloModal" style="width:100%;">
								<c:if test="#{!cap3_3_6.seleccionEdicionArticuloRegla}">
									<p:row>
									<p:column>
										<p:outputLabel id="lblOpcionAnp" value="ANP"/>
									</p:column>
									<p:column>
										<h:selectOneMenu id="slAnp" value="#{cap3_3_6.idAnpSeleccionado}" class="form-control">
										<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
											noSelectionOption="false"></f:selectItem>
											<f:selectItems value="#{cap3_3_6.anpProyectos}" var="anp" itemLabel="#{anp.anpNombre}" 
											itemValue="#{anp.anpProyectoPK.anpId}"/>
											<p:ajax/>
										</h:selectOneMenu>
									</p:column>
								</p:row>
								</c:if>								
								<p:row>
									<p:column>
										<p:outputLabel value="Artículo" />
										<p:outputLabel id="lblArticuloRegla" value="" for="txtArticuloRegla"/>
										<p:outputLabel value=":" />
									</p:column>
									<p:column>
										<p:inputText id="txtArticuloRegla" value="#{cap3_3_6.articuloReglaAnpSeleccionado.anpArtNomRegla}" style="width:100%;"
										required="true" requiredMessage="Este campo es obligatorio" validatorMessage="Este campo es obligatorio">
											<p:ajax/>
										</p:inputText>
										<p:message for="txtArticuloRegla" display="text" />						
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<p:outputLabel value="Vinculación" />
										<p:outputLabel id="lblVinculacionRegla" value="" for="txtVinculacionRegla"/>
										<p:outputLabel value=":" />
									</p:column>
									<p:column>
										<p:inputTextarea id="txtVinculacionRegla" rows="5" cols="50" counter="display" maxlength="2000" style="width:100%;"
							  				counterTemplate="Quedan {0} caracteres." autoResize="false" value="#{cap3_3_6.articuloReglaAnpSeleccionado.anpArtNomVinculacion}"
							  				required="true" requiredMessage="Este campo es obligatorio" validatorMessage="Este campo es obligatorio">
							  				<p:ajax/>
							  			</p:inputTextarea>
							  				<br />
			    						<h:outputText id="display" />										
										<p:message for="txtVinculacionRegla" display="text" />
									</p:column>
								</p:row>
							</h:panelGrid>
							<br />

					<p:commandButton styleClass="btn btn-primary"
						id="btnGuardarArticulo" value="Guardar"
						process="@this pnlArticuloModal" style="float: right;"
						action="#{cap3_3_6.validarDatosArticuloRegla}"
						oncomplete="if (!args.validationFailed){ modalAlerta.show() }"
						update=":foDatosGen:lblAlerta :foDatosGen:pnlArticuloModal">
					</p:commandButton>
					<p:commandButton styleClass="btn btn-default"
						id="btnCerrarArticulo" value="Cerrar"
						onclick="PF('modalArticulo').hide()" process="@this"
						immediate="true" update=":foDatosGen:pnlArticuloModal"
						style="float: right; margin-right: 5px;" />

				</p:dialog>
						
						<!-- Ventana modal para eliminar los PROYECTOS ARTICULOSREGLA DECRETO seleccionados -->
						<p:dialog id="dlgModalEliminarArticuloDecreto" header="Eliminar registro" modal="true" widgetVar="modalEliminarArticuloDecreto" closable="false">
							<div class="alert alert-warning">
							<p:outputLabel id="lblMensajeBorrarArticuloDecreto" value="¿Realmente desea borrar el(los) registro(s)?"/>
							</div>
							<br/>
							<h:panelGrid id="pnlArticulosDecretoEliminar">										
								<c:forEach items="#{cap3_3_6.vinculacionDecretoSeleccionados}" var="anpEliminar">
									<p:row>
										<p:column>
											<p:outputLabel value="#{anpEliminar.anpProyecto.anpNombre} - #{anpEliminar.anpArticuloRegla}"/>
										</p:column>										
									</p:row>
								</c:forEach>
							</h:panelGrid>
							<br />
							<div>
							<p:commandButton styleClass="btn btn-primary alinDerecha" value="Si" process="@this" immediate="true"
		                    	action="#{cap3_3_6.eliminarArticulosReglaDecreto}" oncomplete="modalAlerta.show()" update=":foDatosGen:lblAlerta">                      	
		                    </p:commandButton>
							<p:commandButton styleClass="btn btn-default alinDerecha" value="No" process="@this"
								onclick="modalEliminarArticuloDecreto.hide()" immediate="true"/>		                    
		                    </div>
						</p:dialog>
						
						<!-- Ventana modal para eliminar los PROYECTOS ARTICULOSREGLA PROGRAMA seleccionados -->
						<p:dialog id="dlgModalEliminarArticuloPrograma" header="Eliminar registro" modal="true" widgetVar="modalEliminarArticuloPrograma" closable="false">
							<div class="alert alert-warning">
							<p:outputLabel id="lblMensajeBorrarArticuloPrograma" value="¿Realmente desea borrar el(los) registro(s)?"/>
							</div>
							<br/>
							<h:panelGrid id="pnlArticulosProgramaEliminar">									
								<c:forEach items="#{cap3_3_6.vinculacionProgramaSeleccionados}" var="anpEliminar">
									<p:row>
										<p:column>
											<p:outputLabel value="#{anpEliminar.anpProyecto.anpNombre} - #{anpEliminar.anpArticuloRegla}"/>
										</p:column>										
									</p:row>
								</c:forEach>
							</h:panelGrid>
							<br />
					<div>
						<p:commandButton styleClass="btn btn-primary alinDerecha"
							value="Si" process="@this" immediate="true"
							action="#{cap3_3_6.eliminarArticulosReglaPrograma}"
							oncomplete="modalAlerta.show()" update=":foDatosGen:lblAlerta">
						</p:commandButton>
						<p:commandButton styleClass="btn btn-default alinDerecha"
							value="No" onclick="modalEliminarArticuloPrograma.hide()"
							process="@this" immediate="true" />
					</div>
				</p:dialog>
						
						<!-- Ventana modal para mostrar los mensajes de alerta -->
						<p:dialog id="dlgAlerta" header="Alerta" modal="true" widgetVar="modalAlerta" closable="false">	
							<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span>
								<p:outputLabel id="lblAlerta" value="#{cap3_3_6.alertText}"/>
							</div>	
							<p:commandButton styleClass="btn btn-primary alinDerecha" value="Aceptar" process="@this" immediate="true" 
							 onclick="PF('modalAlerta').hide() PF('modalEliminarAnp').hide() PF('modalArticulo').hide() PF('modalANP').hide() PF('modalEliminarArticuloDecreto').hide() PF('modalEliminarArticuloPrograma').hide()"
							 update="danpaC tblAnpsDecreto tblAnpsPrograma btnAgregarVinculacionDecreto btnAgregarVinculacionPrograma btnEliminarANP"/>
						</p:dialog>	
						
						<!-- Guarda el avance del proyecto -->
						<div id="componenteGuarda" style="display:none; float: right; clear: right;">
			                <p:commandButton value="Guardar" class="btn btn-primary" process="@this" action="#{cap3_3_6.guardarAvance}" onsuccess="parent.actualizaBarra();"/>
			            </div>
						<!-- <h:commandButton id="btnGuardarAvance" immediate="true"
							styleClass="btn btn-primary btn-sm" style="float:right;"
							value="Guardar">
							<p:ajax event="click" listener="#{cap3_3_6.guardarAvance}"/>								
						</h:commandButton> -->
						
				</div>
            </div>

               <p:dialog header="#{cap3_3_6.headerText}" draggable="false" widgetVar="modalSubirArchivo" id="dlgSubirArchivo" 
                     modal="true" closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
		$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">                               
                         <p:outputPanel id="pnlContenidoArchivo">

	                                <p:outputLabel value="Nombre" />
	                                <p:outputLabel id="lblNombreArchivo" value="" for="txtNombreArchivo"/>
	                                <p:outputLabel value=":" />	                                                                   

                            		<p:inputText id="txtNombreArchivo" value="#{cap3_3_6.archivoTemporal.nombre}" style="width:100%;"
                            			required="true" requiredMessage="Este campo es obligatorio" validatorMessage="Este campo es obligatorio" maxlength="50">
                            			<p:ajax />
                            		</p:inputText>
                            		<p:message for="txtNombreArchivo" display="text" />
 									<br/>
                         			<p:outputLabel value="Descripción" />
                         			<p:outputLabel id="lblDescripcionArchivo" value="" for="txtDescripcionArchivo"/>
                         			<p:outputLabel value=":" />

                         			<p:inputTextarea id="txtDescripcionArchivo" class="form-control" value="#{cap3_3_6.archivoTemporal.descripcion}" 
                         			cols="50" rows="3" maxlength="200" counter="descount" counterTemplate="Quedan {0} caracteres." style="width:100%;"
                         			required="true" requiredMessage="Este campo es obligatorio" validatorMessage="Este campo es obligatorio" autoResize="false">
                         				<p:ajax />
                         			</p:inputTextarea>
                               		<h:outputText id="descount" />
                               		<p:message for="txtDescripcionArchivo" display="text" />
                               		<br/>
                               		<p:outputLabel id="lblReservadoArchivo" value="Reservado:"/>

                         			<p:selectBooleanCheckbox value="#{cap3_3_6.cargaBean.reservado}">
							            <p:ajax />
							        </p:selectBooleanCheckbox>     
							        <br/>
									<br/>
									
                         			<p:outputLabel id="lblSeleccionarArchivo" value="Cargar archivo*:" />

<!--                          			<p:fileUpload   -->
<!--                          			  id="fUploadArchivo"                -->
<!-- 	                                  mode="advanced"                                   -->
<!-- 	                                  fileUploadListener="#{cap3_3_6.cargaBean.handleFileUpload}"	                                   -->
<!-- 	                                  sizeLimit="10485760" label="Cargar archivo... (pdf/doc/docx)"                               -->
<!-- 	                                  invalidSizeMessage="El tamaño del archivo es demasiado grande" -->
<!-- 	                                  invalidFileMessage="Tipo de archivo invalido" -->
<!-- 	                                  allowTypes="/(\.|\/)(pdf|doc|docx)$/"  -->
<!-- 	                                  auto="true" -->
<!-- 	                                  required="true" requiredMessage="Debe seleccionar un archivo" validatorMessage="Archivo Obligatorio"/> -->
<!-- 	                                  <p:message for="fUploadArchivo" display="text" /> -->
	                                 
	               <h:panelGrid columns="2" style="width: 100%" id="fUploadArchivo">
	                    <p:fileUpload mode="advanced" id="seleArchivo" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
	                    	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
		                    fileUploadListener="#{cap3_3_6.cargaBean.handleFileUpload}"	                                  
		                    sizeLimit="10485760" 
		                    label="Seleccione el archivo"                                
		                    invalidSizeMessage="El tamaño del archivo es demasiado grande"
		                    invalidFileMessage="Tipo de archivo invalido"
		                    allowTypes="/(\.|\/)(pdf|doc|docx)$/" update="lblCargaArchivoAnexo"
		                    required="true" requiredMessage="No seleccionó el archivo." 
		                    auto="true" style="width: 100%"/>	
		               		                
			                <c:if test="#{empty cap3_3_6.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>		    
			                
			                <c:if test="#{not empty cap3_3_6.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="#{cap3_3_6.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>            
					</h:panelGrid>					
					 <p:outputLabel id="msjValida" value="#{cap3_3_6.msj}" style="color:#B40431" />
					<p:message for="fUploadArchivo" display="text" />
					
					<br />
					
					<div id="divExtensiones" class="alert alert-info">
						<p:outputLabel value="Extensiones permitidas: (pdf/doc/docx)"/>
						<br/>
											
						<p:outputLabel value="El tamaño límite es de 10MB"/>					
					</div>

                                  
                    </p:outputPanel>
                        <br />

			<p:commandButton id="btnGuardarModalArchivo" class="btn btn-primary"
				value="Guardar" process="@this pnlContenidoArchivo"
				action="#{cap3_3_6.guardarArchivo}"
				oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
				update=":foDatosGen:lblAlerta :foDatosGen:pnlContenidoArchivo"
				style="float: right;" />
			<p:commandButton id="btnCerrarModalArchivo"
				class="btn btn-default alinDerecha" value="Cerrar"
				style="float: right; margin-right: 5px;"
				onclick="PF('modalSubirArchivo').hide();" immediate="true"
				update=":foDatosGen:pnlContenidoArchivo" />

		</p:dialog>
            
            <!--c:set value="3.4" target="#{cap3_3_6}" property="seccion" />
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" /-->

            <!-- <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right:  20px">
                <p:commandButton value="Guardar" class="btn btn-primary"  action="#{cap3_3_6.guardar}" onsuccess="parent.actualizaBarra();"/>
            </div> -->
        </h:form>
	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo3View.claveTramite}",
			nsub : "#{capitulo3View.proyecto.nsub}",
			capitulo : 3,
			subcapitulo : 5,
			seccion : -1,
			apartado : -1
		}, case_ayuda);
	</script>
</h:body>
</html>
