<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <style>
          .ui-dialog .ui-dialog-titlebar 
        {
            border: 0 none;
            padding: 0.4em 0.4em 0.4em 1em;
            position: relative;
            background: black;
            color: #ffffff;
        }
        
        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default 
        {
            background-color: #ffffff;
            color: #333;
            border-radius: 3px;
             
        }        
        </style>
        
    </h:head>
    
    <h:body>
        
        
         
            
            <h:form id="archivos" enctype="multipart/form-data">  
                     <p:dialog header="Agregar archivo" draggable="false" widgetVar="modalAgregar" id="modalAgregar" modal="true" closable="false">                               
                         <p:outputPanel>
                            <h:column>
                                <h:outputLabel value="Nombre*:"/>
                                <h:inputText id="nombre" value="#{cargaBean.nombre}" required="true" validatorMessage="Nombre de archivo requerido" maxlength="20"/>                                   
                            </h:column>                      
                            <h:column>
                               <h:outputLabel value="Descripcion*:"/>
                               <p:inputTextarea id="descripcion" class="form-control" value="#{cargaBean.descr}" cols="50" rows="3" maxlength="1000" counter="descount" counterTemplate="Quedan {0} caracteres." required="true" validatorMessage="Descripción requerida" autoResize="false"/>
                               <h:outputText id="descount" /><br/>                                                                           
                           </h:column>                                 
                            <h:column>                        
                                <h:outputLabel value="Archivo*: "/> 
                                   <p:fileUpload
                                  class=""
                                  label="Buscar archivo"
                                  cancelLabel="Cancelar"
                                  uploadLabel="Guardar archivo"
                                  mode="advanced"
                                  fileUploadListener="#{cargaBean.CargaArchivo(event)}"
                                  sizeLimit="10485760"                                  
                                  validatorMessage="Error de tamaño"
                                  allowTypes="/(\.|\/)(pdf|docx)$/" 
                                  auto="false"/>  
                                <p:growl id="messages" showDetail="true"  />
                            </h:column>
                            <h:column>
                                <h:outputLabel value="Reservado:"/>
                                <h:selectBooleanCheckbox value=" "/>
                            </h:column> 
                   
                    <div class="modal-footer">
                        <h:commandButton id="CerrarModal" class="btn btn-default" value="Cerrar"   onclick="window.close();" immediate="true" />
                        <h:commandButton id="GuardarModal" class="btn btn-primary"  onclick=""  value="Guardar" action="#{cargaBean.GuardaAnexos(capituloId, subcapituloId, seccionId, apartadoId, serialProyecto)}"/>
                    </div>
                        </p:outputPanel>
               </p:dialog>    
               </h:form>
                              
    </h:body>
</html>
