<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<title>Otras disposiciones</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8" />

	<!-- Gráfica Base Icono -->
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- Gráfica Base Icono LOCAL -->
	<!-- <link href="#{request.contextPath}/assets/images/favicon.ico" rel="shortcut icon" /> -->

	<!-- Gráfica Base Hoja de estilo ONLINE -->
	<!-- <link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
	
	<!-- Gráfica Base Hoja de estilo LOCAL -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
	<!-- Hojas de estilo -->
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
 	<!-- <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/> -->
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />

	<!-- Scripts -->
	<!-- Script de Gráfica Base Local - -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<!-- <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script> -->
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>


</h:head>
<h:body
	onload="javascript:getInformacionAdicional('#{capitulo3View.strComentProy}','foDatosGen',8,0,0,'Otras disposiciones')">
	<div class="col-md-12" id="mensaje"></div>
	<h:form id="foDatosGen">        

		<h:inputHidden id="ubicActual" value="#{capitulo3View.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional"
			value="#{capitulo3View.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />

		<div class="semarnat_ayuda" id="case_pnl_ayuda">
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>

		<div id="carParProy">
			<!-- <p:panel id="pCaraProy"> -->
				<div id="titulo"></div>
				<hr class="red"></hr>
				<button id='case_btn_ayuda' type="button" class="btn btn-default"
					data-toggle="tooltip" data-placement="bottom">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button> 
                    <hr></hr>

				<!-- ==================== SOLICITUD DE INFORMACION ADICIONAL ==================== -->
				<div id="componenteConsulta" style="display: none">
					<!-- ==================== PREGUNTA: SI/NO ==================== -->
					<h:outputLabel for="fDispReq"
						value="¿ El Proyecto Requiere de Otras Disposiciones ?" />
					<br />
					<h:outputText
						value="#{capitulo3View.proyecto.proyOdisposicionAplica == 'S' ? 'SI' : 'NO'}" />
					<br />
					<p:message for="fDispReq" display="text" />

					<h:panelGroup id="pSustC"
						rendered="#{capitulo3View.capDisposiciones}">
						<!-- =============== INFORMACION ADICIONAL: TABLA DE CONSULTA GENERAL =============== -->
						<p:dataTable styleClass="table" var="c"
							value="#{capitulo3View.disposiciones}">
							<h:column>
								<f:facet name="header">Nombre</f:facet>
								<p:inputTextarea readonly="true" value="#{c.disposicionNombre}" />								
							</h:column>
							<h:column>
								<f:facet name="header">Vinculación</f:facet>
								<table width="100%" style="text-align: justify;">
									<tr>
										<td><h:outputText value="#{c.disposicionVinculacion}"
												escape="false" /></td>
									</tr>
								</table>
							</h:column>
						</p:dataTable>
					</h:panelGroup>
				</div>

				<div id="componenteActualiza"
					style="display: none; float: right; margin-right: 20px">
					<br />
					<p:commandButton value="Modificar sección (opcional)"
						class="btn btn-primary"
						onclick="actualizaComponentesModifica('foDatosGen');" />
				</div>


				<!-- ============================ CAPTURA DE INFORMACION DEL TRAMITE ============================ -->
				<div id="componenteCaptura" style="display: none;">
					<h:panelGroup id="panelCaptura">
						<!-- ==================== PREGUNTA: SI/NO ==================== -->
						<h:outputLabel for="fDispReq"
							value="¿El proyecto requiere de otras disposiciones?" />
						<p:selectOneRadio id="fDispReq" required="true"
							requiredMessage="Este campo es obligatorio"
							value="#{cap3_OtrasDisp.proyecto.proyOdisposicionAplica}">
							<f:ajax listener="#{cap3_OtrasDisp.selDisposiciones}" render="panelCaptura" />
							<f:selectItem itemLabel="Sí" itemValue="S" />
							<f:selectItem itemLabel="No" itemValue="N" />
						</p:selectOneRadio>
						<p:message for="fDispReq" display="text" />

						<h:panelGroup id="pSust" rendered="#{cap3_OtrasDisp.capDisposiciones}">
							
							<!-- ==================== BOTONES: ELIMINAR, AGREGAR ==================== -->
							<p:commandLink id="btnAgregar" type="button" value="Agregar"
								styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
								actionListener="#{cap3_OtrasDisp.crearNuevoRegistro}"
								update=":foDatosGen:dlgModal :foDatosGen:pnlContenidoModal"
								oncomplete="modal.show()" immediate="true">
								<span class="glyphicon glyphicon-plus"></span> Agregar	
								<f:param name="capitulo" value="#{capitulo}" />
								<f:param name="subcapitulo" value="#{subcapitulo}" />
								<f:param name="seccion" value="#{seccion}" />
								<f:param name="apartado" value="#{apartado}" />
								<p:resetInput target=":archivosDisposicion:pnlArchivo"></p:resetInput> <!-- Limpia formulario agregar archivo -->
								<p:resetInput target=":foDatosGen:pnlContenidoModal"></p:resetInput> <!-- Limpia formulario agregar/editar registro -->
								<p:ajax process="@this" />
							</p:commandLink>

							<p:commandLink id="btnEliminar" value="Eliminar"
								styleClass="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
								oncomplete="modalEliminar.show()" update=":foDatosGen:pnlEliminar"
								disabled="#{cap3_OtrasDisp.regsSeleccionados.size() == 0}">
								<p:ajax process="@this" />
							</p:commandLink>
							<br /><br /><br />
							
							<!-- ==================== TABLA: CONSULTA DE INFORMACION ==================== -->
							<p:dataTable id="dTDisposiciones" styleClass="table" var="c" rowIndexVar="rowIndexDisp"
								value="#{cap3_OtrasDisp.disposiciones}"
								selection="#{cap3_OtrasDisp.regsSeleccionados}"
								rowKey="#{c.disposicionProyectoPK.disposicionProyId}"
								paginator="true" paginatorPosition="bottom" rows="5" emptyMessage="Sin registros.">

								<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminar" />
								<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminar" />
								<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminar" />
								
								<p:column id="check" selectionMode="multiple" style="width:3%;text-align:center">
								</p:column>
								<p:column style="white-space: normal; width:3%; text-align: center">
									<f:facet name="header">#</f:facet>
									<p:outputLabel value="#{rowIndexDisp+1}" />
								</p:column>
								<p:column style="white-space: normal; width:30%;">
									<f:facet name="header">Nombre</f:facet>
									<h:outputText value="#{c.disposicionNombreCorto}" />
								</p:column>
								<p:column style="width:50%; white-space:normal">
									<f:facet name="header">Vinculación</f:facet>
									<h:outputText value="#{c.disposicionVinculacionCorta}" />
 									<!-- MOSTRAR TEXTO VINCULACION EN UNA SOLA VENTANA MODAL
 									<p:inputTextarea readonly="true" maxlength="200" rows="4" style="width:90%" value="#{c.disposicionVinculacion}" />
 									<br />
 									<p:commandLink style="width: 100%" action="#{cap3_OtrasDisp.mostrarVinculacion(c.disposicionVinculacion)}"
 										oncomplete="dlgVinculacion.show()" process="@this" update=":formMensajeVinculacion:opVinculacion">
 										<p:outputLabel value="Leer más..." />
 									</p:commandLink> -->
								</p:column>
								<p:column style="width:5%;">
									<f:facet name="header"></f:facet>
									<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" 
										update=":foDatosGen:dlgModal :foDatosGen:pnlContenidoModal" process="@this"
										action="#{cap3_OtrasDisp.mostrarRegSeleccionado}" immediate="true" 
										oncomplete="modal.show()">
										<f:param name="prowindexDisp" value="#{rowIndexDisp+1}" />
										<f:param name="id" value="#{c.disposicionProyectoPK.disposicionProyId}" />
										<p:resetInput target=":foDatosGen:pnlContenidoModal"></p:resetInput> <!-- Limpia formulario agregar/editar registro -->
									</p:commandButton>
								</p:column>
							</p:dataTable>
						</h:panelGroup>
					</h:panelGroup>
				</div>
			<!-- </p:panel> -->

			<!-- ==================== VENTANA MODAL PARA AGREGAR O EDITAR UN REGISTRO ==================== -->
			<p:dialog id="dlgModal" widgetVar="modal" modal="true" header="#{cap3_OtrasDisp.titulo}" closable="false" resizable="false">
				<h:panelGrid id="pnlContenidoModal">
					<p:row>
						<p:column>
							<p:outputLabel value="Nombre" />
							<p:outputLabel id="lblNombre" value="" for="txtNombre" />
							<p:outputLabel value=":" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:inputText id="txtNombre" value="#{cap3_OtrasDisp.regSeleccionado.disposicionNombre}"
								style="width:100%;" maxlength="299"
								required="true" requiredMessage="Este campo es obligatorio"
								validatorMessage="Este campo es obligatorio" />
							<p:message for="txtNombre" display="text" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:outputLabel value="Vinculación" />
							<p:outputLabel id="lblVinculacion" value="" for="txtVinculacion" />
							<p:outputLabel value=":" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:inputTextarea id="txtVinculacion" rows="3" cols="50" counter="display" maxlength="1000"
								value="#{cap3_OtrasDisp.regSeleccionado.disposicionVinculacion}"
								counterTemplate="Quedan {0} caracteres." autoResize="false"
								required="true" requiredMessage="Este campo es obligatorio"
								validatorMessage="Este campo es obligatorio" />
							<br />
							<h:outputText id="display" />
							<p:message for="txtVinculacion" display="text" />
						</p:column>
					</p:row>
				</h:panelGrid>
				<br />
				<p:commandButton id="btnGuardar" value="Guardar" styleClass="btn btn-primary"
					process="@this pnlContenidoModal" style="float: right"
					action="#{cap3_OtrasDisp.validarDatos}"
					update=":foDatosGen:lblAlerta, :foDatosGen:pnlContenidoModal, :foDatosGen:dTDisposiciones">
				</p:commandButton>
				<p:commandButton id="btnCerrar" value="Cerrar" styleClass="btn btn-default" process="@this"
					style="float: right; margin-right: 5px;" onclick="modal.hide()" />
			</p:dialog>


			<!-- ========== VENTANA MODAL PARA ELIMINAR REGISTROS SELECIONADOS ========== -->
			<p:dialog id="dlgModalEliminar" widgetVar="modalEliminar" header="Eliminar otras disposiciones" modal="true">
				<div class="alert alert-warning">
					<span class="glyphicon glyphicon-warning-sign" />
					<p:spacer width="20px" />
					<p:outputLabel id="lblMensajeBorrar" value="¿Realmente desea borrar el(los) registro(s)?" />
				</div>
				<br />
				<h:panelGrid id="pnlEliminar">
					<c:forEach items="#{cap3_OtrasDisp.regsSeleccionados}" var="regEliminar">
						<p:row>
							<p:column>
								<p:outputLabel value="#{regEliminar.disposicionNombreCorto}" />
							</p:column>							
						</p:row>
					</c:forEach>
				</h:panelGrid>
				<br />
				<p:commandButton styleClass="btn btn-primary" value="Si" style="float: right" process="@this"
					action="#{cap3_OtrasDisp.eliminarRegistros}"
					update=":foDatosGen:btnEliminar, :foDatosGen:dTDisposiciones, :foDatosGen:lblAlerta"
					oncomplete="modalEliminar.hide(), modalAlerta.show()" />
				<p:commandButton styleClass="btn btn-default botonEliminar" value="No" style="float: right"
					onclick="modalEliminar.hide()" process="@this" />
			</p:dialog>


			<!-- ==================== VENTANA MODAL DE AVISO/CONFIRMACIÓN ==================== -->
			<p:dialog id="dlgAlerta" widgetVar="modalAlerta" header="Aviso" modal="true">
				<div class="alert alert-success">
					<span class="glyphicon glyphicon-ok" />
					<p:spacer width="20px" />
					<p:outputLabel id="lblAlerta" value="#{cap3_OtrasDisp.aviso}" />
				</div>
				<br />
				<!-- Incluir atributo process @this para evitar que los campos se llenen con espacios en blanco -->
				<p:commandButton styleClass="btn btn-primary alinDerecha" value="Aceptar" onclick="modalAlerta.hide()" process="@this" />
			</p:dialog>

		</div>
		<!-- end id="carParProy" -->
	</h:form>

	<!-- ==================== CAPTURA DE INFORMACION: TABLA DE ARCHIVOS DE CONSULTA GENERAL ==================== -->
	<h:form id="archivosDisp">
		<h:panelGroup id="pnlVerArchivo" rendered="#{cap3_OtrasDisp.capDisposiciones}">
			
			<p:commandLink id="subirArchivo"
				styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
				value="Agregar" 
				type="button"
				actionListener="#{cap3_OtrasDisp.iniciarArchivo}"
				update=":archivosDisposicion:pnlArchivo"
				oncomplete="modalSubirArchivo.show()" immediate="true">
				<span class="glyphicon glyphicon-plus"></span> Agregar	
				<f:param name="capitulo" value="#{capitulo}"/> 
				<f:param name="subcapitulo" value="#{subcapitulo}"/>
				<f:param name="seccion" value="#{seccion}"/>
				<f:param name="apartado" value="#{apartado}"/>
				<p:ajax process="@this" />
				<p:resetInput target=":archivosDisposicion:pnlArchivo"/>
			</p:commandLink>

			<p:commandLink id="bEliminaArchivo"
				class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
				value="Eliminar" disabled="#{cap3_OtrasDisp.archivosSeleccionados.size() == 0 || cap3_OtrasDisp.archivosGeneral.size() == 0}"
				actionListener="#{cap3_OtrasDisp.tieneArchivosSeleccionados}"
				update=":fEliminarArchivo:multiCritArchivo :archivosDisp:bEliminaArchivo">
				<p:ajax process="@this" />
			</p:commandLink><br />
			
			<!-- ==================== TABLA DE ADJUNTOS ==================== -->
			<h3>Adjuntos</h3>
			<p:dataTable id="tablaArchivo" styleClass="table table-responsive"
				value="#{cap3_OtrasDisp.archivosGeneral}" var="archG" rowIndexVar="rowIndex"
				selection="#{cap3_OtrasDisp.archivosSeleccionados}"
				rowKey="#{archG.id}" paginator="true" paginatorPosition="bottom"
				rows="10" emptyMessage="Sin archivos adjuntos.">
				
				<p:ajax event="toggleSelect" update=":archivosDisp:bEliminaArchivo" />
				<p:ajax event="rowSelectCheckbox" update=":archivosDisp:bEliminaArchivo" />
				<p:ajax event="rowUnselectCheckbox" update=":archivosDisp:bEliminaArchivo" />

				<p:column selectionMode="multiple" style="width:3%" />
				<p:column
					style="white-space: normal; width: 3%; text-align: center;">
					<f:facet name="header">#</f:facet>
					<h:outputText value="#{rowIndex+1}" />
				</p:column>
				<p:column style="white-space: normal;">
					<f:facet name="header">Nombre</f:facet>
					<h:outputText value="#{archG.nombre}" />
				</p:column>
				<p:column style="white-space: normal;">
					<f:facet name="header">Descripción</f:facet>
					<h:outputText value="#{archG.descripcion}" />
				</p:column>
				<p:column style="white-space: normal; width:5%">
					<f:facet name="header"></f:facet>					
					<p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
				                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archG.seqId}'); return false;"/>					

				</p:column>
				<p:column style="white-space: normal; width:5%">
					<f:facet name="header" />
					<p:commandButton
						class="btn btn-default btn-xs glyphicon glyphicon-pencil" value=""
						action="#{cap3_OtrasDisp.consultarArchivo}"
						onclick="modalEditarArchivo.show()"
						update=":fEditarArchivo:pnlEditarArchivo :fEditarArchivo:formEditarHeaderArchivo">
						<p:ajax process="@this" />
						<f:param name="pRowIndex" value="#{rowIndex+1}" />
						<f:param name="id" value="#{archG.id}" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:panelGroup>
	</h:form>

	<!-- ==================== VENTANA MODAL PARA AGREGAR UN ARCHIVO ==================== -->
	<h:form id="archivosDisposicion">
		<p:dialog header="Agregar archivo" draggable="false"
			widgetVar="modalSubirArchivo" id="modalSubirArchivo" modal="true"
			closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">
			<p:outputPanel id="pnlArchivo">
				<p:outputLabel value="Nombre" />
				<p:outputLabel value="" for="txtNombreArchivo" />
				<p:outputLabel value=":" />
				<br />
				
				<p:inputText id="txtNombreArchivo"
					value="#{cap3_OtrasDisp.archivoTemporal.nombre}"
					style="width:100%;" required="true"
					requiredMessage="Este campo es obligatorio" maxlength="50">
				</p:inputText>
				<p:message for="txtNombreArchivo" />
				<br />
				
				<p:outputLabel value="Descripcion" />
				<p:outputLabel value="" for="txtDescripcionArchivo" />
				<p:outputLabel value=":" />
				<br />
				
				<p:inputTextarea id="txtDescripcionArchivo" class="form-control"
					value="#{cap3_OtrasDisp.archivoTemporal.descripcion}" cols="50"
					rows="3" maxlength="200" counter="descountArch"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false">
				</p:inputTextarea>
				<h:outputText id="descountArch" />
				<p:message for="txtDescripcionArchivo" />
				<br />

				<p:outputLabel id="lblReservadoArchivo" value="Reservado:" />
				<p:selectBooleanCheckbox value="#{cap3_OtrasDisp.cargaBean.reservado}">
				</p:selectBooleanCheckbox>
				<br />
					
					<p:outputLabel value="Cargar archivo"/>
					<p:outputLabel value="" for="seleArchivo" />
					<p:outputLabel value=":" />
					<br />

					<h:panelGrid columns="2" style="width: 100%">
	                    <p:fileUpload mode="advanced" id="seleArchivo" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
	                    	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
		                    fileUploadListener="#{cap3_OtrasDisp.cargaBean.handleFileUpload}"	                                  
		                    sizeLimit="10485760" 
		                    label="Seleccionar archivo"                                 
		                    invalidSizeMessage="El tamaño del archivo es demasiado grande"
		                    invalidFileMessage="Tipo de archivo invalido"
		                    allowTypes="/(\.|\/)(pdf|doc|docx|jpg|jpeg|gif|png|xls|xlsx|dwg)$/" update="lblCargaArchivoAnexo"
		                    required="true" requiredMessage="No seleccionó el archivo." 
		                    auto="true" style="width: 100%"/>	
		               		                
			                <c:if test="#{empty cap3_OtrasDisp.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>		    
			                
			                <c:if test="#{not empty cap3_OtrasDisp.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="#{cap3_OtrasDisp.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>            
					</h:panelGrid>					
					
					<p:outputLabel id="msjValida" value="#{cap3_OtrasDisp.msj}" style="color:#B40431" />
					
					<p:message id="msgFileAnexos" for="seleArchivo" display="true"/>
					<br />
					
					<div id="divExtensiones" class="alert alert-info">
						<p:outputLabel value="Extensiones permitidas: (pdf/doc/docx/jpg/jpeg/gif/png/xls/xlsx/dwg)"/>
						<br/>
											
						<p:outputLabel value="El tamaño límite es de 10MB"/>					
					</div>
					<br/>				

				<p:commandButton id="btnGuardarModalArchivo" class="btn btn-primary"
					style="float: right;" value="Guardar" oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				    $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
					update=":archivosDisp:tablaArchivo :archivosDisposicion:pnlArchivo"
					action="#{cap3_OtrasDisp.guardarArchivo}" validateClient="true">
					<p:ajax process="@this" />
				</p:commandButton>
				
				<p:commandButton id="btnCerrarModalArchivo" class="btn btn-default botonEliminar"
					style="float: right;" value="Cerrar"
					onclick="modalSubirArchivo.hide();" update="pnlArchivo"
					process="@this" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertArchivo" id="modalAlertArchivo"
			header="Aviso" modal="true" closable="false">
			<div class="alert alert-success"><span class="glyphicon glyphicon-ok" /> Archivo guardado exitosamente.</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertArchivo.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- ==================== VENTANA MODAL PARA EDITAR UN ARCHIVO ==================== -->
	<h:form id="fEditarArchivo">
		<p:dialog widgetVar="modalEditarArchivo" id="modalEditarArchivo"
			modal="true" closable="false">
			<f:facet name="header">
				<p:outputPanel id="formEditarHeaderArchivo">
					<h4 class="modal-title">Editar archivo # #{cap3_OtrasDisp.indexRow}</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditarArchivo">
				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descripcionArchivoE" />
				<p:outputLabel value=":" />

				<p:inputTextarea id="descripcionArchivoE" class="form-control"
					value="#{cap3_OtrasDisp.archivoEdicion.descripcion}" cols="50"
					rows="3" maxlength="200" counter="conta"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="conta" />
				<p:message id="mismensajesArch1" for="descripcionArchivoE" display="true"/>

				<p:commandButton id="guardarEArchivo" value="Guardar"
					class="btn btn-primary"
					update=":fEditarArchivo:mismensajesArch1, :archivosDisp:tablaArchivo, :fEditarArchivo:pnlEditarArchivo"
					action="#{cap3_OtrasDisp.editarArchivo}" style="float: right;" />
				<p:commandButton id="cerrarModalEArchivo" value="Cerrar"
					class="btn btn-default botonEliminar" onclick="modalEditarArchivo.hide()"
					update="pnlEditarArchivo" immediate="true"
					style="float: right; margin-rigth: 20px;" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertEdArchivo" id="modalAlertEdArchivo"
			header="Aviso" modal="true" closable="false">
			<div class="alert alert-success"><span class="glyphicon glyphicon-ok" /> Archivo actualizado
				exitosamente.</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEdArchivo.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- ========== VENTANA MODAL PARA ELIMINAR ARCHIVOS SELECCIONADOS ========== -->
	<h:form id="fEliminarArchivo">
		<p:dialog header="Eliminar archivo" widgetVar="eliminarArchivo"
			id="eliminarArchivo" modal="true" showEffect="fade" hideEffect="fade"
			closable="false" resizable="false">
			<div class="alert alert-warning">¿Realmente desea borrar el/los
				archivo(s)?</div>
			<p:outputPanel id="multiCritArchivo">
				<ui:repeat value="#{cap3_OtrasDisp.archivosSeleccionados}" var="ar">
					<h:outputText value="#{ar.id} - #{ar.nombre}" style="display:block" />
				</ui:repeat>
			</p:outputPanel>
			<p:commandButton value="Sí"
				action="#{cap3_OtrasDisp.eliminaArchivos}"
				class="btn btn-primary" update=":archivosDisp:tablaArchivo :archivosDisp:bEliminaArchivo"
				oncomplete="eliminarArchivo.hide();modalAlertEArchivo.show()"
				style="float:right;" />
			<p:commandButton type="button" value="No"
				update=":archivosDisp:tablaArchivo" class="btn btn-default botonEliminar"
				onclick="eliminarArchivo.hide()" style="float:right;" />
		</p:dialog>

		<!-- ==================== VENTANA DE AVISO AL ELIMINAR ARCHIVOS ==================== -->
		<p:dialog widgetVar="modalAlertEArchivo" modal="true" header="Aviso" showEffect="fade" hideEffect="fade"
			closable="false" resizable="false">
			<div class="alert alert-success"><span class="glyphicon glyphicon-remove" /> Registro(s) eliminado(s)
				exitosamente.</div>
			<p:commandButton value="Aceptar" styleClass="btn btn-primary" onclick="modalAlertEArchivo.hide()" process="@this" style="float: right;" />
		</p:dialog>
	</h:form>

	<!-- ==================== VENTANA MODAL PARA MOSTRAR TODO EL TEXTO DE VINCULACION ==================== -->
	<!-- 
	<p:dialog widgetVar="dlgVinculacion" modal="true" showEffect="fade" hideEffect="fade" closable="false"
		width="60%" resizable="false">
		<f:facet name="header">
			<h:form id="formVinculacionHeader">
				<h4 class="modal-title">Detalle de la Vinculación</h4>
			</h:form>
		</f:facet>
		<h:form id="formMensajeVinculacion">
			<p:outputPanel id="opVinculacion">
				<p:inputTextarea id="txtVinculacion" value="#{cap3_OtrasDisp.vinculacion}" style="width: 100%" rows="10" readonly="true" />
				<p:commandButton type="button" styleClass="btn btn-default" style="float: right;" value="Cerrar" onclick="dlgVinculacion.hide()" />
			</p:outputPanel>
		</h:form>
	</p:dialog>
	-->
	

	<!-- ==================== GUARDAR AVANCE DE PROYECTO ==================== -->
	<h:form>
		<c:set value="3.8" target="#{capitulo3View}" property="seccion" />
		<div id="componenteGuarda" style="display: none; float: right; clear: right;">
			<p:commandButton value="Guardar" class="btn btn-primary" action="#{cap3_OtrasDisp.guardarAvance}" onsuccess="parent.actualizaBarra();" />
		</div>
	</h:form>
	
	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo3View.claveTramite}",
			nsub : "#{capitulo3View.proyecto.nsub}",
			capitulo : 3,
			subcapitulo : 8,
			seccion : -1,
			apartado : -1
		}, case_ayuda);
	</script>
	<!-- Bloquear pantalla mientras se realiza alguna transacción -->
    <ui:include src="/loading.xhtml"/>
</h:body>
</html>