<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
	<!-- 	<link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen" /> -->
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- 	<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
	<!-- Gráfica Base Local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	<script src="#{request.contextPath}/assets/js/locale_es.js"></script>
</h:head>
<h:body
	onload="javascript:getInformacionAdicionalMulti('#{capitulo3View.strComentProy}','foDatosGen','1,1,0-Federales|1,2,0-Estatales')">
	<div class="col-md-12" id="mensaje"></div>

	<ui:include src="/loading.xhtml"/>
	
	<h:form id="foDatosGen">


		<h:inputHidden id="ubicActual" value="#{capitulo3View.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional"
			value="#{capitulo3View.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />
		<!-- ==================== INICIA LEYES FEDERALES ========================== -->


		<div class="semarnat_ayuda" id='case_pnl_ayuda'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>

		<div id="divLeyesFed">
			<h3>Leyes federales y estatales</h3>
			<hr class="red"></hr>
			<button id='case_btn_ayuda' type="button" class="btn btn-default"
				data-toggle="tooltip" data-placement="bottom">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				<span class="glyphicon-class">Ayuda</span>
			</button>
			<hr></hr>
			<!-- 				<p:panel id="pnlLeyesFederales"> -->

			<div id="titulo1"></div>
			<hr class="red"></hr>

			<button id='case_btn_ayuda1' type="button" class="btn btn-default"
				data-toggle="tooltip" data-placement="bottom">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				<span class="glyphicon-class">Ayuda</span>
			</button><hr></hr>

			<p:commandLink value="Agregar"
				styleClass="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx"
				action="#{capitulo3View.abrirGuardarLeyFed}"
				oncomplete="dlgEditarLeyFed.show()" style="float: right"
				update=":formEditarLeyFedHeader:opTitleEditarFed, :formEditarLeyFed:opAgregarLeyFed, :formEditarLeyFed:opEditarLeyFed"
				immediate="true">
				<p:resetInput target=":formEditarLeyFed:opAgregarLeyFed" />
			</p:commandLink>

			<p:commandLink id="btnEliminarLeyFed" value="Eliminar"
				styleClass="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar"
				disabled="#{capitulo3View.leyesFederalesSeleccionadas.size() == 0}"
				action="#{capitulo3View.abrirDialogEliminar}" style="float: right"
				update=":formEliminarLeyesFed:pnlLeyesFedEliminadas"
				oncomplete="dlgEliminarLeyFed.show()" />
			<br />
			<br />
			<br />
			<div id="componenteConsulta1" style="display: none">
				<h:dataTable styleClass="table" var="c"
					value="#{capitulo3View.leyesFederal}" id="pCaraProy">
					<h:column>
						<f:facet name="header">Ley</f:facet>
						<h:selectOneMenu value="#{c.leyId}"
							converter="#{catLeyConverterBean}" style="width:450px"
							readonly="true">
							<f:selectItems value="#{catalogosView.catLeyFederal}" />
						</h:selectOneMenu>
						<h:panelGroup id="otraLey">
							<h:panelGroup rendered="#{c.leyId.leyId eq 9999}">
								<h:outputLabel value="Capture el nombre de la ley" />
								<br />
								<h:inputText value="#{c.leyFeDescrip}" label="Ley (Otra)"
									maxlength="300" />
							</h:panelGroup>
						</h:panelGroup>
					</h:column>
					<h:column>
						<f:facet name="header">Artículo, fracción e inciso</f:facet>
						<p:inputTextarea maxlength="300" value="#{c.leyFeArticulo}"
							autoResize="false" />
					</h:column>
					<h:column>
						<f:facet name="header">Vinculación</f:facet>
						<table width="100%" style="text-align: justify;">
							<tr>
								<td><h:outputText value="#{c.leyFeVinculacion}"
										escape="false" /></td>
							</tr>
						</table>
					</h:column>
				</h:dataTable>
			</div>
			<div id="componenteActualiza1"
				style="display: none; float: right; margin-right: 20px">
				<br />
				<p:commandButton value="Modificar sección (opcional)"
					class="btn btn-primary"
					onclick="actualizaComponentesModificaMulti('foDatosGen','1');" />
			</div>
			<div id="componenteCaptura1" style="display: none;">
				<h:panelGroup id="panelCaptura1">
					<p:dataTable id="grdLeyesFederales"
						tableStyleClass="table table-bordered"
						value="#{capitulo3View.leyesFederal}"
						selection="#{capitulo3View.leyesFederalesSeleccionadas}"
						rowKey="#{varleyfedestproy.idLeySeq}" var="varleyfedestproy" rowIndexVar="rowIndexLeyFed"
						rows="10" paginator="true" paginatorPosition="bottom"
						emptyMessage="Sin registros.">

						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarLeyFed" />
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarLeyFed" />
						<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarLeyFed" />

						<p:column selectionMode="multiple"
							style="width:5%;text-align:center" />

						<p:column style="white-space: normal;width:5%;text-align:center">
							<f:facet name="header">#</f:facet><!-- #{varleyfedestproy.idLeySeq} -->
							#{rowIndexLeyFed+1}
                        </p:column>

						<p:column style="white-space: normal">
							<f:facet name="header">Ley</f:facet>
	                                #{varleyfedestproy.leyFeDescrip}
	                            </p:column>

						<p:column style="white-space: normal">
							<f:facet name="header">Última actualización</f:facet>

							<p:outputPanel rendered="#{varleyfedestproy.leyId.leyId eq 9999}">
								#{varleyfedestproy.fechaUltimaActualizacion}
							</p:outputPanel>

							<p:outputPanel rendered="#{varleyfedestproy.leyId.leyId ne 9999}">
								#{varleyfedestproy.leyId.leyFechaModificacion}
							</p:outputPanel>	                                
	                    </p:column>

						<p:column style="white-space: normal">
							<f:facet name="header">Artículo, fracción e inciso</f:facet>
	                                #{varleyfedestproy.leyFeArticulo}.- #{varleyfedestproy.leyFeFraccion}, #{varleyfedestproy.leyFeInciso}	                                
	                            </p:column>

						<p:column style="white-space: normal">
							<f:facet name="header">Vinculación</f:facet>
							#{varleyfedestproy.leyFeVinculacionCorta}
<!-- 							<p:inputTextarea readonly="true" maxlength="200" rows="4" style="width:100%" value="#{varleyfedestproy.leyFeVinculacion}" /> -->
<!-- 							<br /> -->
<!-- 							<p:commandLink style="width: 100%" -->
<!-- 								action="#{capitulo3View.mostrarVinculacion(varleyfedestproy.leyFeVinculacion)}" -->
<!-- 								update=":formMensajeVinculacion:opVinculacion" -->
<!-- 								onclick="dlgVinculacion.show()"> -->
<!-- 								<p:outputLabel value="Leer más..." /> -->
<!-- 							</p:commandLink> -->
						</p:column>

						<p:column style="white-space: normal;width:5%;">
							<f:facet name="header"></f:facet>
							<p:commandButton value=""
								styleClass="btn btn-default btn-xs glyphicon glyphicon-pencil"
								action="#{capitulo3View.abrirEditarLeyFed(varleyfedestproy.idLeySeq, rowIndexLeyFed+1)}"
								update=":formEditarLeyFedHeader:opTitleEditarFed, :formEditarLeyFed:opAgregarLeyFed, :formEditarLeyFed:opEditarLeyFed"
								oncomplete="dlgEditarLeyFed.show()" immediate="true" />
						</p:column>

						<p:column style="white-space: normal;width:5%;">
							<f:facet name="header"></f:facet>
							<p:button
								styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open"
								value=""
								onclick="window.open('../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{varleyfedestproy.idArchivoProyecto}'); return false;"
								disabled="#{empty varleyfedestproy.idArchivoProyecto}"/>
						</p:column>

						<p:column style="white-space: normal;width:5%;">
							<f:facet name="header"></f:facet>
							<p:commandButton
								disabled="#{varleyfedestproy.leyId.leyId != 9999}"
								class="btn btn-default btn-xs glyphicon glyphicon-upload"
								value="" action="#{capitulo3View.iniciarArchivoFederal}"
								oncomplete="modalSubirArchivoFederal.show()"
								update=":foDatosGen:grdLeyesFederales, :formContenidoArchivoFederal:pnlContenidoArchivoFederal" immediate="true">
								<f:param name="idLeySeq" value="#{varleyfedestproy.idLeySeq}" />
								<p:resetInput
									target=":formContenidoArchivoFederal:pnlContenidoArchivoFederal" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</h:panelGroup>
			</div>
			<!-- 	 		</p:panel>             -->
		</div>
	</h:form>

	<!-- MODAL PARA SUBIR ARCHIVOS DE LEYES FEDERALES -->

		<p:dialog draggable="false" widgetVar="modalSubirArchivoFederal"
		id="dlgSubirArchivoFederal" modal="true" closable="false"
		onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
		$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">

		<f:facet name="header">
			<h4 class="modal-title">Cargar archivo</h4>
		</f:facet>

		<h:form id="formContenidoArchivoFederal">
			<p:outputPanel id="pnlContenidoArchivoFederal" style="border:none;"> 
						<p:outputLabel value="Nombre" />
						<p:outputLabel id="lblNombreArchivoFederal" value="" for="txtNombreArchivoFederal"/>
						<p:outputLabel value=":" /><br />

						<p:inputText id="txtNombreArchivoFederal"
							value="#{capitulo3View.archivoTemporalFederal.nombre}"
							required="true" requiredMessage="Este campo es obligatorio"
							maxlength="50" style="width: 100%">
						</p:inputText>
						<p:message id="msgNombreArchivoFederal"
							for="txtNombreArchivoFederal" display="true" />
						<br />

						<p:outputLabel value="Descripción" />
						<p:outputLabel id="lblDescripcionArchivoFederal" value="" for="txtDescripcionArchivoFederal"/>
						<p:outputLabel value=":" /><br />

						<p:inputTextarea id="txtDescripcionArchivoFederal"
							class="form-control"
							value="#{capitulo3View.archivoTemporalFederal.descripcion}"
							cols="50" rows="3" maxlength="200" counter="descount"
							counterTemplate="Quedan {0} caracteres." required="true"
							requiredMessage="Este campo es obligatorio" autoResize="false">
						</p:inputTextarea>
						<h:outputText id="descount" />
						<p:message id="msgDescripcionFederal"
							for="txtDescripcionArchivoFederal" display="true" />
						<br />

						<p:outputLabel value="Cargar archivo" />
						<p:outputLabel id="lblSeleccionarArchivoFederal" value="*" for="fileCargaFederal"/>
						<p:outputLabel value=":" /><br />

					<h:panelGrid columns="2" style="width: 100%" id="fileCargaFederal">
	                    <p:fileUpload mode="advanced" id="seleArchivo" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
	                    	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
		                    fileUploadListener="#{capitulo3View.cargaBean.handleFileUpload}"	                                  
		                    sizeLimit="10485760" 
		                    label="Seleccione el archivo"                                
		                    invalidSizeMessage="El tamaño del archivo es demasiado grande"
		                    invalidFileMessage="Tipo de archivo invalido"
		                    allowTypes="/(\.|\/)(pdf|docx)$/" update="lblCargaArchivoAnexo"
		                    required="true" requiredMessage="No seleccionó el archivo." 
		                    auto="true" style="width: 100%"/>	
		               		                
			                <c:if test="#{empty capitulo3View.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>		    
			                
			                <c:if test="#{not empty capitulo3View.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="#{capitulo3View.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>            
					</h:panelGrid>		
					
					<p:outputLabel id="msjValida" value="#{capitulo3View.msj}" style="color:#B40431" />			
					
<!-- 					<p:message id="msgFileAnexos" for="seleArchivo" display="true"/> -->
					<p:message id="msgCargaFederal" for="fileCargaFederal" display="true" />
					<br />
					
					<div id="divExtensiones" class="alert alert-info">
						<p:outputLabel value="Extensiones permitidas: (pdf/docx)"/>
						<br/>
											
						<p:outputLabel value="El tamaño límite es de 10MB"/>					
					</div>
					<br/>

			<br />
			</p:outputPanel>
			
			<p:commandButton id="btnGuardarModalArchivoFederal"
				class="btn btn-primary alinDerecha" value="Guardar"
				action="#{capitulo3View.guardarArchivoFederal}"
				oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
				update=":formContenidoArchivoFederal:fileCargaFederal, :formContenidoArchivoFederal:msgCargaFederal, 
                        	:formContenidoArchivoFederal:txtDescripcionArchivoFederal, :formContenidoArchivoFederal:lblDescripcionArchivoFederal, :formContenidoArchivoFederal:msgDescripcionFederal, 
                        	:formContenidoArchivoFederal:txtNombreArchivoFederal, :formContenidoArchivoFederal:lblNombreArchivoFederal, :formContenidoArchivoFederal:msgNombreArchivoFederal, :foDatosGen:grdLeyesFederales, 
                        	:formContenidoArchivoFederal:pnlContenidoArchivoFederal" />
			<p:commandButton id="btnCerrarModalArchivoFederal" type="button"
				class="btn btn-default alinDerecha botonEliminar" value="Cerrar"
				onclick="modalSubirArchivoFederal.hide();" />
		</h:form>
	</p:dialog>
	<!-- ///////////////////////////////////////WARNING//////////////////////////////////////////// -->

	<!-- Ventana modal alerta de la carga del archivo-->

	<p:dialog id="dlgAlertaFederal" header="Alerta" modal="true"
		widgetVar="modalAlertaFederal">
		<h:form id="formAlertaArchivoFederal">
		<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span>
			<p:outputLabel id="lblAlertaFlora"
				value=" Archivo guardado correctamente." />
			<br /></div>
			<p:commandButton styleClass="btn btn-primary alinDerecha" value="Aceptar"
				process="@this" onclick="modalAlertaFederal.hide()"
				update=":foDatosGen:grdLeyesFederales, :foDatosGen:btnEliminarLeyFed" />
		</h:form>
	</p:dialog>


	<!-- ==================== TERMINA LEYES FEDERALES ========================== -->


	<!-- =========================================== LEYES ESTATALES =========================================== -->


	<h:form id="foDatosGen2">
<!-- 		<p:panel id="pnlLeyesEstatales"> -->

			<div id="titulo2"></div>
			<hr class="red"></hr>

			<button id='case_btn_ayuda2' type="button" class="btn btn-default"
				data-toggle="tooltip" data-placement="bottom">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				<span class="glyphicon-class">Ayuda</span>
			</button><hr></hr>

			<p:commandLink value="Agregar"
				styleClass="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx"
				action="#{capitulo3View.abrirGuardarLeyEst}"
				oncomplete="dlgEditarLeyEst.show()" style="float: right"
				update=":formEditarLeyEstHeader:opTitelEditarEst, :formEditarLeyEst:opAgregarLeyEst, :formEditarLeyEst:opEditarLeyEst"
				immediate="true">
				<p:resetInput target=":formEditarLeyEst:opAgregarLeyEst" />
			</p:commandLink>


			<p:commandLink id="btnEliminarEstatales" value="Eliminar"
				styleClass="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar"
				disabled="#{capitulo3View.leyesEstatalesSeleccionadas.size() == 0}"
				action="#{capitulo3View.abrirDialogoEliminarLeyEst}"
				style="float: right"
				update=":formEliminarLeyesEst:pnlLeyesEstEliminadas"
				oncomplete="dlgEliminarLeyEst.show()" />
			<br />
			<br />
			<br />
			<div id="divLeyesEst">
				<div id="componenteCaptura2" style="display: none;">

					<h:panelGroup id="panelCaptura2">
						<p:dataTable id="grdLeyesEstatales"
							tableStyleClass="table table-bordered"
							value="#{capitulo3View.leyesEstatal}"
							selection="#{capitulo3View.leyesEstatalesSeleccionadas}"
							rowKey="#{varleyfedestproy.idLeySeq}" var="varleyfedestproy" rowIndexVar="rowIndexLeyEst"
							rows="10" paginator="true" paginatorPosition="bottom"
							emptyMessage="Sin registros.">

							<p:ajax event="toggleSelect"
								update=":foDatosGen2:btnEliminarEstatales" />
							<p:ajax event="rowSelectCheckbox"
								update=":foDatosGen2:btnEliminarEstatales" />
							<p:ajax event="rowUnselectCheckbox"
								update=":foDatosGen2:btnEliminarEstatales" />
							<p:column selectionMode="multiple"
								style="width:5%;text-align:center" />

							<p:column style="white-space: normal; width:5%; text-align:center;">
								<f:facet name="header">#</f:facet><!-- #{varleyfedestproy.idLeySeq} -->
								#{rowIndexLeyEst+1}
                           	</p:column>

							<p:column style="white-space: normal">
								<f:facet name="header">Ley</f:facet>
		                                #{varleyfedestproy.leyFeDescrip}
		                            </p:column>

							<p:column style="white-space: normal">
								<f:facet name="header">Última actualización</f:facet>
		                                #{varleyfedestproy.fechaUltimaActualizacion}
		                            </p:column>

							<p:column style="white-space: normal">
								<f:facet name="header">Artículo, fracción e inciso</f:facet>
		                                #{varleyfedestproy.leyFeArticulo}.- #{varleyfedestproy.leyFeFraccion}, #{varleyfedestproy.leyFeInciso}
		                            </p:column>

							<p:column style="white-space: normal">
								<f:facet name="header">Vinculación</f:facet>
								#{varleyfedestproy.leyFeVinculacionCorta}
<!-- 								<p:inputTextarea readonly="true" maxlength="200" rows="4" style="width:100%" value="#{varleyfedestproy.leyFeVinculacion}" /> -->
<!-- 								<br /> -->
<!-- 								<p:commandLink style="width: 100%" -->
<!-- 									action="#{capitulo3View.mostrarVinculacion(varleyfedestproy.leyFeVinculacion)}" -->
<!-- 									update=":formMensajeVinculacion:opVinculacion" -->
<!-- 									onclick="dlgVinculacion.show()"> -->
<!-- 									<p:outputLabel value="Leer más..." /> -->
<!-- 								</p:commandLink> -->
							</p:column>

							<p:column style="white-space: normal; width:5%;">
								<f:facet name="header"></f:facet>
								<p:commandButton value=""
									styleClass="btn btn-default btn-xs glyphicon glyphicon-pencil"
									action="#{capitulo3View.abrirEditarLeyEst(varleyfedestproy.idLeySeq, rowIndexLeyEst+1)}"
									update=":formEditarLeyEstHeader:opTitelEditarEst, :formEditarLeyEst:opEditarLeyEst, :formEditarLeyEst:opAgregarLeyEst"
									oncomplete="dlgEditarLeyEst.show()" immediate="true" />
							</p:column>

							<p:column style="white-space: normal; width:5%;">
								<f:facet name="header"></f:facet>
								<p:button
									styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open"
									value=""
									onclick="window.open('../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{varleyfedestproy.idArchivoProyecto}'); return false;"
									disabled="#{empty varleyfedestproy.idArchivoProyecto}" />
							</p:column>

							<p:column style="white-space: normal; width:5%;">
								<f:facet name="header"></f:facet>
								<p:commandButton
									class="btn btn-default btn-xs glyphicon glyphicon-upload"
									value="" action="#{capitulo3View.iniciarArchivoEstatal}"
									oncomplete="modalSubirArchivoEstatal.show()"
									update=":foDatosGen2:grdLeyesEstatales, :formContenidoArchivoEstatales:pnlContenidoArchivoEstatales">
									<f:param name="idLeySeq" value="#{varleyfedestproy.idLeySeq}" />
									<p:resetInput
									target=":formContenidoArchivoEstatales:pnlContenidoArchivoEstatales" />
								</p:commandButton>
							</p:column>
						</p:dataTable>

					</h:panelGroup>
				</div>

				<c:set value="3.1" target="#{capitulo3View}" property="seccion" />
				<!--                 <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" /> -->

				<!--                 <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right:  20px"> -->
				<!--                     <br/> -->
				<!--                     <p:commandButton value="Guardar" class="btn btn-primary"  action="#{capitulo3View.guardar}" onsuccess="parent.actualizaBarra();"/> -->
				<!--                 </div> -->

			</div>

<!-- 		</p:panel> -->

		<br />
		<p:commandButton value="Guardar" class="btn btn-primary"
			style="float:right" action="#{capitulo3View.guardarAvance}"
			onsuccess="parent.actualizaBarra();" />

	</h:form>

	<!-- MODAL PARA SUBIR ARCHIVOS DE LEYES ESTATALES -->

<!-- 	<p:dialog draggable="false" widgetVar="modalSubirArchivoEstatal" -->
<!-- 		id="dlgSubirArchivoEstatales" modal="true" closable="false"> -->

<!-- 		<f:facet name="header"> -->
<!-- 			<h4 class="modal-title">Cargar archivo</h4> -->
<!-- 		</f:facet> -->

<!-- 		<h:form id="formContenidoArchivoEstatales"> -->
<!-- 			<p:panelGrid id="pnlContenidoArchivoEstatales" style="border:none;"> -->
<!-- 				<p:row> -->
<!-- 					<p:column> -->
<!-- 						<p:outputLabel value="Nombre" /> -->
<!-- 						<p:outputLabel id="lblNombreArchivoEstatales" value="" for="txtNombreArchivoEstatales"/> -->
<!-- 						<p:outputLabel value=":" /> -->
<!-- 					</p:column> -->
<!-- 					<p:column> -->
<!-- 						<p:inputText id="txtNombreArchivoEstatales" -->
<!-- 							value="#{capitulo3View.archivoTemporalEstatal.nombre}" -->
<!-- 							required="true" requiredMessage="Nombre de archivo requerido" -->
<!-- 							maxlength="20"> -->
<!-- 							<p:ajax /> -->
<!-- 						</p:inputText> -->
<!-- 						<p:message id="msgNombreArchivoEstatal" -->
<!-- 							for="txtNombreArchivoEstatales" display="true" /> -->
<!-- 					</p:column> -->
<!-- 				</p:row> -->
<!-- 				<p:row> -->
<!-- 					<p:column> -->
<!-- 						<p:outputLabel value="Descripción" /> -->
<!-- 						<p:outputLabel id="lblDescripcionArchivoEstatal" value="" for="txtDescripcionArchivoEstatal"/> -->
<!-- 						<p:outputLabel value=":" /> -->
<!-- 					</p:column> -->
<!-- 					<p:column> -->
<!-- 						<p:inputTextarea id="txtDescripcionArchivoEstatal" -->
<!-- 							class="form-control" -->
<!-- 							value="#{capitulo3View.archivoTemporalEstatal.descripcion}" -->
<!-- 							cols="50" rows="3" maxlength="1000" counter="descount" -->
<!-- 							counterTemplate="Quedan {0} caracteres." required="true" -->
<!-- 							requiredMessage="Descripción requerida" autoResize="false"> -->
<!-- 							<p:ajax /> -->
<!-- 						</p:inputTextarea> -->
<!-- 						<h:outputText id="descount" /> -->
<!-- 						<p:message id="msgDescripcionArchivoEstatal" -->
<!-- 							for="txtDescripcionArchivoEstatal" display="true" /> -->
<!-- 					</p:column> -->
<!-- 				</p:row> -->
<!-- 				<p:row> -->
<!-- 					<p:column> -->
<!-- 						<p:outputLabel id="lblSeleccionarArchivoEstatal" -->
<!-- 							value="Seleccione el archivo*:" /> -->
<!-- 					</p:column> -->
<!-- 					<p:column> -->
<!-- 						<p:fileUpload mode="advanced" id="txtCargaArchivoEstatal" -->
<!-- 							fileUploadListener="#{capitulo3View.cargaBean.handleFileUpload}" -->
<!-- 							sizeLimit="10485760" label="Cargar archivo... (pdf/docx)" -->
<!-- 							invalidSizeMessage="El tamaño del archivo es demasiado grande" -->
<!-- 							invalidFileMessage="Tipo de archivo invalido" -->
<!-- 							allowTypes="/(\.|\/)(pdf|docx)$/" auto="true" -->
<!-- 							update="lblCargaArchivoEst" required="true" -->
<!-- 							requiredMessage="Debes cargar un archivo para la ley" /> -->
<!-- 							<p:message id="msgCargaArchivoEstatal" -->
<!-- 							for="txtCargaArchivoEstatal" display="true" /> -->
<!-- 					</p:column> -->
<!-- 				</p:row> -->
<!-- 				<p:row> -->
<!-- 					<p:column></p:column> -->
<!-- 					<p:column> -->
<!-- 						<p:outputLabel id="lblCargaArchivoEst" -->
<!-- 							value="#{capitulo3View.cargaBean.file.fileName}" /> -->
<!-- 					</p:column> -->
<!-- 				</p:row> -->
<!-- 			</p:panelGrid> -->
<!-- 			<br /> -->

<!-- 			<p:commandButton id="btnGuardarModalArchivoEstatal" -->
<!-- 				class="btn btn-primary alinDerecha" value="Guardar" -->
<!-- 				action="#{capitulo3View.guardarArchivoEstatal}" -->
<!-- 				update=":formContenidoArchivoEstatales:msgNombreArchivoEstatal,  -->
<!--                         	:formContenidoArchivoEstatales:txtNombreArchivoEstatales, :formContenidoArchivoEstatales:lblNombreArchivoEstatales, :formContenidoArchivoEstatales:txtNombreArchivoEstatales,  -->
<!--                         	:formContenidoArchivoEstatales:txtDescripcionArchivoEstatal, :formContenidoArchivoEstatales:lblDescripcionArchivoEstatal, :formContenidoArchivoEstatales:msgDescripcionArchivoEstatal, -->
<!--                         	:foDatosGen2:grdLeyesEstatales" /> -->
<!-- 			<p:commandButton id="btnCerrarModalArchivoEstatal" type="button" -->
<!-- 				class="btn btn-default alinDerecha botonEliminar" value="Cerrar" -->
<!-- 				onclick="modalSubirArchivoEstatal.hide();" /> -->
<!-- 		</h:form> -->
<!-- 	</p:dialog> -->
	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
		<p:dialog draggable="false" widgetVar="modalSubirArchivoEstatal"
		onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
		id="dlgSubirArchivoEstatales" modal="true" closable="false">

		<f:facet name="header">
			<h4 class="modal-title">Cargar archivo</h4>
		</f:facet>

		<h:form id="formContenidoArchivoEstatales">
			<p:outputPanel id="pnlContenidoArchivoEstatales" style="border:none;"> 

						<p:outputLabel value="Nombre" />
						<p:outputLabel id="lblNombreArchivoEstatales" value="" for="txtNombreArchivoEstatales"/>
						<p:outputLabel value=":" /><br />

						<p:inputText id="txtNombreArchivoEstatales"
							value="#{capitulo3View.archivoTemporalEstatal.nombre}"
							required="true" requiredMessage="Este campo es obligatorio"
							maxlength="50" style="width: 100%">
						</p:inputText>
						<p:message id="msgNombreArchivoEstatal"
							for="txtNombreArchivoEstatales" display="true" />

						<p:outputLabel value="Descripción" />
						<p:outputLabel id="lblDescripcionArchivoEstatal" value="" for="txtDescripcionArchivoEstatal"/>
						<p:outputLabel value=":" /><br />

						<p:inputTextarea id="txtDescripcionArchivoEstatal"
							class="form-control"
							value="#{capitulo3View.archivoTemporalEstatal.descripcion}"
							cols="50" rows="3" maxlength="200" counter="descount"
							counterTemplate="Quedan {0} caracteres." required="true"
							requiredMessage="Este campo es obligatorio" autoResize="false">
						</p:inputTextarea>
						<h:outputText id="descount" />
						<p:message id="msgDescripcionArchivoEstatal"
							for="txtDescripcionArchivoEstatal" display="true" />

<!-- 						<p:outputLabel id="lblSeleccionarArchivoEstatal" -->
<!-- 							value="Seleccione el archivo*:" /> -->

<!-- 						<p:fileUpload mode="advanced" id="txtCargaArchivoEstatal" -->
<!-- 							fileUploadListener="#{capitulo3View.cargaBean.handleFileUpload}" -->
<!-- 							sizeLimit="10485760" label="Cargar archivo... (pdf/docx)" -->
<!-- 							invalidSizeMessage="El tamaño del archivo es demasiado grande" -->
<!-- 							invalidFileMessage="Tipo de archivo invalido" -->
<!-- 							allowTypes="/(\.|\/)(pdf|docx)$/" auto="true" -->
<!-- 							update="lblCargaArchivoEst" required="true" -->
<!-- 							requiredMessage="Debes cargar un archivo para la ley" /> -->
<!-- 							<p:message id="msgCargaArchivoEstatal" -->
<!-- 							for="txtCargaArchivoEstatal" display="true" /> -->

<!-- 						<p:outputLabel id="lblCargaArchivoEst" -->
<!-- 							value="#{capitulo3View.cargaBean.file.fileName}" /> -->

					<p:outputLabel value="Cargar archivo" />
					<p:outputLabel id="lblSeleccionarArchivoEstatal" value="*" for="txtCargaArchivoEstatal"/>
					<p:outputLabel value=":" /><br />

					<h:panelGrid columns="2" style="width: 100%" id="txtCargaArchivoEstatal">
	                    <p:fileUpload mode="advanced" id="seleArchivo" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
	                    	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
		                    fileUploadListener="#{capitulo3View.cargaBean.handleFileUpload}"	                                  
		                    sizeLimit="10485760" 
		                    label="Seleccione el archivo"                                
		                    invalidSizeMessage="El tamaño del archivo es demasiado grande"
		                    invalidFileMessage="Tipo de archivo invalido"
		                    allowTypes="/(\.|\/)(pdf|docx)$/" update="lblCargaArchivoAnexo"
		                    required="true" requiredMessage="No seleccionó el archivo." 
		                    auto="true" style="width: 100%"/>	
		               		                
			                <c:if test="#{empty capitulo3View.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>		    
			                
			                <c:if test="#{not empty capitulo3View.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="#{capitulo3View.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>            
					</h:panelGrid>		
					
					<p:outputLabel id="msjValida" value="#{capitulo3View.msj}" style="color:red" />			
					
					<p:message id="msgCargaArchivoEstatal" for="txtCargaArchivoEstatal" display="true" />
					<br />
					
					<div id="divExtensiones" class="alert alert-info">
						<p:outputLabel value="Extensiones permitidas: (pdf/docx)"/>
						<br/>
											
						<p:outputLabel value="El tamaño límite es de 10MB"/>					
					</div>
					<br/>

			<br />
			</p:outputPanel>

			<p:commandButton id="btnGuardarModalArchivoEstatal"
				class="btn btn-primary alinDerecha" value="Guardar"
				action="#{capitulo3View.guardarArchivoEstatal}"
				oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				    $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
				update=":formContenidoArchivoEstatales:msgNombreArchivoEstatal, 
                        	:formContenidoArchivoEstatales:txtNombreArchivoEstatales, :formContenidoArchivoEstatales:lblNombreArchivoEstatales, :formContenidoArchivoEstatales:txtNombreArchivoEstatales, 
                        	:formContenidoArchivoEstatales:txtDescripcionArchivoEstatal, :formContenidoArchivoEstatales:lblDescripcionArchivoEstatal, :formContenidoArchivoEstatales:msgDescripcionArchivoEstatal,
                        	:foDatosGen2:grdLeyesEstatales, :foDatosGen2:btnEliminarEstatales, :formContenidoArchivoEstatales:msjValida" />
			<p:commandButton id="btnCerrarModalArchivoEstatal" type="button"
				class="btn btn-default alinDerecha botonEliminar" value="Cerrar"
				onclick="modalSubirArchivoEstatal.hide();" />
		</h:form>
	</p:dialog>
	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

	<!-- Ventana modal alerta de la carga del archivo-->

	<p:dialog id="dlgAlertaEstatal" header="Alerta" modal="true"
		widgetVar="modalAlertaEstatal">
		<h:form id="formAlertaArchivoEstatal">
		<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span>
			<p:outputLabel id="lblAlertaEstatal"
				value=" Archivo guardado correctamente." />
			<br /></div>
			<p:commandButton styleClass="btn btn-default" value="Aceptar"
				process="@this" onclick="modalAlertaEstatal.hide()"
				update=":foDatosGen2:grdLeyesEstatales">
			</p:commandButton>
		</h:form>
	</p:dialog>

	<!-- ========================== LEYES FEDERALES ======================================== -->


	<!-- DIALOG QUE MUESTRA LA VINCULACION DE LA LEY  -->

	<p:dialog widgetVar="dlgVinculacion" modal="true" showEffect="fade"
		hideEffect="fade" closable="false" width="50%" resizable="false">
		<f:facet name="header">
			<h:form id="formVinculacionHeader">
				<h4 class="modal-title alinCenter">Detalle</h4>
			</h:form>
		</f:facet>

		<h:form id="formMensajeVinculacion">
			<p:outputPanel id="opVinculacion">
				<p:inputTextarea id="txtVinculacion"
					value="#{capitulo3View.vinculacionLey}"
					style="width: 100%; resize: none" rows="10" readonly="true"
					autoResize="false" />
				<p:commandButton type="button" styleClass="btn btn-default"
					style="float: right;" value="Cerrar"
					onclick="dlgVinculacion.hide()" />
			</p:outputPanel>
		</h:form>
	</p:dialog>


	<!-- DIALOG PARA EDITAR O GUARDAR UNA LEY FEDERAL -->


	<p:dialog widgetVar="dlgEditarLeyFed" modal="true" showEffect="fade"
		hideEffect="fade" closable="false" resizable="false" width="50%">
		<f:facet name="header">
			<h:form id="formEditarLeyFedHeader">
				<p:outputPanel id="opTitleEditarFed">
					<h:panelGroup id="lblTitleEditarFed"
						rendered="#{capitulo3View.mostrarEdicion}">
						<h4 class="modal-title">Editar ley federal # #{capitulo3View.rowIndexLeyFedEditar}</h4>
					</h:panelGroup>

					<h:panelGroup id="lblTitleGuardarFed"
						rendered="#{capitulo3View.mostrarEdicion == false}">
						<h4 align="center" class="modal-title alinCenter">Leyes - agregar ley
							federal</h4>
					</h:panelGroup>
				</p:outputPanel>
			</h:form>
		</f:facet>

		<h:form id="formEditarLeyFed">
			<p:outputPanel id="opEditarLeyFed">
				<h:panelGrid id="pnlEditarLeyFed" style="width: 100%"
					rendered="#{capitulo3View.mostrarEdicion}">
					<p:outputLabel id="lblLeyEditadaFed" value="Ley*:" />
					<p:outputLabel
						value="#{capitulo3View.leyFedEstProyecto.leyFeDescrip}" />

					<p:outputLabel id="lblArticuloLeyFedEdit" value="Artículo*:" />
					<p:inputTextarea id="txtArticuloLeyFedEdit"
						value="#{capitulo3View.leyFedEstProyecto.leyFeArticulo}"
						maxlength="100" rows="2" autoResize="false"
						counter="contadorCaracteresEdit"
						counterTemplate="{0} caracteres quedan"
						style="width:100%; resize: none" required="true"
						requiredMessage="Este campo es obligatorio" />
					<p:outputLabel id="contadorCaracteresEdit" />
					<p:message id="msgArticuloLeyFederalEditar"
						for="txtArticuloLeyFedEdit" display="true" />

					<p:outputLabel id="lblFraccionLeyFedEdit" value="Fracción:" />
					<p:inputText id="txtFraccionLeyFedEdit"
						value="#{capitulo3View.leyFedEstProyecto.leyFeFraccion}"
						style="width:20%"  />
					<p:message id="msgFraccionLeyFederalEditar"
						for="txtFraccionLeyFedEdit" display="true" />

					<p:outputLabel id="lblIncisoLeyFedEdit" value="Inciso:" />
					<p:inputText id="txtIncisoLeyFedEdit"
						value="#{capitulo3View.leyFedEstProyecto.leyFeInciso}"
						style="width:20%" />
					<p:message id="msgIncisoLeyFederalEditar" for="txtIncisoLeyFedEdit"
						display="true" />

					<p:outputLabel id="lblVinculacionLeyFedEdit" value="Vinculación*:" />
					<p:inputTextarea id="txtVinculacionLeyFedEdit"
						value="#{capitulo3View.leyFedEstProyecto.leyFeVinculacion}"
						maxlength="1000" rows="5" autoResize="false"
						counter="contVincEdit" counterTemplate="{0} caracteres quedan"
						style="width:100%; resize: none" required="true"
						requiredMessage="Este campo es obligatorio" />
					<p:outputLabel id="contVincEdit" />
					<p:message id="msgVinculacionLeyFederalEditar"
						for="txtVinculacionLeyFedEdit" display="true" />
				</h:panelGrid>

				<br />
				<h:panelGroup rendered="#{capitulo3View.mostrarEdicion}">
					<p:commandButton styleClass="btn btn-primary" style="float: right;"
						value="Guardar" action="#{capitulo3View.guardarLeyFederalProy}"
						update=":formEditarLeyFed:opEditarLeyFed, :foDatosGen:grdLeyesFederales" />
					<p:commandButton styleClass="btn btn-default" style="float: right; margin-right: 5px;"
						value="Cerrar"
						update=":formEditarLeyFed:opEditarLeyFed"
						onclick="dlgEditarLeyFed.hide()" />
				</h:panelGroup>

			</p:outputPanel>

			<p:outputPanel id="opAgregarLeyFed">
				<h:panelGrid id="pnlAgregarLeyFed" style="width: 100%"
					rendered="#{capitulo3View.mostrarEdicion == false}">
					<p:outputLabel id="lblLeyNuevaFed" value="Ley*:" />
					<h:selectOneMenu id="cboLeyNuevaFed" class="form-control"
						value="#{capitulo3View.leyFedEstProyecto.leyId.leyId}"
						style="width: 100%;" required="true"
						requiredMessage="Este campo es obligatorio">
						<f:selectItem itemValue="" itemLabel="Seleccione" />
						<f:selectItems var="varcatley"
							value="#{capitulo3View.catalogoLeyesFederales}"
							itemValue="#{varcatley.leyId}" itemLabel="#{varcatley.leyNombre}" />
						<p:ajax update=":formEditarLeyFed:opCapturaLeyFed"
							listener="#{capitulo3View.mostrarCapturaLey(capitulo3View.leyFedEstProyecto.leyId.leyId)}" />
					</h:selectOneMenu>
					<p:message id="msgLeyFederal" for="cboLeyNuevaFed" display="true" />

					<p:outputPanel id="opCapturaLeyFed" style="width:100%">
						<h:panelGrid id="pnlFechaActualizacion"
							rendered="#{capitulo3View.mostrarUltimaFecha}"
							style="width: 100%">
							<p:outputLabel id="lblFechaActualizacion"
								value="Fecha de última actualización" />
							<p:outputLabel id="txtFechaActualizacion"
								value="#{capitulo3View.leyFedEstProyecto.leyId.leyFechaModificacion}"
								style="width:100%" />
						</h:panelGrid>

						<h:panelGrid id="pnlCapturaLeyFed" rendered="#{capitulo3View.mostrarCapturaLeyFederal}"
							style="width: 100%">
							<br/>
							<p:inputText id="txtCapturaLeyFed"
								value="#{capitulo3View.leyFedEstProyecto.leyFeDescrip}"
								style="width:100%" />
								
							<br/>
							
							<p:outputLabel value="Fecha Última Actualización: "/>
							<br/>
							<p:calendar id="cboFechaUltimaEsteyFedL" value="#{capitulo3View.fechaUltimaActualizacion}" locale="es" pattern="dd/MM/yyyy" required="true"
								requiredMessage="Este campo es obligatorio" />
							<p:message id="msgFechaLeyFedEditar" for="cboFechaUltimaEsteyFedL"/>
						</h:panelGrid>
					</p:outputPanel>

					<br />

					<p:outputLabel id="lblArticuloLeyFed" value="Artículo*:" />
					<p:inputTextarea id="txtArticuloLeyFed"
						value="#{capitulo3View.leyFedEstProyecto.leyFeArticulo}"
						maxlength="100" rows="2" autoResize="false"
						counter="contadorCaracteres"
						counterTemplate="{0} caracteres quedan"
						style="width:100%; resize: none" required="true"
						requiredMessage="Este campo es obligatorio" />
					<p:outputLabel id="contadorCaracteres" />
					<p:message id="msgArticuloLeyFederal" for="txtArticuloLeyFed"
						display="true" />

					<p:outputLabel id="lblFraccionLeyFed" value="Fracción:" />
					<p:inputText id="txtFraccionLeyFed"
						value="#{capitulo3View.leyFedEstProyecto.leyFeFraccion}"
						style="width:20%"/>
					<p:message id="msgFraccionLeyFederal" for="txtFraccionLeyFed"
						display="true" />

					<p:outputLabel id="lblIncisoLeyFed" value="Inciso:" />
					<p:inputText id="txtIncisoLeyFed"
						value="#{capitulo3View.leyFedEstProyecto.leyFeInciso}"
						style="width:20%" />
					<p:message id="msgIncisoLeyFederal" for="txtIncisoLeyFed"
						display="true" />

					<p:outputLabel id="lblVinculacionLeyFed" value="Vinculación*:" />
					<p:inputTextarea id="txtVinculacionLeyFed"
						value="#{capitulo3View.leyFedEstProyecto.leyFeVinculacion}"
						maxlength="1000" rows="5" autoResize="false" counter="contVinc"
						counterTemplate="{0} caracteres quedan"
						style="width:100%; resize: none" required="true"
						requiredMessage="Este campo es obligatorio" />
					<p:outputLabel id="contVinc" />
					<p:message id="msgVinculacionLeyFederal" for="txtVinculacionLeyFed"
						display="true" />

				</h:panelGrid>
				<br />
				<h:panelGroup rendered="#{capitulo3View.mostrarEdicion == false}">
					<p:commandButton styleClass="btn btn-primary" style="float: right;"
						value="Guardar" action="#{capitulo3View.guardarLeyFederalProy}"
						update="msgLeyFederal, cboLeyNuevaFed, txtArticuloLeyFed, msgArticuloLeyFederal, txtFraccionLeyFed, msgFraccionLeyFederal, txtIncisoLeyFed, 
					 						 		 msgIncisoLeyFederal, txtVinculacionLeyFed, msgVinculacionLeyFederal, :foDatosGen:grdLeyesFederales, opAgregarLeyFed" />
					<p:commandButton type="button" styleClass="btn btn-default"
						style="float: right; margin-right: 5px;" value="Cerrar"
						onclick="dlgEditarLeyFed.hide()" />
				</h:panelGroup>
			</p:outputPanel>

		</h:form>
	</p:dialog>


	<!-- DIALOG QUE MUESTRA SI SE DESEA ELIMINAR LA/S LEYES FEDERALES SELECCIONADAS  -->


	<p:dialog widgetVar="dlgEliminarLeyFed" modal="true" showEffect="fade"
		hideEffect="fade" closable="false" resizable="false">
		<f:facet name="header">
			<h:form id="formEliminarKeyfHeader">
				<h4 class="modal-title">Eliminar ley federal</h4>
			</h:form>
		</f:facet>

		<h:form id="formEliminarLeyesFed">
			<p:outputPanel id="pnlMensaje">
				<div class="alert alert-warning">
					<span class="glyphicon glyphicon-warning-sign"></span> ¿Realmente
					desea borrar la(s) ley(es)?
				</div>

				<h:panelGrid id="pnlLeyesFedEliminadas" columns="2">

					<ui:repeat value="#{capitulo3View.leyesFederalesSeleccionadas}"
						var="varleyfedproy">
						<h:outputText value="#{varleyfedproy.leyFeDescrip}" style="display:block" />
					</ui:repeat>

				</h:panelGrid>

				<div class="modal-footer">
					<p:commandButton type="button" styleClass="btn btn-default"
						id="respuestaNo" value="No" onclick="dlgEliminarLeyFed.hide()" />
					<p:commandButton styleClass="btn btn-primary" id="respuestaSi"
						value="Si" update=":foDatosGen:grdLeyesFederales, :foDatosGen:btnEliminarLeyFed"
						action="#{capitulo3View.eliminarLeyFederal}" />
				</div>
			</p:outputPanel>
		</h:form>
	</p:dialog>


	<!-- DIALOG QUE MUESTRA SI SE DESEA ELIMINAR LA/S LEYES ESTATALES SELECCIONADAS  -->


	<p:dialog widgetVar="dlgEliminarLeyEst" modal="true" showEffect="fade"
		hideEffect="fade" closable="false" resizable="false">
		<f:facet name="header">
			<h:form id="formEliminarKeyEHeader">
				<h4 class="modal-title">Eliminar ley estatal</h4>
			</h:form>
		</f:facet>

		<h:form id="formEliminarLeyesEst">
			<p:outputPanel id="pnlMensaje">
				<div class="alert alert-warning">
					<span class="glyphicon glyphicon-warning-sign"></span> ¿Realmente
					desea borrar la(s) ley(es)?
				</div>

				<h:panelGrid id="pnlLeyesEstEliminadas" columns="2">

					<ui:repeat value="#{capitulo3View.leyesEstatalesSeleccionadas}"
						var="varleyfedproy">
						<h:outputText value="#{varleyfedproy.leyFeDescrip}" style="display:block" />
					</ui:repeat>

				</h:panelGrid>

				<div class="modal-footer">
					<p:commandButton type="button" styleClass="btn btn-default"
						id="respuestaNo" value="No" onclick="dlgEliminarLeyEst.hide()" />
					<p:commandButton styleClass="btn btn-primary" id="respuestaSi"
						value="Si" update=":foDatosGen2:grdLeyesEstatales, :foDatosGen2:btnEliminarEstatales"
						action="#{capitulo3View.eliminarLeyEstatal}" />
				</div>
			</p:outputPanel>
		</h:form>
	</p:dialog>



	<p:dialog widgetVar="dlgElimiLeyFedExitosa" modal="true"
		showEffect="fade" hideEffect="fade" closable="false" resizable="false">
		<f:facet name="header">
			<h:form id="formEliminarOkHeader">
				<h4 class="modal-title">Aviso</h4>
			</h:form>
		</f:facet>

		<h:form id="formMensajeEliminar">
			<p:outputPanel id="pnlMensajeEliminar">
				<div class="alert alert-success">
					<span class="glyphicon glyphicon-remove"></span> Registro eliminado
					exitosamente.
				</div>
				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary" id="aceptarEliminar"
						value="Aceptar" onclick="dlgElimiLeyFedExitosa.hide()" />
				</div>
			</p:outputPanel>
		</h:form>
	</p:dialog>


	<!-- ================================= LEYES ESTATALES ============================================= -->


	<!-- DIALOG PARA EDITAR O GUARDAR UNA LEY ESTATAL -->


	<p:dialog widgetVar="dlgEditarLeyEst" modal="true" showEffect="fade"
		hideEffect="fade" closable="false" resizable="false" width="50%">
		<f:facet name="header">
			<h:form id="formEditarLeyEstHeader">
				<p:outputPanel id="opTitelEditarEst">
					<h:panelGroup id="lblTitleEditarEst"
						rendered="#{capitulo3View.mostrarEdicionEstatal}">
						<h4 class="modal-title">Editar ley estatal # #{capitulo3View.rowIndexLeyEstEditar}</h4>
					</h:panelGroup>

					<h:panelGroup id="lblTitleGuardarEst"
						rendered="#{capitulo3View.mostrarEdicionEstatal == false}">
						<h4 align="center" class="modal-title">Leyes - agregar ley
							estatal</h4>
					</h:panelGroup>
				</p:outputPanel>

			</h:form>
		</f:facet>

		<h:form id="formEditarLeyEst">
			<p:outputPanel id="opEditarLeyEst">
				<h:panelGrid id="pnlEditarLeyEst" style="width: 100%"
					rendered="#{capitulo3View.mostrarEdicionEstatal}">
					<p:outputLabel id="lblLeyEditadaEst" value="Ley: *" />
					<p:inputText id="txtLeyEditadaEst"
						value="#{capitulo3View.leyFedEstProyecto.leyFeDescrip}"
						style="width: 100%" required="true"
						requiredMessage="Este campo es obligatorio" />
					<p:message id="msgLeyEditable" for="txtLeyEditadaEst"
						display="true" />

					<p:outputLabel id="lblFechaUltimaEst"
						value="Fecha de última actualización*:" />
					<p:calendar id="cboFechaUltimaEst"
						value="#{capitulo3View.fechaUltimaActualizacion}"
						locale="es" pattern="dd/MM/yyyy" required="true"
						requiredMessage="Este campo es obligatorio" />
					<p:message id="msgFechaLeyEstatalEditar" for="cboFechaUltimaEst"
						display="true" />

					<p:outputLabel id="lblArticuloLeyEstEdit" value="Artículo*:" />
					<p:inputTextarea id="txtArticuloLeyEstEdit"
						value="#{capitulo3View.leyFedEstProyecto.leyFeArticulo}"
						maxlength="100" rows="2" autoResize="false"
						counter="contadorCaracteresEditEst"
						counterTemplate="{0} caracteres quedan"
						style="width:100%; resize: none" required="true"
						requiredMessage="Este campo es obligatorio" />
					<p:outputLabel id="contadorCaracteresEditEst" />
					<p:message id="msgArticuloLeyEstatalEditar"
						for="txtArticuloLeyEstEdit" display="true" />

					<p:outputLabel id="lblFraccionLeyEstEdit" value="Fracción:" />
					<p:inputText id="txtFraccionLeyFedEdit"
						value="#{capitulo3View.leyFedEstProyecto.leyFeFraccion}"
						style="width:20%" />
					<p:message id="msgFraccionLeyEstatalEditar"
						for="txtFraccionLeyFedEdit" display="true" />

					<p:outputLabel id="lblIncisoLeyEstEdit" value="Inciso:" />
					<p:inputText id="txtIncisoLeyFedEdit"
						value="#{capitulo3View.leyFedEstProyecto.leyFeInciso}"
						style="width:20%" />
					<p:message id="msgIncisoLeyEstatalEditar" for="txtIncisoLeyFedEdit"
						display="true" />

					<p:outputLabel id="lblVinculacionLeyEstEdit" value="Vinculación*:" />
					<p:inputTextarea id="txtVinculacionLeyEstEdit"
						value="#{capitulo3View.leyFedEstProyecto.leyFeVinculacion}"
						maxlength="1000" rows="2" autoResize="false"
						counter="contVincEstEdit" counterTemplate="{0} caracteres quedan"
						style="width:100%; resize: none" required="true"
						requiredMessage="Este campo es obligatorio" />
					<p:outputLabel id="contVincEstEdit" />
					<p:message id="msgVinculacionLeyEstatalEditar"
						for="txtVinculacionLeyEstEdit" display="true" />
				</h:panelGrid>
				<br />
				<h:panelGroup rendered="#{capitulo3View.mostrarEdicionEstatal}">
					<p:commandButton styleClass="btn btn-primary" style="float: right;"
						value="Guardar" action="#{capitulo3View.guardarLeyEstatalProy}"
						update=":foDatosGen2:grdLeyesEstatales, :formEditarLeyEst:opEditarLeyEst" />
					<p:commandButton styleClass="btn btn-default" style="float: right; margin-right: 5px;"
						update=":formEditarLeyEst:opEditarLeyEst" value="Cerrar"
						onclick="dlgEditarLeyEst.hide()" />
				</h:panelGroup>
			</p:outputPanel>

			<p:outputPanel id="opAgregarLeyEst">
				<h:panelGrid id="pnlAgregarLeyEst" style="width: 100%"
					rendered="#{capitulo3View.mostrarEdicionEstatal == false}">
					<p:outputLabel id="lblLeyNuevaEst" value="Ley*:" />
					<p:inputText id="txtLeyNuevaEst"
						value="#{capitulo3View.leyFedEstProyecto.leyFeDescrip}"
						style="width: 100%" required="true"
						requiredMessage="Este campo es obligatorio" />
					<p:message id="msgLeyNuevaEst" for="txtLeyNuevaEst" display="true" />

					<p:outputLabel id="lblFechaNuevaEst"
						value="Fecha de última actualización*:" />
					<p:calendar id="cboFechaActualizacion"
						value="#{capitulo3View.fechaUltimaActualizacion}" locale="es"
						pattern="dd-MM-yyy" required="true"
						requiredMessage="Este campo es obligatorio" />
					<p:message id="msgFechaLeyEstatalNueva" for="cboFechaActualizacion"
						display="true" />

					<p:outputLabel id="lblArticuloLeyEst" value="Artículo*:" />
					<p:inputTextarea id="txtArticuloLeyEst"
						value="#{capitulo3View.leyFedEstProyecto.leyFeArticulo}"
						maxlength="100" rows="2" autoResize="false"
						counter="contadorCaracteresEst"
						counterTemplate="{0} caracteres quedan"
						style="width:100%; resize: none" required="true"
						requiredMessage="Este campo es obligatorio" />
					<p:outputLabel id="contadorCaracteresEst" />
					<p:message id="msgArticuloLeyEstatalNueva" for="txtArticuloLeyEst"
						display="true" />

					<p:outputLabel id="lblFraccionLeyEst" value="Fracción:" />
					<p:inputText id="txtFraccionLeyEst"
						value="#{capitulo3View.leyFedEstProyecto.leyFeFraccion}"
						style="width:20%" />
					<p:message id="msgFraccionLeyEstatalNueva" for="txtFraccionLeyEst"
						display="true" />

					<p:outputLabel id="lblIncisoLeyEst" value="Inciso:" />
					<p:inputText id="txtIncisoLeyEst"
						value="#{capitulo3View.leyFedEstProyecto.leyFeInciso}"
						style="width:20%" />
					<p:message id="msgIncisoLeyEstatalNueva" for="txtIncisoLeyEst"
						display="true" />

					<p:outputLabel id="lblVinculacionLeyEst" value="Vinculación*:" />
					<p:inputTextarea id="txtVinculacionLeyEst"
						value="#{capitulo3View.leyFedEstProyecto.leyFeVinculacion}"
						maxlength="1000" rows="2" autoResize="false" counter="contVincEst"
						counterTemplate="{0} caracteres quedan"
						style="width:100%; resize: none" required="true"
						requiredMessage="Este campo es obligatorio" />
					<p:outputLabel id="contVincEst" />
					<p:message id="msgVinculacionLeyEstatalNueva"
						for="txtVinculacionLeyEst" display="true" />

				</h:panelGrid>
				<br />
				<h:panelGroup
					rendered="#{capitulo3View.mostrarEdicionEstatal == false}">
					<p:commandButton styleClass="btn btn-primary" style="float: right;"
						value="Guardar"
						update="msgLeyNuevaEst,txtLeyNuevaEst,msgFechaLeyEstatalNueva,cboFechaActualizacion,msgArticuloLeyEstatalNueva,txtArticuloLeyEst,
 			 		 						 		 msgFraccionLeyEstatalNueva,txtFraccionLeyEst,msgIncisoLeyEstatalNueva,txtIncisoLeyEst,msgVinculacionLeyEstatalNueva,txtVinculacionLeyEst,
 			 		 						 		 :foDatosGen2:grdLeyesEstatales"
						action="#{capitulo3View.guardarLeyEstatalProy}" />
					<p:commandButton type="button" styleClass="btn btn-default"
						style="float: right; margin-right: 5px;" value="Cerrar"
						onclick="dlgEditarLeyEst.hide()" />
				</h:panelGroup>
			</p:outputPanel>
		</h:form>
	</p:dialog>

	<!-- DIALOG QUE MUESTRA LA VALIDACION PARA SELECCIONAR UNA LEY ANTES DE ELIMINAR -->

	<p:dialog widgetVar="dlgSeleccionLey" modal="true" showEffect="fade"
		hideEffect="fade" closable="false" resizable="false">
		<f:facet name="header">
			<h4 class="modal-title">Alerta</h4>
		</f:facet> 			
			     
			     Debes seleccionar una ley
			     
			     <h:form id="formSeleccionLey">
			<p:commandButton type="button" styleClass="btn btn-default"
				style="float: right;" value="Cerrar"
				onclick="dlgSeleccionLey.hide()" />
		</h:form>
	</p:dialog>


	<!-- DIALOG QUE MUESTRA EL GUARDADO O ACTUALIZACION EXITOSO DE LA LEY FEDERAL O ESTATAL -->

	<p:dialog widgetVar="dlgGuardadoExitoso" modal="true" showEffect="fade"
		hideEffect="fade" closable="false" resizable="false">
		<f:facet name="header">
			<h:form id="formGuardadoHeader">
				<h4 class="modal-title">Aviso</h4>
			</h:form>
		</f:facet>

		<h:form id="formMensajeGuardado">
			<p:outputPanel id="pnlMensajeActualizar">
				<div class="alert alert-success">
					<span class="glyphicon glyphicon-ok"></span> Registro guardado
					exitosamente.
				</div>
				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary"
						id="btnAceptarGuardado" value="Aceptar"
						onclick="dlgGuardadoExitoso.hide()" />
				</div>
			</p:outputPanel>
		</h:form>
	</p:dialog>

	<!-- DIALOG QUE MUESTRA LA ACTUALIZACION EXITOSA DE LA LEY FEDERAL O ESTATAL -->

	<p:dialog widgetVar="dlgActualizacionExitosa" modal="true"
		showEffect="fade" hideEffect="fade" closable="false" resizable="false">
		<f:facet name="header">
			<h:form id="formActualizacionHeader">
				<h4 class="modal-title">Aviso</h4>
			</h:form>
		</f:facet>

		<h:form id="formMensajeActualizado">
			<p:outputPanel id="pnlMensajeActualizado">
				<div class="alert alert-success">
					<span class="glyphicon glyphicon-ok"></span> Registro actualizado
					exitosamente.
				</div>
				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary"
						id="btnAceptarActualizado" value="Aceptar"
						onclick="dlgActualizacionExitosa.hide()" />
				</div>
			</p:outputPanel>
		</h:form>
	</p:dialog>

	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo3View.claveTramite}",
			nsub : "#{capitulo3View.proyecto.nsub}",
			capitulo : 3,
			subcapitulo : 1,
			seccion : -1,
			apartado : -1
		}, case_ayuda);
		$('#case_btn_ayuda1').click({
			vClaveTramite : "#{capitulo3View.claveTramite}",
			nsub : "#{capitulo3View.proyecto.nsub}",
			capitulo : 3,
			subcapitulo : 1,
			seccion : 1,
			apartado : -1
		}, case_ayuda);
		$('#case_btn_ayuda2').click({
			vClaveTramite : "#{capitulo3View.claveTramite}",
			nsub : "#{capitulo3View.proyecto.nsub}",
			capitulo : 3,
			subcapitulo : 1,
			seccion : 2,
			apartado : -1
		}, case_ayuda);
	</script>

	<!-- <ui:include src="/loading.xhtml" />-->
</h:body>
</html>