<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8" />

	<!-- <link href="http://framework-gb.cdn.gob.mx/qa/assets/styles/main.css"		rel="stylesheet"></link> -->
	<!-- 	<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
	<!-- Gráfica Base Local -->
	<link href="#{request.contextPath}/assets/styles/main.css"
		rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/ayudas.css"
		rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css"
		rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	<script src="#{request.contextPath}/assets/js/locale_es.js"></script>

	<style>
.xyz input {
	display: block;
	width: 100%;
	height: 39px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.428571429;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
</style>
</h:head>
<h:body
	onload="javascript:getInformacionAdicional('#{Capnorm.strComentProy}','foDatosGen',3,0,0,'Normas')">

	<ui:include src="/loading.xhtml"/>

	<h:form id="foDatosGen">



		<h:inputHidden id="ubicActual" value="#{Capnorm.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional"
			value="#{Capnorm.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />

		<div class="semarnat_ayuda" id='case_pnl_ayuda'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>
		
		<div id="componenteConsulta" style="display:none">
                        <p:dialog  widgetVar="numeralesWinC" position="top" modal="true" width="750" height="500" header="Numerales">
                            <h:panelGroup id="wnumpC">
                                <h:dataTable value="#{cAp3_3_8_Normas.numerales}" var="numeral" styleClass="table">
                                    <h:column>
                                        <f:facet name="header">Numeral</f:facet>
                                        <h:inputText readonly="true" value="#{numeral.normaNumeral}" maxlength="100"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Requisito</f:facet>
                                        <h:inputText readonly="true" value="#{numeral.normaRequisito}" maxlength="100"/>
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">Vinculación</f:facet>
                                        <h:inputText readonly="true" value="#{numeral.normaVinculaciN}" />
                                    </h:column>
                                </h:dataTable>
                            </h:panelGroup>
                        </p:dialog>

                        <h:dataTable styleClass="table" rows="50" var="norma" value="#{cAp3_3_8_Normas.normas}" >
                            <h:column >
                                <f:facet name="header">Normas</f:facet>
                                <h:selectOneMenu value="#{norma.normaId}" style="width: 280px" converter="#{catNormaConverterBean}" title="#{catalNormas.description}" >
                                    <f:selectItems value="#{catalogosView.catNormas}" var="catalNormas"/>
                                </h:selectOneMenu>
                                <br></br>
                                <h:inputText value="#{norma.normaDescripcion}" rendered="#{norma.normaId.normaId eq 9999}" maxlength="300"/>
                                <br></br>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Fecha de última modificación</f:facet>
                                <h:outputText value="#{norma.normaFechPublic}">
                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Numerales</f:facet>
                                <p:commandLink      
                                    actionListener="#{cAp3_3_8_Normas.seleccionarNorma}"
                                    value="Ver Numerales"
                                    update=":foDatosGen:wnumpC"
                                    type="button"
                                    oncomplete="numeralesWinC.show()" 
                                    class="btn btn-default">
                                    <f:attribute name="idt" value="#{norma.normaProyectoPK.normaProyId}" />
                                </p:commandLink>
                            </h:column>
                        </h:dataTable>                        
                    </div>
		
		
	</h:form>

	<div id="pnlNormas">
		<h:form id="fNormas">

			<p:outputPanel id="panelCaptura">
					<div id="titulo">
						<h3>Normas</h3>
					</div>
					<hr class="red"></hr>
					<button id='case_btn_ayuda' type="button" class="btn btn-default"
						data-toggle="tooltip" data-placement="bottom">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<span class="glyphicon-class">Ayuda</span>
					</button>
					<hr></hr>
	
					<p:commandLink id="btnAgregar"
						class="btn btn-default btn-xs glyphicon glyphicon-plus alinDerecha ui-button-textx"
						value="Agregar" action="#{Capnorm.crearNorma}"
						oncomplete="modalAgregar.show()" update=":fAgregar:pnlAgregar">
						<p:ajax process="@this" />
						<p:resetInput target=":fAgregar:pnlAgregar" />
					</p:commandLink>
					
					<p:commandLink id="btnEliminarNorm"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar"
						disabled="#{Capnorm.normasSeleccionadas.size()==0}"
						update="@(.multiCrit)" immediate="false"
						actionListener="#{Capnorm.cargaELiminar}"
						onsuccess="eliminarNorma.show();" value="Eliminar"
						style="float:right;">
						<p:ajax process="@this" />
					</p:commandLink>
					<br />
					<br />
					<br />
	
					<p:dataTable id="tablaDatos" var="c" rowIndexVar="rowIndexNorma"
						value="#{Capnorm.normas}"
						styleClass="table table-striped"
						selection="#{Capnorm.normasSeleccionadas}"
						rowKey="#{c.normaProyectoPK.normaProyId}" rows="10"
						paginator="true" paginatorPosition="bottom"
						emptyMessage="Sin registros.">
	
						<p:ajax event="toggleSelect" update=":fNormas:btnEliminarNorm" />
						<p:ajax event="rowSelectCheckbox" update=":fNormas:btnEliminarNorm" />
						<p:ajax event="rowUnselectCheckbox"
							update=":fNormas:btnEliminarNorm" />
	
						<p:column selectionMode="multiple"
							style="width:4%;text-align:center" />
						<p:column style="white-space: normal;width:3%;">
							<p:rowToggler
								rendered="#{!(c.listaNumeral == null or c.listaNumeral.size()==0)}" />
						</p:column>
						<p:column headerText="#" style="white-space: normal;width:3%;">
							<h:outputText value="#{rowIndexNorma+1}" />
						</p:column>
	
						<p:column headerText="Norma" style="white-space: normal;width:40%;">
							<h:outputText value="#{c.normaId.normaNombre} - #{c.normaId.normaNombreCorto}" rendered="#{c.normaId.normaId != 9999}"/>
							<h:outputText value="#{c.normaId.normaNombre}" rendered="#{c.normaId.normaId == 9999}"/>
						</p:column>
						
						<p:column headerText="Fecha de Publicación" style="white-space: normal;width:10%;">
							<h:outputText value="#{c.normaId.normaFechapublicacion}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
												
						<p:column headerText="Fecha última actualización"
							style="white-space: normal;width:10%;">
							<h:outputText value="#{c.fechaPublicacion}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
	
						<p:column headerText="Numeral"
							style="white-space: normal;width:7%;text-align:center">
	
							<p:commandButton
								class="btn btn-default btn-xs glyphicon glyphicon-pushpin"
								value=" "
								actionListener="#{Capnorm.cargarNumeral(c.normaProyectoPK.normaProyId)}"
								onsuccess="numeralesWin.show();" update=":fNumn:wnump">
							</p:commandButton>
	
						</p:column>
	
						<p:column style="white-space: normal;width:5%;text-align:center">
							<h:panelGroup
								rendered="#{c.normaId.normaId eq 9999 and c.idArchivoProyecto!=null}">

		            			<p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
		                      			  onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{c.idArchivoProyecto}'); return false;"/>	
							</h:panelGroup>
						</p:column>
	
						<p:column style="white-space: normal;width:5%;text-align:center">
							<p:commandButton
								class="btn btn-default btn-xs glyphicon glyphicon-upload"
								action="#{Capnorm.iniciarArchivo(c.normaProyectoPK.normaProyId)}"
								oncomplete="modalSubirArchivo.show()"
								update=":archivosPrep:pnlArchP" process="@this" value=""
								rendered="#{!(c.normaId.normaId != 9999)}">
								<p:resetInput target=":archivosPrep:pnlArchP" />
								<p:ajax process="@this" />
							</p:commandButton>
						</p:column>
	
						<p:rowExpansion>
							<p:dataTable id="tablaNumerales" value="#{c.listaNumeral}"
								var="numeral" rowIndexVar="rowIndexNumeral">
								<f:facet name="header">Numerales</f:facet>
								<p:column style="white-space: normal;width:3%;">
									<f:facet name="header">#</f:facet>
									#{rowIndexNumeral+1}
								</p:column>
								<p:column style="white-space: normal;width:20%;">
									<f:facet name="header">Numeral</f:facet>
	                 				#{numeral.normaNumeral}
	                 		</p:column>
								<p:column style="white-space: normal;width:35%;">
									<f:facet name="header">Requisito</f:facet>
	                 				#{numeral.normaRequisito}
	                 		</p:column>
								<p:column style="white-space: normal;width:30%;">
									<f:facet name="header">Vinculación</f:facet>
	                 				#{numeral.normaVinculaciNCorta}
	                 		</p:column>
								<p:column style="white-space: normal;width:6%;">
									<p:commandButton
										class="btn btn-default btn-xs glyphicon glyphicon-pencil"
										actionListener="#{Capnorm.editarNumeral(numeral)}"
										onsuccess="numeralesWin.show();" update=":fNumn:wnump"
										value=" " />
	
	
								</p:column>
								<p:column style="white-space: normal;width:6%;">
									<p:commandButton
										class="btn btn-default btn-xs glyphicon glyphicon-remove-circle"
										action="#{Capnorm.deleteNumeral(numeral)}"
										onsuccess="dlgAvisoBorrado.show();" update=":fNormas:tablaDatos" value=" " />
								</p:column>
							</p:dataTable>
						</p:rowExpansion>
	
						<f:facet name="footer">
						</f:facet>
					</p:dataTable>
			</p:outputPanel>
		</h:form>		
	</div>
	
	<!-- Formulario para agregar registro -->

	<h:form id="fAgregar">
		<p:dialog widgetVar="modalAgregar" id="modalAgregar" modal="true"
			closable="false" position="top">
			<f:facet name="header" style="background-color: black;">Normas - agregar norma</f:facet>
			<p:outputPanel id="pnlAgregar">
				<!-- INICIO -->
				<p:outputLabel value="Normas" />
				<p:outputLabel value="" for="normasA" />
				<p:outputLabel value=":" />
				<h:selectOneMenu id="normasA" class="form-control"
					value="#{Capnorm.catalogoNormasSeleccionada}"
					converter="#{catNormaConverterBean}" required="true"
					hideNoSelectionOption="true" requiredMessage="Este campo es obligatorio">
					<f:selectItem itemLabel="Seleccione" itemValue=""
						noSelectionOption="true"></f:selectItem>
					<!-- catalogosView.catNormas -->
					<f:selectItems value="#{Capnorm.catalogoNormas}" var="cat"
						itemValue="#{cat}" itemLabel="#{cat.normaNombre}" />
					<p:ajax event="change" update="@(.otraNorma)" />
				</h:selectOneMenu>
				<p:message for="normasA" />

				<h:panelGroup id="otraNorma" styleClass="otraNorma">
					<br />

					<p:outputPanel rendered="#{Capnorm.catalogoNormasSeleccionada!=null and Capnorm.catalogoNormasSeleccionada.normaId != 9999}" style="width: 100%">
						<p:outputLabel value="Nombre Corto:"/>
						<br />
						<p:outputLabel value="#{Capnorm.catalogoNormasSeleccionada.normaNombreCorto}" id="lblNombreCorto"/>
						<br />
						<br />
						
						<p:outputLabel value="Fecha de Publicación:"/>
						<br />	
						
						<h:outputText value="#{Capnorm.catalogoNormasSeleccionada.normaFechapublicacion}">
							<f:convertDateTime pattern="dd/MM/yyyy" />
						</h:outputText>
	
						<br />				
					</p:outputPanel>											
										
											
											
					<p:outputLabel value="Nueva"
						rendered="#{ Capnorm.catalogoNormasSeleccionada!=null and Capnorm.catalogoNormasSeleccionada.normaId eq 9999}" />
					<p:outputLabel value="" for="otraNormalInp"
						rendered="#{ Capnorm.catalogoNormasSeleccionada!=null and Capnorm.catalogoNormasSeleccionada.normaId eq 9999}" />
					<p:outputLabel value=":"
						rendered="#{ Capnorm.catalogoNormasSeleccionada!=null and Capnorm.catalogoNormasSeleccionada.normaId eq 9999}" />
					
					<h:inputText class="form-control"
						value="#{Capnorm.normaDescripcion}" id="otraNormalInp"
						rendered="#{ Capnorm.catalogoNormasSeleccionada!=null and Capnorm.catalogoNormasSeleccionada.normaId eq 9999}"
						maxlength="300" required="true"
						requiredMessage="Este campo es obligatorio" />
					<p:message for="otraNormalInp"
						rendered="#{ Capnorm.catalogoNormasSeleccionada!=null and Capnorm.catalogoNormasSeleccionada.normaId eq 9999}" />
				</h:panelGroup>
				<br />
				<p:outputLabel value="Fecha última actualización" />
				<p:outputLabel value="" for="fecha" />
				<p:outputLabel value=":" />
				<br />
				<p:calendar id="fecha" value="#{Capnorm.fechaPublicacion}"
					locale="es" required="true" pattern="dd/MM/yyyy"
					readonlyInput="true" requiredMessage="Este campo es obligatorio">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</p:calendar>
				<BR />
				<p:message for="fecha" />
				<!-- FIN -->
				<br />
				<br />
				<p:commandButton id="guardar" class="btn btn-primary"
					value="Guardar" update=":fNormas:tablaDatos,pnlAgregar"
					actionListener="#{Capnorm.agregarNorma}" style="float:right;">
					<p:resetInput target="pnlAgregar" />
				</p:commandButton>

				<p:commandButton id="cerrarModalA" class="btn btn-default"
					value="Cerrar" type="button" onclick="modalAgregar.hide()"
					immediate="true" style="float: right; margin-right: 5px;">
					<p:resetInput target=":fAgregar:pnlAgregar" />
				</p:commandButton>
			</p:outputPanel>
		</p:dialog>


		<p:dialog widgetVar="modalAlert" id="modalAlert" header="Aviso"
			modal="true" closable="false" position="top">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Registro guardado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlert.hide();">Aceptar</button>

		</p:dialog>
		<p:dialog widgetVar="modalAlertEditar" id="modalAlertEditar"
			header="Aviso" modal="true" closable="false" position="top">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Registro actualizado
				exitosamente.
			</div>
			<p:commandButton type="button" styleClass="btn btn-primary" id="cerrarModalME"
				value="Aceptar" onclick="modalAlertEditar.hide()" 
				update=":fNormas:tablaDatos" style="float: right;" />
		</p:dialog>
	</h:form>


	<!-- Form para confirmar la eliminación -->
	<h:form id="fEliminar">
		<p:dialog header="Eliminar norma" widgetVar="eliminarNorma"
			id="eliminarNormas" modal="true" position="top" showEffect="fade"
			hideEffect="fade" closable="false" resizable="false">
			<div class="alert alert-warning">¿Realmente desea borrar
				la(las) Norma(s)?</div>
			<p:outputPanel id="multiCrit" styleClass="multiCrit">
	            <h:panelGrid id="pnlArchivoAnexoEliminado" columns="2">	                    	
	            	<ui:repeat value="#{Capnorm.normasSeleccionadas}" var="norm">
	            	 	<h:outputText value="#{norm.normaId.normaNombre}" style="display:block"/>
	           		 </ui:repeat>
	            </h:panelGrid>			
			</p:outputPanel>
			<br />
			<br />
			<p:commandButton value="Sí" actionListener="#{Capnorm.deleteNormas}"
				class="btn btn-primary" update=":fNormas:tablaDatos, :fNormas:btnEliminarNorm" style="float:right;" />
			<p:commandButton type="button" value="No"
				update=":fNormas:tablaDatos" class="btn btn-default botonEliminar"
				onclick="eliminarNorma.hide()" style="float:right;" />
		</p:dialog>

		<p:dialog header="Aviso" widgetVar="dlgAvisoBorrado" modal="true"
			position="top" showEffect="fade" hideEffect="fade">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-remove"></span> Registro(s)
				eliminado(s) exitosamente.
			</div>
			<p:commandButton styleClass="btn btn-primary" id="cerrarModalD" type="button"
				value="Aceptar" onclick="dlgAvisoBorrado.hide()"
				style="float: right;" />
		</p:dialog>
	</h:form>




	<!-- Modal para agregar Numerales -->
	<h:form id="fNumn">
		<p:dialog widgetVar="numeralesWin" id="numeralesWin" position="top"
			modal="true" width="750" header="Numerales" closable="false">
			<h:panelGroup id="wnump">
				<p:outputLabel value="Numeral" />
				<p:outputLabel value="" for="normaNum" />
				<p:outputLabel value=":" />
				<p:inputText class="form-control"
					value="#{Capnorm.numeral.normaNumeral}" maxlength="100"
					id="normaNum" required="true" />
				<p:message for="normaNum" />
				<BR />

				<p:outputLabel value="Requisito" />
				<p:outputLabel value="" for="normReq" />
				<p:outputLabel value=":" />
				<p:inputText class="form-control"
					value="#{Capnorm.numeral.normaRequisito}" maxlength="100"
					id="normReq" required="true" />
				<p:message for="normReq" />
				<BR />

				<p:outputLabel value="Vinculación" />
				<p:outputLabel value="" for="normVin" />
				<p:outputLabel value=":" />
				<p:inputTextarea class="form-control"
					value="#{Capnorm.numeral.normaVinculaciN}" rows="4" cols="50"
					id="normVin" required="true" maxlength="1000" counter="contador1"
					counterTemplate="Quedan {0} caracteres." autoResize="false" />
				<h:outputText id="contador1" />
				<BR />
				<p:message for="normVin" />

				<p:commandButton id="guardar" class="btn btn-primary"
					value="Guardar" action="#{Capnorm.guardarNumeral}"
					style="float:right;" update=":fNormas:tablaDatos, :fNumn:wnump " />

				<p:commandButton id="cerrarModalA"
					class="btn btn-default botonEliminar" value="Cerrar" type="button"
					onclick="numeralesWin.hide()" immediate="true"
					style="float: right;" />

			</h:panelGroup>


		</p:dialog>
	</h:form>
	<!-- Fin de modal para agregar numerales -->



	<!-- /////////////////////////////////////////////////// -->
	<!-- MODAL PARA SUBIR ARCHIVOS -->
	<h:form id="archivosPrep">
		<p:dialog header="Carga de archivo" draggable="false"
			widgetVar="modalSubirArchivo" id="dlgSubirArchivo" modal="true"
			closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">
			<p:outputPanel id="pnlArchP">
				<p:outputLabel value="Nombre" />
				<p:outputLabel value="" for="txtNombreArchivoP" />
				<p:outputLabel value=":" />
				<br />
				
				<p:inputText id="txtNombreArchivoP"
					value="#{Capnorm.archivoTemporal.nombre}" style="width:100%;"
					required="true" requiredMessage="Este campo es obligatorio"
					maxlength="50">
				</p:inputText>
				<p:message for="txtNombreArchivoP" />
				<br />

				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="txtDescripcionArchivoP" />
				<p:outputLabel value=":" />
				<br />
				
				<p:inputTextarea id="txtDescripcionArchivoP" class="form-control"
					value="#{Capnorm.archivoTemporal.descripcion}" cols="50" rows="3"
					maxlength="100" counter="descountP"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false">
				</p:inputTextarea>
				<h:outputText id="descountP" />
				<p:message for="txtDescripcionArchivoP" />
				<br />

				<p:outputLabel id="lblReservadoArchivoP" value="Reservado:" />
				<p:selectBooleanCheckbox value="#{Capnorm.cargaBean.reservado}">
				</p:selectBooleanCheckbox>
				<br />				
				
				<br />
				
				<p:outputLabel value="Cargar archivo"/>
				<p:outputLabel value="" for="seleArchP" />
				<p:outputLabel value=":" />
				<br />
				
				<h:panelGrid columns="2" style="width: 100%">
					<p:fileUpload id="seleArchP" mode="advanced" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
	                    	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"
							fileUploadListener="#{Capnorm.cargaBean.handleFileUpload}"
							sizeLimit="10485760" label="Seleccionar archivo"
							invalidSizeMessage="El tamaño del archivo es demasiado grande"
							invalidFileMessage="Tipo de archivo inválido" update="lblCargaArchivoAnexo"
							allowTypes="/(\.|\/)(pdf|doc|docx)$/" auto="true" required="true"
							requiredMessage="No seleccionó el archivo." />
						
			            <c:if test="#{empty Capnorm.cargaBean.file.fileName}">
							<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
			            </c:if>		    
			              
			            <c:if test="#{not empty Capnorm.cargaBean.file.fileName}">
							<p:outputLabel id="lblCargaArchivoAnexo" value="#{Capnorm.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
			            </c:if> 						
				</h:panelGrid>		
				
				<p:outputLabel id="msjValida" value="#{Capnorm.msj}" style="color:#B40431" />				

				<p:message id="msgFileAnexos" for="seleArchP" display="true"/>
				<br />

				<div id="divExtensiones" class="alert alert-info">
					<p:outputLabel value="Extensiones permitidas: (pdf/doc/docx)"/>
					<br/>
												
						<p:outputLabel value="El tamaño límite es de 10MB"/>					
					</div>
				<br/>

				<p:commandButton id="btnGuardarModalArchivoP" oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
		  						$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
					class="btn btn-primary" style="float: right;" value="Guardar"
					update="pnlArchP, :fNormas:tablaDatos" actionListener="#{Capnorm.guardarArchivo}"
					validateClient="true">
					<f:attribute name="tipo" value="preparacion" />
					<p:ajax process="@this" /> 
				</p:commandButton>
				
				<p:commandButton id="btnCerrarModalArchivoP" class="btn btn-default"
					style="float: right;" value="Cerrar"
					onclick="modalSubirArchivo.hide();" update="pnlArchP"
					process="@this" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlert" id="modalAlert" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Archivo guardado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlert.hide();">Aceptar</button>
		</p:dialog>
	</h:form>
	<!-- 	Fin de modales para archivo -->


	<h:form>
		<div id="componenteGuarda" style="float: right;">
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{Capnorm.guardar}" onsuccess="parent.actualizaBarra();" />
		</div>
	</h:form>

	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : 64,
			nsub : 1,
			capitulo : 3,
			subcapitulo : 3,
			seccion : -1,
			apartado : -1
		}, case_ayuda);
	</script>
</h:body>
</html>
