<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link href="assets/images/favicon.ico" rel="shortcut icon" />
<!--         <link rel="stylesheet" href="../../assets/css/gobmx.css"/> -->
<!--         <link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> 		 -->
		<!-- Gráfica Base Local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
    </h:head>
    <h:body onload="javascript:getInformacionAdicional('#{capitulo3View.strComentProy}','foDatosGen',6,0,0,'Planes y/o programas de desarrollo urbano (PDU)')">
    <div class="col-md-12" id="mensaje"></div>
        
        <ui:include src="/loading.xhtml"/>
        
        <h:form id="foDatosGen">
            
            <h:inputHidden id="ubicActual" value="#{capitulo3View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo3View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>

            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>

            <div id="carParProy">               
                <p:panel id="pCaraProy" style="border: 0px;">
                    <div id="titulo"></div>
                    <hr class="red"></hr>
					<button id='case_btn_ayuda' type="button" class="btn btn-default"
					data-toggle="tooltip" data-placement="bottom">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
					</button><hr></hr>                     
                    
                    <!-- Div de pregunta PDU -->                                       	
                    <p:outputLabel id="lblPreguntaPDU" value="¿Su proyecto requiere el uso de PDU?"/><p:spacer width="20px"/>					    
                    
                    <h:commandButton id="btnNo"
						styleClass="#{!cap3_3_PDU.respuestaIncidePDU?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}" 
						value="No" process="@this" immediate="true">
						<p:ajax event="click" 
								listener="#{cap3_3_PDU.respuestaPDUNo}" process="@this"
								update=":foDatosGen:btnSi, :foDatosGen:btnNo, :foDatosGen:btnAgregarPDU, :foDatosGen:btnEliminarPDU"/>												
					</h:commandButton>
					
					<p:spacer width="5px" />					
					
					<h:commandButton id="btnSi"
						styleClass="#{cap3_3_PDU.respuestaIncidePDU?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}"
						value="SI" process="@this" immediate="true">
						<p:ajax event="click" process="@this"
								listener="#{cap3_3_PDU.respuestaPDUSi}" 
								update=":foDatosGen:btnNo, :foDatosGen:btnSi, :foDatosGen:btnAgregarPDU, :foDatosGen:btnEliminarPDU"/>													
					</h:commandButton>


<!--                     <p:commandButton id="btnNo" -->
<!-- 						styleClass="#{!cap3_3_PDU.respuestaIncidePDU?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}"  -->
<!-- 									action="#{cap3_3_PDU.respuestaPDUNo}" update=":foDatosGen:btnSi, :foDatosGen:btnNo, :foDatosGen:btnAgregarPDU, :foDatosGen:btnEliminarPDU"  -->
<!-- 									value="No" immediate="true">												 -->
<!-- 					</p:commandButton> -->
					
<!-- 					<p:spacer width="5px" />					 -->
					
<!-- 					<p:commandButton id="btnSi" -->
<!-- 						styleClass="#{cap3_3_PDU.respuestaIncidePDU?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}" -->
<!-- 						value="SI" action="#{cap3_3_PDU.respuestaPDUSi}" update=":foDatosGen:btnNo, :foDatosGen:btnSi, :foDatosGen:btnAgregarPDU, :foDatosGen:btnEliminarPDU" -->
<!-- 						immediate="true">													 -->
<!-- 					</p:commandButton> -->


				<!-- Botones Eliminar y Agregar -->
				<p:commandLink id="btnAgregarPDU" value="Agregar"
					class="btn btn-default glyphicon glyphicon-plus ui-button-textx"
					disabled="#{!cap3_3_PDU.respuestaIncidePDU}"
					style="float:right;" actionListener="#{cap3_3_PDU.crearNuevoPDU}"
					oncomplete="modal.show()" immediate="true"
					update=":formAgregarEditarPDU:pnlContenidoModal, :formHeaderAgregarEditarPDU:opHeaderAgregarEditarPDU">
					<p:resetInput target=":formAgregarEditarPDU:pnlContenidoModal" />
				</p:commandLink>
				
				<p:commandLink id="btnEliminarPDU"
					class="btn btn-default glyphicon glyphicon-remove-circle ui-button-textx botonEliminar"
					value="Eliminar" style="float:right;"
					disabled="#{cap3_3_PDU.pdusSeleccionados.size() == 0}"
					process="@this" onclick="modalEliminar.show()"
					update=":formEliminarPDU:pnlPdusEliminar">
				</p:commandLink>
				<br />
				<br />
				<br />
				<!-- $('#modalPUD').modal('show') -->
					                   
                    <!-- TABLA QUE SE PRECARGA AL MOSTRAR LA VISTA -->
                    <div id="componenteCaptura" style="display:none;"><h:panelGroup id='panelCaptura'>
<!--                         <p:scrollPanel mode="native" style="width:auto; border: none;"> -->
                        <p:dataTable styleClass="table" var="c" rowIndexVar="rowIndexPDU" 
                        	value="#{cap3_3_PDU.pdus}" id="dPdu1"
                        	selection="#{cap3_3_PDU.pdusSeleccionados}" rowKey="#{c.pdumProyectoPK.pdumId}"
                        	paginator="true" paginatorPosition="bottom" rows="20" emptyMessage="Sin registros." >
                        	
                        	<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarPDU"/>
                        	<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarPDU"/>
                        	<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarPDU"/>
                            <p:column id="check" selectionMode="multiple" style="width:3%;text-align:center"
                            	disabledSelection="#{c.claveOrigenRegistro != 1}">                            	                             
                            </p:column>
                            <p:column style="white-space: normal;width:3%;text-align:center">
                                <f:facet name="header">#</f:facet>
                                    <h:outputLabel value="#{rowIndexPDU+1}"/>
                            </p:column>                            
                            <p:column style="white-space: normal;">
                                <f:facet name="header">Componente</f:facet>
                                <h:outputLabel value="#{c.pdumComp}" rendered="#{c.pdumComp ne null}"/>
                                <h:outputLabel value="#{c.pdumComp}" maxlength="80" rendered="#{c.pdumComp eq null}"/>
                            </p:column>
                            <p:column style="white-space: normal;">
                                <f:facet name="header">Nombre del plan o programa</f:facet>
                                <h:outputLabel value="#{c.pdumNombre}" maxlength="254"/>
                            </p:column>
                            <p:column style="white-space: normal;">
                                <f:facet name="header">Fecha de publicación</f:facet>
                                <h:outputText value="#{c.fechaPublicacion}" maxlength="254">
                                	<f:convertDateTime pattern="dd/MM/yyyy"/>
                                </h:outputText>                                
                            </p:column>
                            <p:column style="white-space: normal;">
                                <f:facet name="header">Usos</f:facet>
                                <h:outputLabel value="#{c.pdumUsos}" maxlength="254"/>
                            </p:column>
                            <p:column style="white-space: normal;">
                                <f:facet name="header">Vinculación</f:facet>
                                <h:outputLabel value="#{c.pdumVinculacionCorta}" maxlength="200"/>                                
                            </p:column> 
                            <p:column style="white-space: normal;width:5%;text-align:center">
                                <f:facet name="header"></f:facet>                                		                       
		                        <p:button
								styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open"
								value=""
								onclick="window.open('../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{c.idArchivoProyecto}'); return false;"
								disabled="#{empty c.idArchivoProyecto}"/>	                                          		                        
                            </p:column>                          
                            <p:column style="white-space: normal;width:5%;text-align:center">

                                <f:facet name="header"></f:facet>
                                <p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-upload" value=""
                                	action="#{cap3_3_PDU.iniciarArchivo}" oncomplete="modalSubirArchivo.show()" 
                                	update=":formSubirArchivoPDU:pnlContenidoArchivo" process="@this"
                                	disabled="#{c.claveOrigenRegistro != 1}">
                                	<f:param name="id" value="#{c.pdumProyectoPK.pdumId}" />
                                	<p:resetInput target=":formSubirArchivoPDU:pnlContenidoArchivo"/>	                         	                      	
		                        </p:commandButton>
                            </p:column>                           
                            <p:column style="white-space: normal;width:5%;text-align:center">
                                <f:facet name="header"></f:facet>                                
                               	<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value=""
                                	action="#{cap3_3_PDU.mostrarPduSeleccionado}" oncomplete="dlgEditarPDUM.show()" immediate="true"
                                	update=":formEditarPDU:pnlContenidoModalEditarPDUM, :formHeaderEditarPDU:opHeaderEditarPDU">
                                	<f:param name="prowindexPDU" value="#{rowIndexPDU+1}" />
                                	<f:param name="id" value="#{c.pdumProyectoPK.pdumId}" />
                                	<p:resetInput target=":formAgregarEditarPDU:pnlContenidoModal"/>		                         		                         	
		                        </p:commandButton>                                                                                              
                            </p:column>                                              
                        </p:dataTable>
<!--                         </p:scrollPanel> -->
                    </h:panelGroup></div>
                </p:panel>
				
						
				
				<!-- Guarda el avance del proyecto -->
				<div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right:  20px">
                    <p:commandButton value="Guardar" class="btn btn-primary" process="@this"
                    	action="#{cap3_3_PDU.guardarAvance}" onsuccess="parent.actualizaBarra();"/>
                </div>
                

				
				
                <!-- <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right:  20px">
                    <p:commandButton value="Guardar" class="btn btn-primary"  action="#{cap3_3_PDU.guardar}" onsuccess="parent.actualizaBarra();"/>
                </div>-->
            </div>
        </h:form>
        
				<!-- Ventana modal para agregar y actualizar PDU -->
				<p:dialog draggable="false" widgetVar="modal" id="dlgModal" modal="true" closable="false">					
					<f:facet name="header">
						<h:form id="formHeaderAgregarEditarPDU">
							<p:outputPanel id="opHeaderAgregarEditarPDU">
								<h4 class="modal-title">Planes y/o programas de desarrollo urbano (PDU) - agregar registro</h4>	   	
						   	</p:outputPanel>
						</h:form>
					</f:facet>
					
					<h:form id="formAgregarEditarPDU">
						<h:panelGrid id="pnlContenidoModal">
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="Componente"/>
						  			<p:outputLabel id="lblComponente" value="" for="txtComponente"/>
						  			<p:outputLabel value=":" />
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputText id="txtComponente" value="#{cap3_3_PDU.pduSeleccionado.pdumComp}" style="width:100%;"
						  				required="true" requiredMessage="Este campo es obligatorio" 
						  				disabled="#{cap3_3_PDU.pduSeleccionado.claveOrigenRegistro != 1 and cap3_3_PDU.pduSeleccionado.claveOrigenRegistro != null}" maxlength="80">
						  			</p:inputText>
						  			<p:message for="txtComponente" display="text" />
						  		</p:column>
						  	</p:row>
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="Nombre del plan o programa"/>
						  			<p:outputLabel id="lblPlan" value="" for="txtPlan"/>
						  			<p:outputLabel value=":"/>
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputText id="txtPlan" value="#{cap3_3_PDU.pduSeleccionado.pdumNombre}" style="width:100%;" maxlength="254"
						  				required="true" requiredMessage="Este campo es obligatorio" 
						  				disabled="#{cap3_3_PDU.pduSeleccionado.claveOrigenRegistro != 1 and cap3_3_PDU.pduSeleccionado.claveOrigenRegistro != null}">
						  			</p:inputText>
						  			<p:message for="txtPlan" display="text" />
						  		</p:column>
						  	</p:row>	
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="Fecha de publicación"/>
						  			<p:outputLabel id="lblFechaPublicacion" value="" for="txtFechaPublicacion"/>
						  			<p:outputLabel value=":"/>
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:calendar id="txtFechaPublicacion" value="#{cap3_3_PDU.pduSeleccionado.fechaPublicacion}" locale="es"
						  				pattern="dd/MM/yyyy" required="true" requiredMessage="Este campo es obligatorio"/>
						  			<p:message for="txtFechaPublicacion" display="text" />								  								  														  			
						  		</p:column>
						  	</p:row>
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="Usos"/>
						  			<p:outputLabel id="lblUsos" value="" for="txtUsos"/>
						  			<p:outputLabel value=":"/>
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputText id="txtUsos" value="#{cap3_3_PDU.pduSeleccionado.pdumUsos}" style="width:100%;" maxlength="254"
						  				required="true" requiredMessage="Este campo es obligatorio">
						  			</p:inputText>
						  			<p:message for="txtUsos" display="text" />	
						  		</p:column>
						  	</p:row>	
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="Clave usos"/>
						  			<p:outputLabel id="lblClaveUsos" value="" for="txtClaveUsos"/>
						  			<p:outputLabel value=":"/>
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputText id="txtClaveUsos" value="#{cap3_3_PDU.pduSeleccionado.pdumClaveUsos}" maxlength="254"
						  				required="true" requiredMessage="Este campo es obligatorio">
						  			</p:inputText>
						  			<p:message for="txtClaveUsos" display="text" />	
						  		</p:column>
						  	</p:row>	
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="COS" />
						  			<p:outputLabel id="lblCos" value="" for="txtCos"/>
						  			<p:outputLabel value=":" />
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputText id="txtCos" value="#{cap3_3_PDU.pduSeleccionado.pdumCos}" style="width:100%;"
						  				required="true" requiredMessage="Este campo es obligatorio" maxlength="499">
						  			</p:inputText>
						  			<p:message for="txtCos" display="text" />	
						  		</p:column>
						  	</p:row>
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="CUS" />
						  			<p:outputLabel id="lblCus" value="" for="txtCus"/>
						  			<p:outputLabel value=":" />
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputText id="txtCus" value="#{cap3_3_PDU.pduSeleccionado.pdumCus}" style="width:100%;"
						  				required="true" requiredMessage="Este campo es obligatorio" maxlength="499">
						  			</p:inputText>
						  			<p:message for="txtCus" display="text" />
						  		</p:column>
						  	</p:row>  	
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="Vinculación" />
						  			<p:outputLabel id="lblVinculacion" value="" for="txtVinculacion"/>
						  			<p:outputLabel value=":" />
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputTextarea id="txtVinculacion" rows="3" cols="85" counter="display" maxlength="1000" 
						  				counterTemplate="Quedan {0} caracteres." autoResize="false" value="#{cap3_3_PDU.pduSeleccionado.pdumVinculacion}"
						  				required="true" requiredMessage="Este campo es obligatorio" />
						  				<br />
		    						<h:outputText id="display" />
		    						<p:message for="txtVinculacion" display="text" />
						  		</p:column>
						  	</p:row>
						  </h:panelGrid>
						  <br />
					<div>
						<p:commandButton styleClass="btn btn-primary alinDerecha"
							id="btnGuardar" value="Guardar"
							action="#{cap3_3_PDU.validarDatos}"
							update=":formAlerta:lblAlerta, :formAgregarEditarPDU:pnlContenidoModal, :foDatosGen:dPdu1">
							<p:resetInput target=":formAgregarEditarPDU:pnlContenidoModal" />
						</p:commandButton>
						
						<p:commandButton type="button" styleClass="btn btn-default alinDerecha botonEliminar"
							id="btnCerrar" value="Cerrar" onclick="modal.hide()" update=":formAgregarEditarPDU:pnlContenidoModal">
							<p:resetInput target=":formAgregarEditarPDU:pnlContenidoModal" />
						</p:commandButton>
					</div>					
				</h:form>

			</p:dialog>		
			
			
				<!-- ======================================= VENTANA MODAL PARA ACTUALIZAR UN REGISTRO DE PDUM DEL PROYECTO.======================================== -->
			
				<p:dialog draggable="false" widgetVar="dlgEditarPDUM" id="dlgModalEditarPDUM" modal="true" closable="false">					
					<f:facet name="header">
						<h:form id="formHeaderEditarPDU">
							<p:outputPanel id="opHeaderEditarPDU">
								<h4 class="modal-title">Planes y/o programas de desarrollo urbano (PDU) - editar PDU # #{cap3_3_PDU.rowIndexPDUEditar}</h4>	   	
						   	</p:outputPanel>
						</h:form>
					</f:facet>
					
					<h:form id="formEditarPDU">
						<h:panelGrid id="pnlContenidoModalEditarPDUM">
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="Componente"/>
						  			<p:outputLabel id="lblComponente" value="" for="txtComponente"/>
						  			<p:outputLabel value=":" />
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputText id="txtComponente" value="#{cap3_3_PDU.pduSeleccionado.pdumComp}" style="width:100%;" maxlength="80"
						  				required="true" requiredMessage="Este campo es obligatorio" 
						  				disabled="#{cap3_3_PDU.pduSeleccionado.claveOrigenRegistro != 1 and cap3_3_PDU.pduSeleccionado.claveOrigenRegistro != null}">
						  			</p:inputText>
						  			<p:message for="txtComponente" display="text" />
						  		</p:column>
						  	</p:row>
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="Nombre del plan o programa"/>
						  			<p:outputLabel id="lblPlan" value="" for="txtPlan"/>
						  			<p:outputLabel value=":"/>
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputText id="txtPlan" value="#{cap3_3_PDU.pduSeleccionado.pdumNombre}" style="width:100%;" maxlength="254"
						  				required="true" requiredMessage="Este campo es obligatorio" disabled="#{cap3_3_PDU.pduSeleccionado.claveOrigenRegistro != 1 and cap3_3_PDU.pduSeleccionado.claveOrigenRegistro != null}">
						  			</p:inputText>
						  			<p:message for="txtPlan" display="text" />
						  		</p:column>
						  	</p:row>	
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="Fecha de publicación"/>
						  			<p:outputLabel id="lblFechaPublicacion" value="" for="txtFechaPublicacion"/>
						  			<p:outputLabel value=":"/>
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:calendar id="txtFechaPublicacion" value="#{cap3_3_PDU.pduSeleccionado.fechaPublicacion}" locale="es"
						  				pattern="dd/MM/yyyy" required="true" requiredMessage="Este campo es obligatorio"/>
						  			<p:message for="txtFechaPublicacion" display="text" />								  								  														  			
						  		</p:column>
						  	</p:row>
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="Usos"/>
						  			<p:outputLabel id="lblUsos" value="" for="txtUsos"/>
						  			<p:outputLabel value=":"/>
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputText id="txtUsos" value="#{cap3_3_PDU.pduSeleccionado.pdumUsos}" style="width:100%;"
						  				required="true" requiredMessage="Este campo es obligatorio" maxlength="254">
						  			</p:inputText>
						  			<p:message for="txtUsos" display="text" />	
						  		</p:column>
						  	</p:row>	
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="Clave usos"/>
						  			<p:outputLabel id="lblClaveUsos" value="" for="txtClaveUsos"/>
						  			<p:outputLabel value=":"/>
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputText id="txtClaveUsos" value="#{cap3_3_PDU.pduSeleccionado.pdumClaveUsos}"
						  				required="true" requiredMessage="Este campo es obligatorio" maxlength="254">
						  			</p:inputText>
						  			<p:message for="txtClaveUsos" display="text" />	
						  		</p:column>
						  	</p:row>	
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="COS" />
						  			<p:outputLabel id="lblCos" value="" for="txtCos"/>
						  			<p:outputLabel value=":" />
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputText id="txtCos" value="#{cap3_3_PDU.pduSeleccionado.pdumCos}" style="width:100%;"
						  				required="true" requiredMessage="Este campo es obligatorio" maxlength="499">
						  			</p:inputText>
						  			<p:message for="txtCos" display="text" />	
						  		</p:column>
						  	</p:row>
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="CUS" />
						  			<p:outputLabel id="lblCus" value="" for="txtCus"/>
						  			<p:outputLabel value=":" />
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputText id="txtCus" value="#{cap3_3_PDU.pduSeleccionado.pdumCus}" style="width:100%;"
						  				required="true" requiredMessage="Este campo es obligatorio" maxlength="499">
						  			</p:inputText>
						  			<p:message for="txtCus" display="text" />
						  		</p:column>
						  	</p:row>  	
						  	<p:row>
						  		<p:column>
						  			<p:outputLabel value="Vinculación" />
						  			<p:outputLabel id="lblVinculacion" value="" for="txtVinculacion"/>
						  			<p:outputLabel value=":" />
						  		</p:column>
						  		</p:row>
						  		<p:row>
						  		<p:column>
						  			<p:inputTextarea id="txtVinculacion" rows="3" cols="85" counter="display" maxlength="1000" 
						  				counterTemplate="Quedan {0} caracteres." autoResize="false" value="#{cap3_3_PDU.pduSeleccionado.pdumVinculacion}"
						  				required="true" requiredMessage="Este campo es obligatorio" />
						  				<br />
		    						<h:outputText id="display" />
		    						<p:message for="txtVinculacion" display="text" />
						  		</p:column>
						  	</p:row>
						  </h:panelGrid>
						  <br />
					<div>
						<p:commandButton styleClass="btn btn-primary alinDerecha"
							id="btnGuardar" value="Guardar"
							action="#{cap3_3_PDU.validarDatos}"
							update=":formAlerta:lblAlerta, :formEditarPDU:pnlContenidoModalEditarPDUM, :foDatosGen:dPdu1">
							<p:resetInput target=":formEditarPDU:pnlContenidoModalEditarPDUM" />
						</p:commandButton>
						
						<p:commandButton type="button" styleClass="btn btn-default alinDerecha botonEliminar"
							id="btnCerrar" value="Cerrar" onclick="dlgEditarPDUM.hide()" update=":formEditarPDU:pnlContenidoModalEditarPDUM">
							<p:resetInput target=":formEditarPDU:pnlContenidoModalEditarPDUM" />
						</p:commandButton>
					</div>					
				</h:form>

			</p:dialog>			
			
			
			
				
				
				<!-- Ventana modal para eliminar los PDUS seleccionados -->
			<p:dialog id="dlgModalEliminar" header="Eliminar PDU" modal="true" widgetVar="modalEliminar">
					<div class="alert alert-warning">
						<p:outputLabel id="lblMensajeBorrar" value="¿Realmente desea borrar el(los) registro(s)?"/>
						<br/>
					</div>
					
					<h:form id="formEliminarPDU">
						<h:panelGrid id="pnlPdusEliminar">						
							<c:forEach items="#{cap3_3_PDU.pdusSeleccionados}" var="pduEliminar">
								<p:row>
									<p:column>
										<p:outputLabel value="#{pduEliminar.pdumNombre}"/>
									</p:column>								
								</p:row>
							</c:forEach>
						</h:panelGrid>
						<br />
						
						<p:commandButton styleClass="btn btn-primary alinDerecha" value="Si"
							process="@this" action="#{cap3_3_PDU.eliminarPdus}"
							oncomplete="modalAlerta.show();modalEliminar.hide()" update=":formAlerta:lblAlerta, :foDatosGen:dPdu1, :foDatosGen:btnEliminarPDU">
						</p:commandButton>
						
						<p:commandButton styleClass="btn btn-default alinDerecha botonEliminar" value="No"
							onclick="modalEliminar.hide()" process="@this" />					
					</h:form>				
			</p:dialog>
				
				<!-- Ventana modal alerta -->
				<p:dialog id="dlgAlerta" header="Alerta" modal="true" widgetVar="modalAlerta">	
					<h:form id="formAlerta">
						<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span>
							<p:outputLabel id="lblAlerta" value=" #{cap3_3_PDU.alertText}"/>
						</div>
						<p:commandButton styleClass="btn btn-primary alinDerecha" value="Aceptar" onclick="modalAlerta.hide();" />						
					</h:form>						
				</p:dialog>      
				
				
               <!-- MODAL PARA SUBIR ARCHIVOS -->
               <p:dialog draggable="false" widgetVar="modalSubirArchivo" modal="true" closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
					 $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">                               
                         
                        <f:facet name="header">
							<h4 class="modal-title">Cargar Archivo</h4>	   	
						</f:facet>
                         
                         <h:form id="formSubirArchivoPDU">
	                         <p:outputPanel id="pnlContenidoArchivo">
	
		                                <p:outputLabel value="Nombre" />
		                                <p:outputLabel id="lblNombreArchivo" value="" for="txtNombreArchivo"/>
		                                <p:outputLabel value=":" />	                                                                   
										<br />
										
	                            		<p:inputText id="txtNombreArchivo" value="#{cap3_3_PDU.archivoTemporal.nombre}" 
	                            			required="true" requiredMessage="Este campo es obligatorio" validatorMessage="Este campo es obligatorio" 
	                            			maxlength="50" style="width: 100%">
	                            		</p:inputText>
	                            		<p:message for="txtNombreArchivo" display="text" />									
										<br />
										
	                         			<p:outputLabel value="Descripcion"/>
	                         			<p:outputLabel id="lblDescripcionArchivo" value="" for="txtDescripcionArchivo"/>
	                         			<p:outputLabel value=":"/>
	
	                         			<p:inputTextarea id="txtDescripcionArchivo" class="form-control" value="#{cap3_3_PDU.archivoTemporal.descripcion}" 
	                         			cols="50" rows="3" maxlength="200" counter="descount" counterTemplate="Quedan {0} caracteres." 
	                         			required="true" requiredMessage="Este campo es obligatorio" validatorMessage="Este campo es obligatorio" autoResize="false">
	                         			</p:inputTextarea>
	                               		<h:outputText id="descount" />
	                               		<p:message for="txtDescripcionArchivo" display="text" />
	                               		<br />
	
	                               		<p:outputLabel id="lblReservadoArchivo" value="Reservado:"/>
	
	                         			<p:selectBooleanCheckbox value="#{cap3_3_PDU.cargaBean.reservado}">
								            <p:ajax />
								        </p:selectBooleanCheckbox>
										<br />
	                         			
	                         			<p:outputLabel value="Seleccione el archivo"/>
	                         			<p:outputLabel value="" for="fUploadArchivo"/>
	                         			<p:outputLabel value=":"/>
	
	                                  
	                   <h:panelGrid columns="2" style="width: 100%" >
		                    <p:fileUpload mode="advanced" id="fUploadArchivo" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
		                    	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
			                    fileUploadListener="#{cap3_3_PDU.cargaBean.handleFileUpload}"	                                  
			                    sizeLimit="10485760" 
			                    label="Seleccione el archivo"                                
			                    invalidSizeMessage="El tamaño del archivo es demasiado grande"
			                    invalidFileMessage="Tipo de archivo invalido"
			                    allowTypes="/(\.|\/)(pdf|docx|txt)$/" update="lblCargaArchivoAnexo"
			                    required="true" requiredMessage="No seleccionó el archivo." 
			                    auto="true" style="width: 100%"/>	
			               		                
				                <c:if test="#{empty cap3_3_PDU.cargaBean.file.fileName}">
									<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
				                </c:if>		    
				                
				                <c:if test="#{not empty cap3_3_PDU.cargaBean.file.fileName}">
									<p:outputLabel id="lblCargaArchivoAnexo" value="#{cap3_3_PDU.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
				                </c:if>            
						</h:panelGrid>					
						<br />
						
						<p:outputLabel id="msjValida" value="#{cap3_3_PDU.msj}" style="color:#B40431" />
						<p:message for="fUploadArchivo" display="text" />
						
						<br />
						
						<div id="divExtensiones" class="alert alert-info">
							<p:outputLabel value="Extensiones permitidas: (pdf/docx/txt)"/>
							<br/>
												
							<p:outputLabel value="El tamaño límite es de 10MB"/>					
						</div>
		                                  
	                        </p:outputPanel>
	                        <br />
	
					<p:commandButton id="btnGuardarModalArchivo"
						class="btn btn-primary alinDerecha" value="Guardar"
						action="#{cap3_3_PDU.guardarArchivo}"
						oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
					$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
						update=":formAlerta:lblAlerta :formSubirArchivoPDU:pnlContenidoArchivo :foDatosGen:dPdu1" />
					
					<p:commandButton id="btnCerrarModalArchivo" type="button" class="btn btn-default alinDerecha botonEliminar" value="Cerrar"
						onclick="modalSubirArchivo.hide();"/>                         
                 
                 </h:form>       
			</p:dialog>				  
        
        
        
	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo3View.claveTramite}",
			nsub : "#{capitulo3View.proyecto.nsub}",
			capitulo : 3,
			subcapitulo : 6,
			seccion : -1,
			apartado : -1
		}, case_ayuda);
	</script>
</h:body>
</html>
