<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title></title>
		        <meta http-equiv="Expires" content="0"/>
		        <meta http-equiv="Last-Modified" content="0"/>
		        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate"/>
		        <meta http-equiv="Pragma" content="no-cache"/>
		        <meta charset="UTF-8"/>
		        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
                <link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!--         		<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" />  -->
				<!-- Gráfica Base Local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script> 
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
        <script type="text/javascript">
			function cTitulo(titulo) {
				$("#breadCrumb").empty();
				$("#breadCrumb").append(
						'<nav><ul class="list-inline"><li>' + titulo
								+ '</li></ul></nav>');
			}
            function cambiaIframe(destino) {
//             	alert("Destino = "+destino);
                 document.getElementById('ifrmPrincipal').src = destino;
            }
            function actualizaBreadCrumb(destino) {
                document.getElementById('breadCrumb').innerHTML = destino;
            }
        </script>
    </h:head>
    <h:body onload="javascript:getInformacionAdicional('#{capitulo3View.strComentProy}','foDatosGen',4,0,0,'Programa de ordenamiento ecológico territorial (POET)')">

	<ui:include src="/loading.xhtml"/>

    <div class="col-md-12" id="mensaje"></div>
        <h:form id="foDatosGen">

            <h:inputHidden id="ubicActual" value="#{capitulo3View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo3View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>
            
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>

            <div id="foDatosGen"> 
                
                <h:panelGroup id='pCaraProy'>
                    <div id="titulo"></div>
                    <hr class="red"></hr>
<!--                     <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> Ayuda   -->
           			<button id='case_btn_ayuda' type="button" class="btn btn-default"
							data-toggle="tooltip" data-placement="bottom">
							<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
							<span class="glyphicon-class">Ayuda</span>
					</button>
					<hr></hr>
					<h:panelGroup id='confirm'>
						<!-- Div de pregunta POET -->                                       	
	                    <p:outputLabel id="lblPreguntaPDU" value="¿Su proyecto incide en algún POET?"/><p:spacer width="20px"/>	
	                    				    
	                    <h:commandButton id="btnNo"
							styleClass="#{!capitulo3View.respuestaPOET?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}" value="No">
							<p:ajax event="click" listener="#{capitulo3View.respuestaPOETNo}" 
									update=":foDatosGen:btnAgregar, :foDatosGen:btnNo, :foDatosGen:btnSi"/>							
						</h:commandButton>
					
						<p:spacer width="5px" />
					
						<h:commandButton id="btnSi"
							styleClass="#{capitulo3View.respuestaPOET?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}" value="SÍ">
							<p:ajax event="click" listener="#{capitulo3View.respuestaPOETSi}" 
								    update=":foDatosGen:btnAgregar, :foDatosGen:btnNo, :foDatosGen:btnSi"/>								
						</h:commandButton>	
						
										
					</h:panelGroup>
					
                    <div id="botones" style="float: right;">
					<p:commandLink id="btnEliminar"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar"
						value="Eliminar" onclick="modalEliminar.show()"
						update=":Eliminar:pnlEliminar"
						disabled="#{capitulo3View.selectedPoet.size() == 0}">
						<p:ajax process="@this" />
					</p:commandLink>
					<p:commandLink disabled="#{!capitulo3View.respuestaPOET}"
						id="btnAgregar"
						class="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx" value="Agregar"
						onclick="Agregar:modalAgregar.show()"
						action="#{capitulo3View.crearPoet}" update=":Agregar:pnlAgregar">
						<p:ajax process="@this" />
						<p:resetInput target=":Agregar:pnlAgregar" />
					</p:commandLink>
				</div>
                	<br/><br/>
                	<!-- Componentes de la vista Original -->
                	<div id="componenteConsulta" style="display:none">
                        <h:dataTable var="c" value="#{capitulo3View.poetProyecto}" id="poetDataC">
                            <h:column>
                                <f:facet name="header">Tipo</f:facet>
                                    #{c.poetmTipo}
                            </h:column>

                            <h:column>
                                <f:facet name="header">Nombre del instrumento</f:facet>
                                <h:outputText value="#{c.poetmNombreInstrumento}"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">Número y/o nombre de la UAB/UGA</f:facet>
                                <h:outputText value="#{c.poetmNombreUga}"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">Política ambiental</f:facet>
                                <h:outputText value="#{c.poetmPoliticaAmbiental}"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">Uso</f:facet>
                                <h:inputText value="#{c.poetmUsoPredominante}" maxlength="254"/>
                            </h:column>

                            <h:column>
                                <f:facet name="header">Criterios</f:facet>
                                <h:inputText value="#{c.poetmCriterio}" maxlength="254"/>                        
                            </h:column>
                            <h:column>
                                <f:facet name="header">¿Es compatible con los usos?</f:facet>
                                <h:outputText value="#{c.poetmCompatible == 'S' ? 'SÍ' : 'NO'}"/>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Vinculación</f:facet>
                                <table width="100%" style="text-align: justify;"><tr><td>
                                    <h:outputText value="#{c.poetmVinculacion}" escape="false"/> 
                                </td></tr></table>                                
                            </h:column>
                        </h:dataTable>                        
                    </div>
                    <div id="componenteActualiza" style="display:none; float: right; margin-right: 20px">
                        <br/> 
                        <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModifica('foDatosGen');"/>
                    </div>
                	<!-- Componente que se actualizo -->
                    <div id="componenteCaptura" style="display:none;"><h:panelGroup id='panelCaptura'>	                    
 
 
                        
                        <p:dataTable value="#{capitulo3View.poetProyecto}" var="poet" rowIndexVar="rowIndexPOET"
                        	rows="10" paginator="true" paginatorPosition="bottom"
                         	id="tablaDatos" selection="#{capitulo3View.selectedPoet}" rowKey="#{poet.poetmProyectoPK.poetmId}"
                         	emptyMessage="Sin registros." style="padding-right: 7px; padding-top: 12px;">
                         	                       
                           	<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminar"/>
                        	<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminar"/>
                        	<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminar" />
                           	
                           	<p:column id="check" selectionMode="multiple" style="width:3%;text-align:center" disabledSelection="#{poet.claveOrigenRegistro != 1}">
                                <!--<f:ajax execute="eliminarR" render="eliminarB" event="change" />-->
                            </p:column>
                            <p:column style="white-space: normal;width:3%;text-align:center;font-size: 16px;" >
                                <f:facet name="header">#</f:facet>
                                    <h:outputText value="#{rowIndexPOET+1}"/>
                            </p:column>
                            <p:column style="white-space: normal;font-size: 16px;">
                                <f:facet name="header">Tipo</f:facet>          
                                    <h:outputText value="#{poet.poetmTipo}"/>
                            </p:column>
                            <p:column style="white-space: normal;width:14%;text-align:center;font-size: 16px;">
                                <f:facet name="header">Nombre del instrumento</f:facet>
                                    <h:outputText value="#{poet.poetmNombreInstrumento}"/>
                            </p:column>
                            <p:column style="white-space: normal;font-size: 16px;">
                                <f:facet name="header">Número y/o nombre de la UAB/UGA</f:facet>     
                                    <h:outputText value="#{poet.poetmNombreUga}"/>
                            </p:column>
                            <p:column style="white-space: normal;font-size: 16px;">
                                <f:facet name="header">Política ambiental</f:facet>
                                    <h:outputText value="#{poet.poetmPoliticaAmbiental}"/>
                            </p:column>
                            <p:column style="white-space: normal;font-size: 16px;">
                                <f:facet name="header">Uso</f:facet>
                                    <h:outputText value="#{poet.poetmUsoPredominante}"/>
                            </p:column>
                            <p:column style="white-space: normal;font-size: 16px;">
                                <f:facet name="header">Criterios</f:facet>      
                                    <h:outputText value="#{poet.poetmCriterio}"/>
                            </p:column>
                            <p:column style="white-space: normal;width:9%;text-align:center;font-size: 16px;">
                                <f:facet name="header">¿Es compatible con los usos?</f:facet>
                                    <h:outputText value="#{poet.poetmCompatible == 'S' ? 'SÍ' : 'NO'}"/>
                            </p:column>
                            <p:column style="white-space: normal;width:10%;text-align:center;font-size: 16px;">
                                <f:facet name="header">Vinculación</f:facet>
                                <h:outputText value="#{poet.poetmVinculacionCorta}"/>
                            </p:column>

                           <p:column style="white-space: normal;width:5%;text-align:center">
                                <f:facet name="header"/>
                           			<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" 
                           							 oncomplete="Editar:modalEditar.show()" action="#{capitulo3View.consultarPoet}" 
                           							 update=":Editar:pnlEditar, :Editar:pnlEditarHeader">
			                         	<p:ajax process="@this" />
			                         	<f:param name="prowindexPOET" value="#{rowIndexPOET+1}" />
			                         	<f:param name="id" value="#{poet.poetmProyectoPK.poetmId}" />
			                        </p:commandButton>
                            </p:column>
                            
                            <p:column style="white-space: normal;width:5%;text-align:center">                             
		                           		  
				                 <h:panelGroup rendered="#{poet.idArchivoProyecto!=null}">			                    
									<p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value=""
										onclick="window.open('../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{poet.idArchivoProyecto}'); return false;"/>				                    
				                 </h:panelGroup>  
		                            		                            		                          
                            </p:column>
                            <p:column style="white-space: normal;width:5%;text-align:center">
                                <f:facet name="header"></f:facet>
                                <p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-upload" value=""
                                	action="#{capitulo3View.iniciarArchivo}" oncomplete="modalSubirArchivo.show()" 
                                	update=":archivosPrep:pnlArchP" process="@this"
                                	disabled="#{poet.claveOrigenRegistro != 1}">
                                	<f:param name="pid" value="#{poet.poetmProyectoPK.poetmId}" />	
									<p:resetInput target=":archivosPrep:pnlArchP" />                         	                      	
		                        </p:commandButton>
                            </p:column>
                        </p:dataTable>
                        
                        
                        
                    </h:panelGroup>
                    </div>
<!--                     anexos -->
<!--                     <h3>Anexos</h3> -->
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=3,4,0,0,#{capitulo3View.proyecto.proyectoPK.folioProyecto},#{capitulo3View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </h:panelGroup>

			<div id="componenteGuarda"
				style="display: none; float: right; clear: right;">
				<p:commandButton value="Guardar" class="btn btn-primary"
					action="#{capitulo3View.guardar}"
					onsuccess="parent.actualizaBarra();" />
			</div>
		</div>
        </h:form>
        
        <!-- Modal Para Agregar POET -->
	<h:form id="Agregar">
		<p:dialog widgetVar="modalAgregar" id="modalAgregar" modal="true"
			showEffect="fade" hideEffect="fade" closable="true" 
			resizable="false" height="500px">
			<f:facet name="header">
				<h:form id="formHeader">
					<h4 class="modal-title">Agregar POET</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlAgregar">
				<p:outputLabel value="Tipo" />
				<p:outputLabel value="" for="tipo" />
				<p:outputLabel value=":" />
				<br />
				<p:inputText id="tipo" class="form-control"
					value="#{capitulo3View.poetm.poetmTipo}" cols="50" rows="3"
					maxlength="100" required="true" requiredMessage="Este campo es obligatorio"
					autoResize="false" />
				<p:message for="tipo" />
				<br />
				<p:outputLabel value="Nombre del instrumento" />
				<p:outputLabel value="" for="nombreInstrumento" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="nombreInstrumento"
					value="#{capitulo3View.poetm.poetmNombreInstrumento}"
					converter="#{catPoetConverterBean}" required="true"
					requiredMessage="Este campo es obligatorio"
					hideNoSelectionOption="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catPoet}" />
					<p:ajax process="@this"
						update="nuevoInstrumento, nombreInstrumento" />
				</h:selectOneMenu>
				<p:message for="nombreInstrumento" />
				<br />
				<p:inputText id="nuevoInstrumento"
					disabled="#{capitulo3View.poetm.poetmNombreInstrumento != 'OTRA'}"
					class="form-control"
					value="#{capitulo3View.poetm.poetmNombreInstrumento}" cols="50"
					rows="3" maxlength="100" required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false" />


				<p:outputLabel value="Número y/o nombre de la UAB/UGA" />
				<p:outputLabel value="" for="uab" />
				<p:outputLabel value=":" />
				<br />
				<p:inputText id="uab" class="form-control"
					value="#{capitulo3View.poetm.poetmNombreUga}" cols="50" rows="3"
					maxlength="100" required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false" />
				<p:message for="uab" />
				<br />
				<p:outputLabel value="Política ambiental" />
				<p:outputLabel value="" for="pAmbiental" />
				<p:outputLabel value=":" />
				<br />
				<p:inputText id="pAmbiental" class="form-control"
					value="#{capitulo3View.poetm.poetmPoliticaAmbiental}" cols="50"
					rows="3" maxlength="100" required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<p:message for="pAmbiental" />					
				<br />
				<p:outputLabel value="Uso" />
				<p:outputLabel value="" for="uso" />
				<p:outputLabel value=":" />
				<br />
				<p:inputText id="uso" class="form-control"
					value="#{capitulo3View.poetm.poetmUsoPredominante}" cols="50"
					rows="3" maxlength="100" required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<p:message for="uso" />
				<br />
				<p:outputLabel value="Criterios" />
				<p:outputLabel value="" for="criterios" />
				<p:outputLabel value=":" />
				<br />
				<p:inputText id="criterios" class="form-control"
					value="#{capitulo3View.poetm.poetmCriterio}" cols="50" rows="3"
					maxlength="100" required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<p:message for="criterios" />
				<br />
				<p:outputLabel value="¿Es compatible con los usos" />
				<p:outputLabel value="" for="compatible" />			
				<p:outputLabel value="?" />	
				<br />
				<h:selectOneMenu id="compatible"
					value="#{capitulo3View.poetm.poetmCompatible}" required="true"
					requiredMessage="Este campo es obligatorio"
					hideNoSelectionOption="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItem itemLabel="SÍ" itemValue="S"></f:selectItem>
					<f:selectItem itemLabel="NO" itemValue="N"></f:selectItem>
				</h:selectOneMenu>
				<p:message for="compatible" />
				<br />
				<p:outputLabel value="Vinculación" />
				<p:outputLabel value="" for="vinculacion" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="vinculacion" class="form-control"
					value="#{capitulo3View.poetm.poetmVinculacion}" cols="50" rows="3"
					maxlength="4000" counter="contador1"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador1" />
				<p:message for="vinculacion" />
				<br />				

				<p:commandButton id="guardar" styleClass="btn btn-primary"
					value="Guardar" style="float: right;"
					update=":foDatosGen:tablaDatos, pnlAgregar"
					action="#{capitulo3View.agregarPoet}" />
				<p:commandButton id="cerrarModalA" styleClass="btn btn-default"
					value="Cerrar" onclick="modalAgregar.hide()" update="pnlAgregar"
					immediate="true" style="float: right; margin-right: 5px;" />
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<!-- Modal para Editar POET -->
	<h:form id="Editar">
		<p:dialog widgetVar="modalEditar" id="modalEditar" modal="true"
			showEffect="fade" hideEffect="fade" closable="false" width="50%"
			resizable="false" height="400">
			<f:facet name="header">
				<p:outputPanel id="pnlEditarHeader">
					<h4 class="modal-title">Editar programa de ordenamiento
						ecológico territorial # #{capitulo3View.rowIndexPOETEditar}</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditar">
				<p:outputLabel value="Tipo" />
				<p:outputLabel value="" for="tipo" />
				<p:outputLabel value=":" />
				<br />

				<p:inputText id="tipo" class="form-control"
					value="#{capitulo3View.editPoet.poetmTipo}" cols="50" rows="3" disabled="#{capitulo3View.editPoet.claveOrigenRegistro != 1}"
					maxlength="100" required="true" requiredMessage="Este campo es obligatorio"
					autoResize="false" />
					<p:message for="tipo" />
				<br />

				<p:outputLabel value="Nombre del Instrumento" />
				<p:outputLabel value="" for="nombreInstrumento" />
				<p:outputLabel value=":" />
				<br />

				<p:inputText id="nombreInstrumento" class="form-control"
					disabled="true"
					value="#{capitulo3View.editPoet.poetmNombreInstrumento}" cols="50"
					rows="3" maxlength="100" autoResize="false" />
				<p:message for="nombreInstrumento" />

				<p:outputLabel value="Número y/o Nombre de la UAB/UGA" />
				<p:outputLabel value="" for="uab" />
				<p:outputLabel value=":" />
				<br />

				<p:inputText id="uab" class="form-control"
					value="#{capitulo3View.editPoet.poetmNombreUga}" cols="50" rows="3" disabled="#{capitulo3View.editPoet.claveOrigenRegistro != 1}"
					maxlength="100" required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false" />
					<p:message for="uab" />
				<br />

				<p:outputLabel value="Política ambiental" />
				<p:outputLabel value="" for="pAmbiental" />
				<p:outputLabel value=":" />
				<br />

				<p:inputText id="pAmbiental" class="form-control" disabled="#{capitulo3View.editPoet.claveOrigenRegistro != 1}"
					value="#{capitulo3View.editPoet.poetmPoliticaAmbiental}" cols="50" 
					rows="3" maxlength="100" required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
					<p:message for="pAmbiental" />
				<br />

				<p:outputLabel value="Uso" />
				<p:outputLabel value="" for="uso" />
				<p:outputLabel value=":" />
				<br />

				<p:inputText id="uso" class="form-control"
					value="#{capitulo3View.editPoet.poetmUsoPredominante}" cols="50"
					rows="3" maxlength="100" required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
					<p:message for="uso" />
				<br />

				<p:outputLabel value="Criterios" />
				<p:outputLabel value="" for="criterios" />
				<p:outputLabel value=":" />
				<br />

				<p:inputText id="criterios" class="form-control"
					value="#{capitulo3View.editPoet.poetmCriterio}" cols="50" rows="3"
					maxlength="100" required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
					<p:message for="criterios" />
				<br />

				<p:outputLabel value="¿Es compatible con los usos"/>
				<p:outputLabel value="" for="compatible" />
				<p:outputLabel value="?" />
				<br />

				<h:selectOneMenu id="compatible"
					value="#{capitulo3View.editPoet.poetmCompatible}" required="true"
					requiredMessage="Este campo es obligatorio"
					hideNoSelectionOption="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItem itemLabel="SÍ" itemValue="S"></f:selectItem>
					<f:selectItem itemLabel="NO" itemValue="N"></f:selectItem>
					<!--                                               <f:selectItems value="#{catalogosView.catTemporalidad}" /> -->
				</h:selectOneMenu>
				<p:message for="compatible" />
				<br />

				<p:outputLabel value="Vinculación" />
				<p:outputLabel value="" for="vinculacion" />
				<p:outputLabel value=":" />

				<p:inputTextarea id="vinculacion" class="form-control"
					value="#{capitulo3View.editPoet.poetmVinculacion}" cols="50"
					rows="3" maxlength="4000" counter="contador1"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador1" />
				<p:message for="vinculacion" />
				<br />

				<p:commandButton styleClass="btn btn-primary" id="guardar"
					value="Guardar" style="float: right;"
					update=":foDatosGen:tablaDatos, pnlEditar"
					action="#{capitulo3View.editarPoet}" />

				<p:commandButton styleClass="btn btn-default" id="cerrarModalE"
					value="Cerrar" onclick="modalEditar.hide()" update="pnlEditar"
					immediate="true" style="float: right; margin-right: 5px;" />
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<!-- Modal para Eliminar POET -->
        <h:form id="Eliminar">
                         <p:dialog widgetVar="modalEliminar" id="modalEliminar" modal="true">
                          <f:facet name="header">
							   	<h:form id="formEliminarHeader">
										<h4 class="modal-title">Eliminar POET</h4>   	
							   	</h:form>
						  </f:facet>
						  <p:outputPanel id="pnlEliminar">                                     
                                          
                                         <div class="alert alert-warning"><SPAN class="glyphicon glyphicon-warning-sign"></SPAN> ¿Realmente desea borrar el(los) registro(s)?</div>
                                 		<ui:repeat value="#{capitulo3View.selectedPoet}" var="poetm">
							                <h:outputText value="#{poetm.poetmTipo}" style="display:block"/>
							            </ui:repeat>
                                  <div class="modal-footer">
					<p:commandButton styleClass="btn btn-default" id="respuestaNo"
						value="No" onclick="modalEliminar.hide()" />
					<p:commandButton styleClass="btn btn-primary" id="respuestaSi"
						value="Sí" update=":foDatosGen:tablaDatos, pnlEliminar"
						action="#{capitulo3View.eliminarPoet}" />
				</div>
                             </p:outputPanel>    
                          </p:dialog> 
        </h:form> 
        
        <h:form id="Mensaje">
                         <p:dialog widgetVar="modalMensaje" id="modalMensaje" modal="true">
                          <f:facet name="header">
							   	<h:form id="formMensajeHeader">
										<h4 class="modal-title">Aviso</h4>	   	
							   	</h:form>
						  </f:facet>
						  <p:outputPanel id="pnlMensaje">                                     
                                          
                                         <div class="alert alert-success"><SPAN class="glyphicon glyphicon-ok"></SPAN> Registro guardado exitosamente.</div>
                                 
                                  <div class="modal-footer">
                                  	<p:commandButton styleClass="btn btn-primary" id="cerrarModalM" value="Aceptar" onclick="modalMensaje.hide()" update="pnlMensaje" immediate="true"/>
                                  </div>
                             </p:outputPanel>    
                          </p:dialog> 
        </h:form> 
        <h:form id="MensajeEditar">
                         <p:dialog widgetVar="modalMensajeEditar" id="modalMensajeEditar" modal="true">
                          <f:facet name="header">
							   	<h:form id="formMensajeHeader">
										<h4 class="modal-title">Aviso</h4>	   	
							   	</h:form>
						  </f:facet>
						  <p:outputPanel id="pnlMensaje">                                     
                                          
                                         <div class="alert alert-success"><SPAN class="glyphicon glyphicon-ok"></SPAN> Registro actualizado exitosamente.</div>
                                 
                                  <div class="modal-footer">
                                  	<p:commandButton styleClass="btn btn-primary" id="cerrarModalM" value="Aceptar" onclick="modalMensajeEditar.hide()" update="pnlMensaje" immediate="true"/>
                                  </div>
                             </p:outputPanel>    
                          </p:dialog> 
        </h:form>  
                <h:form id="MensajeEliminar">
                         <p:dialog widgetVar="modalMensajeEliminar" id="modalMensajeEliminar" modal="true">
                          <f:facet name="header">
							   	<h:form id="formMensajeEliminarHeader">
										<h4 class="modal-title">Aviso</h4>	   	
							   	</h:form>
						  </f:facet>
						  <p:outputPanel id="pnlMensajeEliminar">                                     
                                          
                                         <div class="alert alert-success"><SPAN class="glyphicon glyphicon-remove"></SPAN> Registro eliminado exitosamente.</div>
                                 
                                  <div class="modal-footer">
                                  	<p:commandButton styleClass="btn btn-primary" id="cerrarModalME" value="Aceptar" onclick="modalMensajeEliminar.hide()" update="pnlMensajeEliminar" immediate="true"/>
                                  </div>
                             </p:outputPanel>    
                          </p:dialog> 
        </h:form>
        <h:form id="MensajeCarga">
                         <p:dialog widgetVar="modalMensajeCarga" id="modalMensajeCarga" modal="true">
                          <f:facet name="header">
							   	<h:form id="formMensajeCargaHeader">
										<h4 class="modal-title">Aviso</h4>	   	
							   	</h:form>
						  </f:facet>
						  <p:outputPanel id="pnlMensajeCarga">                                     
                                          
                                         <div class="alert alert-success"><SPAN class="glyphicon glyphicon-ok"></SPAN> Archivo cargado exitosamente.</div>
                                 
                                  <div class="modal-footer">
                                  	<p:commandButton styleClass="btn btn-primary" id="cerrarModalCarga" value="Aceptar" onclick="modalMensajeCarga.hide()" update="pnlMensajeCarga, :foDatosGen:tablaDatos" immediate="true"/>
                                  </div>
                             </p:outputPanel>    
                          </p:dialog> 
        </h:form>
        
                       <!-- MODAL PARA SUBIR ARCHIVOS -->
                       
 <h:form id="archivosPrep">
		<p:dialog header="Carga de archivo" draggable="false"
			widgetVar="modalSubirArchivo" id="dlgSubirArchivo"
			modal="true" closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
		    $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">
			<p:outputPanel id="pnlArchP">
				<p:outputLabel value="Nombre"/>
				<p:outputLabel value="" for="txtNombreArchivoP"/>
				<p:outputLabel value=":"/>
				<br />
				<p:inputText id="txtNombreArchivoP"
					value="#{capitulo3View.archivoTemporal.nombre}" style="width:100%;"
					required="true" requiredMessage="Este campo es obligatorio"
					maxlength="50">
				</p:inputText>
				<p:message for="txtNombreArchivoP" />
				<br />
				<p:outputLabel value="Descripción"/>
				<p:outputLabel value="" for ="txtDescripcionArchivoP"/>
				<p:outputLabel value=":"/>
				<br />
				<p:inputTextarea id="txtDescripcionArchivoP" class="form-control"
					value="#{capitulo3View.archivoTemporal.descripcion}" cols="50"
					rows="3" maxlength="200" counter="descountP"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false">
				</p:inputTextarea>
				<h:outputText id="descountP" />
				<p:message for="txtDescripcionArchivoP" />
				<br />
				<p:outputLabel id="lblReservadoArchivoP" value="Reservado:" />
				<p:selectBooleanCheckbox value="#{capitulo3View.cargaBean.reservado}">
				</p:selectBooleanCheckbox>
				<br />
				<br />
<!-- 				<p:outputLabel value="Seleccione el archivo" /> -->
<!-- 				<p:outputLabel value="" for="seleArchP" /> -->
<!-- 				<p:outputLabel value=":" /> -->
<!-- 				<br /> -->
<!-- 				<p:fileUpload id="seleArchP" mode="advanced" -->
<!-- 					fileUploadListener="#{capitulo3View.cargaBean.handleFileUpload}" -->
<!-- 					sizeLimit="10485760" -->
<!-- 					label="Cargar Archivo... (pdf)" -->
<!-- 					invalidSizeMessage="El tamaño del archivo es demasiado grande" -->
<!-- 					invalidFileMessage="Tipo de archivo inválido" -->
<!-- 					allowTypes="/(\.|\/)(pdf)$/" -->
<!-- 					auto="true" required="true" -->
<!-- 					requiredMessage="No seleccionó el archivo." /> -->
<!-- 				<p:message for="seleArchP" /> -->
<!-- 				<br /> -->
				<!--  -->
				<p:outputLabel value="Cargar archivo" />
					<p:outputLabel id="lblSeleccionarArchivoEstatal" value="*" for="seleArchP"/>
					<p:outputLabel value=":" /><br />

					<h:panelGrid columns="2" style="width: 100%" id="seleArchP">
	                    <p:fileUpload mode="advanced" id="seleArchivo" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
	                    	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
		                    fileUploadListener="#{capitulo3View.cargaBean.handleFileUpload}"	                                  
		                    sizeLimit="10485760" 
		                    label="Seleccione el archivo"                                
		                    invalidSizeMessage="El tamaño del archivo es demasiado grande"
		                    invalidFileMessage="Tipo de archivo invalido"
		                    allowTypes="/(\.|\/)(pdf)$/" update="lblCargaArchivoAnexo"
		                    required="true" requiredMessage="No seleccionó el archivo." 
		                    auto="true" style="width: 100%"/>	
		               		                
			                <c:if test="#{empty capitulo3View.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>		    
			                
			                <c:if test="#{not empty capitulo3View.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="#{capitulo3View.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>            
					</h:panelGrid>		
					
					 <p:outputLabel id="msjValida" value="#{capitulo3View.msj}" style="color:#B40431" />			
					
					<p:message for="seleArchP" />
					<br />
					
					<div id="divExtensiones" class="alert alert-info">
						<p:outputLabel value="Extensiones permitidas: (pdf)"/>
						<br/>
											
						<p:outputLabel value="El tamaño límite es de 10MB"/>					
					</div>
					<br/>
				<!--  -->

				<p:commandButton id="btnGuardarModalArchivoP"
					class="btn btn-primary" style="float: right;" value="Guardar"
					update=":foDatosGen:tablaDatos,pnlArchP"
					oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
					actionListener="#{capitulo3View.guardarArchivo}" validateClient="true">
					<f:attribute name="tipo" value="preparacion" />
					<p:ajax process="@this" />
				</p:commandButton>
				<p:commandButton id="btnCerrarModalArchivoP" class="btn btn-default"
					style="float: right;" value="Cerrar"
					update=":foDatosGen:tablaDatos,pnlArchP"
					onclick="modalSubirArchivo.hide();" 
					process="@this" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertArchP" id="modalAlertArchP"
			header="Aviso" modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Archivo guardado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertArchP.hide();">Aceptar</button>
		</p:dialog>
	</h:form>       
        
        <!-- fin de la modal de  -->
        
        
           <p:dialog widgetVar="dlgVinculacion" modal="true" showEffect="fade" hideEffect="fade" closable="false" width="50%" resizable="false">
                 <f:facet name="header">
				   	<h:form id="formVinculacionHeader">
						<h4 class="modal-title">Vinculación</h4>
				   	</h:form>
			     </f:facet>
				
				 <h:form id="formMensajeVinculacion">
				 	<p:outputPanel id="opVinculacion">
						<p:inputTextarea id="txtVinculacion" value="#{capitulo3View.vinculacionPoet}" style="width: 100%" rows="10" readonly="true"/>
						<p:commandButton type="button" styleClass="btn btn-default" style="float: right;" value="Cerrar" onclick="dlgVinculacion.hide()"/>				 	
				 	</p:outputPanel>
				 </h:form>
				 
				 
            </p:dialog>
	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo3View.claveTramite}",
			nsub : "#{capitulo3View.proyecto.nsub}",
			capitulo : 3,
			subcapitulo : 4,
			seccion : -1,
			apartado : -1
		}, case_ayuda);
	</script>
</h:body>
</html>
