<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<!--         <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" /> -->
	<!--        	<link href="assets/images/favicon.ico" rel="shortcut icon" /> -->
	<!-- 	    <link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
	<!-- 	    <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" /> -->
	<!-- 	    <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" /> -->
	<!-- 	    <script src="#{request.contextPath}/assets/js/MIAR.js"></script> -->
	<!-- 	    <script src="#{request.contextPath}/assets/js/funciones.js"></script> -->
	<!-- 	    <script src="#{request.contextPath}/assets/js/ayudas.js"></script> -->
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="Last-Modified" content="0" />
	<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- 	<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
	<!-- Gráfica Base Local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script> 
	<script src="#{request.contextPath}/assets/js/locale_es.js"></script>
    </h:head>
<h:body
	onload="javascript:getInformacionAdicional('#{capitulo3View.strComentProy}','foDatosGen',2,0,0,'Reglamentos')">

	<ui:include src="/loading.xhtml"/>

	<div class="col-md-12" id="mensaje"></div>
	<h:form id="foDatosGen">

		<h:inputHidden id="ubicActual" value="#{capitulo3View.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional"
			value="#{capitulo3View.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />

		<div class="semarnat_ayuda" id='case_pnl_ayuda'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>
	</h:form>

	<div id="pnlNormas">
		<h:panelGrid id="panelCaptura">
			<h:form id="fNormas">
				<div id="titulo"></div>
				<hr class="red"></hr>
				<button id='case_btn_ayuda' type="button" class="btn btn-default"
					data-toggle="tooltip" data-placement="bottom">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button>
				<hr></hr>

				<p:commandLink id="btnAgregar"
					class="btn btn-default btn-xs glyphicon glyphicon-plus alinDerecha ui-button-textx"
					value="Agregar" action="#{capitulo3View.crearReglamento}"
					onclick="modalAgregar.show()" update=":fAgregar:pnlAgregar">
					<p:ajax process="@this" />
					<p:resetInput target=":fAgregar:pnlAgregar" />
				</p:commandLink>

				<p:commandLink id="btnEliminarReglamento"
					class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar"
					value="Eliminar" update=":fEliminar:multiCrit"
					action="#{capitulo3View.tieneReglamentosSeleccionados}"
					style="float:right;"
					disabled="#{capitulo3View.reglamentosS.size() == 0}">
					<p:ajax process="@this" />
				</p:commandLink>
				<br />
				<br />
				<br />
				<p:dataTable id="tablaDatos" styleClass="table" var="c" rowIndexVar="rowIndexReglam"
					value="#{capitulo3View.reglamentos}"
					selection="#{capitulo3View.reglamentosS}"
					rowKey="#{c.reglamentoProyectoPK.reglamentoProyId}"
					paginator="true" paginatorPosition="bottom" rows="10"
					emptyMessage="Sin registros.">

					<p:ajax event="toggleSelect" update=":fNormas:btnEliminarReglamento" />
					<p:ajax event="rowSelectCheckbox" update=":fNormas:btnEliminarReglamento" />
					<p:ajax event="rowUnselectCheckbox" update=":fNormas:btnEliminarReglamento" />

					<p:column id="check" selectionMode="multiple"
						style="width:5%;text-align:center">
					</p:column>

					<p:column headerText="#" style="width:5%;text-align:center">
						<h:outputText value="#{rowIndexReglam+1}" />
					</p:column>

					<p:column headerText="Reglamento" style="white-space: normal">
						<h:outputText value="#{c.reglamentoDescripcion}"
							rendered="#{c.reglamentoId.reglamentoId lt 9999}" />
						<br />
						<h:outputText value="#{c.reglamentoDescripcion}"
							rendered="#{c.reglamentoId.reglamentoId eq 9999}" />
					</p:column>
					<p:column headerText="Última actualización"
						style="white-space: normal">
						<h:outputText value="#{c.reglamentoFechaPublicacion}" />
					</p:column>

					<p:column headerText="Artículo, fracción, inciso o párrafo"
						style="white-space: normal">
						<h:outputText value="#{c.reglamentoArticulo}" />
					</p:column>

					<p:column headerText="Vinculación" style="white-space: normal">
						<h:outputText value="#{c.reglamentoViculacionCorta}" />
						<!-- 						<p:inputTextarea readonly="true" maxlength="200" rows="4" style="width:100%" value="#{c.reglamentoViculacion}" /> -->
						<!-- 						<p:commandLink style="width: 100%" -->
						<!-- 							action="#{capitulo3View.mostrarVinculacionReg(c.reglamentoViculacion)}" -->
						<!-- 							update=":formMensajeVinculacion:opVinculacion" -->
						<!-- 							onclick="dlgVinculacion.show()"> -->
						<!-- 							<p:outputLabel value="Leer más..." /> -->
						<!-- 						</p:commandLink> -->
					</p:column>

					<p:column style="width:5%;text-align:center">
						<f:facet name="header"></f:facet>
						<p:commandButton
							class="btn btn-default btn-xs glyphicon glyphicon-pencil"
							value=" " actionListener="#{capitulo3View.consultarEditar}"
							update=":fEditar:pnlEditar :fEditar:modalEditar"
							oncomplete="modalEditar.show()" immediate="true">
							<f:attribute name="atrowindexReglam" value="#{rowIndexReglam+1}" />
							<f:attribute name="idt" value="#{c.reglamentoProyectoPK.reglamentoProyId}" />
						</p:commandButton>
					</p:column>

					<p:column style="width:5%;text-align:center">
						<f:facet name="header"></f:facet>
						<!-- 			                            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value=""  -->
						<!-- 			                           			  style="width: 35%; height: 35px"/> -->
						<p:button
							styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open"
							value=""
							onclick="window.open('../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{c.idArchivoProyecto}'); return false;"
							disabled="#{empty c.idArchivoProyecto}" />
					</p:column>

					<p:column style="width:5%;text-align:center">
						<f:facet name="header"></f:facet>
						<p:commandButton
							class="btn btn-default btn-xs glyphicon glyphicon-upload"
							value="" action="#{capitulo3View.iniciarArchivoReglamento}"
							oncomplete="modalSubirArchivo.show()"
							update=":archivosPrep:pnlArchP"
							disabled="#{c.reglamentoId.reglamentoId != 9999}">
							<p:resetInput target=":archivosPrep:pnlArchP" />
							
							<f:param name="id" value="#{c.reglamentoProyectoPK.reglamentoProyId}"/>
						</p:commandButton>
					</p:column>

					<f:facet name="footer">


					</f:facet>
				</p:dataTable>

				<div id="componenteGuarda"
					style="display: none; float: right; clear: right;">
					<p:commandButton value="Guardar" class="btn btn-primary"
						action="#{capitulo3View.guardar}"
						onsuccess="parent.actualizaBarra();" />
				</div>

			</h:form>

		</h:panelGrid>
	</div>

	<!-- ============================================================================================================================================= -->
	<!-- =========================================================MODALES PARA LAS ALTAS EDICIONES Y BAJAS============================================ -->
	<!-- ============================================================================================================================================= -->

	<!-- ========================================================MODAL PARA ALTAS===================================================================== -->
	<h:form id="fAgregar">
		<p:dialog widgetVar="modalAgregar" id="modalAgregar" modal="true"
			closable="false">
			<f:facet name="header" style="background-color: black;">Reglamentos - agregar reglamento</f:facet>
			<p:outputPanel id="pnlAgregar">
				<!-- INICIO -->
				<p:outputLabel value="Reglamentos" />
				<p:outputLabel id="lblRegla" value="" for="cboReg" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="cboReg" class="form-control"
					value="#{capitulo3View.reglam.reglamentoId.reglamentoId}"
					style="width: 100%" required="true" hideNoSelectionOption="true"
					requiredMessage="Este campo es obligatorio">
					<f:selectItem itemValue="" itemLabel="Seleccione" />
					<f:selectItems var="c" value="#{capitulo3View.catalogo}"
						itemValue="#{c.reglamentoId}"
						itemLabel="#{c.reglamentoDescripcion}" />
				</h:selectOneMenu>
				<p:message for="cboReg" display="true" />
				<br />				
				<p:outputLabel value="Artículo, fracción, inciso o párrafo" />
				<p:outputLabel value="" for="art" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="art" class="form-control"
					value="#{capitulo3View.reglam.reglamentoArticulo}" cols="50"
					rows="3" maxlength="100" counter="contador1"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false" />
				<h:outputText id="contador1" />
				<p:message for="art" display="true" />
				<br />
				<p:outputLabel value="Fecha de actualización" />
				<p:outputLabel value="" for="fechaAgregar"/>
				<p:outputLabel value=":" />				
				<br />
				<p:calendar id="fechaAgregar"
					value="#{capitulo3View.reglam.fechaPublicacion}" locale="es"
					pattern="dd/MM/yyyy" required="true"
					requiredMessage="Este campo es obligatorio">
				</p:calendar>
				<p:message id="msgFechaLeyEstatalEditar" for="fechaAgregar" display="true" />
				<br />
				<p:outputLabel value="Vinculación" />
				<p:outputLabel value="" for="vin" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="vin" class="form-control"
					value="#{capitulo3View.reglam.reglamentoViculacion}" cols="50"
					rows="3" maxlength="1000" counter="contador2"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false" />
				<h:outputText id="contador2" />
				<p:message for="vin" display="true" />
<!-- 				<p:messages id="mismensajes" /> -->
				<br />
				<!-- FIN -->
				<br />
				<br />
				<p:commandButton id="guardar" class="btn btn-primary"
					value="Guardar" update=":fNormas:tablaDatos,pnlAgregar"
					actionListener="#{capitulo3View.agregaReglamento}"
					style="float:right;">
					<p:resetInput target="pnlAgregar" />
				</p:commandButton>


				<p:commandButton id="cerrarModalA" class="btn btn-default"
					value="Cerrar" type="button" onclick="modalAgregar.hide()"
					immediate="true" style="float: right; margin-right: 5px;">
					<p:resetInput target="pnlAgregar" />
				</p:commandButton>

			</p:outputPanel>
		</p:dialog>


		<p:dialog widgetVar="guardarAlert" id="guardarAlert" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Registro guardado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="guardarAlert.hide();">Aceptar</button>

		</p:dialog>
	</h:form>
	<!-- ============================================================================================================================================= -->

	<!-- ========================================================MODAL PARA BAJAS===================================================================== -->

	<h:form id="fEliminar">
		<p:dialog header="Eliminar reglamento" widgetVar="eliminarReglamento"
			id="eliminarReglamento" modal="true" showEffect="fade"
			hideEffect="fade" closable="false" resizable="false">

			<p:outputPanel id="multiCrit">
				<div class="alert alert-warning">¿Realmente desea borrar
					el(los) Reglamento(s)?</div>
				<ui:repeat value="#{capitulo3View.reglamentosS}" var="s">
					<h:outputText value="#{s.reglamentoArticulo}" style="display:block;" />
				</ui:repeat>

			</p:outputPanel>
			<div class="modal-footer">
				<p:commandButton value="Sí"
					action="#{capitulo3View.eliminarReglamentos}"
					class="btn btn-primary" update=":fNormas:tablaDatos, :fNormas:btnEliminarReglamento"
					oncomplete="eliminarReglamento.hide();dlgAvisoBorrado.show()"
					style="float:right;" />
				<p:commandButton type="button" value="No"
					update=":fNormas:tablaDatos" class="btn btn-default botonEliminar"
					onclick="eliminarReglamento.hide()" style="float:right;" />
			</div>
		</p:dialog>


	</h:form>

	<p:dialog header="Aviso" widgetVar="dlgAvisoBorrado" modal="true"
		showEffect="fade" hideEffect="fade">
		<div class="alert alert-success">
			<span class="glyphicon glyphicon-remove"></span> Registro(s)
			eliminado(s) exitosamente.
		</div>
		<button class="btn btn-primary" type="button" style="float: right;"
			onclick="dlgAvisoBorrado.hide();">Aceptar</button>
	</p:dialog>

	<!-- ============================================================================================================================================= -->

	<!-- ========================================================MODAL PARA EDICION=================================================================== -->

	<h:form id="fEditar">
		<p:dialog widgetVar="modalEditar" id="modalEditar" modal="true">
			<f:facet name="header" style="background-color: black;">Reglamentos - editar reglamento # #{capitulo3View.rowIndexReglamEditar}</f:facet>
			<p:outputPanel id="pnlEditar">

				<p:outputLabel value="Reglamento:" />
				<br />
				<h:outputText
					value="#{capitulo3View.reglamed.reglamentoDescripcion}" />
				<br />

				<p:outputLabel value="Artículo, Fracción, Inciso o Párrafo" />
				<p:outputLabel value="" for="art" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="art" class="form-control"
					value="#{capitulo3View.reglamed.reglamentoArticulo}" cols="50"
					rows="3" maxlength="100" counter="contador1"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false" onfocus="true" />
				<h:outputText id="contador1" />
				<p:message for="art" display="true" />				
				<br />
				<p:outputLabel value="Fecha de actualización" />
				<p:outputLabel value="" for="fechaEditar" />
				<p:outputLabel value=":" />
				<br />

				<p:calendar id="fechaEditar" disabled="#{capitulo3View.reglamed.reglamentoId.reglamentoId != 9999}"
					value="#{capitulo3View.reglamed.fechaPublicacion}" locale="es" pattern="dd/MM/yyyy" required="true"
					requiredMessage="Este campo es obligatorio">
				</p:calendar>
				<p:message id="msgFechaLeyEditar" for="fechaEditar" display="true" />
				<br />
				<br />

				<p:outputLabel value="Vinculación" />
				<p:outputLabel value="" for="vin" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="vin" class="form-control"
					value="#{capitulo3View.reglamed.reglamentoViculacion}" cols="50"
					rows="3" maxlength="1000" counter="contador2"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false" />
				<h:outputText id="contador2" />
				<p:message for="vin" display="true" />				
				<br />
				<!-- FIN -->				
				<br />

				<p:commandButton id="guardar" class="btn btn-primary"
					value="Guardar" actionListener="#{capitulo3View.editarReglamento}"
					update=":fNormas:tablaDatos,pnlEditar"
					style="float:right;" />

				<p:commandButton id="cerrarModalA" class="btn btn-default"
					value="Cerrar" type="button" onclick="modalEditar.hide()"
					immediate="true" style="float: right; margin-right: 5px;"
					update=":fEditar:pnlEditar :fEditar:modalEditar">
					<p:resetInput target=":fEditar:pnlEditar" />
				</p:commandButton>
			</p:outputPanel>
		</p:dialog>


		<p:dialog widgetVar="modalAlertEditar" id="modalAlert" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Registro actualizado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEditar.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- ============================================================================================================================================= -->
	<p:dialog widgetVar="dlgVinculacion" modal="true" showEffect="fade"
		hideEffect="fade" closable="false" width="50%" resizable="false">
		<f:facet name="header">
			<h:form id="formVinculacionHeader">
				<h4 class="modal-title">Vinculación</h4>
			</h:form>
		</f:facet>

		<h:form id="formMensajeVinculacion">
			<p:outputPanel id="opVinculacion">
				<p:inputTextarea id="txtVinculacion"
					value="#{capitulo3View.vinculacionReg}" style="width: 100%"
					rows="10" readonly="true" />
				<p:commandButton type="button" styleClass="btn btn-default"
					style="float: right;" value="Cerrar"
					onclick="dlgVinculacion.hide()" />
			</p:outputPanel>
		</h:form>


	</p:dialog>

	<!-- ============================================================================================================================================= -->
	 
	<!-- MODAL PARA SUBIR ARCHIVOS --> 
<!-- 	<h:form id="archivosPrep"> -->
<!-- 		<p:dialog header="Carga de archivo" draggable="false" -->
<!-- 			widgetVar="modalSubirArchivo" id="dlgSubirArchivo" -->
<!-- 			modal="true" closable="false"> -->
<!-- 			<p:outputPanel id="pnlArchP"> -->
<!-- 				<p:outputLabel value="Nombre"/> -->
<!-- 				<p:outputLabel value="" for="txtNombreArchivoP"/> -->
<!-- 				<p:outputLabel value=":"/> -->
<!-- 				<br /> -->
<!-- 				<p:inputText id="txtNombreArchivoP" -->
<!-- 					value="#{capitulo3View.archivoTemporalReglamento.nombre}" style="width:100%;" -->
<!-- 					required="true" requiredMessage="Este campo es requerido." -->
<!-- 					maxlength="100"> -->
<!-- 				</p:inputText> -->
<!-- 				<p:message for="txtNombreArchivoP" /> -->
<!-- 				<br /> -->
<!-- 				<p:outputLabel value="Descripción"/> -->
<!-- 				<p:outputLabel value="" for ="txtDescripcionArchivoP"/> -->
<!-- 				<p:outputLabel value=":"/> -->
<!-- 				<br /> -->
<!-- 				<p:inputTextarea id="txtDescripcionArchivoP" class="form-control" -->
<!-- 					value="#{capitulo3View.archivoTemporalReglamento.descripcion}" cols="50" -->
<!-- 					rows="3" maxlength="1000" counter="descountP" -->
<!-- 					counterTemplate="Quedan {0} caracteres." required="true" -->
<!-- 					requiredMessage="Este campo es requerido." autoResize="false"> -->
<!-- 				</p:inputTextarea> -->
<!-- 				<h:outputText id="descountP" /> -->
<!-- 				<p:message for="txtDescripcionArchivoP" /> -->
<!-- 				<br /> -->
<!-- 				<br /> -->
<!-- 				<p:outputLabel value="Seleccione el archivo" /> -->
<!-- 				<p:outputLabel value="" for="seleArchP" /> -->
<!-- 				<p:outputLabel value=":" /> -->
<!-- 				<br /> -->
<!-- 				<p:fileUpload id="seleArchP" mode="advanced" -->
<!-- 					fileUploadListener="#{capitulo3View.cargaBean.handleFileUpload}" -->
<!-- 					sizeLimit="10485760" -->
<!-- 					label="Cargar Archivo... (pdf)" -->
<!-- 					invalidSizeMessage="El tamaño del archivo es demasiado grande" -->
<!-- 					invalidFileMessage="Tipo de archivo inválido" -->
<!-- 					allowTypes="/(\.|\/)(pdf)$/" -->
<!-- 					auto="true" required="true" -->
<!-- 					requiredMessage="No seleccionó el archivo." /> -->
<!-- 				<p:message for="seleArchP" /> -->
<!-- 				<br /> -->
<!-- 				<p:outputLabel id="lblReservadoArchivoP" value="Reservado:" /> -->
<!-- 				<p:selectBooleanCheckbox value="#{capitulo3View.cargaBean.reservado}"> -->
<!-- 				</p:selectBooleanCheckbox> -->
<!-- 				<br /> -->

<!-- 				<p:commandButton id="btnGuardarModalArchivoP" -->
<!-- 					class="btn btn-primary" style="float: right;" value="Guardar" -->
<!-- 					update="pnlArchP" -->
<!-- 					actionListener="#{capitulo3View.guardarArchivoReglamento}" validateClient="true"> -->
<!-- 					<f:attribute name="tipo" value="preparacion" /> -->
<!-- 					<p:ajax process="@this" /> -->
<!-- 				</p:commandButton> -->
<!-- 				<p:commandButton id="btnCerrarModalArchivoP" class="btn btn-default" -->
<!-- 					style="float: right;" value="Cerrar" -->
<!-- 					onclick="modalSubirArchivo.hide();" update="pnlArchP" -->
<!-- 					process="@this" /> -->
<!-- 			</p:outputPanel> -->
<!-- 		</p:dialog> -->

<!-- 		<p:dialog widgetVar="modalAlertArchP" id="modalAlertArchP" -->
<!-- 			header="Aviso" modal="true" closable="false"> -->
<!-- 			<div class="alert alert-success"> -->
<!-- 				<span class="glyphicon glyphicon-ok"></span> Archivo guardado -->
<!-- 				exitosamente. -->
<!-- 			</div> -->
<!-- 			<button class="btn btn-primary" type="button" style="float: right;" -->
<!-- 				onclick="modalAlertArchP.hide();">Aceptar</button> -->
<!-- 		</p:dialog> -->
<!-- 	</h:form> -->
	<!-- ============================================================================================================================================= -->
	<!-- MODAL PARA SUBIR ARCHIVOS -->
	<h:form id="archivosPrep">
		<p:dialog header="Carga de archivo" draggable="false"
			widgetVar="modalSubirArchivo" id="dlgSubirArchivo"
			onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
			modal="true" closable="false">
			<p:outputPanel id="pnlArchP">
				<p:outputLabel value="Nombre"/>
				<p:outputLabel value="" for="txtNombreArchivoP"/>
				<p:outputLabel value=":"/>
				<br />
				<p:inputText id="txtNombreArchivoP"
					value="#{capitulo3View.archivoTemporalReglamento.nombre}" style="width:100%;"
					required="true" requiredMessage="Este campo es obligatorio"
					maxlength="50">
				</p:inputText>
				<p:message for="txtNombreArchivoP" />
				<br />
				<p:outputLabel value="Descripción"/>
				<p:outputLabel value="" for ="txtDescripcionArchivoP"/>
				<p:outputLabel value=":"/>
				<br />
				<p:inputTextarea id="txtDescripcionArchivoP" class="form-control"
					value="#{capitulo3View.archivoTemporalReglamento.descripcion}" cols="50"
					rows="3" maxlength="200" counter="descountP"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false">
				</p:inputTextarea>
				<h:outputText id="descountP" />
				<p:message for="txtDescripcionArchivoP" />
				<br />
				<p:outputLabel id="lblReservadoArchivoP" value="Reservado:" />
				<p:selectBooleanCheckbox value="#{capitulo3View.cargaBean.reservado}">
				</p:selectBooleanCheckbox>
				<br /><br />
<!-- 				<p:outputLabel value="Seleccione el archivo" /> -->
<!-- 				<p:outputLabel value="" for="seleArchP" /> -->
<!-- 				<p:outputLabel value=":" /> -->
<!-- 				<br /> -->
<!-- 				<p:fileUpload id="seleArchP" mode="advanced" -->
<!-- 					fileUploadListener="#{capitulo3View.cargaBean.handleFileUpload}" -->
<!-- 					sizeLimit="10485760" -->
<!-- 					label="Cargar Archivo... (pdf)" -->
<!-- 					invalidSizeMessage="El tamaño del archivo es demasiado grande" -->
<!-- 					invalidFileMessage="Tipo de archivo inválido" -->
<!-- 					allowTypes="/(\.|\/)(pdf)$/" -->
<!-- 					auto="true" required="true" -->
<!-- 					requiredMessage="No seleccionó el archivo." /> -->
<!-- 				<p:message for="seleArchP" /> -->
<!-- 				<br /> -->
				<p:outputLabel value="Cargar archivo" />
					<p:outputLabel value="*" for="seleArchP"/>
					<p:outputLabel value=":" /><br />

					<h:panelGrid columns="2" style="width: 100%" id="seleArchP">
	                    <p:fileUpload mode="advanced" id="seleArchivo" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
	                    	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
		                    fileUploadListener="#{capitulo3View.cargaBean.handleFileUpload}"	                                  
		                    sizeLimit="10485760" 
		                    label="Seleccione el archivo"                                
		                    invalidSizeMessage="El tamaño del archivo es demasiado grande"
		                    invalidFileMessage="Tipo de archivo invalido"
		                    allowTypes="/(\.|\/)(pdf)$/" update="lblCargaArchivoAnexo"
		                    required="true" requiredMessage="No seleccionó el archivo." 
		                    auto="true" style="width: 100%"/>	

			                <c:if test="#{empty capitulo3View.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>		    
			                
			                <c:if test="#{not empty capitulo3View.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="#{capitulo3View.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>    
			                
			                <p:message for="seleArchP" />  
			                <br />      
					</h:panelGrid>	
					
					<p:outputLabel id="msjValida" value="#{capitulo3View.msj}" style="color:#B40431" />
				
					<div id="divExtensiones" class="alert alert-info">
						<p:outputLabel value="Extensiones permitidas: (pdf)"/>
						<br/>
											
						<p:outputLabel value="El tamaño límite es de 10MB"/>					
					</div>
					<br/>

				<p:commandButton id="btnGuardarModalArchivoP"
					class="btn btn-primary" style="float: right;" value="Guardar"
					update="pnlArchP, :fNormas:tablaDatos"
					oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				    $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
					actionListener="#{capitulo3View.guardarArchivoReglamento}" validateClient="true">
					<f:attribute name="tipo" value="preparacion" />
					<p:ajax process="@this" />
				</p:commandButton>
				<p:commandButton id="btnCerrarModalArchivoP" class="btn btn-default"
					style="float: right;" value="Cerrar"
					onclick="modalSubirArchivo.hide();" update="pnlArchP"
					process="@this" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertArchP" id="modalAlertArchP"
			header="Aviso" modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Archivo guardado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertArchP.hide();">Aceptar</button>
		</p:dialog>
	</h:form>
	<!-- ============================================================================================================================================= -->






	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo3View.claveTramite}",
			nsub : "#{capitulo3View.proyecto.nsub}",
			capitulo : 3,
			subcapitulo : 2,
			seccion : 3.8,
			apartado : -1
		}, case_ayuda);
	</script>
</h:body>
</html>

