<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"       
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
    <f:metadata>
		<f:viewAction action="#{archivosAnexosCap10Bean.consultarDesgloseRecomendacionesCargaPagina(10,4,1,0)}" />
		<f:viewAction action="#{archivosAnexosCap10Bean.consultarDesgloseSistemasCargaPagina(10,4,1,1)}" />		
		<f:viewAction action="#{archivosAnexosCap10Bean.consultarDesgloseMedidasCargaPagina(10,4,1,2)}" />	
	</f:metadata>	
      
    <h:head>
        <title></title>
<!--         <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/> -->
<!--         <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/> -->
<!--         <script src="#{request.contextPath}/assets/js/jquery.min.js"></script> -->
<!--         <script src="#{request.contextPath}/assets/js/funciones.js"></script> -->
<!--         <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script> -->
<!--         <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/> -->
<!--         <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />  -->
<!--         <script src="#{request.contextPath}/assets/js/ayudas.js"></script>     -->

	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- Hoja de Estilos Grafica base local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" type="text/css" />
	<link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<!-- Script Grafica base local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/scripts/main.js"></script>
	<script src="#{request.contextPath}/assets/scripts/plugins.js"></script>

	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        
        </h:head>
        
    <h:body onload="javascript:setTimeout(function() {
        getInformacionAdicionalMulti('#{estudioRiesgoView.strComentProy}','foDatosGen',
		'4,1,0-Recomendaciones Técnico/Operativas|' + 
		'4,1,1-Sistemas de Seguridad|' + 
		'4,1,2-Medidas Preventivas'
                )
            }, (250));">
            
            <!-- Recomendaciones Tecnico/Operativas -->

			<c:set var="capituloRecomendaciones" value="10"/>
			<c:set var="subcapituloRecomendaciones" value="4"/>
			<c:set var="seccionRecomendaciones" value="1"/>
			<c:set var="apartadoRecomendaciones" value="0"/>       
			
			<!-- Sistemas de Seguridad -->

			<c:set var="capituloSistemas" value="10"/>
			<c:set var="subcapituloSistemas" value="4"/>
			<c:set var="seccionSistemas" value="1"/>
			<c:set var="apartadoSistemas" value="1"/>    
			
			<!-- Medidas Preventivas -->

			<c:set var="capituloMedidas" value="10"/>
			<c:set var="subcapituloMedidas" value="4"/>
			<c:set var="seccionMedidas" value="1"/>
			<c:set var="apartadoMedidas" value="2"/>  
                    
        <h:form id="foDatosGen">
            
            <ui:include src="/loading.xhtml"/>            
            
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>
            
            <h:inputHidden id="ubicActual" value="#{estudioRiesgoView.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{estudioRiesgoView.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>
            
            <!--III.1 Recomendaciones Técnico - Operativas-->
            <div id="pRexo" class="gobmx-example" style="margin-left: auto; margin-right: auto; width: 800px">
                <div id="titulo1"></div>
<!--                 <button id="case_btn_ayuda" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> -->
            	<button id='case_btn_ayuda' type="button"
					class="btn btn-default" data-toggle="tooltip"
					data-placement="bottom">
					<span class="gobmxfont icon-infocircle" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button>
                <br/><br/>
                <div id="componenteConsulta1" style="display:none">
                    <center><table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{estudioRiesgoView.estudio.estudioRecomendacionesTecOp eq null or estudioRiesgoView.estudio.estudioRecomendacionesTecOp eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{estudioRiesgoView.estudio.estudioRecomendacionesTecOp}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                    </td></tr></table></center>                        
                    Adjuntos
<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=10,4,1,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </div>
                <div id="componenteActualiza1" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','1');"/>
                </div>
                <div id="componenteCaptura1" style="visibility: hidden;">		
                    <center>
                        <pe:ckEditor value="#{estudioRiesgoView.estudio.estudioRecomendacionesTecOp}" width="700"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>
                    <!-- anexos -->
<!--                     Anexos: -->
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=10,4,1,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
<!-- ==================== TABLA DE ARCHIVOS DE Recomendaciones Tecnico/Operativas ==================== -->
	
				<br/>
				<br/>
				
				<div id="botones" style="float: right;">
<!-- 					<p:commandButton id="btnAgregarArchivoRecomendaciones" value="" class="btn btn-default btn-xs glyphicon glyphicon-plus" style="float:right;" oncomplete="modalSubirArchivo.show()" immediate="true" -->
<!-- 						action="#{archivosAnexosCap10Bean.iniciarArchivo('RECOMENDACIONES')}" update=":formArchivosDisposicion:pnlArchivo"> -->
<!-- 						<f:param name="capitulo" value="#{capituloRecomendaciones}"/> -->
<!-- 						<f:param name="subcapitulo" value="#{subcapituloRecomendaciones}"/> -->
<!-- 						<f:param name="seccion" value="#{seccionRecomendaciones}"/> -->
<!-- 						<f:param name="apartado" value="#{apartadoRecomendaciones}"/> -->
<!-- 						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/> -->
<!-- 					</p:commandButton> -->
					<!-- mas -->
					<p:commandLink id="btnAgregarArchivoRecomendaciones" styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{archivosAnexosCap10Bean.iniciarArchivo('RECOMENDACIONES')}"
						update=":formArchivosDisposicion:pnlArchivo"
						oncomplete="modalSubirArchivo.show()" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar	
						<f:param name="capitulo" value="#{capituloRecomendaciones}"/>
						<f:param name="subcapitulo" value="#{subcapituloRecomendaciones}"/>
						<f:param name="seccion" value="#{seccionRecomendaciones}"/>
						<f:param name="apartado" value="#{apartadoRecomendaciones}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- menos -->
			
					<p:commandLink id="btnEliminarArchivoRecomendaciones"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"
						action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"
						oncomplete="dlgEliminarArchivoAnexo.show()"
						update=":fEliminarArchivo:pnlMensajeEliminarArchivo"
						disabled="#{archivosAnexosCap10Bean.listaArchivosRecomendacionesSeleccionados.size() == 0}" >
						<f:param name="eliminarArchivo" value="RECOMENDACIONES"/>
						<f:param name="capitulo" value="#{capituloRecomendaciones}"/>
						<f:param name="subcapitulo" value="#{subcapituloRecomendaciones}"/>
						<f:param name="seccion" value="#{seccionRecomendaciones}"/>
						<f:param name="apartado" value="#{apartadoRecomendaciones}"/>	
						<p:ajax process="@this" />
					</p:commandLink><br />											
<!-- 					<p:commandButton id="btnEliminarArchivoRecomendaciones" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle" value="" style="float:right;"  -->
<!-- 									 update=":fEliminarArchivo:pnlMensajeEliminarArchivo" action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"  -->
<!-- 									 disabled="#{archivosAnexosCap10Bean.listaArchivosRecomendacionesSeleccionados.size() == 0}"  -->
<!-- 									 oncomplete="dlgEliminarArchivoAnexo.show()"> -->
<!-- 						<f:param name="eliminarArchivo" value="RECOMENDACIONES"/> -->
<!-- 						<f:param name="capitulo" value="#{capituloRecomendaciones}"/> -->
<!-- 						<f:param name="subcapitulo" value="#{subcapituloRecomendaciones}"/> -->
<!-- 						<f:param name="seccion" value="#{seccionRecomendaciones}"/> -->
<!-- 						<f:param name="apartado" value="#{apartadoRecomendaciones}"/>								 -->
<!-- 					</p:commandButton> -->
				</div>
				
					<br/>
			
					<h3>Adjuntos</h3>
					<p:dataTable id="tablaArchivoRecomendaciones" styleClass="table table-responsive" value="#{archivosAnexosCap10Bean.archivosGeneralRecomendaciones}" var="archRecomendaciones" rowIndexVar="rowIndexR"
								 selection="#{archivosAnexosCap10Bean.listaArchivosRecomendacionesSeleccionados}" rowKey="#{archRecomendaciones.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
						
						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoRecomendaciones" />
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoRecomendaciones" />
						<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoRecomendaciones" />
		
						<p:column selectionMode="multiple" style="width:50px" />
			
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
<!-- 							<h:outputText value="#{archRecomendaciones.id}" /> -->
							<h:outputText value="#{rowIndexR+1}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Nombre</f:facet>
							<h:outputText value="#{archRecomendaciones.nombre}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Descripción</f:facet>
							<h:outputText value="#{archRecomendaciones.descripcion}" />
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header"></f:facet>
				            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
				                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archRecomendaciones.seqId}'); return false;"/>					
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header" />
							<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap10Bean.consultarArchivo(10,4,1,0)}"
											 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
								<f:param name="id" value="#{archRecomendaciones.id}" />
								<f:param name="pRowIndex" value="#{rowIndexR+1}" />
								<f:param name="actualizarArchivo" value="RECOMENDACIONES"/>
								<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
							</p:commandButton>
						</p:column>
			</p:dataTable>
<!-- ==================== TABLA DE ARCHIVOS DE Recomendaciones Tecnico/Operativas ==================== -->
                </div>
            </div>
            <br/>
            <br/>
            <!--III.1.1 Sistemas de Seguridad-->
            <div id="pSis" class="gobmx-example" style="margin-left: auto; margin-right: auto; width: 800px">
                <div id="titulo2"></div>
                <button id='case_btn_ayuda1' type="button"
					class="btn btn-default" data-toggle="tooltip"
					data-placement="bottom">
					<span class="gobmxfont icon-infocircle" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button>
                <br/><br/>
                <div id="componenteConsulta2" style="display:none">
                    <center><table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{estudioRiesgoView.estudio.estudioSistemasSeguridad eq null or estudioRiesgoView.estudio.estudioSistemasSeguridad eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{estudioRiesgoView.estudio.estudioSistemasSeguridad}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                    </td></tr></table></center> 
<!--                     Anexos: -->
<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=10,4,1,1,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </div>
                <div id="componenteActualiza2" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','2');"/>
                </div>
                <div id="componenteCaptura2" style="visibility: hidden;">		
                    <center>
                        <pe:ckEditor value="#{estudioRiesgoView.estudio.estudioSistemasSeguridad}" width="700"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>
                    <!-- anexos -->
<!--                     Anexos: -->
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=10,4,1,1,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
<!-- ==================== TABLA DE ARCHIVOS DE Sistemas de Seguridad ==================== -->
	
				<br/>
				<br/>
	
				<div id="botones" style="float: right;">
<!-- 					<p:commandButton id="btnAgregarArchivoSistemas" value="" class="btn btn-default btn-xs glyphicon glyphicon-plus" style="float:right;" oncomplete="modalSubirArchivo.show()" immediate="true" -->
<!-- 						action="#{archivosAnexosCap10Bean.iniciarArchivo('SISTEMAS')}" update=":formArchivosDisposicion:pnlArchivo"> -->
<!-- 						<f:param name="capitulo" value="#{capituloSistemas}"/> -->
<!-- 						<f:param name="subcapitulo" value="#{subcapituloSistemas}"/> -->
<!-- 						<f:param name="seccion" value="#{seccionSistemas}"/> -->
<!-- 						<f:param name="apartado" value="#{apartadoSistemas}"/> -->
<!-- 						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/> -->
<!-- 					</p:commandButton> -->
					<!-- mas -->
					<p:commandLink id="btnAgregarArchivoSistemas" styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{archivosAnexosCap10Bean.iniciarArchivo('SISTEMAS')}"
						update=":formArchivosDisposicion:pnlArchivo"
						oncomplete="modalSubirArchivo.show()" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar	
						<f:param name="capitulo" value="#{capituloSistemas}"/>
						<f:param name="subcapitulo" value="#{subcapituloSistemas}"/>
						<f:param name="seccion" value="#{seccionSistemas}"/>
						<f:param name="apartado" value="#{apartadoSistemas}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- menos -->
			
					<p:commandLink id="btnEliminarArchivoSistemas"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"
						action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"
						oncomplete="dlgEliminarArchivoAnexo.show()"
						update=":fEliminarArchivo:pnlMensajeEliminarArchivo"
						disabled="#{archivosAnexosCap10Bean.listaArchivosSistemasSeleccionados.size() == 0}"  >
						<f:param name="eliminarArchivo" value="SISTEMAS"/>
						<f:param name="capitulo" value="#{capituloSistemas}"/>
						<f:param name="subcapitulo" value="#{subcapituloSistemas}"/>
						<f:param name="seccion" value="#{seccionSistemas}"/>
						<f:param name="apartado" value="#{apartadoSistemas}"/>	
						<p:ajax process="@this" />
					</p:commandLink><br />											
<!-- 					<p:commandButton id="btnEliminarArchivoSistemas" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle" value="" style="float:right;"  -->
<!-- 									 update=":fEliminarArchivo:pnlMensajeEliminarArchivo" action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"  -->
<!-- 									 disabled="#{archivosAnexosCap10Bean.listaArchivosSistemasSeleccionados.size() == 0}"  -->
<!-- 									 oncomplete="dlgEliminarArchivoAnexo.show()"> -->
<!-- 						<f:param name="eliminarArchivo" value="SISTEMAS"/> -->
<!-- 						<f:param name="capitulo" value="#{capituloSistemas}"/> -->
<!-- 						<f:param name="subcapitulo" value="#{subcapituloSistemas}"/> -->
<!-- 						<f:param name="seccion" value="#{seccionSistemas}"/> -->
<!-- 						<f:param name="apartado" value="#{apartadoSistemas}"/>								 -->
<!-- 					</p:commandButton> -->
				</div>
			
					<br/>
			
					<h3>Adjuntos</h3>
					<p:dataTable id="tablaArchivoSistemas" styleClass="table table-responsive" value="#{archivosAnexosCap10Bean.archivosGeneralSistemas}" var="archSistemas" rowIndexVar="rowIndexS"
								 selection="#{archivosAnexosCap10Bean.listaArchivosSistemasSeleccionados}" rowKey="#{archSistemas.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
						
						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoSistemas" />
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoSistemas" />
						<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoSistemas" />
		
						<p:column selectionMode="multiple" style="width:50px" />
			
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
<!-- 							<h:outputText value="#{archSistemas.id}" /> -->
							<h:outputText value="#{rowIndexS+1}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Nombre</f:facet>
							<h:outputText value="#{archSistemas.nombre}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Descripción</f:facet>
							<h:outputText value="#{archSistemas.descripcion}" />
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header"></f:facet>
				            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
				                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archSistemas.seqId}'); return false;"/>					
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header" />
							<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap10Bean.consultarArchivo(10,4,1,1)}"
											 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
								<f:param name="id" value="#{archSistemas.id}" />
								<f:param name="pRowIndex" value="#{rowIndexS+1}" />
								<f:param name="actualizarArchivo" value="SISTEMAS"/>
								<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
							</p:commandButton>
						</p:column>
			</p:dataTable>
<!-- ==================== TABLA DE ARCHIVOS DE Sistemas de Seguridad ==================== -->
                </div>
            </div>
            <br/>
            <br/>
            <!--III.1.2 Medidas Preventivas-->
            <div id="pSis" class="gobmx-example" style="margin-left: auto; margin-right: auto; width: 800px">
                <div id="titulo3"></div>
                <button id='case_btn_ayuda2' type="button"
					class="btn btn-default" data-toggle="tooltip"
					data-placement="bottom">
					<span class="gobmxfont icon-infocircle" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button>
                <br/><br/>
                <div id="componenteConsulta3" style="display:none">
                    <center><table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{estudioRiesgoView.estudio.estudioMedidasPreventivas eq null or estudioRiesgoView.estudio.estudioMedidasPreventivas eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{estudioRiesgoView.estudio.estudioMedidasPreventivas}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                    </td></tr></table></center>                     
<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=10,4,1,2,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </div>
                <div id="componenteActualiza3" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','3');"/>
                </div>
                <div id="componenteCaptura3" style="visibility: hidden;">		
                    <center>
                        <pe:ckEditor value="#{estudioRiesgoView.estudio.estudioMedidasPreventivas}" width="700"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>
                    <!-- anexos -->
<!--                     Anexos: -->
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=10,4,1,2,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
<!-- ==================== TABLA DE ARCHIVOS DE Medidas Preventivas ==================== -->
	
				<br/>
				<br/>
	
				<div id="botones" style="float: right;">
<!-- 					<p:commandButton id="btnAgregarArchivoMedidas" value="" class="btn btn-default btn-xs glyphicon glyphicon-plus" style="float:right;" oncomplete="modalSubirArchivo.show()" immediate="true" -->
<!-- 						action="#{archivosAnexosCap10Bean.iniciarArchivo('MEDIDAS')}" update=":formArchivosDisposicion:pnlArchivo"> -->
<!-- 						<f:param name="capitulo" value="#{capituloMedidas}"/> -->
<!-- 						<f:param name="subcapitulo" value="#{subcapituloMedidas}"/> -->
<!-- 						<f:param name="seccion" value="#{seccionMedidas}"/> -->
<!-- 						<f:param name="apartado" value="#{apartadoMedidas}"/> -->
<!-- 						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/> -->
<!-- 					</p:commandButton> -->
					<!-- mas -->
					<p:commandLink id="btnAgregarArchivoMedidas" styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{archivosAnexosCap10Bean.iniciarArchivo('MEDIDAS')}"
						update=":formArchivosDisposicion:pnlArchivo"
						oncomplete="modalSubirArchivo.show()" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar	
						<f:param name="capitulo" value="#{capituloMedidas}"/>
						<f:param name="subcapitulo" value="#{subcapituloMedidas}"/>
						<f:param name="seccion" value="#{seccionMedidas}"/>
						<f:param name="apartado" value="#{apartadoMedidas}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- menos -->
			
					<p:commandLink id="btnEliminarArchivoMedidas"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"
						action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"
						oncomplete="dlgEliminarArchivoAnexo.show()"
						update=":fEliminarArchivo:pnlMensajeEliminarArchivo"
						disabled="#{archivosAnexosCap10Bean.listaArchivosMedidasSeleccionados.size() == 0}"  >
						<f:param name="eliminarArchivo" value="MEDIDAS"/>
						<f:param name="capitulo" value="#{capituloMedidas}"/>
						<f:param name="subcapitulo" value="#{subcapituloMedidas}"/>
						<f:param name="seccion" value="#{seccionMedidas}"/>
						<f:param name="apartado" value="#{apartadoMedidas}"/>
						<p:ajax process="@this" />
					</p:commandLink><br />											
<!-- 					<p:commandButton id="btnEliminarArchivoMedidas" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle" value="" style="float:right;"  -->
<!-- 									 update=":fEliminarArchivo:pnlMensajeEliminarArchivo" action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"  -->
<!-- 									 disabled="#{archivosAnexosCap10Bean.listaArchivosMedidasSeleccionados.size() == 0}"  -->
<!-- 									 oncomplete="dlgEliminarArchivoAnexo.show()"> -->
<!-- 						<f:param name="eliminarArchivo" value="MEDIDAS"/> -->
<!-- 						<f:param name="capitulo" value="#{capituloMedidas}"/> -->
<!-- 						<f:param name="subcapitulo" value="#{subcapituloMedidas}"/> -->
<!-- 						<f:param name="seccion" value="#{seccionMedidas}"/> -->
<!-- 						<f:param name="apartado" value="#{apartadoMedidas}"/>								 -->
<!-- 					</p:commandButton> -->
				</div>
			
					<br/>
			
					<h3>Adjuntos</h3>
					<p:dataTable id="tablaArchivoMedidas" styleClass="table table-responsive" value="#{archivosAnexosCap10Bean.archivosGeneralMedidas}" var="archMedidas" rowIndexVar="rowIndexM"
								 selection="#{archivosAnexosCap10Bean.listaArchivosMedidasSeleccionados}" rowKey="#{archMedidas.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
						
						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoMedidas" />
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoMedidas" />
						<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoMedidas" />
		
						<p:column selectionMode="multiple" style="width:50px" />
			
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
<!-- 							<h:outputText value="#{archMedidas.id}" /> -->
							<h:outputText value="#{rowIndexM+1}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Nombre</f:facet>
							<h:outputText value="#{archMedidas.nombre}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Descripción</f:facet>
							<h:outputText value="#{archMedidas.descripcion}" />
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header"></f:facet>
				            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
				                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archMedidas.seqId}'); return false;"/>					
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header" />
							<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap10Bean.consultarArchivo(10,4,1,2)}"
											 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
								<f:param name="id" value="#{archMedidas.id}" />
								<f:param name="pRowIndex" value="#{rowIndexM+1}" />
								<f:param name="actualizarArchivo" value="MEDIDAS"/>
								<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
							</p:commandButton>
						</p:column>
			</p:dataTable>
<!-- ==================== TABLA DE ARCHIVOS DE Medidas Preventivas ==================== -->
                </div>
            </div>

            <br/>
            <c:set value="9.4" target="#{capitulo4View}" property="seccion" />
<!--             <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" /> -->

            <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right: 20px">
                <p:commandButton value="Guardar" class="btn btn-primary" action="#{estudioRiesgoView.guardar}"
                                 update="@this" process="@form"
                                 onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra(); "
                                         onclick="this.firstChild.innerHTML = 'Guardando...';
                                         this.disabled = true;"/>
            </div>
        </h:form>

		<ui:include src="/ventanasModalesAnexosCap10.xhtml"/>

        <script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{estudioRiesgoView.claveTramite}", nsub: "#{estudioRiesgoView.subsec}", capitulo: 10, subcapitulo: 4, seccion: 1, apartado: -1 }, case_ayuda); 
            $('#case_btn_ayuda1').click({vClaveTramite:"#{estudioRiesgoView.claveTramite}", nsub: "#{estudioRiesgoView.subsec}", capitulo: 10, subcapitulo: 4, seccion: 1, apartado: 1 }, case_ayuda); 
            $('#case_btn_ayuda2').click({vClaveTramite:"#{estudioRiesgoView.claveTramite}", nsub: "#{estudioRiesgoView.subsec}", capitulo: 10, subcapitulo: 4, seccion: 1, apartado: 2 }, case_ayuda);          
        </script>

    </h:body>
</html>
