<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<f:metadata>
	<f:viewAction
		action="#{archivosAnexosBean.consultarDesgloseCapitulo(5,1,0,0)}" />
</f:metadata>

<h:head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8" />
	<link href="#{request.contextPath}/assets/css/vendor/bootstrap.css"
		rel="stylesheet" media="screen" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- <link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
	<!--         <link rel="stylesheet" href="#{request.contextPath}/assets/css/main_offline.css"/> -->
	<link href="#{request.contextPath}/assets/styles/main.css"
		rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/dgiraMia.css"
		rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/ayudas.css"
		rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css"
		rel="stylesheet" />

	<!-- Script Grafica base local -->
		<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	<script src="#{request.contextPath}/assets/js/locale_es.js"></script>
	<style>
.css_radio label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
	width: 50px;
	padding: 10px;
	vertical-align: middle;
	text-align: justify;
}
</style>
</h:head>
<h:body
	onload="javascript:getInformacionAdicional('#{capitulo5View.strComentProy}','foDatosGen',1,0,0,'Metodología para identificar y evaluar los impactos ambientales')">
	
	<div class="col-md-12" id="mensaje"></div>
	
	<ui:include src="/loading.xhtml" />

	<c:set var="capitulo" value="5" />
	<c:set var="subcapitulo" value="1" />
	<c:set var="seccion" value="0" />
	<c:set var="apartado" value="0" />

	<h:form id="foDatosGen">
		<div class="semarnat_ayuda" id='case_pnl_ayuda'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>

		<h:inputHidden id="ubicActual" value="#{capitulo5View.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional"
			value="#{capitulo5View.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />


		<div id="pMet">
			<div id="titulo"></div>

			<button id='case_btn_ayuda' type="button" class="btn btn-default"
				data-toggle="tooltip" data-placement="bottom">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				<span class="glyphicon-class">Ayuda</span>
			</button>

			<br />
			<br />
			<div id="componenteConsulta" style="display: none">
				<center>
					<table width="60%" style="text-align: justify;">
						<tr>
							<td><c:choose>
									<c:when
										test="#{capitulo5View.proyecto.descMetutil eq null or capitulo5View.proyecto.descMetutil eq ''}">
										<h:outputText style="color: gray" value="Sin especificar"
											escape="false" />
									</c:when>
									<c:otherwise>
										<h:outputText value="#{capitulo5View.proyecto.descMetutil}"
											escape="false" />
									</c:otherwise>
								</c:choose></td>
						</tr>
					</table>
				</center>
				<h3>Justificación de la metodología utilizada</h3>
				<br />
				<br />
				<center>
					<table width="60%" style="text-align: justify;">
						<tr>
							<td><c:choose>
									<c:when
										test="#{capitulo5View.proyecto.proyJustmetUtil eq null or capitulo5View.proyecto.proyJustmetUtil eq ''}">
										<h:outputText style="color: gray" value="Sin especificar"
											escape="false" />
									</c:when>
									<c:otherwise>
										<h:outputText
											value="#{capitulo5View.proyecto.proyJustmetUtil}"
											escape="false" />
									</c:otherwise>
								</c:choose></td>
						</tr>
					</table>
				</center>
				<!--                     Anexos: -->
				<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=5,1,0,0,#{capitulo5View.proyecto.proyectoPK.folioProyecto},#{capitulo5View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
			</div>
			<div id="componenteActualiza"
				style="display: none; float: right; margin-right: 20px">
				<br />
				<p:commandButton value="Modificar sección (opcional)"
					class="btn btn-primary"
					onclick="actualizaComponentesModifica('foDatosGen');" />
			</div>

			<div id="componenteCaptura" style="visibility: hidden;">
				<center>
					<pe:ckEditor width="700"
						value="#{capitulo5View.proyecto.descMetutil}"
						toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]" />
				</center>
				<h3>Justificación de la metodología utilizada</h3>
				<br />
				<br />
				<center>

					<pe:ckEditor width="700"
						value="#{capitulo5View.proyecto.proyJustmetUtil}"
						toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]" />
				</center>
				<!-- anexos -->
				<!--                     Anexos: -->
				<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=5,1,0,0,#{capitulo5View.proyecto.proyectoPK.folioProyecto},#{capitulo5View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
			</div>
		</div>

		<c:set value="5.1" target="#{capitulo4View}" property="seccion" />
<!-- 		<p:messages id="messages" showDetail="true" autoUpdate="true" 
			closable="false" /> -->

		<br/>
		<br/>
		<br/>

		<!-- ============================================================= TABLA AGREGADA DE ANEXOS =========================================================== -->

		<ui:include src="/anexosarchivos.xhtml" />

		<div id="componenteGuarda"
			style="display: none; float: right; clear: right; margin-right: 20px">
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{capitulo5View.guardar}"
				onsuccess="parent.actualizaBarra();" />
		</div>

	</h:form>

	<ui:include src="/ventanasModalesAnexos.xhtml" />

	<script>
           $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo5View.claveTramite}", nsub:"#{capitulo5View.proyecto.nsub}", capitulo: 5, subcapitulo: 1, seccion: -1, apartado: -1 }, case_ayuda); 
        </script>
</h:body>
</html>
