<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<f:metadata>
	<f:viewAction
		action="#{archivosAnexosBean.consultarDesgloseCapitulo(5,2,0,0)}" />
</f:metadata>

<h:head>
	<title></title>
	<!--         <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/> -->
	<!--         <link rel="stylesheet" href="../../assets/css/gobmx.css"/> -->
	<!--         <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/> -->
	<!--         <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />  -->
	<!--         <script src="#{request.contextPath}/assets/js/funciones.js"></script> -->
	<!--         <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script> -->
	<!--         <script src="#{request.contextPath}/assets/js/ayudas.js"></script> -->
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="Last-Modified" content="0" />
	<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8" />

	<link href="assets/images/favicon.ico" rel="shortcut icon" />

	<!--         <link rel="stylesheet" href="#{request.contextPath}/assets/css/main_offline.css"/> -->
	<link href="#{request.contextPath}/assets/styles/main.css"
		rel="stylesheet" />
	<!--  <link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/> -->
	<link href="#{request.contextPath}/assets/css/ayudas.css"
		rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css"
		rel="stylesheet" />
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<!-- Script Grafica base local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>

	<style>
.css_radio label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
	width: 50px;
	padding: 10px;
	vertical-align: middle;
	text-align: justify;
}
</style>
</h:head>
<h:body
	onload="javascript:getInformacionAdicional('#{capitulo5View.strComentProy}','foDatosGen',2,0,0,'Resultados de evaluación de los impactos ambientales')">
	<div class="col-md-12" id="mensaje"></div>

	<ui:include src="/loading.xhtml" />

	<c:set var="capitulo" value="5" />
	<c:set var="subcapitulo" value="2" />
	<c:set var="seccion" value="0" />
	<c:set var="apartado" value="0" />

	<h:form id="foDatosGen">
		<div class="semarnat_ayuda" id='case_pnl_ayuda'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>

		<h:inputHidden id="ubicActual" value="#{capitulo5View.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional"
			value="#{capitulo5View.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />

		<div id="pMet">
			<div id="titulo"></div>
			<hr class="red"></hr>
			<!--                 <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> -->

			<button id='case_btn_ayuda' type="button" class="btn btn-default"
				data-toggle="tooltip" data-placement="bottom">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				<span class="glyphicon-class">Ayuda</span>
			</button>

			<hr></hr>
			<div id="botones" style="float: right;">
				<!-- <p:commandButton id="btnEliminar" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle" value=""	onclick="Eliminar:modalEliminar.show()"
						update=":Eliminar:pnlEliminar" disabled="#{capitulo5View.selectedEva.size() == 0}">
                         	<p:ajax process="@this" />
                        </p:commandButton>
                        <p:commandButton id="btnAgregar" class="btn btn-default btn-xs glyphicon glyphicon-plus" value="" onclick="Agregar:modalAgregar.show()"
                        update=":Agregar:pnlAgregar" action="#{capitulo5View.crearImpacto}">
                         	<p:ajax process="@this" />
                         	<p:resetInput target=":Agregar:pnlAgregar"/>
                        </p:commandButton>
                             
                        <br/> -->
				<p:commandLink id="btnAgregar"
					styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
					value="Agregar" type="button"
					actionListener="#{capitulo5View.crearImpacto}"
					update=":Agregar:pnlAgregar"
					oncomplete="Agregar:modalAgregar.show()" immediate="true">
					<span class="glyphicon glyphicon-plus"></span> Agregar	
						<f:param name="capitulo" value="#{capitulo}" />
					<f:param name="subcapitulo" value="#{subcapitulo}" />
					<f:param name="seccion" value="#{seccion}" />
					<f:param name="apartado" value="#{apartado}" />
					<p:resetInput target=":Agregar:pnlAgregar"></p:resetInput>
					<p:ajax process="@this" />
				</p:commandLink>
				<!-- 				menos -->

				<p:commandLink id="btnEliminar"
					class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
					value="Eliminar" onclick="Eliminar:modalEliminar.show()"
					update=":Eliminar:pnlEliminar"
					disabled="#{capitulo5View.selectedEva.size() == 0}">
					<p:ajax process="@this" />
					<p:resetInput target=":Agregar:pnlAgregar"></p:resetInput>
				</p:commandLink>
			</div>
			<br /> <br />
			<br />

			<div id="componenteConsulta" style="display: none">
				<p:scrollPanel mode="native" style="width:auto; border: none;">
					<div id="pMetC">
						<h:dataTable styleClass="table" var="c"
							value="#{capitulo5View.evaluacion}" id="impdataC">
							<h:column>
								<f:facet name="header">Etapa</f:facet>
								<h:selectOneMenu value="#{c.etapaId}"
									converter="#{catEtapaConverterBean}">
									<f:selectItems value="#{catalogosView.catEtapa}" />
								</h:selectOneMenu>
							</h:column>
							<h:column>
								<f:facet name="header">Impacto identificado</f:facet>
								<h:inputText readonly="true" value="#{c.impactIndent}" />
							</h:column>
							<h:column>
								<f:facet name="header">Descripción</f:facet>
								<table width="100%" style="text-align: justify;">
									<tr>
										<td><h:outputText value="#{c.impactDesc}" escape="false" />
										</td>
									</tr>
								</table>
							</h:column>
							<h:column>
								<f:facet name="header">Caracterización</f:facet>
								<table width="100%" style="text-align: justify;">
									<tr>
										<td><h:outputText value="#{c.impacCarac}" escape="false" />
										</td>
									</tr>
								</table>
							</h:column>
							<h:column>
								<f:facet name="header">Evaluación sobre la medida propuesta</f:facet>
								<table width="100%" style="text-align: justify;">
									<tr>
										<td><h:outputText value="#{c.impacEva}" escape="false" />
										</td>
									</tr>
								</table>
							</h:column>
							<h:column>
								<f:facet name="header">Tipo impacto</f:facet>
								<h:selectOneMenu value="#{c.impactoId}"
									converter="#{catTipoImpactoConverterBean}">
									<f:selectItems value="#{catalogosView.catTipoImpacto}" />
								</h:selectOneMenu>
							</h:column>
							<h:column>
								<f:facet name="header">Indicador</f:facet>
								<table width="100%" style="text-align: justify;">
									<tr>
										<td><h:outputText value="#{c.impacIndic}" escape="false" />
										</td>
									</tr>
								</table>
							</h:column>
						</h:dataTable>
					</div>
				</p:scrollPanel>
				<br></br>
				<!-- anexos -->
				Adjuntos
				<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=5,2,0,0,#{capitulo5View.proyecto.proyectoPK.folioProyecto},#{capitulo5View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
			</div>
			<div id="componenteActualiza"
				style="display: none; float: right; margin-right: 20px">
				<br />
				<p:commandButton value="Modificar sección (opcional)"
					class="btn btn-primary"
					onclick="actualizaComponentesModifica('foDatosGen');" />
			</div>

			<div id="componenteCaptura" style="display: none;">
				<h:panelGroup id='panelCaptura'>
					<p:scrollPanel mode="native" style="width:auto; border: none;">
						<div id="pMet">
							<!-- Nueva tabla para Resultados de Evaluacion -->
							<h:panelGroup id="pSelSit">
								<p:dataTable value="#{capitulo5View.evaluacion}" var="eva"
									id="tablaDatos" rowIndexVar="rowIndexResEvaIA"
									selection="#{capitulo5View.selectedEva}"
									rowKey="#{eva.impacAmbProyectoPK.impacAmbproyId}"
									paginator="true" emptyMessage="Sin registros."
									paginatorPosition="bottom" rows="10" style="margin-bottom: 0;">

									<p:ajax event="rowSelectCheckbox"
										update=":foDatosGen:btnEliminar" />
									<p:ajax event="rowUnselectCheckbox"
										update=":foDatosGen:btnEliminar" />
									<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminar" />
									<p:column id="check" selectionMode="multiple"
										style="width:5%;text-align:center">
										<!--<f:ajax execute="eliminarR" render="eliminarB" event="change" />-->
									</p:column>
									<p:column
										style="white-space: normal;width:5%;text-align:center; font-size: 15px;">
										<f:facet name="header">#</f:facet>
										<h:outputText value="#{rowIndexResEvaIA+1}" />
									</p:column>
									<p:column
										style="white-space: normal; text-align:center; font-size: 15px;">
										<f:facet name="header">Etapa</f:facet>

										<h:outputText value="#{eva.etapaId.etapaDescripcion}" />

									</p:column>
									<p:column
										style="white-space: normal; text-align:center; font-size: 15px;">
										<f:facet name="header">Impacto identificado</f:facet>

										<h:outputText value="#{eva.impactIndent}" />

									</p:column>
									<p:column
										style="white-space: normal; text-align:center; font-size: 15px;">
										<f:facet name="header">Descripción</f:facet>
										<h:outputText value="#{eva.impactDescripcionCorta}" />

									</p:column>
									<p:column
										style="white-space: normal;text-align:center; font-size: 15px;">
										<f:facet name="header">Caracterización</f:facet>

										<h:outputText value="#{eva.impactCaraCorta}" />

									</p:column>
									<p:column
										style="white-space: normal; text-align:center; font-size: 15px;">
										<f:facet name="header">Evaluación sobre la medida propuesta</f:facet>

										<h:outputText value="#{eva.impactEvaCorta}" />

									</p:column>
									<p:column
										style="white-space: normal; text-align:center;font-size: 15px;">
										<f:facet name="header">Tipo de impacto</f:facet>

										<h:outputText value="#{eva.impactoId.tipoImpactoDescripcion}" />

									</p:column>
									<p:column
										style="white-space: normal; text-align:center; font-size: 15px;">
										<f:facet name="header">Indicador</f:facet>

										<h:outputText value="#{eva.impactIndicCorta}" />

									</p:column>
									<p:column
										style="white-space: normal;width:9%;text-align:center">
										<f:facet name="header" />
										<p:commandButton
											class="btn btn-default btn-xs glyphicon glyphicon-pencil"
											value="" action="#{capitulo5View.consultarImpacto}"
											update=":Editar:pnlEditar, :Editar:pnlEditarHeader"
											oncomplete="modalEditar.show()">
											<p:ajax process="@this" />
											<f:param name="prowindexResEvaIA"
												value="#{rowIndexResEvaIA+1}" />
											<f:param name="id"
												value="#{eva.impacAmbProyectoPK.impacAmbproyId}" />
										</p:commandButton>
									</p:column>

								</p:dataTable>


							</h:panelGroup>
							<!--  -->

						</div>
					</p:scrollPanel>
					<br></br>
					<!-- anexos -->
					<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=5,2,0,0,#{capitulo5View.proyecto.proyectoPK.folioProyecto},#{capitulo5View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
				</h:panelGroup>
			</div>
		</div>

		<br />
		<br />

		<!-- ============================================================= TABLA AGREGADA DE ANEXOS =========================================================== -->

		<ui:include src="/anexosarchivos.xhtml" />

		<div id="componenteGuarda" style="float: right;">
			<p:commandButton value="Guardar" class="btn btn-primary"
				onsuccess="parent.actualizaBarra();"
				action="#{capitulo5View.guardar}" />
		</div>

	</h:form>

	<ui:include src="/ventanasModalesAnexos.xhtml" />

	<!-- Modal Para Agregar Resultado de Evaluacion de Impactos Ambientales -->
	<h:form id="Agregar">
		<p:dialog widgetVar="modalAgregar" id="modalAgregar" modal="true"
			showEffect="fade" hideEffect="fade" closable="false" width="50%"
			resizable="false" height="500">
			<f:facet name="header">
				<h:form id="formHeader">
					<h4 class="modal-title">Agregar registro</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlAgregar">
				<p:outputLabel value="Etapa" />
				<p:outputLabel value="" for="etapa" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="etapa"
					value="#{capitulo5View.evaNuevo.etapaId}" class="form-control"
					converter="#{catEtapaConverterBean}" required="true"
					requiredMessage="Este campo es obligatorio" hideNoSelectionOption="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catEtapasDelProyecto}" />
				</h:selectOneMenu>
				<p:message id="msgetapa" for="etapa" display="true" />

				<p:outputLabel value="Impacto identificado" />
				<p:outputLabel value="" for="impactoIdentificado" />
				<p:outputLabel value=":" />
				<br />
				<p:inputText id="impactoIdentificado" class="form-control"
					value="#{capitulo5View.evaNuevo.impactIndent}" cols="50" rows="3"
					maxlength="100" required="true" requiredMessage="Este campo es obligatorio" autoResize="false" />
				<p:message id="msgimpactoIdentificado" for="impactoIdentificado" display="true" />

				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descripcion" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="descripcion" class="form-control"
					value="#{capitulo5View.evaNuevo.impactDesc}" cols="50" rows="3"
					maxlength="1000" required="true" requiredMessage="Este campo es obligatorio" counter="contador1"
					counterTemplate="Quedan {0} caracteres." autoResize="false" />
				<h:outputText id="contador1" />
				<p:message id="msgdescripcion" for="descripcion" display="true" />

				<p:outputLabel value="Caracterización" />
				<p:outputLabel value="" for="caracterizacion" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="caracterizacion" class="form-control"
					value="#{capitulo5View.evaNuevo.impacCarac}" cols="50" rows="3"
					maxlength="1000" required="true" requiredMessage="Este campo es obligatorio" autoResize="false"
					counter="contadorCarac" counterTemplate="Quedan {0} caracteres." />
				<h:outputText id="contadorCarac" />
				<p:message id="msgcaracterizacion" for="caracterizacion" display="true" />

				<p:outputLabel value="Evaluación sobre la medida propuesta" />
				<p:outputLabel value="" for="evaluacionPropuesta" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="evaluacionPropuesta" class="form-control"
					value="#{capitulo5View.evaNuevo.impacEva}" cols="50" rows="3"
					maxlength="1000" required="true" requiredMessage="Este campo es obligatorio" autoResize="false"
					counter="contadorEva" counterTemplate="Quedan {0} caracteres." />
				<h:outputText id="contadorEva" />
				<p:message id="msgevaluacionPropuesta" for="evaluacionPropuesta" display="true" />

				<p:outputLabel value="Tipo impacto" />
				<p:outputLabel value="" for="tipoImpacto" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="tipoImpacto" class="form-control"
					value="#{capitulo5View.evaNuevo.impactoId}"
					converter="#{catTipoImpactoConverterBean}" required="true"
					requiredMessage="Este campo es obligatorio"
					hideNoSelectionOption="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catTipoImpacto}" />
				</h:selectOneMenu>
				<p:message id="msgtipoImpacto" for="tipoImpacto" display="true" />

				<p:outputLabel value="Indicador" />
				<p:outputLabel value="" for="indicador" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="indicador" class="form-control"
					value="#{capitulo5View.evaNuevo.impacIndic}" cols="50" rows="3"
					maxlength="300" required="true" requiredMessage="Este campo es obligatorio" autoResize="false"
					counter="contadorInd" counterTemplate="Quedan {0} caracteres." />
				<h:outputText id="contadorInd" />
				<p:message id="msgindicador" for="indicador" display="true" />

				<div class="modal-footer">
					<p:commandButton id="cerrarModalA" styleClass="btn btn-default"
						value="Cerrar" onclick="modalAgregar.hide()" update="pnlAgregar"
						immediate="true" />

					<p:commandButton id="guardar" styleClass="btn btn-primary"
						value="Guardar"
						update="etapa, msgetapa, impactoIdentificado, msgimpactoIdentificado, 
						descripcion, msgdescripcion, caracterizacion, msgcaracterizacion, 
						evaluacionPropuesta, msgevaluacionPropuesta, tipoImpacto, msgtipoImpacto, 
						indicador, msgindicador, :foDatosGen:tablaDatos, pnlAgregar"
						action="#{capitulo5View.agregarImpacto}" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<!-- Modal para Editar Resultado de Evaluacion de Impactos Ambientales -->
	<h:form id="Editar">
		<p:dialog widgetVar="modalEditar" id="modalEditar" modal="true"
			showEffect="fade" hideEffect="fade" closable="false" width="50%"
			resizable="false" height="500">
			<f:facet name="header">
				<p:outputPanel id="pnlEditarHeader">
					<h4 class="modal-title">Editar registro #
						#{capitulo5View.rowIndexResEvaIAEditar}</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditar">
				<p:outputLabel value="Etapa" />
				<p:outputLabel value="" for="editarEtapa" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="editarEtapa" class="form-control"
					value="#{capitulo5View.editEva.etapaId}"
					converter="#{catEtapaConverterBean}" required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catEtapasDelProyecto}" />
				</h:selectOneMenu>
				<p:message id="msgeditarEtapa" for="editarEtapa" display="true" />

				<p:outputLabel value="Impacto Identificado" />
				<p:outputLabel value="" for="editarImpactoIdentificado" />
				<p:outputLabel value=":" />
				<br />
				<p:inputText id="editarImpactoIdentificado" class="form-control"
					value="#{capitulo5View.editEva.impactIndent}" cols="50" rows="3"
					maxlength="100" required="true" requiredMessage="Este campo es obligatorio"/>
				<p:message id="msgeditarImpactoIdentificado" for="editarImpactoIdentificado" display="true" />

				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="editarDescripcion" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="editarDescripcion" class="form-control"
					value="#{capitulo5View.editEva.impactDesc}" cols="50" rows="3"
					maxlength="1000" required="true" requiredMessage="Este campo es obligatorio" counter="contador2"
					counterTemplate="Quedan {0} caracteres." autoResize="false" />
				<h:outputText id="contador2" />
				<p:message id="msgeditarDescripcion" for="editarDescripcion" display="true" />

				<p:outputLabel value="Caracterización" />
				<p:outputLabel value="" for="editarCaracterizacion" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="editarCaracterizacion" class="form-control"
					value="#{capitulo5View.editEva.impacCarac}" cols="50" rows="3"
					maxlength="1000" required="true" requiredMessage="Este campo es obligatorio" counter="contadorCarac1"
					counterTemplate="Quedan {0} caracteres." autoResize="false" />
				<h:outputText id="contadorCarac1" />
				<p:message id="msgeditarCaracterizacion" for="editarCaracterizacion" display="true" />

				<p:outputLabel value="Evaluación sobre la medida propuesta" />
				<p:outputLabel value="" for="editarEvaluacionPropuesta" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="editarEvaluacionPropuesta" class="form-control"
					value="#{capitulo5View.editEva.impacEva}" cols="50" rows="3"
					maxlength="1000" required="true" requiredMessage="Este campo es obligatorio" counter="contadorEva1"
					counterTemplate="Quedan {0} caracteres." autoResize="false" />
				<h:outputText id="contadorEva1" />
				<p:message id="msgeditarEvaluacionPropuesta" for="editarEvaluacionPropuesta" display="true" />

				<p:outputLabel value="Tipo impacto" />
				<p:outputLabel value="" for="editarTipoImpacto" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="editarTipoImpacto" class="form-control"
					value="#{capitulo5View.editEva.impactoId}"
					converter="#{catTipoImpactoConverterBean}" required="true"
					requiredMessage="Este campo es obligatorio">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catTipoImpacto}" />
				</h:selectOneMenu>
				<p:message id="msgeditarTipoImpacto" for="editarTipoImpacto" display="true" />

				<p:outputLabel value="Indicador" />
				<p:outputLabel value="" for="editarIndicador" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="editarIndicador" class="form-control"
					value="#{capitulo5View.editEva.impacIndic}" cols="50" rows="3"
					maxlength="300" required="true" requiredMessage="Este campo es obligatorio" counter="contadorInd1"
					counterTemplate="Quedan {0} caracteres." autoResize="false" />
				<h:outputText id="contadorInd1" />
				<p:message id="msgeditarIndicador" for="editarIndicador" display="true" />

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-default" id="cerrarModalE"
						value="Cerrar" onclick="modalEditar.hide()" update="pnlEditar"
						immediate="true" />

					<p:commandButton styleClass="btn btn-primary" id="guardar"
						value="Guardar"
						update="editarEtapa,msgeditarEtapa, editarImpactoIdentificado, msgeditarImpactoIdentificado, 
							editarDescripcion, msgeditarDescripcion, editarCaracterizacion, msgeditarCaracterizacion, 
							editarEvaluacionPropuesta, msgeditarEvaluacionPropuesta, editarTipoImpacto, 
							msgeditarTipoImpacto, editarIndicador, msgeditarIndicador, :foDatosGen:tablaDatos, pnlEditar"
						action="#{capitulo5View.editarImpacto}" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>
	
	<!-- Modal para Eliminar Resultado de Evaluacion de Impactos Ambientales -->
	<h:form id="Eliminar">
		<p:dialog widgetVar="modalEliminar" id="modalEliminar" modal="true">
			<f:facet name="header">
				<h:form id="formEliminarHeader">
					<h4 class="modal-title">Eliminar</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlEliminar">
				<div class="alert alert-warning">
					<SPAN class="glyphicon glyphicon-warning-sign"></SPAN> ¿Realmente
					desea borrar el(los) registro(s)?
				</div>
				<ui:repeat value="#{capitulo5View.selectedEva}" var="sEva">
					<h:outputText value="#{sEva.impactIndent}" style="display:block" />
				</ui:repeat>
				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-default" id="respuestaNo"
						value="No" onclick="modalEliminar.hide()" />
					<p:commandButton styleClass="btn btn-primary" id="respuestaSi"
						value="Si" update=":foDatosGen:tablaDatos, pnlEliminar"
						action="#{capitulo5View.eliminarImpacto}" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<h:form id="Mensaje">
		<p:dialog widgetVar="modalMensaje" id="modalMensaje" modal="true">
			<f:facet name="header">
				<h:form id="formMensajeHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensaje">

				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro guardado
					exitosamente.
				</div>

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary"
						id="cerrarModalM" value="Aceptar" onclick="modalMensaje.hide()"
						update="pnlMensaje" immediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>
	<h:form id="MensajeEditar">
		<p:dialog widgetVar="modalMensajeEditar" id="modalMensajeEditar"
			modal="true">
			<f:facet name="header">
				<h:form id="formMensajeHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensaje">

				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro actualizado
					exitosamente.
				</div>

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary"
						id="cerrarModalM" value="Aceptar"
						onclick="modalMensajeEditar.hide()" update="pnlMensaje"
						immediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>
	<h:form id="MensajeEliminar">
		<p:dialog widgetVar="modalMensajeEliminar" id="modalMensajeEliminar"
			modal="true">
			<f:facet name="header">
				<h:form id="formMensajeEliminarHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensajeEliminar">

				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-remove"></SPAN> Registro eliminado
					exitosamente.
				</div>

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary"
						id="cerrarModalME" value="Aceptar"
						onclick="modalMensajeEliminar.hide()" update="pnlMensajeEliminar"
						immediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>
	
	<!-- Ventana que muestra el contenido del campo Descripcion -->
	<p:dialog widgetVar="dlgDescripcion" modal="true" showEffect="fade"
		hideEffect="fade" closable="false" width="50%" resizable="false">
		<f:facet name="header">
			<h:form id="formVinculacionHeader">
				<h4 class="modal-title">Descripción</h4>
			</h:form>
		</f:facet>

		<h:form id="formMensajeDescripcion">
			<p:outputPanel id="opDescripcion">
				<p:inputTextarea id="txtDescripcion"
					value="#{capitulo5View.descripcionEva}" style="width: 100%"
					rows="10" readonly="true" />
				<p:commandButton type="button" styleClass="btn btn-default btn-sm"
					style="float: right;" value="Cerrar"
					onclick="dlgDescripcion.hide()" />
			</p:outputPanel>
		</h:form>


	</p:dialog>

	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo5View.claveTramite}",
			nsub : "#{capitulo5View.proyecto.nsub}",
			capitulo : 5,
			subcapitulo : 2,
			seccion : -1,
			apartado : -1
		}, case_ayuda);
	</script>
</h:body>
</html>
