<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
    <f:metadata>
		<f:viewAction action="#{archivosAnexosCap10Bean.consultarDesgloseRadiosCargaArchivo(10,3,1,0)}" />
		<f:viewAction action="#{archivosAnexosCap10Bean.consultarDesgloseInteraccionesCargaPagina(10,3,2,0)}" />		
		<f:viewAction action="#{archivosAnexosCap10Bean.consultarDesgloseEfectosCargaPagina(10,3,3,0)}" />	
	</f:metadata>	
	
    <h:head>
        <title></title>
<!--         <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/> -->
<!--         <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/> -->
<!--         <script src="#{request.contextPath}/assets/js/jquery.min.js"></script> -->
<!--         <script src="#{request.contextPath}/assets/js/funciones.js"></script> -->
<!--         <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script> -->
<!--         <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/> -->
<!--         <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />  -->
<!--         <script src="#{request.contextPath}/assets/js/ayudas.js"></script>     -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- Hoja de Estilos Grafica base local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" type="text/css" />
	<link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<!-- Script Grafica base local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/scripts/main.js"></script>
	<script src="#{request.contextPath}/assets/scripts/plugins.js"></script>

	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>

    </h:head>

    <h:body onload="javascript:setTimeout(function() {
        getInformacionAdicionalMulti('#{estudioRiesgoView.strComentProy}','foDatosGen',
		'3,1,0-Radios Ponteciales de Afectación|' + 
		'3,2,0-Interacciones de Riesgo|' + 
		'3,3,0-Efectos Sobre el Área de Influencia'
                )
            }, (250));">
                    
            <!-- Radios Ponteciales de afectacion -->

			<c:set var="capituloRadios" value="10"/>
			<c:set var="subcapituloRadios" value="3"/>
			<c:set var="seccionRadios" value="1"/>
			<c:set var="apartadoRadios" value="0"/>       
			
			<!-- Interacciones de Riesgo -->

			<c:set var="capituloInteracciones" value="10"/>
			<c:set var="subcapituloInteracciones" value="3"/>
			<c:set var="seccionInteracciones" value="2"/>
			<c:set var="apartadoInteracciones" value="0"/>    
			
			<!-- Efectos Sobre el Area de Influencia -->

			<c:set var="capituloEfectos" value="10"/>
			<c:set var="subcapituloEfectos" value="3"/>
			<c:set var="seccionEfectos" value="3"/>
			<c:set var="apartadoEfectos" value="0"/>     
                    
        <h:form id="foDatosGen">
        
            <ui:include src="/loading.xhtml"/>
        
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>
            <h:inputHidden id="ubicActual" value="#{estudioRiesgoView.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{estudioRiesgoView.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>

            <!-- II.1 Radios Potenciales de Afectación-->
            <div id="pRadios" class="gobmx-example" style="margin-left: auto; margin-right: auto; width: 800px">
                <div id="titulo1"></div>
<!--                 <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> -->
                <button id='case_btn_ayuda' type="button"
					class="btn btn-default" data-toggle="tooltip"
					data-placement="bottom">
					<span class="gobmxfont icon-infocircle" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button>
                <br/><br/>
                <div id="componenteConsulta1" style="display:none">
                    <center><table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{estudioRiesgoView.estudio.estudioRadiosPotenciales eq null or estudioRiesgoView.estudio.estudioRadiosPotenciales eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{estudioRiesgoView.estudio.estudioRadiosPotenciales}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                    </td></tr></table></center> 
                    Adjuntos
<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=10,3,1,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </div>
                <div id="componenteActualiza1" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','1');"/>
                </div>
                <div id="componenteCaptura1" style="visibility: hidden;">	                
                    <center>
                        <pe:ckEditor value="#{estudioRiesgoView.estudio.estudioRadiosPotenciales}" width="700"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>
                    <!-- anexos -->
<!--                     Adjuntos: -->
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=10,3,1,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
<!-- ==================== TABLA DE ARCHIVOS DE Radios Ponteciales de Afectacion ==================== -->
	
				<br/>
				<br/>
	
				<div id="botones" style="float: right;">
<!-- 					<p:commandButton id="btnAgregarArchivoRadios" value="" class="btn btn-default btn-xs glyphicon glyphicon-plus" style="float:right;" oncomplete="modalSubirArchivo.show()" immediate="true" -->
<!-- 						action="#{archivosAnexosCap10Bean.iniciarArchivo('RADIOS')}" update=":formArchivosDisposicion:pnlArchivo"> -->
<!-- 						<f:param name="capitulo" value="#{capituloRadios}"/> -->
<!-- 						<f:param name="subcapitulo" value="#{subcapituloRadios}"/> -->
<!-- 						<f:param name="seccion" value="#{seccionRadios}"/> -->
<!-- 						<f:param name="apartado" value="#{apartadoRadios}"/> -->
<!-- 						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/> -->
<!-- 					</p:commandButton> -->
					<!-- mas -->
					<p:commandLink id="btnAgregarArchivoRadios" styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{archivosAnexosCap10Bean.iniciarArchivo('RADIOS')}"
						update=":formArchivosDisposicion:pnlArchivo"
						oncomplete="modalSubirArchivo.show()" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar	
						<f:param name="capitulo" value="#{capituloRadios}"/>
						<f:param name="subcapitulo" value="#{subcapituloRadios}"/>
						<f:param name="seccion" value="#{seccionRadios}"/>
						<f:param name="apartado" value="#{apartadoRadios}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- menos -->
			
					<p:commandLink id="btnEliminarArchivoRadios"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"
						action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"
						oncomplete="dlgEliminarArchivoAnexo.show()"
						update=":fEliminarArchivo:pnlMensajeEliminarArchivo"
						disabled="#{archivosAnexosCap10Bean.listaArchivosRadiosSeleccionados.size() == 0}" >
						<f:param name="eliminarArchivo" value="RADIOS"/>
						<f:param name="capitulo" value="#{capituloRadios}"/>
						<f:param name="subcapitulo" value="#{subcapituloRadios}"/>
						<f:param name="seccion" value="#{seccionRadios}"/>
						<f:param name="apartado" value="#{apartadoRadios}"/>
						<p:ajax process="@this" />
					</p:commandLink><br />											
<!-- 					<p:commandButton id="btnEliminarArchivoRadios" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle" value="" style="float:right;"  -->
<!-- 									 update=":fEliminarArchivo:pnlMensajeEliminarArchivo" action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"  -->
<!-- 									 disabled="#{archivosAnexosCap10Bean.listaArchivosRadiosSeleccionados.size() == 0}"  -->
<!-- 									 oncomplete="dlgEliminarArchivoAnexo.show()"> -->
<!-- 						<f:param name="eliminarArchivo" value="RADIOS"/> -->
<!-- 						<f:param name="capitulo" value="#{capituloRadios}"/> -->
<!-- 						<f:param name="subcapitulo" value="#{subcapituloRadios}"/> -->
<!-- 						<f:param name="seccion" value="#{seccionRadios}"/> -->
<!-- 						<f:param name="apartado" value="#{apartadoRadios}"/>								 -->
<!-- 					</p:commandButton> -->
				</div>
				
					<br/>
			
					<h3>Adjuntos</h3>
					<p:dataTable id="tablaArchivoRadios" styleClass="table table-responsive" value="#{archivosAnexosCap10Bean.archivosGeneralRadios}" var="archRadios" rowIndexVar="rowIndexR"
								 selection="#{archivosAnexosCap10Bean.listaArchivosRadiosSeleccionados}" rowKey="#{archRadios.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
						
						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoRadios" />
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoRadios" />
						<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoRadios" />
		
						<p:column selectionMode="multiple" style="width:50px" />
			
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
<!-- 							<h:outputText value="#{archRadios.id}" /> -->
							<h:outputText value="#{rowIndexR+1}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Nombre</f:facet>
							<h:outputText value="#{archRadios.nombre}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Descripción</f:facet>
							<h:outputText value="#{archRadios.descripcion}" />
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header"></f:facet>
				            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
				                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archRadios.seqId}'); return false;"/>					
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header" />
							<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap10Bean.consultarArchivo(10,3,1,0)}"
											 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
								<f:param name="id" value="#{archRadios.id}" />
								<f:param name="pRowIndex" value="#{rowIndexR+1}" />
								<f:param name="actualizarArchivo" value="RADIOS"/>
								<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
							</p:commandButton>
						</p:column>
			</p:dataTable>
<!-- ==================== TABLA DE ARCHIVOS DE Radios Ponteciales de Afectacion ==================== -->
                </div>
            </div>
            <br/>
            <br/>
            <!-- II.2 Interacciones de Riesgo-->
            <div id="pInte" class="gobmx-example" style="margin-left: auto; margin-right: auto; width: 800px">
                <div id="titulo2"></div>
                <button id='case_btn_ayuda1' type="button"
					class="btn btn-default" data-toggle="tooltip"
					data-placement="bottom">
					<span class="gobmxfont icon-infocircle" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button>
                <br/><br/>
                <div id="componenteConsulta2" style="display:none">
                    <center><table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{estudioRiesgoView.estudio.estudioInteraccionesRiesgo eq null or estudioRiesgoView.estudio.estudioInteraccionesRiesgo eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{estudioRiesgoView.estudio.estudioInteraccionesRiesgo}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                    </td></tr></table></center>                                        
                    Adjuntos
                    <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=10,3,2,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
                </div>
                <div id="componenteActualiza2" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','2');"/>
                </div>
                <div id="componenteCaptura2" style="visibility: hidden;">		
                    <center>
                        <pe:ckEditor value="#{estudioRiesgoView.estudio.estudioInteraccionesRiesgo}" width="700"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>
                    <!-- anexos -->
<!--                     Adjuntos: -->
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=10,3,2,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
<!-- ==================== TABLA DE ARCHIVOS DE Interacciones de Riesgo ==================== -->
	
				<br/>
				<br/>
	
				<div id="botones" style="float: right;">
					<!-- mas -->
					<p:commandLink id="btnAgregarArchivoInteracciones" styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{archivosAnexosCap10Bean.iniciarArchivo('INTERACCIONES')}"
						update=":formArchivosDisposicion:pnlArchivo"
						oncomplete="modalSubirArchivo.show()" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar	
						<f:param name="capitulo" value="#{capituloInteracciones}"/>
						<f:param name="subcapitulo" value="#{subcapituloInteracciones}"/>
						<f:param name="seccion" value="#{seccionInteracciones}"/>
						<f:param name="apartado" value="#{apartadoInteracciones}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- menos -->
			
					<p:commandLink id="btnEliminarArchivoInteracciones"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"
						action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"
						oncomplete="dlgEliminarArchivoAnexo.show()"
						update=":fEliminarArchivo:pnlMensajeEliminarArchivo"
						disabled="#{archivosAnexosCap10Bean.listaArchivosInteraccionesSeleccionados.size() == 0}" >
						<f:param name="eliminarArchivo" value="INTERACCIONES"/>
						<f:param name="capitulo" value="#{capituloInteracciones}"/>
						<f:param name="subcapitulo" value="#{subcapituloInteracciones}"/>
						<f:param name="seccion" value="#{seccionInteracciones}"/>
						<f:param name="apartado" value="#{apartadoInteracciones}"/>	
						<p:ajax process="@this" />
					</p:commandLink><br />												
				</div>
			
					<br/>
			
					<h3>Adjuntos</h3>
					<p:dataTable id="tablaArchivoInteracciones" styleClass="table table-responsive" value="#{archivosAnexosCap10Bean.archivosGeneralInteracciones}" var="archInteracciones" rowIndexVar="rowIndexI"
								 selection="#{archivosAnexosCap10Bean.listaArchivosInteraccionesSeleccionados}" rowKey="#{archInteracciones.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
						
						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoInteracciones" />
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoInteracciones" />
						<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoInteracciones" />
		
						<p:column selectionMode="multiple" style="width:50px" />
			
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
<!-- 							<h:outputText value="#{archInteracciones.id}" /> -->
							<h:outputText value="#{rowIndexI+1}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Nombre</f:facet>
							<h:outputText value="#{archInteracciones.nombre}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Descripción</f:facet>
							<h:outputText value="#{archInteracciones.descripcion}" />
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header"></f:facet>
				            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
				                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archInteracciones.seqId}'); return false;"/>					
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header" />
							<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap10Bean.consultarArchivo(10,3,2,0)}"
											 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
								<f:param name="id" value="#{archInteracciones.id}" />
								<f:param name="pRowIndex" value="#{rowIndexI+1}" />
								<f:param name="actualizarArchivo" value="INTERACCIONES"/>
								<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
							</p:commandButton>
						</p:column>
			</p:dataTable>
<!-- ==================== TABLA DE ARCHIVOS DE Interacciones de Riesgo ==================== -->
                </div>
            </div>
            <br/>
            <br/>
            <!-- II.3 Efectos Sobre el Área de Influencia-->
            <div id="pEfec" class="gobmx-example" style="margin-left: auto; margin-right: auto; width: 800px">
                <div id="titulo3"></div>
                <button id='case_btn_ayuda2' type="button"
					class="btn btn-default" data-toggle="tooltip"
					data-placement="bottom">
					<span class="gobmxfont icon-infocircle" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button>
                <br/><br/>
                <div id="componenteConsulta3" style="display:none">
                    <center><table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{estudioRiesgoView.estudio.estudioEfectosAreaInflu eq null or estudioRiesgoView.estudio.estudioEfectosAreaInflu eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{estudioRiesgoView.estudio.estudioEfectosAreaInflu}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                    </td></tr></table></center>                                                            
                    Adjuntos
                    <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=10,3,3,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
                </div>
                <div id="componenteActualiza3" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','3');"/>
                </div>

                <div id="componenteCaptura3" style="visibility: hidden;">		
                    <center>
                        <pe:ckEditor value="#{estudioRiesgoView.estudio.estudioEfectosAreaInflu}" width="700"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>
                    <!-- anexos -->
<!--                     Adjuntos: -->
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=10,3,3,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
<!-- ==================== TABLA DE ARCHIVOS DE Efectos Sobre el Área de Influencia ==================== -->
	
				<br/>
				<br/>
	
				<div id="botones" style="float: right;">
					<!-- mas -->
					<p:commandLink id="btnAgregarArchivoEfectos" styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{archivosAnexosCap10Bean.iniciarArchivo('EFECTOS')}"
						update=":formArchivosDisposicion:pnlArchivo"
						oncomplete="modalSubirArchivo.show()" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar	
						<f:param name="capitulo" value="#{capituloEfectos}"/>
						<f:param name="subcapitulo" value="#{subcapituloEfectos}"/>
						<f:param name="seccion" value="#{seccionEfectos}"/>
						<f:param name="apartado" value="#{apartadoEfectos}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- menos -->
			
					<p:commandLink id="btnEliminarArchivoEfectos"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"
						action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"
						oncomplete="dlgEliminarArchivoAnexo.show()"
						update=":fEliminarArchivo:pnlMensajeEliminarArchivo"
						disabled="#{archivosAnexosCap10Bean.listaArchivosEfectosSeleccionados.size() == 0}" >
						<f:param name="eliminarArchivo" value="EFECTOS"/>
						<f:param name="capitulo" value="#{capituloEfectos}"/>
						<f:param name="subcapitulo" value="#{subcapituloEfectos}"/>
						<f:param name="seccion" value="#{seccionEfectos}"/>
						<f:param name="apartado" value="#{apartadoEfectos}"/>	
						<p:ajax process="@this" />
					</p:commandLink><br />											
				</div>
			
					<br/>
			
					<h3>Adjuntos</h3>
					<p:dataTable id="tablaArchivoEfectos" styleClass="table table-responsive" value="#{archivosAnexosCap10Bean.archivosGeneralEfectos}" var="archEfectos" rowIndexVar="rowIndexE"
								 selection="#{archivosAnexosCap10Bean.listaArchivosEfectosSeleccionados}" rowKey="#{archEfectos.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
						
						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoEfectos" />
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoEfectos" />
						<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoEfectos" />
		
						<p:column selectionMode="multiple" style="width:50px" />
			
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
<!-- 							<h:outputText value="#{archEfectos.id}" /> -->
							<h:outputText value="#{rowIndexE+1}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Nombre</f:facet>
							<h:outputText value="#{archEfectos.nombre}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Descripción</f:facet>
							<h:outputText value="#{archEfectos.descripcion}" />
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header"></f:facet>
				            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
				                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archEfectos.seqId}'); return false;"/>					
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header" />
							<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap10Bean.consultarArchivo(10,3,3,0)}"
											 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
								<f:param name="id" value="#{archEfectos.id}" />
								<f:param name="pRowIndex" value="#{rowIndexE+1}" />
								<f:param name="actualizarArchivo" value="EFECTOS"/>
								<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
							</p:commandButton>
						</p:column>
			</p:dataTable>
<!-- ==================== TABLA DE ARCHIVOS DE Efectos Sobre el Área de Influencia ==================== -->
                </div>
            </div>

            <c:set value="9.3" target="#{capitulo4View}" property="seccion" />
<!--             <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" /> -->

            <br/>
            <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right: 20px">
                <p:commandButton value="Guardar" class="btn btn-primary" action="#{estudioRiesgoView.guardar}"
                                 update="@this" process="@form"
                                 onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra(); "
                                         onclick="this.firstChild.innerHTML = 'Guardando...';
                                         this.disabled = true;"/>
            </div>

            <script>
               
                $('#case_btn_ayuda').click({vClaveTramite:"#{estudioRiesgoView.claveTramite}", nsub: "#{estudioRiesgoView.subsec}", capitulo: 10, subcapitulo: 3, seccion: 1, apartado: -1 }, case_ayuda); 
                $('#case_btn_ayuda1').click({vClaveTramite:"#{estudioRiesgoView.claveTramite}", nsub: "#{estudioRiesgoView.subsec}", capitulo: 10, subcapitulo: 3, seccion: 2, apartado: -1 }, case_ayuda); 
                $('#case_btn_ayuda2').click({vClaveTramite:"#{estudioRiesgoView.claveTramite}", nsub: "#{estudioRiesgoView.subsec}", capitulo: 10, subcapitulo: 3, seccion: 3, apartado: -1 }, case_ayuda); 
            </script>

        </h:form>
        
        <ui:include src="/ventanasModalesAnexosCap10.xhtml"/>
        
    </h:body>
</html>