<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
	  xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
    <f:metadata>
		<f:viewAction action="#{archivosAnexosCap10Bean.consultarDesgloseConclusionesCargaPagina(10,5,1,0)}" />
		<f:viewAction action="#{archivosAnexosCap10Bean.consultarDesgloseSituacionGenCargaPagina(10,5,2,0)}" />		
		<f:viewAction action="#{archivosAnexosCap10Bean.consultarDesgloseInformeTecCargaPagina(10,5,3,0)}" />				
	</f:metadata>      
      
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
	        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
	        <link href="assets/images/favicon.ico" rel="shortcut icon" />
	       	<!-- Hoja de Estilos Grafica base OnLine -->
<!-- 			<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
	<!--         <link rel="stylesheet" href="#{request.contextPath}/assets/css/main_offline.css"/> -->
			<!-- Hoja de Estilos Grafica base local -->
			<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" type="text/css" />
	        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
	        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		
			<!-- Script Grafica base local -->
			<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
	        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
	        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
    </h:head>

    <h:body onload="javascript:setTimeout(function() {
        getInformacionAdicionalMulti('#{estudioRiesgoView.strComentProy}','foDatosGen',
		'5,1,0-Señalar las Conclusiones del Estudio de Riesgo Ambiental|' + 
		'5,2,0-Hacer un Resumen de la Situación General que Presenta el Proyecto en Materia de Riesgo Ambiental|' + 
		'5,3,0-Presentar el Informe Técnico Debidamente Llenado'
                )
            }, (250));">
            
            
        <ui:include src="/loading.xhtml"/>

		<!-- Señalar las Conclusiones del Estudio de Riesgo Ambiental -->

		<c:set var="capituloConclusiones" value="10"/>
		<c:set var="subcapituloConclusiones" value="5"/>
		<c:set var="seccionConclusiones" value="1"/>
		<c:set var="apartadoConclusiones" value="0"/>
		
		<!-- Hacer un Resumen de la Situación General que Presenta el Proyecto en Materia de Riesgo Ambiental -->
		
		<c:set var="capituloSituacionGen" value="10"/>
		<c:set var="subcapituloSituacionGen" value="5"/>
		<c:set var="seccionSituacionGen" value="2"/>
		<c:set var="apartadoSituacionGen" value="0"/>    

		<!-- Presentar el Informe Técnico Debidamente Llenado -->

		<c:set var="capituloInformeTec" value="10"/>
		<c:set var="subcapituloInformeTec" value="5"/>
		<c:set var="seccionInformeTec" value="3"/>
		<c:set var="apartadoInformeTec" value="0"/>
		                    
        <h:form id="foDatosGen">
            
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>
            <h:inputHidden id="ubicActual" value="#{estudioRiesgoView.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{estudioRiesgoView.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>

            <!--IV.1 Señalar las Conclusiones del Estudio de Riesgo Ambiental-->

			<div class="panel-group ficha-collapse" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-parent="#accordion" data-toggle="collapse" href="#panel-01"
								aria-expanded="false" aria-controls="panel-01">
								<h2>Señalar las Conclusiones del Estudio de Riesgo Ambiental</h2>
							</a>
						</h4>
						<button type="button" class="collpase-button collapsed"
							data-parent="#accordion" data-toggle="collapse" href="#panel-01"></button>
					</div>
					<div class="panel-collapse collapse in" id="panel-01">
						<div class="panel-body">


				            <div id="pSeConEs" class="gobmx-example" style="margin-left: auto; margin-right: auto; width: 100%">
				            	<button id='case_btn_ayuda' type="button"
									class="btn btn-default" data-toggle="tooltip"
									data-placement="bottom">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
									<span class="glyphicon-class">Ayuda</span>
								</button>
				            
				                <br/><br/>
				                <div id="componenteConsulta1" style="display:none">
				                    <center><table width="60%" style="text-align: justify;"><tr><td>
				                        <c:choose>
				                            <c:when test="#{estudioRiesgoView.estudio.estudioSenalaConclusion eq null or estudioRiesgoView.estudio.estudioSenalaConclusion eq ''}">
				                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
				                            </c:when>
				                            <c:otherwise>
				                                <h:outputText value="#{estudioRiesgoView.estudio.estudioSenalaConclusion}" escape="false"/> 
				                            </c:otherwise>
				                        </c:choose>
				                    </td></tr></table></center>   
				<!--                     Anexos: -->
				<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=10,5,1,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
				                </div>
				                <div id="componenteActualiza1" style="display:none; float: right; margin-right: 20px">
				                    <br/> 
				                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','1');"/>
				                </div>
				                <div id="componenteCaptura1" style="visibility: hidden;">		
				                    <center>
				                        <pe:ckEditor value="#{estudioRiesgoView.estudio.estudioSenalaConclusion}" width="700"
				                                     toolbar="[[ 'Undo','Redo' ],
				                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
				                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
				                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
				                    </center>
				<!--                     Anexos: -->
				<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=10,5,1,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
				                
				
				
									<!-- ==================== TABLA DE ARCHIVOS DE CONSULTA "Señalar las Conclusiones del Estudio de Riesgo Ambiental" ==================== -->
									
										<div id="botones" style="float: right;">
<!-- 											<p:commandButton value="" class="btn btn-default btn-xs glyphicon glyphicon-plus" style="float:right;" oncomplete="modalSubirArchivo.show()" immediate="true" -->
<!-- 												update=":formArchivosDisposicion:pnlArchivo" action="#{archivosAnexosCap10Bean.iniciarArchivo('CONCLUSIONES')}"> -->
<!-- 												<f:param name="capitulo" value="#{capituloConclusiones}"/> -->
<!-- 												<f:param name="subcapitulo" value="#{subcapituloConclusiones}"/> -->
<!-- 												<f:param name="seccion" value="#{seccionConclusiones}"/> -->
<!-- 												<f:param name="apartado" value="#{apartadoConclusiones}"/> -->
												
<!-- 												<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/> -->
<!-- 											</p:commandButton> -->
					<!-- mas -->
					
					<br/>
					<br/>
					
					<p:commandLink styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{archivosAnexosCap10Bean.iniciarArchivo('CONCLUSIONES')}"
						update=":formArchivosDisposicion:pnlArchivo"
						oncomplete="modalSubirArchivo.show()" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar	
												<f:param name="capitulo" value="#{capituloConclusiones}"/>
												<f:param name="subcapitulo" value="#{subcapituloConclusiones}"/>
												<f:param name="seccion" value="#{seccionConclusiones}"/>
												<f:param name="apartado" value="#{apartadoConclusiones}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- menos -->
			
					<p:commandLink id="btnEliminarArchivoConclusiones"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"
						action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"
						oncomplete="dlgEliminarArchivoAnexo.show()"
						update=":fEliminarArchivo:pnlMensajeEliminarArchivo"
						disabled="#{archivosAnexosCap10Bean.listaArchivosConclusionesSeleccionados.size() == 0}" >
												<f:param name="eliminarArchivo" value="CONCLUSIONES"/>
												<f:param name="capitulo" value="#{capituloConclusiones}"/>
												<f:param name="subcapitulo" value="#{subcapituloConclusiones}"/>
												<f:param name="seccion" value="#{seccionConclusiones}"/>
												<f:param name="apartado" value="#{apartadoConclusiones}"/>	
						<p:ajax process="@this" />
					</p:commandLink><br />																	
<!-- 											<p:commandButton id="btnEliminarArchivoConclusiones" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle" value="" style="float:right;"  -->
<!-- 															 update=":fEliminarArchivo:pnlMensajeEliminarArchivo" action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"  -->
<!-- 															 disabled="#{archivosAnexosCap10Bean.listaArchivosConclusionesSeleccionados.size() == 0}"  -->
<!-- 															 oncomplete="dlgEliminarArchivoAnexo.show()"> -->
<!-- 												<f:param name="eliminarArchivo" value="CONCLUSIONES"/> -->
<!-- 												<f:param name="capitulo" value="#{capituloConclusiones}"/> -->
<!-- 												<f:param name="subcapitulo" value="#{subcapituloConclusiones}"/> -->
<!-- 												<f:param name="seccion" value="#{seccionConclusiones}"/> -->
<!-- 												<f:param name="apartado" value="#{apartadoConclusiones}"/>								 -->
<!-- 											</p:commandButton> -->
										</div>

										<br/>
										<br/>	
										<br/>
									
											<h3>Adjuntos</h3>
											<p:dataTable id="tablaArchivoConclusiones" styleClass="table table-responsive" value="#{archivosAnexosCap10Bean.archivosGeneralConclusiones}" var="archG" rowIndexVar="rowIndexC"
														 selection="#{archivosAnexosCap10Bean.listaArchivosConclusionesSeleccionados}" rowKey="#{archG.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
												
												<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoConclusiones" />
												<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoConclusiones" />
												<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoConclusiones" />
								
												<p:column selectionMode="multiple" style="width:50px" />
									
												<p:column
													style="white-space: normal; width: 50px; text-align: center;">
													<f:facet name="header">#</f:facet>
<!-- 													<h:outputText value="#{archG.id}" /> -->
													<h:outputText value="#{rowIndexC+1}" />
												</p:column>
									
												<p:column style="white-space: normal;">
													<f:facet name="header">Nombre</f:facet>
													<h:outputText value="#{archG.nombre}" />
												</p:column>
									
												<p:column style="white-space: normal;">
													<f:facet name="header">Descripción</f:facet>
													<h:outputText value="#{archG.descripcion}" />
												</p:column>
									
												<p:column style="white-space: normal; text-align: center; width:100px">
													<f:facet name="header"></f:facet>
										            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
										                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archG.seqId}'); return false;"/>					
												</p:column>
									
												<p:column style="white-space: normal; text-align: center; width:100px">
													<f:facet name="header" />
													<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap10Bean.consultarArchivo(10,5,1,0)}"
																	 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
														<f:param name="id" value="#{archG.id}" />
														<f:param name="pRowIndex" value="#{rowIndexC+1}" />
														<f:param name="actualizarArchivo" value="CONCLUSIONES"/>
														<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
													</p:commandButton>
												</p:column>
									
											</p:dataTable>
				
				
				                
				                
				                
				                </div>
				            </div>
						</div>
					</div>
				</div>
			</div>

            <br/>
            <br/>

            <!--IV.2 HACER UN RESUMEN DE LA SITUACIÓN GENERAL QUE PRESENTA EL PROYECTO EN MATERIA DE RIESGO AMBIENTAL-->            
 
		 	<div class="panel-group ficha-collapse" id="accordion2">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-parent="#accordion2" data-toggle="collapse"
								href="#panel-02" aria-expanded="false" aria-controls="panel-02">
								<h2>Hacer un Resumen de la Situación General que Presenta el Proyecto en Materia de Riesgo Ambiental</h2>
							</a>
						</h4>
						<button type="button" class="collpase-button collapsed"
							data-parent="#accordion2" data-toggle="collapse" href="#panel-02"></button>
					</div>
					<div class="panel-collapse collapse in" id="panel-02">
						<div class="panel-body">           
                      
				            <div id="pHaReSi" class="gobmx-example" style="margin-left: auto; margin-right: auto; width: 100%">
								<button id='case_btn_ayuda1' type="button"
									class="btn btn-default" data-toggle="tooltip"
									data-placement="bottom">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
									<span class="glyphicon-class">Ayuda</span>
								</button>				            
				            
				            				                <br/><br/>
				                <div id="componenteConsulta2" style="display:none">
				                    <center><table width="60%" style="text-align: justify;"><tr><td>
				                        <c:choose>
				                            <c:when test="#{estudioRiesgoView.estudio.estudioResumenSituacion eq null or estudioRiesgoView.estudio.estudioResumenSituacion eq ''}">
				                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
				                            </c:when>
				                            <c:otherwise>
				                                <h:outputText value="#{estudioRiesgoView.estudio.estudioResumenSituacion}" escape="false"/> 
				                            </c:otherwise>
				                        </c:choose>
				                    </td></tr></table></center>         
				<!--                     Anexos: -->
				<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=10,5,2,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
				                </div>
				                <div id="componenteActualiza2" style="display:none; float: right; margin-right: 20px">
				                    <br/> 
				                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','2');"/>
				                </div>
				                <div id="componenteCaptura2" style="visibility: hidden;">		
				                    <center>
				                        <pe:ckEditor value="#{estudioRiesgoView.estudio.estudioResumenSituacion}" width="700"
				                                     toolbar="[[ 'Undo','Redo' ],
				                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
				                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
				                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
				                    </center>
				<!--                     Anexos: -->
				<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=10,5,2,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
				
				
				
									<!-- ==================== TABLA DE ARCHIVOS DE CONSULTA "Hacer un Resumen de la Situación General que Presenta el Proyecto en Materia de Riesgo Ambiental" ==================== -->
									
										<div id="botones" style="float: right;">
					<!-- mas -->
					
					<br/>
					<br/>
					
					<p:commandLink styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{archivosAnexosCap10Bean.iniciarArchivo('SITUACIONGENERAL')}"
						update=":formArchivosDisposicion:pnlArchivo"
						oncomplete="modalSubirArchivo.show()" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar	
												<f:param name="capitulo" value="#{capituloSituacionGen}"/>
												<f:param name="subcapitulo" value="#{subcapituloSituacionGen}"/>
												<f:param name="seccion" value="#{seccionSituacionGen}"/>
												<f:param name="apartado" value="#{apartadoSituacionGen}"/>	
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- menos -->
			
					<p:commandLink id="btnEliminarArchivoSituaciones"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"
						action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"
						oncomplete="dlgEliminarArchivoAnexo.show()"
						update=":fEliminarArchivo:pnlMensajeEliminarArchivo"
						disabled="#{archivosAnexosCap10Bean.listaArchivosSituacionGenSeleccionados.size() == 0}" >
												<f:param name="eliminarArchivo" value="SITUACIONGENERAL"/>				 
												<f:param name="capitulo" value="#{capituloSituacionGen}"/>
												<f:param name="subcapitulo" value="#{subcapituloSituacionGen}"/>
												<f:param name="seccion" value="#{seccionSituacionGen}"/>
												<f:param name="apartado" value="#{apartadoSituacionGen}"/>
						<p:ajax process="@this" />
					</p:commandLink><br />																	
										</div>
									
										<br/>
										<br/>
										<br/>
										
									
											<h3>Adjuntos</h3>
											<p:dataTable id="tablaArchivoSituaciones" styleClass="table table-responsive" value="#{archivosAnexosCap10Bean.archivosGeneralSituacionGen}" var="archG" rowIndexVar="rowIndexS"
														 selection="#{archivosAnexosCap10Bean.listaArchivosSituacionGenSeleccionados}" rowKey="#{archG.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
												
												<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoSituaciones" />
												<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoSituaciones" />
												<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoSituaciones" />
								
												<p:column selectionMode="multiple" style="width:50px" />
									
												<p:column
													style="white-space: normal; width: 50px; text-align: center;">
													<f:facet name="header">#</f:facet>
<!-- 													<h:outputText value="#{archG.id}" /> -->
													<h:outputText value="#{rowIndexS+1}" />
												</p:column>
									
												<p:column style="white-space: normal;">
													<f:facet name="header">Nombre</f:facet>
													<h:outputText value="#{archG.nombre}" />
												</p:column>
									
												<p:column style="white-space: normal;">
													<f:facet name="header">Descripción</f:facet>
													<h:outputText value="#{archG.descripcion}" />
												</p:column>
									
												<p:column style="white-space: normal; text-align: center; width:100px">
													<f:facet name="header"></f:facet>
										            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
										                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archG.seqId}'); return false;"/>					
												</p:column>
									
												<p:column style="white-space: normal; text-align: center; width:100px">
													<f:facet name="header" />
													<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap10Bean.consultarArchivo(10,5,2,0)}"
																	 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
														<f:param name="id" value="#{archG.id}" />
														<f:param name="pRowIndex" value="#{rowIndexS+1}" />
														<f:param name="actualizarArchivo" value="SITUACIONGENERAL"/>														
														<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
													</p:commandButton>
												</p:column>
									
											</p:dataTable>
				
				
				
				
				
				                </div>
				            </div>
						</div>
					</div>
				</div>
			</div>

            <br/>
            <br/>
            
            
            <!--IV.3 PRESENTAR EL INFORME TÉCNICO DEBIDAMENTE LLENADO -->
            

		 	<div class="panel-group ficha-collapse" id="accordion3">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-parent="#accordion3" data-toggle="collapse"
								href="#panel-03" aria-expanded="false" aria-controls="panel-03">
								<h2>Presentar el Informe Técnico Debidamente Llenado</h2>
							</a>
						</h4>
						<button type="button" class="collpase-button collapsed"
							data-parent="#accordion2" data-toggle="collapse" href="#panel-03"></button>
					</div>
					<div class="panel-collapse collapse in" id="panel-03">
						<div class="panel-body">            
                      
				            <div id="pPreInTe" class="gobmx-example" style="margin-left: auto; margin-right: auto; width: 100%">
<!-- 				                <div id="titulo3"></div> -->
								<button id='case_btn_ayuda2' type="button"
									class="btn btn-default" data-toggle="tooltip"
									data-placement="bottom">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
									<span class="glyphicon-class">Ayuda</span>
								</button>

				                <br/><br/>
				                <div id="componenteConsulta3" style="display:none">
				                    <center><table width="60%" style="text-align: justify;"><tr><td>
				                        <c:choose>
				                            <c:when test="#{estudioRiesgoView.estudio.estudioInformeTecnico eq null or estudioRiesgoView.estudio.estudioInformeTecnico eq ''}">
				                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
				                            </c:when>
				                            <c:otherwise>
				                                <h:outputText value="#{estudioRiesgoView.estudio.estudioInformeTecnico}" escape="false"/> 
				                            </c:otherwise>
				                        </c:choose>
				                    </td></tr></table></center>                           
<!-- 				                    Anexos: -->
<!-- 				                    <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=10,5,3,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
				                </div>
				                <div id="componenteActualiza3" style="display:none; float: right; margin-right: 20px">
				                    <br/> 
				                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','3');"/>
				                </div>
				                <div id="componenteCaptura3" style="visibility: hidden;">		
				                    <center>
				                        <pe:ckEditor value="#{estudioRiesgoView.estudio.estudioInformeTecnico}" width="700"
				                                     toolbar="[[ 'Undo','Redo' ],
				                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
				                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
				                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
				                    </center>
				<!--                     Anexos: -->
				<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=10,5,3,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
				
				
									<!-- ==================== TABLA DE ARCHIVOS DE CONSULTA "Presentar el Informe Técnico Debidamente Llenado" ==================== -->
									
										<div id="botones" style="float: right;">
					<!-- mas -->
					<br/>
					<br/>
					
					<p:commandLink styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{archivosAnexosCap10Bean.iniciarArchivo('INFORMETECNICO')}"
						update=":formArchivosDisposicion:pnlArchivo"
						oncomplete="modalSubirArchivo.show()" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar	
												<f:param name="capitulo" value="#{capituloInformeTec}"/>
												<f:param name="subcapitulo" value="#{subcapituloInformeTec}"/>
												<f:param name="seccion" value="#{seccionInformeTec}"/>
												<f:param name="apartado" value="#{apartadoInformeTec}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- menos -->
			
					<p:commandLink id="btnEliminarArchivoInforme"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"
						action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"
						oncomplete="dlgEliminarArchivoAnexo.show()"
						update=":fEliminarArchivo:pnlMensajeEliminarArchivo"
						disabled="#{archivosAnexosCap10Bean.listaArchivosInformeTecSeleccionados.size() == 0}" >
												<f:param name="eliminarArchivo" value="INFORMETECNICO"/>				 
												<f:param name="capitulo" value="#{capituloInformeTec}"/>
												<f:param name="subcapitulo" value="#{subcapituloInformeTec}"/>
												<f:param name="seccion" value="#{seccionInformeTec}"/>
												<f:param name="apartado" value="#{apartadoInformeTec}"/>
						<p:ajax process="@this" />
					</p:commandLink><br />																	
										</div>

										<br/>
										<br/>
										<br/>									
									
											<h3>Adjuntos</h3>
											<p:dataTable id="tablaArchivoInforme" styleClass="table table-responsive" value="#{archivosAnexosCap10Bean.archivosGeneralInformeTec}" var="archG" rowIndexVar="rowIndexI"
														 selection="#{archivosAnexosCap10Bean.listaArchivosInformeTecSeleccionados}" rowKey="#{archG.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
												
												<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoInforme" />
												<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoInforme" />
												<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoInforme" />
								
												<p:column selectionMode="multiple" style="width:50px" />
									
												<p:column
													style="white-space: normal; width: 50px; text-align: center;">
													<f:facet name="header">#</f:facet>
<!-- 													<h:outputText value="#{archG.id}" /> -->
													<h:outputText value="#{rowIndexI+1}" />
												</p:column>
									
												<p:column style="white-space: normal;">
													<f:facet name="header">Nombre</f:facet>
													<h:outputText value="#{archG.nombre}" />
												</p:column>
									
												<p:column style="white-space: normal;">
													<f:facet name="header">Descripción</f:facet>
													<h:outputText value="#{archG.descripcion}" />
												</p:column>
									
												<p:column style="white-space: normal; text-align: center; width:100px">
													<f:facet name="header"></f:facet>
										            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
										                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archG.seqId}'); return false;"/>					
												</p:column>
									
												<p:column style="white-space: normal; text-align: center; width:100px">
													<f:facet name="header" />
													<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap10Bean.consultarArchivo(10,5,3,0)}"
																	 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
														<f:param name="id" value="#{archG.id}" />
														<f:param name="pRowIndex" value="#{rowIndexI+1}" />
														<f:param name="actualizarArchivo" value="INFORMETECNICO"/>
														<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
													</p:commandButton>
												</p:column>
									
											</p:dataTable>
				
				
				
				
				                </div>
				            </div>
						</div>
					</div>
				</div>
			</div>

            <c:set value="9.5" target="#{capitulo4View}" property="seccion" />
<!--             <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" /> -->

            <br/>
            <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right: 20px">
                <p:commandButton value="Guardar" class="btn btn-primary" action="#{estudioRiesgoView.guardar}"
                                 update="@this" process="@form"
                                 onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra(); "
                                         onclick="this.firstChild.innerHTML = 'Guardando...';
                                         this.disabled = true;"/>
            </div>
        </h:form>
        
			<ui:include src="/ventanasModalesAnexosCap10.xhtml"/>        
        
        <script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{estudioRiesgoView.claveTramite}", nsub: "#{estudioRiesgoView.subsec}", capitulo: 10, subcapitulo: 5, seccion: 1, apartado: -1 }, case_ayuda); 
            $('#case_btn_ayuda1').click({vClaveTramite:"#{estudioRiesgoView.claveTramite}", nsub: "#{estudioRiesgoView.subsec}", capitulo: 10, subcapitulo: 5, seccion: 2, apartado: -1 }, case_ayuda); 
            $('#case_btn_ayuda2').click({vClaveTramite:"#{estudioRiesgoView.claveTramite}", nsub: "#{estudioRiesgoView.subsec}", capitulo: 10, subcapitulo: 5, seccion: 3, apartado: -1 }, case_ayuda); 
        </script>

    </h:body>
</html>
