<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" />
        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet"/>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
    </h:head>
    <h:body>
    	<div class="col-sm-12 col-md-8 col-lg-8">
    		<div class="row" id="mensaje"></div>
			<div class="row" id="case_pnl_ayuda_cnt"></div>
        	<h:form id="foDatosGen">
				<div id="dDatGen1">
					<h:panelGrid id="dDatGenMsg"   rendered="#{capitulo1View.msgPromovente}">
						<h:outputText class="" value="No se encontraron datos del promovente."/> 
                	</h:panelGrid>

					<h:panelGrid id="dDatGen" class="col-md-12 col-lg-12 col-sm-12" rendered="#{capitulo1View.datPromovente}">
					
						<div class="row">
							<h3>Datos generales del promovente <a style="color:#000;" ><span id='case_btn_ayuda' class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3>
							<hr class="red"/>
<!-- 	                    	<button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"> -->
<!-- 	                        	<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda  -->
<!-- 	                    	</button> -->
<!-- 							<div class="panel panel-info semarnat_ayuda" id='case_pnl_ayuda'> -->
<!-- 				                <div class="panel-heading">Datos generales del promovente</div> -->
<!-- 				                <div class="panel-body semarnat_ayuda_cont" id="case_pnl_ayuda_cnt" ></div> -->
<!-- 				            </div> -->
	                    	
						</div>					
                   
                    	<h:form role="form" rendered="#{capitulo1View.tipoPerMor}">
					
						  	<div class="row">
						    	<label class="control-label col-md-4 alineacionGraficaBase"  for="nombreProm-moral">Nombre del promovente:</label>						    	
						      	<div class="col-md-8">
						      		<p class="form-control-static" id="nombreProm-moral" >#{capitulo1View.promovente.vcrazonsocial}</p>
						      	</div>						      							    
						  	</div>
						  	<div class="row">
							    <label class="control-label col-md-4 alineacionGraficaBase" for="rfcProm-moral">RFC:</label>
							    <div class="col-md-8">
							    	<p class="form-control-static" id="rfcProm-moral">#{capitulo1View.promovente.vcrfc}</p>
							   	</div>							    
						  	</div>
						</h:form>
                    
                    
                    	<h:form class="form-horizontal" role="form" rendered="#{capitulo1View.tipoPerFis}">
						  	<div class="row">
						    	<label class="control-label" for="nombreProm-fisico">Nombre del promovente:</label>						    	
						    	<p class="form-control-static" id="nombreProm-fisico">#{capitulo1View.promovente.vcnombre} #{capitulo1View.promovente.vcapellidopaterno} #{capitulo1View.promovente.vcapellidomaterno}</p>						    	
						  	</div>
						  	<div class="row">
							    <label class="control-label" for="rfcProm-fisico">RFC:</label>
							    <p class="form-control-static" id="rfcProm-fisico" >#{capitulo1View.promovente.vcrfc}</p>							    
						  	</div>
						</h:form>
						
                    	<div class="row top-buffer">
                    		<h4 style="padding-left: 0px;">Domicilio</h4>
                    		<hr style="padding-left: 0px;" />
                    	</div>
                    
					  	<div class="row">
					    	<label class="col-md-4 col-sm-4 control-label alineacionGraficaBase" for="codigo-postal">Código postal:</label>
					    	<div class="col-md-8 col-sm-8">
					      		<p class="form-control-static" id="codigo-postal">#{capitulo1View.promovente.vcdCodigoLk}</p>
					    	</div>
					  	</div>
					  	<div class="row">
						    <label class="col-md-4 col-sm-4 control-label alineacionGraficaBase" for="vialidad">#{capitulo1View.vialidad}:</label>
						    <div class="col-md-8 col-sm-8">
						      <p class="form-control-static" id="vialidad">#{capitulo1View.nomVialidad}</p>
						    </div>
					  	</div>
					  	<div class="row">
						    <label class="col-md-4 col-sm-4 control-label alineacionGraficaBase" for="numeroExt-Int">Número exterior/interior:</label>
						    <div class="col-md-8 col-sm-8">
						      <p class="form-control-static" id="numeroExt-Int" >#{capitulo1View.promovente.vcnumexterior} #{capitulo1View.promovente.vcnuminterior}</p>
						    </div>
					  	</div>
					  	<div class="row">
						    <label class="col-md-4 col-sm-4 control-label alineacionGraficaBase" for="asentamiento">#{capitulo1View.asentamiento}:</label>
						    <div class="col-md-8 col-sm-8">
						      <p class="form-control-static" id="asentamiento">#{capitulo1View.promovente.vcdAsentaLk}</p>
						    </div>
					  	</div>
					  	<div class="row">
						    <label class="col-md-4 col-sm-4 control-label alineacionGraficaBase" for="mun-del">Municipio o delegación:</label>
						    <div class="col-md-8 col-sm-8">
						      <p class="form-control-static" id="mun-del">#{capitulo1View.promovente.vclocalidad}</p>
						    </div>
					  	</div>
					  	<div class="row">
						    <label class="col-md-4 col-sm-4 control-label alineacionGraficaBase" for="asentamiento">Entidad federativa:</label>
						    <div class="col-md-8 col-sm-8">
						      <p class="form-control-static" id="asentamiento">#{capitulo1View.entidadPromovente}</p>
						    </div>
					  	</div>
                    
                </h:panelGrid>
            </div>
            

        </h:form>
        </div>
        <script>
	        $gmx(document).ready(function() {
	        	  $('[data-toggle="tooltip"]').tooltip();
	        	});
	        $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo1View.claveTramite}", nsub:1, capitulo: 1, subcapitulo: 2, seccion: -1, apartado: -1 }, case_ayuda);
        </script>

    </h:body>
</html>
