/**
* Estilos del datepicker
*/

/*!* jQuery UI Datepicker 1.8.20** Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)* Dual licensed under the MIT or GPL Version 2 licenses.* http://jquery.org/license** http://docs.jquery.com/UI/Datepicker#theming*/
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover
	{
	top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}

.ui-datepicker .ui-datepicker-next {
	right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span
	{
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year
	{
	width: 49%;
}

.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}

.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}

.ui-datepicker td {
	border: 0;
	padding: 1px;
}

.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
} /* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
	border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}

.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0em;
} /* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current
	{
	float: right;
}

.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
} /* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
	display: none; /*sorry for IE5*/
	display /**/: block; /*sorry for IE5*/
	position: absolute; /*must have*/
	z-index: -1; /*must have*/
	filter: mask(); /*must have*/
	top: -4px; /*must have*/
	left: -4px; /*must have*/
	width: 200px; /*must have*/
	height: 200px; /*must have*/
} /* css for timepicker */
.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}

.ui-timepicker-div dl {
	text-align: left;
}

.ui-timepicker-div dl dt {
	height: 25px;
	margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
	margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
	font-size: 90%;
}

.ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.ui-timepicker-rtl {
	direction: rtl;
}

.ui-timepicker-rtl dl {
	text-align: right;
}

.ui-timepicker-rtl dl dd {
	margin: 0 65px 10px 10px;
} /* PrimeFaces Extensions */
.ui-datepicker-trigger.ui-button-icon-only .ui-button-text {
	padding: 0.3em;
}
/**
* Estilos del datable.
*/
.ui-datatable table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

.ui-datatable-tablewrapper {
	overflow: auto;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
	text-align: center;
	padding: 4px 10px;
}

.ui-datatable .ui-datatable-header {
	border-bottom: 0px none;
}

.ui-datatable .ui-datatable-footer {
	border-top: 0px none;
}

.ui-datatable thead th, .ui-datatable tfoot td {
	text-align: center;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td,
	.ui-datatable tfoot th {
	padding: 4px 10px;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
}

.ui-datatable tbody td {
	/* 	border-color: inherit; */
	text-align: left;
}

.ui-datatable .ui-sortable-column {
	cursor: pointer;
}

.ui-datatable div.ui-dt-c {
	position: relative;
}

.ui-datatable .ui-sortable-column-icon {
	display: inline-block;
	margin: -3px 0px -3px 2px;
}

.ui-datatable .ui-column-filter {
	display: block;
	width: 100px;
	margin: auto;
}

.ui-datatable .ui-row-toggler {
	cursor: pointer;
}

.ui-datatable tr.ui-state-highlight {
	cursor: pointer;
}

.ui-datatable .ui-selection-column .ui-chkbox-all {
	display: block;
	margin: 0px auto;
	width: 16px;
	height: 16px;
} /* Scrollable */
.ui-datatable-scrollable table, .ui-datatable-sticky table {
	table-layout: fixed;
}

.ui-datatable-scrollable-body {
	overflow: auto;
}

.ui-datatable-scrollable-header, .ui-datatable-scrollable-footer {
	overflow: hidden;
	border: 0px none;
}

.ui-datatable-scrollable .ui-datatable-scrollable-header,
	.ui-datatable-scrollable .ui-datatable-scrollable-footer {
	position: relative;
}

.ui-datatable-scrollable .ui-datatable-scrollable-header td {
	font-weight: normal;
}

.ui-datatable-scrollable-body::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 15px;
	background-color: transparent;
}

.ui-datatable-scrollable-body::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 1px solid white;
	background-color: rgba(194, 194, 194, .5);
}

.ui-datatable .ui-datatable-scrollable-body {
	min-height: 0%;
}

.ui-datatable .ui-datatable-data tr.ui-state-hover {
	border-color: inherit;
	font-weight: inherit;
	cursor: pointer;
}

.ui-datatable-scrollable-theadclone {
	height: 0px;
}

.ui-datatable-scrollable-theadclone tr {
	height: 0px;
}

.ui-datatable-scrollable-theadclone th.ui-state-default {
	height: 0px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	outline: 0 none;
}

.ui-datatable-scrollable-theadclone th span.ui-column-title {
	display: block;
	height: 0px;
}

.ui-datatable .ui-paginator, .ui-datatable .ui-paginator {
	padding: 2px;
} /* InCell Editing */
.ui-datatable .ui-cell-editor-input {
	display: none;
}

.ui-datatable .ui-row-editing .ui-cell-editor .ui-cell-editor-output {
	display: none;
}

.ui-datatable .ui-row-editing .ui-cell-editor .ui-cell-editor-input {
	display: block;
}

.ui-datatable .ui-row-editor span {
	cursor: pointer;
	float: left;
}

.ui-datatable .ui-row-editor .ui-icon-pencil {
	display: inline-block;
}

.ui-datatable .ui-row-editing .ui-row-editor .ui-icon-pencil {
	display: none;
}

.ui-datatable .ui-row-editor .ui-icon-check, .ui-datatable .ui-row-editor .ui-icon-close
	{
	display: none;
}

.ui-datatable .ui-row-editing .ui-row-editor .ui-icon-check,
	.ui-datatable .ui-row-editing .ui-row-editor .ui-icon-close {
	display: inline-block;
}

.ui-datatable .ui-datatable-data tr.ui-row-editing td.ui-editable-column,
	.ui-datatable .ui-datatable-data td.ui-cell-editing {
	padding: 0;
	margin: 0;
} /*resizer */
.ui-datatable .ui-column-resizer {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0;
	width: 8px;
	height: 20px;
	padding: 0px;
	cursor: col-resize;
	background-image:
		url("/SMIA/javax.faces.resource/spacer/dot_clear.gif.xhtml?ln=primefaces&v=5.2");
	border: 1px solid transparent;
}

.ui-datatable .ui-filter-column .ui-column-resizer {
	height: 45px;
}

.ui-datatable .ui-column-resizer-helper {
	width: 1px;
	position: absolute;
	z-index: 10;
	display: none;
}

form .control-label, label {
	
}

.rara {
	display: block;
	width: 100%;
	height: 39px;
	padding: 6px 12px;
	font-size: 18px;
	line-height: 1.428571429;
	font-weight: normal;
	color: #555;
	background-color: #fff;
	background-image: none;
	/*border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    */
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
}

.ui-datatable-resizable {
	padding-bottom: 1px; /*fix for webkit overlow*/
	overflow: auto;
}

.ui-datatable-resizable thead th, .ui-datatable-resizable tbody td,
	.ui-datatable-resizable tfoot td {
	white-space: nowrap;
}

.ui-datatable-resizable table {
	table-layout: fixed;
}

.ui-datatable-resizable th.ui-resizable-column {
	background-clip: padding-box;
	position: relative;
}

.ui-datatable-rtl {
	direction: rtl;
}

.ui-datatable-rtl.ui-datatable thead th, .ui-datatable-rtl.ui-datatable tfoot td
	{
	text-align: right;
} /* Frozen Columns */
.ui-datatable table.ui-datatable-fs {
	width: auto;
}

.ui-datatable .ui-datatable-frozenlayout-left, .ui-datatable .ui-datatable-frozenlayout-right
	{
	padding: 0;
	border: 0 none;
	vertical-align: top;
}

.ui-datatable .ui-datatable-frozen-container {
	margin-right: -1px;
}

.ui-datatable-frozen-container .ui-datatable-scrollable-body {
	overflow: hidden;
}

.ui-datatable .ui-datatable-frozen-container .ui-row-toggler {
	margin-top: -2px;
	margin-bottom: -2px;
}

.ui-datatable .ui-datatable-frozen-container .ui-row-editor {
	margin-top: -2px;
	margin-bottom: -2px;
}

.ui-datatable-frozenlayout-right .ui-datatable-empty-message td {
	visibility: hidden;
}
/* Hide all prioritized columns by default */
@media only all {
	th.ui-column-p-6, td.ui-column-p-6, th.ui-column-p-5, td.ui-column-p-5,
		th.ui-column-p-4, td.ui-column-p-4, th.ui-column-p-3, td.ui-column-p-3,
		th.ui-column-p-2, td.ui-column-p-2, th.ui-column-p-1, td.ui-column-p-1
		{
		display: none;
	}
} /* Show priority 1 at 320px (20em x 16px) */
@media screen and (min-width:20em) {
	th.ui-column-p-1, td.ui-column-p-1 {
		display: table-cell;
	}
} /* Show priority 2 at 480px (30em x 16px) */
@media screen and (min-width:30em) {
	th.ui-column-p-2, td.ui-column-p-2 {
		display: table-cell;
	}
} /* Show priority 3 at 640px (40em x 16px) */
@media screen and (min-width:40em) {
	th.ui-column-p-3, td.ui-column-p-3 {
		display: table-cell;
	}
} /* Show priority 4 at 800px (50em x 16px) */
@media screen and (min-width:50em) {
	th.ui-column-p-4, td.ui-column-p-4 {
		display: table-cell;
	}
} /* Show priority 5 at 960px (60em x 16px) */
@media screen and (min-width:60em) {
	th.ui-column-p-5, td.ui-column-p-5 {
		display: table-cell;
	}
} /* Show priority 6 at 1,120px (70em x 16px) */
@media screen and (min-width:70em) {
	th.ui-column-p-6, td.ui-column-p-6 {
		display: table-cell;
	}
} /** Reflow **/
.ui-datatable-reflow .ui-datatable-data td .ui-column-title {
	display: none;
}

@media ( max-width :35em ) {
	.ui-datatable-reflow thead th, .ui-datatable-reflow tfoot td {
		display: none;
	}
	.ui-datatable-reflow .ui-datatable-data td {
		text-align: left;
		display: block;
		border: 0px none;
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		clear: left;
	}
	.ui-datatable-reflow .ui-datatable-data td .ui-column-title {
		padding: .4em;
		min-width: 30%;
		display: inline-block;
		margin: -.4em 1em -.4em -.4em;
	}
}

<!--
ESTILOS DE OUTPUT LABEL --> /* OutputLabel */ .ui-outputlabel.ui-state-error
	{
	/* 	border: 0 none; */
	
}

.ui-outputlabel .ui-outputlabel-rfi {
	margin-left: 0em;
} /*




<!-- ESTILOS DE COMMAND BUTTONS --> 

/*button text element */
.ui-button .ui-button-text {
	/* 	display: block; */
	/* 	line-height: normal; */
	
}

.ui-button-text-only .ui-button-text {
	/* 	padding: .3em 1em; */
	
}

.ui-button-icon-only .ui-button-text {
	/* 	padding: .3em; */
	/* 	text-indent: -9999999px; */
	
}

.ui-button-text-icon-left .ui-button-text {
	/* 	padding: .3em 1em .3em 2.1em; */
	
}

.ui-button-text-icon-right .ui-button-text {
	/* 	padding: .3em 2.1em .3em 1em; */
	
} /*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon,
	.ui-button-text-icon-right .ui-icon {
	/* 	position: absolute; */
	/* 	top: 50%; */
	/* 	margin-top: -8px; */
	
} /* FontAwesome icon */
.ui-button-icon-only .ui-icon.fa, .ui-button-text-icon-left .ui-icon.fa,
	.ui-button-text-icon-right .ui-icon.fa {
	/* 	margin-top: -7px; */
	
}

.ui-button-icon-only .ui-icon {
	/* 	left: 50%; */
	/* 	margin-left: -8px; */
	
}

.ui-button-icon-left {
	/* 	left: .5em; */
	
}

.ui-button-icon-right {
	/* 	right: .5em; */
	
} /*button sets*/
.ui-buttonset {
	/* 	margin-right: 7px; */
	
}

.ui-buttonset .ui-button {
	/* 	margin-left: 0; */
	/* 	margin-right: 0; */
	
} /* workarounds */
button.ui-button::-moz-focus-inner {
	/* 	border: 0; */
	/* 	padding: 0; reset extra padding in Firefox */
	
} /**



<!-- ESTILOS DE PRIMEFACES ARISTO -->
	/* * * PrimeFaces Aristo Theme* http://wijmo.com/* * Based on the Aristo theme concept created by 280 North and Pinvoke (https://github.com/280north/aristo).* */
a {
	outline: none;
}

.ui-icon {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	/*border-radius: 10px;*/
}
/** jQuery UI CSS Framework @VERSION** Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)* Dual licensed under the MIT or GPL Version 2 licenses.* http://jquery.org/license** http://docs.jquery.com/UI/Theming/API** To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial,sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=3px&bgColorHeader=c4c4c4&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=100&borderColorHeader=a8a8a8&fcHeader=4f4f4f&iconColorHeader=898989&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=100&borderColorContent=a8a8a8&fcContent=4f4f4f&iconColorContent=616161&bgColorDefault=c4c4c4&bgTextureDefault=04_highlight_hard.png&bgImgOpacityDefault=80&borderColorDefault=a8a8a8&fcDefault=4f4f4f&iconColorDefault=ffffff&bgColorHover=c4c4c4&bgTextureHover=04_highlight_hard.png&bgImgOpacityHover=80&borderColorHover=a8a8a8&fcHover=4f4f4f&iconColorHover=ffffff&bgColorActive=c4c4c4&bgTextureActive=06_inset_hard.png&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=4f4f4f&iconColorActive=ffffff&bgColorHighlight=fbf9ee&bgTextureHighlight=02_glass.png&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=05_inset_soft.png&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=4f4f4f&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px*/
/* Component containers----------------------------------*/
.ui-widget {
	/* 	font-family: Arial, sans-serif; */
	/* 	font-size: 1.1em; */
	
}

.ui-widget .ui-widget {
	/* 	font-size: 1em; */
	
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	{
	/* 	font-family: Arial, sans-serif; */
	/* 	font-size: 1em; */
	
}

.ui-widget-content {
}

.ui-widget-content a {
	color: #4f4f4f;
}

/* .ui-widget-header { */
/* 	border: 1px solid #a8a8a8; */
/* 	background: #c4c4c4 */
/* 		url("/SMIA/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo") */
/* 		50% 50% repeat-x; */
/* 	background: #c4c4c4 linear-gradient(top, rgba(255, 255, 255, 0.8), */
/* 		rgba(255, 255, 255, 0)); */
/* 	background: #c4c4c4 */
/* 		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, */
/* 		0.8)), to(rgba(255, 255, 255, 0))); */
/* 	background: #c4c4c4 -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), */
/* 		rgba(255, 255, 255, 0)); */
/* 	color: #333; */
/* 	font-weight: bold; */
/* 	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7); */
/* } */

/* .ui-widget-header a { */
/* 	color: #4f4f4f; */
/* } */
.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border: 1px solid #a8a8a8;
	/* 	background: #c4c4c4 */
	/* 		url("/SMIA/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo") */
	/* 		50% 50% repeat-x; */
	/* 	background: #c4c4c4 linear-gradient(top, rgba(255, 255, 255, 0.8), */
	/* 		rgba(255, 255, 255, 0)); */
	/* 	background: #c4c4c4 */
	/* 		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, */
	/* 		0.8)), to(rgba(255, 255, 255, 0))); */
	/* 	background: #c4c4c4 -moz-linear-gradient(top, rgba(255, 255, 255, 0.8), */
	/* 		rgba(255, 255, 255, 0)); */
	/* 	/*    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)";*/
	*/
	/* 	font-weight: bold; */
	/* 	color: #4f4f4f; */
	/* 	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7); */
}

.ui-state-default {
	/* 	-moz-box-shadow: inset 0px 1px 0px #fff; */
	/* 	-webkit-box-shadow: inset 0px 1px 0px #fff; */
	/* 	box-shadow: inset 0px 1px 0px #fff; */
	
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited
	{
	/* 	color: #4f4f4f; */
	/* 	text-decoration: none; */
	/* 	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8); */
	
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{
	/* 	border: 1px solid #7096ab; */
	/* 	background: #85b2cb */
	/* 		url("/SMIA/javax.faces.resource/images/ui-bg_highlight-hard_80_85b2cb_1x100.png.xhtml?ln=primefaces-aristo") */
	/* 		50% 50% repeat-x; */
	/* 	background: #85b2cb linear-gradient(top, rgba(255, 255, 255, 0.6), */
	/* 		rgba(255, 255, 255, 0)); */
	/* 	background: #85b2cb */
	/* 		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, */
	/* 		0.6)), to(rgba(255, 255, 255, 0))); */
	/* 	background: #85b2cb -moz-linear-gradient(top, rgba(255, 255, 255, 0.6), */
	/* 		rgba(255, 255, 255, 0)); */
	/* 	/*    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#00FFFFFF);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFFFFFF, endColorstr=#00FFFFFF)";*/
	*/
	/* 	font-weight: bold; */
	/* 	color: #313131; */
	/* 	-moz-box-shadow: 0 0 5px #85b2cb; */
	/* 	-webkit-box-shadow: 0px 0px 8px #85b2cb; */
	/* 	box-shadow: 0px 0px 8px #85b2cb; */
	
}

.ui-state-hover {
	-moz-box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #fff;
	-webkit-box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #fff;
	box-shadow: 0px 0px 8px #85b2cb, inset 0px 1px 0px #fff;
}

.ui-state-hover a, .ui-state-hover a:hover {
	color: #2f556a;
	text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
	{
	border: 1px solid #7096ab;
	background: #85b2cb
		url("/SMIA/javax.faces.resource/images/ui-bg_inset-hard_65_85b2cb_1x100.png.xhtml?ln=primefaces-aristo")
		50% 50% repeat-x;
	background: #85b2cb linear-gradient(top, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.4));
	background: #85b2cb
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0)), to(rgba(255, 255, 255, 0.4)));
	background: #85b2cb -moz-linear-gradient(top, rgba(255, 255, 255, 0),
		rgba(255, 255, 255, 0.4));
	/*    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#CCFFFFFF);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#CCFFFFFF)";*/
	font-weight: bold;
	color: #1C4257;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	{
	color: #2f556a;
	text-decoration: none;
}

.ui-widget:active {
	outline: none;
}

.ui-state-active {
	-moz-box-shadow: inset 0px -1px 0px #fff;
	-webkit-box-shadow: inset 0px 1px 0px #fff;
	box-shadow: inset 0px 1px 0px #fff;
} /* Interaction Cues----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border: 1px solid #666666;
	background: #aaaaaa;
	background: #aaaaaa linear-gradient(top, rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0));
	background: #aaaaaa
		-webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.25)),
		to(rgba(0, 0, 0, 0)));
	background: #aaaaaa -moz-linear-gradient(top, rgba(0, 0, 0, 0.25),
		rgba(0, 0, 0, 0));
	/*    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#00000000);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000, endColorstr=#00000000)";*/
	color: #ffffff;
	text-shadow: 1px 1px 1px #333333;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,
	.ui-widget-header .ui-state-highlight a {
	color: #363636;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
	{	
	background: #fef1ec linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	background: #fef1ec
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
	/*    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)";*/
	color: #cd0a0a;
}

/* .form-control{ */
/* 	border-color: #cd0a0a; */
/* } */

/* Estilo de bordes para los campos requeridos. */
.ui-state-error{
	border-color: #D0021B!important;
}

.ui-messages-error, .ui-message-error {
	color: #B94A48;
	background-color: white;
}

.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal
	{
	border: 0px solid;
	margin: 0px 0px;
	padding: 0px 0px;
}

.ui-messages-info-detail, .ui-messages-warn-detail,
	.ui-messages-error-detail, .ui-messages-fatal-detail,
	.ui-message-info-detail, .ui-message-warn-detail,
	.ui-message-error-detail, .ui-message-fatal-detail {
	margin-left: 0px;
}

.ui-message-error-icon {
	display: none;
	background-position: 0px -96px;
}

.ui-message-info-icon, .ui-message-warn-icon, .ui-message-error-icon,
	.ui-message-fatal-icon {
	height: 0px;
	width: 0px;
}

.ui-messages-info-icon, .ui-messages-warn-icon, .ui-messages-error-icon,
	.ui-messages-fatal-icon, .ui-message-info-icon, .ui-message-warn-icon,
	.ui-message-error-icon, .ui-message-fatal-icon {
	display: block;
	float: left;
	margin: 0px;
	padding: 0px;
	position: relative;
}

.ui-state-error a, .ui-widget-content .ui-state-error a,
	.ui-widget-header .ui-state-error a {
	color: #cd0a0a;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text,
	.ui-widget-header .ui-state-error-text {
	color: #cd0a0a;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary,
	.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,
	.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter: Alpha(Opacity = 70);
	font-weight: normal;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
    border-right: medium none;
    border-top: medium none;
    border-bottom: medium none;
    cursor: pointer;
    height: 100%;
    right: 0px;
    top: 0px;
    width: 20px;
    position: absolute;
    padding: 0px 0px;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled,
	.ui-widget-header .ui-state-disabled {
	opacity: .35;
	filter: Alpha(Opacity = 35);
	background-image: none;
} /* Icons----------------------------------*/ /* states and images */

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-icon {
    width: 16px;
    height: 16px;
    background-image: url("../../assets/images/ui-icons_38667f_256x240.png?ln=primefaces-aristo");    
}

.ui-widget-header .ui-icon {
	background-image:
		url("../../assets/images/ui-icons_38667f_256x240.xhtml?ln=primefaces-aristo");
}

.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
	background-image:
		url("../../javax.faces.resource/images/ui-icons_38667f_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-state-active .ui-icon {
	background-image:
		url("../../javax.faces.resource/images/ui-icons_38667f_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-state-highlight .ui-icon {
	background-image:
		url("/SMIA/javax.faces.resource/images/ui-icons_2e83ff_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
	background-image:
		url("/SMIA/javax.faces.resource/images/ui-icons_cd0a0a_256x240.png.xhtml?ln=primefaces-aristo");
} /* positioning */
.ui-icon-carat-1-n {
	background-position: 0 0;
}

.ui-icon-carat-1-ne {
	background-position: -16px 0;
}

.ui-icon-carat-1-e {
	background-position: -32px 0;
}

.ui-icon-carat-1-se {
	background-position: -48px 0;
}

.ui-icon-carat-1-s {
	background-position: -64px 0;
}

.ui-icon-carat-1-sw {
	background-position: -80px 0;
}

.ui-icon-carat-1-w {
	background-position: -96px 0;
}

.ui-icon-carat-1-nw {
	background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
	background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
	background-position: -144px 0;
}

.ui-icon-triangle-1-n {
	background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
	background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
	background-position: -32px -16px;
}

.ui-icon-triangle-1-s {
    background-position: -64px -16px;
}

.ui-icon-triangle-1-s {
	background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
	background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
	background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
	background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
	background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
	background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
	background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
	background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
	background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
	background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
	background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
	background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
	background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
	background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
	background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
	background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
	background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
	background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
	background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
	background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
	background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
	background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
	background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
	background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
	background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
	background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
	background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
	background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
	background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
	background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
	background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
	background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
	background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
	background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px;
}

.ui-icon-arrow-4 {
	background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
	background-position: -16px -80px;
}

.ui-icon-extlink {
	background-position: -32px -80px;
}

.ui-icon-newwin {
	background-position: -48px -80px;
}

.ui-icon-refresh {
	background-position: -64px -80px;
}

.ui-icon-shuffle {
	background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
	background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
	background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
	background-position: 0 -96px;
}

.ui-icon-folder-open {
	background-position: -16px -96px;
}

.ui-icon-document {
	background-position: -32px -96px;
}

.ui-icon-document-b {
	background-position: -48px -96px;
}

.ui-icon-note {
	background-position: -64px -96px;
}

.ui-icon-mail-closed {
	background-position: -80px -96px;
}

.ui-icon-mail-open {
	background-position: -96px -96px;
}

.ui-icon-suitcase {
	background-position: -112px -96px;
}

.ui-icon-comment {
	background-position: -128px -96px;
}

.ui-icon-person {
	background-position: -144px -96px;
}

.ui-icon-print {
	background-position: -160px -96px;
}

.ui-icon-trash {
	background-position: -176px -96px;
}

.ui-icon-locked {
	background-position: -192px -96px;
}

.ui-icon-unlocked {
	background-position: -208px -96px;
}

.ui-icon-bookmark {
	background-position: -224px -96px;
}

.ui-icon-tag {
	background-position: -240px -96px;
}

.ui-icon-home {
	background-position: 0 -112px;
}

.ui-icon-flag {
	background-position: -16px -112px;
}

.ui-icon-calendar {
	background-position: -32px -112px;
}

.ui-icon-cart {
	background-position: -48px -112px;
}

.ui-icon-pencil {
	background-position: -64px -112px;
}

.ui-icon-clock {
	background-position: -80px -112px;
}

.ui-icon-disk {
	background-position: -96px -112px;
}

.ui-icon-calculator {
	background-position: -112px -112px;
}

.ui-icon-zoomin {
	background-position: -128px -112px;
}

.ui-icon-zoomout {
	background-position: -144px -112px;
}

.ui-icon-search {
	background-position: -160px -112px;
}

.ui-icon-wrench {
	background-position: -176px -112px;
}

.ui-icon-gear {
	background-position: -192px -112px;
}

.ui-icon-heart {
	background-position: -208px -112px;
}

.ui-icon-star {
	background-position: -224px -112px;
}

.ui-icon-link {
	background-position: -240px -112px;
}

.ui-icon-cancel {
	background-position: 0 -128px;
}

.ui-icon-plus {
	background-position: -16px -128px;
}

.ui-icon-plusthick {
	background-position: -32px -128px;
}

.ui-icon-minus {
	background-position: -48px -128px;
}

.ui-icon-minusthick {
	background-position: -64px -128px;
}

.ui-icon-close {
	background-position: -80px -128px;
}

.ui-icon-closethick {
	background-position: -96px -128px;
}

.ui-icon-key {
	background-position: -112px -128px;
}

.ui-icon-lightbulb {
	background-position: -128px -128px;
}

.ui-icon-scissors {
	background-position: -144px -128px;
}

.ui-icon-clipboard {
	background-position: -160px -128px;
}

.ui-icon-copy {
	background-position: -176px -128px;
}

.ui-icon-contact {
	background-position: -192px -128px;
}

.ui-icon-image {
	background-position: -208px -128px;
}

.ui-icon-video {
	background-position: -224px -128px;
}

.ui-icon-script {
	background-position: -240px -128px;
}

.ui-icon-alert {
	background-position: 0 -144px;
}

.ui-icon-info {
	background-position: -16px -144px;
}

.ui-icon-notice {
	background-position: -32px -144px;
}

.ui-icon-help {
	background-position: -48px -144px;
}

.ui-icon-check {
	background-position: -64px -144px;
}

.ui-icon-bullet {
	background-position: -80px -144px;
}

.ui-icon-radio-off {
	background-position: -96px -144px;
}

.ui-icon-radio-on {
	background-position: -112px -144px;
}

.ui-icon-pin-w {
	background-position: -128px -144px;
}

.ui-icon-pin-s {
	background-position: -144px -144px;
}

.ui-icon-play {
	background-position: 0 -160px;
}

.ui-icon-pause {
	background-position: -16px -160px;
}

.ui-icon-seek-next {
	background-position: -32px -160px;
}

.ui-icon-seek-prev {
	background-position: -48px -160px;
}

.ui-icon-seek-end {
	background-position: -64px -160px;
}

.ui-icon-seek-start {
	background-position: -80px -160px;
} /* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
	background-position: -80px -160px;
}

.ui-icon-stop {
	background-position: -96px -160px;
}

.ui-icon-eject {
	background-position: -112px -160px;
}

.ui-icon-volume-off {
	background-position: -128px -160px;
}

.ui-icon-volume-on {
	background-position: -144px -160px;
}

.ui-icon-power {
	background-position: 0 -176px;
}

.ui-icon-signal-diag {
	background-position: -16px -176px;
}

.ui-icon-signal {
	background-position: -32px -176px;
}

.ui-icon-battery-0 {
	background-position: -48px -176px;
}

.ui-icon-battery-1 {
	background-position: -64px -176px;
}

.ui-icon-battery-2 {
	background-position: -80px -176px;
}

.ui-icon-battery-3 {
	background-position: -96px -176px;
}

.ui-icon-circle-plus {
	background-position: 0 -192px;
}

.ui-icon-circle-minus {
	background-position: -16px -192px;
}

.ui-icon-circle-close {
	background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
	background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
	background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
	background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
	background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
	background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
	background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
	background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
	background-position: -192px -192px;
}

.ui-icon-circle-check {
	background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
	background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
	background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
	background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
	background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
	background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
	background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
	background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
	background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
	background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
	background-position: -80px -224px;
} /* Misc visuals----------------------------------*/
/* Corner radius */
.ui-corner-tl {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}

.ui-corner-tr {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.ui-corner-bl {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.ui-corner-br {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.ui-corner-top {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.ui-corner-bottom {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.ui-corner-right {
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.ui-corner-left {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.ui-corner-all {
	/* 	-moz-border-radius: 3px; */
	/* 	-webkit-border-radius: 3px; */
	/* 	border-radius: 3px; */
	
}

.ui-round-all {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
} /* Overlays */
.ui-widget-overlay {
	background: #000
		url("/SMIA/javax.faces.resource/images/ui-bg_flat_0_2d5972_40x100.png.xhtml?ln=primefaces-aristo")
		50% 50% repeat-x;
	opacity: .5;
	filter: Alpha(Opacity = 50);
}

.ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background: #4f4f4f
		url("/SMIA/javax.faces.resource/images/ui-bg_flat_0_4f4f4f_40x100.png.xhtml?ln=primefaces-aristo")
		50% 50% repeat-x;
	opacity: .30;
	filter: Alpha(Opacity = 30);
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
} /*** Widget Extensions*/
.ui-accordion .ui-accordion-header {
	margin: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.ui-accordion .ui-accordion-content {
	margin-bottom: 0;
}

.ui-dialog .ui-dialog-titlebar {
	border: 0 none;
	padding: 0.4em 0.4em 0.4em 1em;
	position: relative;
	background: #393C3E;
	color: white;
}

.ui-dialog-title {
	text-align: center;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.428571429;
}

.ui-slider {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #cbcbcb;
	-moz-box-shadow: inset 0 2px 2px #8f8f8f;
	-webkit-box-shadow: inset 0 2px 2px #8f8f8f;
	box-shadow: inset 0 2px 2px #8f8f8f;
}

.ui-slider .ui-slider-handle {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.ui-slider .ui-slider-range {
	background: #a3cae0;
	-moz-box-shadow: inset 0 2px 2px #7d9aab;
	-webkit-box-shadow: inset 0 2px 2px #7d9aab;
	box-shadow: inset 0 2px 2px #7d9aab;
}

.ui-slider-vertical {
	background: #cbcbcb;
	-moz-box-shadow: inset 0 2px 2px #8f8f8f;
	-webkit-box-shadow: inset 0 2px 2px #8f8f8f;
	box-shadow: inset 0 2px 2px #8f8f8f;
}

.ui-slider-vertical .ui-slider-range {
	background: #a3cae0;
	-moz-box-shadow: inset 2px 0 2px #7d9aab;
	-webkit-box-shadow: inset 2px 0 2px #7d9aab;
	box-shadow: inset 2px 0 2px #7d9aab;
}

.ui-slider .ui-slider-handle span {
	height: 16px !important;
	width: 16px !important;
	float: none !important;
	margin: 0 auto !important;
}

.ui-slider .ui-slider-handle {
	background: #85b2cb;
	background: #85b2cb linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	background: #85b2cb
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
	background: #85b2cb -moz-linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	/*   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)";*/
}

.ui-tabs .ui-tabs-nav li {
	border: 1px solid #a8a8a8;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	border: 1px solid #a8a8a8;
}

.ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected {
	border-bottom: 0;
}

.ui-tabs .ui-tabs-panel {
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}

.ui-tabs .ui-tabs-nav {
	background: #e3e3e3;
	background: #e3e3e3 linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	background: #e3e3e3
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
	background: #e3e3e3 -moz-linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	/*    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)";*/
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.ui-tabs .ui-tabs-nav .ui-tabs-selected {
	background: #fff;
	border-bottom: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	cursor: pointer;
}

.ui-datepicker table {
	table-layout: fixed;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
	background: none;
	border: none;
	color: #5F83B9;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-hover {
	color: #1C4257;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ui-datepicker .ui-datepicker-current-day .ui-state-highlight,
	.ui-datepicker .ui-datepicker-current-day .ui-state-default {
	background: #5F83B9;
	color: #FFFFFF !important;
	font-weight: bold;
	text-shadow: 0 1px 1px #234386;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.ui-datepicker .ui-datepicker-header {
	background: #e3e3e3;
	background: #e3e3e3 linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	background: #e3e3e3
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
	background: #e3e3e3 -moz-linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	/*   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)";*/
	border-right: none;
	border-left: none;
	border-top: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: black
}

.ui-datepicker .ui-datepicker-next-hover, .ui-datepicker .ui-datepicker-prev-hover
	{
	background: none;
	border: solid 1px transparent;
	-moz-box-shadow: none;
}

.ui-progressbar {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.ui-progressbar .ui-widget-header {
	background: #85b2cb;
	background: #85b2cb linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	background: #85b2cb
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
	background: #85b2cb -moz-linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF,
		endColorstr=#00FFFFFF);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF)";
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
} /* PrimeFaces Extensions */
.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
	{
	background: #ffffff;
	-moz-box-shadow: inset 0 2px 2px #8f8f8f;
	-webkit-box-shadow: inset 0 2px 2px #8f8f8f;
	box-shadow: inset 0 2px 2px #8f8f8f;
	color: #313131;
}

.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus,
	.ui-widget-header .ui-inputfield.ui-state-focus {
	-moz-box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f;
	-webkit-box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f;
	box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f;
}

.ui-menu, .ui-menu .ui-menu-child {
	background: #c4c4c4
		url("/SMIA/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png.xhtml?ln=primefaces-aristo")
		top repeat-x;
	background: #c4c4c4 linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
	background: #c4c4c4
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8)), to(rgba(255, 255, 255, 0)));
	background: #c4c4c4 -moz-linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0));
}

* html .ui-menu .ui-menu-list {
	background: none;
}

* html .ui-menubar .ui-menu-child {
	background: #ffffff;
}

* html .ui-menu .ui-menuitem-link {
	border-color: #c4c4c4;
	filter: chroma(color = #c4c4c4);
}

.ui-datatable-odd {
	background: none repeat scroll 0 0 #F2F5F9;
} /** Liferay Support **/
.aui .ui-helper-hidden {
	display: none;
} /*Autocomplete*/
.aui .ui-helper-reset {
	margin: 0;
} /*Menubar*/
.aui .ui-widget-content .ui-widget a {
	color: #4f4f4f;
} /*SelectOneMenu*/
.aui .ui-selectonemenu .ui-widget {
	font-size: 1.1em;
}

.aui .ui-selectonemenu-label .ui-inputfield {
	color: #313131;
}

.aui .ui-selectonemenu-label {
	margin-bottom: 0px;
} /*Spinner*/
.aui .ui-spinner .ui-corner-all {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.aui .ui-spinner .ui-inputfield {
	-moz-box-shadow: inset 0 2px 2px #8f8f8f;
	-webkit-box-shadow: inset 0 2px 2px #8f8f8f;
	box-shadow: inset 0 2px 2px #8f8f8f;
	color: #313131;
	margin: 0;
	padding: 4px;
	font-weight: normal;
}

.aui .ui-spinner .ui-spinner-input {
	vertical-align: middle;
	padding-right: 20px;
}

.aui .ui-widget input {
	font-size: 1em;
}

.aui .ui-spinner .ui-inputfield.ui-state-focus {
	-moz-box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f;
	-webkit-box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f;
	box-shadow: 0px 0px 5px #85b2cb, inset 0 2px 2px #8f8f8f;
} /*Tabs*/
.aui .ui-tabs .ui-state-default a {
	color: #4f4f4f;
}

.alinDerecha {
	float: right;
}

.alinCenter {
	text-align: center;
}

.ui-icon-circle-triangle-e {
	background-image: url('../../assets/images/iconDes.png') !important;
	background-position:0px 0px;
}


.ui-icon-circle-triangle-s {
	background-image: url('../../assets/images/iconMen.png') !important;
	background-position: 0px 0px;
}

body {
	padding-top: 0px;
	font-weight: 300
}

.ui-button-textx{
    font-size: 18px;
    line-height: 2.4;
    padding: 1px 25px;
	font-family: "Glyphicons Halflings","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.botonEliminar{
    margin-right: 5px;
}

.ui-icon-plus-e {
	background-image: url('../../assets/images/expandS2.png') !important;		
	background-position: 35px 21px;
	background-repeat: no-repeat;
	padding: 0.4em 0em 0.5em 2.5em
	
}

.ui-radiobutton{
			margin: 3px 9px;
}

