<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
         
			<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" />	       
	        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
	        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		
	
<!-- 	        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script> -->
        	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	        <script src="#{request.contextPath}/assets/js/funciones.js"></script>	        
	        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
        
    </h:head>
    <h:body >
	<div class="col-md-12">
	    <div class="row" id="mensaje"></div>
		<div class="row" id="case_pnl_ayuda_cnt"></div>

        <h:form id="foDatosGen">
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>
            <h:inputHidden id="ubicActual" value="#{capitulo8View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo8View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>

            <div id="pResManImpAmb">
                <div id="titulo"></div>
                <hr class="red"/>
<!--                  <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"> -->
<!--                       <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda  -->
<!--                   </button> -->
<!--                 <hr/>    -->
<!--                 <br/> -->
                <pe:ckEditor width="100%" value="#{glosario.glosarioProyecto}"
						toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]" />              
            </div>

            <div id="componenteGuarda" style="display:none;" class="pull-right">
            <br/>
                <p:commandButton onsuccess="parent.actualizaBarra();" value="Guardar" styleClass="btn btn-primary" 	actionListener="#{glosario.saveGlosario}"/>
                
            </div>        

        </h:form>
</div>
        <script>
		$(document).ready(function(){
			
 			s = '<h3>Glosario de términos<a style="color:#000;"><span id="case_btn_ayuda" class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3>';
 			getInformacionAdicional('#{capitulo8View.strComentProy}','foDatosGen',4,0,0,s);
 			
 			$('#case_btn_ayuda').click({vClaveTramite:"#{capitulo8View.claveTramite}", nsub:"#{capitulo8View.proyecto.nsub}", capitulo: 8, subcapitulo: 4, seccion: -1, apartado: -1 }, case_ayuda);
		});

         
        </script>

    </h:body>
</html>
