<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
    <f:metadata>
		<f:viewAction action="#{archivosAnexosBean.consultarDesgloseCapitulo(8,3,0,0)}" />
	</f:metadata> 
      
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
	        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
	        <link href="assets/images/favicon.ico" rel="shortcut icon" />
			<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" />
	<!--         <link rel="stylesheet" href="#{request.contextPath}/assets/css/main_offline.css"/> -->
	        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
	        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		
	
	        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
	        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
	        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
    </h:head>
    <h:body>
    <div class="col-md-12">
	    <div class="row" id="mensaje"></div>
		<div class="row" id="case_pnl_ayuda_cnt"></div>
    
 		<ui:include src="/loading.xhtml"/>


		<c:set var="capitulo" value="8"/>
		<c:set var="subcapitulo" value="3"/>
		<c:set var="seccion" value="0"/>
		<c:set var="apartado" value="0"/>    
    
        <h:form id="foDatosGen">
<!--             <div class="semarnat_ayuda" id='case_pnl_ayuda'> -->
<!--                 <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"> -->
<!--                 </div> -->
<!--             </div> -->
            <h:inputHidden id="ubicActual" value="#{capitulo8View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo8View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>

            <div id="pResManImpAmb">
                <div id="titulo"></div>
				<hr class="red"/>
<!-- 				<button id='case_btn_ayuda' type="button" class="btn btn-default" -->
<!-- 						data-toggle="tooltip" data-placement="bottom"> -->
<!-- 						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> -->
<!-- 						<span class="glyphicon-class">Ayuda</span> -->
<!-- 				</button> -->
<!-- 				                <br/><br/> -->
                <div id="componenteConsulta" style="display:none">
<!--                     <center> -->
<!--                         <td><iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=8,3,0,0,#{capitulo8View.proyecto.proyectoPK.folioProyecto},#{capitulo8View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe></td> -->
<!--                     </center> -->
                </div>
                <div id="componenteActualiza" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModifica('foDatosGen');"/>
                </div>

                <div id="componenteCaptura" style="display:none;">                
<!--                     <center> -->
<!--                         <td><iframe width="100%" height="900px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=8,3,0,0,#{capitulo8View.proyecto.proyectoPK.folioProyecto},#{capitulo8View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe></td> -->
<!--                     </center> -->
                </div>
            </div>

			<!-- ============================================================= TABLA AGREGADA DE ANEXOS =========================================================== -->        
                    
            <ui:include src="/anexosarchivos.xhtml"/>

        </h:form>
        
			<ui:include src="/ventanasModalesAnexos.xhtml"/>        
</div>        
        <script>
		$(document).ready(function(){
			
 			s = '<h3>Videos<a style="color:#000;"><span id="case_btn_ayuda" class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3>';
 			getInformacionAdicional('#{capitulo8View.strComentProy}','foDatosGen',3,0,0,s);
 			
 			$('#case_btn_ayuda').click({vClaveTramite:"#{capitulo8View.claveTramite}", nsub:"#{capitulo8View.proyecto.nsub}", capitulo: 8, subcapitulo: 3, seccion: -1, apartado: -1 }, case_ayuda);
		});    
        
         
        </script>

    </h:body>
</html>
