<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="../../assets/css/gobmx.css"/>
        <script src="../../assets/js/jquery.min.js"></script>
        <script src="../../assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
        <link href="../../assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <script src="../../assets/js/funciones.js"></script>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
    </h:head>
    <body onload="javascript:getInformacionAdicional('#{estudioRiesgoView.strComentProy}','foDatosGen',1,0,0,'Datos del responsable del estudio de riesgo')">
        <h:form id="foDatosGen">
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>
            <h:inputHidden id="ubicActual" value="#{estudioRiesgoView.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{estudioRiesgoView.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>

            <div id="ResponsableEstRies" class="gobmx-example">
                <table width="70%"><tr><td>

                    <div id="titulo"></div>
                    Ayuda <button id="case_btn_ayuda" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
                    <br/>
                    <div id="componenteConsulta" class="form-group" style="width: 800px; display:none" >
                        <h:outputText styleClass="control-label" value="Nombre o razón social de la empresa responsable de elaborar el estudio de riesgo:"/>
                        <p:inputText readonly="true" value="#{estudioRiesgoView.estudio.estudioNomRespEla}" styleClass="form-control"/>
                        <h:outputText styleClass="control-label" value="RFC:"/>
                        <h:inputText readonly="true" value="#{estudioRiesgoView.estudio.estudioRfcRespEla}" styleClass="form-control"/>
                        <h:outputText styleClass="control-label" value="Nombre del representante legal:" />
                        <h:inputText readonly="true" value="#{estudioRiesgoView.estudio.estudioNomRpteLegal}" styleClass="form-control"/>
                        <h:outputText styleClass="control-label" value="RFC del representante legal:" />
                        <h:inputText readonly="true" value="#{estudioRiesgoView.estudio.estudioRfcRpte}" styleClass="form-control"/>
                    </div>
                    <div id="componenteActualiza" style="display:none; float: right; margin-right: 20px">
                        <br/> 
                        <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModifica('foDatosGen');"/>
                    </div>
                    
                    <div id="componenteCaptura" style="width: 800px; display:none;">
                        <h:outputText styleClass="control-label" value="Nombre o razón social de la empresa responsable de elaborar el estudio de riesgo:"/>
                        <p:inputText value="#{estudioRiesgoView.estudio.estudioNomRespEla}" styleClass="form-control" maxlength="100"/>
                        <h:outputText styleClass="control-label" value="RFC:"/>
                        <h:inputText value="#{estudioRiesgoView.estudio.estudioRfcRespEla}" styleClass="form-control" maxlength="16"/>
                        <h:outputText styleClass="control-label" value="Nombre del representante legal:" />
                        <h:inputText value="#{estudioRiesgoView.estudio.estudioNomRpteLegal}" styleClass="form-control" maxlength="100"/>
                        <h:outputText styleClass="control-label" value="RFC del representante legal:" />
                        <h:inputText value="#{estudioRiesgoView.estudio.estudioRfcRpte}" styleClass="form-control" maxlength="16"/>
                    </div>
                    <br/>
                    <c:set value="9.1" target="#{capitulo4View}" property="seccion" />
                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" />

                    <div id="componenteGuarda" style="display:none; float: right; margin-right: 20px"  class="blockquote-reverse">
                        <p:commandButton value="Guardar" class="btn btn-primary" action="#{estudioRiesgoView.guardar}" update="@this" process="@form"
                                         onsuccess="this.disabled=false; this.value='Guardar'; parent.actualizaBarra(); parent.actualizaMenu();"
                                         onclick="this.firstChild.innerHTML = 'Guardando...';
                                         this.disabled = true;"/>
                    </div>
                    </td></tr></table>
            </div>

        </h:form>
        <script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{estudioRiesgoView.claveTramite}", nsub: "#{estudioRiesgoView.subsec}", capitulo: 10, subcapitulo: 1, seccion: -1, apartado: -1 }, case_ayuda); 
        </script>
    </body>
</html>
