<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<ui:composition>
	<ui:fragment id="frgAnaBio">

		<div id="dAnaBio">
			<h:form id="formAnalisis">
				<h:panelGroup id='pAnaBio'>
					<div id="titulo9"></div>
					<hr class="red"></hr>
					<button id='case_btn_ayudaanalisis' type="button"
						class="btn btn-default" data-toggle="tooltip"
						data-placement="bottom">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<span class="glyphicon-class">Ayuda</span>
					</button>
					<hr></hr>
					<div id="componenteConsulta9" style="display: none">
							<table width="60%" style="text-align: justify;">
								<tr>
									<td><c:choose>
											<c:when
												test="#{hidrologiaSub.proyecto.analisisbioVeg eq null or hidrologiaSub.proyecto.analisisbioVeg eq ''}">
												<h:outputText style="color: gray" value="Sin especificar"
													escape="false" />
											</c:when>
											<c:otherwise>
												<h:outputText
													value="#{hidrologiaSub.proyecto.analisisbioVeg}"
													escape="false" />
											</c:otherwise>
										</c:choose></td>
								</tr>
							</table>
					</div>
					<div id="componenteActualiza9"
						style="display: none; float: right; margin-right: 20px">
						<br />
						<p:commandButton value="Modificar sección (opcional)"
							class="btn btn-primary"
							onclick="actualizaComponentesModificaMulti('foDatosGen','9');" />
					</div>

					<div id="componenteCaptura9" style="visibility: hidden;">						
									<pe:ckEditor width="100%"
										value="#{hidrologiaSub.analisisbioVeg}" id="ckEditor"
										toolbar="[[ 'Undo','Redo' ],
                                         [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                         [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                         ['Link','-','Table'],[ 'TextColor','BGColor' ]]" />
                        				
						<br />
						<p:commandButton value="Guardar análisis"
							styleClass="btn btn-primary alinDerecha"
							actionListener="#{hidrologiaSub.saveAnalisis}"
							onsuccess="myDialogAnaBioEcol.show()"/>
							
						<p:dialog widgetVar="myDialogAnaBioEcol" modal="true" id="myDialogAnaBioEcol" header="Aviso">
							<div class="modal-body">
								<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Guardado correctamente.</div>
								<div class="modal-footer">
									<p:commandButton styleClass="btn btn-primary alinDerecha" onclick="myDialogAnaBioEcol.hide()" value="Aceptar" />
								</div>
							</div>
						</p:dialog>
					</div>
				</h:panelGroup>


			</h:form>
		</div>


	</ui:fragment>
</ui:composition>
</html>
