<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <ui:fragment id="frgEstudio">

            <div id="dEtudios">                
			<h:form id="formEstudios">
                <h:panelGroup id='pEstu'>
                    <div id="titulo5"></div>
                    <hr class="red"></hr>
					<button id='case_btn_ayuda_estudios' type="button"
						class="btn btn-default" data-toggle="tooltip"
						data-placement="bottom">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<span class="glyphicon-class">Ayuda</span>
					</button>
					<hr></hr>
					<p:commandLink value="Agregar" styleClass="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx" 
                                     style="float: right" 
                                     oncomplete="modalEstudios.show()" 
                                     action="#{cargaBean.nuevoEstudio}"
                                     update=":formDialog:pnlContenidoArchivo"
                                     />
                                                         
             		<p:commandLink id="btnEliminarEstudios" value="Eliminar" 
             		                 styleClass="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar" style="float: right"
             		                 update=":fEliminar:panelEliminar"
             		                 disabled="#{cargaBean.estudiosS.size() == 0 || cargaBean.estudiosC.size() == 0}"
             		                 oncomplete="eliminarest.show()"/>	 
                    <br/><br/><br/>
                    <p:spacer height="20px" />
                     <!-- Inicia la tabla del componente -->
					     <p:dataTable id="tablaDatos" var="est" value="#{cargaBean.estudiosC}"  selection="#{cargaBean.estudiosS}" rowKey="#{est.estudiosEspProyPK.estudioId}" emptyMessage="Sin registros." style="margin-bottom:0"
					     styleClass="table table-striped" rowIndexVar="rowIndex">
					     
                        	<p:ajax event="toggleSelect" update=":formEstudios:btnEliminarEstudios"/>
                        	<p:ajax event="rowSelectCheckbox" update=":formEstudios:btnEliminarEstudios"/>
                        	<p:ajax event="rowUnselectCheckbox" update=":formEstudios:btnEliminarEstudios"/>
					        
					        
					        <p:column selectionMode="multiple" style="width:4%;text-align:center"/>
					        <p:column headerText="#" style="width:4%;text-align:center">
<!-- 					            <h:outputText value="#{est.estudiosEspProyPK.estudioId}" /> -->
					            <h:outputText value="#{rowIndex+1}" />
					        </p:column>
					        <!-- Valor del select -->
					        <p:column headerText="Estudio" style="white-space: normal">
					            <h:outputText value="#{est.catEstsEsp.estudioDescripcion}" />
					        </p:column>
					        <!-- Nombre del archivo dado por el user -->
					        <p:column headerText="Anexo" style="white-space: normal">
					            <h:outputText value="#{est.anexoNombre}" />
					        </p:column>
					       <!-- Descripcion dada por el user -->
					        <p:column headerText="Descripción" style="white-space: normal">
					            <h:outputText value="#{est.anexoDescripcion}" />
					        </p:column>
					        
					        <p:column headerText=" " style="width:6%;text-align:center">
					        	<p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
		                      			  onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadEst.xhtml?idEsp=#{est.estudiosEspProyPK.estudioId}'); return false;" />
							                        			  											
							</p:column>
							<p:column headerText=" " style="width:6%;text-align:center">           			                        			                        
							<p:commandButton id="editarButton"
							styleClass="btn btn-default btn-xs glyphicon glyphicon-pencil"
							onsuccess="modalEstudios.show()" value=""
							actionListener="#{cargaBean.cargarEdicion(est)}" 
							update=":formDialog:pnlContenidoArchivo" >
								<f:param name="pRowIndex" value="#{rowIndex+1}" />
							</p:commandButton>		
					        </p:column>
					        					        
					        <f:facet name="footer">
					             
					        </f:facet>
					    </p:dataTable>
                    <!-- Finaliza la tabla del componente -->
                     </h:panelGroup>    
            </h:form>
            </div>
                   
                     
       <!-- ========================================================MODAL PARA Altas===================================================================== -->	
                 
                   <h:form id="formDialog">
                    <!-- Modal para cargar archivo -->
                    <!-- Se agrego el select  para seleccionar el estudio al que va relacionado el archivo -->
                     <p:dialog header="Nuevo estudio especial" draggable="false" widgetVar="modalEstudios" id="dlgEstudios" width="50%"
                     modal="true" closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  		$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">                               
                         <p:outputPanel id="pnlContenidoArchivo">

                                <p:outputLabel value="Estudio"  styleClass="control-label" />
                                <p:outputLabel id="lblEstudio" value=""  styleClass="control-label" for="slcCatEsp" />
                                <p:outputLabel value=":"  styleClass="control-label" />                              

								<br/>
						   			
						   			<h:selectOneMenu value="#{cargaBean.estEsp}" rendered="#{!(cargaBean.estudiosAE!=null and cargaBean.estudiosAE.estudiosEspProyPK!=null and cargaBean.estudiosAE.estudiosEspProyPK.estudioId>0)}" converter="#{estudiosEspecialesConverter}" id="slcCatEsp"
						   				required="true" style="width: 320px;" class="form-control">                                    	
										<f:selectItem itemValue="" itemLabel="Seleccione un estudio" />	
                                    	<f:selectItems value="#{cargaBean.catEstEsp}"
                                    				   var="c" 
                                    				   itemLabel="#{c.estudioDescripcion}" 
                                    				   itemValue="#{c}" />                                	
                                	</h:selectOneMenu>
                                	<p:outputLabel value="#{cargaBean.estEsp.estudioDescripcion}"
                            		rendered="#{(cargaBean.estudiosAE!=null and cargaBean.estudiosAE.estudiosEspProyPK!=null and cargaBean.estudiosAE.estudiosEspProyPK.estudioId>0)}"  />
                                	<br/>	                                
                                	<p:message for="slcCatEsp" />

	                                <br/>
						   									     
	                                <p:outputLabel value="Nombre" styleClass="control-label" />
	                                <p:outputLabel value="" for="txtNombreArchivo" styleClass="control-label" />
	                                <p:outputLabel value=":" styleClass="control-label" />            	                                                                   

									<br/>

                            		<p:inputText id="txtNombreArchivo" value="#{cargaBean.estudiosAE.nombrePromovente}" style="width:100%;"
                            			validatorMessage="Este campo es obligatorio" maxlength="50"  styleClass="form-control" required="true"
                            			rendered="#{!(cargaBean.estudiosAE!=null and cargaBean.estudiosAE.estudiosEspProyPK!=null and cargaBean.estudiosAE.estudiosEspProyPK.estudioId>0)}" >
                            		</p:inputText>
                            		<p:outputLabel value="#{cargaBean.estudiosAE.nombrePromovente}"
                            		rendered="#{(cargaBean.estudiosAE!=null and cargaBean.estudiosAE.estudiosEspProyPK!=null and cargaBean.estudiosAE.estudiosEspProyPK.estudioId>0)}"  />	                                
	                    			<p:message for="txtNombreArchivo" />

									<br/>

                         			<p:outputLabel value="Descripción" styleClass="control-label" />
                         			<p:outputLabel id="lblDescripcionArchivo" value="" styleClass="control-label" for="txtDescripcionArchivo" />
                         			<p:outputLabel value=":" styleClass="control-label" />

									<br/>

                         			<p:inputTextarea id="txtDescripcionArchivo" class="form-control" value="#{cargaBean.estudiosAE.anexoDescripcion}" 
                         			cols="50" rows="3" maxlength="200" counter="descount" counterTemplate="Quedan {0} caracteres." 
                         			validatorMessage="Este campo es obligatorio" autoResize="false" required="true">
                         			</p:inputTextarea>
                               		<h:outputText id="descount" /><br/>
                               		
	                    			<p:message for="txtDescripcionArchivo" />

									<br/>

                         			<p:outputLabel id="lblReservado" value="Reservado:"  />
				
									<p:spacer width="5px" />
									<p:spacer width="5px" />

									<p:selectBooleanCheckbox value="#{cargaBean.reservado}"  
                         			rendered="#{!(cargaBean.estudiosAE!=null and cargaBean.estudiosAE.estudiosEspProyPK!=null and cargaBean.estudiosAE.estudiosEspProyPK.estudioId>0)}"/>

                         			<h:outputLabel value="#{cargaBean.reservado?'Si':'No'}"  
                         			rendered="#{(cargaBean.estudiosAE!=null and cargaBean.estudiosAE.estudiosEspProyPK!=null and cargaBean.estudiosAE.estudiosEspProyPK.estudioId>0)}" />
                       	
									<br/>                         	
                         	
                         	<p:outputPanel rendered="#{!(cargaBean.estudiosAE!=null and cargaBean.estudiosAE.estudiosEspProyPK!=null and cargaBean.estudiosAE.estudiosEspProyPK.estudioId>0)}"  >

                         			<p:outputLabel value="Cargar Archivo" />
                         			<p:outputLabel id="lblSeleccionarArchivo" value="" for="fileUploadX" />
                         			<p:outputLabel value=":" />

									<br/>
<!--                          			<p:fileUpload id="fileUploadX"           -->
<!-- 	                                  mode="advanced"                                   -->
<!-- 	                                  fileUploadListener="#{cargaBean.handleFileUpload}"	                                   -->
<!-- 	                                  sizeLimit="5242880" label="Seleccione el archivo" -->
<!-- 	                                  invalidSizeMessage="El tamaño del archivo es demasiado grande" -->
<!-- 	                                  invalidFileMessage="Tipo de archivo invalido" -->
<!-- 	                                  allowTypes="/(\.|\/)(png|gif|pdf|doc|docx|xls|xlsx|dwg)$/"  -->
<!-- 	                                  auto="true"  -->
<!-- 									  required="true" requiredMessage="Debe seleccionar un archivo" validatorMessage="Archivo Obligatorio"/>   -->
<!-- 	                                  <h:message for="fileUploadX" styleClass="alert-danger" /> -->
	                                 
					               <h:panelGrid columns="2" style="width: 100%">
					                    <p:fileUpload mode="advanced" id="fileUploadX" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
	                    					oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"
						                    fileUploadListener="#{cargaBean.handleFileUpload}"	                                  
						                    sizeLimit="10485760" 
						                    label="Seleccionar archivo"                                 
						                    invalidSizeMessage="El tamaño del archivo es demasiado grande"
						                    invalidFileMessage="Tipo de archivo invalido"
						                    allowTypes="/(\.|\/)(pdf|doc|docx|jpg|jpeg|gif|png|xls|xlsx|dwg)$/" update="lblCargaArchivoAnexo"
						                    required="true" requiredMessage="No seleccionó el archivo." 
						                    auto="true" style="width: 100%"/>	
						                
							                <c:if test="#{empty cargaBean.file.fileName}">
												<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
							                </c:if>		    
							                
							                <c:if test="#{not empty cargaBean.file.fileName}">
												<p:outputLabel id="lblCargaArchivoAnexo" value="#{cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
							                </c:if>            
									</h:panelGrid>
				
									<p:outputLabel id="msjValida" value="#{cargaBean.msj}" style="color:#B40431" />			
				
									<p:message id="msgFileAnexos" for="fileUploadX" display="true"/>
									<br />
									
									<div id="divExtensiones" class="alert alert-info">
										<p:outputLabel value="Extensiones permitidas: (pdf/doc/docx/jpg/jpeg/gif/png/xls/xlsx/dwg)"/>
										<br/>
															
										<p:outputLabel value="El tamaño límite es de 10MB"/>
									</div>
									<br/>
                         		                                    
                        		</p:outputPanel>
                        <br />
                        
                        </p:outputPanel>

				<p:commandButton value="Guardar" oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  						$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
					styleClass="btn btn-primary alinDerecha"
					actionListener="#{cargaBean.guardarEstudio}"
					style="margin-right: 5px;"
					update=":formDialog:pnlContenidoArchivo :formEstudios:tablaDatos" />

				<p:commandButton id="btnCerrarModalArchivo"
					class="btn btn-default alinDerecha" value="Cerrar"
					style="margin-right: 5px;"
					onclick="modalEstudios.hide();" immediate="true" />

			</p:dialog>
                    <!-- finde la modal para la carga el archivo  -->
               </h:form>    
      <!-- ============================================================================================================================================= -->	
               
     <!-- ========================================================MODAL PARA BAJAS===================================================================== -->	
		 
				<h:form id="fEliminar">
					<p:dialog header="Eliminar estudio especial" widgetVar="eliminarest"
						id="eliminarEstudio" modal="true" showEffect="fade"
						hideEffect="fade" closable="false" resizable="false">
						<div class="alert alert-warning">¿Realmente desea borrar
							el(los) Estudio(s)?</div>
						<p:outputPanel id="multiCrit">
							
						</p:outputPanel>
						
						<p:outputPanel id="panelEliminar">
							<c:forEach items="#{cargaBean.estudiosS}" var="est">
									<h:outputLabel value="#{est.catEstsEsp.estudioDescripcion}" /><br/>				
							</c:forEach>
						</p:outputPanel>
						<br/>
						<p:commandButton value="Sí" action="#{cargaBean.eliminarEstudioEsp}"
							styleClass="btn btn-primary botonEliminar" update=":formEstudios:tablaDatos, :formEstudios:btnEliminarEstudios"
							oncomplete="eliminarest.hide();"
							style="float:right;margin-right: 5px;" />
						<p:commandButton type="button" value="No" update=":formEstudios:pEstu"
							styleClass="btn btn-default" onclick="eliminarest.hide()"
							style="float:right;margin-right: 5px;" />
					</p:dialog>
			
					<p:dialog header="Aviso" widgetVar="dlgAvisoBorrado" modal="true"
						showEffect="fade" hideEffect="fade">
						<div class="alert alert-success"><span class="glyphicon glyphicon-remove"></span> Registro(s) eliminado(s)
							exitosamente.</div>
						<button class="btn btn-primary" type="button" style="float: right;"
							onclick="dlgAvisoBorrado.hide();">Aceptar</button>
					</p:dialog>
				</h:form>
		
         <!-- ============================================================================================================================================= -->
         <h:form>
					<p:dialog header="AVISO" widgetVar="avisoDialog"
						id="avisoDialog" modal="true" position="top" showEffect="fade"
						hideEffect="fade" closable="false" resizable="false">      
							<div class="alert alert-success">
							<span class="glyphicon glyphicon-ok"></span> Su registro fue guardado correctamente.
							</div><br/>
							<p:commandButton id="btnCerrarModalAviso" class="btn btn-primary" value="Aceptar" 
                        	onclick="avisoDialog.hide();" style="float:right" />
                        						                
                   	</p:dialog>
           </h:form>        					

                     
           


        </ui:fragment>
    </ui:composition>
</html>
