<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <ui:composition>
        <ui:fragment id="frgFauna">
            <div id="dCarFauna">
            <h:form id="formFauna">
                <h:panelGroup id='pFauna'>
                    <div id="titulo8"></div>
                    <hr class="red"></hr>
					<button id='case_btn_ayuda_fauna' type="button"
						class="btn btn-default" data-toggle="tooltip"
						data-placement="bottom">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<span class="glyphicon-class">Ayuda</span>
					</button>
					<hr></hr>
                    <p:commandLink value="Agregar" styleClass="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx" action="#{capitulo4View.abrirModalGuardarFauna}"
                    				 update=":formAgregarEditarFauna:opAgregarEditarFaunaHeader, :formAgregarFauna:formTabGenerales:opEndemicoFauna, :formAgregarFauna:opAgregarFauna, :formAgregarFauna:opEditarFauna" oncomplete="dlgAgregarFauna.show()" style="float: right" immediate="true">
                    	<p:resetInput target=":formAgregarFauna:opAgregarFauna"/> 				 
                    </p:commandLink>
                    
             		<p:commandLink id="btnEliminarFauna" value="Eliminar" styleClass="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar" disabled="#{capitulo4View.listaFaunaSeleccionada.size() == 0}" 
             						 onclick="dlgEliminarFauna.show()" update=":formEliminarFauna:pnlMensajeFauna" style="float: right"/>
					                    
                    <br/><br/><br/>
                    <div id="componenteConsulta8" style="display:none">
                        <p:scrollPanel mode="native" style="width:auto; border: none;">
                            <h:dataTable styleClass="table" var="c" value="#{capitulo4View.fauna}" id="tFaunaC">
                                <h:column>
                                    <f:facet name="header">Grupo</f:facet>
                                        #{c.faunaGrupo}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Familia</f:facet>
                                        #{c.faunaFamilia}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Nombre científico</f:facet>                              
                                    <p:autoComplete id="acMinLength" value="#{c.faunaNomCient}" completeMethod="#{capitulo4View.completarNombreCientificoFauna}" effect="fade" forceSelection="true" minQueryLength="1" queryDelay="100">
                                        <f:attribute name="idt" value="#{c.faunaProyectoPK.faunaProyid}" />
                                        <f:ajax event="itemSelect" listener="#{capitulo4View.onFaunaNombreSelect}" render=":formFauna:tFaunaC" />
                                    </p:autoComplete>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Nombre común</f:facet>
                                    <h:inputText readonly="true" value="#{c.faunaNomComun}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Categoría NOM-059</f:facet>
                                        #{c.faunaCatNom59}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Endémico</f:facet>
                                    <h:selectOneMenu value="#{c.faunaEndemico}">
                                        <f:selectItem itemLabel="Si" itemValue="Si" />
                                    </h:selectOneMenu>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">mas...</f:facet>
                                    <p:commandButton icon="ui-icon-pencil" type="button" onclick="dlgFauna#{c.faunaProyectoPK.faunaProyid}.show()" 
                                                     class="btn btn-default" style="height:20px;padding-left: 10px"/>
                                    <p:dialog widgetVar="dlgFauna#{c.faunaProyectoPK.faunaProyid}" position="top" modal="true" width="900" height="450" header="Fauna">
                                        <table width="100%" cellspacing="10">
                                            <tr>
                                                <td width="45%" align="center" style="font-weight: bolder;">CITES</td>
                                                <td width="10%">&#160;</td>
                                                <td width="45%">&#160;</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: justify;">#{c.faunaCites}</td>
                                                <td>&#160;</td>
                                                <td>
                                                    <table style="table">
                                                        <tr>
                                                            <td>
                                                                Presencia
                                                            </td>
                                                            <td>
                                                                Registro
                                                            </td>
                                                            <td>
                                                                Abundancia
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h:panelGrid columns="2">
                                                                Sistema ambiental:
                                                                <h:selectBooleanCheckbox value="#{c.presenciaSa}" />
                                                                Área de influencia:
                                                                <h:selectBooleanCheckbox value="#{c.presenciaAi}" />
                                                                Proyecto:
                                                                <h:selectBooleanCheckbox value="#{c.presenciaPr}" />
                                                                </h:panelGrid>
                                                            </td>
                                                            <td>
                                                                <h:selectOneMenu value="#{c.faunaRegistro}">
                                                                    <f:selectItem itemLabel="Muestreo" itemValue="Muestreo" />
                                                                    <f:selectItem itemLabel="Bibliografia" itemValue="Bibliografia"/>
                                                                    <f:selectItem itemLabel="Ambas" itemValue="Ambas"/>
                                                                </h:selectOneMenu>
                                                            </td>
                                                            <td>
                                                                <h:inputText readonly="true" value="#{c.faunaAbundancia}" onkeypress="if (event.which == 8 || event.which == 0) return true; if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>   Densidad
                                                            </td>
                                                            <td>
                                                                Distribución
                                                            </td>
                                                            <td>
                                                                Número de individuos a afectar
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h:inputText readonly="true" value="#{c.faunaDensidad}" onkeypress="if (event.which == 8 || event.which == 0) return true; if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                                                            </td>
                                                            <td>
                                                                <h:inputText readonly="true" value="#{c.faunaDistribucion}" onkeypress="if (event.which == 8 || event.which == 0) return true; if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                                                            </td>
                                                            <td>
                                                                <h:inputText readonly="true" value="#{c.faunaNumIndvAfec}" onkeypress="if (event.which == 8 || event.which == 0) return true; if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr><td colspan="3" width="100%" style="font-weight: bolder;" align="center"><br/><br/><br/>Fotografías</td></tr>
                                            <tr><td colspan="3" align="center">
                                                <iframe width="100%" height="250px" 
                                                        src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=4,3,1,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" 
                                                        frameborder="0"></iframe>
                                                </td>
                                            </tr>
                                        </table>
                                    </p:dialog>    
                                </h:column>
                            </h:dataTable>
                        </p:scrollPanel>                          
                    </div>
                    <div id="componenteActualiza8" style="display:none; float: right; margin-right: 20px">
                        <br/> 
                        <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','8');"/>
                    </div>

                    <div id="componenteCaptura8" style="display:none;">
                    <h:panelGroup id='panelCaptura8'>
	 						<p:dataTable id="grdFauna" tableStyleClass="table table-bordered" value="#{capitulo4View.fauna}"
	 							selection="#{capitulo4View.listaFaunaSeleccionada}" rowKey="#{varfaunaproyecto.idFaunaSeq}" 
	 							var="varfaunaproyecto" rowIndexVar="rowIndexFauna"
	 							rows="10" paginator="true" paginatorPosition="bottom" emptyMessage="Sin registros."> 
	      						
	      						<p:ajax event="toggleSelect" update=":formFauna:btnEliminarFauna" />						
	                            <p:ajax event="rowSelectCheckbox" update=":formFauna:btnEliminarFauna"/>
                        		<p:ajax event="rowUnselectCheckbox" update=":formFauna:btnEliminarFauna"/>                   				                         
		                        <p:column selectionMode="multiple" style="width:4%;text-align:center"/>	                         			                      
                               
                               	<p:column style="white-space: normal; width:4%; text-align:center">
                                    <f:facet name="header">#</f:facet>
                                        #{rowIndexFauna+1}                               		
                               	</p:column>

                                <p:column style="white-space: normal">
                                    <f:facet name="header">Clase</f:facet>
                                        #{varfaunaproyecto.faunaClase}
                                </p:column>
                               
                                <p:column style="white-space: normal">
                                    <f:facet name="header">Familia</f:facet>
                                        #{varfaunaproyecto.faunaFamilia}
                                </p:column>
                                
                                <p:column style="white-space: normal">
                                    <f:facet name="header">Nombre científico</f:facet>
                                    #{varfaunaproyecto.faunaNomCient}
                                </p:column>
                                
                                <p:column style="white-space: normal; width: 10%;">
                                    <f:facet name="header">Nombre común</f:facet>
									#{varfaunaproyecto.faunaNomComun}
                                </p:column>
                                
                                <p:column style="white-space: normal">
                                    <f:facet name="header">Categoría NOM-059</f:facet>
                                    #{varfaunaproyecto.faunaCatNom59}
                                </p:column>      

                                <p:column style="white-space: normal; width: 10%;">
                                    <f:facet name="header">Endémico</f:facet>
									#{varfaunaproyecto.faunaEndemico}
                                </p:column>	 
                                
		                        <p:column style="white-space: normal; width:6%; text-align:center">
		                        	<f:facet name="header"></f:facet>
		                            <p:commandButton value="" styleClass="btn btn-default btn-xs glyphicon glyphicon-pencil" 
                          				 action="#{capitulo4View.abrirModalEditarFauna(varfaunaproyecto.idFaunaSeq, rowIndexFauna+1)}" 
                          				 update=":formAgregarEditarFauna:opAgregarEditarFaunaHeader, :formAgregarFauna:opAgregarFauna, :formAgregarFauna:opEditarFauna" 
                          				 oncomplete="dlgAgregarFauna.show()" />
		                        </p:column>
		                            
		                        <p:column style="white-space: normal; width:6%; text-align:center">
		                            <f:facet name="header"></f:facet>
		                            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
		                            		  onclick="window.open('../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{varfaunaproyecto.idArchivoProyecto}'); return false;"
		                            		  disabled="#{empty varfaunaproyecto.idArchivoProyecto}" />		                            

		                        </p:column>
		                            
		                        <p:column  style="white-space: normal; width:6%; text-align:center">
		                            <f:facet name="header"></f:facet>
		                            <p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-upload" value=""
	                                	action="#{capitulo4View.iniciarArchivoFauna}" oncomplete="modalSubirArchivoFauna.show()" 
	                                	update=":formContenidoArchivo:pnlContenidoArchivo" immediate="true">
	                                	<f:param name="idFaunaSeq" value="#{varfaunaproyecto.idFaunaSeq}" />		                         	                      	
		                        	</p:commandButton>                         
		                        </p:column>                                                 			                      
	                         			                             
                            </p:dataTable>                    
                                        
                    	    
<!--                             <h:dataTable styleClass="table" var="c" value="#{capitulo4View.fauna}" id="tFauna"> -->
<!--                                 <h:column> -->
<!--                                     <p:commandLink actionListener="#{capitulo4View.eliminarFauna}" update=":formFauna:panelCaptura8"> -->
<!--                                         <h:graphicImage value="/assets/images/gobmx/icons/panel-collapsed.png"/> -->
<!--                                         <f:attribute name="idt" value="#{c.faunaProyectoPK.faunaProyid}" /> -->
<!--                                     </p:commandLink>                        -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">Grupo</f:facet> -->
<!--                                         #{c.faunaGrupo} -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">Familia</f:facet> -->
<!--                                         #{c.faunaFamilia} -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">Nombre Científico</f:facet>                               -->
<!--                                     <p:autoComplete id="acMinLength" value="#{c.faunaNomCient}" completeMethod="#{capitulo4View.completarNombreCientificoFauna}" effect="fade" forceSelection="true" minQueryLength="1" queryDelay="100"> -->
<!--                                         <f:attribute name="idt" value="#{c.faunaProyectoPK.faunaProyid}" /> -->
<!--                                         <f:ajax event="itemSelect" listener="#{capitulo4View.onFaunaNombreSelect}" render=":formFauna:panelCaptura8" /> -->
<!--                                     </p:autoComplete> -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">Nombre Común</f:facet> -->
<!--                                     <h:inputText  value="#{c.faunaNomComun}" maxlength="300"/> -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">Categoría NOM-059</f:facet> -->
<!--                                         #{c.faunaCatNom59} -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">Endémico</f:facet> -->
<!--                                     <h:selectOneMenu value="#{c.faunaEndemico}" > -->
<!--                                         <f:selectItem itemLabel="Si" itemValue="Si"/> -->
<!--                                         <f:selectItem itemLabel="No" itemValue="No"/> -->
<!--                                     </h:selectOneMenu> -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">mas...</f:facet> -->
<!--                                     <p:commandButton icon="ui-icon-pencil" type="button" onclick="dlgFaunaUpdate#{c.faunaProyectoPK.faunaProyid}.show()"  -->
<!--                                                      class="btn btn-default" style="height:20px;padding-left: 10px"/> -->
<!--                                     <p:dialog widgetVar="dlgFaunaUpdate#{c.faunaProyectoPK.faunaProyid}" position="top" modal="true" width="900" height="450" header="Fauna"> -->
<!--                                         <table width="100%" cellspacing="10"> -->
<!--                                             <tr> -->
<!--                                                 <td width="45%" align="center" style="font-weight: bolder;">CITES</td> -->
<!--                                                 <td width="10%">&#160;</td> -->
<!--                                                 <td width="45%">&#160;</td> -->
<!--                                             </tr> -->
<!--                                             <tr> -->
<!--                                                 <td style="text-align: justify;">#{c.faunaCites}</td> -->
<!--                                                 <td>&#160;</td> -->
<!--                                                 <td> -->
<!--                                                     <table style="table"> -->
<!--                                                         <tr> -->
<!--                                                             <td> -->
<!--                                                                 Presencia -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 Registro -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 Abundancia -->
<!--                                                             </td> -->
<!--                                                         </tr> -->
<!--                                                         <tr> -->
<!--                                                             <td> -->
<!--                                                                 <h:panelGrid columns="2"> -->
<!--                                                                 Sistema Ambiental: -->
<!--                                                                 <h:selectBooleanCheckbox value="#{c.presenciaSa}" /> -->
<!--                                                                 Área de Influencia: -->
<!--                                                                 <h:selectBooleanCheckbox value="#{c.presenciaAi}" /> -->
<!--                                                                 Proyecto: -->
<!--                                                                 <h:selectBooleanCheckbox value="#{c.presenciaPr}" /> -->
<!--                                                                 </h:panelGrid> -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 <h:selectOneMenu value="#{c.faunaRegistro}"> -->
<!--                                                                     <f:selectItem itemLabel="Muestreo" itemValue="Muestreo" /> -->
<!--                                                                     <f:selectItem itemLabel="Bibliografia" itemValue="Bibliografia"/> -->
<!--                                                                     <f:selectItem itemLabel="Ambas" itemValue="Ambas"/> -->
<!--                                                                 </h:selectOneMenu> -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 <h:inputText value="#{c.faunaAbundancia}" maxlength="10" onkeypress="return capturaEnteros(event);"/> -->
<!--                                                             </td> -->
<!--                                                         </tr> -->
<!--                                                         <tr> -->
<!--                                                             <td>   Densidad -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 Distribución -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 Número de individuos a afectar -->
<!--                                                             </td> -->
<!--                                                         </tr> -->
<!--                                                         <tr> -->
<!--                                                             <td> -->
<!--                                                                 <h:inputText value="#{c.faunaDensidad}" maxlength="10" onkeypress="return capturaEnteros(event);"/> -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 <h:inputText value="#{c.faunaDistribucion}" maxlength="3" onkeypress="return capturaEnteros(event);"/> -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 <h:inputText value="#{c.faunaNumIndvAfec}" maxlength="10" onkeypress="return capturaEnteros(event);"/> -->
<!--                                                             </td> -->
<!--                                                         </tr> -->
<!--                                                     </table> -->
<!--                                                 </td> -->
<!--                                             </tr> -->
<!--                                             <tr><td colspan="3" width="100%" style="font-weight: bolder;" align="center"><br/><br/><br/>Fotografías</td></tr> -->
<!--                                             <tr><td colspan="3" align="center"> -->
<!--                                                     <iframe width="100%" height="250px"  -->
<!--                                                             src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,2,2,3,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}"  -->
<!--                                                             frameborder="0"></iframe> -->
<!--                                                 </td> -->
<!--                                             </tr> -->
<!--                                         </table> -->
<!--                                     </p:dialog>     -->
<!--                                 </h:column> -->
                                
<!--                                 <h:column> -->
<!--                                     <f:facet name="header"> -->
<!--                                         <p:commandLink action="#{capitulo4View.agregarFauna}"  update=":formFauna:panelCaptura8"> -->
<!--                                             <p:graphicImage value="/assets/images/gobmx/icons/panel.png" /> -->
<!--                                         </p:commandLink> -->
<!--                                     </f:facet> -->
<!--                                 </h:column> -->

<!--                             </h:dataTable> -->


                    </h:panelGroup></div>                                                      
                    
                </h:panelGroup> 
            </h:form>    
            </div>
            <br></br>
            <br></br>
            
			<p:dialog widgetVar="dlgAgregarFauna" onShow="ctrTabViewFauna.select(0);" modal="true" showEffect="fade" hideEffect="fade" closable="false" width="50%" resizable="false">
                <f:facet name="header">
					<h:form id="formAgregarEditarFauna">
						<p:outputPanel id="opAgregarEditarFaunaHeader">	
					   		<h:panelGroup id="pnlTitleEditarFauna" rendered="#{capitulo4View.mostrarEdicionFauna}">
								<h4 class="modal-title">Fauna - editar especie # #{capitulo4View.rowIndexFaunaEditar}</h4>	   	
					   		</h:panelGroup>
					    		
					   		<h:panelGroup id="pnlTitleAgregarFauna" rendered="#{capitulo4View.mostrarEdicionFauna == false}">
								<h4 align="center" class="modal-title">Fauna - agregar especie</h4>		    			    		
					   		</h:panelGroup>					    						   		
					   	</p:outputPanel>
					</h:form>
				</f:facet>

				<h:form id="formAgregarFauna">				
					<p:outputPanel id="opAgregarFauna">
						<h:panelGroup id="pnlAgregarFauna" rendered="#{capitulo4View.mostrarEdicionFauna == false}" style="width: 100%">
								<p:tabView id="formTabGenerales" widgetVar="ctrTabViewFauna">
									<p:tab title="Generales">
										<h:panelGrid id="pnlGenerales" style="width: 100%">
										<p:row>
										<p:column>
												<p:outputLabel value="Clase"/>
												<p:outputLabel id="lblClaseFaunaNueva" value="" for="cboClaseFaunaNueva"/>
												<p:outputLabel value=":" />
												</p:column>
												</p:row>			    
												<h:selectOneMenu id="cboClaseFaunaNueva" value="#{capitulo4View.claseFaunaSeleccionada}" style="width: 100%" 
													class="form-control" required="true" requiredMessage="Este campo es obligatorio">										
													<f:selectItem itemValue="" itemLabel="Seleccione"/>
													<f:selectItem itemValue="AmphibiaReptilia" itemLabel="Anfibios y reptiles"/>
													<f:selectItem itemValue="Aves" itemLabel="Aves"/>
													<f:selectItem itemValue="Mammalia" itemLabel="Mamíferos"/>
													<f:selectItem itemValue="ActinopterygiiChondrichthyes" itemLabel="Peces"/>
													<p:ajax listener="#{capitulo4View.limpiarCamposClaseSeleccionada}" update=":formAgregarFauna:formTabGenerales:txtAutoNombreCientifico, :formAgregarFauna:formTabGenerales:txtFamiliaFaunaNueva, 
																	:formAgregarFauna:formTabGenerales:txtNombreComunFaunaNueva, :formAgregarFauna:formTabGenerales:txtCategoriaFaunaNueva"/>
												</h:selectOneMenu>
										<p:row>
										<p:column>
												<p:outputLabel value="Nombre Científico" />
												<p:outputLabel id="lblNombreCientificoNuevo" value="" for="txtAutoNombreCientifico" />
												<p:outputLabel value=":" />
												</p:column>
												</p:row>
												<p:autoComplete id="txtAutoNombreCientifico" value="#{capitulo4View.faunaProyecto.faunaNomCient}" minQueryLength="1" queryDelay="500"
															    completeMethod="#{capitulo4View.completarNombreCientificoFauna}" required="true" requiredMessage="Este campo es obligatorio">
													<p:ajax event="itemSelect" listener="#{capitulo4View.cargarInformacionFauna(capitulo4View.faunaProyecto.faunaNomCient)}" 
															update=":formAgregarFauna:formTabGenerales:txtFamiliaFaunaNueva, 
																	:formAgregarFauna:formTabGenerales:txtNombreComunFaunaNueva, :formAgregarFauna:formTabGenerales:txtCategoriaFaunaNueva, 
																	:formAgregarFauna:formTabGenerales:opEndemicoFauna"/>
												
												</p:autoComplete>	
												<p:message id="msgAutoNombreCientifico" for="txtAutoNombreCientifico" display="true"/>										                			                                  
															    															    
												<p:outputLabel id="lblFamiliaFaunaNueva" value="Familia:"/>			    
												<p:inputText id="txtFamiliaFaunaNueva" value="#{capitulo4View.vwAnimaliaFauna.animaliaFamilia}" readonly="true" style="width: 100%"/> 
												
												<p:outputLabel id="lblNombreComunFaunaNueva" value="Nombre común:"/>			    
												<p:inputText id="txtNombreComunFaunaNueva" value="#{capitulo4View.vwAnimaliaFauna.animaliaNombreComun}" style="width: 100%"/>

												<p:outputLabel id="lblCategoriaFaunaNueva" value="Categoría NOM-059:"/>			    
												<p:inputText id="txtCategoriaFaunaNueva" value="#{capitulo4View.vwAnimaliaFauna.animaliaCategoriaNom059}" readonly="true" style="width: 100%"/> 												

												<p:outputPanel id="opEndemicoFauna" style="width: 100%">
													<h:panelGrid rendered="#{capitulo4View.mostrarEndemicoFauna}">
														<p:outputLabel id="lblEndemicoFaunaNueva" value="Endémico:"/>
														<p:selectBooleanCheckbox id="chkEndemicoFaunaNueva" value="#{capitulo4View.banderaEndemico}" />															    															    
													</h:panelGrid>																											  												
												</p:outputPanel>

										</h:panelGrid>
									</p:tab>
									
									<p:tab title="Más Información">
										<h:panelGrid id="pnlMasInformacion" style="width: 100%">
											<p:outputLabel id="lblPresenciaFaunaNueva" value="Presencia:"/>
										</h:panelGrid>

										<br/>

										<h:panelGrid columns="2" id="pnlPresenciaCheckbox" style="width: 50%">
											<p:outputLabel id="lblSistemaAmbiental" value="Sistema ambiental:"/>
											<p:selectBooleanCheckbox value="#{capitulo4View.faunaProyecto.presenciaSa}" />											

											<p:outputLabel id="lblAreaInfluencia" value="Área de influencia:"/>
											<p:selectBooleanCheckbox value="#{capitulo4View.faunaProyecto.presenciaAi}" />
											
											<p:outputLabel id="lblProyectoFaunaNueva" value="Proyecto:"/>
											<p:selectBooleanCheckbox value="#{capitulo4View.faunaProyecto.presenciaPr}" />											
										</h:panelGrid>
										
										<br/>
										
										<h:panelGrid id="pnlRegistro" style="width: 100%">
											<p:outputLabel id="lblRegistroFaunaNueva" value="Registro:"/>
											<h:selectOneMenu id="cboRegistro" value="#{capitulo4View.faunaProyecto.faunaRegistro}" style="width: 100%" class="form-control">
												<f:selectItem itemValue="" itemLabel="Seleccione"/>
                                                <f:selectItem itemLabel="Muestreo" itemValue="Muestreo" />
                                                <f:selectItem itemLabel="Bibliografia" itemValue="Bibliografia"/>
                                                <f:selectItem itemLabel="Ambas" itemValue="Ambas"/>												
											</h:selectOneMenu>
											
											<p:outputLabel id="lblAbundanciaFaunaNueva" value="Abundancia:"/>
											<p:inputText id="txtAbundanciaFaunaNueva" value="#{capitulo4View.faunaProyecto.faunaAbundancia}" style="width: 100%"/>	
											
											<p:outputLabel id="lblDensidadFaunaNueva" value="Densidad:"/>
											<p:inputText id="txtDensidadFaunaNueva" value="#{capitulo4View.faunaProyecto.faunaDensidad}" style="width: 100%"/>																																

											<p:outputLabel id="lblDistribucionFaunaNueva" value="Distribución: "/>
											<p:inputText id="txtDistribucionFaunaNueva" value="#{capitulo4View.faunaProyecto.faunaDistribucion}" style="width: 100%"/>	

											<p:outputLabel id="lblNumIndividuosFaunaNueva" value="Número de individuos a afectar: "/>
											<p:inputText id="txtNumIndividuosFaunaNueva" value="#{capitulo4View.faunaProyecto.faunaNumIndvAfec}" style="width: 40%"/>	
										</h:panelGrid>																				
									</p:tab>				 			
														
								</p:tabView>
								<br/>
<!-- 								<p:messages id="msgGeneralesInfo" autoUpdate="true"/> -->
								<br/>
							 	<p:commandButton styleClass="btn btn-primary" style="float: right;" value="Guardar" update=":formFauna:grdFauna, :formAgregarFauna:formTabGenerales:pnlGenerales,
							 			 :formAgregarFauna:formTabGenerales:pnlRegistro, :formAgregarFauna:formTabGenerales:pnlPresenciaCheckbox,:formAgregarFauna:opAgregarFauna" 
							 					action="#{capitulo4View.guardarFauna}"/>													
								<p:commandButton type="button" styleClass="btn btn-default botonEliminar" style="float: right;" value="Cerrar" onclick="dlgAgregarFauna.hide()"/>										
							
						</h:panelGroup>
					</p:outputPanel>		
					
					<p:outputPanel id="opEditarFauna">
						<h:panelGroup id="pnlEditarFauna" rendered="#{capitulo4View.mostrarEdicionFauna}" style="width: 100%">			
							<p:tabView id="formTabGeneralesEditar" widgetVar="ctrTabViewFauna2">
								<p:tab title="Generales">
									<h:panelGrid id="pnlGeneralesEditar" style="width: 100%">
									
										<p:outputLabel id="lblClaseFaunaEditar" value="Clase:"/>			    
										<p:inputText id="txtClaseFaunaEditar" value="#{capitulo4View.faunaProyecto.faunaClase}" readonly="true" style="width: 100%"/>								
																		
										<p:outputLabel id="lblNombreCientificoEditar" value="Nombre científico:"/>
										<p:inputText id="txtNombreCientificoEditar" value="#{capitulo4View.faunaProyecto.faunaNomCient}" readonly="true" style="width: 100%"/>                			                                  

										<p:outputLabel id="lblFamiliaFaunaEditar" value="Familia:"/>			    
										<p:inputText id="txtFamiliaFaunaEditar" value="#{capitulo4View.faunaProyecto.faunaFamilia}" readonly="true" style="width: 100%"/> 
																								
										<p:outputLabel id="lblCategoriaFaunaEditar" value="Categoría NOM-059:"/>			    
										<p:inputText id="txtCategoriaFaunaEditar" value="#{capitulo4View.faunaProyecto.faunaCatNom59}" readonly="true" style="width: 100%"/> 												

										<p:outputLabel id="lblNombreComunFaunaEditar" value="Nombre común:"/>			    
										<p:inputText id="txtNombreComunFaunaEditar" value="#{capitulo4View.faunaProyecto.faunaNomComun}" style="width: 100%"/>

										<p:outputLabel id="lblEndemicoFaunaEditar" value="Endémico:"/>
										<p:selectBooleanCheckbox id="chkEndemicoFaunaNueva" value="#{capitulo4View.banderaEndemico}" />															    															    
									</h:panelGrid>
								</p:tab>
									
								<p:tab title="Más Información">
										<h:panelGrid id="pnlMasInformacionEditar" style="width: 100%">
											<p:outputLabel id="lblPresenciaFaunaEditar" value="Presencia:"/>
										</h:panelGrid>

										<br/>

										<h:panelGrid columns="2" id="pnlPresenciaCheckboxFaunaEditar" style="width: 50%">
											<p:outputLabel id="lblSistemaAmbientalFaunaEditar" value="Sistema ambiental:"/>
											<p:selectBooleanCheckbox value="#{capitulo4View.faunaProyecto.presenciaSa}" />											

											<p:outputLabel id="lblAreaInfluenciaFaunaEditar" value="Área de influencia:"/>
											<p:selectBooleanCheckbox value="#{capitulo4View.faunaProyecto.presenciaAi}" />
											
											<p:outputLabel id="lblProyectoFaunaEditar" value="Proyecto:"/>
											<p:selectBooleanCheckbox value="#{capitulo4View.faunaProyecto.presenciaPr}" />											
										</h:panelGrid>
										
										<br/>
										
										<h:panelGrid id="pnlEditar" style="width: 100%">
											<p:outputLabel id="lblRegistroFaunaEditar" value="Registro:"/>
											<h:selectOneMenu id="cboRegistroEditar" value="#{capitulo4View.faunaProyecto.faunaRegistro}" style="width: 100%" class="form-control">
												<f:selectItem itemValue="" itemLabel="Seleccione"/>
                                                <f:selectItem itemLabel="Muestreo" itemValue="Muestreo" />
                                                <f:selectItem itemLabel="Bibliografia" itemValue="Bibliografia"/>
                                                <f:selectItem itemLabel="Ambas" itemValue="Ambas"/>												
											</h:selectOneMenu>
											
											<p:outputLabel id="lblAbundanciaFaunaEditar" value="Abundancia:"/>
											<p:inputText id="txtAbundanciaFaunaEditar" value="#{capitulo4View.faunaProyecto.faunaAbundancia}" style="width: 100%"/>	
											
											<p:outputLabel id="lblDensidadFaunaEditar" value="Densidad:"/>
											<p:inputText id="txtDensidadFaunaEditar" value="#{capitulo4View.faunaProyecto.faunaDensidad}" style="width: 100%"/>																																

											<p:outputLabel id="lblDistribucionFaunaEditar" value="Distribución: "/>
											<p:inputText id="txtDistribucionFaunaEditar" value="#{capitulo4View.faunaProyecto.faunaDistribucion}" style="width: 100%"/>	

											<p:outputLabel id="lblNumIndividuosFaunaEditar" value="Número de individuos a afectar: "/>
											<p:inputText id="txtNumIndividuosFaunaEditar" value="#{capitulo4View.faunaProyecto.faunaNumIndvAfec}" style="width: 40%"/>	
										</h:panelGrid>
								</p:tab>				 			
														
							</p:tabView>	
							<br/>
							<p:messages id="msgGeneralesInfoEditar" autoUpdate="true"/>
							<br/>
							<p:commandButton styleClass="btn btn-primary" style="float: right;" value="Guardar" update=":formFauna:grdFauna, :formAgregarFauna:formTabGeneralesEditar:pnlGeneralesEditar,
							 			 :formAgregarFauna:formTabGeneralesEditar:pnlEditar, :formAgregarFauna:formTabGeneralesEditar:pnlPresenciaCheckboxFaunaEditar,:formAgregarFauna:msgGeneralesInfoEditar"
							 			 action="#{capitulo4View.actualizarFauna}" onclick="ctrTabViewFauna2.select(0);"/>													
							<p:commandButton type="button" styleClass="btn btn-default" style="float: right;" value="Cerrar" onclick="dlgAgregarFauna.hide()"/>										
																			
						</h:panelGroup>
					</p:outputPanel>
				</h:form>				
			</p:dialog>
			
            <!-- DIALOG QUE MUESTRA SI SE DESEA ELIMINAR LA/S FAUNAS SELECCIONADAS  -->
  
 
 			<p:dialog widgetVar="dlgEliminarFauna" modal="true" showEffect="fade" hideEffect="fade" closable="false" resizable="false">
                 <f:facet name="header">
				   	<h:form id="formEliminarFaunaHeader">
						<h4 class="modal-title">Eliminar fauna</h4>	   	
				   	</h:form>
			     </f:facet>
				
				<h:form id="formEliminarFauna">
					 <p:outputPanel id="pnlMensajeFauna">     
	                      <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> ¿Realmente desea borrar el(los) registro(s)?</div>
	                      
	                      <h:panelGrid id="pnlFaunaEliminada" columns="2">
	                      	
                            <ui:repeat value="#{capitulo4View.listaFaunaSeleccionada}" var="varfaunaproyecto">
               					<h:outputText value="#{varfaunaproyecto.faunaNomCient}" style="display:block"/>
           					</ui:repeat>
           					
	                      </h:panelGrid>
	                      
	                      <div class="modal-footer">
	                      	<p:commandButton type="button" styleClass="btn btn-default" id="respuestaNo" value="No" onclick="dlgEliminarFauna.hide()" />
	                        <p:commandButton styleClass="btn btn-primary" id="respuestaSi" value="Si" update=":formFauna:grdFauna, :formFauna:btnEliminarFauna" 
	                        				 action="#{capitulo4View.eliminarFauna}"/>
	                      </div>
	                 </p:outputPanel>
                 </h:form> 
            </p:dialog>
            
            <p:dialog widgetVar="dlgFaunaEliminadaExitosa" modal="true" showEffect="fade" hideEffect="fade" closable="false" resizable="false">
                 <f:facet name="header">
				   	<h:form id="formEliminarFaunaOkHeader">
						<h4 class="modal-title">Aviso</h4>	   	
				   	</h:form>
			     </f:facet>
				
				<h:form id="formMensajeEliminarFauna">
					 <p:outputPanel id="pnlMensajeEliminar">     
		             	<div class="alert alert-success"><span class="glyphicon glyphicon-remove"></span> Registro eliminado exitosamente.</div>
		                	<div class="modal-footer">
		                	<p:commandButton styleClass="btn btn-primary" id="aceptarEliminar" value="Aceptar" onclick="dlgFaunaEliminadaExitosa.hide()"/>
		                </div>
		             </p:outputPanel> 
	            </h:form>         
            </p:dialog>             			            

               <!-- MODAL PARA SUBIR ARCHIVOS -->
       
               <p:dialog draggable="false" widgetVar="modalSubirArchivoFauna" id="dlgSubirArchivo" modal="true" closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">                               

               		<f:facet name="header">
						<h4 class="modal-title">Cargar archivo</h4>	   	
				    </f:facet> 
 
 					<h:form id="formContenidoArchivo"> 					
                         <p:outputPanel id="pnlContenidoArchivo">
                            
	                        <p:outputLabel value="Nombre"/>	                                                                   
							<p:outputLabel id="lblNombreArchivo" value="" for="txtNombreArchivo" />
							<p:outputLabel value=":" />
							
							<br/>                            

                         	<p:inputText id="txtNombreArchivo" value="#{capitulo4View.archivoTemporalFauna.nombre}" required="true" requiredMessage="Este campo es obligatorio"
                            			validatorMessage="Este campo es obligatorio" maxlength="50" style="width: 100%">
                            </p:inputText>
							<p:message for="txtNombreArchivo" />

							<br/>
                         			
							<p:outputLabel value="Descripción" />
							<p:outputLabel id="lblDescripcionArchivo" value="" for="txtDescripcionArchivo" />
							<p:outputLabel value=":" />
									                         			
							<br/>
                         			
                         	<p:inputTextarea id="txtDescripcionArchivo" class="form-control" value="#{capitulo4View.archivoTemporalFauna.descripcion}" 
                         					 cols="50" rows="3" maxlength="200" style="width: 100%" counter="descount" counterTemplate="Quedan {0} caracteres." 
                         					 validatorMessage="Este campo es obligatorio" autoResize="false" required="true" requiredMessage="Este campo es obligatorio">
                         	</p:inputTextarea>                        
                            <h:outputText id="descount" />
							<p:message for="txtDescripcionArchivo" />

							<br/>
							<br/>
                         			
                         	<p:outputLabel value="Cargar archivo"/>
							<p:outputLabel id="lblCargarArchivoNuevo" value="" for="fUploadArchivo" />
							<p:outputLabel value=":" />                         			

							<br/>
 
 							<h:panelGrid columns="2" style="width: 100%">                        	
	                         	<p:fileUpload mode="advanced" id="fUploadArchivo"                                 
		                                  fileUploadListener="#{capitulo4View.cargaBean.handleFileUpload}"	                                  
		                                  sizeLimit="10485760" label="Seleccionar el archivo"                                 
		                                  invalidSizeMessage="El tamaño del archivo es demasiado grande"
		                                  invalidFileMessage="Tipo de archivo invalido"
		                                  allowTypes="/(\.|\/)(pdf|docx)$/" required="true" requiredMessage="Este campo es obligatorio"
		                                  auto="true" update="lblCargaArchivoFauna"/>

							    <c:if test="#{empty capitulo4View.cargaBean.file.fileName}">
									<p:outputLabel id="lblCargaArchivoFauna" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
							    </c:if>		    
							                
							    <c:if test="#{not empty capitulo4View.cargaBean.file.fileName}">
									<p:outputLabel id="lblCargaArchivoFauna" value="#{capitulo4View.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
							    </c:if>
							</h:panelGrid> 

							<p:outputLabel id="msjValida" value="#{capitulo4View.msj}" style="color:#B40431" />				

							<br/>

									
							<div id="divExtensiones" class="alert alert-info">
								<p:outputLabel value="Extensiones permitidas: (pdf/docx)"/>
								<br/>
														
								<p:outputLabel value="El tamaño límite es de 10MB"/>					
							</div>
							<br/>							
							                                         
                        </p:outputPanel>
                        <br />

                        <p:commandButton id="btnGuardarModalArchivo" class="btn btn-primary alinDerecha" value="Guardar" oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				   						 $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
                        				 action="#{capitulo4View.guardarArchivoFauna}" update=":formFauna:grdFauna, :formContenidoArchivo:pnlContenidoArchivo"/>
                        
                        <p:commandButton id="btnCerrarModalArchivo" type="button" onclick="modalSubirArchivoFauna.hide();" class="btn btn-default alinDerecha" value="Cerrar"/>

 					</h:form>                                   
               </p:dialog>

               
				<!-- Ventana modal alerta de la carga del archivo-->
				
				<p:dialog id="dlgAlerta" header="Alerta" modal="true" widgetVar="modalAlerta">					
                  	<h:form id="formAlertaArchivo">
                  	<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span>
	                  	<p:outputLabel id="lblAlerta" value="Archivo guardado correctamente."/>
						<br />
						</div>
						<p:commandButton styleClass="btn btn-default" value="Aceptar" process="@this"
						 				 onclick="modalAlerta.hide()" update=":formFauna:grdFauna"/>                  	
                  	</h:form>								
				</p:dialog>	      				
				         
        </ui:fragment>
    </ui:composition>
</html>