<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
 
 <h:head>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
        <link href="assets/images/favicon.ico" rel="shortcut icon" />
<!-- 		<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
<!--          <link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" type="text/css" />  -->
		<!-- Hoja de Estilos Grafica base local -->
		<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		

		<!-- Script Grafica base local -->
		<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
</h:head>
      
        <ui:fragment id="frgFlora">
                
            <div id="dCarFlora">

        	<h:form id="formFlora">

                <h:panelGroup id='pFlora' style="width: 100%">
                    <div id="titulo7"></div>
                    <hr class="red"></hr>
					<button id='case_btn_ayuda_flora' type="button"
						class="btn btn-default" data-toggle="tooltip"
						data-placement="bottom">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<span class="glyphicon-class">Ayuda</span>
					</button>
					<hr></hr>
                    <p:commandLink value="Agregar" styleClass="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx" action="#{capitulo4View.abrirModalGuardarFlora}" update=":formAgregarEditarFlora:opAgregarEditarFloraHeader, 
                    				 :formAgregarFlora:opAgregarFlora, :formAgregarFlora:opEditarFlora, :formAgregarFlora:formTabGenerales:opEndemicoFlora" oncomplete="dlgAgregarFlora.show()" style="float: right" immediate="true">
						<p:resetInput target=":formAgregarFlora:opAgregarFlora"/>                    				 
                    </p:commandLink>				 
                    
             		<p:commandLink id="btnEliminarFlora" value="Eliminar" styleClass="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar" 
             					   oncomplete="dlgEliminarFlora.show()" update=":formEliminarFlora:pnlMensajeFlora" 
             					   disabled="#{capitulo4View.listaFloraSeleccionada.size() == 0}" 
             					   style="float: right"/>	                    
                    
                    <br/><br/><br/>
                    <div id="componenteConsulta7" style="display:none">
                        <p:scrollPanel mode="native" style="width:auto; border: none;">
                            <h:dataTable styleClass="table" var="c" value="#{capitulo4View.flora}" id="tFloraC">
                                <h:column>
                                    <f:facet name="header">Reino</f:facet>
                                        #{c.floraGrupo}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Familia</f:facet>
                                        #{c.floraFamilia}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Clase</f:facet>
                                        #{c.floraNomComun}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Nombre científico</f:facet>
                                    <p:autoComplete id="acMinLength" value="#{c.floraNomCient}" completeMethod="#{capitulo4View.completarNombreCientifico}" effect="fade" forceSelection="true" queryDelay="100">                              
                                        <f:attribute name="idt" value="#{c.floraProyectoPK.floraProyid}" />
                                        <f:ajax event="itemSelect" listener="#{capitulo4View.onFloraNombreSelect}" render="tFloraC" />
                                    </p:autoComplete>
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Nombre común</f:facet>
                                    <h:inputText readonly="true" value="#{c.floraEndemico}" />
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Categoría NOM-059</f:facet>
                                        #{c.floraCatNom59}
                                </h:column>
                                <h:column>
                                    <f:facet name="header">Endémico</f:facet>
                                    <h:selectOneMenu value="#{c.floraEndemico}" readonly="true">
                                        <f:selectItem itemLabel="Si" itemValue="Si"/>
                                        <f:selectItem itemLabel="No" itemValue="No"/>
                                    </h:selectOneMenu>
                                </h:column>                                
                                <h:column>
                                    <f:facet name="header">mas...</f:facet>
                                    <p:commandButton icon="ui-icon-pencil" type="button" onclick="dlg#{c.floraProyectoPK.floraProyid}.show()" 
                                                     class="btn btn-default" style="height:20px;padding-left: 10px"/>
                                    <p:dialog widgetVar="dlg#{c.floraProyectoPK.floraProyid}" position="top" modal="true" width="900" height="450" header="Flora">
                                        <table width="100%" cellspacing="10">
                                            <tr>
                                                <td width="45%" align="center" style="font-weight: bolder;">CITES</td>
                                                <td width="10%">&#160;</td>
                                                <td width="45%">&#160;</td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: justify;">#{c.floraCites}</td>
                                                <td>&#160;</td>
                                                <td>
                                                    <table style="table">
                                                        <tr>
                                                            <td>
                                                                Presencia
                                                            </td>
                                                            <td>
                                                                Registro
                                                            </td>
                                                            <td>
                                                                Abundancia
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h:panelGrid columns="2">
                                                                Sistema ambiental:
                                                                <h:selectBooleanCheckbox value="#{c.presenciaSa}" />
                                                                Área de influencia:
                                                                <h:selectBooleanCheckbox value="#{c.presenciaAi}" />
                                                                Proyecto:
                                                                <h:selectBooleanCheckbox value="#{c.presenciaPr}" />
                                                                </h:panelGrid >
                                                            </td>
                                                            <td>
                                                                <h:selectOneMenu value="#{c.floraRegistro}">
                                                                    <f:selectItem itemLabel="Muestreo" itemValue="Muestreo" />
                                                                    <f:selectItem itemLabel="Bibliografia" itemValue="Bibliografia"/>
                                                                    <f:selectItem itemLabel="Ambas" itemValue="Ambas"/>
                                                                </h:selectOneMenu>
                                                            </td>
                                                            <td>
                                                                <h:inputText readonly="true" value="#{c.floraAbundancia}" onkeypress="if (event.which == 8 || event.which == 0) return true; if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>   Densidad
                                                            </td>
                                                            <td>
                                                                Distribución
                                                            </td>
                                                            <td>
                                                                Número de individuos a afectar
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <h:inputText readonly="true" value="#{c.floraDensidad}" onkeypress="if (event.which == 8 || event.which == 0) return true; if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                                                            </td>
                                                            <td>
                                                                <h:inputText readonly="true" value="#{c.floraDistribucion}" onkeypress="if (event.which == 8 || event.which == 0) return true; if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                                                            </td>
                                                            <td>
                                                                <h:inputText readonly="true" value="#{c.floraNumIndvAfec}" onkeypress="if (event.which == 8 || event.which == 0) return true; if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr><td colspan="3" width="100%" style="font-weight: bolder;" align="center"><br/><br/><br/>Fotografías</td></tr>
                                            <tr><td colspan="3" align="center">
                                                    <iframe width="100%" height="100px" 
                                                            src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=4,3,1,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" 
                                                            frameborder="0"></iframe>                                                    
                                                </td>
                                            </tr>
                                        </table>
                                    </p:dialog>    
                                </h:column>
                            </h:dataTable>
                        </p:scrollPanel>                        
                    </div>
                    <div id="componenteActualiza7" style="display:none; float: right; margin-right: 20px">
                        <br/> 
                        <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','7');"/>
                    </div>
                    <div id="componenteCaptura7" style="display:none;">
                    <h:panelGroup id='panelCaptura7' style="width:100%">	                    
<!--                         <p:scrollPanel mode="native" style="width:auto; border: none;"> -->
	 						<p:dataTable id="grdFlora" value="#{capitulo4View.flora}"
								selection="#{capitulo4View.listaFloraSeleccionada}" rowKey="#{varfloraproyecto.idFloraSeq}" 
								var="varfloraproyecto" rowIndexVar="rowIndexFlora"
								rows="10" paginator="true" paginatorPosition="bottom" emptyMessage="Sin registros.">
	      						
	      						<p:ajax event="toggleSelect" update=":formFlora:btnEliminarFlora" />						
	                            <p:ajax event="rowSelectCheckbox" update=":formFlora:btnEliminarFlora"/>
                        		<p:ajax event="rowUnselectCheckbox" update=":formFlora:btnEliminarFlora"/>                   				                         
		                        <p:column selectionMode="multiple" style="width:4%;text-align:center"/>	                         			                      
 
                               	<p:column style="white-space: normal; width:4%; text-align:center">
                                    <f:facet name="header">#</f:facet>
                                        #{rowIndexFlora+1}                               		
                               	</p:column> 

                                <p:column style="white-space: normal">
                                    <f:facet name="header">Clase</f:facet>
                                        #{varfloraproyecto.floraClase}
                                </p:column>                               
                               
                                <p:column style="white-space: normal">
                                    <f:facet name="header">Familia</f:facet>
                                        #{varfloraproyecto.floraFamilia}
                                </p:column>
                                
                                <p:column style="white-space: normal">
                                    <f:facet name="header">Nombre científico</f:facet>
                                    #{varfloraproyecto.floraNomCient}
                                </p:column>
                                
                                <p:column style="white-space: normal; width: 10%;">
                                    <f:facet name="header">Nombre común</f:facet>
									#{varfloraproyecto.floraNomComun}
                                </p:column>
                                
                                <p:column style="white-space: normal">
                                    <f:facet name="header">Categoría NOM-059</f:facet>
                                    #{varfloraproyecto.floraCatNom59}
                                </p:column>
                                
                                <p:column style="white-space: normal; width: 10%;">
                                    <f:facet name="header">Endémico</f:facet>
									#{varfloraproyecto.floraEndemico}
                                </p:column>	         
                                
		                        <p:column style="width: 6%; text-align:center">
		                        	<f:facet name="header"></f:facet>
									
		                            <p:commandButton value="" styleClass="btn btn-default btn-xs glyphicon glyphicon-pencil"
		                            	action="#{capitulo4View.abrirModalEditarFlora(varfloraproyecto.idFloraSeq, rowIndexFlora+1)}" 
                        				update=":formAgregarEditarFlora:opAgregarEditarFloraHeader, :formAgregarFlora:opAgregarFlora, :formAgregarFlora:opEditarFlora" 
                        				oncomplete="dlgAgregarFlora.show()"/>
		                        </p:column>
		                            
		                        <p:column style="width: 6%; text-align:center">
		                            <f:facet name="header"></f:facet>
		                            		                            
		                            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
		                            		  onclick="window.open('../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{varfloraproyecto.idArchivoProyecto}'); return false;"
		                            		  disabled="#{empty varfloraproyecto.idArchivoProyecto}" />

		                        </p:column>
		                            
		                        <p:column style="width: 6%; text-align:center">
		                            <f:facet name="header"></f:facet>									
		                            <p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-upload" value="" 
		                            	action="#{capitulo4View.iniciarArchivoFlora}" oncomplete="modalSubirArchivoFlora.show()" 
	                                	update=":formContenidoArchivoFlora:pnlContenidoArchivoFlora" immediate="true">
	                                	<f:param name="idFloraSeq" value="#{varfloraproyecto.idFloraSeq}"/>
	                                	<p:resetInput target=":formContenidoArchivoFlora:pnlContenidoArchivoFlora"/>
	                                </p:commandButton>
		                        </p:column>                                                 			                      
	                         			                             
                            </p:dataTable>
                            
                            
                            
                            
                            
<!--                             <h:dataTable styleClass="table" var="c" value="#{capitulo4View.flora}" id="tFlora"> -->
<!--                                 <h:column> -->
<!--                                     <p:commandLink actionListener="#{capitulo4View.eliminarFlora}" update=":formFlora:panelCaptura7"> -->
<!--                                         <h:graphicImage value="/assets/images/gobmx/icons/panel-collapsed.png"/> -->
<!--                                         <f:attribute name="idt" value="#{c.floraProyectoPK.floraProyid}" /> -->
<!--                                     </p:commandLink>                        -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">Grupo</f:facet> -->
<!--                                         #{c.floraGrupo} -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">Familia</f:facet> -->
<!--                                         #{c.floraFamilia} -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">Nombre Científico</f:facet> -->
<!--                                     <p:autoComplete id="acMinLength" value="#{c.floraNomCient}" completeMethod="#{capitulo4View.completarNombreCientifico}" effect="fade" forceSelection="true" queryDelay="100">                               -->
<!--                                         <f:attribute name="idt" value="#{c.floraProyectoPK.floraProyid}" /> -->
<!--                                         <f:ajax event="itemSelect" listener="#{capitulo4View.onFloraNombreSelect}" render=":formFlora:panelCaptura7" /> -->
<!--                                     </p:autoComplete> -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">Nombre Común</f:facet> -->
<!--                                     <h:inputText  value="#{c.floraNomComun}" maxlength="300"/> -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">Categoría NOM-059</f:facet> -->
<!--                                         #{c.floraCatNom59} -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">Endémico</f:facet> -->
<!--                                     <h:selectOneMenu value="#{c.floraEndemico}" > -->
<!--                                         <f:selectItem itemLabel="Si" itemValue="Si"/> -->
<!--                                         <f:selectItem itemLabel="No" itemValue="No"/> -->
<!--                                     </h:selectOneMenu> -->
<!--                                 </h:column> -->
<!--                                 <h:column> -->
<!--                                     <f:facet name="header">mas...</f:facet> -->
<!--                                     <p:commandButton icon="ui-icon-pencil" type="button" onclick="dlgUpdate#{c.floraProyectoPK.floraProyid}.show()"  -->
<!--                                                      class="btn btn-default" style="height:20px;padding-left: 10px"/> -->
<!--                                     <p:dialog widgetVar="dlgUpdate#{c.floraProyectoPK.floraProyid}" position="top" modal="true" width="900" height="450" header="Flora"> -->
<!--                                         <table width="100%" cellspacing="10"> -->
<!--                                             <tr> -->
<!--                                                 <td width="45%" align="center" style="font-weight: bolder;">CITES</td> -->
<!--                                                 <td width="10%">&#160;</td> -->
<!--                                                 <td width="45%">&#160;</td> -->
<!--                                             </tr> -->
<!--                                             <tr> -->
<!--                                                 <td style="text-align: justify;">#{c.floraCites}</td> -->
<!--                                                 <td>&#160;</td> -->
<!--                                                 <td> -->
<!--                                                     <table style="table"> -->
<!--                                                         <tr> -->
<!--                                                             <td> -->
<!--                                                                 Presencia -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 Registro -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 Abundancia -->
<!--                                                             </td> -->
<!--                                                         </tr> -->
<!--                                                         <tr> -->
<!--                                                             <td> -->
<!--                                                                 <h:panelGrid columns="2"> -->
<!--                                                                 Sistema Ambiental: -->
<!--                                                                 <h:selectBooleanCheckbox value="#{c.presenciaSa}" /> -->
<!--                                                                 Área de Influencia: -->
<!--                                                                 <h:selectBooleanCheckbox value="#{c.presenciaAi}" /> -->
<!--                                                                 Proyecto: -->
<!--                                                                 <h:selectBooleanCheckbox value="#{c.presenciaPr}" /> -->
<!--                                                                 </h:panelGrid > -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 <h:selectOneMenu value="#{c.floraRegistro}"> -->
<!--                                                                     <f:selectItem itemLabel="Muestreo" itemValue="Muestreo" /> -->
<!--                                                                     <f:selectItem itemLabel="Bibliografia" itemValue="Bibliografia"/> -->
<!--                                                                     <f:selectItem itemLabel="Ambas" itemValue="Ambas"/> -->
<!--                                                                 </h:selectOneMenu> -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 <h:inputText value="#{c.floraAbundancia}" maxlength="10" onkeypress="return capturaEnteros(event);"/> -->
<!--                                                             </td> -->
<!--                                                         </tr> -->
<!--                                                         <tr> -->
<!--                                                             <td>   Densidad -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 Distribución -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 Número de individuos a afectar -->
<!--                                                             </td> -->
<!--                                                         </tr> -->
<!--                                                         <tr> -->
<!--                                                             <td> -->
<!--                                                                 <h:inputText value="#{c.floraDensidad}" maxlength="10" onkeypress="return capturaEnteros(event);"/> -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 <h:inputText value="#{c.floraDistribucion}" maxlength="3" onkeypress="return capturaEnteros(event);"/> -->
<!--                                                             </td> -->
<!--                                                             <td> -->
<!--                                                                 <h:inputText value="#{c.floraNumIndvAfec}" maxlength="10" onkeypress="return capturaEnteros(event);"/> -->
<!--                                                             </td> -->
<!--                                                         </tr> -->
<!--                                                     </table> -->
<!--                                                 </td> -->
<!--                                             </tr> -->
<!--                                             <tr><td colspan="3" width="100%" style="font-weight: bolder;" align="center"><br/><br/><br/>Fotografías</td></tr> -->
<!--                                             <tr><td colspan="3" align="center"> -->
<!--                                                     <iframe width="100%" height="250px"  -->
<!--                                                             src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,2,2,2,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}"  -->
<!--                                                             frameborder="0"></iframe> -->
<!--                                                 </td> -->
<!--                                             </tr> -->
<!--                                         </table> -->
<!--                                     </p:dialog>     -->
<!--                                 </h:column> -->
                                
<!--                                 <h:column> -->
<!--                                     <f:facet name="header"> -->
<!--                                         <p:commandLink action="#{capitulo4View.agregarFlora}"  update=":formFlora:panelCaptura7"> -->
<!--                                             <p:graphicImage value="/assets/images/gobmx/icons/panel.png" /> -->
<!--                                         </p:commandLink> -->
<!--                                     </f:facet> -->
<!--                                 </h:column> -->

<!--                             </h:dataTable> -->
<!--                         </p:scrollPanel> -->
                    </h:panelGroup></div>
                    
                </h:panelGroup> 
                            
            </h:form>   
            </div>
            <br></br>
            <br></br>

			<p:dialog widgetVar="dlgAgregarFlora" onShow="if(#{capitulo4View.mostrarEdicionFlora} == false) {ctrTabView.select(0);}"
						modal="true" 
						showEffect="fade" hideEffect="fade" closable="false" width="50%" resizable="false">
                <f:facet name="header">
					<h:form id="formAgregarEditarFlora">
						<p:outputPanel id="opAgregarEditarFloraHeader">	
					   		<h:panelGroup id="pnlTitleEditarFlora" rendered="#{capitulo4View.mostrarEdicionFlora}">
								<h4 class="modal-title">Flora - editar especie # #{capitulo4View.rowIndexFloraEditar}</h4>	   	
					   		</h:panelGroup>
					    		
					   		<h:panelGroup id="pnlTitleAgregarFlora" rendered="#{capitulo4View.mostrarEdicionFlora == false}">
								<h4 align="center" class="modal-title">Flora - agregar especie</h4>		    			    		
					   		</h:panelGroup>					    						   		
					   	</p:outputPanel>
					</h:form>
				</f:facet>

				<h:form id="formAgregarFlora">				
					<p:outputPanel id="opAgregarFlora">
						<h:panelGroup id="pnlAgregarFlora" rendered="#{capitulo4View.mostrarEdicionFlora == false}" style="width: 100%">
								<p:tabView id="formTabGenerales" widgetVar="ctrTabView">
									<p:tab title="Generales">
										<h:panelGrid id="pnlGenerales" style="width: 100%">
										<p:row>
										<p:column>
												<p:outputLabel value="Nombre científico" />
												<p:outputLabel id="lblNombreCientificoNuevo" value="" for="txtAutoNombreCientifico" />
												<p:outputLabel value=":" />
												</p:column>
												</p:row>
												<p:autoComplete id="txtAutoNombreCientifico" value="#{capitulo4View.floraProyecto.floraNomCient}" 
															    completeMethod="#{capitulo4View.completarNombreCientifico}" required="true" requiredMessage="Este campo es obligatorio">
													<p:ajax event="itemSelect" update=":formAgregarFlora:formTabGenerales:txtClaseFloraNueva, :formAgregarFlora:formTabGenerales:txtFamiliaFloraNueva, 
																						:formAgregarFlora:formTabGenerales:txtNombreComunFloraNueva, :formAgregarFlora:formTabGenerales:txtCategoriaFloraNueva, 
																						:formAgregarFlora:formTabGenerales:opEndemicoFlora" 
															listener="#{capitulo4View.cargarInformacionFlora(capitulo4View.floraProyecto.floraNomCient)}"/>
												
												</p:autoComplete>
												<p:message id="msgAutoNombreCientifico" for="txtAutoNombreCientifico" display="true"/>
												
												<p:outputLabel id="lblClaseFloraNueva" value="Clase:"/>			    
												<p:inputText id="txtClaseFloraNueva" value="#{capitulo4View.vwPlantaeVegetacion.plantaeClase}" readonly="true" style="width: 100%"/>                			                                  

												<p:outputLabel id="lblFamiliaFloraNueva" value="Familia:"/>			    
												<p:inputText id="txtFamiliaFloraNueva" value="#{capitulo4View.vwPlantaeVegetacion.plantaeFamilia}" readonly="true" style="width: 100%"/> 
												
												<p:outputLabel id="lblNombreComunFloraNueva" value="Nombre común:"/>			    
												<p:inputText id="txtNombreComunFloraNueva" value="#{capitulo4View.vwPlantaeVegetacion.plantaeNombreComun}" style="width: 100%"/>
												
												<p:outputLabel id="lblCategoriaFloraNueva" value="Categoría NOM-059:"/>			    
												<p:inputText id="txtCategoriaFloraNueva" value="#{capitulo4View.vwPlantaeVegetacion.plantaeCategoriaNom059}" readonly="true" style="width: 100%"/> 												

												<p:outputPanel id="opEndemicoFlora" style="width: 100%">
													<h:panelGrid rendered="#{capitulo4View.mostrarEndemicoFlora}">
														<p:outputLabel id="lblEndemicoFloraNueva" value="Endémico:"/>
														<p:selectBooleanCheckbox id="chkEndemicoFloraNueva" value="#{capitulo4View.banderaEndemico}"/>													
													</h:panelGrid>																											  												
												</p:outputPanel>
  															    
										</h:panelGrid>
									</p:tab>
									
									<p:tab title="Más Información">
									
										<h:panelGrid id="pnlMasInformacion" style="width: 100%">
											<p:outputLabel id="lblPresenciaFloraNueva" value="Presencia:"/>
										</h:panelGrid>

										<br/>

										<h:panelGrid columns="2" id="pnlPresenciaCheckbox" style="width: 50%">
											<p:outputLabel id="lblSistemaAmbiental" value="Sistema ambiental:"/>
											<p:selectBooleanCheckbox value="#{capitulo4View.floraProyecto.presenciaSa}" />											

											<p:outputLabel id="lblAreaInfluencia" value="Área de influencia:"/>
											<p:selectBooleanCheckbox value="#{capitulo4View.floraProyecto.presenciaAi}" />
											
											<p:outputLabel id="lblProyectoFloraNueva" value="Proyecto:"/>
											<p:selectBooleanCheckbox value="#{capitulo4View.floraProyecto.presenciaPr}" />											
										</h:panelGrid>
										
										<br/>
										
										<h:panelGrid id="pnlRegistro" style="width: 100%">
											<p:outputLabel id="lblRegistroFloraNueva" value="Registro:"/>
											<h:selectOneMenu id="cboRegistro" value="#{capitulo4View.floraProyecto.floraRegistro}" style="width: 100%" class="form-control">
												<f:selectItem itemValue="" itemLabel="Seleccione"/>
                                                <f:selectItem itemLabel="Muestreo" itemValue="Muestreo" />
                                                <f:selectItem itemLabel="Bibliografia" itemValue="Bibliografia"/>
                                                <f:selectItem itemLabel="Ambas" itemValue="Ambas"/>						
											</h:selectOneMenu>
											
											<p:outputLabel id="lblAbundanciaFloraNueva" value="Abundancia:"/>
											<p:inputText id="txtAbundanciaFloraNueva" value="#{capitulo4View.floraProyecto.floraAbundancia}" style="width: 100%"/>	
											
											<p:outputLabel id="lblDensidadFloraNueva" value="Densidad:"/>
											<p:inputText id="txtDensidadFloraNueva" value="#{capitulo4View.floraProyecto.floraDensidad}" style="width: 100%"/>																																

											<p:outputLabel id="lblDistribucionFloraNueva" value="Distribución: "/>
											<h:selectOneMenu id="cboDistribuciónFloraNueva" value="#{capitulo4View.floraProyecto.floraDistribucion}" style="width: 100%" class="form-control">
												<f:selectItem itemValue="" itemLabel="Seleccione"/>
                                                <f:selectItem itemLabel="Sistemático" itemValue="Sistematico" />
                                                <f:selectItem itemLabel="Al azar" itemValue="Al azar"/>
                                                <f:selectItem itemLabel="Agregado" itemValue="Agregado"/>												
											</h:selectOneMenu>	

											<p:outputLabel id="lblNumIndividuosFloraNueva" value="Número de individuos a afectar: "/>
											<p:inputText id="txtNumIndividuosFloraNueva" value="#{capitulo4View.floraProyecto.floraNumIndvAfec}" style="width: 40%"/>	
										</h:panelGrid>
										
									</p:tab>				 			
														
								</p:tabView>
								<br/>
<!-- 								<p:messages id="msgGeneralesInfo" autoUpdate="true"/> -->
								<br/>
							 	<p:commandButton styleClass="btn btn-primary" style="float: right;" value="Guardar" update=":formFlora:grdFlora, :formAgregarFlora:formTabGenerales:pnlGenerales,
							 			 :formAgregarFlora:formTabGenerales:pnlRegistro, :formAgregarFlora:formTabGenerales:pnlPresenciaCheckbox,:formAgregarFlora:opAgregarFlora" 
							 					action="#{capitulo4View.guardarFlora}"/>													
								<p:commandButton type="button" styleClass="btn btn-default botonEliminar" style="float: right;" value="Cerrar" onclick="dlgAgregarFlora.hide()"/>										
							
						</h:panelGroup>
					</p:outputPanel>		
					
					<p:outputPanel id="opEditarFlora">
						<h:panelGroup id="pnlEditarFlora" rendered="#{capitulo4View.mostrarEdicionFlora}" style="width: 100%">			
							<p:tabView id="formTabGeneralesEditar" widgetVar="ctrTabView2">
								<p:tab title="Generales">
									<h:panelGrid id="pnlGeneralesEditar" style="width: 100%">									
										<p:outputLabel id="lblNombreCientificoEditar" value="Nombre científico:"/>
										<p:inputText id="txtNombreCientificoEditar" value="#{capitulo4View.floraProyecto.floraNomCient}" readonly="true" style="width: 100%"/>
												
										<p:outputLabel id="lblClaseFloraEditar" value="Clase:"/>			    
										<p:inputText id="txtClaseFloraEditar" value="#{capitulo4View.floraProyecto.floraClase}" readonly="true" style="width: 100%"/>                			                                  

										<p:outputLabel id="lblFamiliaFloraEditar" value="Familia:"/>			    
										<p:inputText id="txtFamiliaFloraEditar" value="#{capitulo4View.floraProyecto.floraFamilia}" readonly="true" style="width: 100%"/> 
																								
										<p:outputLabel id="lblCategoriaFloraEditar" value="Categoría NOM-059:"/>			    
										<p:inputText id="txtCategoriaFloraEditar" value="#{capitulo4View.floraProyecto.floraCatNom59}" readonly="true" style="width: 100%"/> 												

										<p:outputLabel id="lblNombreComunFloraEditar" value="Nombre común:"/>			    
										<p:inputText id="txtNombreComunFloraEditar" value="#{capitulo4View.floraProyecto.floraNomComun}" style="width: 100%"/>

										<p:outputLabel id="lblEndemicoFloraEditar" value="Endémico:"/>
										<p:selectBooleanCheckbox id="chkEndemicoFloraNueva" value="#{capitulo4View.banderaEndemico}" />															    															    
									</h:panelGrid>
								</p:tab>
									
								<p:tab title="Más información">
										<h:panelGrid id="pnlMasInformacionEditar" style="width: 100%">
											<p:outputLabel id="lblPresenciaFloraEditar" value="Presencia:"/>
										</h:panelGrid>

										<br/>

										<h:panelGrid columns="2" id="pnlPresenciaCheckboxFloraEditar" style="width: 50%">
											<p:outputLabel id="lblSistemaAmbientalFloraEditar" value="Sistema ambiental:"/>
											<p:selectBooleanCheckbox value="#{capitulo4View.floraProyecto.presenciaSa}" />											

											<p:outputLabel id="lblAreaInfluenciaFloraEditar" value="Área de influencia:"/>
											<p:selectBooleanCheckbox value="#{capitulo4View.floraProyecto.presenciaAi}" />
											
											<p:outputLabel id="lblProyectoFloraEditar" value="Proyecto:"/>
											<p:selectBooleanCheckbox value="#{capitulo4View.floraProyecto.presenciaPr}" />											
										</h:panelGrid>
										
										<br/>
										
										<h:panelGrid id="pnlEditar" style="width: 100%">
											<p:outputLabel id="lblRegistroFloraEditar" value="Registro:"/>
											<h:selectOneMenu id="cboRegistroEditar" value="#{capitulo4View.floraProyecto.floraRegistro}" style="width: 100%" class="form-control">
												<f:selectItem itemValue="" itemLabel="Seleccione"/>
                                                <f:selectItem itemLabel="Muestreo" itemValue="Muestreo" />
                                                <f:selectItem itemLabel="Bibliografia" itemValue="Bibliografia"/>
                                                <f:selectItem itemLabel="Ambas" itemValue="Ambas"/>												
											</h:selectOneMenu>
											
											<p:outputLabel id="lblAbundanciaFloraEditar" value="Abundancia:"/>
											<p:inputText id="txtAbundanciaFloraEditar" value="#{capitulo4View.floraProyecto.floraAbundancia}" style="width: 100%"/>	
											
											<p:outputLabel id="lblDensidadFloraEditar" value="Densidad:"/>
											<p:inputText id="txtDensidadFloraEditar" value="#{capitulo4View.floraProyecto.floraDensidad}" style="width: 100%"/>																																

											<p:outputLabel id="lblDistribucionFloraEditar" value="Distribución: "/>
											<h:selectOneMenu id="cboDistribuciónFloraEditar" value="#{capitulo4View.floraProyecto.floraDistribucion}" style="width: 100%" class="form-control">
												<f:selectItem itemValue="" itemLabel="Seleccione"/>
                                                <f:selectItem itemLabel="Sistemático" itemValue="Sistematico" />
                                                <f:selectItem itemLabel="Al azar" itemValue="Al azar"/>
                                                <f:selectItem itemLabel="Agregado" itemValue="Agregado"/>												
											</h:selectOneMenu>

											<p:outputLabel id="lblNumIndividuosFloraEditar" value="Número de individuos a afectar: "/>
											<p:inputText id="txtNumIndividuosFloraEditar" value="#{capitulo4View.floraProyecto.floraNumIndvAfec}" style="width: 40%"/>	
										</h:panelGrid>									
								</p:tab>				 			
														
							</p:tabView>	
							<br/>
							<p:messages id="msgGeneralesInfoEditar" autoUpdate="true"/>
							<br/>
							<p:commandButton styleClass="btn btn-primary" style="float: right;" value="Guardar" update=":formFlora:grdFlora, :formAgregarFlora:formTabGeneralesEditar:pnlGeneralesEditar,
							 			 :formAgregarFlora:formTabGeneralesEditar:pnlEditar, :formAgregarFlora:formTabGeneralesEditar:pnlPresenciaCheckboxFloraEditar,:formAgregarFlora:msgGeneralesInfoEditar" 
							 					oncomplete="setTimeout(function() { $('[id$=msgGeneralesInfo]').hide(1000); }, 4000);" onclick="ctrTabView2.select(0);" action="#{capitulo4View.actualizarFlora}"/>													
							<p:commandButton type="button" styleClass="btn btn-default botonEliminar" style="float: right;" value="Cerrar" onclick="dlgAgregarFlora.hide()"/>										
																			
						</h:panelGroup>
					</p:outputPanel>
				</h:form>				
			</p:dialog>
			
            <!-- DIALOG QUE MUESTRA EL GUARDADO O ACTUALIZACION EXITOSO DE LA FLORA -->
            
			<p:dialog widgetVar="dlgGuardadoExitoso" modal="true" showEffect="fade" hideEffect="fade" closable="false" resizable="false">
                 <f:facet name="header">
				   	<h:form id="formGuardadoHeader">
						<h4 class="modal-title">Aviso</h4>	   	
				   	</h:form>
			     </f:facet>
				
				 <h:form id="formMensajeGuardado">
					 <p:outputPanel id="pnlMensajeActualizar">     
		             	<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Registro guardado exitosamente.</div>
		                	<div class="modal-footer">
		                	<p:commandButton styleClass="btn btn-primary" id="btnAceptarGuardado" value="Aceptar" onclick="dlgGuardadoExitoso.hide()"/>
		                </div>
		             </p:outputPanel>				 
				 </h:form>
            </p:dialog>
            
            <!-- DIALOG QUE MUESTRA SI SE DESEA ELIMINAR LA/S FLORAS SELECCIONADAS  -->
  
 
 			<p:dialog widgetVar="dlgEliminarFlora" modal="true" showEffect="fade" hideEffect="fade" closable="false" resizable="false">
                 <f:facet name="header">
				   	<h:form id="formEliminarFloraHeader">
						<h4 class="modal-title">Eliminar Flora</h4>	   	
				   	</h:form>
			     </f:facet>
				
				<h:form id="formEliminarFlora">
					 <p:outputPanel id="pnlMensajeFlora">     
	                      <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> ¿Realmente desea borrar el(los) registro(s)?</div>
	                      
	                      <h:panelGrid id="pnlFloraEliminada" columns="2">
	                      	
                            <ui:repeat value="#{capitulo4View.listaFloraSeleccionada}" var="varfloraproyecto">
               					<h:outputText value="#{varfloraproyecto.floraNomCient}" style="display:block"/>
           					</ui:repeat>
           					
	                      </h:panelGrid>
	                      
	                      <div class="modal-footer">
	                      	<p:commandButton type="button" styleClass="btn btn-default" id="respuestaNo" value="No" onclick="dlgEliminarFlora.hide()" />
	                        <p:commandButton styleClass="btn btn-primary" id="respuestaSi" value="Si" update=":formFlora:grdFlora, :formFlora:btnEliminarFlora" 
	                        				 action="#{capitulo4View.eliminarFlora}"/>
	                      </div>
	                 </p:outputPanel>
                 </h:form> 
            </p:dialog>                          			

            <p:dialog widgetVar="dlgFloraEliminadaExitosa" modal="true" showEffect="fade" hideEffect="fade" closable="false" resizable="false">
                 <f:facet name="header">
				   	<h:form id="formEliminarOkHeader">
						<h4 class="modal-title">Aviso</h4>	   	
				   	</h:form>
			     </f:facet>
				
				<h:form id="formMensajeEliminar">
					 <p:outputPanel id="pnlMensajeEliminar">     
		             	<div class="alert alert-success"><span class="glyphicon glyphicon-remove"></span> Registro eliminado exitosamente.</div>
		                	<div class="modal-footer">
		                	<p:commandButton styleClass="btn btn-primary" id="aceptarEliminar" value="Aceptar" onclick="dlgFloraEliminadaExitosa.hide()"/>
		                </div>
		             </p:outputPanel> 
	            </h:form>         
            </p:dialog>
            
               <!-- MODAL PARA SUBIR ARCHIVOS -->
       
               <p:dialog draggable="false" widgetVar="modalSubirArchivoFlora" id="dlgSubirArchivoFlora" modal="true" closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">                               

               		<f:facet name="header">
						<h4 class="modal-title">Cargar archivo</h4>	   	
				    </f:facet> 
 
 					<h:form id="formContenidoArchivoFlora"> 					
                         <p:outputPanel id="pnlContenidoArchivoFlora">

	                                <p:outputLabel value="Nombre"/>	                                                                   
									<p:outputLabel id="lblNombreArchivoFlora" value="" for="txtNombreArchivoFlora" />
									<p:outputLabel value=":" />
									<br/>

                            		<p:inputText id="txtNombreArchivoFlora" value="#{capitulo4View.archivoTemporalFlora.nombre}" style="width: 100%" required="true"
                            			requiredMessage="Este campo es obligatorio" maxlength="50">
                            		</p:inputText>
									<p:message for="txtNombreArchivoFlora" />

									<br/>
	
									<p:outputLabel value="Descripción" />
									<p:outputLabel id="lblDescripcionArchivoFlora" value="" for="txtDescripcionArchivoFlora" />
									<p:outputLabel value=":" />

                         			<p:inputTextarea id="txtDescripcionArchivoFlora" class="form-control" value="#{capitulo4View.archivoTemporalFlora.descripcion}" 
                         			cols="50" rows="3" maxlength="200" counter="descount" counterTemplate="Quedan {0} caracteres." 
                         			required="true" requiredMessage="Este campo es obligatorio" autoResize="false">
                         			</p:inputTextarea>
                               		<h:outputText id="descount" />
									<p:message for="txtDescripcionArchivoFlora" />

									<br/>
									<br/>

                         			<p:outputLabel value="Cargar archivo"/>
									<p:outputLabel id="lblCargarArchivoNuevo" value="" for="fUploadArchivo" />
									<p:outputLabel value=":" />                         			

									<br/>

									<h:panelGrid columns="2" style="width: 100%">
	                         			<p:fileUpload id="fUploadArchivo" styleClass="fileupload-simple"               
		                                  mode="advanced" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
			                    		  oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                                  
		                                  fileUploadListener="#{capitulo4View.cargaBean.handleFileUpload}"	                                  
		                                  sizeLimit="10485760" label="Seleccionar archivo"                                 
		                                  invalidSizeMessage="El tamaño del archivo es demasiado grande"
		                                  invalidFileMessage="Tipo de archivo invalido"
		                                  allowTypes="/(\.|\/)(pdf|docx)$/"  update="lblCargaArchivoFlora"  required="true" requiredMessage="Este campo es obligatorio"
		                                  auto="true"/>

							                <c:if test="#{empty capitulo4View.cargaBean.file.fileName}">
												<p:outputLabel id="lblCargaArchivoFlora" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
							                </c:if>		    
							                
							                <c:if test="#{not empty capitulo4View.cargaBean.file.fileName}">
												<p:outputLabel id="lblCargaArchivoFlora" value="#{capitulo4View.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
							                </c:if>

									</h:panelGrid>
									<br/>
									
									<p:outputLabel id="msjValida" value="#{capitulo4View.msj}" style="color:#B40431" />
									
									<div id="divExtensiones" class="alert alert-info">
										<p:outputLabel value="Extensiones permitidas: (pdf/docx)"/>
										<br/>
															
										<p:outputLabel value="El tamaño límite es de 10MB"/>					
									</div>
									<br/>									

                        </p:outputPanel>
                        <br />                        
                        
                        <p:commandButton id="btnGuardarModalArchivoFlora" class="btn btn-primary alinDerecha" value="Guardar" oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				   		$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
                        	action="#{capitulo4View.guardarArchivoFlora}" update=":formFlora:grdFlora, :formContenidoArchivoFlora:pnlContenidoArchivoFlora"/>
                        	
                        <p:commandButton id="btnCerrarModalArchivoFlora" type="button" class="btn btn-default alinDerecha" value="Cerrar" 
                        	onclick="modalSubirArchivoFlora.hide();"/>
                                                
 					</h:form>                                   
               </p:dialog>  			
               
				<!-- Ventana modal alerta de la carga del archivo-->
				
				<p:dialog id="dlgAlertaFlora" header="Alerta" modal="true" widgetVar="modalAlertaFlora">					
                  	<h:form id="formAlertaArchivoFlora">
		             	<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Archivo guardado correctamente.</div>
		                	<div class="modal-footer">
							<p:commandButton styleClass="btn btn-default" value="Aceptar" process="@this"
							 				 onclick="modalAlertaFlora.hide()" update=":formFlora:grdFlora"/>
		                </div>                  	                  	
                  	</h:form>								
				</p:dialog>
        </ui:fragment>
   </ui:composition>    
