<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<HEAD>
<link href="assets/images/favicon.ico" rel="shortcut icon" />
<!--         		<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" />  -->
<!-- 		       	<link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" /> -->
<link href="#{request.contextPath}/assets/styles/main.css"
	rel="stylesheet" />
<link href="#{request.contextPath}/assets/css/primemia.css"
	rel="stylesheet" />
<link href="#{request.contextPath}/assets/css/ayudas.css"
	rel="stylesheet" />
<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
<script src="#{request.contextPath}/assets/js/funciones.js"></script>
<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
</HEAD>
<ui:composition>
	<ui:fragment id="frgTipoVegetacion_">
		<div id="dTipoVeg_">
			<h:form id="formTipoVegetacion">
				<h:panelGroup id='pCaraProy_'>
					<div id="titulo6"></div>
					<hr class="red"></hr>
					<button id='case_btn_ayuda_vegetacion' type="button"
						class="btn btn-default" data-toggle="tooltip"
						data-placement="bottom">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<span class="glyphicon-class">Ayuda</span>
					</button>
					<hr></hr>
					<div id="componenteConsulta6" style="display: none">
						<p:scrollPanel mode="native" style="width:auto; border: none;">
							<h:dataTable styleClass="table" var="c"
								value="#{capitulo4View.sueloVegetacion}">
								<h:column>
									<f:facet name="header">Componente</f:facet>
                                        #{c.sueloComponente}
                                </h:column>
								<h:column>
									<f:facet name="header">Descripción</f:facet>
                                        #{c.sueloDescripcion}
                                </h:column>

								<h:column>
									<f:facet name="header">Grupo de vegetación</f:facet>
                                        #{c.sueloTipoEcov}
                                </h:column>
								<h:column>
									<f:facet name="header">Tipo de vegetación o uso del suelo</f:facet>
                                        #{c.sueloTipoGen}
                                </h:column>
								<h:column>
									<f:facet name="header">Fase de vegetación secundaria)</f:facet>
                                        #{c.sueloFaseVs}
                                </h:column>
								<h:column>
									<f:facet name="header">Superficie de incidencia (m2)</f:facet>
                                        #{c.sueloAreaSigeia}
                                </h:column>
								<h:column>
									<f:facet name="header">¿Se valida el resultado de SIGEIA?</f:facet>
									<h:outputText
										value="#{c.sueloValidaResultado eq 'S' ? 'SI' : 'NO'}" />
								</h:column>
								<h:column>
									<f:facet name="header">Uso suelo</f:facet>
									<h:inputText readonly="true" value="#{c.sueloCatUso}"
										maxlength="100" />
								</h:column>
								<h:column>
									<f:facet name="header">Diagnóstico</f:facet>
									<h:inputText readonly="true" value="#{c.sueloDiagnostico}"
										maxlength="1500" />
								</h:column>

							</h:dataTable>
						</p:scrollPanel>
					</div>
					<div id="componenteActualiza6"
						style="display: none; float: right; margin-right: 20px">
						<br />
						<p:commandButton value="Modificar sección (opcional)"
							class="btn btn-primary"
							onclick="actualizaComponentesModificaMulti('foDatosGen','6');" />
					</div>
					<div id="componenteCaptura6" style="display: none;">
						<p:scrollPanel mode="native" style="width:auto; border: none;">
							<!--                             <h:dataTable styleClass="table" var="c" value="#{capitulo4View.sueloVegetacion}"> -->
							<!--                                 <h:column> -->
							<!--                                     <f:facet name="header">Componente</f:facet> -->
							<!--                                         #{c.sueloComponente} -->
							<!--                                 </h:column> -->
							<!--                                 <h:column> -->
							<!--                                     <f:facet name="header">Descripción</f:facet> -->
							<!--                                         #{c.sueloDescripcion} -->
							<!--                                 </h:column> -->

							<!--                                 <h:column> -->
							<!--                                     <f:facet name="header">Grupo de vegetación</f:facet> -->
							<!--                                         #{c.sueloTipoEcov} -->
							<!--                                 </h:column> -->
							<!--                                 <h:column> -->
							<!--                                     <f:facet name="header">Tipo de vegetación o Uso del suelo</f:facet> -->
							<!--                                         #{c.sueloTipoGen} -->
							<!--                                 </h:column> -->
							<!--                                 <h:column> -->
							<!--                                     <f:facet name="header">Fase de vegetación secundaria)</f:facet> -->
							<!--                                         #{c.sueloFaseVs} -->
							<!--                                 </h:column> -->
							<!--                                 <h:column> -->
							<!--                                     <f:facet name="header">Superficie de incidencia (m2)</f:facet> -->
							<!--                                         #{c.sueloAreaSigeia} -->
							<!--                                 </h:column> -->
							<!--                                 <h:column> -->
							<!--                                     <f:facet name="header">¿Se valida el resultado de SIGEIA?</f:facet> -->
							<!--                                     <h:selectOneMenu value="#{c.sueloValidaResultado}"> -->
							<!--                                         <f:selectItem itemLabel="Si" itemValue="S"/> -->
							<!--                                         <f:selectItem itemLabel="No" itemValue="N"/> -->
							<!--                                     </h:selectOneMenu> -->
							<!--                                 </h:column> -->
							<!--                                 <h:column> -->
							<!--                                     <f:facet name="header">Uso suelo</f:facet> -->
							<!--                                     <h:inputText value="#{c.sueloCatUso}" maxlength="300" /> -->
							<!--                                 </h:column> -->
							<!--                                 <h:column> -->
							<!--                                     <f:facet name="header">Diagnóstico</f:facet> -->
							<!--                                     <h:inputText value="#{c.sueloDiagnostico}" maxlength="1500" /> -->
							<!--                                 </h:column> -->

							<!--                             </h:dataTable> -->
							<h:panelGroup id="pSelSit">
								<!-- TABLA "Tipo de vegetación" de sección "Aspectos bióticos" del Capítulo 4 -->
								<p:treeTable styleClass="table table-striped dataTableHidro"
									id="ttSuelos" value="#{capitulo2View.rootSuelos}" var="node"
									widgetVar="ttSuelos"
									rowStyleClass="#{node.tipoRow eq 'Hijo' ? 'rowHijo' : null}">
									<p:column headerText="Componente" style="white-space: normal">
										<h:outputText value="#{node.nombreObra}" />
									</p:column>
									<p:column headerText="Descripción" style="white-space: normal">
										<h:outputText value="#{node.descripcion}" />
									</p:column>
									<p:column headerText="Grupo de vegetación"
										style="white-space: normal">
										<h:outputText value="#{node.grupoVegetacion}" />
									</p:column>
									<p:column headerText="Tipo de vegetación o uso de suelo"
										style="white-space: normal">
										<h:outputText value="#{node.tipoVegetacion}" />
									</p:column>
									<p:column headerText="Fase de vegetación"
										style="white-space: normal">
										<h:outputText value="#{node.faseVegetacion}" />
									</p:column>
									<p:column headerText="Superficie m&lt;sup&gt;2&lt;&#47;sup&gt;"
										style="white-space: normal; text-align: right;" escape="false">
										<h:outputLabel value="#{node.superficie}">
											<f:convertNumber pattern="###,##0.00" />
											<!-- 					<f:convertNumber pattern="#0.00" /> -->
										</h:outputLabel>
									</p:column>
									<p:column headerText="Diagnóstico"
										style="white-space: normal;width: 10px" width="10px">
										<p:row style="white-space: normal;width: 10px">
											<h:outputText value="#{node.diagnostico}" style="width: 10px" />
										</p:row>
										<p:row></p:row>
									</p:column>
									<p:column headerText="" style="white-space: normal">
										<p:commandButton
											class="btn btn-default btn-xs glyphicon glyphicon-pencil"
											value="" rendered="#{node.tipoRow eq 'Padre'}"
											action="#{capitulo2View.consultarTipoVegetacion}"
											oncomplete="modalEditar.show()" process="@this"
											update=":formEditarTipoVeg:pnlEditar, :frmEditar:pnlEditarHeader">
											<f:param name="id" value="#{node.id}" />
										</p:commandButton>
										<p:commandButton
											class="btn btn-default btn-xs glyphicon glyphicon-pencil"
											value="" rendered="#{node.tipoRow eq 'Hijo'}"
											action="#{capitulo2View.cargarDetalleSueloSeleccionado}"
											oncomplete="modalDetallesSuelo.show()" process="@this"
											update=":fDetalles:pnlContenidoModal :fDetalles:dlgModalDetallesSuelo">
											<f:param name="id" value="#{node.id}" />
										</p:commandButton>
									</p:column>
								</p:treeTable>
								<!-- ////////////////////////////////////////////////////////////////////////////////WARNING///////////////////////////////////////////////////////////////////////////// -->


							</h:panelGroup>
						</p:scrollPanel>
					</div>
				</h:panelGroup>
			</h:form>

			<p:dialog widgetVar="modalEditar" modal="true" showEffect="fade"
				hideEffect="fade" closable="false" width="50%" resizable="false"
				height="400">
				<f:facet name="header">
					<h:form id="frmEditar">
						<p:outputPanel id="pnlEditarHeader">
							<h4 class="modal-title">Editar Tipo de Vegetación #
								#{capitulo2View.idSueloVegetacionSelected}</h4>
						</p:outputPanel>
					</h:form>
				</f:facet>
				<h:form id="formEditarTipoVeg">

					<p:outputPanel id="pnlEditar">
						<p:outputLabel value="Componente:" for="componente" />
						<br />
						<p:inputText id="componente" class="form-control"
							value="#{capitulo2View.editTipoVegetacion.sueloComponente}"
							cols="50" rows="3" readonly="true" />
						<br />
						<p:outputLabel value="Descripcion" for="descripcion" />
						<br />
						<p:inputText id="descripcion" class="form-control"
							value="#{capitulo2View.editTipoVegetacion.sueloDescripcion}"
							cols="50" rows="3" readonly="true" />
						<br />
						<p:outputLabel value="Grupo de Vegetación" for="grupoVegetacion" />
						<br />
						<p:inputText id="grupoVegetacion" class="form-control"
							value="#{capitulo2View.editTipoVegetacion.sueloTipoEcov}"
							cols="50" rows="3" readonly="true" />
						<br />
						<p:outputLabel value="Tipo de vegetación o uso de suelo"
							for="tVegetacionSuelo" />
						<br />
						<p:inputText id="tVegetacionSuelo" class="form-control"
							value="#{capitulo2View.editTipoVegetacion.sueloTipoGen}"
							cols="50" rows="3" readonly="true" />
						<br />
						<p:outputLabel value="Fase de vegetación secundaria"
							for="fVegetacionSecundaria" />
						<br />
						<p:inputText id="fVegetacionSecundaria" class="form-control"
							value="#{capitulo2View.editTipoVegetacion.sueloFaseVs}" cols="50"
							rows="3" readonly="true" />
						<br />
						<p:outputLabel value="Superficie de Incidencia (m2)"
							for="superficieIcidencia" />
						<br />
						<p:inputText id="superficieIcidencia" class="form-control"
							value="#{capitulo2View.editTipoVegetacion.sueloAreaSigeia}"
							cols="50" rows="3" readonly="true" />
						<br />
						<!-- 				                          <p:outputLabel value="¿Se valida el resultado de SIGEIA?" for="validaREsultadoSigeia" /><br/> -->
						<!-- 				                          <p:inputText id="validaREsultadoSigeia" class="form-control" value="#{capitulo2View.editTipoVegetacion.sueloValidaResultado == 'S' ? 'SI' : 'NO'}" cols="50" rows="3" readonly="true"/> -->
						<!-- 				                          <br/>  -->
						<p:outputLabel value="Uso suelo" for="usoSuelo" />
						<br />
						<p:inputText id="usoSuelo" class="form-control"
							value="#{capitulo2View.editTipoVegetacion.sueloCatUso}" cols="50"
							rows="3" readonly="true" />
						<br />
						<p:outputLabel value="Diagnóstico" />
						<p:outputLabel value="" for="diagnostico" />
						<p:outputLabel value=":" />
						<br />
						<p:inputTextarea id="diagnostico" class="form-control"
							value="#{capitulo2View.editTipoVegetacion.sueloDiagnostico}"
							cols="50" rows="3" maxlength="1500" counter="contador1"
							counterTemplate="Quedan {0} caracteres." required="true"
							requiredMessage="Este campo es obligatorio" autoResize="false" />
						<h:outputText id="contador1" />
						<br />
						<p:message for="diagnostico" />
						<br />

						<div class="modal-footer">
							<p:commandButton styleClass="btn btn-default" id="cerrarModalE"
								value="Cerrar" onclick="modalEditar.hide()" update="pnlEditar"
								immediate="true" />

							<p:commandButton styleClass="btn btn-primary" id="guardar"
								value="Guardar" update="pnlEditar, :formTipoVegetacion:ttSuelos"
								action="#{capitulo2View.editarTipoVegetacion}" />

						</div>
					</p:outputPanel>
				</h:form>
			</p:dialog>
			<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
			<h:form id="fDetalles">
				<!-- VENTANA MODAL PARA AGREGAR DETALLES DE SUELO -->
				<p:dialog id="dlgModalDetallesSuelo"
					header="#{capitulo2View.headerTextDetalle}"
					widgetVar="modalDetallesSuelo" modal="true" closable="false">
					<p:outputPanel id="pnlContenidoModal">

						<p:outputLabel id="lblVegGrupo" value="Grupo de vegetación:"
							for="slGrupo" />
						<br />
						<p:inputText id="slGrupo" class="form-control"
							value="#{capitulo2View.sueloVegetacionDetalleSeleccionado.vegGrupo.vegNombre}"
							cols="50" rows="3" readonly="true" />
						<!-- 						<p:selectOneMenu id="slGrupo" value="#{capitulo2View.idVegGrupo}"> -->
						<!-- 							<f:selectItem itemLabel="Seleccione un grupo de vegetación" -->
						<!-- 								itemValue="" /> -->
						<!-- 							<br /> -->
						<!-- 							<f:selectItems value="#{capitulo2View.listaVegGrupos}" -->
						<!-- 								var="vegGrupo" itemLabel="#{vegGrupo.vegNombre}" -->
						<!-- 								itemValue="#{vegGrupo.idVegGrupo}" /> -->
						<!-- 							<p:ajax listener="#{capitulo2View.mostrarVegTipos}" -->
						<!-- 								update=":fDetalles:pnlContenidoModal" /> -->
						<!-- 						</p:selectOneMenu> -->
						<br />

						<p:outputLabel id="lblTipoGrupo" value="Tipo de vegetación:"
							for="slTipo" />
						<br />
						<p:inputText id="slTipo" class="form-control"
							value="#{capitulo2View.sueloVegetacionDetalleSeleccionado.vegTipo.vegNombre}"
							cols="50" rows="3" readonly="true" />
						<!-- 						<p:selectOneMenu id="slTipo" value="#{capitulo2View.idVegTipo}"> -->
						<!-- 							<f:selectItem itemLabel="Seleccione un tipo de vegetación" -->
						<!-- 								itemValue="" /> -->
						<!-- 							<f:selectItems -->
						<!-- 								value="#{capitulo2View.sueloVegetacionDetalleSeleccionado.vegGrupo.listaVegTipos}" -->
						<!-- 								var="vegTipo" itemLabel="#{vegTipo.vegNombre}" -->
						<!-- 								itemValue="#{vegTipo.idVegTipo}" /> -->
						<!-- 							<p:ajax listener="#{capitulo2View.mostrarVegFases}" -->
						<!-- 								update=":fDetalles:slFase" /> -->
						<!-- 						</p:selectOneMenu> -->
						<br />

						<p:outputLabel id="lblFaseGrupo" value="Fase de vegetación:"
							for="slFase" />
						<br />
						<p:inputText id="slFase" class="form-control"
							value="#{capitulo2View.sueloVegetacionDetalleSeleccionado.vegFase.vegNombre}"
							cols="50" rows="3" readonly="true" />
						<!-- 						<p:selectOneMenu id="slFase" value="#{capitulo2View.idVegFase}"> -->
						<!-- 							<f:selectItem itemLabel="Seleccione la fase de vegetacion" -->
						<!-- 								itemValue="" /> -->
						<!-- 							<f:selectItems -->
						<!-- 								value="#{capitulo2View.sueloVegetacionDetalleSeleccionado.vegTipo.listaVegFases}" -->
						<!-- 								var="vegFase" itemLabel="#{vegFase.vegNombre}" -->
						<!-- 								itemValue="#{vegFase.idVegFase}" /> -->
						<!-- 							<p:ajax listener="#{capitulo2View.asignarFaseTipo}" /> -->
						<!-- 						</p:selectOneMenu> -->
						<br />

						<p:outputLabel id="lblSuperficie"
							value="Superficie en m&lt;sup&gt;2&lt;&#47;sup&gt;:"
							for="txtSuperficie" escape="false" />
						<br />
						<p:inputText id="txtSuperficie" class="form-control"
							value="#{capitulo2View.sueloVegetacionDetalleSeleccionado.superficie}"
							cols="50" rows="3" readonly="true" />
						<br />
						<p:outputLabel value="Diagnóstico" />
						<p:outputLabel value="" for="slDiagnostico" />
						<p:outputLabel value=":" />
						<br />
						<!-- 						<p:inputText id="slDiagnostico" class="form-control" value="#{capitulo2View.sueloVegetacionDetalleSeleccionado.diagnostico}" cols="50" rows="3"/> -->
						<p:inputTextarea id="slDiagnostico" class="form-control"
							value="#{capitulo2View.sueloVegetacionDetalleSeleccionado.diagnostico}"
							cols="50" rows="3" maxlength="1500" counter="contador1"
							counterTemplate="Quedan {0} caracteres." autoResize="false"
							required="true" requiredMessage="Este campo es obligatorio" />
						<h:outputText id="contador1" />
						<p:message for="slDiagnostico" />

					</p:outputPanel>
					<br />
					<p:commandButton styleClass="btn btn-primary alinDerecha"
						id="btnGuardarDetalles" value="Guardar"
						process="@this pnlContenidoModal"
						action="#{capitulo2View.guardarDetalleSuelo}"
						oncomplete="modalDetallesSuelo.hide();modalAlertaDetalle.show()"
						update=":avisoF:lblAlerta :fDetalles:pnlContenidoModal, :formTipoVegetacion:ttSuelos">
					</p:commandButton>
					<p:commandButton
						styleClass="btn btn-default botonEliminar alinDerecha"
						id="btnCerrarDetalle" value="Cerrar"
						onclick="modalDetallesSuelo.hide()" immediate="true"
						update=":fDetalles:pnlContenidoModal" />
				</p:dialog>
			</h:form>
			<h:form id="avisoF">
				<!-- Ventana modal de aviso -->
				<p:dialog id="dlgAlertaDetalle" header="Aviso" modal="true"
					widgetVar="modalAlertaDetalle">
					<div class="alert alert-success">
						<span class="glyphicon glyphicon-ok"></span>
						<p:outputLabel id="lblAlerta"
							value="#{capitulo2View.alertTextDetalle}" />
					</div>
					<p:commandButton type="button"
						styleClass="btn btn-primary alinDerecha" value="Aceptar"
						onclick="modalAlertaDetalle.hide()" process="@this">
					</p:commandButton>
				</p:dialog>
			</h:form>
			<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
			<h:form id="MensajeEditar">
				<p:dialog widgetVar="modalMensajeEditar" id="modalMensajeEditar"
					modal="true">
					<f:facet name="header">
						<h:form id="formMensajeHeader">
							<h4 class="modal-title">Aviso</h4>
						</h:form>
					</f:facet>
					<p:outputPanel id="pnlMensaje">

						<div class="alert alert-success">
							<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro actualizado
							exitosamente.
						</div>

						<div class="modal-footer">
							<p:commandButton styleClass="btn btn-primary" id="cerrarModalM"
								value="Aceptar" onclick="modalMensajeEditar.hide()"
								update="pnlMensaje" immediate="true" />
						</div>
					</p:outputPanel>
				</p:dialog>
			</h:form>
		</div>

	</ui:fragment>
</ui:composition>
</html>
