<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
		<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
    </h:head>
    <h:body >
    <div class="col-md-12">
    	<div class="row" id="mensaje"></div>
		<div class="row" id="case_pnl_ayuda_cnt"></div>
        <h:form id="foDatosGen">
            
            
            <div id="dDatGen1"  >
                <h:panelGrid id="dDatRep"  >
                    <h3>Representante legal <a style="color:#000;" ><span id='case_btn_ayuda' class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3>
                    <hr class="red"/>
<!--                     <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"> -->
<!-- 	                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda  -->
<!-- 	                </button> -->
<!--                      <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>                     --> 
<!--                     <hr/> -->
                    <h:dataTable class="table" value="#{capitulo1View.repLegalu}" var="rep" width="100%">
                        <h:column headerClass="alienadoIzquierda">
                            <f:facet name="header">Principal</f:facet>
                            <h:selectBooleanCheckbox value="#{rep.vexdatosusuariorep.selected}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header">RFC</f:facet>
							<h:inputText id="rfcAux" value="#{rep.repLegal.rfc}" maxlength="20" required="true" requiredMessage="Falta" class="form-control" />
							<p:message for="rfcAux" display="text" />
                        </h:column>
                        <h:column>
                            <f:facet name="header">CURP</f:facet>
                                #{rep.vexdatosusuariorep.vccurp}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Nombre</f:facet>
                                #{rep.vexdatosusuariorep.vcnombre}  
                        </h:column>
                        <h:column>
                            <f:facet name="header">Primer apellido</f:facet>
                             #{rep.vexdatosusuariorep.vcapellido1}   
                        </h:column>
                        <h:column>
                            <f:facet name="header">Segundo apellido</f:facet>
                              #{rep.vexdatosusuariorep.vcapellido2}  
                        </h:column>
                        <h:column>
                            <f:facet name="header">Correo electrónico</f:facet>
                                #{rep.vexdatosusuariorep.vccorreo}
                        </h:column>
                    </h:dataTable>
                </h:panelGrid>
            </div>
            
            <div  class="pull-right">
                <p:commandButton value="Guardar" class="btn btn-primary "  action="#{capitulo1View.guardarGral}" onsuccess="parent.actualizaBarra();" update="@form" />
            </div>

        </h:form>
</div>
        <script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo1View.claveTramite}", nsub:1, capitulo: 1, subcapitulo: 3, seccion: -1, apartado: -1 }, case_ayuda);             
        </script>

    </h:body>
</html>
