<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <f:metadata>
		<f:viewAction action="#{archivosAnexosBean.consultarDesgloseCapitulo(6,1,0,0)}" />
	</f:metadata>    
    
    <h:head>
        <title></title>
        	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
	        <meta http-equiv="Expires" content="0"/>
	        <meta http-equiv="Last-Modified" content="0"/>
	        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate"/>
	        <meta http-equiv="Pragma" content="no-cache"/>
	        <meta charset="UTF-8"/>
	         
	        <link href="assets/images/favicon.ico" rel="shortcut icon" />
			<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
			<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
			<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
			<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
			<script src="#{request.contextPath}/assets/js/funciones.js"></script>
			<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
			<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
         
    </h:head>
    <h:body onload="javascript:getInformacionAdicional('#{capitulo6View.strComentProy}','foDatosGen',1,0,0,'Medidas preventivas y de mitigación de los impactos ambientales')">

	<div class="col-md-12" id="mensaje"></div>

 		<ui:include src="/loading.xhtml"/>

		<c:set var="capitulo" value="6"/>
		<c:set var="subcapitulo" value="1"/>
		<c:set var="seccion" value="0"/>
		<c:set var="apartado" value="0"/>

        <h:form id="foDatosGen">    

            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>
            
            <h:inputHidden id="ubicActual" value="#{capitulo6View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo6View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>

            <h:panelGroup id="pMedPrev">
                <div id="titulo"></div>
                 <hr class="red"></hr>
<!--                 <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> -->
                <button id='case_btn_ayuda' type="button" class="btn btn-default"
					data-toggle="tooltip" data-placement="bottom">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button>
				 <hr></hr>
                <br/>
                <div id="componenteConsulta" style="display:none">
                    <h:dataTable styleClass="table-responsive" var="c" value="#{capitulo6View.medPreventivas}">
                        <h:column>
                            <f:facet name="header">Impacto</f:facet>
                            <h:selectOneMenu value="#{c.prevImpactonom}">
                                <f:selectItems value="#{capitulo6View.comboImpacto}" />
                            </h:selectOneMenu>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Medida(s) propuestas(s)</f:facet>
                            <table width="100%" style="text-align: justify;"><tr><td>
                                 <h:outputText value="#{c.prevMedProp}" escape="false"/> 
                             </td></tr></table>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Etapa</f:facet>
                            <h:selectOneMenu value="#{c.etapaId}" converter="#{catEtapaConverterBean}">
                                <f:selectItems value="#{catalogosView.catEtapa}" />
                            </h:selectOneMenu>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Recursos necesarios: costos, equipos, obras, instrumentos, personal, etc.</f:facet>
                            <table width="100%" style="text-align: justify;"><tr><td>
                                 <h:outputText value="#{c.precRecNece}" escape="false"/> 
                             </td></tr></table>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Indicadores de eficiencia ambiental sobre la medida propuesta</f:facet>
                            <table width="100%" style="text-align: justify;"><tr><td>
                                 <h:outputText value="#{c.prevEficCamb}" escape="false"/> 
                             </td></tr></table>
                        </h:column>
                    </h:dataTable>

                    <b>Montos para fianzas y/o seguros</b>
                    <br/>
                    Requiere fianza y/o seguro, en su caso: 
                    <br/>			
                    <h:outputText value="#{capitulo6View.proyecto.finyoSegReq == 83 ? 'SI' : 'NO'}"/>
                    <br/>
                    <br/><br/><br/>
                    <!-- anexos -->
<!--                     Anexos: -->
<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=6,1,0,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </div>
                <div id="componenteActualiza" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModifica('foDatosGen');"/>
                </div>

                <div id="componenteCaptura" style="display:none;"><h:panelGroup id='panelCaptura'>			
<!--                     <h:dataTable styleClass="table" var="c" value="#{capitulo6View.medPreventivas}"> -->
<!--                         <h:column> -->
<!--                             <p:commandLink update=":foDatosGen:panelCaptura" actionListener="#{capitulo6View.
Med}"> -->
<!--                                 <h:graphicImage value="/assets/images/gobmx/icons/panel-collapsed.png" /> -->
<!--                                 <f:attribute name="idt" value="#{c.medPrevImpactProyPK.medPrevItId}" /> -->
<!--                             </p:commandLink> -->
<!--                         </h:column> -->
<!--                      <h:column> -->
<!--                             <f:facet name="header">Impacto</f:facet> -->
<!--                             <h:selectOneMenu value="#{c.prevImpactonom}"> -->
<!--                                 <f:selectItems value="#{capitulo6View.comboImpacto}" /> -->
<!--                             </h:selectOneMenu> -->
<!--                         </h:column> -->
<!--                         <h:column> -->
<!--                             <f:facet name="header">Medida(s) Propuestas(s)</f:facet> -->
<!--                             <p:commandButton icon="ui-icon-pencil" type="button" onclick="med#{c.medPrevImpactProyPK.medPrevImpactId}.show()" class="btn btn-default" style=" height: 20px;padding-left: 10px"/> -->
<!--                             <p:dialog widgetVar="med#{c.medPrevImpactProyPK.medPrevImpactId}" position="top" modal="true" width="600" height="500" header="Medida(s) Propuestas(s)"> -->
<!--                                 <p:inputTextarea value="#{c.prevMedProp}" cols="60" rows="20" maxlength="1000" -->
<!--                                                      counter="contadorMed" counterTemplate="Quedan {0} caracteres."/> -->
<!--                                         <br/> -->
<!--                                         <h:outputText id="contadorMed"/> -->
<!--                             </p:dialog> -->
<!--                         </h:column> -->
<!--                         <h:column> -->
<!--                             <f:facet name="header">Etapa</f:facet> -->
<!--                             <h:selectOneMenu value="#{c.etapaId}" converter="#{catEtapaConverterBean}"> -->
<!--                                 <f:selectItems value="#{catalogosView.catEtapa}" /> -->
<!--                             </h:selectOneMenu> -->
<!--                         </h:column> -->
<!--                         <h:column> -->
<!--                             <f:facet name="header">Recursos Necesarios: costos, equipos, obras, instrumentos, personal, etc.</f:facet> -->
<!--                             <p:commandButton icon="ui-icon-pencil" type="button" onclick="rec#{c.medPrevImpactProyPK.medPrevImpactId}.show()" class="btn btn-default" style=" height: 20px;padding-left: 10px"/> -->
<!--                             <p:dialog widgetVar="rec#{c.medPrevImpactProyPK.medPrevImpactId}" position="top" modal="true" width="600" height="500" header="Recursos Necesarios"> -->
<!--                                 <p:inputTextarea value="#{c.precRecNece}" cols="60" rows="20" maxlength="1000" -->
<!--                                                      counter="contadorRec" counterTemplate="Quedan {0} caracteres."/> -->
<!--                                         <br/> -->
<!--                                         <h:outputText id="contadorRec"/> -->
<!--                             </p:dialog> -->
<!--                         </h:column> -->
<!--                         <h:column> -->
<!--                             <f:facet name="header">Indicadores de eficiencia ambiental sobre la medida propuesta</f:facet> -->
<!--                             <p:commandButton icon="ui-icon-pencil" type="button" onclick="ind#{c.medPrevImpactProyPK.medPrevImpactId}.show()" class="btn btn-default" style=" height: 20px;padding-left: 10px"/> -->
<!--                             <p:dialog widgetVar="ind#{c.medPrevImpactProyPK.medPrevImpactId}" position="top" modal="true" width="600" height="500" header="Indicadores de eficiencia ambiental sobre la medida propuesta"> -->
<!--                                 <p:inputTextarea value="#{c.prevEficCamb}" cols="60" rows="20" maxlength="1000" -->
<!--                                                      counter="contadorInd" counterTemplate="Quedan {0} caracteres."/> -->
<!--                                         <br/> -->
<!--                                         <h:outputText id="contadorInd" /> -->
<!--                             </p:dialog> -->
<!--                         </h:column> -->
<!--                         <h:column> -->
<!--                             <f:facet name="header"> -->
<!--                                 <p:commandLink action="#{capitulo6View.agregarMed}" update=":foDatosGen:panelCaptura"> -->
<!--                                     <p:graphicImage value="/assets/images/gobmx/icons/panel.png" /> -->
<!--                                 </p:commandLink> -->
<!--                             </f:facet> -->
<!--                         </h:column> -->
<!--                     </h:dataTable> -->
                    <!-- Nuevas tablas para Medidas Preventivas -->
                   <h:panelGroup id="pSelSit">
<!--                    <p:dataTable styleClass="table table-bordered" value="#{capitulo6View.medPreventivas}" var="mp" paginator="true" paginatorPosition="bottom"  -->
<!--                    id="tablaDatos"  -->
<!--                    paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" -->
<!-- 	               rowsPerPageTemplate="5,10,15"> -->
<!--                             <p:column style="white-space: normal"> -->
<!--                                 <f:facet name="header">#</f:facet> -->
<!--                                 <div class="col-lg-12">                                 -->
<!--                                     <h:outputText value="#{mp.medPrevImpactProyPK.medPrevImpactId}"/> -->
<!--                                 </div> -->
<!--                             </p:column> -->
<!--                             <p:column style="white-space: normal"> -->
<!--                                 <f:facet name="header">Impacto</f:facet> -->
<!--                                 <div class="col-lg-12">                                 -->
<!--                                     <h:outputText value="#{mp.prevImpactonom}"/> -->
<!--                                 </div> -->
<!--                             </p:column> -->
<!--                             <p:column style="white-space: normal"> -->
<!--                                 <f:facet name="header">Medida(s) Propuesta(s)</f:facet> -->
<!--                                 <div class="col-lg-12">                                 -->
<!--                                     <p:inputTextarea id="control" value="#{mp.prevMedProp}" cols="50" rows="4" -->
<!--                                                  maxlength="200" readonly="true"/> -->
<!--                                 </div> -->
<!--                             </p:column> -->
<!--                            <p:column style="white-space: normal"> -->
<!--                                 <f:facet name="header"/> -->
<!--                            			<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{capitulo6View.consultarMed}" update=":Editar:pnlEditar, :Editar:pnlEditarHeader" oncomplete="modalEditar.show()"> -->
<!-- 			                         	<p:ajax process="@this" /> -->
<!-- 			                         	<f:param name="id" value="#{mp.medPrevImpactProyPK.medPrevImpactId}" /> -->
<!-- 			                        </p:commandButton> -->
<!--                             </p:column> -->
<!--                         </p:dataTable> -->
       <!-- Tabla para Etapa Preparacion del Sitio -->
       <h:panelGroup id="pnlPreparacion" rendered="#{!empty capitulo6View.medPreventivasPS}">
                   <h4>Preparación del sitio</h4>
                   <hr class="red"></hr>
                   <br />
                   <p:dataTable id="tablaDatosPS" styleClass="table table-responsive" value="#{capitulo6View.medPreventivasPS}"
                   		var="mps" rowIndexVar="rowIndexPS"
                        paginator="true" emptyMessage="Sin registros." paginatorPosition="bottom" rows="10" style="margin-bottom: 0;">
                                
                            <p:column style="white-space: normal; width:5%;text-align:center; ">
                                <f:facet name="header">#</f:facet>
                                <div class="col-lg-12">                                
                                    <h:outputText value="#{rowIndexPS+1}"/>
                                </div>
                            </p:column>
                            
                            <p:column style="white-space: normal; width:30%;text-align:center; ">
                                <f:facet name="header">Impacto</f:facet>
                                <div class="col-lg-12">                                
                                    <h:outputText value="#{mps.prevImpactonom}"/>
                                </div>
                            </p:column>
                            
                            <p:column style="white-space: normal">
                                <f:facet name="header">Medida(s) propuesta(s)</f:facet>                                 
                                <h:outputText value="#{mps.impactCaraCorta}"/>                                
                            </p:column>
                            
                           <p:column style="white-space: normal; width:5%;text-align:center; ">
                                <f:facet name="header"/>
                           			<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{capitulo6View.consultarMed}" update=":Editar:pnlEditar, :Editar:pnlEditarHeader" oncomplete="modalEditar.show()">
			                         	<p:ajax process="@this" />
			                         	<f:param name="prowindex" value="#{rowIndexPS+1}" />
			                         	<f:param name="id" value="#{mps.medPrevImpactProyPK.medPrevImpactId}" />
			                        </p:commandButton>
                            </p:column>
                            
                        </p:dataTable>
                        <br /><br />
              </h:panelGroup>
              <!-- Tabla para Etapa Construccion -->
              <h:panelGroup id="pnlConstruccion" rendered="#{!empty capitulo6View.medPreventivasC}">
              <h4>Construcción</h4>
              <hr class="red"></hr>
              <br />
              <p:dataTable id="tablaDatosC" styleClass="table table-responsive" value="#{capitulo6View.medPreventivasC}"
              		var="mpc" rowIndexVar="rowIndexC"
                	paginator="true" emptyMessage="Sin registros." paginatorPosition="bottom" rows="10" style="margin-bottom: 0;">
                           
                            <p:column style="white-space: normal; width:5%;text-align:center; ">
                                <f:facet name="header">#</f:facet>
                                <div class="col-lg-12">                                
                                    <h:outputText value="#{rowIndexC+1}"/>
                                </div>
                            </p:column>
                            <p:column style="white-space: normal; width:30%;text-align:center; ">
                                <f:facet name="header">Impacto</f:facet>
                                <div class="col-lg-12">                                
                                    <h:outputText value="#{mpc.prevImpactonom}"/>
                                </div>
                            </p:column>
                            <p:column style="white-space: normal">
                                <f:facet name="header">Medida(s) propuesta(s)</f:facet>
                                <div class="col-lg-12">                                
<!--                                     <h:outputText value="#{mp.prevMedProp}"/> 
                                    <p:inputTextarea id="control" value="#{mpc.prevMedProp}" cols="50" rows="4"
                                                 maxlength="200" readonly="true"/>-->
                                                 <h:outputText value="#{mpc.impactCaraCorta}"/>
                                </div>
                            </p:column>
                           <p:column style="white-space: normal; width:5%;text-align:center; ">
                                <f:facet name="header"/>
                           			<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{capitulo6View.consultarMed}" update=":Editar:pnlEditar, :Editar:pnlEditarHeader" oncomplete="modalEditar.show()">
			                         	<p:ajax process="@this" />
			                         	<f:param name="prowindex" value="#{rowIndexC+1}" />
			                         	<f:param name="id" value="#{mpc.medPrevImpactProyPK.medPrevImpactId}" />
			                        </p:commandButton>
                            </p:column>
                        </p:dataTable>
                        <br /><br />
              </h:panelGroup>
              <!-- Tabla para Etapa Operacion Mantenimiento -->
              <h:panelGroup id="pnlMantenimiento" rendered="#{!empty capitulo6View.medPreventivasOM}">
              <h4>Operación mantenimiento</h4>
              <hr class="red"></hr>
              <br />
              <p:dataTable id="tablaDatosO" styleClass="table table-responsive" value="#{capitulo6View.medPreventivasOM}"
              		var="mpom" rowIndexVar="rowIndexOM"
                    paginator="true" emptyMessage="Sin registros." paginatorPosition="bottom" rows="10" style="margin-bottom: 0;">
                           
                            <p:column style="white-space: normal; width:5%;text-align:center; ">
                                <f:facet name="header">#</f:facet>
                                <div class="col-lg-12">                                
                                    <h:outputText value="#{rowIndexOM+1}"/>
                                </div>
                            </p:column>
                            <p:column style="white-space: normal; width:30%;text-align:center; ">
                                <f:facet name="header">Impacto</f:facet>
                                <div class="col-lg-12">                                
                                    <h:outputText value="#{mpom.prevImpactonom}"/>
                                </div>
                            </p:column>
                            <p:column style="white-space: normal">
                                <f:facet name="header">Medida(s) propuesta(s)</f:facet>
                                <div class="col-lg-12">                                
<!--                                     <h:outputText value="#{mpc.prevMedProp}"/>
                                    <p:inputTextarea id="control" value="#{mpom.prevMedProp}" cols="50" rows="4"
                                                 maxlength="200" readonly="true"/>-->
                                                 <h:outputText value="#{mpom.impactCaraCorta}"/>
                                </div>
                            </p:column>
                           <p:column style="white-space: normal; width:5%;text-align:center; ">
                                <f:facet name="header"/>
                           			<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{capitulo6View.consultarMed}" update=":Editar:pnlEditar, :Editar:pnlEditarHeader" oncomplete="modalEditar.show()">
			                         	<p:ajax process="@this" />
			                         	<f:param name="prowindex" value="#{rowIndexOM+1}" />
			                         	<f:param name="id" value="#{mpom.medPrevImpactProyPK.medPrevImpactId}" />
			                        </p:commandButton>
                            </p:column>
                        </p:dataTable>
                        <br /><br />
              </h:panelGroup>
              <!-- Tabla para Etapa Abandono -->
              <h:panelGroup id="pnlAbandono" rendered="#{!empty capitulo6View.medPreventivasA}">
              <h4>Abandono</h4>
              <hr class="red"></hr>
              <br />
              <p:dataTable id="tablaDatosA" styleClass="table table-responsive" value="#{capitulo6View.medPreventivasA}"
              		var="mpa" rowIndexVar="rowIndexA"
                    paginator="true" emptyMessage="Sin registros." paginatorPosition="bottom" rows="10" style="margin-bottom: 0;">
                           
                            <p:column style="white-space: normal; width:5%;text-align:center; ">
                                <f:facet name="header">#</f:facet>
                                <div class="col-lg-12">
                                    <h:outputText value="#{rowIndexA+1}"/>
                                </div>
                            </p:column>
                            <p:column style="white-space: normal; width:30%;text-align:center; ">
                                <f:facet name="header">Impacto</f:facet>
                                <div class="col-lg-12">                                
                                    <h:outputText value="#{mpa.prevImpactonom}"/>
                                </div>
                            </p:column>
                            <p:column style="white-space: normal">
                                <f:facet name="header">Medida(s) propuesta(s)</f:facet>
                                <div class="col-lg-12">                                
<!--                                     <h:outputText value="#{mp.prevMedProp}"/>
                                    <p:inputTextarea id="control" value="#{mpa.prevMedProp}" cols="50" rows="4"
                                                 maxlength="200" readonly="true"/>-->
                                                 <h:outputText value="#{mpa.impactCaraCorta}"/>
                                </div>
                            </p:column>
                           <p:column style="white-space: normal; width:5%;text-align:center; ">
                                <f:facet name="header"/>
                           			<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{capitulo6View.consultarMed}" update=":Editar:pnlEditar, :Editar:pnlEditarHeader" oncomplete="modalEditar.show()">
			                         	<p:ajax process="@this" />
			                         	<f:param name="prowindex" value="#{rowIndexA+1}" />
			                         	<f:param name="id" value="#{mpa.medPrevImpactProyPK.medPrevImpactId}" />
			                        </p:commandButton>
                            </p:column>
                        </p:dataTable>
                </h:panelGroup>
           </h:panelGroup>
                    <!--  -->

                    <b>Montos para fianzas y/o seguros</b>
                    <br/>
                    Requiere fianza y/o seguro, en su caso: 
                    <h:selectOneMenu value="#{capitulo6View.proyecto.finyoSegReq}">
                        <f:selectItem itemValue="S" itemLabel="Si" />
                        <f:selectItem itemValue="N" itemLabel="No" />
                    </h:selectOneMenu>

                    <br/><br/><br/>
                    <!-- anexos -->
<!--                     Anexos: -->
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=6,1,0,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </h:panelGroup>
                
            </div><!-- Fin Componente Captura -->
            </h:panelGroup>

            <br/>
			<br/>
			<!-- ============================================================= TABLA AGREGADA DE ANEXOS =========================================================== -->        
                    
            <ui:include src="/anexosarchivos.xhtml"/>

            <div id="componenteGuarda" style="float: right;">
                <p:commandButton onsuccess="parent.actualizaBarra();" value="Guardar" class="btn btn-primary"  action="#{capitulo6View.guardar}"/>
            </div>

        </h:form>  

			<ui:include src="/ventanasModalesAnexos.xhtml"/>
			
     	<!-- Modal para Editar Resultado de Evaluacion de Impactos Ambientales -->
        <h:form id="Editar">
                         <p:dialog widgetVar="modalEditar" id="modalEditar" modal="true" showEffect="fade" hideEffect="fade" closable="false" width="50%" resizable="false" height="400">
                          <f:facet name="header">
							<p:outputPanel id="pnlEditarHeader">
								<h4 class="modal-title">Editar registro # #{capitulo6View.rowIndexMedPrevMit} </h4>	
  	 					    </p:outputPanel>
						  </f:facet>
						  <p:outputPanel id="pnlEditar">  
						  
						  				  <p:outputLabel value="Impacto"/>
						  				  <p:outputLabel value="" for="editarImpacto" />
						  				  <p:outputLabel value=":"/>
						  				  <br/>
                                          <p:inputText id="editarImpacto" class="form-control" value="#{capitulo6View.editMedidaPreventiva.prevImpactonom}" cols="50" rows="3" maxlength="100" readonly="true"/>
						  				  <br/>
						  				  <p:message id="msgeditarImpacto"	for="editarImpacto" display="true" />
						  				  <br/>
						  				  
						  				  <p:outputLabel value="Medida(s) propuesta(s)"/>
						  				  <p:outputLabel value="" for="medidasPropuestas"/>
						  				  <p:outputLabel value=":" />
						  				  <br/>
						  				  <p:inputTextarea id="medidasPropuestas" class="form-control" value="#{capitulo6View.editMedidaPreventiva.prevMedProp}" cols="50" rows="3" maxlength="1000" required="true"
                                                     counter="contador" counterTemplate="Quedan {0} caracteres." autoResize="false"/>
                                          <h:outputText id="contador"/>
                                          <br/> 
                                          <p:message id="msgmedidasPropuestas"	for="medidasPropuestas" display="true" />
						  				  <br/>
                                          
                                          <p:outputLabel value="Recursos necesarios: "/>
                                          <p:outputLabel value="costo, equipos, obras, instrumentos, personal, etc" />
                                          <p:outputLabel value="" for="recursosNecesarios" />
                                          <p:outputLabel value=":" />
                                          <br/>                                      
                                          
  						  				  <p:inputTextarea id="recursosNecesarios" class="form-control" value="#{capitulo6View.editMedidaPreventiva.precRecNece}" cols="50" rows="3" maxlength="1000" required="true"
                                                     counter="contador2" counterTemplate="Quedan {0} caracteres." autoResize="false"/>
                                          <h:outputText id="contador2" />
                                          <br/>
                                          <p:message id="msgrecursosNecesarios"	for="recursosNecesarios" display="true" />
						  				  <br/>
                                          
                                          <p:outputLabel value="Indicadores de eficiencia ambiental sobre la medida"/>
                                          <p:outputLabel value="propuesta"/>
                                          <p:outputLabel value="" for="indicadoresEficiencia" />
                                          <p:outputLabel value=":" />
                                          <br/>
						  				  <p:inputTextarea id="indicadoresEficiencia" class="form-control" value="#{capitulo6View.editMedidaPreventiva.prevEficCamb}" cols="50" rows="3" maxlength="1000" required="true"
                                                     counter="contador3" counterTemplate="Quedan {0} caracteres." autoResize="false"/>
                                          <h:outputText id="contador3" />
                                          <br/>
                                          
                                          <p:message id="msgindicadoresEficiencia"	for="indicadoresEficiencia" display="true" />
						  				  <br/>
                                          
                                          
                                          
                                  <div class="modal-footer">
                                  	<p:commandButton styleClass="btn btn-default" id="cerrarModalE" value="Cerrar" onclick="modalEditar.hide()" update="pnlEditar" immediate="true"/>
                                  
                                  	<p:commandButton styleClass="btn btn-primary" id="guardar" value="Guardar" update="editarImpacto, msgeditarImpacto, medidasPropuestas, msgmedidasPropuestas, recursosNecesarios, msgrecursosNecesarios, indicadoresEficiencia, msgindicadoresEficiencia,   :foDatosGen:tablaDatosPS,:foDatosGen:tablaDatosC,:foDatosGen:tablaDatosO,:foDatosGen:tablaDatosA, pnlEditar"
                                  	 action="#{capitulo6View.editarMed}"/>
                                                     
                                  </div>
                             </p:outputPanel>    
                          </p:dialog> 
        </h:form>  
               <h:form id="MensajeEditar">
                         <p:dialog widgetVar="modalMensajeEditar" id="modalMensajeEditar" modal="true">
                          <f:facet name="header">
							   	<h:form id="formMensajeHeader">
										<h4 class="modal-title">Aviso</h4>	   	
							   	</h:form>
						  </f:facet>
						  <p:outputPanel id="pnlMensaje">                                     
                                          
                                         <div class="alert alert-success"><SPAN class="glyphicon glyphicon-ok"></SPAN> Registro actualizado exitosamente.</div>
                                 
                                  <div class="modal-footer">
                                  	<p:commandButton styleClass="btn btn-primary btn-sm" id="cerrarModalM" value="Aceptar" onclick="modalMensajeEditar.hide()" update="pnlMensaje" immediate="true"/>
                                  </div>
                             </p:outputPanel>    
                          </p:dialog> 
        </h:form>
        <script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo6View.claveTramite}", nsub:"#{capitulo6View.proyecto.nsub}", capitulo: 6, subcapitulo: 1, seccion: -1, apartado: -1}, case_ayuda);
        </script>
    </h:body>
</html>
