<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
    <f:metadata>
		<f:viewAction action="#{archivosAnexosCap4Bean.consultarDesgloseDSACargaPagina(4,1,0,0)}" />
		<f:viewAction action="#{archivosAnexosCap4Bean.consultarDesgloseDAICargaPagina(4,1,2,0)}" />		
		<f:viewAction action="#{archivosAnexosCap4Bean.consultarDesgloseDSPCargaPagina(4,1,3,0)}" />	
	</f:metadata>	
	
    <h:head>
        <title></title>
<!--         <link rel="stylesheet" href="../../assets/css/gobmx.css"/> -->
<!--         <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/> -->
<!--         <script src="#{request.contextPath}/assets/js/jquery.min.js"></script> -->
<!--         <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script> -->

	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!--         <link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css"  rel="stylesheet" /> -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" type="text/css" />
	<!--         <link rel="stylesheet" href="#{request.contextPath}/assets/css/main_offline.css"/> -->
	<link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	
	<!-- Script de Gráfica Base Local - -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/scripts/main.js"></script>
	<script src="#{request.contextPath}/assets/scripts/plugins.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>

	<!--      	<script src="https://framework-gb-ssl.cdn.gob.mx/qa/gobmx.js"></script>  -->
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
        <!--Se agrega una variable para realizar la especificación del trámite al que pertenece-->
        <script type="text/javascript">
            <c:choose>
               <c:when test="#{capitulo4View.claveTramite eq 64 || capitulo4View.claveTramite eq 65}">
                   var titulo1 = "Delimitación del sistema ambiental";
               </c:when>
               <c:otherwise>
                   var titulo1 = "Delimitación del sistema ambiental regional";
               </c:otherwise>
            </c:choose> 
        </script>
        
    </h:head>
    <h:body onload="javascript:getInformacionAdicionalMulti('#{capitulo4View.strComentProy}','foDatosGen','1,0,0-' + titulo1 + '|1,2,0-Delimitación del área de influencia|1,3,0-Delimitación del sitio del proyecto')">
       <div class="col-md-12" id="mensaje"></div>
        <h:form id="foDatosGen">
        
            <ui:include src="/loading.xhtml"/>        	
        
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>

            <h:inputHidden id="ubicActual" value="#{capitulo4View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo4View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>
            
            <!-- Delimitación del Sistema Ambiental -->

			<c:set var="capituloDSA" value="4"/>
			<c:set var="subcapituloDSA" value="1"/>
			<c:set var="seccionDSA" value="0"/>
			<c:set var="apartadoDSA" value="0"/>
			
			<!-- Delimiacion del Area de Influencia -->

			<c:set var="capituloDAI" value="4"/>
			<c:set var="subcapituloDAI" value="1"/>
			<c:set var="seccionDAI" value="2"/>
			<c:set var="apartadoDAI" value="0"/>
			
			<!-- Delimitación del Sitio del Proyecto -->

			<c:set var="capituloDSP" value="4"/>
			<c:set var="subcapituloDSP" value="1"/>
			<c:set var="seccionDSP" value="3"/>
			<c:set var="apartadoDSP" value="0"/>
            
            <div id="pDelAmb">
                <div id="titulo1"></div>
<!--                 <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> -->
                <button id='case_btn_ayuda' type="button" class="btn btn-default"
						data-toggle="tooltip" data-placement="bottom">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<span class="glyphicon-class">Ayuda</span>
				</button>
                <br/><br/>
                <div id="componenteConsulta1" style="display:none">
                    <center>
                        <table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{capitulo4View.proyecto.descDelimSistemAmb eq null or capitulo4View.proyecto.descDelimSistemAmb eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{capitulo4View.proyecto.descDelimSistemAmb}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                        </td></tr></table>
                    </center>                    
                    Adjuntos
<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=4,1,1,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </div>
                <div id="componenteActualiza1" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','1');"/>
                </div>
                <div id="componenteCaptura1">		
                    <center>
                        <pe:ckEditor width="700" value="#{capitulo4View.proyecto.descDelimSistemAmb}"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>
                    <!-- anexos -->
<!--                     Anexos: -->
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,1,1,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
		<!-- ==================== TABLA DE ARCHIVOS DE Delimitacion del Sistema Ambiental ==================== -->
	
				<br/>
				<div id="botones" style="float: right;">
					<p:commandLink id="btnAgregarArchivoDSA" value="Agregar" class="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx" style="float:right;" oncomplete="modalSubirArchivo.show()" immediate="true"
						action="#{archivosAnexosCap4Bean.iniciarArchivo('DELIMITACIONSA')}" update=":formArchivosDisposicion:pnlArchivo">
						<f:param name="capitulo" value="#{capituloDSA}"/>
						<f:param name="subcapitulo" value="#{subcapituloDSA}"/>
						<f:param name="seccion" value="#{seccionDSA}"/>
						<f:param name="apartado" value="#{apartadoDSA}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
					</p:commandLink>
										
					<p:commandLink id="btnEliminarArchivoDSA" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar" value="Eliminar" style="float:right;" 
									 update=":fEliminarArchivo:pnlMensajeEliminarArchivo" action="#{archivosAnexosCap4Bean.abrirModalEliminarArchivo}" 
									 disabled="#{archivosAnexosCap4Bean.listaSeleccionadosDSA.size() == 0 || archivosAnexosCap4Bean.archivosGeneralDelimitacionSA.size() == 0}" 
									 oncomplete="dlgEliminarArchivoAnexo.show()">
						<f:param name="eliminarArchivo" value="DELIMITACIONSA"/>
						<f:param name="capitulo" value="#{capituloDSA}"/>
						<f:param name="subcapitulo" value="#{subcapituloDSA}"/>
						<f:param name="seccion" value="#{seccionDSA}"/>
						<f:param name="apartado" value="#{apartadoDSA}"/>								
					</p:commandLink>
				</div>
			
					<h3>Adjuntos</h3>
					<p:dataTable id="tablaArchivoDelimitacionSA" styleClass="table table-responsive" value="#{archivosAnexosCap4Bean.archivosGeneralDelimitacionSA}" var="archDSA" rowIndexVar="rowIndexSA"
								 selection="#{archivosAnexosCap4Bean.listaSeleccionadosDSA}" rowKey="#{archDSA.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
						
						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoDSA" />
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoDSA" />
						<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoDSA" />
		
						<p:column selectionMode="multiple" style="width:50px" />
			
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
<!-- 							<h:outputText value="#{archDSA.id}" /> -->
							<h:outputText value="#{rowIndexSA+1}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Nombre</f:facet>
							<h:outputText value="#{archDSA.nombre}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Descripción</f:facet>
							<h:outputText value="#{archDSA.descripcion}" />
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header"></f:facet>
				            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
				                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archDSA.seqId}'); return false;"/>					
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header" />
							<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap4Bean.consultarArchivo(4,1,0,0)}"
											 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
								<f:param name="id" value="#{archDSA.id}" />
								<f:param name="pRowIndex" value="#{rowIndexSA+1}" />
								<f:param name="actualizarArchivo" value="DELIMITACIONSA"/>
								<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
							</p:commandButton>
						</p:column>
				</p:dataTable>
<!-- ==================== TABLA DE ARCHIVOS DE Delimitacion del Sistema Ambiental ==================== -->

					
                </div>
            </div>

            <div id="pDelAre">
                <div id="titulo2"></div>
<!--                 <button id='case_btn_ayuda1' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> -->
	            <button id='case_btn_ayuda1' type="button" class="btn btn-default"
						data-toggle="tooltip" data-placement="bottom">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<span class="glyphicon-class">Ayuda</span>
				</button>
                <br/><br/>
                <div id="componenteConsulta2" style="display:none">
                    <center>
                        <table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{capitulo4View.proyecto.descDelimAreaInflu eq null or capitulo4View.proyecto.descDelimAreaInflu eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{capitulo4View.proyecto.descDelimAreaInflu}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                        </td></tr></table>
                    </center>                    
                    Adjuntos
<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=4,1,2,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </div>
                <div id="componenteActualiza2" style="display:none; float: right; margin-right: 20px">
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','2');"/>
                </div>

                <div id="componenteCaptura2">		
                    <center>
                        <pe:ckEditor width="700" value="#{capitulo4View.proyecto.descDelimAreaInflu}"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>
                    <!-- anexos -->
<!--                     Anexos: -->
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,1,2,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
<!-- ==================== TABLA DE ARCHIVOS DE Delimitacion del Area de Influencia ==================== -->
	
				<br/>
				<div id="botones" style="float: right;">
					<p:commandLink id="btnAgregarArchivoDAI" value="Agregar" class="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx" style="float:right;" oncomplete="modalSubirArchivo.show()" immediate="true"
						action="#{archivosAnexosCap4Bean.iniciarArchivo('DELIMITACIONAI')}" update=":formArchivosDisposicion:pnlArchivo">
						<f:param name="capitulo" value="#{capituloDAI}"/>
						<f:param name="subcapitulo" value="#{subcapituloDAI}"/>
						<f:param name="seccion" value="#{seccionDAI}"/>
						<f:param name="apartado" value="#{apartadoDAI}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
					</p:commandLink>
										
					<p:commandLink id="btnEliminarArchivoDAI" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar" value="Eliminar" style="float:right;" 
									 update=":fEliminarArchivo:pnlMensajeEliminarArchivo" action="#{archivosAnexosCap4Bean.abrirModalEliminarArchivo}" 
									 disabled="#{archivosAnexosCap4Bean.listaSeleccionadosDAI.size() == 0 || archivosAnexosCap4Bean.archivosGeneralDelimitacionAI.size() == 0}" 
									 oncomplete="dlgEliminarArchivoAnexo.show()">
						<f:param name="eliminarArchivo" value="DELIMITACIONAI"/>
						<f:param name="capitulo" value="#{capituloDAI}"/>
						<f:param name="subcapitulo" value="#{subcapituloDAI}"/>
						<f:param name="seccion" value="#{seccionDAI}"/>
						<f:param name="apartado" value="#{apartadoDAI}"/>								
					</p:commandLink>
				</div>
			
					<h3>Adjuntos</h3>
					<p:dataTable id="tablaArchivoDelimitacionAI" styleClass="table table-responsive" value="#{archivosAnexosCap4Bean.archivosGeneralDelimitacionAI}" var="archDAI" rowIndexVar="rowIndexDAI"
								 selection="#{archivosAnexosCap4Bean.listaSeleccionadosDAI}" rowKey="#{archDAI.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
						
						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoDAI" />
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoDAI" />
						<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoDAI" />
		
						<p:column selectionMode="multiple" style="width:50px" />
			
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
<!-- 							<h:outputText value="#{archDAI.id}" /> -->
							<h:outputText value="#{rowIndexDAI+1}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Nombre</f:facet>
							<h:outputText value="#{archDAI.nombre}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Descripción</f:facet>
							<h:outputText value="#{archDAI.descripcion}" />
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header"></f:facet>
				            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
				                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archDAI.seqId}'); return false;"/>					
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header" />
							<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap4Bean.consultarArchivo(4,1,2,0)}"
											 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
								<f:param name="id" value="#{archDAI.id}" />
								<f:param name="pRowIndex" value="#{rowIndexDAI+1}" />
								<f:param name="actualizarArchivo" value="DELIMITACIONAI"/>
								<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
							</p:commandButton>
						</p:column>
				</p:dataTable>
<!-- ==================== TABLA DE ARCHIVOS DE Delimitación del Sistema Ambiental ==================== -->
                </div>
            </div>

            <div id="pDelSit">
                <div id="titulo3"></div>
<!--                 <button id='case_btn_ayuda2' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> -->
	            <button id='case_btn_ayuda2' type="button" class="btn btn-default"
						data-toggle="tooltip" data-placement="bottom">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<span class="glyphicon-class">Ayuda</span>
				</button>
                <br/><br/>
                <div id="componenteConsulta3" style="display:none">
                    <center>
                        <table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{capitulo4View.proyecto.descDelimSitProy eq null or capitulo4View.proyecto.descDelimSitProy eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{capitulo4View.proyecto.descDelimSitProy}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                        </td></tr></table>
                    </center>                    
                    Adjuntos
<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=4,1,3,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </div>
                <div id="componenteActualiza3" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','3');"/>
                </div>

                <div id="componenteCaptura3">		
                    <center>
                        <pe:ckEditor width="700" value="#{capitulo4View.proyecto.descDelimSitProy}"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>
                    <!-- anexos -->
<!--                     Anexos: -->
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,1,3,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
<!-- ==================== TABLA DE ARCHIVOS DE Delimitacion del Sitio del Proyecto ==================== -->
				
				<br/>
				<div id="botones" style="float: right;">
					<p:commandLink id="btnAgregarArchivoDSP" value="Agregar" class="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx" style="float:right;" oncomplete="modalSubirArchivo.show()" immediate="true"
						action="#{archivosAnexosCap4Bean.iniciarArchivo('DELIMITACIONSP')}" update=":formArchivosDisposicion:pnlArchivo">
						<f:param name="capitulo" value="#{capituloDSP}"/>
						<f:param name="subcapitulo" value="#{subcapituloDSP}"/>
						<f:param name="seccion" value="#{seccionDSP}"/>
						<f:param name="apartado" value="#{apartadoDSP}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
					</p:commandLink>
										
					<p:commandLink id="btnEliminarArchivoDSP" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar" value="Eliminar" style="float:right;" 
									 update=":fEliminarArchivo:pnlMensajeEliminarArchivo" action="#{archivosAnexosCap4Bean.abrirModalEliminarArchivo}" 
									 disabled="#{archivosAnexosCap4Bean.listaSeleccionadosDSP.size() == 0 || archivosAnexosCap4Bean.archivosGeneralDelimitacionSP.size() == 0}" 
									 oncomplete="dlgEliminarArchivoAnexo.show()">
						<f:param name="eliminarArchivo" value="DELIMITACIONSP"/>
						<f:param name="capitulo" value="#{capituloDSP}"/>
						<f:param name="subcapitulo" value="#{subcapituloDSP}"/>
						<f:param name="seccion" value="#{seccionDSP}"/>
						<f:param name="apartado" value="#{apartadoDSP}"/>								
					</p:commandLink>
				</div>
			
					<h3>Adjuntos</h3>
					<p:dataTable id="tablaArchivoDelimitacionSP" styleClass="table table-responsive" value="#{archivosAnexosCap4Bean.archivosGeneralDelimitacionSP}" var="archDSP" rowIndexVar="rowIndexSP"
								 selection="#{archivosAnexosCap4Bean.listaSeleccionadosDSP}" rowKey="#{archDSP.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
						
						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoDSP" />
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoDSP" />
						<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoDSP" />
		
						<p:column selectionMode="multiple" style="width:50px" />
			
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
<!-- 							<h:outputText value="#{archDSP.id}" /> -->
							<h:outputText value="#{rowIndexSP+1}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Nombre</f:facet>
							<h:outputText value="#{archDSP.nombre}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Descripción</f:facet>
							<h:outputText value="#{archDSP.descripcion}" />
						</p:column>
			
						<p:column style="white-space: normal; width:100px">
							<f:facet name="header"></f:facet>
				            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
				                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archDSP.seqId}'); return false;"/>					
						</p:column>
			
						<p:column style="white-space: normal; width:100px">
							<f:facet name="header" />
							<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap4Bean.consultarArchivo(4,1,3,0)}"
											 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
								<f:param name="id" value="#{archDSP.id}" />
								<f:param name="pRowIndex" value="#{rowIndexSP+1}" />
								<f:param name="actualizarArchivo" value="DELIMITACIONSP"/>
								<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
							</p:commandButton>
						</p:column>
			</p:dataTable>
<!-- ==================== TABLA DE ARCHIVOS DE Delimitación del Sitio del Proyecto ==================== -->
                </div>
            </div>

            <c:set value="4.1" target="#{capitulo4View}" property="seccion" />
<!--             <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" /> -->

            
            <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right:  20px">
                <br/>
                <br/>
                <p:commandButton onsuccess="parent.actualizaBarra();" value="Guardar" class="btn btn-primary"  action="#{capitulo4View.guardar}"/>
            </div>        

        </h:form>

		<br/>
		<br/>
		<br/>
				
		<ui:include src="/ventanasModalesAnexosCap4Delimitacion.xhtml"/>

        <script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo4View.claveTramite}", nsub:"#{capitulo4View.proyecto.nsub}", capitulo: 4, subcapitulo: 1, seccion: -1, apartado: -1 }, case_ayuda); 
            $('#case_btn_ayuda1').click({vClaveTramite:"#{capitulo4View.claveTramite}", nsub:"#{capitulo4View.proyecto.nsub}", capitulo: 4, subcapitulo: 1, seccion: 2, apartado: -1 }, case_ayuda); 
            $('#case_btn_ayuda2').click({vClaveTramite:"#{capitulo4View.claveTramite}", nsub:"#{capitulo4View.proyecto.nsub}", capitulo: 4, subcapitulo: 1, seccion: 3, apartado: -1 }, case_ayuda); 
        </script>
    </h:body>
</html>
