<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="formHidroSuperficial" styleClass="formHidroSuperficial">

		<div class="semarnat_ayuda" id='case_pnl_ayuda'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>

		<div id="hidroSuper">
			<h3>Hidrología superficial</h3>
			<hr class="red" />
			<button id='case_btn_ayuda_hidro' type="button"
				class="btn btn-default" data-toggle="tooltip"
				data-placement="bottom">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				<span class="glyphicon-class">Ayuda</span>
			</button>
			<hr></hr>
			<h:panelGroup styleClass="tableTOhSub" id="tableTOhSub">
<p:dataTable styleClass="table table-striped dataTableHidro" var="m" rowIndexVar="rowIndex"
					value="#{hidrologia.dtmdl}" binding="#{hidrologia.dataTable}"
					id="dataTableHidro" emptyMessage="Sin registros." paginator="true" paginatorPosition="bottom" rows="10">
					<p:column style="white-space: normal;width:5%;text-align:center;font-size: 16px;">
						<f:facet name="header">#</f:facet>
<!--                             #{m.hidroId} -->
								#{rowIndex+1}
                            
                    </p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Cuenca</f:facet>
                            #{m.hidroCuenca}
                    </p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Subcuenca</f:facet>
                            #{m.hidroSubcuenca}
                    </p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Microcuenca</f:facet>
                            #{m.hidroMicrocuenca}
                </p:column>
				</p:dataTable>
			<br />
<!-- TABLA DE CUENCAS -->
<!-- 				<p:dataTable value="#{capitulo4View.cuencas}" var="cuenca" -->
<!-- 						paginator="true" paginatorPosition="bottom" id="tablaDatos" -->
<!-- 						emptyMessage="Sin registros."> -->
<!-- 						<p:column -->
<!-- 							style="white-space: normal; width: 50px; text-align: center;"> -->
<!-- 							<f:facet name="header">#</f:facet> -->
<!-- 							<h:outputText value="#{cuenca.cuencaProyectoPK.cuencaId}" /> -->
<!-- 						</p:column> -->
<!-- 						<p:column style="white-space: normal"> -->
<!-- 							<f:facet name="header">Cuenca</f:facet> -->
<!-- 							<h:outputText value="#{cuenca.cuenca}" /> -->
<!-- 						</p:column> -->
<!-- 						<p:column style="white-space: normal"> -->
<!-- 							<f:facet name="header">Sub Cuenca</f:facet> -->
<!-- 							<h:outputText -->
<!-- 								value="#{cuenca.subCuenca}" /> -->
<!-- 						</p:column> -->
<!-- 						<p:column style="white-space: normal"> -->
<!-- 							<f:facet name="header">Micro Cuenca</f:facet> -->
<!-- 							<h:outputText value="#{cuenca.microCuenca}" /> -->
<!-- 						</p:column> -->
<!-- 					</p:dataTable> -->
					
					<br/>
					<br/>

	<!-- TABLA DE CUERPOS DE AGUA -->
				<h3>Cuerpos de agua</h3>
				<hr class="red" />
					<div id="botones" style="float: right;">
							<!-- mas -->
							<p:commandLink styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
								value="Agregar" 
								type="button"
								actionListener="#{capitulo4View.crearCuerpoAgua()}"
								update=":Agregar:pnlAgregar"
								oncomplete="modalAgregar.show()" immediate="true">
								<span class="glyphicon glyphicon-plus"></span> Agregar						
								<p:ajax process="@this" />
							</p:commandLink>
							<!-- menos -->
					
							<p:commandLink id="btnEliminar"
								class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
								value="Eliminar"
								update=":EliminarCuerpo:pnlEliminarCuerpo"
								oncomplete="modalEliminarCuerpo.show()"
								disabled="#{capitulo4View.selectedCuerposAgua.size() == 0}" >
							</p:commandLink><br />	
				     </div>
				     <br />
				     <br />
				     <br />
					<p:dataTable value="#{capitulo4View.cuerposAgua}" var="cagua" rowIndexVar ="rowIndex"
						paginator="true" paginatorPosition="bottom" id="tablaDatosCuerposAgua"
						selection="#{capitulo4View.selectedCuerposAgua}"
						rowKey="#{cagua.cuerposAguaProyectoPK.cuerposAguaId}"
						emptyMessage="Sin registros.">
						<!--  -->

						<p:ajax event="rowSelectCheckbox" update=":formHidroSuperficial:btnEliminar" />
						<p:ajax event="rowUnselectCheckbox"
							update=":formHidroSuperficial:btnEliminar" />
						<p:ajax event="toggleSelect" update=":formHidroSuperficial:btnEliminar" />
						<p:column id="check" selectionMode="multiple"
							style="width:5%;text-align:center">
							<!--<f:ajax execute="eliminarR" render="eliminarB" event="change" />-->
						</p:column>
						<!--  -->
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
							<!-- <h:outputText value="#{cagua.cuerposAguaProyectoPK.cuerposAguaId}" />-->
							<h:outputText value="#{rowIndex+1}" />
						</p:column>
						<p:column style="white-space: normal">
							<f:facet name="header">Nombre</f:facet>
							<h:outputText value="#{cagua.nombre}" />
						</p:column>
						<p:column style="white-space: normal">
							<f:facet name="header">Tipo</f:facet>
							<h:outputText
								value="#{cagua.tipo.clasificacionB}" />
						</p:column>
						<p:column style="white-space: normal">
							<f:facet name="header">Distancia al proyecto(m)</f:facet>
							<h:outputText value="#{cagua.distancia}" />
						</p:column>
						<p:column
							style="white-space: normal; width: 80px; text-align: center;">
							<f:facet name="header" />
							<p:commandButton
								class="btn btn-default btn-xs glyphicon glyphicon-pencil"
								value="" action="#{capitulo4View.consultarCuerpoAgua}"
								update=":EditarCA:pnlEditarCA,:EditarCA:pnlEditarHeaderCA"
								oncomplete="modalEditarCA.show()" immediate="true">
 								<f:param name="prowindexCAgua" value="#{rowIndex+1}" />
								<f:param name="id" value="#{cagua.cuerposAguaProyectoPK.cuerposAguaId}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
					<br />
					<br />

			</h:panelGroup>
			
<!-- 			<h4>Descripción</h4> -->
<!-- 					<br /> -->
<!-- 					<pe:ckEditor width="100%" value="#{hidrologiaSub.hidroSupObserva}" -->
<!-- 						toolbar="[[ 'Undo','Redo' ], -->
<!--                                        [ 'Bold','Italic','Underline','Subscript','Superscript',], -->
<!--                                    	   [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],  -->
<!--                                       ['Link','-','Table'],[ 'TextColor','BGColor' ]]" />  -->
<!--                     		<br /> -->
<!-- 				<p:commandButton value="Guardar Cuerpo de Agua" -->
<!-- 					styleClass="btn btn-primary alinDerecha" -->
<!-- 					actionListener="#{capitulo4View.saveObs}"  -->
<!-- 					onsuccess="myDialogHidroSub1.show()"/> -->
<!-- 					<br /> -->
<!-- 					<br /> -->
<!-- 				<p:dialog widgetVar="myDialogHidroSub1" modal="true" id="myDialogHidroSub" -->
<!-- 					header="Aviso1"> -->
<!-- 					<div class="modal-body"> -->
<!-- 						<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Guardado correctamente.</div> -->
<!-- 						<div class="modal-footer"> -->
<!-- 							<p:commandButton styleClass="btn btn-primary alinDerecha" -->
<!-- 								onclick="myDialogHidroSub1.hide()" value="Aceptar" /> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</p:dialog>	 -->
					<br />
					<br />

		</div>
	</h:form>
<!-- Ventana modal para agregar Cuerpos de Agua -->
	<h:form id="Agregar">
		<p:dialog widgetVar="modalAgregar" id="modalAgregar" modal="true">
			<f:facet name="header">
				<h:form id="formHeader">
					<h4 class="modal-title">Cuerpos de agua - agregar</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlAgregar">
				<p:outputLabel value="Nombre" />
				<p:outputLabel value="" for="nombre" />
				<p:outputLabel value=":" />
				<br />
				<p:inputText id="nombre" class="form-control"
					value="#{capitulo4View.cuerpoAgua.nombre}" cols="50" rows="3"
					maxlength="100" required="true" requiredMessage="Este campo es obligatorio"
					autoResize="false" />
				<br />
				<p:message id="msgNombre" for="nombre" display="true" />
				<br />

				<p:outputLabel value="Tipo" />
				<p:outputLabel value="" for="tipo" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="tipo" class="form-control"
					value="#{capitulo4View.cuerpoAgua.tipo}"
					converter="#{catClasificacionBConverterBean}"
					required="true" requiredMessage="Este campo es obligatorio"
					hideNoSelectionOption="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{capitulo4View.catClasificacionB}" />
				</h:selectOneMenu>
				<br />
				<p:message id="msgtipo" for="tipo" display="true" />
				<br />

				<p:outputLabel value="Distancia al proyecto(m)" />
				<p:outputLabel value="" for="distaciaProyecto" />
				<p:outputLabel value=":" />
				<br />
				<p:inputText id="distaciaProyecto" class="form-control"
					value="#{capitulo4View.cuerpoAgua.distancia}" cols="50" rows="3"
					maxlength="5" required="true" requiredMessage="Este campo es obligatorio"
					autoResize="false">
					<pe:keyFilter regEx="/[\d\-\.]/" />
				</p:inputText>
				<br />
				<p:message id="msgdistaciaProyecto" for="distaciaProyecto" display="true" />
				<br />

				<div class="modal-footer">
					<p:commandButton id="cerrarModalA" styleClass="btn btn-default"
						value="Cerrar" onclick="modalAgregar.hide()" update="pnlAgregar"
						immediate="true" />

					<p:commandButton id="guardar" styleClass="btn btn-primary botonEliminar alinDerecha"
						value="Guardar" action="#{capitulo4View.agregarCuerpoAgua}"
						update=":formHidroSuperficial:tablaDatosCuerposAgua, :Agregar:pnlAgregar" />

				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>
<!-- Ventana modal para editar cuerpos de agua -->
	<h:form id="EditarCA">
		<p:dialog widgetVar="modalEditarCA" id="modalEditarCA" modal="true"
			width="50%">
			<f:facet name="header">
				<p:outputPanel id="pnlEditarHeaderCA">
					<h4 class="modal-title">Cuerpo de agua - editar # #{capitulo4View.rowIndexCAguaEditar}</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditarCA">
				<p:outputLabel value="Nombre" />
				<p:outputLabel value="" for="nombre" />
				<p:outputLabel value=":" />
				<br />
				<p:inputText id="nombre" class="form-control"
					value="#{capitulo4View.editCuerpoAgua.nombre}" cols="50" rows="3"
					maxlength="100" required="true" requiredMessage="Este campo es obligatorio"
					autoResize="false" />
				<br />
				<p:message id="msgNombre" for="nombre" display="true" />
				<br />

				<p:outputLabel value="Tipo" />
				<p:outputLabel value="" for="tipo" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="tipo" class="form-control"
					value="#{capitulo4View.editCuerpoAgua.tipo}"
					converter="#{catClasificacionBConverterBean}"
					required="true" requiredMessage="Este campo es obligatorio"
					hideNoSelectionOption="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{capitulo4View.catClasificacionB}" />
				</h:selectOneMenu>
				<br />
				<p:message id="msgtipo" for="tipo" display="true" />
				<br />

				<p:outputLabel value="Distancia al proyecto(m)" />
				<p:outputLabel value="" for="distaciaProyecto" />
				<p:outputLabel value=":" />
				<br />
				<p:inputText id="distaciaProyecto" class="form-control"
					value="#{capitulo4View.editCuerpoAgua.distancia}" cols="50" rows="3"
					maxlength="5" required="true" requiredMessage="Este campo es obligatorio"
					autoResize="false">
					<pe:keyFilter regEx="/[\d\-\.]/" />
				</p:inputText>
				<br />
				<p:message id="msgdistaciaProyecto" for="distaciaProyecto" display="true" />
				<br />


				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-default" id="cerrarModalE"
						value="Cerrar" onclick="modalEditarCA.hide()" update="pnlEditarCA"
						immediate="true" />

					<p:commandButton styleClass="btn btn-primary botonEliminar alinDerecha" id="guardar"
						value="Guardar" action="#{capitulo4View.editarCuerpoAgua}"
						update=":formHidroSuperficial:tablaDatosCuerposAgua, :EditarCA:pnlEditarCA" />

				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>
	
<!-- Ventana modal para eliminar Registros de Cuerpos de agua -->
<h:form id="EliminarCuerpo">
		<p:dialog widgetVar="modalEliminarCuerpo" id="modalEliminarCuerpo" modal="true">
			<f:facet name="header">
				<h:form id="formEliminarHeader">
					<h4 class="modal-title">Cuerpos de Agua - eliminar</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlEliminarCuerpo">

				<div class="alert alert-warning">
					<SPAN class="glyphicon glyphicon-warning-sign"></SPAN> ¿Realmente desea borrar el(los) registro(s)?
				</div>
				<ui:repeat value="#{capitulo4View.selectedCuerposAgua}" var="ca">
					<h:outputText value="#{ca.nombre}"/>
					<br/>
				</ui:repeat>
				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-default" id="respuestaNo"
						value="No" onclick="modalEliminarCuerpo.hide()" />
					<p:commandButton styleClass="btn btn-primary botonEliminar alinDerecha" id="respuestaSi"
						value="Si" action="#{capitulo4View.eliminarCuerpoAgua}"
						onclick="modalEliminarCuerpo.hide()" update=":formHidroSuperficial:tablaDatosCuerposAgua, :formHidroSuperficial:btnEliminar" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>
	<!-- Ventana modal de mensaje de agregar -->
		<h:form id="Mensaje">
		<p:dialog widgetVar="modalMensaje" id="modalMensaje" modal="true">
			<f:facet name="header">
				<h:form id="formMensajeHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensaje">

				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro guardado
					exitosamente.
				</div>

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary" id="cerrarModalM"
						value="Aceptar" onclick="modalMensaje.hide()" update="pnlMensaje"
						immediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>
		<h:form id="MensajeEliminar">
		<p:dialog widgetVar="modalMensajeEliminar" id="modalMensajeEliminar"
			modal="true">
			<f:facet name="header">
				<h:form id="formMensajeEliminarHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensajeEliminar">

				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-remove"></SPAN> Registro eliminado
					exitosamente.
				</div>

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary" id="cerrarModalME"
						value="Aceptar" onclick="modalMensajeEliminar.hide()"
						update="pnlMensajeEliminar" immediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<h:form id="MensajeEditarCuerpoAgua">
		<p:dialog widgetVar="modalMensajeEditarCuerpoAgua" id="modalMensajeEditarCuerpoAgua"
			modal="true">
			<f:facet name="header">
				<h:form id="formMensajeHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensaje">

				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro actualizado
					exitosamente.
				</div>

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary" id="cerrarModalM"
						value="Aceptar" onclick="modalMensajeEditarCuerpoAgua.hide()"
						update="pnlMensaje" immediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

</ui:composition>

