<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:form id="formHidroSub" styleClass="formHidroSub">
				<h4>Descripción</h4>
					<br />
					<pe:ckEditor width="100%" value="#{hidrologiaSub.hidroSupObserva}"
						toolbar="[[ 'Undo','Redo' ],
                                       [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                   	   [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'], 
                                      ['Link','-','Table'],[ 'TextColor','BGColor' ]]" /> 
                   <br /><br />       

		<div class="semarnat_ayuda" id='case_pnl_ayuda1'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt1"></div>
		</div>
<!-- 		<h:outputLabel value="#{hidrologiaSub.capituloHidrologiaSub}" /> -->
		<div id="hidroSub">
			<h3>Hidrolog&iacute;a subterr&aacute;nea</h3>
			<hr class="red" />
			<h:panelGroup id="tableTO">
				<p:dataTable var="m" rowIndexVar="rowIndexHidSub"
					value="#{hidrologiaSub.dtmdl}" id="dataTableHidroSub" paginator="true" paginatorPosition="bottom" rows="10"
					binding="#{hidrologiaSub.dataTable}" emptyMessage="Sin registros.">

					<p:column style="white-space: normal; width: 5%; text-align: center;">
						<f:facet name="header">#</f:facet>
						<h:outputText value="#{rowIndexHidSub+1}" />
					</p:column>

					<p:column style="white-space: normal;">
						<f:facet name="header">Nombre del acu&iacute;fero</f:facet>
                            #{m.nomAcui}
                    </p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Disponibilidad</f:facet>
                            #{m.descDispo}
                    </p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Fecha DOF</f:facet>
						<h:outputText value="#{m.fechaDof}">
							<f:convertDateTime pattern="dd MM yyyy" />
						</h:outputText>
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">¿Sobre explotado?</f:facet>
                            #{m.sobreexp}
                </p:column>
				</p:dataTable>

				<!--              PAGINACION               -->
<!-- 				<ul class="pagination"> -->
<!-- 					<li><h:commandLink -->
<!-- 							rendered="#{hidrologiaSub.pagination.hasPreviousPage}">&laquo; -->
<!-- 	          			<p:ajax immediate="true" -->
<!-- 								listener="#{hidrologiaSub.previous}" update="@(.tableTO)" /> -->
<!-- 						</h:commandLink></li> -->

<!-- 					<c:forEach items="#{hidrologiaSub.listaPaginas}" var="pag"> -->
<!-- 						<li><h:commandLink immediate="true">#{pag.intValue() + 1} -->
<!-- 	          			<p:ajax immediate="true" -->
<!-- 									listener="#{hidrologiaSub.inPage(pag)}" update="@(.tableTO)" /> -->
<!-- 							</h:commandLink></li> -->
<!-- 					</c:forEach> -->


<!-- 					<li><h:commandLink -->
<!-- 							rendered="#{hidrologiaSub.pagination.hasNextPage}">&raquo; -->
<!-- 	          			<p:ajax immediate="true" listener="#{hidrologiaSub.next}" -->
<!-- 								update="@(.tableTO)" /> -->
<!-- 						</h:commandLink></li> -->
<!-- 				</ul> -->
<!-- 				<h:outputText -->
<!-- 					value="Mostrando Registros del #{hidrologiaSub.pagination.pageFirstItem + 1} al  #{hidrologiaSub.pagination.pageLastItem + 1} de los #{hidrologiaSub.pagination.itemsCount} encontrados" -->
<!-- 					rendered="#{hidrologiaSub.dtmdl.rowCount > 0}" />&nbsp;     -->
<!-- 			    <p:outputLabel value="Sin registros." -->
<!-- 					rendered="#{hidrologiaSub.dtmdl.rowCount == 0}" /> -->
					
			</h:panelGroup>


		</div>
		
		<h4>Observaciones</h4>
		<br />
					<pe:ckEditor width="100%" value="#{hidrologiaSub.hidroSubtObserva}"
						toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]" />
		<br />
				<p:commandButton value="Guardar hidrología"
					styleClass="btn btn-primary alinDerecha"
					actionListener="#{hidrologiaSub.saveObs}" 
					onsuccess="myDialogHidroSub.show()"/>
					<br />
					<br />
				<p:dialog widgetVar="myDialogHidroSub" modal="true" id="myDialogHidroSub"
					header="Aviso">
					<div class="modal-body">
						<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Guardado correctamente.</div>
						<div class="modal-footer">
							<p:commandButton styleClass="btn btn-primary alinDerecha"
								onclick="myDialogHidroSub.hide()" value="Aceptar" />
						</div>
					</div>
				</p:dialog>					
					
	</h:form>
</ui:composition>

