<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
    <f:metadata>
		<f:viewAction action="#{archivosAnexosBean.consultarDesgloseCapitulo(4,3,0,0)}" />
	</f:metadata>      
      
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
        <link href="assets/images/favicon.ico" rel="shortcut icon" />
<!-- 		<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
<!--         <link rel="stylesheet" href="#{request.contextPath}/assets/css/main_offline.css"/> -->

		<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		

	<!--  Script de Gráfica Base Local - -->
		<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>         
        
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
    </h:head>
    <h:body onload="javascript:getInformacionAdicional('#{capitulo4View.strComentProy}','foDatosGen',3,0,0,'Paisaje');">
    <div class="col-md-12" id="mensaje"></div>
 		<ui:include src="/loading.xhtml"/>
        
		<c:set var="capitulo" value="4"/>
		<c:set var="subcapitulo" value="3"/>
		<c:set var="seccion" value="0"/>
		<c:set var="apartado" value="0"/>        
        
        <h:form id="foDatosGen">
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>
            
            <h:inputHidden id="ubicActual" value="#{capitulo4View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo4View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>
            

            <div id="pDelAmb">
                <div id="titulo"></div>
                
				<button id='case_btn_ayuda' type="button" class="btn btn-default"
						data-toggle="tooltip" data-placement="bottom">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<span class="glyphicon-class">Ayuda</span>
				</button>                
                
                <br/><br/>
                <div id="componenteConsulta" style="display:none">
                    <center>
                        <table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{capitulo4View.proyecto.descPaisajeProy eq null or capitulo4View.proyecto.descPaisajeProy eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{capitulo4View.proyecto.descPaisajeProy}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                        </td></tr></table>
                    </center>
<!--                     Anexos: -->
<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=4,3,0,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </div>
                <div id="componenteActualiza" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModifica('foDatosGen');"/>
                </div>

                <div id="componenteCaptura" style="visibility: hidden;">
                    <center>
                        <pe:ckEditor width="700" value="#{capitulo4View.proyecto.descPaisajeProy}"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>
                    <!-- anexos -->
<!--                     Anexos: -->
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,3,0,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </div>
            </div>
            
            <c:set value="4.3" target="#{capitulo4View}" property="seccion" />
<!--             <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" /> -->

			<!-- ============================================================= TABLA AGREGADA DE ANEXOS =========================================================== -->        
            <br/>  
            <br/>        
            <ui:include src="/anexosarchivos.xhtml"/>

            <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right:  20px">
                <p:commandButton onsuccess="parent.actualizaBarra();" value="Guardar" class="btn btn-primary" action="#{capitulo4View.guardar}" />
            </div>        

        </h:form>

			<ui:include src="/ventanasModalesAnexos.xhtml"/>

        <script>
           $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo4View.claveTramite}", nsub:"#{capitulo4View.proyecto.nsub}", capitulo: 4, subcapitulo: 3, seccion: -1, apartado: -1 }, case_ayuda); 
        </script>
    </h:body>
</html>
