<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="../../assets/css/gobmx.css"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
    </h:head>
    <h:body>
        <h:form id="foDatosGen">

            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>

            <div id="climaMetero">
                
                <h:panelGroup >
                    <h3>Clima y Fenómenos Meteorológicos</h3>
                    <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> Ayuda  
                    <br/><br/>
                    <h:dataTable styleClass="table" var="c" value="#{capitulo4View.climas}">
                        <h:column>
                            <f:facet name="header">Clave Climatológica</f:facet>
                                #{c.claveClimatologica}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Agrupación/Temp</f:facet>
                                #{c.grupoMapa2}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Temperatura</f:facet>
                                #{c.desTem}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Precipitación</f:facet>
                                #{c.descPrec}
                        </h:column>
                    </h:dataTable>

                    Anexos:
                    <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,2,1,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
                    <br/><br/>
                    <h3>Geología y Geomorfología</h3>
                    <h4>Descripción:</h4> 
                    <center>

                        <pe:ckEditor width="700" value="#{capitulo4View.proyecto.descGeos}"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>

                    <br/><br/>
                    <h3>Suelos</h3>
                    <center>

                        <pe:ckEditor width="700" value="#{capitulo4View.proyecto.descSuelo}"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>

                    Anexos:
                    <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,2,1,3,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>

                </h:panelGroup>

            </div>

            <div id="hidroSuper">
                <h3>Hidrología superficial y subterránea</h3>
                <br/><br/>
                <h:dataTable style="table" var="m" value="#{capitulo4View.microCuenca}">
                    <h:column>
                        <f:facet name="header">Cuenca</f:facet>
                            #{m.cueHid}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Subcuenca</f:facet>
                            #{m.subcHid}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Microcuenca</f:facet>
                            #{m.nomMic}
                    </h:column>
                </h:dataTable>
            </div>

            <div id="hidroSubte">
                <h3>Hidrología subterránea</h3>
                <br/><br/>
                <h:dataTable style="table" var="m" value="#{capitulo4View.acuiferos}">
                    <h:column>
                        <f:facet name="header">Clave del Acuífero</f:facet>
                            #{m.clvAcui}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Nombre del Acuífero</f:facet>
                            #{m.nomAcui}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Disponibilidad</f:facet>
                            #{m.descDispo}
                    </h:column>
                    <h:column>
                        <f:facet name="header">Fecha D.O.F.</f:facet>
                            #{m.fechaDof}
                    </h:column>
                    <h:column>
                        <f:facet name="header">¿Sobre explotado?</f:facet>
                            #{m.comp}
                    </h:column>
                </h:dataTable>
            </div>

            <div id="dTipoVeg">

                <h:panelGroup id='pCaraProy'>
                    <h3>Tipo de vegetación</h3>
                    <button id='case_btn_ayuda2' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> Ayuda  
                    <br/><br/>
                    <h:dataTable styleClass="table" var="c" value="#{sIGEIAView.dimensionesUso}">
                        <h:column>
                            <f:facet name="header">Componente</f:facet>
                                #{c.comp}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Descripción</f:facet>
                                #{c.descrip}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Grupo de vegetación</f:facet>
                                #{c.tipEcov}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Tipo de vegetación o Uso del suelo</f:facet>
                                #{c.tipoGen}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Fase de vegetación secundaria)</f:facet>
                                #{c.faseVs}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Superficie de incidencia (m2)</f:facet>
                                #{c.area}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Se valida el resultado del SIGEIA?</f:facet>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Uso del suelo</f:facet>
                                
                        </h:column>

                    </h:dataTable>
                </h:panelGroup>    
            </div>

            <div id="dCarFlora">
                <h:panelGroup id='pFlora'>
                    <h3>Flora</h3>
                    <button id='case_btn_ayuda3' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> Ayuda  
                    <br/><br/>
                    <h:dataTable styleClass="table" var="c" value="#{capitulo4View.flora}" id="tFlora">
                        <h:column>
                            <p:commandLink update="@form" actionListener="#{capitulo4View.eliminarFlora}">
                                <h:graphicImage value="/assets/images/gobmx/icons/panel-collapsed.png"/>
                                <f:attribute name="idt" value="#{c.floraProyectoPK.floraProyid}" />
                            </p:commandLink>                       
                        </h:column>
                        <h:column>
                            <f:facet name="header">Grupo</f:facet>
                                #{c.floraGrupo}
                        </h:column>
                            <h:column>
                                <f:facet name="header">Familia</f:facet>
                                    #{c.floraFamilia}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Nombre Cientifico</f:facet>
                                <p:autoComplete id="acMinLength" minQueryLength="1" value="#{c.floraNomCient}" completeMethod="#{capitulo4View.completarNombreCientifico}" effect="fade" forceSelection="true">
                                    <f:attribute name="idt" value="#{c.floraProyectoPK.floraProyid}" />
                                    <f:ajax event="itemSelect" listener="#{capitulo4View.onFloraNombreSelect}" render="@form" />
                                </p:autoComplete>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Nombre Común</f:facet>
                                <h:inputText  value="#{c.floraNomComun}" />
                            </h:column>
                            <h:column>
                                <f:facet name="header">Categoria NOM-059</f:facet>
                                    #{c.floraCatNom59}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Endémico</f:facet>
                                    #{c.floraEndemico}
                            </h:column>
                            <h:column>
                                <f:facet name="header">CITES</f:facet>
                                    #{c.floraCites}
                            </h:column>
                            <h:column>
                                <table style="table">
                                    <tr>
                                        <td>
                                            <b>Presencia</b>
                                        </td>
                                        <td>
                                            <b>Registro</b>
                                        </td>
                                        <td>
                                            <b>Abundancia</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                        <td>
                                            <h:selectOneMenu value="#{c.floraRegistro}">
                                                <f:selectItem itemLabel="Muestreo" itemValue="Muestreo" />
                                                <f:selectItem itemLabel="Bibliografia" itemValue="Bibliografia"/>
                                                <f:selectItem itemLabel="Ambas" itemValue="Ambas"/>
                                            </h:selectOneMenu>
                                        </td>
                                        <td>
                                            <h:inputText value="#{c.floraAbundancia}" onkeypress="if(event.which == 8 || event.which == 0) return true;if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Densidad</b>
                                        </td>
                                        <td>
                                            <b>Distribución</b>
                                        </td>
                                        <td>
                                            <b>Número de individuos a afectar</b>
                                        </td>
                                        </tr>
                                    <tr>
                                        <td>
                                            <h:inputText value="#{c.floraDensidad}" onkeypress="if(event.which == 8 || event.which == 0) return true;if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                                        </td>
                                        <td>
                                            <h:inputText value="#{c.floraDistribucion}" onkeypress="if(event.which == 8 || event.which == 0) return true;if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                                        </td>
                                        <td>
                                            <h:inputText value="#{c.floraNumIndvAfec}" onkeypress="if(event.which == 8 || event.which == 0) return true;if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                                        </td>
                                    </tr>
                                </table>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Fotograías</f:facet>
                            </h:column>
                            <h:column>
                                <f:facet name="header">
                                    <p:commandLink action="#{capitulo4View.agregarFlora}"  update=":foDatosGen:tFlora">
                                        <p:graphicImage value="/assets/images/gobmx/icons/panel.png" />
                                    </p:commandLink>
                                </f:facet>
                            </h:column>

                    </h:dataTable>
                </h:panelGroup>    
            </div>


            
            <div style="float: right; margin-right: 20px">
                <p:commandButton value="Guardar" class="btn btn-primary"  action="#{capitulo4View.guardar}" onsuccess="parent.actualizaBarra();"/>
            </div>        


        </h:form>
        <script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo4View.claveTramite}", nsub:"#{capitulo4View.proyecto.nsub}", capitulo: 4, subcapitulo: 1, seccion: 1, apartado: -1 }, case_ayuda); 
            $('#case_btn_ayuda2').click({vClaveTramite:"#{capitulo4View.claveTramite}", nsub:"#{capitulo4View.proyecto.nsub}", capitulo: 4, subcapitulo: 1, seccion: 1, apartado: -1 }, case_ayuda); 
            $('#case_btn_ayuda3').click({vClaveTramite:"#{capitulo4View.claveTramite}", nsub:"#{capitulo4View.proyecto.nsub}", capitulo: 4, subcapitulo: 1, seccion: 1, apartado: -1 }, case_ayuda); 
            $('#case_btn_ayuda4').click({vClaveTramite:"#{capitulo4View.claveTramite}", nsub:"#{capitulo4View.proyecto.nsub}", capitulo: 4, subcapitulo: 1, seccion: 1, apartado: -1 }, case_ayuda); 
        </script>
    </h:body>
</html>
