<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
	
    <f:metadata>
		<f:viewAction action="#{archivosAnexosCap4Bean.consultarDesgloseClimaCargaPagina(4,2,1,1)}" />
		<f:viewAction action="#{archivosAnexosCap4Bean.consultarDesgloseSueloCargaPagina(4,2,1,4)}" />		
	</f:metadata>	
	
	
<h:head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	
	
	<!--         <link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css"  rel="stylesheet" /> -->
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	
<!-- 	Grafica base local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" type="text/css" />
<!-- 	<link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" /> -->
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	
<!-- 	script grafica base local - -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/scripts/main.js"></script>
	<script src="#{request.contextPath}/assets/scripts/plugins.js"></script>

	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	      	<style>
			.rowHijo {
				background-color: #d9edf7;
			}
			</style>
</h:head>

<h:body style="width: 95%"
	onload="javascript:$('#ckEditor').ready(function() {
        getInformacionAdicionalMulti('#{capitulo4View.strComentProy}','foDatosGen',
		'2,1,1-Clima y fenómenos meteorológicos|' + 
		'2,1,3-Geología y geomorfología|' + 
		'2,1,4-Suelos|' + 
		'2,1,5-Hidrología superficial y subterránea|' + 
		'2,1,6-Estudios especiales|' + 
		'2,2,1-Tipo de vegetación|' + 
		'2,2,2-Flora|' + 
		'2,2,3-Fauna|' + 
		'2,2,4-Análisis biológico y ecológico'
                );
            });">
            
    	<ui:include src="/loading.xhtml"/>
            
            
            <div class="col-md-12" id="mensaje"></div>

	<div class="semarnat_ayuda" id='case_pnl_ayuda'>
		<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
	</div>
	
	<h3>Características y análisis del sistema ambiental</h3>
	<hr class="red"></hr>

	<!-- Aspectos Abióticos -->
	
	<div class="panel-group ficha-collapse" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-parent="#accordion" data-toggle="collapse" href="#panel-01"
						aria-expanded="false" aria-controls="panel-01">
						<h3>Aspectos abióticos</h3>
					</a>
				</h4>
				<button type="button" class="collpase-button collapsed"
					data-parent="#accordion" data-toggle="collapse" href="#panel-01"></button>
			</div>
			<div class="panel-collapse collapse in" id="panel-01">
				<div class="panel-body">
			
		<!-- CLIMA Y FENOMENOS METEOROLOGICOS -->

			<c:set var="capituloClima" value="4"/>
			<c:set var="subcapituloClima" value="2"/>
			<c:set var="seccionClima" value="1"/>
			<c:set var="apartadoClima" value="1"/>
			
		<!-- SUELOS -->

			<c:set var="capituloSuelo" value="4"/>
			<c:set var="subcapituloSuelo" value="2"/>
			<c:set var="seccionSuelo" value="1"/>
			<c:set var="apartadoSuelo" value="4"/>

					<h:form id="foDatosGen">
						<h:inputHidden id="ubicActual" value="#{capitulo4View.ubicActual}" />
						<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

						<h:inputHidden id="strInfoAdicional"
							value="#{capitulo4View.strInfoAdicional}" />
						<p:remoteCommand name="remoteUpdateInfoAdicional"
							process="strInfoAdicional" />

						<!-- Aspectos Abióticos -->

						<div id="climaMetero">
							<br />
							<h:panelGroup>
								<div id="titulo1"></div>
								<hr class="red"></hr>
								<button id='case_btn_ayuda' type="button"
									class="btn btn-default" data-toggle="tooltip"
									data-placement="bottom">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
									<span class="glyphicon-class">Ayuda</span>
								</button><hr></hr>
								
								<h:dataTable styleClass="table" var="c"
									value="#{capitulo4View.climas}">
									<h:column>
										<f:facet name="header">Clave climatológica</f:facet>
                            				#{c.claveClimatologica}
                    				</h:column>
									<!--<h:column>
                        <f:facet name="header">Temperatura</f:facet>
                            #{c.desTem}
                    </h:column>-->
									<h:column>
										<f:facet name="header">Agrupación/Temp</f:facet>
                            				#{c.descPrec}
                    				</h:column>
									<h:column>
										<f:facet name="header">Precipitación</f:facet>
                            				#{c.grupoMapa2}
                    				</h:column>
								</h:dataTable>

								<h4>Observaciones</h4>
								<br />
								<div id="observaciones">
											<pe:ckEditor
												toolbar="[[ 'Undo','Redo' ],[ 'Bold','Italic','Underline','Subscript','Superscript',],
                        			      [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     	  ['Link','-','Table'],[ 'TextColor','BGColor' ]]"
												width="100%" value="#{hidrologiaSub.climaFenMetObserv}" />
									<br />
											<p:commandButton value="Guardar clima"
												styleClass="btn btn-primary alinDerecha"
												actionListener="#{hidrologiaSub.saveClimaFenMetObserv}"
												onsuccess="myDialogObs.show()" />
									<br /> <br /> <br />
								</div>

								<h:outputLabel
									value="Indica las variables tanto de la temperatura como de los fenómenos meteorológicos considerando los índices de vulnerabilidad para los efectos del cambio climático." />
								<br /><br />
								<div id="tempFenMet">
											<pe:ckEditor
												toolbar="[[ 'Undo','Redo' ],[ 'Bold','Italic','Underline','Subscript','Superscript',],
	                        			      [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
	                                     	  ['Link','-','Table'],[ 'TextColor','BGColor' ]]"
												width="100%" value="#{hidrologiaSub.tempFenMetDescrip}" />
									<br />
											<p:commandButton value="Guardar fenómenos meteorológicos"
												styleClass="btn btn-primary alinDerecha"
												actionListener="#{hidrologiaSub.saveTempFenMetDescrip}"
												onsuccess="myDialogTemp.show()" style="margin-left: 30%;" />
									<br /> <br /> <br />

								</div>
								<div id="componenteConsulta1" style="display: none">
									Adjuntos
<!-- 									<iframe width="100%" height="100px" -->
<!-- 										src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=4,2,1,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" -->
<!-- 										frameborder="0"></iframe> -->
								</div>
								<div id="componenteActualiza1"
									style="display: none; float: right; margin-right: 20px">
									<br />
									<p:commandButton value="Modificar sección (opcional)"
										class="btn btn-primary"
										onclick="actualizaComponentesModificaMulti('foDatosGen','1');" />
								</div>
								<div id="componenteCaptura1" style="display: none;">
<!-- 									Anexos: -->
<!-- 									<iframe width="100%" height="250px" -->
<!-- 										src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,2,1,1,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" -->
<!-- 										frameborder="0"></iframe> -->
	<!-- ==================== TABLA DE ARCHIVOS DE CLIMA Y FENOMENOS METEOROLOGICOS ==================== -->
	
		<div id="botones" style="float: right;">
			<p:commandLink id="btnAgregarArchivoClima" value="Agregar" class="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx" style="float:right;" oncomplete="modalSubirArchivo.show()" immediate="true"
				action="#{archivosAnexosCap4Bean.iniciarArchivo('CLIMAFENOMENOS')}" update=":formArchivosDisposicion:pnlArchivo">
				<f:param name="capitulo" value="#{capituloClima}"/>
				<f:param name="subcapitulo" value="#{subcapituloClima}"/>
				<f:param name="seccion" value="#{seccionClima}"/>
				<f:param name="apartado" value="#{apartadoClima}"/>
				<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
			</p:commandLink>
								
			<p:commandLink id="btnEliminarArchivoClima" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar" value="Eliminar" style="float:right;" 
							 update=":fEliminarArchivo:pnlMensajeEliminarArchivo" action="#{archivosAnexosCap4Bean.abrirModalEliminarArchivo}" 
							 disabled="#{archivosAnexosCap4Bean.listaSeleccionadosClima.size() == 0}" 
							 oncomplete="dlgEliminarArchivoAnexo.show()">
				<f:param name="eliminarArchivo" value="CLIMAFENOMENOS"/>
				<f:param name="capitulo" value="#{capituloClima}"/>
				<f:param name="subcapitulo" value="#{subcapituloClima}"/>
				<f:param name="seccion" value="#{seccionClima}"/>
				<f:param name="apartado" value="#{apartadoClima}"/>								
			</p:commandLink>
		</div>
	
			<h3>Adjuntos</h3>
			<p:dataTable id="tablaArchivoClima" styleClass="table table-responsive" value="#{archivosAnexosCap4Bean.archivosGeneralClima}" var="archGC" rowIndexVar="rowIndexC"
						 selection="#{archivosAnexosCap4Bean.listaSeleccionadosClima}" rowKey="#{archGC.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
				
				<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoClima" />
				<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoClima" />
				<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoClima" />

				<p:column selectionMode="multiple" style="width:50px; text-align: center;" />
	
				<p:column
					style="white-space: normal; width: 50px; text-align: center;">
					<f:facet name="header">#</f:facet>
<!-- 					<h:outputText value="#{archGC.id}" /> -->
					<h:outputText value="#{rowIndexC+1}" />
				</p:column>
	
				<p:column style="white-space: normal;">
					<f:facet name="header">Nombre</f:facet>
					<h:outputText value="#{archGC.nombre}" />
				</p:column>
	
				<p:column style="white-space: normal;">
					<f:facet name="header">Descripción</f:facet>
					<h:outputText value="#{archGC.descripcion}" />
				</p:column>
	
				<p:column style="white-space: normal; text-align: center; width:100px">
					<f:facet name="header"></f:facet>
		            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
		                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archGC.seqId}'); return false;" />					
				</p:column>
	
				<p:column style="white-space: normal; text-align: center; width:100px">
					<f:facet name="header" />
					<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap4Bean.consultarArchivo(4,2,1,1)}"
									 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
						<f:param name="id" value="#{archGC.id}" />
						<f:param name="pRowIndex" value="#{rowIndexC+1}" />
						<f:param name="actualizarArchivo" value="CLIMAFENOMENOS"/>
						<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
					</p:commandButton>
				</p:column>
	
			</p:dataTable>
								</div>
								<!-- GeologÃ­a y GeomorfologÃ­a -->
								<h:form id="formGeologia">
									<div id="titulo2"></div>
									<hr class="red"></hr>
									<button id='case_btn_ayuda_geo' type="button"
										class="btn btn-default" data-toggle="tooltip"
										data-placement="bottom">
										<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
										<span class="glyphicon-class">Ayuda</span>
									</button>
									<hr></hr>
									<h4>Descripción</h4>
									<br />
									<div id="componenteConsulta2" style="display: none">
										<table width="60%" style="text-align: justify;">
											<tr>
												<td><c:choose>
														<c:when
															test="#{capitulo4View.proyecto.descGeos eq null or capitulo4View.proyecto.descGeos eq ''}">
															<h:outputText style="color: gray" value="Sin especificar"
																escape="false" />
														</c:when>
														<c:otherwise>
															<h:outputText value="#{hidrologiaSub.proyecto.descGeos}"
																escape="false" />
														</c:otherwise>
													</c:choose></td>
											</tr>
										</table>
									</div>
									<div id="componenteActualiza2"
										style="display: none; float: right; margin-right: 20px">
										<br />
										<p:commandButton value="Modificar secciÃ³n (opcional)"
											class="btn btn-primary"
											onclick="actualizaComponentesModificaMulti('foDatosGen','2');" />
									</div>									
											<div id="componenteCaptura2" style="visibility: hidden;">
												<pe:ckEditor width="100%" value="#{hidrologiaSub.descGeos}"
													toolbar="[[ 'Undo','Redo' ],
				                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
				                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
				                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]" />
											</div>										
									<br />
											<p:commandButton value="Guardar geología"
												styleClass="btn btn-primary alinDerecha"
												actionListener="#{hidrologiaSub.saveDescGeo}"
												onsuccess="myDialogGeo.show()" />										
								</h:form>
								<!-- Suelos -->
								<br />
								<br />
								<div id="titulo3"></div>
								<hr class="red"></hr>
								<button id='case_btn_ayuda_suelos' type="button"
									class="btn btn-default" data-toggle="tooltip"
									data-placement="bottom">
									<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
									<span class="glyphicon-class">Ayuda</span>
								</button>
								<hr></hr>
								<h4>Descripción</h4>
								<br />
								<div id="componenteConsulta3" style="display: none">
									<table width="60%" style="text-align: justify;">
										<tr>
											<td><c:choose>
													<c:when
														test="#{capitulo4View.proyecto.descSuelo eq null or capitulo4View.proyecto.descSuelo eq ''}">
														<h:outputText style="color: gray" value="Sin especificar"
															escape="false" />
													</c:when>
													<c:otherwise>
														<h:outputText value="#{capitulo4View.proyecto.descSuelo}"
															escape="false" />
													</c:otherwise>
												</c:choose></td>
										</tr>
									</table>

									Adjuntos
<!-- 									<iframe width="100%" height="100px" -->
<!-- 										src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=4,2,1,3,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" -->
<!-- 										frameborder="0"></iframe> -->

								</div>
								<div id="componenteActualiza3"
									style="display: none; float: right; margin-right: 20px">
									<br />
									<p:commandButton value="Modificar sección (opcional)"
										class="btn btn-primary"
										onclick="actualizaComponentesModificaMulti('foDatosGen','3');" />
								</div>
								<div id="componenteCaptura3" style="visibility: hidden;">
											<pe:ckEditor width="100%" value="#{hidrologiaSub.descSuelo}"
												toolbar="[[ 'Undo','Redo' ],
	                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
	                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
	                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]" />
									<br />
											<p:commandButton value="Guardar suelos"
												styleClass="btn btn-primary alinDerecha"
												actionListener="#{hidrologiaSub.saveDescSuelo}" 
												onsuccess="myDialogSuelos.show()"/>
									<br /> <br /> <br />
<!-- 									Anexos: -->
<!-- 									<iframe width="100%" height="250px" -->
<!-- 										src="#{request.contextPath}/faces/modarchivos/cargaarchivo.xhtml?info=4,2,1,3,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" -->
<!-- 										frameborder="0"></iframe> -->
										<!-- ==================== TABLA DE ARCHIVOS DE SUELOS ==================== -->
	
		<div id="botones" style="float: right;">
			<p:commandLink id="btnAgregarArchivoSuelo" value="Agregar" class="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx" style="float:right;" oncomplete="modalSubirArchivo.show()" immediate="true"
				action="#{archivosAnexosCap4Bean.iniciarArchivo('SUELOS')}" update=":formArchivosDisposicion:pnlArchivo">
				<f:param name="capitulo" value="#{capituloSuelo}"/>
				<f:param name="subcapitulo" value="#{subcapituloSuelo}"/>
				<f:param name="seccion" value="#{seccionSuelo}"/>
				<f:param name="apartado" value="#{apartadoSuelo}"/>
				<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
			</p:commandLink>
								
			<p:commandLink id="btnEliminarArchivoSuelo" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar" value="Eliminar" style="float:right;" 
							 update=":fEliminarArchivo:pnlMensajeEliminarArchivo" action="#{archivosAnexosCap4Bean.abrirModalEliminarArchivo}" 
							 disabled="#{archivosAnexosCap4Bean.listaSeleccionadosSuelo.size() == 0}" 
							 oncomplete="dlgEliminarArchivoAnexo.show()">
				<f:param name="eliminarArchivo" value="SUELOS"/>
				<f:param name="capitulo" value="#{capituloSuelo}"/>
				<f:param name="subcapitulo" value="#{subcapituloSuelo}"/>
				<f:param name="seccion" value="#{seccionSuelo}"/>
				<f:param name="apartado" value="#{apartadoSuelo}"/>								
			</p:commandLink>
		</div>
	
			<h3>Adjuntos</h3>
			<p:dataTable id="tablaArchivoSuelo" styleClass="table table-responsive" value="#{archivosAnexosCap4Bean.archivosGeneralSuelo}" var="archGS" rowIndexVar="rowIndexS"
						 selection="#{archivosAnexosCap4Bean.listaSeleccionadosSuelo}" rowKey="#{archGS.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
				
				<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoSuelo" />
				<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoSuelo" />
				<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoSuelo" />

				<p:column selectionMode="multiple" style="width:50px; text-align: center;" />
	
				<p:column
					style="white-space: normal; width: 50px; text-align: center;">
					<f:facet name="header">#</f:facet>
<!-- 					<h:outputText value="#{archGS.id}" /> -->
					<h:outputText value="#{rowIndexS+1}" />
				</p:column>
	
				<p:column style="white-space: normal;">
					<f:facet name="header">Nombre</f:facet>
					<h:outputText value="#{archGS.nombre}" />
				</p:column>
	
				<p:column style="white-space: normal;">
					<f:facet name="header">Descripción</f:facet>
					<h:outputText value="#{archGS.descripcion}" />
				</p:column>
	
				<p:column style="white-space: normal; text-align: center; width:100px">
					<f:facet name="header"></f:facet>
		            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
		                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archGS.seqId}'); return false;" />					
				</p:column>
	
				<p:column style="white-space: normal; text-align: center; width:100px">
					<f:facet name="header" />
					<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap4Bean.consultarArchivo(4,2,1,4)}"
									 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
						<f:param name="id" value="#{archGS.id}" />
						<f:param name="pRowIndex" value="#{rowIndexS+1}" />
						<f:param name="actualizarArchivo" value="SUELOS"/>
						<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
					</p:commandButton>
				</p:column>
	
			</p:dataTable>
								</div>
							</h:panelGroup>
						</div>

						<!--             HidrologÃ­a superficial y subterrÃ¡nea -->
						<!--             <div id="hidroSuper"> -->
						<!--              	<ui:include src="hidrologiaSuperficial.xhtml"/> -->
						<!--             </div> -->

						<!--             <div id="hidroSubte"> -->
						<!--   				<ui:include src="hidrologiaSubterranea.xhtml"/> -->
						<!--             </div> -->
						<!--             <h:panelGroup id="pgEstEsp"> -->
						<!--                 <ui:include src="4_2/estudios.xhtml"/> -->
						<!--             </h:panelGroup> -->

						<!--             <h:panelGroup id="pgTipVeg"> -->
						<!--                 <ui:include src="4_2/tipoVegetacion.xhtml"/> -->
						<!--             </h:panelGroup> -->

						<!--             <br/> -->
						<!--             <h2>Aspectos bióticos</h2> -->
						<!--             <br/> -->

						<!--             <h:panelGroup id="pgFlora"> -->
						<!--                 <ui:include src="4_2/flora.xhtml"/> -->
						<!--             </h:panelGroup> -->

						<!--             <h:panelGroup id="pgFauna"> -->
						<!--                 <ui:include src="4_2/fauna.xhtml"/> -->
						<!--             </h:panelGroup> -->

						<!--             <h:panelGroup id="pgAnaBio"> -->
						<!--                 <ui:include src="4_2/analisis.xhtml"/> -->
						<!--             </h:panelGroup> -->

						<!--             <c:set value="4.2" target="#{capitulo4View}" property="seccion" /> -->
						<!--             <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" /> -->

						<!--             <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right: 20px"> -->
						<!--                 <p:commandButton value="Guardar" class="btn btn-primary"  action="#{capitulo4View.guardar}" onsuccess="parent.actualizaBarra();"/> -->
						<!--             </div> -->


						<p:dialog widgetVar="myDialogObs" modal="true" id="myDialogObs"
							header="Aviso">
							<div class="modal-body">
								<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Guardado correctamente.</div>
								<div class="modal-footer">
									<p:commandButton styleClass="btn btn-primary alinDerecha"
										onclick="myDialogObs.hide()" value="Aceptar" />
								</div>
							</div>
						</p:dialog>

						<p:dialog widgetVar="myDialogTemp" modal="true" id="myDialogTemp"
							header="Aviso">
							<div class="modal-body">
								<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Guardado correctamente.</div>
								<div class="modal-footer">
									<p:commandButton styleClass="btn btn-primary alinDerecha"
										onclick="myDialogTemp.hide()" value="Aceptar" />
								</div>
							</div>
						</p:dialog>

						<p:dialog widgetVar="myDialogGeo" modal="true" id="myDialogGeo"
							header="Aviso">
							<div class="modal-body">
								<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Guardado correctamente.</div>
								<div class="modal-footer">
									<p:commandButton styleClass="btn btn-primary alinDerecha"
										onclick="myDialogGeo.hide()" value="Aceptar" />
								</div>
							</div>
						</p:dialog>
						<p:dialog widgetVar="myDialogSuelos" modal="true" id="myDialogSuelos"
							header="Aviso">
							<div class="modal-body">
								<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Guardado correctamente.</div>
								<div class="modal-footer">
									<p:commandButton styleClass="btn btn-primary alinDerecha"
										onclick="myDialogSuelos.hide()" value="Aceptar" />
								</div>
							</div>
						</p:dialog>

					</h:form>

					<!-- HidrologÃ­a superficial y subterrÃ¡nea -->
					<div id="hidroSuper">
						<ui:include src="hidrologiaSuperficial.xhtml" />
					</div>

					<div id="hidroSubte">
						<ui:include src="hidrologiaSubterranea.xhtml" />
					</div>

					<h:panelGroup id="pgEstEsp">
						<ui:include src="4_2/estudios.xhtml" />
					</h:panelGroup>

<!-- 					<h:panelGroup id="pgTipVeg"> -->
<!-- 						<ui:include src="4_2/tipoVegetacion.xhtml" /> -->
<!-- 					</h:panelGroup> -->
					<br />

				</div>
			</div>
		</div>
	</div>


	<!-- Aspectos Bióticos -->

	<div class="panel-group ficha-collapse" id="accordion2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-parent="#accordion2" data-toggle="collapse"
						href="#panel-02" aria-expanded="false" aria-controls="panel-02">
						<h3>Aspectos bióticos</h3>
					</a>
				</h4>
				<button type="button" class="collpase-button collapsed"
					data-parent="#accordion2" data-toggle="collapse" href="#panel-02"></button>
			</div>
			<div class="panel-collapse collapse in" id="panel-02">
				<div class="panel-body">
					<br />
					
					<h:panelGroup id="pgTipVeg">
						<ui:include src="4_2/tipoVegetacion.xhtml" />
					</h:panelGroup>

					<h:panelGroup id="pgFlora">
						<ui:include src="4_2/flora.xhtml" />
					</h:panelGroup>

					<h:panelGroup id="pgFauna">
						<ui:include src="4_2/fauna.xhtml" />
					</h:panelGroup>

					<h:panelGroup id="pgAnaBio">
						<ui:include src="4_2/analisis.xhtml" />
					</h:panelGroup>
					<p:spacer height="50px" />

				</div>
			</div>
		</div>
	</div>

	<h:form id="formGuardarAvance">
		<c:set value="4.2" target="#{capitulo4View}" property="seccion" />
		<div class="row">
			<div class="col-md-11">
<!-- 				<p:messages id="messages" showDetail="true" autoUpdate="true"
					closable="false" />-->
			</div>
			<div class="col-md-1">
				<div id="componenteGuarda"
					style="display: none; float: right; clear: right;">
					<p:commandButton value="Guardar avance" class="btn btn-primary"
						action="#{capitulo4View.guardar}"
						onsuccess="parent.actualizaBarra();" />
				</div>
			</div>
		</div>
	</h:form>
	
		<ui:include src="/ventanasModalesAnexosCap4.xhtml"/>

	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo4View.claveTramite}",
			nsub : "#{capitulo4View.proyecto.nsub}",
			capitulo : 4,
			subcapitulo : 2,
			seccion : 1,
			apartado : 1
		}, case_ayuda);
		$('#case_btn_ayuda_geo').click({
			vClaveTramite : "#{capitulo4View.claveTramite}",
			nsub : "#{capitulo4View.proyecto.nsub}",
			capitulo : 4,
			subcapitulo : 2,
			seccion : 1,
			apartado : 3
		}, case_ayuda);
		$('#case_btn_ayuda_suelos').click({
			vClaveTramite : "#{capitulo4View.claveTramite}",
			nsub : "#{capitulo4View.proyecto.nsub}",
			capitulo : 4,
			subcapitulo : 2,
			seccion : 1,
			apartado : 4
		}, case_ayuda);
		$('#case_btn_ayuda_hidro').click({
			vClaveTramite : "#{capitulo4View.claveTramite}",
			nsub : "#{capitulo4View.proyecto.nsub}",
			capitulo : 4,
			subcapitulo : 2,
			seccion : 1,
			apartado : 5
		}, case_ayuda);
		$('#case_btn_ayuda_fauna').click({
			vClaveTramite : "#{capitulo4View.claveTramite}",
			nsub : "#{capitulo4View.proyecto.nsub}",
			capitulo : 4,
			subcapitulo : 2,
			seccion : 2,
			apartado : 3
		}, case_ayuda);
		$('#case_btn_ayuda_flora').click({
			vClaveTramite : "#{capitulo4View.claveTramite}",
			nsub : "#{capitulo4View.proyecto.nsub}",
			capitulo : 4,
			subcapitulo : 2,
			seccion : 2,
			apartado : 2
		}, case_ayuda);
		$('#case_btn_ayudaanalisis').click({
			vClaveTramite : "#{capitulo4View.claveTramite}",
			nsub : "#{capitulo4View.proyecto.nsub}",
			capitulo : 4,
			subcapitulo : 2,
			seccion : 2,
			apartado : 4
		}, case_ayuda);
		$('#case_btn_ayuda_estudios').click({
			vClaveTramite : "#{capitulo4View.claveTramite}",
			nsub : "#{capitulo4View.proyecto.nsub}",
			capitulo : 4,
			subcapitulo : 2,
			seccion : 1,
			apartado : 6
		}, case_ayuda);
		$('#case_btn_ayuda_vegetacion').click({
			vClaveTramite : "#{capitulo4View.claveTramite}",
			nsub : "#{capitulo4View.proyecto.nsub}",
			capitulo : 4,
			subcapitulo : 2,
			seccion : 2,
			apartado : 1
		}, case_ayuda);
	</script>
	
<!-- 	<ui:include src="/loading.xhtml"/> -->
	
</h:body>
</html>
