<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>        
        <link rel="stylesheet" href="../../assets/css/gobmx.css"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        
        <!-- Script de Gráfica Base Local - -->
		<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
    </h:head>
    <h:body onload="javascript:setTimeout(function() {
                getInformacionAdicional('#{capitulo4View.strComentProy}','foDatosGen',4,0,0,'Medio socioeconómico')
            }, (200));">
            <div class="col-md-12" id="mensaje"></div>
        
        <h:form id="foDatosGen">
            
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>

            <h:inputHidden id="ubicActual" value="#{capitulo4View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo4View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>
            
            <div id="carParProy">
                <h:panelGroup id='pCaraProy'>
                    <div id="titulo"></div>
                    <button id='case_btn_ayuda' type="button" class="btn btn-default"
						data-toggle="tooltip" data-placement="bottom">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<span class="glyphicon-class">Ayuda</span>
					</button>  
                    <br/><br/>
                    <h3>Dinámica población</h3>
                    <br/>
                    <div id="componenteConsulta" style="display:none">
                        <center>
                            <table width="60%" style="text-align: justify;"><tr><td>
                            <c:choose>
                                <c:when test="#{capitulo4View.proyecto.medioSocioproy eq null or capitulo4View.proyecto.medioSocioproy eq ''}">
                                    <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                                </c:when>
                                <c:otherwise>
                                    <h:outputText value="#{capitulo4View.proyecto.medioSocioproy}" escape="false"/> 
                                </c:otherwise>
                            </c:choose>
                            </td></tr></table>
                        </center>                    
                    </div>
                    <div id="componenteCaptura" style="visibility: hidden;"><h:panelGroup id='panelCaptura'>
                        <center>
                        <pe:ckEditor width="700" value="#{capitulo4View.proyecto.medioSocioproy}"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                        </center>
                    </h:panelGroup></div>

                    <br/><br/>
                    <h3>Localidades ubicadas dentro del sistema ambiental del proyecto. serie IV 2010,INEGI</h3>
                    <h:dataTable styleClass="table" var="c" value="#{capitulo4View.locInd}">
                        <h:column>
                            <f:facet name="header">Localidad</f:facet>
                            #{c[0]}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Entidad federativa</f:facet>
                            #{c[1]}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Nombre del municipio</f:facet>
                            #{c[2]}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Población masculina</f:facet>
                            #{c[3]}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Población femenina</f:facet>
                            #{c[4]}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Total de viviendas</f:facet>
                            #{c[5]}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Población total</f:facet>
                            #{c[6]}
                        </h:column> 

                        <h:column>
                            <f:facet name="header">Mun.Pob.Ind</f:facet>
                            #{c[7]}
                        </h:column>    

                        <h:column>
                            <f:facet name="header">Tipo de localidad</f:facet>
                            #{c[8]}
                        </h:column>   

                        <h:column>
                            <f:facet name="header">Ámbito</f:facet>
                            #{c[9]}
                        </h:column>   

                        <h:column>
                            <f:facet name="header">Población indigena</f:facet>
                            #{c[10]}
                        </h:column>  
                    </h:dataTable>
                </h:panelGroup>

            </div>
            <div id="componenteActualiza" style="display:none; float: right; margin-right: 20px">
                <br/> 
                <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModifica('foDatosGen');"/>
            </div>
            
            <c:set value="4.4" target="#{capitulo4View}" property="seccion" />
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" />

            <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right:  20px">
                <br/> 
                <p:commandButton value="Guardar" class="btn btn-primary" action="#{capitulo4View.guardar}" onsuccess="parent.actualizaBarra();"/>
            </div>        


        </h:form>
        <script>
           $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo4View.claveTramite}", nsub:"#{capitulo4View.proyecto.nsub}", capitulo: 4, subcapitulo: 4, seccion: -1, apartado: -1 }, case_ayuda); 
        </script>
    </h:body>
</html>
