<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
       <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        
        <link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" />
        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet"/>               
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 

        
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
         <script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
        
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
    </h:head>
    <h:body onload="javascript:mensajeSigeia(#{sIGEIAView.estadosAfectados})">
        <div id="dDimProy" class="col-md-12">
        <div class="row" id="case_pnl_ayuda_cnt"></div>
        <div class="row" id="mensaje"></div>
        <h:form id="foDatosGen">
<!--             <div class="semarnat_ayuda" id='case_pnl_ayuda'> -->
<!--                 <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"> -->
<!--                 </div> -->
<!--             </div> -->

            
               
            
            <h:panelGroup>
            <div class="row"> 
                    <h3>Dimensiones del proyecto<a style="color:#000;" ><span id='case_btn_ayuda' class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3>
                    <hr class="red"/>
			</div>
<!--             <div class="row">      -->
<!--                 <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"> -->
<!--                       <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda  -->
<!--                   </button> -->
<!--                   <hr/> -->
<!-- 			</div> -->
			<div class="row">
                    <h4>Superficie total del predio y del proyecto</h4>
					<hr/>
                    <h:dataTable styleClass="table" value="#{sIGEIAView.proySig}" var="di">
                        <h:column>
                            <f:facet name="header">Componente</f:facet>
                                #{di[0]}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Descripción</f:facet>
                                #{di[1]}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Superficie m<sup>2</sup></f:facet>
                            <h:outputLabel value="#{di[3]}">
								<f:convertNumber pattern="###,###.##" />
							</h:outputLabel>
                        </h:column>
                        <h:column>
                            <f:facet name="header">Superficie ha</f:facet>
                            <h:outputLabel value="#{di[2]}">
								<f:convertNumber pattern="###,###.####" />
							</h:outputLabel>
                        </h:column>
                    </h:dataTable>
             </div>
             <div class="row">
                    <h:panelGrid columns="5" width="700px">
                        <h:outputLabel value="Total superficie de obra:" />
                        <h:outputLabel value="#{sIGEIAView.totObra}">
							<f:convertNumber pattern="###,###.##" />
						</h:outputLabel>
                        <h:outputLabel value="Total superficie de predio:" />
                        <h:outputLabel value="#{sIGEIAView.totPredio}">
							<f:convertNumber pattern="###,###.##" />
						</h:outputLabel>
                    </h:panelGrid>

             </div>
                    
             <div id="dTipoVeg" class="row top-buffer">
                
                <h:panelGroup id='pCaraProy'>
                    <h4 >Tipo de vegetación<a style="color:#000;" ><span id='case_btn_ayuda1' class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h4>
                    <hr/>
<!--                     <button id='case_btn_ayuda1' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> Ayuda   -->
                    
                    <h:dataTable styleClass="table" var="c" value="#{sIGEIAView.dimensionesUso2}">
                        <h:column>
                            <f:facet name="header">Componente</f:facet>
                                #{c[0]}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Descripción</f:facet>
                                #{c[1]}
                        </h:column>

                        <h:column>
                            <f:facet name="header">Grupo de vegetación</f:facet>
                                #{c[2]}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Tipo de vegetación o uso del suelo</f:facet>
                                #{c[3]}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Fase de vegetación secundaria)</f:facet>
                                #{c[4]}
                        </h:column>
                        <h:column>
                            <f:facet name="header">Superficie de incidencia (m<sup>2</sup>)</f:facet>
                            <h:outputLabel value="#{c[5]}">
								<f:convertNumber pattern="###,###.##" />
							</h:outputLabel>
                        </h:column>

                    </h:dataTable>
                </h:panelGroup>    
            </div>

                </h:panelGroup>
                     
                    
        </h:form>
</div>
        <script>
             $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo2View.claveTramite}", nsub:"#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 1, seccion: 5, apartado: -1 }, case_ayuda); 
             $('#case_btn_ayuda1').click({vClaveTramite:"#{capitulo2View.claveTramite}", nsub:"#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 1, seccion: 5, apartado:  1 }, case_ayuda); 
              </script>
    </h:body>
</html>
