<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- 	<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
	<!-- 	<link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" /> -->
	<!-- Gráfica Base Local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
</h:head>
<h:body>

<div class="col-md-12" >
	<div class="row" id="mensaje"></div>
	<div class="row" id="case_pnl_ayuda_cnt"></div>
	<h:form id="foDatosGen">
		<c:set target="#{capitulo2View}" property="pageInversionReq" value="S" />
		<c:set value="2.4" target="#{capitulo2View}" property="seccion" />

<!-- 		<p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" /> -->

		<h:inputHidden id="ubicActual" value="#{capitulo2View.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional"
			value="#{capitulo2View.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />

<!-- 		<div class="semarnat_ayuda" id='case_pnl_ayuda'> -->
<!-- 			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div> -->
<!-- 		</div> -->
	</h:form>

	<div id="dInvRequerida">
		<h:panelGroup>
			<div id="titulo"></div>
			<hr class="red"></hr>
<!-- 			<button id='case_btn_ayuda' type="button" class="btn btn-default" -->
<!-- 				data-toggle="tooltip" data-placement="bottom"> -->
<!-- 				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> <span -->
<!-- 					class="glyphicon-class">Ayuda</span> -->
<!-- 			</button> -->
<!-- 			<hr></hr> -->

			<h:form>
				<div id="componenteActualiza"
					style="display: none; float: right; margin-right: 20px">
					<br />
					<p:commandButton value="Modificar sección (opcional)"
						class="btn btn-primary"
						onclick="actualizaComponentesModifica('foDatosGen');" />
				</div>
			</h:form>

			<!-- Div de pregunta Inversión por Etapas -->
			<h:form id="fMontos">
				<h:panelGroup id="pregunta"
					rendered="#{capitulo1View.proyecto.proyMontoEtapasAplica == null}">
					<p:outputLabel id="preguntaIPE"
						value="¿Cuenta con monto de inversión desglosada por etapas?" />
					<p:spacer width="20px" />
					
					<!-- Si selecciona NO, sin importar el Subsector, No debe mostrar la tabla de Inversión por etapas -->
					<h:commandButton id="btnNo" class="btn btn-default btn-sm"
						value="NO">
						<c:choose>
							<!-- Actualiza tabla Montos, Etapas, Infraestructura carreteras, y aplica validación de cantidades totales -->
							<c:when test="#{capitulo1View.proyecto.nsub eq 7 and capitulo1View.proyecto.nrama eq 30}">
								<p:ajax event="click" listener="#{capitulo2View.respuestaMontoNo}"
									update="pnlMontos,pnlEtapas,origenPnl,totales" />
							</c:when>
							<!-- Actualiza tabla Montos y Etapas -->
							<c:otherwise>
								<p:ajax event="click" listener="#{capitulo2View.respuestaMontoNo}"
									update="pnlMontos,pnlEtapas" />
							</c:otherwise>
						</c:choose>
					</h:commandButton>
					<p:spacer width="5px" />
					
					<!-- Si selecciona SI, sin importar el Subsector, debe mostrar la tabla de Inversión por etapas -->
					<h:commandButton id="btnSi" class="btn btn-primary btn-sm"
						value="SI">
						<c:choose>
							<!-- Actualiza tabla Montos, Etapas, Infraestructura carreteras, y aplica validación de cantidades totales -->
							<c:when test="#{capitulo1View.proyecto.nsub eq 7 and capitulo1View.proyecto.nrama eq 30}">
								<p:ajax event="click" listener="#{capitulo2View.respuestaMontoSi}"
									update="pnlMontos,pnlEtapas,origenPnl,totales" />
							</c:when>
							<!-- Actualiza tabla Montos y Etapas -->
							<c:otherwise>
								<p:ajax event="click" listener="#{capitulo2View.respuestaMontoSi}"
									update="pnlMontos,pnlEtapas" />
							</c:otherwise>
						</c:choose>
					</h:commandButton>
				</h:panelGroup>
				<br />
				<br />

				<p:outputPanel id="pnlMontos">
					<h:panelGroup id="pGA" rendered="#{!capitulo2View.proyInversionPE}">
						<h:outputLabel for="fCosto"
							value="Costo de la inversión requerida:" />
						<p:inputText
							value="#{capitulo2View.proyecto.proyInversionRequerida}"
							class="form-control" id="fCosto" required="true" maxlength="18"
							label="Costo de la inversión requerida"
							onkeypress="return capturaCantidades(event);"
							requiredMessage="Este campo es obligatorio">
							<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
							<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
							<c:choose>
								<!-- Actualiza el valor (suma) en Inversión total y aplica validación de cantidades totales -->
								<c:when test="#{capitulo1View.proyecto.nsub eq 7 and capitulo1View.proyecto.nrama eq 30}">
									<p:ajax event="blur" update="fInvTot fCosto totalesIguales" />
								</c:when>
								<!-- Actualiza el valor (suma) en Inversión total -->
								<c:otherwise>
									<p:ajax event="blur" update="fInvTot fCosto" />
								</c:otherwise>
							</c:choose>
						</p:inputText>

						<p:message id="msgCosto" for="fCosto" display="text" />

						<h:outputLabel for="fCostoMed"
							value="Costos de medidas de prevención y mitigación:" />
						<p:inputText
							value="#{capitulo2View.proyecto.proyMedidasPrevencion}"
							class="form-control" id="fCostoMed" required="true"
							onkeypress="return capturaCantidades(event);" maxlength="18"
							label="Costos de medidas de prevención y mitigación"
							requiredMessage="Este campo es obligatorio">
							<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
							<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
							<c:choose>
								<!-- Actualiza el valor (suma) en Inversión total y aplica validación de cantidades totales -->
								<c:when test="#{capitulo1View.proyecto.nsub eq 7 and capitulo1View.proyecto.nrama eq 30}">
									<p:ajax event="blur" update="fInvTot fCostoMed totalesIguales" />
								</c:when>
								<!-- Actualiza el valor (suma) en Inversión total -->
								<c:otherwise>
									<p:ajax event="blur" update="fInvTot fCostoMed" />
								</c:otherwise>
							</c:choose>
						</p:inputText>
						
						<p:message id="msgCostoMed" for="fCostoMed" display="text" />

						<h:outputLabel for="fInvTot" value="Inversión total:" />
						<p:inputText
							value="#{capitulo2View.proyecto.proyInversionRequerida + capitulo2View.proyecto.proyMedidasPrevencion}"
							class="form-control" id="fInvTot" readonly="true">
							<f:convertNumber currencySymbol="$" pattern="###,###.00"
								currencyCode="MXN" />
						</p:inputText>

						<p:message id="msgInvTot" for="fInvTot" display="text" />

						<br />
						<br />
						<h:outputLabel for="fEmpDir" value="Empleos permanentes:" />
						<p:inputText
							value="#{capitulo2View.proyecto.proyEmpleosPermanentes}"
							class="form-control" id="fEmpDir" maxlength="5" required="true"
							onkeypress="return capturaEnteros(event);"
							requiredMessage="Este campo es obligatorio">
							<p:ajax event="blur" update="fEmpT" />
						</p:inputText>
						<p:message id="msgEmpDir" for="fEmpDir" display="text" />

						<h:outputLabel for="fEmpIn" value="Empleos temporales:" />
						<p:inputText
							value="#{capitulo2View.proyecto.proyEmpleosTemporales}"
							class="form-control" id="fEmpIn" maxlength="5" required="true"
							onkeypress="return capturaEnteros(event);"
							requiredMessage="Este campo es obligatorio">
							<p:ajax event="blur" update="fEmpT" />
						</p:inputText>
						<p:message id="msgEmpIn" for="fEmpIn" display="text" />

						<h:outputLabel for="fEmpT" value="Empleos totales:" />
						<p:inputText
							value="#{capitulo2View.proyecto.proyEmpleosPermanentes + capitulo2View.proyecto.proyEmpleosTemporales}"
							class="form-control" id="fEmpT" readonly="true" />
						<p:message id="msgEmpT" for="fEmpT" display="text" />
						<br />
						<br />
					</h:panelGroup>
				</p:outputPanel>

				<!-- Inversión por Etapas -->
				<p:outputPanel id="pnlEtapas">
					<h:panelGroup id="pGN" rendered="#{capitulo2View.proyInversionPE}">
						<p:panelGrid id="gridRes">
							<f:facet name="header">
								<p:row>
									<p:column style="font-weight: bold;">Etapas</p:column>
									<p:column style="font-weight: bold;">Inversión</p:column>
									<p:column style="font-weight: bold;">Empleos temporales</p:column>
									<p:column style="font-weight: bold;">Empleos permanentes</p:column>
									<p:column style="font-weight: bold;">Total empleos por etapa</p:column>
								</p:row>
							</f:facet>

							<p:row>
								<p:column style="font-weight: bold;">Preparación del sitio</p:column>
								<p:column>
									<h:inputText id="invPrep" class="form-control" maxlength="18"
										value="#{capitulo2View.inversionEtapas.inversionPreparacion}"
										onkeypress="return capturaCantidades(event);" required="true">
										<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
										<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
										<c:choose>
											<!--  Suma automática de totales y subtotales. Valida cantidades totales -->
											<c:when test="#{capitulo1View.proyecto.nsub eq 7 and capitulo1View.proyecto.nrama eq 30}">
												<p:ajax event="blur" update="subTotalInv totalEtapas totalesIgualesE invPrep" />
											</c:when>
											<!--  Suma automática de totales y subtotales -->
											<c:otherwise>
												<p:ajax event="blur" update="subTotalInv totalEtapas invPrep" />
											</c:otherwise>
										</c:choose>
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText
										value="#{capitulo2View.inversionEtapas.empleosTemporalesPrep}"
										class="form-control"
										onkeypress="return capturaCantidades(event);" required="true">
										<f:validateLongRange minimum="0" maximum="999999999" />
										<p:ajax event="keyup"
											update="totalEmpP totalEmpTot totalEmpTem" />
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText
										value="#{capitulo2View.inversionEtapas.empleosPermanentesPrep}"
										class="form-control"
										onkeypress="return capturaCantidades(event);" required="true">
										<f:validateLongRange minimum="0" maximum="999999999" />
										<p:ajax event="keyup"
											update="totalEmpP totalEmpTot totalEmpPer" />
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText id="totalEmpP"
										value="#{capitulo2View.inversionEtapas.empleosTemporalesPrep + capitulo2View.inversionEtapas.empleosPermanentesPrep}"
										class="form-control" readonly="true" />
								</p:column>
							</p:row>

							<p:row>
								<p:column style="font-weight: bold;">Construcción</p:column>
								<p:column>
									<h:inputText id="invCons" class="form-control" maxlength="18"
										value="#{capitulo2View.inversionEtapas.inversionConstruccion}"
										onkeypress="return capturaCantidades(event);" required="true">
										<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
										<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
										<c:choose>
											<!--  Suma automática de totales y subtotales. Valida cantidades totales -->
											<c:when test="#{capitulo1View.proyecto.nsub eq 7 and capitulo1View.proyecto.nrama eq 30}">
												<p:ajax event="blur" update="subTotalInv totalEtapas totalesIgualesE invCons" />
											</c:when>
											<!--  Suma automática de totales y subtotales -->
											<c:otherwise>
												<p:ajax event="blur" update="subTotalInv totalEtapas invCons" />
											</c:otherwise>
										</c:choose>
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText
										value="#{capitulo2View.inversionEtapas.empleosTemporalesCons}"
										class="form-control"
										onkeypress="return capturaCantidades(event);" required="true">
										<f:validateLongRange minimum="0" maximum="999999999" />
										<p:ajax event="keyup"
											update="totalEmpC totalEmpTot totalEmpTem" />
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText
										value="#{capitulo2View.inversionEtapas.empleosPermanentesCons}"
										class="form-control"
										onkeypress="return capturaCantidades(event);" required="true">
										<f:validateLongRange minimum="0" maximum="999999999" />
										<p:ajax event="keyup"
											update="totalEmpC totalEmpTot totalEmpPer" />
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText id="totalEmpC"
										value="#{capitulo2View.inversionEtapas.empleosTemporalesCons + capitulo2View.inversionEtapas.empleosPermanentesCons}"
										class="form-control" readonly="true" />
								</p:column>
							</p:row>

							<p:row>
								<p:column style="font-weight: bold;">Operación y mantenimiento</p:column>
								<p:column>
									<h:inputText id="invOper" class="form-control" maxlength="18"
										value="#{capitulo2View.inversionEtapas.inversionOperacion}"
										onkeypress="return capturaCantidades(event);" required="true">
										<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
										<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
										<c:choose>
											<!--  Suma automática de totales y subtotales. Valida cantidades totales -->
											<c:when test="#{capitulo1View.proyecto.nsub eq 7 and capitulo1View.proyecto.nrama eq 30}">
												<p:ajax event="blur" update="subTotalInv totalEtapas totalesIgualesE invOper" />
											</c:when>
											<!--  Suma automática de totales y subtotales -->
											<c:otherwise>
												<p:ajax event="blur" update="subTotalInv totalEtapas invOper" />
											</c:otherwise>
										</c:choose>
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText
										value="#{capitulo2View.inversionEtapas.empleosTemporalesOper}"
										class="form-control"
										onkeypress="return capturaCantidades(event);" required="true">
										<f:validateLongRange minimum="0" maximum="999999999" />
										<p:ajax event="keyup"
											update="totalEmpO totalEmpTot totalEmpTem" />
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText
										value="#{capitulo2View.inversionEtapas.empleosPermanentesOper}"
										class="form-control"
										onkeypress="return capturaCantidades(event);" required="true">
										<f:validateLongRange minimum="0" maximum="999999999" />
										<p:ajax event="keyup"
											update="totalEmpO totalEmpTot totalEmpPer" />
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText id="totalEmpO"
										value="#{capitulo2View.inversionEtapas.empleosTemporalesOper + capitulo2View.inversionEtapas.empleosPermanentesOper}"
										class="form-control" readonly="true" />
								</p:column>
							</p:row>

							<p:row>
								<p:column style="font-weight: bold;">Abandono</p:column>
								<p:column>
									<h:inputText id="invAban" class="form-control" maxlength="18"
										value="#{capitulo2View.inversionEtapas.inversionAbandono}"
										onkeypress="return capturaCantidades(event);" required="true">
										<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
										<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
										<c:choose>
											<!--  Suma automática de totales y subtotales. Valida cantidades totales -->
											<c:when test="#{capitulo1View.proyecto.nsub eq 7 and capitulo1View.proyecto.nrama eq 30}">
												<p:ajax event="blur" update="subTotalInv totalEtapas totalesIgualesE invAban" />
											</c:when>
											<!--  Suma automática de totales y subtotales -->
											<c:otherwise>
												<p:ajax event="blur" update="subTotalInv totalEtapas invAban" />
											</c:otherwise>
										</c:choose>
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText
										value="#{capitulo2View.inversionEtapas.empleosTemporalesAban}"
										class="form-control"
										onkeypress="return capturaCantidades(event);" required="true">
										<f:validateLongRange minimum="0" maximum="999999999" />
										<p:ajax event="keyup"
											update="totalEmpA totalEmpTot totalEmpTem" />
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText
										value="#{capitulo2View.inversionEtapas.empleosPermanentesAban}"
										class="form-control"
										onkeypress="return capturaCantidades(event);" required="true">
										<f:validateLongRange minimum="0" maximum="999999999" />
										<p:ajax event="keyup"
											update="totalEmpA totalEmpTot totalEmpPer" />
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText id="totalEmpA"
										value="#{capitulo2View.inversionEtapas.empleosTemporalesAban + capitulo2View.inversionEtapas.empleosPermanentesAban}"
										class="form-control" readonly="true" />
								</p:column>
							</p:row>

							<p:row>
								<p:column colspan="5" styleClass="ui-widget-header">
									<p:spacer height="0" />
								</p:column>
							</p:row>

							<p:row>
								<p:column style="font-weight: bold;">SubTotal inversión</p:column>
								<p:column>
									<h:inputText id="subTotalInv" class="form-control"
										value="#{capitulo2View.inversionEtapas.inversionPreparacion + capitulo2View.inversionEtapas.inversionConstruccion + capitulo2View.inversionEtapas.inversionOperacion + capitulo2View.inversionEtapas.inversionAbandono}"
										label="SubTotal Inversión" readonly="true">
										<f:convertNumber currencySymbol="$" pattern="###,###.00"
											currencyCode="MXN" />
									</h:inputText>
								</p:column>
								<p:column colspan="3">
								</p:column>
							</p:row>

							<p:row>
								<p:column style="font-weight: bold;">Total de empleos</p:column>
								<p:column />
								<p:column>
									<h:inputText id="totalEmpTem" class="form-control"
										value="#{capitulo2View.inversionEtapas.empleosTemporalesPrep + capitulo2View.inversionEtapas.empleosTemporalesCons + capitulo2View.inversionEtapas.empleosTemporalesOper + capitulo2View.inversionEtapas.empleosTemporalesAban}"
										maxlength="8" label="Empleos Temporales" readonly="true">
										<f:validateDoubleRange minimum="0" maximum="99999999" />
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText id="totalEmpPer" class="form-control"
										value="#{capitulo2View.inversionEtapas.empleosPermanentesPrep + capitulo2View.inversionEtapas.empleosPermanentesCons + capitulo2View.inversionEtapas.empleosPermanentesOper + capitulo2View.inversionEtapas.empleosPermanentesAban}"
										maxlength="8" label="Empleos Permanentes" readonly="true">
										<f:validateDoubleRange minimum="0" maximum="99999999" />
									</h:inputText>
								</p:column>
								<p:column>
									<h:inputText id="totalEmpTot" class="form-control"
										value="#{capitulo2View.inversionEtapas.empleosTemporalesPrep + capitulo2View.inversionEtapas.empleosTemporalesCons + capitulo2View.inversionEtapas.empleosTemporalesOper + capitulo2View.inversionEtapas.empleosTemporalesAban + capitulo2View.inversionEtapas.empleosPermanentesPrep + capitulo2View.inversionEtapas.empleosPermanentesCons + capitulo2View.inversionEtapas.empleosPermanentesOper + capitulo2View.inversionEtapas.empleosPermanentesAban}"
										maxlength="8" label="Empleos Total" readonly="true">
										<f:validateDoubleRange minimum="0" maximum="99999999" />
									</h:inputText>
								</p:column>
							</p:row>

							<p:row>
								<p:column colspan="5" styleClass="ui-widget-header">
									<p:spacer height="0" />
								</p:column>
							</p:row>

							<p:row>
								<p:column style="font-weight: bold;">Medidas de mitigación</p:column>
								<p:column>
									<h:inputText id="medMitigacion" class="form-control"
										value="#{capitulo2View.inversionEtapas.medidasMitigacion}"
										required="true" maxlength="18" label="Medidas de Mitigación"
										onkeypress="return capturaCantidades(event);">
										
										<c:choose>
											<c:when test="#{capitulo1View.proyecto.nsub eq 7 and capitulo1View.proyecto.nrama eq 30}">
												<p:ajax event="blur" update="totalEtapas medMitigacion totalesIgualesE" />
											</c:when>
											<c:otherwise>
												<p:ajax event="blur" update="totalEtapas medMitigacion" />
											</c:otherwise>
										</c:choose>

										<f:validateDoubleRange minimum="0" maximum="999999999999999999.99" />
										<f:convertNumber currencySymbol="$" pattern="###,###.00"
											currencyCode="MXN" />
									</h:inputText>
								</p:column>
								<p:column colspan="3">
								</p:column>
							</p:row>

							<p:row>
								<p:column colspan="5" styleClass="ui-widget-header">
									<p:spacer height="0" />
								</p:column>
							</p:row>

							<p:row>
								<p:column style="font-weight: bold;">Total de la inversión</p:column>
								<p:column>
									<h:inputText id="totalEtapas" class="form-control"
										value="#{capitulo2View.inversionEtapas.inversionPreparacion + capitulo2View.inversionEtapas.inversionConstruccion + capitulo2View.inversionEtapas.inversionOperacion + capitulo2View.inversionEtapas.inversionAbandono + capitulo2View.inversionEtapas.medidasMitigacion}"
										maxlength="8" label="Total Etapas" readonly="true">
										<f:convertNumber currencySymbol="$" pattern="###,###.00"
											currencyCode="MXN" />
									</h:inputText>
								</p:column>
								<p:column colspan="3">
								</p:column>
							</p:row>
						</p:panelGrid>
					</h:panelGroup>
				</p:outputPanel>
				<br />

				<!--Validar Subsector -->
				<div id="pSector">
				<c:if test="#{capitulo1View.proyecto.nsub eq 7 and capitulo1View.proyecto.nrama eq 30}">
					<p:outputPanel id="origenPnl">
						<h:panelGrid id="tblFalse" columns="3"
							rendered="#{!capitulo2View.proyInversionPE}">
							<h:outputLabel value="Origen" />
							<h:outputLabel value="# Moneda nacional" />
							<h:outputLabel value="Porcentaje" />
	
							<h:outputLabel value="Federal" />
							<h:inputText id="oriFed" class="form-control"
								value="#{capitulo2View.proyecto.proyInversionFederalOri}"
								maxlength="18" label="Origen federal"
								onkeypress="return capturaCantidades(event);" required="true">
								<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
								<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
								<p:ajax event="blur" update="porMun,popEst,popFed,popPri,totCo,popTot,totalesIguales,oriFed" />
							</h:inputText>						
							<h:inputText id="popFed" class="form-control"
								value="#{capitulo2View.porFederal}" readonly="true" />						
	
							<h:outputLabel value="Estatal" />
							<h:inputText id="oriEst" class="form-control"
								value="#{capitulo2View.proyecto.proyInversionEstatalOri}"
								maxlength="18" label="Origen estatal"
								onkeypress="return capturaCantidades(event);" required="true">
								<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
								<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
								<p:ajax event="blur" update="porMun,popEst,popFed,popPri,totCo,popTot,totalesIguales,oriEst" />
							</h:inputText>						
							<h:inputText id="popEst" class="form-control"
								value="#{capitulo2View.porEstatal}" readonly="true" />							
	
							<h:outputLabel value="Municipal" />						
							<h:inputText id="oriMun" class="form-control"
								value="#{capitulo2View.proyecto.proyInversionMunicipalOri}"
								maxlength="18" label="Origen municipal"
								onkeypress="return capturaCantidades(event);" required="true">
								<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
								<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
								<p:ajax event="blur" update="porMun,popEst,popFed,popPri,totCo,popTot,totalesIguales,oriMun" />
							</h:inputText>
							<h:inputText id="porMun" class="form-control"
								value="#{capitulo2View.porMunicipal}" readonly="true" />							
	
							<h:outputLabel value="Privada" />
							<h:inputText id="oriPri" class="form-control"
								value="#{capitulo2View.proyecto.proyInversionPrivadaOri}"
								maxlength="18" label="Origen privada"
								onkeypress="return capturaCantidades(event);" required="true">
								<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
								<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
								<p:ajax event="blur" update="porMun,popEst,popFed,popPri,totCo,popTot,totalesIguales,oriPri" />
							</h:inputText>						
							<h:inputText id="popPri" class="form-control"
								value="#{capitulo2View.porPrivada}" readonly="true" />							
	
							<h:outputLabel value="Total" />
							<h:inputText id='totCo' class="form-control" readonly="true"
								value="#{capitulo2View.proyecto.proyInversionFederalOri + capitulo2View.proyecto.proyInversionEstatalOri + capitulo2View.proyecto.proyInversionMunicipalOri + capitulo2View.proyecto.proyInversionPrivadaOri}">
								<f:convertNumber currencySymbol="$" pattern="###,###.00"
									currencyCode="MXN" />
							</h:inputText>						
							<h:inputText id="popTot" class="form-control"
								value="#{capitulo2View.porTot}" readonly="true" />							
						</h:panelGrid>				
						
						
						<h:panelGrid id="tblTrue" columns="3"
							rendered="#{capitulo2View.proyInversionPE}">
							<h:outputLabel value="Origen" />
							<h:outputLabel value="# Moneda nacional" />
							<h:outputLabel value="Porcentaje" />
	
							<h:outputLabel value="Federal por Etapas" />						
							<h:inputText id="oriFedE" class="form-control"
								value="#{capitulo2View.proyecto.proyInversionFederalOri}"
								maxlength="18" label="Origen federal"
								onkeypress="return capturaCantidades(event);" required="true">
								<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
								<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
								<p:ajax event="blur" update="porMunE,popEstE,popFedE,popPriE,totCoE,popTotE,totalesIgualesE,oriFedE" />
							</h:inputText>						
							<h:inputText id="popFedE" class="form-control"
								value="#{capitulo2View.porFederal}" readonly="true" />
	
							<h:outputLabel value="Estatal por etapas" />						
							<h:inputText id="oriEstE" class="form-control"
								value="#{capitulo2View.proyecto.proyInversionEstatalOri}"
								maxlength="18" label="Origen estatal"
								onkeypress="return capturaCantidades(event);" required="true">
								<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
								<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
								<p:ajax event="blur" update="porMunE,popEstE,popFedE,popPriE,totCoE,popTotE,totalesIgualesE,oriEstE" />
							</h:inputText>						
								<h:inputText id="popEstE" class="form-control"
								value="#{capitulo2View.porEstatal}" readonly="true" />
	
							<h:outputLabel value="Municipal por etapas" />						
							<h:inputText id="oriMunE" class="form-control"
								value="#{capitulo2View.proyecto.proyInversionMunicipalOri}"
								maxlength="18" label="Origen municipal"
								onkeypress="return capturaCantidades(event);" required="true">
								<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
								<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
								<p:ajax event="blur" update="porMunE,popEstE,popFedE,popPriE,totCoE,popTotE,totalesIgualesE,oriMunE" />
							</h:inputText>						
								<h:inputText id="porMunE" class="form-control"
								value="#{capitulo2View.porMunicipal}" readonly="true" />
	
							<h:outputLabel value="Privada por etapas" />
							<h:inputText id="oriPriE" class="form-control"
								value="#{capitulo2View.proyecto.proyInversionPrivadaOri}"
								maxlength="18" label="Origen privada"
								onkeypress="return capturaCantidades(event);" required="true">
								<f:validateDoubleRange minimum="0.00" maximum="999999999999999999.99" />
								<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />
								<p:ajax event="blur" update="porMunE,popEstE,popFedE,popPriE,totCoE,popTotE,totalesIgualesE,oriPriE" />
							</h:inputText>						
								<h:inputText id="popPriE" class="form-control"
								value="#{capitulo2View.porPrivada}" readonly="true" />
	
							<h:outputLabel value="Total por etapas" />						
							<h:inputText id='totCoE' class="form-control" readonly="true"
								value="#{capitulo2View.proyecto.proyInversionFederalOri + capitulo2View.proyecto.proyInversionEstatalOri + capitulo2View.proyecto.proyInversionMunicipalOri + capitulo2View.proyecto.proyInversionPrivadaOri}">
								<f:convertNumber currencySymbol="$" pattern="###,###.00"
									currencyCode="MXN" />
							</h:inputText>						
								<h:inputText id="popTotE" class="form-control"
								value="#{capitulo2View.porTot}" readonly="true" />
						</h:panelGrid>
						</p:outputPanel>
					</c:if>
				</div>

				<c:if test="#{capitulo1View.proyecto.nsub eq 7 and capitulo1View.proyecto.nrama eq 30}">
					<p:outputPanel id="totales">
						<h:panelGroup id="totalesIguales"
							rendered="#{!capitulo2View.proyInversionPE}">
							<h:outputLabel
								rendered="#{capitulo2View.proyecto.proyInversionFederalOri + capitulo2View.proyecto.proyInversionEstatalOri + capitulo2View.proyecto.proyInversionMunicipalOri + capitulo2View.proyecto.proyInversionPrivadaOri != capitulo2View.proyecto.proyInversionRequerida + capitulo2View.proyecto.proyMedidasPrevencion}">
								<div class="alert alert-warning">
									<strong>¡Atención!</strong> la inversión total no es igual al total de origen.
								</div>
							</h:outputLabel>
						</h:panelGroup>
						<h:panelGroup id="totalesIgualesE"
							rendered="#{capitulo2View.proyInversionPE}">
							<h:outputLabel
								rendered="#{capitulo2View.proyecto.proyInversionFederalOri + capitulo2View.proyecto.proyInversionEstatalOri + capitulo2View.proyecto.proyInversionMunicipalOri + capitulo2View.proyecto.proyInversionPrivadaOri != capitulo2View.inversionEtapas.inversionPreparacion + capitulo2View.inversionEtapas.inversionConstruccion + capitulo2View.inversionEtapas.inversionOperacion + capitulo2View.inversionEtapas.inversionAbandono + capitulo2View.inversionEtapas.medidasMitigacion}">
								<div class="alert alert-warning">
									<strong>¡Atención!</strong> el total de etapas no es igual al total de origen.
								</div>
							</h:outputLabel>
						</h:panelGroup>
					</p:outputPanel>
				</c:if>

				<p:dialog widgetVar="modalAlertE" id="modalAlertE" header="Aviso"
					modal="true" closable="false">
					<div class="alert alert-success">Datos guardados exitosamente.</div>
					<button class="btn btn-primary" type="button" style="float: right;"
						onclick="modalAlertE.hide();">Aceptar</button>
				</p:dialog>				

			</h:form>
		</h:panelGroup>
	</div>

	<h:form>
		<div id="componenteGuarda"
			style="display: none; float: right; clear: right;">
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{capitulo2View.guardarProyecto}" update=":fMontos:msgCosto :fMontos:msgCostoMed :fMontos:msgInvTot :fMontos:msgEmpDir :fMontos:msgEmpIn :fMontos:msgEmpT"
				onsuccess="parent.actualizaBarra();"/>
		</div>
	</h:form>
</div>
	<script>

		$(document).ready(function(){
			
 			s = '<h3>Inversión y empleos<a style="color:#000;"><span id="case_btn_ayuda" class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3>';
 			getInformacionAdicional('#{capitulo2View.strComentProy}','foDatosGen',1,4,0,s);
             			
 			$('#case_btn_ayuda').click({
 				vClaveTramite : "#{capitulo2View.claveTramite}",
 				nsub : "#{capitulo2View.proyecto.nsub}",
 				capitulo : 2,
 				subcapitulo : 1,
 				seccion : 4,
 				apartado : -1
 			}, case_ayuda);
		});
	
	</script>
</h:body>
</html>
