<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="../../assets/css/gobmx.css"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
    </h:head>
    <h:body onload="javascript:getInformacionAdicional('#{capitulo2View.strComentProy}','foDatosGen',1,4,0,'Inversión Requerida')">
        <h:form id="foDatosGen">
            
            <h:inputHidden id="ubicActual" value="#{capitulo2View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo2View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>
            
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>
            
            <div id="dInvRequerida" >                
                <h:panelGroup>
                <div id="titulo"></div>
                    <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> Ayuda    
                    <br></br>
                    <br></br>






                     <div id="componenteConsulta" style="display:none">
                        <h:outputLabel for="fCosto" value="Costo de la Inversión Requerida:" />
                        <p:inputText readonly="true" value="#{capitulo2View.proyecto.proyInversionRequerida}" class="form-control" id="fCosto" required="true" maxlength="50" requiredMessage="El Costo de la Inversion Requerida es requerida." onkeypress="if(event.which == 8 || event.which == 0) return true;if (event.which &lt; 48 || event.which &gt; 57) return false;" >
                        </p:inputText>
                        <p:message for="fCosto" display="text" />

                        <h:outputLabel for="fCostoMed" value="Costos de Medidas de Prevención y Mitigación:" />
                        <p:inputText readonly="true" value="#{capitulo2View.proyecto.proyMedidasPrevencion}" class="form-control" id="fCostoMed"  onkeypress="if(event.which == 8 || event.which == 0) return true;if (event.which &lt; 48 || event.which &gt; 57) return false;">
                        </p:inputText>

                        <h:outputLabel for="fInvTot" value="Inversión Total:" />
                        <p:inputText readonly="true" value="#{capitulo2View.proyecto.proyInversionRequerida + capitulo2View.proyecto.proyMedidasPrevencion}" class="form-control" id="fInvTot"/>
                        <p:message for="fInvTot" display="text" />

                        <br /><br />
                        <!--Validar Subsector -->
                        <h:panelGrid columns="3" id="origen" rendered="#{capitulo1View.proyecto.nsub eq 7 and capitulo1View.proyecto.nrama eq 30}">
                            <h:outputLabel value="Origen" />
                            <h:outputLabel value="# Moneda Nacional" />
                            <h:outputLabel value="Porcentaje" />

                            <h:outputLabel value="Federal" />
                            <h:inputText readonly="true" value="#{capitulo2View.proyecto.proyInversionFederalOri}">
                            </h:inputText>
                            <h:inputText id="popFed" value="#{capitulo2View.porFederal}" readonly="true"/>

                            <h:outputLabel value="Estatal" />
                            <h:inputText readonly="true"  value="#{capitulo2View.proyecto.proyInversionEstatalOri}">
                            </h:inputText>
                            <h:inputText id="popEst" value="#{capitulo2View.porEstatal}" readonly="true"/>

                            <h:outputLabel value="Municipal" />
                            <h:inputText readonly="true" value="#{capitulo2View.proyecto.proyInversionMunicipalOri}">
                            </h:inputText >
                            <h:inputText  id="porMun" value="#{capitulo2View.porMunicipal}" readonly="true"/>

                            <h:outputLabel value="Privada" />
                            <h:inputText readonly="true" value="#{capitulo2View.proyecto.proyInversionPrivadaOri}">
                            </h:inputText>
                            <h:inputText  id="popPri" value="#{capitulo2View.porPrivada}" readonly="true"/>

                            <h:outputLabel value="Total" />
                            <h:inputText id='totCo' readonly="true" value="#{capitulo2View.proyecto.proyInversionFederalOri + capitulo2View.proyecto.proyInversionEstatalOri + capitulo2View.proyecto.proyInversionMunicipalOri + capitulo2View.proyecto.proyInversionPrivadaOri}" />
                            <h:inputText id="popTot"  value="#{capitulo2View.porTot}" readonly="true"/>

                        </h:panelGrid>

                        <h:outputLabel for="fEmpDir" value="Empleos Permanentes:" />
                        <p:inputText readonly="true" value="#{capitulo2View.proyecto.proyEmpleosPermanentes}" class="form-control" id="fEmpDir" onkeypress="if (event.which &lt; 48 || event.which &gt; 57) return false;">
                        </p:inputText>
                        <p:message for="fEmpDir" display="text" />

                        <h:outputLabel for="fEmpIn" value="Empleos Temporales:" />
                        <p:inputText readonly="true" value="#{capitulo2View.proyecto.proyEmpleosTemporales}" class="form-control" id="fEmpIn" onkeypress="if (event.which &lt; 48 || event.which &gt; 57) return false;">
                        </p:inputText>
                        <p:message for="fEmpIn" display="text" />

                        <h:outputLabel for="fEmpT" value="Empleos Totales:" />
                        <p:inputText value="#{capitulo2View.proyecto.proyEmpleosPermanentes + capitulo2View.proyecto.proyEmpleosTemporales}" class="form-control" id="fEmpT" readonly="true"/>
                        <p:message for="fEmpT" display="text" />
                
                    </div>
                    <div id="componenteActualiza" style="display:none; float: right; margin-right: 20px">
                        <br/> 
                        <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModifica('foDatosGen');"/>
                     </div>
                    
                    <div id="componenteCaptura">
                        
                        <h:outputLabel for="fCosto" value="Costo de la Inversión Requerida:" />
                        <p:inputText value="#{capitulo2View.proyecto.proyInversionRequerida}" class="form-control" id="fCosto" required="true" maxlength="15" 
                                     requiredMessage="El Costo de la Inversion Requerida es requerida."
                                     label="Costo de la Inversión Requerida">
                            <f:validateDoubleRange minimum="0.00" maximum="999999999999.99"/>
                            <p:ajax event="blur" update="fInvTot" />
                        </p:inputText>
                        <p:message for="fCosto" display="text" />

                        <h:outputLabel for="fCostoMed" value="Costos de Medidas de Prevención y Mitigación:" />
                        <p:inputText value="#{capitulo2View.proyecto.proyMedidasPrevencion}" class="form-control" id="fCostoMed">
                            <p:ajax event="blur" update="fInvTot" />
                        </p:inputText>

                        <h:outputLabel for="fInvTot" value="Inversión Total:" />
                        <p:inputText value="#{capitulo2View.proyecto.proyInversionRequerida + capitulo2View.proyecto.proyMedidasPrevencion}" class="form-control" id="fInvTot" readonly="true"/>
                        <p:message for="fInvTot" display="text" />

                        <br /><br />
                        <!--Validar Subsector -->
                        <h:panelGrid columns="3" id="origen" >
                            <h:outputLabel value="Origen" />
                            <h:outputLabel value="# Moneda Nacional" />
                            <h:outputLabel value="Porcentaje" />

                            <h:outputLabel value="Federal" />
                            <h:inputText  value="#{capitulo2View.proyecto.proyInversionFederalOri}">
                                <p:ajax event="blur" update="porMun,popEst,popFed,popPri,totCo,popTot" />
                            </h:inputText>
                            <h:inputText id="popFed" value="#{capitulo2View.porFederal}" readonly="true"/>

                            <h:outputLabel value="Estatal" />
                            <h:inputText  value="#{capitulo2View.proyecto.proyInversionEstatalOri}">
                                <p:ajax event="blur" update="porMun,popEst,popFed,popPri,totCo,popTot" />
                            </h:inputText>
                            <h:inputText id="popEst" value="#{capitulo2View.porEstatal}" readonly="true"/>

                            <h:outputLabel value="Municipal" />
                            <h:inputText  value="#{capitulo2View.proyecto.proyInversionMunicipalOri}">
                                <p:ajax event="blur" update="porMun,popEst,popFed,popPri,totCo,popTot" />
                            </h:inputText >
                            <h:inputText  id="porMun" value="#{capitulo2View.porMunicipal}" readonly="true"/>

                            <h:outputLabel value="Privada" />
                            <h:inputText  value="#{capitulo2View.proyecto.proyInversionPrivadaOri}">
                                <p:ajax event="blur" update="porMun,popEst,popFed,popPri,totCo,popTot" />
                            </h:inputText>
                            <h:inputText  id="popPri" value="#{capitulo2View.porPrivada}" readonly="true"/>

                            <h:outputLabel value="Total" />
                            <h:inputText id='totCo' readonly="true" value="#{capitulo2View.proyecto.proyInversionFederalOri + capitulo2View.proyecto.proyInversionEstatalOri + capitulo2View.proyecto.proyInversionMunicipalOri + capitulo2View.proyecto.proyInversionPrivadaOri}" />
                            <h:inputText id="popTot"  value="#{capitulo2View.porTot}" readonly="true"/>

                        </h:panelGrid>

                        <h:outputLabel for="fEmpDir" value="Empleos Permanentes:" />
                        <p:inputText value="#{capitulo2View.proyecto.proyEmpleosPermanentes}" class="form-control" id="fEmpDir" onkeypress="if (event.which &lt; 48 || event.which &gt; 57) return false;">
                            <p:ajax event="blur" update="fEmpT" />
                        </p:inputText>
                        <p:message for="fEmpDir" display="text" />

                        <h:outputLabel for="fEmpIn" value="Empleos Temporales:" />
                        <p:inputText value="#{capitulo2View.proyecto.proyEmpleosTemporales}" class="form-control" id="fEmpIn" onkeypress="if (event.which &lt; 48 || event.which &gt; 57) return false;">
                            <p:ajax event="blur" update="fEmpT" />
                        </p:inputText>
                        <p:message for="fEmpIn" display="text" />

                        <h:outputLabel for="fEmpT" value="Empleos Totales:" />
                        <p:inputText value="#{capitulo2View.proyecto.proyEmpleosPermanentes + capitulo2View.proyecto.proyEmpleosTemporales}" class="form-control" id="fEmpT" readonly="true"/>
                        <p:message for="fEmpT" display="text" />

                    </div>				
                </h:panelGroup>
            </div>
        
            <div id="componenteGuarda" style="display:none; float: right; margin-right: 20px">
                <br/>
                <p:commandButton value="Guardar" class="btn btn-primary" action="#{capitulo2View.guardarProyecto}" onsuccess="parent.actualizaBarra();"/>
            </div>
            
        </h:form>
        
        <script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo2View.claveTramite}", nsub:"#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 1, seccion: 4, apartado: -1 }, case_ayuda);
        </script>
    </h:body>
</html>
