<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" />
        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet"/>       
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
    </h:head>
    <h:body onload="javascript:getInformacionAdicional('#{capitulo2_1View.strComentProy}','foDatosGen',1,1,1,'Justificación')">
        
	 <div id="pDesSisTrans" class="col-md-12">
	    <div class="row" id="mensaje"></div>     
        <h:form id="foDatosGen">
            
            <h:inputHidden id="ubicActual" value="#{capitulo2_1View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo2_1View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>            
            
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>

           <div class="row">
                <div id="titulo"></div>
                <hr class="red"/>
           </div>
           <div class="row">     
                <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom">
                      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda 
                  </button>
                  <hr/>
			</div>
			<div class="row">                  
                    <div id="componenteConsulta" style="display:none">  
                        <center>
                            <table width="60%" style="text-align: justify;"><tr><td>
                            <c:choose>
                                <c:when test="#{capitulo2_1View.proyecto.justProy eq null or capitulo2_1View.proyecto.justProy eq ''}">
                                    <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                                </c:when>
                                <c:otherwise>
                                    <h:outputText value="#{capitulo2_1View.proyecto.justProy}" escape="false"/> 
                                </c:otherwise>
                            </c:choose>
                            </td></tr></table>
                        </center> 
                    </div>
            </div>
            <div class="row">
                    <div id="componenteActualiza" style="display:none;" class="pull-right">
                        <br/> 
                        <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModifica('foDatosGen');"/>
                     </div>
            </div>
            <div class="row">
                    <div id="componenteCaptura">                    
                    <pe:ckEditor  width="100%"  value="#{capitulo2_1View.proyecto.justProy}"
                                 toolbar="[[ 'Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </div>
            </div>   
            
      		<div class="row">      
	            <div id="componenteGuarda" style="display:none;" class="pull-right">
	            	<br/>
	                <p:commandButton value="Guardar" class="btn btn-primary" action="#{capitulo2_1View.guardarProyecto}" />
	            </div>
            </div>
        </h:form>
</div>        
        <script>
//            $('#case_btn_ayuda').click({capitulo: 2, subcapitulo: 1, seccion: 1, nsec: 1}, case_ayuda);
            $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo2_1View.claveTramite}", nsub:"#{capitulo2_1View.proyecto.nsub}", capitulo: 2, subcapitulo: 1, seccion: 7, apartado: -1 }, case_ayuda);
        </script>
    </h:body>
</html>
