<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- 	<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
	<!-- 	<link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" /> -->
	<!-- Gráfica Base Local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
</h:head>
<h:body>

	<div class="col-md-12">
		<div class="row" id="mensaje"></div>
		<div class="row" id="case_pnl_ayuda_cnt"></div>
	
	<!-- Sección de Avance de Proyecto -->
	<h:form id="fSeleSitio">
		<c:set value="2.2" target="#{capitulo2View}" property="seccion" />
		<!--<p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" />-->
<!-- 		<p:growl id="mensajegrowl" autoUpdate="true" /> -->
		<h:inputHidden id="ubicActual" value="#{capitulo2View.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional" value="#{capitulo2View.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />

<!-- 		<div class="semarnat_ayuda" id='case_pnl_ayuda'> -->
<!-- 			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div> -->
<!-- 		</div> -->
	</h:form>

	<div id="planosAdicionales">
		<h:panelGroup id="pSelSit">
			<h:form id="fTabla">
				<div id="titulo"></div>
				<hr class="red"></hr>
				
<!-- 				<button id='case_btn_ayuda' type="button" class="btn btn-default" -->
<!-- 					data-toggle="tooltip" data-placement="bottom"> -->
<!-- 					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> -->
<!-- 					<span class="glyphicon-class">Ayuda</span> -->
<!-- 				</button>								 -->
<!-- 				<hr></hr>							 -->

				<p:commandLink
					class="btn btn-default glyphicon glyphicon-plus alinDerecha ui-button-textx"
					value="Agregar" actionListener="#{capitulo2View.crearCriterio}"
					onsuccess="fAgregar:modalAgregar.show()"
					update=":fAgregar:pnlAgregar">
					<p:ajax process="@this" />
				</p:commandLink>
				<p:commandLink id="bElimina"
					class="btn btn-default glyphicon glyphicon-remove-circle alinDerecha ui-button-textx botonEliminar"
					value="Eliminar"
					actionListener="#{capitulo2View.tieneCriteriosSeleccionados}"
					disabled="#{capitulo2View.crit_seleccionados.size() == 0}"
					update=":fEliminar:multiCrit">
					<p:ajax process="@this" />					
				</p:commandLink>				
				<br />
				<br />
				<br />
				
				<!-- 
				<div id="componenteActualiza"
					style="display: none; float: right; margin-right: 20px">
					<br />
					<p:commandButton value="Modificar sección (opcional)"
						class="btn btn-primary"
						onclick="actualizaComponentesModifica('fSeleSitio');" />
				</div>
				 -->

				<!-- 				</div> -->

				<!--  Tabla de consulta de datos -->
				<div>
					<p:dataTable id="tablaDatos" value="#{capitulo2View.criterios}" var="c" rowIndexVar="rowIndexSS"
						selection="#{capitulo2View.crit_seleccionados}"
						rowKey="#{c.criteriosProyectoPK.criterioProyId}" paginator="true" emptyMessage="Sin registros."
						paginatorPosition="bottom" rows="10" style="margin-bottom: 0;">
						
						<p:ajax event="toggleSelect" update=":fTabla:bElimina" />						
						<p:ajax event="rowSelectCheckbox" update=":fTabla:bElimina" />
						<p:ajax event="rowUnselectCheckbox" update=":fTabla:bElimina" />
						<p:column id="eliminarR" selectionMode="multiple"
							style="width:50px; text-align:center">
						</p:column>
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
							<!-- <h:outputText value="#{c.criteriosProyectoPK.criterioProyId}" /> -->
							<h:outputText value="#{rowIndexSS+1}" />
						</p:column>
						<p:column style="white-space: normal; width:100px;">
							<f:facet name="header">Tipo de criterio</f:facet>
							<h:outputText value="#{c.criterioId.criterioNombre}" />
						</p:column>
						<p:column style="white-space: normal; width:200px;">
							<f:facet name="header">Criterio</f:facet>
							<h:outputText value="#{c.criterio}" />
						</p:column>
						<p:column style="white-space: normal;">
							<f:facet name="header">Descripción</f:facet>
							<h:outputText value="#{c.criterioDescripcionCorta}" />
						</p:column>
						<p:column style="white-space: normal; width:80px; text-align:center;">
							<f:facet name="header" />
							<p:commandButton
								class="btn btn-default btn-xs glyphicon glyphicon-pencil"
								value="" action="#{capitulo2View.consultarCriterio}"
								onclick="modalEditar.show()"
								update=":fEditar:pnlEditar :fEditar:formEditarHeader" immediate="true">
								<p:ajax process="@this" />
								<f:param name="prowindexSS" value="#{rowIndexSS+1}" />
								<f:param name="id" value="#{c.criteriosProyectoPK.criterioProyId}" />
								<p:resetInput target=":fEditar:pnlEditar"/>
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</div>
			</h:form>
		</h:panelGroup>
	</div>

	<!-- Formulario para agregar registro -->
	<h:form id="fAgregar">
		<p:dialog widgetVar="modalAgregar" id="modalAgregar" modal="true"
			closable="false" position="top">
			<f:facet name="header" style="background-color: black;">Selección del sitio - agregar criterio</f:facet>
			<p:outputPanel id="pnlAgregar">
			<p:outputLabel value="Tipo de criterio"/>
				<p:outputLabel value="" for="tipoCriterio" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="tipoCriterio"
					value="#{capitulo2View.selectedCriterio.criterioId}"
					converter="#{catCriterioConverterBean}" required="true"
					hideNoSelectionOption="true"
					class="form-control"
					requiredMessage="Este campo es obligatorio">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catCriterios}" />
				</h:selectOneMenu>
				<p:message for="tipoCriterio" />
				<br />
				<p:outputLabel value="Criterio" />
				<p:outputLabel value="" for="criterio" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="criterio" class="form-control"
					value="#{capitulo2View.selectedCriterio.criterio}" cols="50" rows="3"
					maxlength="100" counter="contador1"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador1" />
				<p:message for="criterio" />
				<br />
				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descripcion" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="descripcion" class="form-control"
					value="#{capitulo2View.selectedCriterio.criterioDescripcion}" cols="50"
					rows="3" maxlength="1000" counter="contador2"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador2" />
				<p:message for="descripcion" />

				<p:commandButton id="guardar" class="btn btn-primary"
					value="Guardar" update=":fTabla:tablaDatos,pnlAgregar"
					action="#{capitulo2View.agregarCriterio}" validateClient="true" style="float: right;" />
				<p:commandButton id="cerrarModalA" class="btn btn-default botonEliminar"
					value="Cerrar" onclick="modalAgregar.hide();"
					update="pnlAgregar" immediate="true"
					style="float: right;" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlert" id="modalAlert" header="Aviso"
			modal="true" closable="false" position="top">
			<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Registro guardado
				exitosamente.</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlert.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Formulario para editar registro -->
	<h:form id="fEditar">
		<p:dialog widgetVar="modalEditar" id="modalEditar" modal="true"
			closable="false" position="top">
			<f:facet name="header">
				<p:outputPanel id="formEditarHeader">
					<h4 class="modal-title">Editar criterio # #{capitulo2View.rowIndexSelSitEditar}
						<!-- #{capitulo2View.editCriterio.criteriosProyectoPK.criterioProyId} -->
					</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditar">
				<p:outputLabel value="Tipo de criterio" />
				<p:outputLabel value="" for="tipoCriterioE" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="tipoCriterioE"
					value="#{capitulo2View.editCriterio.criterioId}"
					converter="#{catCriterioConverterBean}" required="true"
					requiredMessage="Este campo es obligatorio"
					hideNoSelectionOption="true" class="form-control" >
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catCriterios}" />
				</h:selectOneMenu>
				<p:message for="tipoCriterioE" />
				<br />
				<p:outputLabel value="Criterio" />
				<p:outputLabel value="" for="criterioE" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="criterioE" class="form-control"
					value="#{capitulo2View.editCriterio.criterio}" cols="50" rows="3"
					maxlength="100" counter="contador3"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador3" />
				<p:message for="criterioE" />
				<br />
				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descripcionE" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="descripcionE" class="form-control"
					value="#{capitulo2View.editCriterio.criterioDescripcion}" cols="50" rows="3"
					maxlength="1000" counter="contador4"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador4" />
				<p:message for="descripcionE" />				

				<p:commandButton id="guardarE" value="Guardar"
					class="btn btn-primary"
					update=":fTabla:tablaDatos,pnlEditar"
					action="#{capitulo2View.editarCriterio}" style="float: right;" />
				<p:commandButton id="cerrarModalE" value="Cerrar"
					class="btn btn-default botonEliminar" onclick="modalEditar.hide()"
					update="pnlEditar" immediate="true"
					style="float: right; margin-rigth: 20px;" />
			</p:outputPanel>
		</p:dialog>
		<p:dialog widgetVar="modalAlertE" id="modalAlertE" header="Aviso"
			modal="true" closable="false" position="top">
			<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Registro actualizado
				exitosamente.</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertE.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para confirmar la eliminación -->
	<h:form id="fEliminar">
		<p:dialog header="Eliminar criterio(s)" widgetVar="eliminarCriterios"
			id="eliminarCriterios" modal="true" position="top" showEffect="fade"
			hideEffect="fade" closable="false" resizable="false">
			<div class="alert alert-warning">¿Realmente desea borrar
				el(los) criterio(s)?</div>
			<p:outputPanel id="multiCrit">
				<ui:repeat value="#{capitulo2View.crit_seleccionados}" var="c">
					<h:outputText
						value="#{c.criterioId.criterioNombre}"
						style="display:block" />
				</ui:repeat>
			</p:outputPanel>
			<p:commandButton value="Sí" action="#{capitulo2View.eliminaCriterios}"
				class="btn btn-primary" update=":fTabla:tablaDatos :fTabla:bElimina"
				oncomplete="eliminarCriterios.hide();dlgAvisoBorrado.show()"
				style="float:right;" />
			<p:commandButton type="button" value="No" update=":fTabla:tablaDatos"
				class="btn btn-default botonEliminar" onclick="eliminarCriterios.hide()"
				style="float:right;" />
		</p:dialog>

		<p:dialog header="Aviso" widgetVar="dlgAvisoBorrado" modal="true"
			position="top" showEffect="fade" hideEffect="fade">
			<div class="alert alert-success"><span class="glyphicon glyphicon-remove"></span> Registro(s) eliminado(s)
				exitosamente.</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="dlgAvisoBorrado.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<h:form>
		<div id="componenteGuarda" style="float: right;">
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{capitulo2View.guardarProyecto}"
				oncomplete="parent.actualizaBarra();" />
		</div>
	</h:form>	
</div>
	<script>
		

		$(document).ready(function(){
			
 			s = '<h3>Selección del sitio<a style="color:#000;"><span id="case_btn_ayuda" class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3>';
 			getInformacionAdicional('#{capitulo2View.strComentProy}', 'fSeleSitio', 1, 2, 0,s)
 			
 			$('#case_btn_ayuda').click({
 				vClaveTramite : "#{capitulo2View.claveTramite}",
 				nsub : "#{capitulo2View.proyecto.nsub}",
 				capitulo : 2,
 				subcapitulo : 1,
 				seccion : 2,
 				apartado : -1
 			}, case_ayuda); 			
 			
		});

		</script>
	
<!-- 	<ui:include src="/loading.xhtml" /> -->
</h:body>
</html>
