<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core" >
<h:head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- 	<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	
	<!-- Script de Gráfica Base Local - -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>

</h:head>

<h:body onload="javascript:getInformacionAdicional('#{capitulo2View.strComentProy}','serviciosForm',1,6,0,'Servicios requeridos del proyecto')">
	<div class="col-md-12" id="mensaje"></div>
	
	<h:form id="serviciosForm">
		<h:inputHidden id="ubicActual" value="#{capitulo2View.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />
		<h:inputHidden id="strInfoAdicional"
			value="#{capitulo2View.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />

		<div class="semarnat_ayuda" id='case_pnl_ayuda'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>
		
		<div id="titulo"></div>
		<hr class="red"></hr>
		<button id='case_btn_ayuda' type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom">
			<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
			<span class="glyphicon-class">Ayuda</span>
		</button><hr></hr>

		<h:panelGroup id="pnlServs">
			<h:outputLabel for="fServReq"
				value="¿El proyecto demandará servicios?" />
			<p:selectOneRadio id="fServReq" required="true" 
				requiredMessage="Es necesario indicar si el proyecto demandará servicios"
				value="#{capitulo2View.proyecto.proyServreq}">
				<f:ajax listener="#{capitulo2View.selServicios}" render="pnlServs" />
				<f:selectItem itemLabel="Si" itemValue="S" />	
				<f:selectItem itemLabel="No" itemValue="N" />
			</p:selectOneRadio>

			<p:message for="fServReq" display="text" />

			<p:commandLink rendered="#{capitulo2View.capServicios}"
				class="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx alinDerecha"
				value="Agregar" onclick="AgregarServicio:dlgAgregarServicio.show()"
				update=":AgregarServicio:pnlAgregar">
				<p:ajax process="@this" />
				<p:resetInput target=":AgregarServicio:pnlAgregar" />
			</p:commandLink>
			<p:commandLink id="btnEliminar"
				rendered="#{capitulo2View.capServicios}"
				class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
				value="Eliminar" update=":BorrarServicio:pnlEliminaServ"
				action="#{capitulo2View.tieneServiciosSeleccionados}"
				disabled="#{capitulo2View.serv_seleccionados.size() == 0}">
				<p:ajax process="@this" />
			</p:commandLink>
			<br />
			<br />

			<div>
				<h:panelGroup id="pServ" rendered="#{capitulo2View.capServicios}">
					<p:dataTable id="dataServ" value="#{capitulo2View.servicios}"
						var="serv" rowIndexVar="rowIndexSR" selection="#{capitulo2View.serv_seleccionados}"
						rowKey="#{serv.servicioProyectoPK.servicioProyId}"
						style="margin-bottom: 0; margin-top: 7px; margin-right: 4px;" StyleClass="table table-bordered"
						paginatorPosition="bottom" paginator="true" rows="10"
						emptyMessage="Sin registros.">
						
						<p:ajax event="toggleSelect" update=":serviciosForm:btnEliminar" />						
						<p:ajax event="rowSelectCheckbox" update=":serviciosForm:btnEliminar" />
						<p:ajax event="rowUnselectCheckbox" update=":serviciosForm:btnEliminar" />
						<p:column id="check" selectionMode="multiple"
							style="width:5%;text-align:center" />
						<p:column style="white-space: normal; width: 50px; text-align: center;" headerText="#">
							<h:outputText value="#{rowIndexSR+1}" />
						</p:column>
						<p:column style="white-space:normal" headerText="Servicio">
								<h:outputText value="#{serv.servicioNombre}" />
						</p:column>
						<p:column style="white-space:normal" headerText="Etapa">
								<h:outputText value="#{serv.catEtapa.etapaDescripcion}" />
						</p:column>
						<p:column style="white-space:normal; text-align: center;" headerText="Disponible">
								<h:outputText value="#{serv.servicioDisponibleCompleta}" />
						</p:column>
						<p:column style="white-space:normal" headerText="Suministrado por">
								<h:outputText value="#{serv.servicioSuministrado}" />
						</p:column>
						<p:column style="white-space:normal" headerText="Descripción">
								<h:outputText value="#{serv.servicioDescripcionCorta}" />							
						</p:column>
						<p:column style="white-space: normal; width: 80px; text-align: center;">
							<f:facet name="header" />
							<p:commandButton value=""
								class="btn btn-default btn-xs glyphicon glyphicon-pencil"
								actionListener="#{capitulo2View.obtieneServicioById}"
								update=":EditarServicio:pnlEditar,:EditarServicio:formEditarHeader"
								oncomplete="modalEditar.show()">
								<p:ajax process="@this" />
								<f:param name="prowindexSR" value="#{rowIndexSR+1}" />
								<f:param name="idProy"
									value="#{serv.servicioProyectoPK.servicioProyId}" />
							</p:commandButton>
						</p:column>

					</p:dataTable>
				</h:panelGroup>
			</div>
		</h:panelGroup>
		<div id="componenteGuarda"
			style="float: right; clear: right;">
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{capitulo2View.guardarProyecto}"
				onsuccess="parent.actualizaBarra();" />
		</div>
	</h:form>



	<h:form id="AgregarServicio">
		<!-- Venta de dialogo Agregar Servicio -->
		<p:dialog widgetVar="dlgAgregarServicio" id="dlgAgregarServicio"
			modal="true" closable="false" position="top">
			<f:facet name="header" style="background-color: black;">Servicios requeridos - agregar</f:facet>

			<p:outputPanel id="pnlAgregar">
				<p:outputLabel value="Disponible" />
				<p:outputLabel value="" for="disponible" />
				<p:outputLabel value=":" />				
				
				<p:selectOneRadio id="disponible" required="true" requiredMessage="Este campo es obligatorio"
					value="#{capitulo2View.nuevoServicio.servicioDisponible}">
					<f:selectItem itemValue="S" itemLabel="Si" />
					<f:selectItem itemValue="N" itemLabel="No" />
				</p:selectOneRadio>
				<p:message id="msgdisponible" for="disponible"/>
				<br/>

				<p:outputLabel value="Servicio"/>
				<p:outputLabel value="" for="servicio"/>
				<p:outputLabel value=":"/>
				<br />
				<h:selectOneMenu id="servicio" required="true" requiredMessage="Este campo es obligatorio"
					value="#{capitulo2View.nuevoServicio.servicioId}" class="form-control">
					<f:selectItem itemLabel="Seleccione" itemValue="" />
					<f:selectItems value="#{catalogosView.catServicio}" var="varServ"
						itemValue="#{varServ.servicioId}"
						itemLabel="#{varServ.servicioNombre}" />
				</h:selectOneMenu>
				<p:message id="msgservicio" for="servicio" display="true"/>
				<br/>

				<p:outputLabel value="Etapa"/>
				<p:outputLabel value="" for="etapa"/>
				<p:outputLabel value=":"/>
				<br />
				<h:selectOneMenu id="etapa" required="true" requiredMessage="Este campo es obligatorio"
					value="#{capitulo2View.nuevoServicio.catEtapa}" class="form-control"
					converter="#{catEtapaConverterBean}" hideNoSelectionOption="true">
					<f:selectItem itemLabel="Seleccione" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{catalogosView.catEtapa}" />
				</h:selectOneMenu>
				<p:message id="msgetapa" for="etapa" display="true"/>
				<br/>
				
				<p:outputLabel value="Suministrado por"/>
				<p:outputLabel value="" for="suministrado"/>
				<p:outputLabel value=":"/>
				<br />
				<p:inputTextarea id="suministrado" required="true" requiredMessage="Este campo es obligatorio"
					value="#{capitulo2View.nuevoServicio.servicioSuministrado}"
					cols="50" rows="3" maxlength="100" counter="contadorSuminis"
					counterTemplate="Quedan {0} caracteres." autoResize="false" />
				<br />
				<h:outputText id="contadorSuminis" />
				<p:message id="msgsuministrado" for="suministrado" display="true"/>
				<br/>
				
				<p:outputLabel value="Descripción"/>
				<p:outputLabel value="" for="descripcion" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="descripcion" required="true" requiredMessage="Este campo es obligatorio"
					value="#{capitulo2View.nuevoServicio.servicioDescripcion}"
					cols="50" rows="3" maxlength="1000" counter="contadorDescripcion"
					counterTemplate="Quedan {0} caracteres." autoResize="false" />
				<br />
				<h:outputText id="contadorDescripcion" />
				<p:message id="msgdescripciono" for="descripcion" display="true"/>
				<br/>
				 

				<div class="modal-footer">

					<p:commandButton id="cerrarModalA"
						styleClass="btn btn-default" value="Cerrar"
						oncomplete="dlgAgregarServicio.hide()" update="pnlAgregar"
						inmediate="true" process="@this">
						<p:resetInput target="pnlAgregar" />
					</p:commandButton>
					<p:commandButton value="Guardar"
						update=":serviciosForm:dataServ,pnlAgregar"
						action="#{capitulo2View.agregarServicio}"
						styleClass="btn btn-primary">
						<p:resetInput target="pnlAgregar" />
					</p:commandButton>

				</div>
			</p:outputPanel>
		</p:dialog>

		<!-- Aviso de servicio Agregado -->
		<p:dialog widgetVar="dlgAvisoServicioAgregado" modal="true"
			position="top" showEffect="fade" hideEffect="fade">
			<f:facet name="header">
				<h:form id="formAvisoAgregado">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlGuardado">
				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-ok"></SPAN>Registro agregado
					exitosamente.
				</div>
				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary"
						id="cierraAvisoAgregar" value="Aceptar"
						onclick="dlgAvisoServicioAgregado.hide()" update="pnlGuardado"
						inmediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<h:form id="EditarServicio">
		<!--Ventana de dialogo Editar Servicio  -->
		<p:dialog widgetVar="modalEditar" id="modalEditar" modal="true"
			position="top">
			<f:facet name="header">
				<p:outputPanel id="formEditarHeader">
					<h4 class="modal-title">Editar servicio # #{capitulo2View.rowIndexServReqEditar}</h4>
				</p:outputPanel>
			</f:facet>
			<br />
			<p:outputPanel id="pnlEditar">
				<!-- Disponible -->
				<p:outputLabel value="Disponible"/>
				<p:outputLabel value="" for="editaDisponible" />
				<p:outputLabel value=":"/>
				<p:selectOneRadio id="editaDisponible"
					value="#{capitulo2View.editarServicio.servicioDisponible}"
					required="true" requiredMessage="Este campo es obligatorio">
					<f:selectItem itemValue="S" itemLabel="Si" />
					<f:selectItem itemValue="N" itemLabel="No" />
				</p:selectOneRadio>
				<p:message id="msgEditaDisponible" for="editaDisponible" display="true"/>
				<br />
				<!-- Servicio -->
				<p:outputLabel value="Servicio" />
				<p:outputLabel value="" for="cboEditaServicio" />
				<p:outputLabel value=":" />
				<h:selectOneMenu id="cboEditaServicio" required="true"
					requiredMessage="Este campo es obligatorio"
					value="#{capitulo2View.editarServicio.servicioId}"
					converter="#{catServicioConverterBean}" class="form-control">
					<f:selectItem itemLabel="Seleccione " itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catServicio}" />
				</h:selectOneMenu>
				<p:message id="msgCboEditaServicio" for="cboEditaServicio" display="true"/>
				<br />
				<!-- Etapa -->
				<p:outputLabel value="Etapa" />
				<p:outputLabel value="" for="editaEtapa" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="editaEtapa" required="true"
					requiredMessage="Este campo es obligatorio"
					value="#{capitulo2View.editarServicio.catEtapa}"
					converter="#{catEtapaConverterBean}" class="form-control">
					<f:selectItem itemLabel=" Seleccione " itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catEtapa}" />
				</h:selectOneMenu>
				<p:message id="msgEditaEtapa" for="editaEtapa" display="true"/>
				<br />
				<!-- Suministrado Por -->
				<p:outputLabel value="Suministrado por"/>
				<p:outputLabel value="" for="suministrado" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="suministrado"
					value="#{capitulo2View.editarServicio.servicioSuministrado}"
					cols="50" rows="3" maxlength="100" counter="contadorSuminis"
					counterTemplate="Quedan {0} caracteres." autoResize="false"
					required="true" requiredMessage="Este campo es obligatorio" />
				<br />				
				<h:outputText id="contadorSuminis" />
				<p:message id="msgSuministrar" for="suministrado" display="true"/>
				<br />
				<!-- Descripcion -->
				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descrip" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea
					value="#{capitulo2View.editarServicio.servicioDescripcion}"
					id="descrip" cols="50" rows="3" maxlength="1000"
					counter="contadorDescripcion"
					counterTemplate="Quedan {0} caracteres." autoResize="false"
					required="true" requiredMessage="Este campo es obligatorio" />
				<br />
				<h:outputText id="contadorDescripcion" />
				<p:message id="msgDescripcion" for="descrip" display="true"/>
				<br />
				
				<!-- Botones Guardar y Cerrar -->
				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-default" id="cerrarEdicion"
						value="Cerrar" onclick="modalEditar.hide()" update="pnlEditar"
						immediate="true" />
					<p:commandButton styleClass="btn btn-primary" id="guardarEdicion"
						value="Guardar" action="#{capitulo2View.editarServicio}"
						update=":serviciosForm:dataServ, pnlEditar " />
				</div>
			</p:outputPanel>
		</p:dialog>

		<!-- Aviso de Servicio Editado-->
	</h:form>

	<h:form id="Mensaje">
		<p:dialog widgetVar="modalMensaje" id="modalMensaje" modal="true"
			position="top">
			<f:facet name="header">
				<h:form id="formMensajeHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensaje">
				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-ok"></SPAN> Servicio guardado
					exitosamente.
				</div>
				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary" id="cerrarModalM"
						value="Aceptar" onclick="modalMensaje.hide()" update="pnlMensaje"
						immediate="true" />
				</div>
			</p:outputPanel>


		</p:dialog>
	</h:form>

	<h:form id="BorrarServicio">
		<!-- Ventana de Dialogo de Servicio Borradop -->
		<p:dialog id="eliminaServ" header="Eliminar servicio(s)"
			widgetVar="dlgEliminarServicios" modal="true" position="top"
			showEffect="fade" hideEffect="fade" closable="false"
			resizable="false">
			<p:outputPanel id="pnlEliminaServ">
				<div class="alert alert-warning">¿Realmente desea borrar
					el(los) servicio(s)?</div>
				<ui:repeat value="#{capitulo2View.serv_seleccionados}" var="s">
					<h:outputText
						value="#{s.servicioNombre}"
						style="display:block;" />
				</ui:repeat>
			</p:outputPanel>
			<div class="modal-footer">
				<p:commandButton class="btn btn-primary" value="Si"
					action="#{capitulo2View.eliminaServicios}"
					update=":serviciosForm:dataServ"
					oncomplete="dlgEliminarServicios.hide(),dlgAvisoBorrado.show()"
					style="float:right;" />
				<p:commandButton class="btn btn-default botonEliminar" value="No"
					oncomplete="dlgEliminarServicios.hide()" style="float:right;" />
			</div>
		</p:dialog>

		<h:form id="MensajeEditar">
			<p:dialog widgetVar="modalMensajeEditar" id="modalMensajeEditar"
				modal="true">
				<f:facet name="header">
					<h:form id="formMensajeHeader">
						<h4 class="modal-title">Aviso</h4>
					</h:form>
				</f:facet>
				<p:outputPanel id="pnlMensaje">

					<div class="alert alert-success">
						<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro actualizado
						exitosamente.
					</div>

					<div class="modal-footer">
						<p:commandButton styleClass="btn btn-primary" id="cerrarModalM"
							value="Aceptar" onclick="modalMensajeEditar.hide()"
							update="pnlMensaje" immediate="true" />
					</div>
				</p:outputPanel>
			</p:dialog>
		</h:form>

		<!-- Aviso de Servico borrado -->
		<p:dialog header="Aviso" widgetVar="dlgAvisoBorrado" modal="true"
			position="top" showEffect="fade" hideEffect="fade">
			<div class="alert alert-success"><span class="glyphicon glyphicon-remove"></span> Registro(s) eliminado(s)
				exitosamente</div>
			<p:commandButton class="btn btn-primary" style="float:right;"
				value="Aceptar" onclick="dlgAvisoBorrado.hide()"
				/>
		</p:dialog>
	</h:form>

	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo2View.claveTramite}",
			nsub : "#{capitulo2View.proyecto.nsub}",
			capitulo : 2,
			subcapitulo : 1,
			seccion : 6,
			apartado : -1
		}, case_ayuda);
	</script>

</h:body>
</html>