<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      
    <f:metadata>
		<f:viewAction action="#{archivosAnexosBean.consultarDesgloseCapitulo(2,1,3,2)}" />
	</f:metadata>    
      
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
        <link href="assets/images/favicon.ico" rel="shortcut icon" />
		<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" />
        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		

        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
    </h:head>
    <h:body 
    	onload="javascript:getInformacionAdicionalMulti('#{capitulo2View.strComentProy}','foDatosGen','1,3,1-Ubicación Física del Proyecto|1,3,2-Planos Adicionales del Proyecto'); mensajeSigeia(#{sIGEIAView.estadosAfectados})">
		<div class="col-md-12">
		<div class="row" id="mensaje"></div>  
	    <div class="row" id="case_pnl_ayuda_cnt"></div>
 		<ui:include src="/loading.xhtml"/>

		<c:set var="capitulo" value="2"/>
		<c:set var="subcapitulo" value="1"/>
		<c:set var="seccion" value="3"/>
		<c:set var="apartado" value="2"/>

        <h:form id="foDatosGen">
            <c:set value="2.3" target="#{capitulo2View}" property="seccion" />
            
            <p:messages id="messages" showDetail="true" closable="false" />
            
            <h:inputHidden id="ubicActual" value="#{capitulo2View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo2View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>

<!--             <div class="semarnat_ayuda" id='case_pnl_ayuda'> -->
<!--                 <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"> -->
<!--                 </div> -->
<!--             </div> -->
            

            <div id="pDesSisTrans" class="row">
<!--                 <div id="titulo1"></div> -->
                <h3>Ubicación física del proyecto<a style="color:#000;" ><span id='case_btn_ayuda' class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3>
                <hr class="red"/>
<!-- 				<button id='case_btn_ayuda' type="button" class="btn btn-default" -->
<!-- 						data-toggle="tooltip" data-placement="bottom"> -->
<!-- 						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> -->
<!-- 						<span class="glyphicon-class">Ayuda</span> -->
<!-- 				</button>                 -->
                
<!--                 <br/><br/> -->
                <div id="componenteConsulta1" style="display:none">
                    <h4>Estados afectados</h4>
                    <hr/>
                    <h:dataTable styleClass="table" value="#{sIGEIAView.todosEdos}" var="esp">
                        <h:column>
                            <f:facet name="header">Entidad</f:facet>
                            <h:outputText value="#{esp[2]}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header">Municipio</f:facet>
                            <h:outputText value="#{esp[3]}"/>
                        </h:column>
                        <h:column >
                            <f:facet  name="header">Superficie m<sup>2</sup></f:facet>
                            <div align="right">
                            <h:outputText value="#{esp[4]}"  >
                                <f:convertNumber pattern = "###,###.##" />
                            </h:outputText>   
                            </div>
                        </h:column>
                    </h:dataTable>
                    <h:outputText value="Entidad más afectada:"/>
                    <h:dataTable value="#{sIGEIAView.edoAfectado}" var="edoAfect" >
                                            <h:column>
                                                <h:inputText value="#{edoAfect[2]}"   disabled="true" class="form-control"/>
                                            </h:column>
                                        </h:dataTable> 
                    <h:outputText value="Municipio más afectado:"/>
                    <h:dataTable value="#{sIGEIAView.edoAfectado}" var="edoAfect" >
                                            <h:column>
                                                <h:inputText value="#{edoAfect[3]}"   disabled="true" class="form-control"/>
                                            </h:column>
                                        </h:dataTable> 
                    <br/><br/>

                    <h:outputLabel for="fProDom" value="¿Su proyecto cuenta con un domicilio establecido?" />
                    <br/>
                    <h:outputText value="#{capitulo2View.proyecto.proyDomEstablecido == 83 ? 'Si' : 'No'}"/>
                    <br/>
                    <p:message for="fProDom" display="text" />
                    <h:panelGroup style="width: 900px">
                        <h:panelGrid columns="1" style="width: 700px" rendered="#{capitulo2View.domEsta}">

                            <h:outputLabel for="fitni" value="Tipo de vialidad:" />
                            <h:selectOneMenu value="#{capitulo2View.proyecto.cveTipoVial}">
                                <f:selectItems value="#{catalogosView.tiposVialidad}" var="vi" itemValue="#{vi.cveTipoVial}" itemLabel="#{vi.descripcion}" />
                            </h:selectOneMenu>

                            <h:outputLabel for="fitvial" value="Nombre de la vialidad:" />
                            <p:inputText readonly="true" value="#{capitulo2View.proyecto.proyNombreVialidad}" class="form-control"/>
                            <p:message for="fitvial" display="text" />

                            <h:outputLabel for="fitne" value="Número exterior:" />
                            <p:inputText readonly="true" value="#{capitulo2View.proyecto.proyNumeroExterior}" class="form-control"/>
                            <p:message for="fitne" display="text" />

                            <h:outputLabel for="fitni" value="Número interior:" />
                            <p:inputText readonly="true" value="#{capitulo2View.proyecto.proyNumeroInterior}" class="form-control" />
                            <p:message for="fitni" display="text" />

                            <h:outputLabel for="fitni" value="Tipo de asentamiento:" />
                            <h:selectOneMenu value="#{capitulo2View.proyecto.tipoAsentamientoId}">
                                <f:selectItems value="#{catalogosView.tipoAsentamiento}" var="as" itemValue="#{as.cveTipoAsen}" itemLabel="#{as.nombre}" />
                            </h:selectOneMenu>


                            <h:outputLabel for="fitna" value="Nombre asentamiento:" />
                            <p:inputText readonly="true" value="#{capitulo2View.proyecto.proyNombreAsentamiento}" class="form-control" />
                            <p:message for="fitna" display="text" />

                            <h:outputLabel for="fitcp" value="Código postal:" />
                            <p:inputText readonly="true" value="#{capitulo2View.proyecto.proyCodigoPostal}" class="form-control"/>
                            <p:message for="fitcp" display="text" />

                        </h:panelGrid>
                        <h:panelGrid columns="1" rendered="#{capitulo2View.domLoca}" style="width: 700px">
                            <h:outputLabel for="fLocPro" value="Localización del proyecto:" />
                            <p:inputTextarea readonly="true" cols="30" value="#{capitulo2View.proyecto.proyUbicacionDescrita}" class="form-control"/>
                        </h:panelGrid>
                    </h:panelGroup>
                </div>
               <div id="componenteActualiza1" style="display:none; float: right; margin-right: 20px">
                   <br/> 
                   <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','1');"/>
                </div>

                <div id="componenteCaptura1" style="display:none">
                    <h4>Estados afectados</h4>
                    <hr/>
                    <h:dataTable styleClass="table" value="#{sIGEIAView.todosEdos}" var="esp">
                        <h:column>
                            <f:facet name="header">Entidad</f:facet>
                            <h:outputText value="#{esp[2]}" />
                        </h:column>
                        <h:column>
                            <f:facet name="header">Municipio</f:facet>
                            <h:outputText value="#{esp[3]}" id="txtNombMuncp"/>
                        </h:column>
                        <h:column >
                            <f:facet  name="header">Superficie m<sup>2</sup></f:facet>
                            <div align="right">
                            <h:outputText value="#{esp[4]}" id="txtSupEdo"  >
                                <f:convertNumber pattern = "###,###.##" />
                            </h:outputText>   
                            </div>
                        </h:column>
                    </h:dataTable>
                    <h:outputText value="Entidad más afectada:"/>
                    <h:dataTable value="#{sIGEIAView.edoAfectado}" var="edoAfect" >
                                            <h:column>
                                                <h:inputText value="#{edoAfect[2]}"   disabled="true" class="form-control"/>
                                            </h:column>
                                        </h:dataTable> 
                    <h:outputText value="Municipio más afectado:"/>
                    <h:dataTable value="#{sIGEIAView.edoAfectado}" var="edoAfect" >
                                            <h:column>
                                                <h:inputText value="#{edoAfect[3]}"   disabled="true" class="form-control"/>
                                            </h:column>
                                        </h:dataTable> 
                    <br/><br/>
                    <p:growl id="messages1" />

                    <h:outputLabel for="fProDom" value="¿Su proyecto cuenta con un domicilio establecido?" />
                    <h:selectOneRadio id="fProDom" required="true" requiredMessage="Es necesario indicar si cuenta con un domicilio establecido" value="#{capitulo2View.proyecto.proyDomEstablecido}" styleClass="css_radio" >
                        <f:ajax listener="#{capitulo2View.selDomEsta}" render="domEstaPan"/>
                        <f:selectItem itemLabel="Si" itemValue="S"/>
                        <f:selectItem itemLabel="No" itemValue="N"/>
                    </h:selectOneRadio>
                    <p:message for="fProDom" display="text" />
                    <h:panelGroup id="domEstaPan" style="width: 900px">
                        <h:panelGrid columns="1" style="width: 700px" rendered="#{capitulo2View.domEsta}">

                            <h:outputLabel for="fitni" value="Tipo de vialidad:" />
                            <h:selectOneMenu value="#{capitulo2View.proyecto.cveTipoVial}" class="form-control">
                                <f:selectItems value="#{catalogosView.tiposVialidad}" var="vi" itemValue="#{vi.cveTipoVial}" itemLabel="#{vi.descripcion}" />
                            </h:selectOneMenu>

                            <h:outputLabel for="fitvial" value="Nombre de la vialidad:" />
                            <p:inputText value="#{capitulo2View.proyecto.proyNombreVialidad}" class="form-control" id="fitvial" maxlength="200" />
                            <p:message for="fitvial" display="text" />

                            <h:outputLabel for="fitne" value="Número exterior:" />
                            <p:inputText value="#{capitulo2View.proyecto.proyNumeroExterior}" class="form-control" id="fitne" maxlength="5"
                                         onkeypress="if(event.which == 8 || event.which == 0) return true;if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                            <p:message for="fitne" display="text" />

                            <h:outputLabel for="fitni" value="Número interior:" />
                            <p:inputText value="#{capitulo2View.proyecto.proyNumeroInterior}" class="form-control" id="fitni" maxlength="5"
                                         onkeypress="if(event.which == 8 || event.which == 0) return true;if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                            <p:message for="fitni" display="text" />

                            <h:outputLabel for="fitni" value="Tipo de asentamiento:" />
                            <h:selectOneMenu value="#{capitulo2View.proyecto.tipoAsentamientoId}">
                                <f:selectItems value="#{catalogosView.tipoAsentamiento}" var="as" itemValue="#{as.cveTipoAsen}" itemLabel="#{as.nombre}" />
                            </h:selectOneMenu>


                            <h:outputLabel for="fitna" value="Nombre asentamiento:" />
                            <p:inputText value="#{capitulo2View.proyecto.proyNombreAsentamiento}" class="form-control" id="fitna" maxlength="200"/>
                            <p:message for="fitna" display="text" />

                            <h:outputLabel for="fitcp" value="Código postal:"/>
                            <p:inputText value="#{capitulo2View.proyecto.proyCodigoPostal}" class="form-control" id="fitcp" maxlength="5"
                                         onkeypress="if(event.which == 8 || event.which == 0) return true;if (event.which &lt; 48 || event.which &gt; 57) return false;"/>
                            <p:message for="fitcp" display="text" />

                        </h:panelGrid>
                        <h:panelGrid columns="1" rendered="#{capitulo2View.domLoca}" style="width: 700px">
                            <h:outputLabel for="fLocPro" value="Localización del proyecto:" />
                            <p:inputTextarea cols="30" id="fLocPro" value="#{capitulo2View.proyecto.proyUbicacionDescrita}" class="form-control"/>
                        </h:panelGrid>
                    </h:panelGroup>
                </div>
            </div>

            <!-- planos adicionales--> 
            <div id="planosAdicionales" class="row">
                <br></br>
                <br></br>
<!--                 <div id="titulo2"></div> -->
                
<!-- 				<button id='case_btn_ayuda1' type="button" class="btn btn-default" -->
<!-- 						data-toggle="tooltip" data-placement="bottom"> -->
<!-- 						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> -->
<!-- 						<span class="glyphicon-class">Ayuda</span> -->
<!-- 				</button>                 -->
                <h3>Planos adicionales<a style="color:#000;" ><span id='case_btn_ayuda1' class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3>
                <hr class="red"/>
                <br></br>
                <div id="componenteConsulta2" style="display:none">
                    <h:panelGroup> 
                        <div class="form-group">
                            <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=2,1,3,1,#{capitulo2View.proyecto.proyectoPK.folioProyecto},#{capitulo2View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
                        </div>
                    </h:panelGroup>  
                </div>
                <div id="componenteActualiza2" style="display:none; margin-right: 20px; float: right">
                    <h:panelGroup>
                   <br/> 
                   <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen', 2);"/>
                   </h:panelGroup>
                   <br/> 
                   <br/> 
                </div>
					 
                <div id="componenteCaptura2" style="display:none;">                
                    <h:panelGroup> 
                        <div class="form-group">
<!--                             <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombre.xhtml?info=2,1,3,1,#{capitulo2View.proyecto.proyectoPK.folioProyecto},#{capitulo2View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                        </div>                    
                    </h:panelGroup>  
                </div>
            </div>
            
			<!-- ============================================================= TABLA AGREGADA DE ANEXOS =========================================================== -->        
                    
            <ui:include src="/anexosarchivos.xhtml"/>            
            
            <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right:  20px">
                <p:commandButton value="Guardar" class="btn btn-primary" action="#{capitulo2View.guardarProyecto}" onsuccess="parent.actualizaBarra();"/>
            </div>

        </h:form>        

			<ui:include src="/ventanasModalesAnexos.xhtml"/>
   </div>     
        <script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo2View.claveTramite}", nsub:"#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 1, seccion: 3, apartado: -1 }, case_ayuda);
            $('#case_btn_ayuda1').click({vClaveTramite:"#{capitulo2View.claveTramite}", nsub:"#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 1, seccion: 3, apartado: 2 }, case_ayuda);
        </script>

    </h:body>
</html>
