<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<h:head>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
        <link href="assets/images/favicon.ico" rel="shortcut icon" />
<!-- 		<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
<!--          <link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" type="text/css" />  -->
		<!-- Hoja de Estilos Grafica base local -->
		<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		

		<!-- Script Grafica base local -->
		<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
</h:head>

	<!-- ==================== TABLA DE ARCHIVOS DE CONSULTA GENERAL ==================== -->
	
		<div id="botones" style="float: right;">
<!-- 			<p:commandButton id="btnAgregarArchivo" value="" class="btn btn-default btn-xs glyphicon glyphicon-plus" style="float:right;" oncomplete="modalSubirArchivo.show()" immediate="true" -->
<!-- 				 			 update=":formArchivosDisposicion:pnlArchivo" action="#{archivosAnexosBean.iniciarArchivo}"> -->
<!-- 				<f:param name="capitulo" value="#{capitulo}"/> -->
<!-- 				<f:param name="subcapitulo" value="#{subcapitulo}"/> -->
<!-- 				<f:param name="seccion" value="#{seccion}"/> -->
<!-- 				<f:param name="apartado" value="#{apartado}"/> -->
				
<!-- 				<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/> -->
<!-- 			</p:commandButton> -->
								
<!-- 			<p:commandButton id="btnEliminarArchivo" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle" value="" style="float:right;"  -->
<!-- 							 update=":fEliminarArchivo:pnlMensajeEliminarArchivo" disabled="#{archivosAnexosBean.listaArchivosSeleccionados.size() == 0}" oncomplete="dlgEliminarArchivoAnexo.show()"/> -->
					<!-- 				mas -->
					<p:commandLink id="btnAgregarElements"
						styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{archivosAnexosBean.iniciarArchivo}"
						update=":formArchivosDisposicion:pnlArchivo" 
						oncomplete="modalSubirArchivo.show()" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar	
						<f:param name="capitulo" value="#{capitulo}"/> 
						<f:param name="subcapitulo" value="#{subcapitulo}"/>
						<f:param name="seccion" value="#{seccion}"/>
						<f:param name="apartado" value="#{apartado}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"></p:resetInput>
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- 				menos -->
			
					<p:commandLink id="btnEliminarArchivo"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"
						oncomplete="dlgEliminarArchivoAnexo.show()"
						update=":fEliminarArchivo:pnlMensajeEliminarArchivo"
						disabled="#{archivosAnexosBean.listaArchivosSeleccionados.size() == 0}">
						<p:ajax process="@this" />
					</p:commandLink><br />
			</div>
			<br/>
	
			<h3>Adjuntos</h3>
			<p:dataTable id="tablaArchivo" styleClass="table table-responsive" value="#{archivosAnexosBean.archivosGeneral}" var="archG" rowIndexVar="rowIndex"
						 selection="#{archivosAnexosBean.listaArchivosSeleccionados}" rowKey="#{archG.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
				
				<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivo" />
				<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivo" />
				<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivo" />

				<p:column selectionMode="multiple" style="width:50px" />
	
				<p:column
					style="white-space: normal; width: 50px; text-align: center;">
					<f:facet name="header">#</f:facet>
<!-- 					<h:outputText value="#{archG.id}" /> -->
					<h:outputText value="#{rowIndex+1}" />
				</p:column>
	
				<p:column style="white-space: normal;">
					<f:facet name="header">Nombre</f:facet>
					<h:outputText value="#{archG.nombre}" />
				</p:column>
	
				<p:column style="white-space: normal;">
					<f:facet name="header">Descripción</f:facet>
					<h:outputText value="#{archG.descripcion}" />
				</p:column>
	
				<p:column style="white-space: normal; text-align: center; width:100px">
					<f:facet name="header"></f:facet>
		            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
		                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archG.seqId}'); return false;"/>					
				</p:column>
	
				<p:column style="white-space: normal; text-align: center; width:100px">
					<f:facet name="header" />
					<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosBean.consultarArchivo}"
									 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
						<f:param name="pRowIndex" value="#{rowIndex+1}" />
						<f:param name="id" value="#{archG.id}" />
						<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
					</p:commandButton>
				</p:column>
	
			</p:dataTable>
</ui:composition>	