<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<body>
	Todo lo que se escriba antes de esta línea será borrado
	<ui:composition>
		<script type="text/javascript">
			function close_window() {
				if (confirm("Desea salir de la captura de la Manifestación de Impacto Ambiental ?")) {
					window.opener = 'x';
					window.close();
				}
			}
			function cTitulo(cap, titulo) {
				$("#breadCrumb").empty();
				$("#breadCrumb").append(
						'<ol class="breadcrumb"><li><a href="#"><i class="icon icon-home"></i></a></li><li><a href="#">'+cap+'</a></li><li class="active">'+titulo+'</li></ol>');
			}
			
			

			function msgCapturarDatos() {
				alert('Debe capturar \'Datos generales del proyecto\' para acceder a esta sección');
			}
// 			 $gmx(document).ready(function() {
//            	  $('[data-toggle="tooltip"]').tooltip();
//            	});
// 			$(function () {
// 			  	$('[data-toggle="tooltip"]').tooltip()
// 			})				

		</script>
		<!--AAOC 29/06.- Se hizo una reestructuración completa de la cabecera
            para adecuarlo a la nueva identidad gráfica reemplazando clases y estructura
            de los elementos-->
		<nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<!--<div class="navbar-brand">Semarnat</div>-->
				<div class="navbar-brand txtBrand">SEMARNAT</div>
			</div>
			<div class="collapse navbar-collapse" id="subenlaces">
				<ul class="nav navbar-nav navbar-right">
					<!--JSR: Esto debe construirse a partir de las tablas de capítulo, subcapítulo, etc, en función del tipo de trámite -->
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false">Cap&iacute;tulos
							1<span class="caret"></span> 
					</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="javascript: cTitulo('Cap&iacute;tulo 1', 'Datos generales del proyecto'); cambiaIframe('capitulo1/1/DatosGralProy.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Datos generales del proyecto">
								Datos del proyecto
								</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 1', 'Datos generales del promovente'); cambiaIframe('capitulo1/2/DatosGralUbic.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Datos generales del promovente">
								Datos del promovente</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 1', 'Datos generales del representante legal'); cambiaIframe('capitulo1/3/RepLegal.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Datos generales del representante legal">
								Datos del representante</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 1', 'Responsable del estudio de impacto ambiental');
                                       cambiaIframe('capitulo1/4/DatosGralREEIA.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Datos generales del responsable de la elaboración del estudio de impacto ambiental">
                                       Datos del responsable del estudio
									</a></li>
						</ul></li>
					<li class="dropdown"><c:choose>
							<c:when test="#{principalView.existenDatosGenerales}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-expanded="false"> 2 <font color="red">#{principalView.mapInfoAdicional.cap_2[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_2[1]
										? ' *' : ''}</font> <span class="caret"></span>
								</a>
							</c:when>
							<c:otherwise>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-expanded="false"> 2 <span class="caret"></span></a>
							</c:otherwise>
						</c:choose>
						<ul class="dropdown-menu" role="menu">
							<li><a id="Nat"
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Naturaleza del proyecto');cambiaIframe('capitulo2/1/InfoGeneral.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Naturaleza del proyecto">
									Naturaleza del proyecto <font color="red">#{principalView.mapInfoAdicional.cap_2_1_1_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_1_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a id="justificacion"
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Justificaci&oacute;n');cambiaIframe('capitulo2/1/Justificacion.xhtml');">
									Justificaci&oacute;n <font color="red">#{principalView.mapInfoAdicional.cap_2_1_1_1[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_1_1[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Selecci&oacute;n del sitio');cambiaIframe('capitulo2/1/SeleSitio.xhtml');">
									Selecci&oacute;n del sitio <font color="red">#{principalView.mapInfoAdicional.cap_2_1_2_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_2_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a href="javascript: cTitulo('Cap&iacute;tulo 2', 'SIGEIA'); cambiaIframe('#{sIGEIAView.url}'); msgPrincipal('%3Cstrong%3EIMPORTANTE%3C/strong%3E: Es necesario que cargue las geometr&iacute;as de su proyecto y no cambie de pantalla hasta que haya terminado el an&aacute;lisis espacial', 'danger')" data-toggle="tooltip" data-placement="bottom" title="Georreferenciación del proyecto en SIGEIA">
									SIGEIA 
							</a></li>
							
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Ubicaci&oacute;n f&iacute;sica');cambiaIframe('capitulo2/1/Ubicacion.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Ubicaci&oacute;n física del proyecto">
									Ubicaci&oacute;n f&iacute;sica  <font color="red">#{principalView.mapInfoAdicional.cap_2_1_3_1[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_3_1[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Inversi&oacute;n y empleos');cambiaIframe('capitulo2/1/InversionRequerida.xhtml');">Inversi&oacute;n
									y empleos <font color="red">#{principalView.mapInfoAdicional.cap_2_1_4_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_4_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Dimensiones del proyecto');cambiaIframe('capitulo2/1/Dimensiones.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Dimensiones del proyecto">
									Dimensiones <font color="red">#{(principalView.mapInfoAdicional.cap_2_1_5_0[0]
										or principalView.mapInfoAdicional.cap_4_2_2_1[0]) ? ' *' : ''}</font>
									<font color="blue">#{(principalView.mapInfoAdicional.cap_2_1_5_0[1]
										or principalView.mapInfoAdicional.cap_4_2_2_1[1]) ? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Servicios requeridos para el proyecto');cambiaIframe('capitulo2/1/Servicios.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Servicios requeridos para el proyecto">
									Servicios requeridos  <font color="red">#{principalView.mapInfoAdicional.cap_2_1_6_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_6_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li class="divider"></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Caracter&iacute;sticas particulares del proyecto');cambiaIframe('capitulo2/2/CarParProy.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Caracter&iacute;sticas particulares del proyecto">
									Caracter&iacute;sticas particulares <font
									color="red">#{principalView.mapInfoAdicional.cap_2_2_1_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_1_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Uso de suelo y/o cuerpos de agua');cambiaIframe('capitulo2/2/usosuelo.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Uso actual del suelo y/o cuerpos de agua en el sitio del proyecto y en sus colindancias" >
									Uso de suelo y/o cuerpos de agua <font color="red">#{(principalView.mapInfoAdicional.cap_2_2_2_1[0]
										or principalView.mapInfoAdicional.cap_2_2_2_2[0]) ? ' *' : ''}</font>
									<font color="blue">#{(principalView.mapInfoAdicional.cap_2_2_2_1[1]
										or principalView.mapInfoAdicional.cap_2_2_2_2[1]) ? ' *' : ''}</font>
							</a></li>
							<li><a id="descIndustrial"
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Descripci&oacute;n de obras principales del proyecto');cambiaIframe('capitulo2/2/descIndustrial.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Descripci&oacute;n de obras principales del proyecto">
									Descripci&oacute;n de obras <font
									color="red">#{principalView.mapInfoAdicional.cap_2_2_3_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_3_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Duraci&oacute;n del proyecto y programa de trabajo');cambiaIframe('capitulo2/2/duracion.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Duraci&oacute;n del proyecto y programa de trabajo">
									Duraci&oacute;n del proyecto<font
									color="red">#{principalView.mapInfoAdicional.cap_2_2_2_3[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_2_3[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a id="infoBio"
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Informaci&oacute;n biotecnol&oacute;gica de las especies a cultivar');cambiaIframe('capitulo2/2/descPesqueros.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Informaci&oacute;n biotecnol&oacute;gica de las especies a cultivar">
									Informaci&oacute;n biotecnol&oacute;gica de las especies  
									<font color="red">#{principalView.mapInfoAdicional.cap_2_2_4_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_4_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Etapas del proyecto');cambiaIframe('capitulo2/2/etapaProyecto.xhtml'); ">
									Etapas del proyecto <c:choose>
										<c:when
											test="#{principalView.proy.nsub eq 4 || principalView.proy.nsub eq 6}">
											<font color="red">#{(principalView.mapInfoAdicional.cap_2_2_5_0[0]
												or principalView.mapInfoAdicional.cap_2_2_5_1[0] or
												principalView.mapInfoAdicional.cap_2_2_5_2[0] or
												principalView.mapInfoAdicional.cap_2_2_5_3[0] or
												principalView.mapInfoAdicional.cap_2_2_5_4[0]) ? ' *' : ''}</font>
											<font color="blue">#{(principalView.mapInfoAdicional.cap_2_2_5_0[1]
												or principalView.mapInfoAdicional.cap_2_2_5_1[1] or
												principalView.mapInfoAdicional.cap_2_2_5_2[1] or
												principalView.mapInfoAdicional.cap_2_2_5_3[1] or
												principalView.mapInfoAdicional.cap_2_2_5_4[1]) ? ' *' : ''}</font>
										</c:when>
										<c:otherwise>
											<font color="red">#{(principalView.mapInfoAdicional.cap_2_2_4_0[0]
												or principalView.mapInfoAdicional.cap_2_2_4_1[0] or
												principalView.mapInfoAdicional.cap_2_2_4_2[0] or
												principalView.mapInfoAdicional.cap_2_2_4_3[0] or
												principalView.mapInfoAdicional.cap_2_2_4_4[0]) ? ' *' : ''}</font>
											<font color="blue">#{(principalView.mapInfoAdicional.cap_2_2_4_0[1]
												or principalView.mapInfoAdicional.cap_2_2_4_1[1] or
												principalView.mapInfoAdicional.cap_2_2_4_2[1] or
												principalView.mapInfoAdicional.cap_2_2_4_3[1] or
												principalView.mapInfoAdicional.cap_2_2_4_4[1]) ? ' *' : ''}</font>
										</c:otherwise>
									</c:choose>
							</a></li>
							<li><a id="otrosIns"
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Insumos');cambiaIframe('capitulo2/2/insumos.xhtml');">
									<div id="otrosIns_titulo">Insumos</div> <c:choose>
										<c:when test="#{principalView.proy.nsub eq 6}">
											<font color="red">#{principalView.mapInfoAdicional.cap_2_2_6_0[0]
												? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_2_2_6_0[1]
												? ' *' : ''}</font>
										</c:when>
										<c:otherwise>
											<font color="red">#{principalView.mapInfoAdicional.cap_2_2_5_0[0]
												? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_2_2_5_0[1]
												? ' *' : ''}</font>
										</c:otherwise>
									</c:choose>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Sustancias riesgosas');cambiaIframe('capitulo2/2/sustancias.xhtml');">
									Sustancias riesgosas <c:choose>
										<c:when
											test="#{principalView.proy.nsub eq 4 || principalView.proy.nsub eq 7}">
											<font color="red">#{principalView.mapInfoAdicional.cap_2_2_6_0[0]
												? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_2_2_6_0[1]
												? ' *' : ''}</font>
										</c:when>
										<c:when test="#{principalView.proy.nsub eq 6}">
											<font color="red">#{principalView.mapInfoAdicional.cap_2_2_7_0[0]
												? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_2_2_7_0[1]
												? ' *' : ''}</font>
										</c:when>
										<c:otherwise>
											<font color="red">#{principalView.mapInfoAdicional.cap_2_2_5_0[0]
												? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_2_2_5_0[1]
												? ' *' : ''}</font>
										</c:otherwise>
									</c:choose>
							</a></li>
							<li><a id="explo"
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Utilizaci&oacute;n de explosivos');cambiaIframe('capitulo2/2/explosivos.xhtml');" >
									Utilizaci&oacute;n de explosivos <c:choose>
										<c:when test="#{principalView.proy.nsub eq 7}">
											<font color="red">#{principalView.mapInfoAdicional.cap_2_2_7_0[0]
												? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_2_2_7_0[1]
												? ' *' : ''}</font>
										</c:when>
										<c:otherwise>
											<font color="red">#{principalView.mapInfoAdicional.cap_2_2_6_0[0]
												? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_2_2_6_0[1]
												? ' *' : ''}</font>
										</c:otherwise>
									</c:choose>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Generaci&oacute;n, manejo y disposici&oacute;n de residuos...');cambiaIframe('capitulo2/2/residuosSolidos.xhtml');" data-toggle="tooltip" data-placement="top" title="Generaci&oacute;n, manejo y disposici&oacute;n de residuos s&oacute;lidos, l&iacute;quidos y emisiones a la atm&oacute;sfera">
									Generaci&oacute;n, manejo y disposici&oacute;n de residuos
									 <c:choose>
										<c:when
											test="#{principalView.proy.nsub eq 6 || principalView.proy.nsub eq 7}">
											<font color="red">#{principalView.mapInfoAdicional.cap_2_2_8_0[0]
												? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_2_2_8_0[1]
												? ' *' : ''}</font>
										</c:when>
										<c:when test="#{principalView.proy.nsub eq 2}">
											<font color="red">#{principalView.mapInfoAdicional.cap_2_2_6_0[0]
												? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_2_2_6_0[1]
												? ' *' : ''}</font>
										</c:when>
										<c:otherwise>
											<font color="red">#{principalView.mapInfoAdicional.cap_2_2_7_0[0]
												? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_2_2_7_0[1]
												? ' *' : ''}</font>
										</c:otherwise>
									</c:choose>
							</a></li>
							<li><a id="posAccAmb"
								href="javascript: cTitulo('Cap&iacute;tulo 2', 'Posibles accidentes ambientales');cambiaIframe('capitulo2/2/accidentes.xhtml');">
									Posibles Accidentes Ambientales <font color="red">#{principalView.mapInfoAdicional.cap_2_1_8_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_8_0[1]
										? ' *' : ''}</font>
							</a></li>
						</ul></li>
					<li class="dropdown"><c:choose>
							<c:when test="#{principalView.existenDatosGenerales}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-expanded="false"> 3 <font color="red">#{principalView.mapInfoAdicional.cap_3[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_3[1]
										? ' *' : ''}</font> <span class="caret"></span>
								</a>
							</c:when>
							<c:otherwise>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-expanded="false"
									onclick="msgCapturarDatos();"> 3 <span class="caret"></span></a>
							</c:otherwise>
						</c:choose>
						<ul class="dropdown-menu" role="menu">
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 3', 'Leyes federales y estatales');cambiaIframe('capitulo3/leyes.xhtml');">
									Leyes federales y estatales <font color="red">#{(principalView.mapInfoAdicional.cap_3_1_0_0[0]
										or principalView.mapInfoAdicional.cap_3_1_1_0[0] or
										principalView.mapInfoAdicional.cap_3_1_2_0[0]) ? ' *' : ''}</font> <font
									color="blue">#{(principalView.mapInfoAdicional.cap_3_1_0_0[1]
										or principalView.mapInfoAdicional.cap_3_1_1_0[0] or
										principalView.mapInfoAdicional.cap_3_1_2_0[1]) ? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 3', 'Reglamentos');cambiaIframe('capitulo3/reglamentos.xhtml');">
									Reglamentos <font color="red">#{principalView.mapInfoAdicional.cap_3_2_0_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_3_2_0_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 3', 'Normas');cambiaIframe('capitulo3/normas.xhtml');">
									Normas <font color="red">#{principalView.mapInfoAdicional.cap_3_3_0_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_3_3_0_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 3', 'Programa de ordenamiento ecol&oacute;gico territorial');cambiaIframe('capitulo3/poet.xhtml');"  data-toggle="tooltip" data-placement="bottom" title="Programa de Ordenamiento Ecol&oacute;gico Territorial (POET)">
									POET <font
									color="red">#{principalView.mapInfoAdicional.cap_3_4_0_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_3_4_0_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 3', '&Aacute;rea natural protegida (ANP)');cambiaIframe('capitulo3/anp.xhtml');" data-toggle="tooltip" data-placement="bottom" title="&Aacute;rea Natural Protegida (ANP)">
									ANP <font color="red">#{principalView.mapInfoAdicional.cap_3_5_0_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_3_5_0_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 3', 'Planes y/o programas de desarrollo urbano (PDU)');cambiaIframe('capitulo3/pdu.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Planes y/o Programas de Desarrollo Urbano (PDU)">
									PDU <font
									color="red">#{principalView.mapInfoAdicional.cap_3_6_0_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_3_6_0_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 3', 'Acuerdos, convenios y tratados internacionales');cambiaIframe('capitulo3/acuerdos.xhtml');"  data-toggle="tooltip" data-placement="bottom" title="Acuerdos, convenios y tratados internacionales en materia ambiental" >
									Acuerdos, convenios y tratados <font color="red">#{principalView.mapInfoAdicional.cap_3_7_0_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_3_7_0_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 3', 'Otras disposiciones');cambiaIframe('capitulo3/disposiciones.xhtml');">
									Otras disposiciones <font color="red">#{principalView.mapInfoAdicional.cap_3_8_0_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_3_8_0_0[1]
										? ' *' : ''}</font>
							</a></li>
						</ul></li>
					<li class="dropdown"><c:choose>
							<c:when test="#{principalView.existenDatosGenerales}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-expanded="false"> 4 <span class="caret"></span>
									<font color="red">#{principalView.mapInfoAdicional.cap_4[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_4[1]
										? ' *' : ''}</font>
								</a>
							</c:when>
							<c:otherwise>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-expanded="false"
									onclick="msgCapturarDatos();"> 4 <span class="caret"></span></a>
							</c:otherwise>
						</c:choose>
						<ul class="dropdown-menu" role="menu">
							<li><a id="delSistAmb"
								href="javascript: cTitulo('Cap&iacute;tulo 4', 'Delimitaci&oacute;n del sistema ambiental');cambiaIframe('capitulo4/delimitacion.xhtml');">
									<div id="delSistAmb_titulo">Delimitaci&oacute;n del
										sistema ambiental</div> <font color="red">#{(principalView.mapInfoAdicional.cap_4_1_0_0[0]
										or principalView.mapInfoAdicional.cap_4_1_2_0[0] or
										principalView.mapInfoAdicional.cap_4_1_3_0[0]) ? ' *' : ''}</font> <font
									color="blue">#{(principalView.mapInfoAdicional.cap_4_1_0_0[1]
										or principalView.mapInfoAdicional.cap_4_1_2_0[1] or
										principalView.mapInfoAdicional.cap_4_1_3_0[1]) ? ' *' : ''}</font>
							</a></li>
							<li><a id="caractSistAmb"
								href="javascript: cTitulo('Cap&iacute;tulo 4', 'Caracter&iacute;sticas y an&aacute;lisis del sistema ambiental');cambiaIframe('capitulo4/sistemaAmb.xhtml');"   data-toggle="tooltip" data-placement="bottom" title="Caracter&iacute;sticas y an&aacute;lisis del sistema ambiental">
									<div id="caractSistAmb_titulo">Caracter&iacute;sticas y
										an&aacute;lisis del SA</div> <font color="red">#{(principalView.mapInfoAdicional.cap_4_2_1_1[0]
										or principalView.mapInfoAdicional.cap_4_2_1_3[0] or
										principalView.mapInfoAdicional.cap_4_2_1_4[0] or
										principalView.mapInfoAdicional.cap_4_2_1_5[0] or
										principalView.mapInfoAdicional.cap_4_2_1_6[0] or
										principalView.mapInfoAdicional.cap_4_2_2_1[0] or
										principalView.mapInfoAdicional.cap_4_2_2_2[0] or
										principalView.mapInfoAdicional.cap_4_2_2_3[0] or
										principalView.mapInfoAdicional.cap_4_2_2_4[0]) ? ' *' : ''}</font> <font
									color="blue">#{(principalView.mapInfoAdicional.cap_4_2_1_1[1]
										or principalView.mapInfoAdicional.cap_4_2_1_3[1] or
										principalView.mapInfoAdicional.cap_4_2_1_4[1] or
										principalView.mapInfoAdicional.cap_4_2_1_5[1] or
										principalView.mapInfoAdicional.cap_4_2_1_6[1] or
										principalView.mapInfoAdicional.cap_4_2_2_1[1] or
										principalView.mapInfoAdicional.cap_4_2_2_2[1] or
										principalView.mapInfoAdicional.cap_4_2_2_3[1] or
										principalView.mapInfoAdicional.cap_4_2_2_4[1]) ? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 4', 'Paisaje');cambiaIframe('capitulo4/paisaje.xhtml');">
									Paisaje <font color="red">#{principalView.mapInfoAdicional.cap_4_3_0_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_4_3_0_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 4', 'Medio socioecon&oacute;mico');cambiaIframe('capitulo4/socioeconomico.xhtml');">
									Medio socioecon&oacute;mico <font color="red">#{principalView.mapInfoAdicional.cap_4_4_0_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_4_4_0_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 4', 'Diagn&oacute;stico ambiental');cambiaIframe('capitulo4/diagAmbiental.xhtml');">
									Diagn&oacute;stico ambiental <font color="red">#{principalView.mapInfoAdicional.cap_4_5_0_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_4_5_0_0[1]
										? ' *' : ''}</font>
							</a></li>
						</ul></li>
					<li class="dropdown"><c:choose>
							<c:when test="#{principalView.existenDatosGenerales}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-expanded="false"> 5 <span class="caret"></span>
									<font color="red">#{principalView.mapInfoAdicional.cap_5[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_5[1]
										? ' *' : ''}</font>
								</a>
							</c:when>
							<c:otherwise>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-expanded="false"
									onclick="msgCapturarDatos();"> 5 <span class="caret"></span></a>
							</c:otherwise>
						</c:choose>
						<ul class="dropdown-menu" role="menu">
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 5', 'Metodolog&iacute;a para evaluar los impactos ambientales');cambiaIframe('capitulo5/metodologia.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Metodolog&iacute;a para identificar y evaluar los impactos ambientales">
									Metodolog&iacute;a para evaluar los impactos
									ambientales <font color="red">#{principalView.mapInfoAdicional.cap_5_1_0_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_5_1_0_0[1]
										? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Cap&iacute;tulo 5', 'Resultados de evaluaci&oacute;n');cambiaIframe('capitulo5/resultadosEva.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Resultados de la evaluación de los impactos ambientales">
									Resultados de evaluaci&oacute;n <font
									color="red">#{principalView.mapInfoAdicional.cap_5_2_0_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_5_2_0_0[1]
										? ' *' : ''}</font>
							</a></li>
						</ul></li>
					<li class="dropdown"><c:choose>
							<c:when test="#{principalView.existenDatosGenerales}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-expanded="false"> 6 <span class="caret"></span>
									<font color="red">#{principalView.mapInfoAdicional.cap_6[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_6[1]
										? ' *' : ''}</font>
								</a>
							</c:when>
							<c:otherwise>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-expanded="false"
									onclick="msgCapturarDatos();"> 6 <span class="caret"></span></a>
							</c:otherwise>
						</c:choose>
						<ul class="dropdown-menu" role="menu">
							<li><a
								href="javascript: cTitulo('Capítulo 6', 'Medidas preventivas y de mitigaci&oacute;n');cambiaIframe('capitulo6/MedPrev.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Medidas preventivas y de mitigaci&oacute;n de los impactos ambientales" >
									Medidas preventivas y de mitigaci&oacute;n <font color="red">#{principalView.mapInfoAdicional.cap_6_1_0_0[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_6_1_0_0[1]
										? ' *' : ''}</font>
							</a></li>
						</ul></li>
					<li class="dropdown"><c:choose>
							<c:when test="#{principalView.existenDatosGenerales}">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-expanded="false"> 7 <span class="caret"></span>
									<font color="red">#{principalView.mapInfoAdicional.cap_7[0]
										? ' *' : ''}</font> <font color="blue">#{principalView.mapInfoAdicional.cap_7[1]
										? ' *' : ''}</font>
								</a>
							</c:when>
							<c:otherwise>
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"
									role="button" aria-expanded="false"
									onclick="msgCapturarDatos();"> 7 <span class="caret"></span></a>
							</c:otherwise>
						</c:choose>
						<ul class="dropdown-menu" role="menu">
							<li><a
								href="javascript: cTitulo('Capítulo 7', 'Pron&oacute;stico del escenario');cambiaIframe('capitulo7/pronostico.xhtml');">
									Pron&oacute;stico del escenario <font color="red">#{(principalView.mapInfoAdicional.cap_7_1_0_0[0]
										or principalView.mapInfoAdicional.cap_7_1_1_0[0]) ? ' *' : ''}</font>
									<font color="blue">#{(principalView.mapInfoAdicional.cap_7_1_0_0[1]
										or principalView.mapInfoAdicional.cap_7_1_1_0[1]) ? ' *' : ''}</font>
							</a></li>
							<li><a
								href="javascript: cTitulo('Capítulo 7', 'Conclusiones');cambiaIframe('capitulo7/conclusiones.xhtml');">
									Conclusiones <font color="red">#{(principalView.mapInfoAdicional.cap_7_1_2_0[0]
										or principalView.mapInfoAdicional.cap_7_2_1_0[0]) ? ' *' : ''}</font>
									<font color="blue">#{(principalView.mapInfoAdicional.cap_7_1_2_0[1]
										or principalView.mapInfoAdicional.cap_7_2_1_0[1]) ? ' *' : ''}</font>
							</a></li>
						</ul></li>
                              <li class="dropdown">
                                <c:choose>
                                    <c:when test="#{principalView.existenDatosGenerales}">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 
                                            8 <span class="caret"></span>
                                            <font color="red">#{principalView.mapInfoAdicional.cap_8[0] ? ' *' : ''}</font>
                                            <font color="blue">#{principalView.mapInfoAdicional.cap_8[1] ? ' *' : ''}</font>
                                        </a>
                                    </c:when>
                                    <c:otherwise>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" onclick="msgCapturarDatos();"> 8 <span class="caret"></span></a>
                                    </c:otherwise>
                                </c:choose>
                                <ul class="dropdown-menu" role="menu">
									<li>
                                        <a href="javascript: cTitulo('Capítulo 8', 'Otros anexos');cambiaIframe('capitulo8/otros.xhtml');">
                                            Otros anexos
                                            <font color="red">#{principalView.mapInfoAdicional.cap_8_1_0_0[0] ? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_8_1_0_0[1] ? ' *' : ''}</font>
                                        </a>
                                    </li>
									<li>
                                        <a href="javascript: cTitulo('Capítulo 8', 'Fotografías');cambiaIframe('capitulo8/fotos.xhtml');">
                                            Fotograf&iacute;as
                                            <font color="red">#{principalView.mapInfoAdicional.cap_8_2_0_0[0] ? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_8_2_0_0[1] ? ' *' : ''}</font>
                                        </a>
                                    </li>
									<li>
                                        <a href="javascript: cTitulo('Capítulo 8', 'Videos');cambiaIframe('capitulo8/videos.xhtml');">
                                            Videos
                                            <font color="red">#{principalView.mapInfoAdicional.cap_8_3_0_0[0] ? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_8_3_0_0[1] ? ' *' : ''}</font>
                                        </a>
                                    </li>
									<li>
                                        <a href="javascript: cTitulo('Capítulo 8', 'Glosario de términos');cambiaIframe('capitulo8/glosario.xhtml');">
                                            Glosario de t&eacute;rminos
                                            <font color="red">#{principalView.mapInfoAdicional.cap_8_4_0_0[0] ? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_8_4_0_0[1] ? ' *' : ''}</font>
                                        </a>
                                    </li>
									<li>
                                        <a href="javascript: cTitulo('Capítulo 8', 'Bibliografía');cambiaIframe('capitulo8/bibliografia.xhtml');">
                                            Bibliograf&iacute;a
                                            <font color="red">#{principalView.mapInfoAdicional.cap_8_5_0_0[0] ? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_8_5_0_0[1] ? ' *' : ''}</font>
                                        </a>
                                    </li>
									<li>
                                        <a href="javascript: cTitulo('Capítulo 8', 'Resumen de la MIA');cambiaIframe('capitulo8/resumen.xhtml');"  data-toggle="tooltip" data-placement="bottom" title="Resumen de la manifestación de impacto ambiental (MIA)"> 
                                            Resumen de la MIA
                                            <font color="red">#{principalView.mapInfoAdicional.cap_4_1_1_0[0] ? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_4_1_1_0[1] ? ' *' : ''}</font>
                                        </a>
                                    </li>
                                </ul>
                              </li>
							  <li class="dropdown" id="ER">
                                  <c:choose>
                                    <c:when test="#{principalView.existenDatosGenerales}">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 
                                            Estudio de riesgo <span class="caret"></span>
                                            <font color="red">#{principalView.mapInfoAdicional.cap_10[0] ? ' *' : ''}</font>
											<font color="blue">#{principalView.mapInfoAdicional.cap_10[1] ? ' *' : ''}</font>
                                        </a>
                                    </c:when>
                                    <c:otherwise>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" onclick="msgCapturarDatos();"> Estudio de Riesgo <span class="caret"></span></a>
                                    </c:otherwise>
                                </c:choose> 
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="javascript: cTitulo('Estudio de riesgo', 'Datos del responsable del Estudio de Riesgo');cambiaIframe('estudioRiesgo/ER_1DatosResponEstRies/1_DatRespEstdRiego.xhtml');"   data-toggle="tooltip" data-placement="bottom" title="Datos del responsable del estudio de riesgo">
                                            Datos del responsable
                                            <font color="red">#{principalView.mapInfoAdicional.cap_10_1_0_0[0] ? ' *' : ''}</font>
                                            <font color="blue">#{principalView.mapInfoAdicional.cap_10_1_0_0[1] ? ' *' : ''}</font>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript: cTitulo('Estudio de riesgo', 'Escenarios de riesgo ambiental');
										cambiaIframe('estudioRiesgo/ER_2EscRiesgAmbProy/2_EscRiegAmbProy.xhtml');"  data-toggle="tooltip" data-placement="bottom" title="Escenarios de riesgo ambiental relacionados con el proyecto">
										Escenarios de riesgo ambiental</a>
                                    </li>
									<li>
                                        <a href="javascript: cTitulo('Estudio de riesgo', 'Medidas de protección');
										cambiaIframe('estudioRiesgo/ER_3DescMedProtec/3_DescMedprevInst.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Descripción de las medidas de protección en torno a las instalaciones">Medidas de protección</a>
                                    </li>
									<li>
                                        <a href="javascript: cTitulo('Estudio de riesgo', 'Medidas de seguridad y preventivas');
										cambiaIframe('estudioRiesgo/ER_4SenalMedSegMatAmb/4_SenMedSeg.xhtml');" data-toggle="tooltip" data-placement="bottom" title="Señalamiento de las medidas de seguridad y preventivas en materia ambiental">Medidas de seguridad y preventivas</a>
                                    </li>
									<li>
                                        <a href="javascript: cTitulo('Estudio de riesgo', 'Resumen');cambiaIframe('estudioRiesgo/ER_5Resumen/5_Resumen.xhtml');">Resumen</a>
                                    </li>
									<li>
                                        <a href="javascript: cTitulo('Estudio de riesgo', 'Instrumentos metodológicos y técnicos');
										cambiaIframe('estudioRiesgo/ER_6Identificacion/6_Identifiacion.xhtml');"  data-toggle="tooltip" data-placement="bottom" title="Instrumentos metodológicos y elementos técnicos">Instrumentos metodológicos y técnicos</a>
                                    </li>
                                </ul>
							</li>
							<li class="dropdown">
	                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
	                            	 <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
	                           	</a>
	                           	<ul class="dropdown-menu" role="menu" id="utilidades">
                                    <li>
                                        <a href="javascript: cTitulo('Resumen de archivos del trámite', ' '); cambiaIframe('modarchivos/archivosResumen.xhtml');">
                                            <span class="glyphicon glyphicon-inbox"></span> <small>Resumen de archivos</small>
                                        </a>
                                    </li>
                                
                                    <li>
                                        <a href="#{request.contextPath}/ReportDispatch?folio=#{principalView.proy.proyectoPK.folioProyecto}&amp;serial=#{principalView.proy.proyectoPK.serialProyecto}&amp;TipoReporte=PDF" target="_blank">
		                            		<span class="glyphicon glyphicon-book"></span> <small>Visualizar PDF</small>
		                            	</a>  
                                    </li>
                                    <li>
	                                    <c:choose>
	                                        <c:when test="#{principalView.existenDatosGenerales}">
	                                        	<a href="javascript: cTitulo('Utilidades', 'Pago de Derechos');
													cambiaIframe('PagoDeDerechos.xhtml');"><span class="glyphicon glyphicon-usd"></span><small>Calcule su pago de derechos</small></a>
	                                        </c:when>
	                                        <c:otherwise>
	                                            <a href="#" onClick="msgCapturarDatos();">
	                                                <span class="glyphicon glyphicon-usd"></span><small>Calcule su pago de derechos</small>
	                                            </a>                                        
	                                        </c:otherwise>
	                                    </c:choose>
                                    </li>
                                    <li>
                                    	<a href="#{request.contextPath}/assets/documents/Manual_Usuario_MIA.pdf" target="_blank">
                                    		<span class="glyphicon glyphicon-question-sign"></span><small> Manual de usuario</small>
                                    	</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                            	<a href="javascript: fullScr();" role="button">
	                            	 <span class="icon-others"></span>
	                           	</a>
                            </li>                                    
                              <!-- jsr: end--> 
                              <!-- AOC -->
                              <li>
                                  <!--AAOC 30/06.- Se eliminó el estilo de panel y se cambió por un estilo de botón de tipo success-->
                                  <h:commandLink id="porcentajes" rendered="#{principalView.finTramite}" value="Cerrar tr&aacute;mite   "
                                              action="#{principalView.finaliza}" update=":main_menu_form"                                                       
                                              onclick="if (!confirm('#{principalView.msgCierreTramite}' + ', ¿Desea continuar?')) return false;this.firstChild.innerHTML = 'Cerrando...';"
                                              onsuccess=""><span class="glyphicon glyphicon-lock"></span></h:commandLink>
                              </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </ui:composition>
        Todo lo que se escriba después de esta línea será borrado
    </body>
</html>
