<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <body>
        Todo lo que se escriba antes de esta línea será borrado
        <ui:composition>
            <pe:imageAreaSelect></pe:imageAreaSelect>
        </ui:composition>
        Todo lo que se escriba después de esta línea será borrado
        
        <br /><br />
        PRUEBAS DE CARACTERES ACENTUADOS: INTRODUZCAN UNA PALABRA CON TILDES
        <br /><br />
        Claudia Edith Hernández Guzmán
        <br /><br />
        Edgar Santana C.: Día
        <br /><br />
        Diego Paniagua López
         <br /><br />
        Jenifer Vázquez Manuatl
        <br/><br/>
        Efraín Coronel Rojas 
        <br/><br/>
        César Delgado Ortega
        <br/><br/>
        Dany Adán López Florentino
        <br/><br/>
        Paúl Osbaldo Montoya Valdez
        <br/><br/>
        Eric D Mendiola Araiza: confirmación
    </body>
</html>
