<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
    
    </h:head>

<!-- 	   <p:ajaxStatus style="display:block;margin-bottom:2em;height:24px;"> -->
<!-- 	   		<f:facet name="default"> -->
<!-- 	        	<h:outputText value="" /> -->
<!-- 	    	</f:facet> -->
	 
<!-- 	    	<f:facet name="start"> -->
<!-- 	        	<p:graphicImage value="${pageContext.request.contextPath}/assets/images/loading.gif" /> -->
<!-- 	    	</f:facet> -->
	 
<!-- 	    	<f:facet name="complete"> -->
<!-- 	        	<h:outputText value="" /> -->
<!-- 	    	</f:facet> -->
<!-- 		</p:ajaxStatus> -->
	 
		<p:ajaxStatus onstart="statusDialog.show()" onsuccess="statusDialog.hide()" />
	 
		<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
	    	<p:graphicImage value="${pageContext.request.contextPath}/assets/images/loading.gif" />
		</p:dialog>

</ui:composition>