<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <body>
        Todo lo que se escriba antes de esta línea será borrado
        <ui:composition>
            <script>
                function cTitulo(folioProy,sectorTramite,promovente,titulo) {
                    $("#breadCrumb").empty();
                    $("#breadCrumb").append('<nav><ul class="list-inline"><li>'+folioProy+'</li><li>'+sectorTramite+'</li><li>'+promovente+'</li><li>'+titulo+'</li></ul></nav>');
                }
                
                function msgCapturarDatos() {
                    alert('Debe capturar \'Datos generales del proyecto\' para acceder a esta sección');
                }
            </script>
            <h:panelGroup id="porcentajes">
                <h:panelGroup rendered="#{principalView.finTramite}">
                    <!--AAOC 30/06.- Se eliminó el estilo de panel y se cambió por un estilo de botón de tipo success-->
                    <p:commandLink value="Cerrar trámite" styleClass="btn btn-success btn-block" 
                                action="#{principalView.finaliza}" update=":main_menu_form"                                                       
                                onclick="if (!confirm('#{principalView.msgCierreTramite}' + ', ¿Desea continuar?')) return false;this.firstChild.innerHTML = 'Cerrando...';"
                                onsuccess=""/>
                </h:panelGroup>
            </h:panelGroup>
            <h:panelGroup>
                <a class="btn btn-primary btn-block" href="#{request.contextPath}/ReportDispatch?folio=#{principalView.proy.proyectoPK.folioProyecto}&amp;serial=#{principalView.proy.proyectoPK.serialProyecto}&amp;TipoReporte=PDF" target="_blank">PDF</a>  
            </h:panelGroup>
            <h:panelGroup rendered="#{principalView.estatusProyecto}" id="panelMenu">
                <div class="panel-group ficha-collapse" id="accordion">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a data-parent="#accordion" data-toggle="collapse" href="#panel-01">
                                Cap&iacute;tulo 1
                          </a>
                        </h4>
                        <button type="button" class="collpase-button collapsed" data-toggle="collapse" data-parent="#accordion" href="#panel-01" aria-expanded="false" aria-controls="panel-01"></button>
                      </div>
                      <div class="panel-collapse collapse out" id="panel-01">
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 1 > Datos Generales del Proyecto');
                                        cambiaIframe('capitulo1/1/DatosGralProy.xhtml');">Datos Generales del Proyecto</a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 1 > Datos Generales del Promovente');
                                        cambiaIframe('capitulo1/2/DatosGralUbic.xhtml');">Datos Generales del Promovente</a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 1 > Datos Generales del Representante Legal');
                                        cambiaIframe('capitulo1/3/RepLegal.xhtml');">Datos Generales del Representante Legal</a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 1 > Datos Generales del Responsable de la Elaboración del Estudio de Impacto Ambiental');
                                        cambiaIframe('capitulo1/4/DatosGralREEIA.xhtml');">Datos Generales del Responsable de la Elaboración del Estudio de Impacto Ambiental</a>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <c:choose>
                            <c:when test="#{principalView.existenDatosGenerales}">
                                <h4 class="panel-title collapsed">
                                  <a data-parent="#accordion" data-toggle="collapse" href="#panel-02">
                                        Cap&iacute;tulo 2
                                        <font color="red">#{principalView.mapInfoAdicional.cap_2[0] ? ' *' : ''}</font>
                                        <font color="blue">#{principalView.mapInfoAdicional.cap_2[1] ? ' *' : ''}</font>
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed" data-toggle="collapse" 
                                        data-parent="#accordion" href="#panel-02" aria-expanded="false" aria-controls="panel-02"></button>
                            </c:when>
                            <c:otherwise>
                                <h4 class="panel-title collapsed">
                                  <a data-parent="#accordion" href="#panel-02" onclick="msgCapturarDatos();">
                                        Cap&iacute;tulo 2
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed"
                                        data-parent="#accordion" href="#panel-02" aria-expanded="false" aria-controls="panel-02"
                                        onclick="msgCapturarDatos();"></button>
                            </c:otherwise>
                        </c:choose>                               
                      </div>
                      <div class="panel-collapse collapse out" id="panel-02">
                        <div class="panel-body">
                            <div class="list-group">
                                <a href="#" id="Nat" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Naturaleza del Proyecto');
                                        cambiaIframe('capitulo2/1/InfoGeneral.xhtml');">
                                    Naturaleza del Proyecto
                                    <font color="red">#{principalView.mapInfoAdicional.cap_2_1_1_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_1_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" id="justificacion" class="list-group-item" onClick="cambiaIframe('capitulo2/1/Justificacion.xhtml');">
                                    Justificación
                                    <font color="red">#{principalView.mapInfoAdicional.cap_2_1_1_1[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_1_1[1] ? ' *' : ''}</font>
                                </a> 

                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Selección del Sitio');
                                        cambiaIframe('capitulo2/1/SeleSitio.xhtml');">
                                    Selección del Sitio
                                    <font color="red">#{principalView.mapInfoAdicional.cap_2_1_2_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_2_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Ubicación Física del Proyecto');
                                        cambiaIframe('capitulo2/1/Ubicacion.xhtml');">
                                    Ubicación Física del Proyecto
                                    <font color="red">#{principalView.mapInfoAdicional.cap_2_1_3_1[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_3_1[1] ? ' *' : ''}</font>
                                </a>
                                    <a href="#" id="invreq" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Inversión y Empleos');
                                        cambiaIframe('capitulo2/1/InversionRequerida.xhtml');">
                                        Inversión y Empleos
                                    <font color="red">#{principalView.mapInfoAdicional.cap_2_1_4_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_4_0[1] ? ' *' : ''}</font>
                                </a>

                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Dimensiones del Proyecto');
                                        cambiaIframe('capitulo2/1/Dimensiones.xhtml');">
                                    Dimensiones del Proyecto
                                    <font color="red">#{(principalView.mapInfoAdicional.cap_2_1_5_0[0] or principalView.mapInfoAdicional.cap_4_2_2_1[0]) ? ' *' : ''}</font>
                                    <font color="blue">#{(principalView.mapInfoAdicional.cap_2_1_5_0[1] or principalView.mapInfoAdicional.cap_4_2_2_1[1]) ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Servicios Requeridos para el Proyecto');
                                        cambiaIframe('capitulo2/1/Servicios.xhtml');">
                                    Servicios Requeridos para el Proyecto
                                    <font color="red">#{principalView.mapInfoAdicional.cap_2_1_6_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_6_0[1] ? ' *' : ''}</font>
                                </a>

                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Características Particulares del Proyecto');
                                        cambiaIframe('capitulo2/2/CarParProy.xhtml');">
                                    Características Particulares del Proyecto
                                    <font color="red">#{principalView.mapInfoAdicional.cap_2_2_1_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_1_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Uso Actual del Suelo y/o Cuerpos de Agua en el Sitio del Proyecto y en sus Colindancias');
                                        cambiaIframe('capitulo2/2/usosuelo.xhtml');">
                                    Uso Actual del Suelo y/o Cuerpos de Agua en el Sitio del Proyecto y en sus Colindancias
                                    <font color="red">#{(principalView.mapInfoAdicional.cap_2_2_2_1[0] or principalView.mapInfoAdicional.cap_2_2_2_2[0]) ? ' *' : ''}</font>
                                    <font color="blue">#{(principalView.mapInfoAdicional.cap_2_2_2_1[1] or principalView.mapInfoAdicional.cap_2_2_2_2[1]) ? ' *' : ''}</font>
                                </a>
                                <a href="#" id="descIndustrial" class="list-group-item"  onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Descripción de Obras Principales del Proyecto');
                                        cambiaIframe('capitulo2/2/descIndustrial.xhtml');">
                                    Descripción de Obras Principales del Proyecto
                                    <font color="red">#{principalView.mapInfoAdicional.cap_2_2_3_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_3_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Duración del Proyecto y Programa de Trabajo');
                                        cambiaIframe('capitulo2/2/duracion.xhtml');">
                                    Duración del Proyecto y Programa de Trabajo
                                    <font color="red">#{principalView.mapInfoAdicional.cap_2_2_2_3[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_2_3[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" id="infoBio"  class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Información Biotecnológica de las especies a cultivar');
                                     cambiaIframe('capitulo2/2/descPesqueros.xhtml');">
                                    Información Biotecnológica de las especies a cultivar
                                    <font color="red">#{principalView.mapInfoAdicional.cap_2_2_4_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_4_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Etapas del Proyecto');
                                        cambiaIframe('capitulo2/2/etapaProyecto.xhtml');">
                                    Etapas del Proyecto
                                    <c:choose>
                                        <c:when test="#{principalView.proy.nsub eq 4 || principalView.proy.nsub eq 6}">
                                            <font color="red">#{(principalView.mapInfoAdicional.cap_2_2_5_0[0] or 
                                                                principalView.mapInfoAdicional.cap_2_2_5_1[0] or
                                                                principalView.mapInfoAdicional.cap_2_2_5_2[0] or 
                                                                principalView.mapInfoAdicional.cap_2_2_5_3[0] or
                                                                principalView.mapInfoAdicional.cap_2_2_5_4[0]) ? ' *' : ''}</font>
                                            <font color="blue">#{(principalView.mapInfoAdicional.cap_2_2_5_0[1] or
                                                                 principalView.mapInfoAdicional.cap_2_2_5_1[1] or
                                                                 principalView.mapInfoAdicional.cap_2_2_5_2[1] or
                                                                 principalView.mapInfoAdicional.cap_2_2_5_3[1] or 
                                                                 principalView.mapInfoAdicional.cap_2_2_5_4[1]) ? ' *' : ''}</font>
                                        </c:when>
                                        <c:otherwise>                
                                            <font color="red">#{(principalView.mapInfoAdicional.cap_2_2_4_0[0] or
                                                                principalView.mapInfoAdicional.cap_2_2_4_1[0] or 
                                                                principalView.mapInfoAdicional.cap_2_2_4_2[0] or 
                                                                principalView.mapInfoAdicional.cap_2_2_4_3[0] or
                                                                principalView.mapInfoAdicional.cap_2_2_4_4[0]) ? ' *' : ''}</font>
                                            <font color="blue">#{(principalView.mapInfoAdicional.cap_2_2_4_0[1] or
                                                                 principalView.mapInfoAdicional.cap_2_2_4_1[1] or 
                                                                 principalView.mapInfoAdicional.cap_2_2_4_2[1] or 
                                                                 principalView.mapInfoAdicional.cap_2_2_4_3[1] or 
                                                                 principalView.mapInfoAdicional.cap_2_2_4_4[1]) ? ' *' : ''}</font>
                                        </c:otherwise>
                                    </c:choose>  
                                </a>
                                <a href="#" id="otrosIns" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Insumos');
                                        cambiaIframe('capitulo2/2/insumos.xhtml');">
                                        <div id="otrosIns_titulo">Insumos</div>
                                    <c:choose>
                                        <c:when test="#{principalView.proy.nsub eq 6}">
                                            <font color="red">#{principalView.mapInfoAdicional.cap_2_2_6_0[0] ? ' *' : ''}</font>
                                            <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_6_0[1] ? ' *' : ''}</font>
                                        </c:when>
                                        <c:otherwise>                
                                            <font color="red">#{principalView.mapInfoAdicional.cap_2_2_5_0[0] ? ' *' : ''}</font>
                                            <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_5_0[1] ? ' *' : ''}</font>
                                        </c:otherwise>
                                    </c:choose>  
                                </a>
                                    <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Sustancias Riesgosas');
                                        cambiaIframe('capitulo2/2/sustancias.xhtml');">
                                        Sustancias Riesgosas
                                    <c:choose>
                                        <c:when test="#{principalView.proy.nsub eq 4 || principalView.proy.nsub eq 7}">
                                            <font color="red">#{principalView.mapInfoAdicional.cap_2_2_6_0[0] ? ' *' : ''}</font>
                                            <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_6_0[1] ? ' *' : ''}</font>
                                        </c:when>
                                        <c:when test="#{principalView.proy.nsub eq 6}">
                                            <font color="red">#{principalView.mapInfoAdicional.cap_2_2_7_0[0] ? ' *' : ''}</font>
                                            <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_7_0[1] ? ' *' : ''}</font>
                                        </c:when>
                                        <c:otherwise>                
                                            <font color="red">#{principalView.mapInfoAdicional.cap_2_2_5_0[0] ? ' *' : ''}</font>
                                            <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_5_0[1] ? ' *' : ''}</font>
                                        </c:otherwise>
                                    </c:choose>  
                                </a>
                                <a href="#" id="explo" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Utilización Explosivos');
                                        cambiaIframe('capitulo2/2/explosivos.xhtml');">
                                    Utilización Explosivos
                                    <c:choose>
                                        <c:when test="#{principalView.proy.nsub eq 7}">
                                            <font color="red">#{principalView.mapInfoAdicional.cap_2_2_7_0[0] ? ' *' : ''}</font>
                                            <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_7_0[1] ? ' *' : ''}</font>
                                        </c:when>
                                        <c:otherwise>                
                                            <font color="red">#{principalView.mapInfoAdicional.cap_2_2_6_0[0] ? ' *' : ''}</font>
                                            <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_6_0[1] ? ' *' : ''}</font>
                                        </c:otherwise>
                                    </c:choose>  
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Generación, Manejo y Disposición de Residuos Sólidos, Líquidos y Emisiones a la Atmósfera');
                                        cambiaIframe('capitulo2/2/residuosSolidos.xhtml');">
                                    Generación, Manejo y Disposición de Residuos Sólidos, Líquidos y Emisiones a la Atmósfera
                                    <c:choose>
                                        <c:when test="#{principalView.proy.nsub eq 6 || principalView.proy.nsub eq 7}">
                                            <font color="red">#{principalView.mapInfoAdicional.cap_2_2_8_0[0] ? ' *' : ''}</font>
                                            <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_8_0[1] ? ' *' : ''}</font>
                                        </c:when>
                                        <c:when test="#{principalView.proy.nsub eq 2}">
                                            <font color="red">#{principalView.mapInfoAdicional.cap_2_2_6_0[0] ? ' *' : ''}</font>
                                            <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_6_0[1] ? ' *' : ''}</font>
                                        </c:when>
                                        <c:otherwise>                
                                            <font color="red">#{principalView.mapInfoAdicional.cap_2_2_7_0[0] ? ' *' : ''}</font>
                                            <font color="blue">#{principalView.mapInfoAdicional.cap_2_2_7_0[1] ? ' *' : ''}</font>
                                        </c:otherwise>
                                    </c:choose>  
                                </a>
                                <a href="#" id="posAccAmb" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 2 > Posibles Accidentes Ambientales');
                                        cambiaIframe('capitulo2/2/accidentes.xhtml');">
                                    Posibles Accidentes Ambientales
                                    <font color="red">#{principalView.mapInfoAdicional.cap_2_1_8_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_2_1_8_0[1] ? ' *' : ''}</font>
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <c:choose>
                            <c:when test="#{principalView.existenDatosGenerales}">
                                <h4 class="panel-title">
                                  <a data-parent="#accordion" data-toggle="collapse" href="#panel-03">
                                        Cap&iacute;tulo 3
                                        <font color="red">#{principalView.mapInfoAdicional.cap_3[0] ? ' *' : ''}</font>
                                        <font color="blue">#{principalView.mapInfoAdicional.cap_3[1] ? ' *' : ''}</font>
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed" data-toggle="collapse" 
                                        data-parent="#accordion" href="#panel-03" aria-expanded="false" aria-controls="panel-03"></button>                        
                            </c:when>
                            <c:otherwise>
                                <h4 class="panel-title collapsed">
                                  <a data-parent="#accordion" href="#panel-03" onclick="msgCapturarDatos();">
                                        Cap&iacute;tulo 3
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed"
                                        data-parent="#accordion" href="#panel-03" aria-expanded="false" aria-controls="panel-03"
                                        onclick="msgCapturarDatos();"></button>
                            </c:otherwise>
                        </c:choose>                               
                      </div>
                      <div class="panel-collapse collapse out" id="panel-03">
                        <div class="panel-body">
                            <div class="list-group">  
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 3 > Leyes Federales y Estatales');
                                        cambiaIframe('capitulo3/leyes.xhtml');">
                                    Leyes Federales y Estatales
                                    <font color="red">#{(principalView.mapInfoAdicional.cap_3_1_0_0[0] or 
                                                        principalView.mapInfoAdicional.cap_3_1_1_0[0] or
                                                        principalView.mapInfoAdicional.cap_3_1_2_0[0]) ? ' *' : ''}</font>
                                    <font color="blue">#{(principalView.mapInfoAdicional.cap_3_1_0_0[1] or 
                                                         principalView.mapInfoAdicional.cap_3_1_1_0[0] or
                                                         principalView.mapInfoAdicional.cap_3_1_2_0[1]) ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onclick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 3 > Reglamentos');
                                        cambiaIframe('capitulo3/reglamentos.xhtml');">
                                    Reglamentos
                                    <font color="red">#{principalView.mapInfoAdicional.cap_3_2_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_3_2_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onclick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 3 > Normas');
                                        cambiaIframe('capitulo3/normas.xhtml');">
                                    Normas
                                    <font color="red">#{principalView.mapInfoAdicional.cap_3_3_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_3_3_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onclick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 3 > Programa de Ordenamiento Ecológico Territorial(POET)');
                                        cambiaIframe('capitulo3/poet.xhtml');">
                                    Programa de Ordenamiento Ecológico Territorial(POET)
                                    <font color="red">#{principalView.mapInfoAdicional.cap_3_4_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_3_4_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onclick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 3 > Área Natural Protegida(ANP)');
                                        cambiaIframe('capitulo3/anp.xhtml');">
                                    Área Natural Protegida(ANP)
                                    <font color="red">#{principalView.mapInfoAdicional.cap_3_5_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_3_5_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onclick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 3 > Planes y/o programas de Desarrollo Urbano(PDU)');
                                        cambiaIframe('capitulo3/pdu.xhtml');">
                                    Planes y/o programas de Desarrollo Urbano(PDU)
                                    <font color="red">#{principalView.mapInfoAdicional.cap_3_6_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_3_6_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onclick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 3 > Acuerdos,Convenios y Tratados internacionales en materia ambiental');
                                        cambiaIframe('capitulo3/acuerdos.xhtml');">
                                    Acuerdos,Convenios y Tratados internacionales en materia ambiental
                                    <font color="red">#{principalView.mapInfoAdicional.cap_3_7_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_3_7_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onclick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 3 > Otras Disposiciones');
                                        cambiaIframe('capitulo3/disposiciones.xhtml');">
                                    Otras Disposiciones
                                    <font color="red">#{principalView.mapInfoAdicional.cap_3_8_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_3_8_0_0[1] ? ' *' : ''}</font>
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <c:choose>
                            <c:when test="#{principalView.existenDatosGenerales}">
                                <h4 class="panel-title">
                                  <a data-parent="#accordion" data-toggle="collapse" href="#panel-04">
                                        Cap&iacute;tulo 4
                                        <font color="red">#{principalView.mapInfoAdicional.cap_4[0] ? ' *' : ''}</font>
                                        <font color="blue">#{principalView.mapInfoAdicional.cap_4[1] ? ' *' : ''}</font>
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed" data-toggle="collapse" 
                                        data-parent="#accordion" href="#panel-04" aria-expanded="false" aria-controls="panel-04"></button>
                            </c:when>
                            <c:otherwise>
                                <h4 class="panel-title collapsed">
                                  <a data-parent="#accordion" href="#panel-04" onclick="msgCapturarDatos();">
                                        Cap&iacute;tulo 4
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed"
                                        data-parent="#accordion" href="#panel-04" aria-expanded="false" aria-controls="panel-04"
                                        onclick="msgCapturarDatos();"></button>
                            </c:otherwise>
                        </c:choose>                               
                      </div>
                      <div class="panel-collapse collapse out" id="panel-04">
                        <div class="panel-body">
                            <div class="list-group">  
                                <a href="#" id="delSistAmb" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 4 > Delimitación del Sistema Ambiental');
                                        cambiaIframe('capitulo4/delimitacion.xhtml');">
                                        <div id="delSistAmb_titulo">Delimitación del Sistema Ambiental</div>
                                    <font color="red">#{(principalView.mapInfoAdicional.cap_4_1_0_0[0] or 
                                                        principalView.mapInfoAdicional.cap_4_1_2_0[0] or
                                                        principalView.mapInfoAdicional.cap_4_1_3_0[0]) ? ' *' : ''}</font>
                                    <font color="blue">#{(principalView.mapInfoAdicional.cap_4_1_0_0[1] or 
                                                         principalView.mapInfoAdicional.cap_4_1_2_0[1] or
                                                         principalView.mapInfoAdicional.cap_4_1_3_0[1]) ? ' *' : ''}</font>
                                </a>
                                <a href="#" id="caractSistAmb" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 4 > Características y Análisis del Sistema Ambiental');
                                    cambiaIframe('capitulo4/sistemaAmb.xhtml');">
                                    <div id="caractSistAmb_titulo">Caracter&iacute;sticas y An&aacute;lisis del Sistema Ambiental</div>
                                    <font color="red">#{(principalView.mapInfoAdicional.cap_4_2_1_1[0] or 
                                                        principalView.mapInfoAdicional.cap_4_2_1_3[0] or
                                                        principalView.mapInfoAdicional.cap_4_2_1_4[0] or
                                                        principalView.mapInfoAdicional.cap_4_2_1_5[0] or
                                                        principalView.mapInfoAdicional.cap_4_2_1_6[0] or
                                                        principalView.mapInfoAdicional.cap_4_2_2_1[0] or
                                                        principalView.mapInfoAdicional.cap_4_2_2_2[0] or
                                                        principalView.mapInfoAdicional.cap_4_2_2_3[0] or
                                                        principalView.mapInfoAdicional.cap_4_2_2_4[0]) ? ' *' : ''}</font>
                                    <font color="blue">#{(principalView.mapInfoAdicional.cap_4_2_1_1[1] or 
                                                         principalView.mapInfoAdicional.cap_4_2_1_3[1] or
                                                         principalView.mapInfoAdicional.cap_4_2_1_4[1] or
                                                         principalView.mapInfoAdicional.cap_4_2_1_5[1] or
                                                         principalView.mapInfoAdicional.cap_4_2_1_6[1] or
                                                         principalView.mapInfoAdicional.cap_4_2_2_1[1] or
                                                         principalView.mapInfoAdicional.cap_4_2_2_2[1] or
                                                         principalView.mapInfoAdicional.cap_4_2_2_3[1] or
                                                         principalView.mapInfoAdicional.cap_4_2_2_4[1]) ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 4 > Paisaje');
                                        cambiaIframe('capitulo4/paisaje.xhtml');">
                                    Paisaje
                                    <font color="red">#{principalView.mapInfoAdicional.cap_4_3_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_4_3_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 4 > Medio Socioeconómico');
                                        cambiaIframe('capitulo4/socioeconomico.xhtml');">
                                    Medio Socioeconómico
                                    <font color="red">#{principalView.mapInfoAdicional.cap_4_4_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_4_4_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 4 > Diagnóstico Ambiental');
                                        cambiaIframe('capitulo4/diagAmbiental.xhtml');">
                                    Diagnóstico Ambiental
                                    <font color="red">#{principalView.mapInfoAdicional.cap_4_5_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_4_5_0_0[1] ? ' *' : ''}</font>
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <c:choose>
                            <c:when test="#{principalView.existenDatosGenerales}">
                                <h4 class="panel-title">
                                  <a data-parent="#accordion" data-toggle="collapse" href="#panel-05">
                                        Cap&iacute;tulo 5
                                        <font color="red">#{principalView.mapInfoAdicional.cap_5[0] ? ' *' : ''}</font>
                                        <font color="blue">#{principalView.mapInfoAdicional.cap_5[1] ? ' *' : ''}</font>
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed" data-toggle="collapse" 
                                        data-parent="#accordion" href="#panel-05" aria-expanded="false" aria-controls="panel-05"></button>
                            </c:when>
                            <c:otherwise>
                                <h4 class="panel-title collapsed">
                                  <a data-parent="#accordion" href="#panel-05" onclick="msgCapturarDatos();">
                                        Cap&iacute;tulo 5
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed"
                                        data-parent="#accordion" href="#panel-05" aria-expanded="false" aria-controls="panel-05"
                                        onclick="msgCapturarDatos();"></button>
                            </c:otherwise>
                        </c:choose>                               
                      </div>
                      <div class="panel-collapse collapse out" id="panel-05">
                        <div class="panel-body">
                            <div class="list-group">  
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 5 > Metodología para identificar y evaluar los impactos ambientales');
                                        cambiaIframe('capitulo5/metodologia.xhtml');">
                                    Metodología para identificar y evaluar los impactos ambientales
                                    <font color="red">#{principalView.mapInfoAdicional.cap_5_1_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_5_1_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 5 > Resultados de Evaluacion de Impactos Ambientales');
                                        cambiaIframe('capitulo5/resultadosEva.xhtml');">
                                    Resultados de Evaluación de Impactos Ambientales
                                    <font color="red">#{principalView.mapInfoAdicional.cap_5_2_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_5_2_0_0[1] ? ' *' : ''}</font>
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <c:choose>
                            <c:when test="#{principalView.existenDatosGenerales}">
                                <h4 class="panel-title">
                                  <a data-parent="#accordion" data-toggle="collapse" href="#panel-06">
                                        Cap&iacute;tulo 6
                                        <font color="red">#{principalView.mapInfoAdicional.cap_6[0] ? ' *' : ''}</font>
                                        <font color="blue">#{principalView.mapInfoAdicional.cap_6[1] ? ' *' : ''}</font>
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed" data-toggle="collapse" 
                                        data-parent="#accordion" href="#panel-06" aria-expanded="false" aria-controls="panel-06"></button>
                            </c:when>
                            <c:otherwise>
                                <h4 class="panel-title collapsed">
                                  <a data-parent="#accordion" href="#panel-06" onclick="msgCapturarDatos();">
                                        Cap&iacute;tulo 6
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed"
                                        data-parent="#accordion" href="#panel-06" aria-expanded="false" aria-controls="panel-06"
                                        onclick="msgCapturarDatos();"></button>
                            </c:otherwise>
                        </c:choose>                               
                      </div>
                      <div class="panel-collapse collapse out" id="panel-06">
                        <div class="panel-body">
                            <div class="list-group">  
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 6 > Medidas Preventivas y de Mitigación de los impactos ambientales');
                                        cambiaIframe('capitulo6/MedPrev.xhtml');">
                                    Medidas Preventivas y de Mitigación de los impactos ambientales
                                    <font color="red">#{principalView.mapInfoAdicional.cap_6_1_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_6_1_0_0[1] ? ' *' : ''}</font>
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <c:choose>
                            <c:when test="#{principalView.existenDatosGenerales}">
                                <h4 class="panel-title">
                                  <a data-parent="#accordion" data-toggle="collapse" href="#panel-07">
                                        Cap&iacute;tulo 7
                                        <font color="red">#{principalView.mapInfoAdicional.cap_7[0] ? ' *' : ''}</font>
                                        <font color="blue">#{principalView.mapInfoAdicional.cap_7[1] ? ' *' : ''}</font>
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed" data-toggle="collapse" 
                                        data-parent="#accordion" href="#panel-07" aria-expanded="false" aria-controls="panel-07"></button>
                            </c:when>
                            <c:otherwise>
                                <h4 class="panel-title collapsed">
                                  <a data-parent="#accordion" href="#panel-07" onclick="msgCapturarDatos();">
                                        Cap&iacute;tulo 7
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed"
                                        data-parent="#accordion" href="#panel-07" aria-expanded="false" aria-controls="panel-07"
                                        onclick="msgCapturarDatos();"></button>
                            </c:otherwise>
                        </c:choose>                               
                      </div>
                      <div class="panel-collapse collapse out" id="panel-07">
                        <div class="panel-body">
                            <div class="list-group">  
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 7 > Pronóstico del escenario');
                                        cambiaIframe('capitulo7/pronostico.xhtml');">
                                    Pronóstico del escenario
                                    <font color="red">#{(principalView.mapInfoAdicional.cap_7_1_0_0[0] or principalView.mapInfoAdicional.cap_7_1_1_0[0]) ? ' *' : ''}</font>
                                    <font color="blue">#{(principalView.mapInfoAdicional.cap_7_1_0_0[1] or principalView.mapInfoAdicional.cap_7_1_1_0[1]) ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 7 > Conclusiones');
                                        cambiaIframe('capitulo7/conclusiones.xhtml');">
                                    Conclusiones
                                    <font color="red">#{(principalView.mapInfoAdicional.cap_7_1_2_0[0] or principalView.mapInfoAdicional.cap_7_2_1_0[0]) ? ' *' : ''}</font>
                                    <font color="blue">#{(principalView.mapInfoAdicional.cap_7_1_2_0[1] or principalView.mapInfoAdicional.cap_7_2_1_0[1]) ? ' *' : ''}</font>
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <c:choose>
                            <c:when test="#{principalView.existenDatosGenerales}">
                                <h4 class="panel-title">
                                  <a data-parent="#accordion" data-toggle="collapse" href="#panel-08">
                                        Cap&iacute;tulo 8
                                        <font color="red">#{principalView.mapInfoAdicional.cap_8[0] ? ' *' : ''}</font>
                                        <font color="blue">#{principalView.mapInfoAdicional.cap_8[1] ? ' *' : ''}</font>
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed" data-toggle="collapse" 
                                        data-parent="#accordion" href="#panel-08" aria-expanded="false" aria-controls="panel-08"></button>
                            </c:when>
                            <c:otherwise>
                                <h4 class="panel-title collapsed">
                                  <a data-parent="#accordion" href="#panel-08" onclick="msgCapturarDatos();">
                                        Cap&iacute;tulo 8
                                  </a>
                                </h4>
                                <button type="button" class="collpase-button collapsed"
                                        data-parent="#accordion" href="#panel-08" aria-expanded="false" aria-controls="panel-08"
                                        onclick="msgCapturarDatos();"></button>
                            </c:otherwise>
                        </c:choose>                               
                      </div>
                      <div class="panel-collapse collapse out" id="panel-08">
                        <div class="panel-body">
                            <div class="list-group">  
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 8 > Otros anexos');
                                        cambiaIframe('capitulo8/otros.xhtml');">
                                    Otros anexos
                                    <font color="red">#{principalView.mapInfoAdicional.cap_8_1_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_8_1_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 8 > Fotografías');
                                        cambiaIframe('capitulo8/fotos.xhtml');">
                                    Fotografías
                                    <font color="red">#{principalView.mapInfoAdicional.cap_8_2_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_8_2_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 8 > Videos');
                                        cambiaIframe('capitulo8/videos.xhtml');">
                                    Videos
                                    <font color="red">#{principalView.mapInfoAdicional.cap_8_3_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_8_3_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 8 > Glosario de términos');
                                        cambiaIframe('capitulo8/glosario.xhtml');">
                                    Glosario de términos
                                    <font color="red">#{principalView.mapInfoAdicional.cap_8_4_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_8_4_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 8 > Bibliografía');
                                        cambiaIframe('capitulo8/bibliografia.xhtml');">
                                    Bibliografía
                                    <font color="red">#{principalView.mapInfoAdicional.cap_8_5_0_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_8_5_0_0[1] ? ' *' : ''}</font>
                                </a>
                                <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Capítulo 8 > Resumen Manifestación de Impacto Ambiental');
                                        cambiaIframe('capitulo8/resumen.xhtml');">
                                    Resumen Manifestación de Impacto Ambiental
                                    <font color="red">#{principalView.mapInfoAdicional.cap_4_1_1_0[0] ? ' *' : ''}</font>
                                    <font color="blue">#{principalView.mapInfoAdicional.cap_4_1_1_0[1] ? ' *' : ''}</font>
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="panel panel-default" id="ER">
                        <div class="panel-heading">
                            <c:choose>
                                <c:when test="#{principalView.existenDatosGenerales}">
                                    <h4 class="panel-title">
                                        <a data-parent="#accordion" data-toggle="collapse" href="#panel-09">
                                            Estudio de Riesgo
                                            <font color="red">#{principalView.mapInfoAdicional.cap_10[0] ? ' *' : ''}</font>
                                                <font color="blue">#{principalView.mapInfoAdicional.cap_10[1] ? ' *' : ''}</font>
                                        </a>
                                    </h4>
                                    <button type="button" class="collpase-button collapsed" data-toggle="collapse" 
                                            data-parent="#accordion" href="#panel-09" aria-expanded="false" aria-controls="panel-09"></button>
                                </c:when>
                                <c:otherwise>
                                    <h4 class="panel-title collapsed">
                                      <a data-parent="#accordion" href="#panel-09" onclick="msgCapturarDatos();">
                                            Estudio de Riesgo
                                      </a>
                                    </h4>
                                    <button type="button" class="collpase-button collapsed"
                                            data-parent="#accordion" href="#panel-09" aria-expanded="false" aria-controls="panel-09"
                                            onclick="msgCapturarDatos();"></button>
                                </c:otherwise>
                            </c:choose>                               
                        </div>
                        <div class="panel-collapse collapse out" id="panel-09">
                            <div class="panel-body">
                                <div class="list-group">  
                                    <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Estudio de riesgo > Datos del Responsable del Estudio de Riesgo');
                                                cambiaIframe('estudioRiesgo/ER_1DatosResponEstRies/1_DatRespEstdRiego.xhtml');">
                                            Datos del Responsable del Estudio de Riesgo
                                            <font color="red">#{principalView.mapInfoAdicional.cap_10_1_0_0[0] ? ' *' : ''}</font>
                                            <font color="blue">#{principalView.mapInfoAdicional.cap_10_1_0_0[1] ? ' *' : ''}</font>
                                    </a>
                                    <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Estudio de riesgo > Escenarios de los Riesgos Ambientales Relacionados con el Proyecto');
                                            cambiaIframe('estudioRiesgo/ER_2EscRiesgAmbProy/2_EscRiegAmbProy.xhtml');">Escenarios de los Riesgos Ambientales Relacionados con el Proyecto</a>
                                    <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Estudio de riesgo > Descripción de las Medidas de Protección en Torno a las Instalaciones');
                                            cambiaIframe('estudioRiesgo/ER_3DescMedProtec/3_DescMedprevInst.xhtml');">Descripción de las Medidas de Protección en Torno a las Instalaciones</a>
                                    <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Estudio de riesgo > Señalamiento de las Medidas de Seguridad y Preventivas en Materia Ambiental');
                                            cambiaIframe('estudioRiesgo/ER_4SenalMedSegMatAmb/4_SenMedSeg.xhtml');">Señalamiento de las Medidas de Seguridad y Preventivas en Materia Ambiental</a>
                                    <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Estudio de riesgo > Resumen');
                                            cambiaIframe('estudioRiesgo/ER_5Resumen/5_Resumen.xhtml');">Resumen</a>
                                    <a href="#" class="list-group-item" onClick="cTitulo('#{tituloEncabezado}','Sector: #{principalView.nombreSubsector}','Promovente: #{principalView.nombrePromovente}','Estudio de riesgo > Instrumentos Metodológicos y Elementos Técnicos');
                                            cambiaIframe('estudioRiesgo/ER_6Identificacion/6_Identifiacion.xhtml');">Instrumentos Metodológicos y Elementos Técnicos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </h:panelGroup>
        </ui:composition>
        Todo lo que se escriba despues de esta línea será borrado
    </body>
    
</html>
