<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
        <meta http-equiv="Expires" content="0"/>
        <meta http-equiv="Last-Modified" content="0"/>
        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet"/>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
    </h:head>
    <h:body>
        <div id="dDatGen1" class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h3>Pago de derechos</h3>
                </div>  
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h:form id="pagoSub2">
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <h:dataTable id="tabCriterios" var="pago" value="#{pagoDerView.lista}" class="table" >
                                    <h:column >
                                        <f:facet name="header">
                                            No.
                                        </f:facet>
                                        <h:outputText value="#{pago.id}"/>
                                    </h:column>
                                    <h:column >
                                        <f:facet name="header">
                                            Criterios Ambientales
                                        </f:facet>
                                        <h:outputText value="#{pago.descripcion}" />
                                    </h:column>
                                    <h:column>
                                        <f:facet name="header">
                                            Respuesta
                                        </f:facet>
                                        <h:selectOneMenu class="selecPago" value="#{pago.seleccion}" disabled="#{isInRole.evaluador}">
                                            <f:selectItem itemLabel="Selecciona" itemValue="" />
                                            <f:selectItems  value="#{pago.respuesta}"  />
                                            <p:ajax  listener="#{pagoDerView.seleccionaRespuesta}" update="valor, :pagoSub2:tabCriterios:grid"  />
                                        </h:selectOneMenu>
                                    </h:column>
                                    <h:column >
                                        <f:facet name="header">
                                            Valor
                                        </f:facet>
                                        <h:outputText id="valor"  value="#{pago.valor}" />
                                    </h:column>
                                    <h:column rendered="false">
                                        <f:facet name="header">
                                            Observación
                                        </f:facet>
                                        <p:inputTextarea value="#{pago.referencia}"/>
                                    </h:column>
                                    <f:facet name="footer">
                                        <h:panelGroup  id="grid">
                                            <h:outputText value="Total: #{pagoDerView.sumatoria}" />
                                        </h:panelGroup> 
                                    </f:facet>
                                </h:dataTable>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <h:panelGroup >
                                            <p:dataTable var="tabla" value="#{pagoDerView.niveles}" resizableColumns="true" >
                                                <p:column headerText="Grado" width="10">
                                                    <h:outputText value="#{tabla[0]}" />
                                                </p:column>
                                                <p:column headerText="Limite Inferior" width="10" >
                                                    <h:outputText value="#{tabla[2] != 0 ?  tabla[2] : '-'}" />
                                                </p:column>
                                                <p:column headerText="Limite Superior" width="10">
                                                    <h:outputText value="#{tabla[3] != 0 ? tabla[3] : '-'}" />
                                                </p:column>
                                                <p:column headerText="$  Monto a Pagar" width="20" style="text-align: right">
                                                    <h:outputText value="#{tabla[1]}">
                                                        <f:convertNumber currencySymbol="$" pattern="###,###.00" 
                                                                         currencyCode="MXN"  />
                                                    </h:outputText>
                                                </p:column>
                                            </p:dataTable>
                                        </h:panelGroup>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <h:commandLink class="btn btn-primary" action="#{pagoDerView.guarda}">
                                            Guardar
                                        </h:commandLink>
                                        <a class="btn btn-primary" href="#{request.contextPath}/ReportDispatch?folio=#{pagoDerView.folioPagoDer}&amp;serial=#{pagoDerView.serialPagoDer}&amp;TipoReporte=PAGO" target="_blank">
                                            Imprimir
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h:form> 
                </div>
            </div>
        </div>
        <script src="#{request.contextPath}/assets/js/jquery.min"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
    </h:body>
</html>

