<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <h:head>

        <title>Manifestacion de Impacto Ambiental Versión Beta 1.0</title>
        <meta http-equiv="Expires" content="0"/>
        <meta http-equiv="Last-Modified" content="0"/>
        <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--<link rel="stylesheet" href="#{request.contextPath}/assets/css/main_offline.css"/>-->
        <link href="assets/images/favicon.ico" rel="shortcut icon" />
        <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet" type="text/css" /> 
         

        <!--AAOC 29/06.- Se agrega una nueva hoja de estilos para eliminar todos los 
        style que se encuentran dispersos por el sistema-->
        <link href="assets/css/dgiraMia.css" rel="stylesheet" />
        <script src="https://framework-gb.cdn.gob.mx/gobmx.js"></script>
        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/scripts/screenfull.js"></script>
        
        <script language="JavaScript" type="text/javascript">
            function cambiaIframe(destino) {
                document.getElementById('ifrmPrincipal').src = destino;
            }
            function actualizaBreadCrumb(destino) {
                document.getElementById('breadCrumb').innerHTML = destino;
            }
        </script>
        <script language="JavaScript" type="text/javascript">
            function cambiaBarr(destinos) {
                document.getElementById('barracarga').src = destinos;
            }

            $gmx(document).ready(function() {
          	  $('[data-toggle="tooltip"]').tooltip();
          	});
            
            function fullScr(){
    			
				screenfull.request($('#ifrmPrincipal')[0]);
				// does not require jQuery, can be used like this too:
				// screenfull.request(document.getElementById('container'));
			}

        </script>
    </h:head>
    <h:body>
    
    <c:if test="#{!principalView.reia}">
    
    
        <!--AAOC 29/06 Se cambiaron las clases de bootstrap para que empaten con
        la nueva identidad gráfica y se estructuraron de acuerdo al elemento grid
        de bootstrap-->
        <f:view>
            <h:form id='main_menu_form'>
                <p:growl id="msgAlerts" autoUpdate="true" sticky="false" showDetail="false" for="msgAlerts"/>
                <input type="hidden" name="nsub_proy" id="nsub_proy" />
                <div id="header">
                    <ui:insert>                
                        <ui:include src="cabecera.xhtml" />
                    </ui:insert>
                </div>
                <div id="content" class="container">
                    <div id="filaContent" class="row">
                        <div id="barraHeader" class="col-lg-12 col-md-12 col-sm-12">
                            <div id="filaBarra" class="row">
                                <div id="lineaUbic" class="col-lg-6 col-md-6 col-sm-6">
                                    <div id="breadCrumb" class="breadcrumb" > 
                                        Inicio
                                    </div>
                                </div>
                                <div id="barraProg" class="col-lg-6 col-md-6 col-sm-6">
                                    <h:panelGroup id="progreso" rendered="#{principalView.proy.proyectoPK.serialProyecto ne 3}">
                                        <div class="progress">
                                            <div  class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: #{principalView.avance}%;">
                                                <span>#{principalView.avance}%</span>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                </div>
                            </div>
                            <div id="msgPrincipal" class="row">                            	
                            </div>
                            <div class="row">
	    		<div class="col-md-12" id="mensaje"></div>
	    	</div>
                            <h:panelGroup id="ContentLoader">
                            	<div class="row">
                                    <iframe id="ifrmPrincipal" frameborder="0" src="" class="col-lg-12 col-md-12 col-sm-12" style="height:1000px;overflow:auto; resize: horizontal">

                                    </iframe>
                                </div>
                            </h:panelGroup>
                        </div>
                    </div>
                <script>
	              	//funcion que carga las guias dependiendo del tipo de trámite
					$(document).load(listaGuias(#{capitulo1View.urlPdfValidad}));
                    //dependiendo el tipo tramite:
                    /*
                     * @type String
                     * tipoTramite devuelve una bandera la cual es utilizada para reemplazar el titulo del encabezado
                     * y permitir la funcionalidad entre los tipo de MIA ya sea REGIONAL o PARTICULAR en sus distintas modalidades
                     * 
                     */
                    var tipoTramite = "#{principalView.tipoTramite}";
                    var sector = "#{principalView.info}";//sector del proyecto
                    // Estudio de Riesgo se oculta desde el principio ya que solo el capitulo de sustancias peligrosas es el que lo disparara
                    // $("#ER").hide();
                    //Campo Justificación dependiendo de la siguiente funcion y de la variable tipoTramite se mostrara Nota: SOLO SE MOSTRARA PARA EL TRAMITE MIA REGIONAL
                    $("#justificacion").hide();
                    //funcion que permite la funcion de cambiar los titulo y aparecer las pantallas necesarias para la MIA REGIONAL y se le cambia el titulo a unas paginas                    
                    $(document).load(titulo(tipoTramite));
                    //en dado caso que la variable devuelva MG o DL tiene que ocultar estas pantallas ya que son unicas de la MIA PARTICULAR
                    if (tipoTramite == "MG" || tipoTramite == "DL") {
                        $("#infoBio").hide();
                        $("#descIndustrial").hide();
                        $("#posAccAmb").hide();
                        $("#otrosIns").show();
                        document.getElementById('otrosIns_titulo').innerHTML = "Otros insumos";
                        document.getElementById('delSistAmb_titulo').innerHTML = "Sistema ambiental regional (SAR)";
                        document.getElementById('caractSistAmb_titulo').innerHTML = "Caracter&iacute;sticas y an&aacute;lisis del SAR";
                    } else {
                        $("#otrosIns").hide();
                    }


                    function actMenu() {
                        sector = $('#nsub_proy').val();
                        $("#descIndustrial").hide();
                        $("#infoBio").hide();
                        //$("#otrosIns").hide();
                        $("#explo").hide();
                        $("#posAccAmb").hide();
                        //$("#invcom").hide();

                        //Estudio de riesgo
                        var estRies = '#{principalView.proy.estudioRiesgoId}';
                        if (estRies == '1') {
                            $("#ER").show();
                        }

                        switch (sector) {
                            case "6":
                                $("#descIndustrial").show();
                                break;
                            /*
                            case "7":

                                $("#invcom").show();
                                $("#invotr").hide();
                                break;
                            */
                            case "4":
                                $("#infoBio").show();
                                break;
                            case "3":
                                $("#posAccAmb").show();
                                break;
                        }

                        if (sector == 6 || sector == 7)
                        {
                            $("#otrosIns").show();
                        }

                        if (sector == 1 || sector == 3 || sector == 5 || sector == 7 || sector == 8 || sector == 9 || sector == 10 || sector == 11 || sector == 12)
                        {
                            $("#explo").show();
                        }
                        /*1    1    Agropecuario            A    1
                         2    1    Forestal            F    1
                         3    1    Minero                    M    1
                         4    1    Pesquero            P    1
                         5    1    Hidraulico            H    1
                         6    2    Industrial            I    1
                         7    3    Comunicaciones            V    1
                         8    3    Desarrollo urbano    U    1
                         9    3    Energia-Electricidad    E    1
                         10    3    Energia-Gaseras    G    1
                         11    3    Energia-Petroleo    X    1
                         12    3    Turismo                 T    1
                         */
                    }

                    //si la variable tipoTramite devuelve MP o DM entra a la funcion de mostrar las pantallas por el sector al que pertence el tramite 
                    if (tipoTramite == "MP" || tipoTramite == "DM") {
                        actMenu(sector);
                    }

                    $("#ER").hide();
                    function verER() {
                        $("#ER").show();
                    }

                    function verER2() {
                        $("#ER").hide();
                    }
                    
                    
                    function msgPrincipal(msg, tipo) {
                    	$('#msgPrincipal').html('<div class="alert alert-'+ tipo +' alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>'+msg+'</div>')
                    	$("#msgPrincipal").fadeTo(10000, 500).slideUp(500, function(){
                    	    $("#msgPrincipal").alert('close');
                    	});	
                    }
                    
                    
                </script>
                <c:if test="#{principalView.esTRid eq '1'}">
                    <script>//verER();</script>
                </c:if>                
                <p:remoteCommand name="actualizaBarra" update="progreso, porcentajes"/>
                <p:remoteCommand name="refrescaPantalla" update="@form" action="#{principalView.refresh}"/>
                <p:remoteCommand name="actualizaProyInfo" action="#{principalView.actProyInfo}" onsuccess="$('#nsub_proy').val('#{principalView.proy.nsub}');actMenu();"/>
                <script>//
                    actualizaProyInfo();
                    cTitulo('Cap&iacute;tulo 1', 'Datos Generales del Proyecto'); 
                    cambiaIframe('capitulo1/1/DatosGralProy.xhtml');
                </script>
                </div>
            </h:form>
        </f:view>
       </c:if>
       <c:if test="#{principalView.reia}">
       			         <ui:include src="/capitulo1/1/RevisionObrasActividades.xhtml" />
       </c:if> 
        
            
    </h:body>
</html>