<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<h:head>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
        <link href="assets/images/favicon.ico" rel="shortcut icon" />
<!-- 		<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
         <link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" type="text/css" /> 
        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		

        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
</h:head>


	<!-- ==================== VENTANA MODAL PARA AGREGAR UN ARCHIVO ==================== -->
		<p:dialog header="Agregar archivo" draggable="false" widgetVar="modalSubirArchivo" modal="true" closable="false" 
				  onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">
			<h:form id="formArchivosDisposicion">
				<p:outputPanel id="pnlArchivo">
					<p:outputLabel value="Nombre" />
					<p:outputLabel value="" for="txtNombreArchivo" />
					<p:outputLabel value=":" />
					<br />
					
					<p:inputText id="txtNombreArchivo" value="#{archivosAnexosBean.archivoTemporal.nombre}" style="width:100%;" required="true"
						requiredMessage="Este campo es obligatorio" maxlength="50"/>
					<p:message id="msgNombreArchivo" for="txtNombreArchivo" display="true"/>
					<br />
					
					<p:outputLabel value="Descripción" />
					<p:outputLabel value="" for="txtDescripcionArchivo" />
					<p:outputLabel value=":" />
					<br />					
					
					<p:inputTextarea id="txtDescripcionArchivo" class="form-control" value="#{archivosAnexosBean.archivoTemporal.descripcion}" cols="50"
						rows="3" maxlength="200" counter="descountArch" counterTemplate="Quedan {0} caracteres." required="true"
						requiredMessage="Este campo es obligatorio" autoResize="false"/>
					<h:outputText id="descountArch" />
					<p:message id="msgDescripcionArchivo" for="txtDescripcionArchivo" display="true"/>
					<br />
					<p:outputLabel id="lblReservadoArchivo" value="Reservado:" />
					<p:selectBooleanCheckbox value="#{archivosAnexosBean.cargaBean.reservado}"/>
					<br />
										
					<p:outputLabel value="Cargar archivo"/>
					<p:outputLabel value="" for="fileAnexos" />
					<p:outputLabel value=":" />
					<br />

					<h:panelGrid columns="2" style="width: 100%">
	                    <p:fileUpload mode="advanced" id="fileAnexos" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
	                    	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
		                    fileUploadListener="#{archivosAnexosBean.cargaBean.handleFileUpload}"	                                  
		                    sizeLimit="10485760" 
		                    label="Seleccionar archivo"                                 
		                    invalidSizeMessage="El tamaño del archivo es demasiado grande"
		                    invalidFileMessage="Tipo de archivo invalido"
		                    allowTypes="/(\.|\/)(pdf|doc|docx|jpg|jpeg|gif|png|xls|xlsx|dwg)$/" update="lblCargaArchivoAnexo"
		                    required="true" requiredMessage="No seleccionó el archivo." 
		                    auto="true" style="width: 100%"/>	
		            		                
			                <c:if test="#{empty archivosAnexosBean.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>		    
			                
			                <c:if test="#{not empty archivosAnexosBean.cargaBean.file.fileName}">
								<p:outputLabel id="lblCargaArchivoAnexo" value="#{archivosAnexosBean.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
			                </c:if>            
					</h:panelGrid>

<!--             		<p:messages id="msgArchivos" showSummary="true"/>	
				 -->


<p:outputLabel id="msjValida" value="#{archivosAnexosBean.msj}" style="color:#B40431" />
					<p:message id="msgFileAnexos" for="fileAnexos" display="true"/>
					<br />

					<div id="divExtensiones" class="alert alert-info">
						<p:outputLabel value="Extensiones permitidas: (pdf/doc/docx/jpg/jpeg/gif/png/xls/xlsx/dwg)"/>
						<br/>
											
						<p:outputLabel value="El tamaño límite es de 10MB"/>					
					</div>
					<br/>
						
					<p:commandButton id="btnGuardarModalArchivo" class="btn btn-primary botonEliminar" style="float: right;" value="Guardar" oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  						$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
						update=":foDatosGen:tablaArchivo, :formArchivosDisposicion:txtNombreArchivo :formArchivosDisposicion:msgNombreArchivo, :formArchivosDisposicion:pnlArchivo,
								:formArchivosDisposicion:txtDescripcionArchivo, :formArchivosDisposicion:msgDescripcionArchivo" action="#{archivosAnexosBean.guardarArchivo}" validateClient="true">
						<f:param name="capitulo" value="#{capitulo}"/>
						<f:param name="subcapitulo" value="#{subcapitulo}"/>
						<f:param name="seccion" value="#{seccion}"/>
						<f:param name="apartado" value="#{apartado}"/>			
					</p:commandButton>
					
					<p:commandButton id="btnCerrarModalArchivo" class="btn btn-default botonEliminar" style="float: right;" value="Cerrar" onclick="modalSubirArchivo.hide();" type="button"/>
				</p:outputPanel>
			</h:form>
		</p:dialog>
		
		<!-- VENTANA MODAL PARA LA EDICIÓN DEL ARCHIVO -->
		
		<p:dialog draggable="false" widgetVar="modalEditarArchivo" showEffect="fade" hideEffect="fade" modal="true" closable="false">
			<f:facet name="header">
				<h:form id="formEditarHeaderArchivoAnexo">
					<p:outputPanel id="opEditarHeaderArchivoAnexo">
						<h4 class="modal-title">Editar archivo # #{archivosAnexosBean.indexRow}</h4>
					</p:outputPanel>				
				</h:form>
			</f:facet>

			<h:form id="fEditarArchivo">				
				<p:outputPanel id="pnlEditarArchivo">
					<p:outputLabel value="Descripción"/>
					<p:outputLabel id="lblDescrip" value="" for="descripcionArchivoE"/>
					<p:outputLabel value=":"/>
					
						<p:inputTextarea id="descripcionArchivoE" class="form-control" value="#{archivosAnexosBean.archivoEdicion.descripcion}" cols="50"
							rows="3" maxlength="200" counter="conta" counterTemplate="Quedan {0} caracteres." required="true"
							requiredMessage="Este campo es obligatorio" autoResize="false" />
						<h:outputText id="conta" />
						<p:message id="mismensajesArch1" for="descripcionArchivoE" display="true"/>
	
						<p:commandButton id="guardarEArchivo" value="Guardar" class="btn btn-primary btn-sm botonEliminar" update=":fEditarArchivo:mismensajesArch1, :foDatosGen:tablaArchivo, :fEditarArchivo:lblDescrip,
						:fEditarArchivo:pnlEditarArchivo"
										 action="#{archivosAnexosBean.editarArchivo}" style="float: right;" />
							
						<p:commandButton id="cerrarModalEArchivo" type="button" value="Cerrar" class="btn btn-default btn-sm botonEliminar" onclick="modalEditarArchivo.hide()"
										 style="float: right; margin-rigth: 20px;" />
				</p:outputPanel>
			</h:form>
		</p:dialog>		

		<p:dialog draggable="false" widgetVar="modalAlertArchivo" showEffect="fade" hideEffect="fade" modal="true" closable="false">
			<f:facet name="header">
				<h4 class="modal-title">Aviso</h4>	   	
			</f:facet>
			<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span>Archivo guardado exitosamente.</div>
		    <div class="modal-footer">
				<button class="btn btn-primary" type="button" style="float: right;" onclick="modalAlertArchivo.hide();">Aceptar</button>
		    </div>				
		</p:dialog>

		<p:dialog draggable="false" widgetVar="modalAlertEdArchivo" showEffect="fade" hideEffect="fade" modal="true" closable="false">
			<f:facet name="header">
				<h4 class="modal-title">Aviso</h4>	   	
			</f:facet>
			<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span>Archivo actualizado exitosamente.</div>
		    <div class="modal-footer">
				<button class="btn btn-primary" style="float: right;" onclick="modalAlertEdArchivo.hide();">Aceptar</button>
		    </div>
		</p:dialog>
		
	<!-- ========== VENTANA MODAL PARA ELIMINAR ARCHIVOS SELECIONADOS ========== -->

		<p:dialog draggable="false" widgetVar="dlgEliminarArchivoAnexo" showEffect="fade" hideEffect="fade" modal="true" closable="false">
			<f:facet name="header">
				<h4 class="modal-title">Eliminar archivo</h4>	   	
			</f:facet>
			
			<h:form id="fEliminarArchivo">
				 <p:outputPanel id="pnlMensajeEliminarArchivo">     
	                  <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> ¿Realmente desea borrar el/los registro/s?</div>
	                   
	                  <h:panelGrid id="pnlArchivoAnexoEliminado" columns="2">	                    	
	                      <ui:repeat value="#{archivosAnexosBean.listaArchivosSeleccionados}" var="vararchivoproyecto">
	            		  	<h:outputText value="#{vararchivoproyecto.nombre}" style="display:block"/>
	           			  </ui:repeat>
	                  </h:panelGrid>
	                      
	                  <div class="modal-footer">
	                   	 <p:commandButton type="button" styleClass="btn btn-default botonEliminar" id="respuestaNo" value="No" onclick="dlgEliminarArchivoAnexo.hide()" />
	             	     <p:commandButton styleClass="btn btn-primary botonEliminar" id="respuestaSi" value="Si" update=":foDatosGen:tablaArchivo, :foDatosGen:btnEliminarArchivo" action="#{archivosAnexosBean.eliminarArchivos}"/>
	                  </div>
	             </p:outputPanel>
			</h:form>
		</p:dialog>

		<p:dialog draggable="false" widgetVar="modalAlertEArchivo" showEffect="fade" hideEffect="fade" modal="true" closable="false">
			<f:facet name="header">
				<h4 class="modal-title">Aviso</h4>	   	
			</f:facet>
			<div class="alert alert-success">Registros(s) eliminado(s) exitosamente.</div>
			<button class="btn btn-primary" type="button" style="float: right;" onclick="modalAlertEArchivo.hide();">Aceptar</button>
		</p:dialog>
		
</ui:composition>