<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title></title>
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="Last-Modified" content="0" />
	<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8" />
	<!-- 	<link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen" /> -->
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- Gráfica Base Local -->
	<link href="#{request.contextPath}/assets/styles/main.css"
		rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/ayudas.css"
		rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css"
		rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
</h:head>
<h:body
	onload="javascript:getInformacionAdicional('#{capitulo2View.strComentProy}','foDatosGen',2,8,0,'Posibles accidentes ambientales')">
	<div class="col-md-12" id="mensaje"></div>
	<h:form id="foDatosGen">
		<div class="semarnat_ayuda" id='case_pnl_ayuda'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>
		<h:inputHidden id="ubicActual" value="#{capitulo2View.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional"
			value="#{capitulo2View.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />

		<div id="carParProy">
			<div id="titulo"></div>
			<hr class="red"></hr>
			<button id='case_btn_ayuda' type="button" class="btn btn-default"
				data-toggle="tooltip" data-placement="bottom">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				<span class="glyphicon-class">Ayuda</span>
			</button>
			<hr></hr>
			<p:commandLink
				class="btn btn-default btn-xs glyphicon glyphicon-plus alinDerecha ui-button-textx"
				value="Agregar" onclick="Agregar:modalAgregar.show()"
				update=":Agregar:pnlAgregar"
				action="#{capitulo2View.crearAccidente}">
				<p:ajax process="@this" />
				<p:resetInput target=":Agregar:pnlAgregar" />
			</p:commandLink>
			<p:commandLink id="btnEliminar"
				class="btn btn-default btn-xs glyphicon glyphicon-remove-circle alinDerecha ui-button-textx botonEliminar"
				value="Eliminar" onclick="modalEliminar.show()"
				update=":Eliminar:pnlEliminar"
				disabled="#{capitulo2View.selectedAccidentes.size() == 0}">
				<p:ajax process="@this" />
			</p:commandLink>
			<br /> <br /> <br />
			<!--  -->
			<div id="componenteConsulta" style="display: none">
				<h:dataTable value="#{capitulo2View.accidenteList}" var="a"
					id="tabSusC">
					<h:column>
						<f:facet name="header">Tipo de accidente</f:facet>
						<p:inputTextarea readonly="true" maxlength="500"
							value="#{a.tipoAccidente}" />
					</h:column>
					<h:column>
						<f:facet name="header">Efectos secundarios, medidas de seguridad y plan de contingencia</f:facet>
						<table width="100%" style="text-align: justify;">
							<tr>
								<td><h:outputText value="#{a.efectosSecundarios}"
										escape="false" /></td>
							</tr>
						</table>
					</h:column>
				</h:dataTable>
			</div>
			<div id="componenteActualiza"
				style="display: none; float: right; margin-right: 20px">
				<br />
				<p:commandButton value="Modificar sección (opcional)"
					class="btn btn-primary"
					onclick="actualizaComponentesModifica('foDatosGen');" />
			</div>
			<!--  -->
			<div id="componenteCaptura" style="display: none;">
				<h:panelGroup id='panelCaptura'>
					<p:dataTable value="#{capitulo2View.accidenteList}" var="a"
						rowIndexVar="rowIndexPosAcc" paginator="true"
						paginatorPosition="bottom" id="tablaDatos"
						selection="#{capitulo2View.selectedAccidentes}"
						rowKey="#{a.accidentesProyectoPK.accidenteId}"
						emptyMessage="Sin registros.">
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminar" />
						<p:ajax event="rowUnselectCheckbox"
							update=":foDatosGen:btnEliminar" />
						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminar" />
						<p:column id="check" selectionMode="multiple"
							style="width:50px; text-align:center">
							<!--<f:ajax execute="eliminarR" render="eliminarB" event="change" />-->
						</p:column>
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
							<h:outputText value="#{rowIndexPosAcc+1}" />
						</p:column>
						<p:column style="white-space: normal">
							<f:facet name="header">Tipo de accidente</f:facet>
							<h:outputText value="#{a.tipoAccidente}" />
						</p:column>
						<p:column style="white-space: normal">
							<f:facet name="header">Efectos secundarios, medidas de seguridad y plan de contingencia</f:facet>
							<h:outputText value="#{a.efectosSecundariosCorta}" />
							<!--	<p:inputTextarea id="control" value="#{a.efectosSecundarios}" cols="50" rows="4" maxlength="200" readonly="true"/> -->
						</p:column>
						<p:column style="white-space: normal; width:80px">
							<f:facet name="header" />
							<p:commandButton
								class="btn btn-default btn-xs glyphicon glyphicon-pencil"
								value="" action="#{capitulo2View.consultarAccidente}"
								update=":Editar:pnlEditar, :Editar:pnlEditarHeader"
								oncomplete="Editar:modalEditar.show()">
								<p:ajax process="@this" />
								<f:param name="rowIndexPosAcc" value="#{rowIndexPosAcc+1}" />
								<f:param name="id" value="#{a.accidentesProyectoPK.accidenteId}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</h:panelGroup>

			</div>
		</div>

		<div id="componenteGuarda"
			style="display: none; float: right; clear: right;">
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{capitulo2View.guardarProyecto}"
				onsuccess="parent.actualizaBarra();" />
		</div>
	</h:form>
	<!-- Modal Para Agregar Accidentes -->
	<h:form id="Agregar">
		<p:dialog widgetVar="modalAgregar" id="modalAgregar" modal="true">
			<f:facet name="header">
				<h:form id="formHeader">
					<h4 class="modal-title">Posible accidente ambiental - agregar
						registro</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlAgregar">
				<p:outputLabel value="Tipo de accidente" />
				<p:outputLabel value="" for="tAccidente" />
				<p:outputLabel value=":" />				
				<br />
				<p:inputTextarea id="tAccidente" class="form-control"
					value="#{capitulo2View.accidente.tipoAccidente}" cols="50" rows="3"
					maxlength="100" counter="contador1"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false" />
				<h:outputText id="contador1" />
				<br />
				<p:message for="tAccidente" />
				<br />
				<p:outputLabel
					value="Efectos secundarios, medidas de seguridad y plan de contingencia" />
				<p:outputLabel value="" for="eSecundarios" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="eSecundarios" class="form-control"
					value="#{capitulo2View.accidente.efectosSecundarios}" cols="50"
					rows="3" maxlength="3000" counter="contador2"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false" />
				<h:outputText id="contador2" />
				<br />
				<p:message for="eSecundarios" />

				<div class="modal-footer">
					<p:commandButton id="cerrarModalA" styleClass="btn btn-default"
						value="Cerrar" onclick="modalAgregar.hide()" update="pnlAgregar"
						immediate="true" />

					<p:commandButton id="guardar" styleClass="btn btn-primary"
						value="Guardar" update=":foDatosGen:tablaDatos, pnlAgregar"
						action="#{capitulo2View.agregarAccidente}" />

				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>
	
	<!-- Modal para Editar Accidentes -->
	<h:form id="Editar">
		<p:dialog widgetVar="modalEditar" id="modalEditar" modal="true">
			<f:facet name="header">
				<p:outputPanel id="pnlEditarHeader">
					<h4 class="modal-title">Editar posible accidente ambiental #
						#{capitulo2View.rowIndexPosAccAmbEditar}</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditar">
				<p:outputLabel value="Tipo de accidente" />
				<p:outputLabel value="" for="tEAccidente" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="tEAccidente" class="form-control"
					value="#{capitulo2View.editAccidente.tipoAccidente}" cols="50"
					rows="3" maxlength="100" counter="contador1"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador1" />
				<br />
				<p:message for="tEAccidente" />
				<br />
				<p:outputLabel
					value="Efectos secundarios, medidas de seguridad y plan de contingencia" />
				<p:outputLabel value="" for="eSecundarios" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="eSecundarios" class="form-control"
					value="#{capitulo2View.editAccidente.efectosSecundarios}" cols="50"
					rows="3" maxlength="3000" counter="contador2"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false" />
				<h:outputText id="contador2" />
				<br />
				<p:message for="eSecundarios" />

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-default" id="cerrarModalE"
						value="Cerrar" onclick="modalEditar.hide()" update="pnlEditar"
						immediate="true" />

					<p:commandButton styleClass="btn btn-primary" id="guardar"
						value="Guardar" update=":foDatosGen:tablaDatos, pnlEditar"
						action="#{capitulo2View.editarAccidente}" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>
	
	<!-- Modal para Eliminar Accidentes -->
	<h:form id="Eliminar">
		<p:dialog widgetVar="modalEliminar" id="modalEliminar" modal="true">
			<f:facet name="header">
				<h:form id="formEliminarHeader">
					<h4 class="modal-title">Eliminar posible accidente ambiental</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlEliminar">

				<div class="alert alert-warning">
					<SPAN class="glyphicon glyphicon-warning-sign"></SPAN> ¿Realmente
					desea borrar el(los) registro(s)?
				</div>
				<ui:repeat value="#{capitulo2View.selectedAccidentes}"
					var="accidentes">
					<h:outputText value="#{accidentes.tipoAccidente}"
						style="display:block" />
				</ui:repeat>
				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-default" id="respuestaNo"
						value="No" onclick="modalEliminar.hide()" />
					<p:commandButton styleClass="btn btn-primary" id="respuestaSi"
						value="Si" action="#{capitulo2View.eliminarAccidente}"
						update=":foDatosGen:tablaDatos" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<h:form id="Mensaje">
		<p:dialog widgetVar="modalMensaje" id="modalMensaje" modal="true">
			<f:facet name="header">
				<h:form id="formMensajeHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensaje">

				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro guardado
					exitosamente.
				</div>

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary" id="cerrarModalM"
						value="Aceptar" onclick="modalMensaje.hide()" update="pnlMensaje"
						immediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>
	<h:form id="MensajeEditar">
		<p:dialog widgetVar="modalMensajeEditar" id="modalMensajeEditar"
			modal="true">
			<f:facet name="header">
				<h:form id="formMensajeHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensaje">

				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro Actualizado
					exitosamente.
				</div>

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary" id="cerrarModalM"
						value="Aceptar" onclick="modalMensajeEditar.hide()"
						update="pnlMensaje" immediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>
	<h:form id="MensajeEliminar">
		<p:dialog widgetVar="modalMensajeEliminar" id="modalMensajeEliminar"
			modal="true">
			<f:facet name="header">
				<h:form id="formMensajeEliminarHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensajeEliminar">

				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro eliminado
					exitosamente.
				</div>

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary" id="cerrarModalME"
						value="Aceptar" onclick="modalMensajeEliminar.hide()"
						update="pnlMensajeEliminar" immediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo2View.claveTramite}",
			nsub : "#{capitulo2View.proyecto.nsub}",
			capitulo : 2,
			subcapitulo : 2,
			seccion : 8,
			apartado : -1
		}, case_ayuda);
	</script>
</h:body>
</html>
