<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        
	        <link href="assets/images/favicon.ico" rel="shortcut icon" />
	        			
			<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" />	       
	        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
	        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		
	
		<!-- Script de Gráfica Base Local - -->
        	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	        <script src="#{request.contextPath}/assets/js/funciones.js"></script>	        
	        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
    </h:head>
    <h:body >
	<div class="col-md-12">
	    <div class="row" id="mensaje"></div>
		<div class="row" id="case_pnl_ayuda_cnt"></div>
    
        <h:form id="foDatosGen">
      			<div id="titulo"><h3>Características particulares del proyecto<a style="color:#000;" ><span id='case_btn_ayuda' class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3></div>
				<hr class="red"></hr>
<!--             <c:set value="2.7" target="#{capitulo2_2View}" property="seccion" /> -->
<!--             <h:inputHidden id="ubicActual" value="#{capitulo2View.ubicActual}" /> -->
<!--             <p:remoteCommand name="remoteUbicActual" process="ubicActual"/> -->
            
<!--             <h:inputHidden id="strInfoAdicional" value="#{capitulo2View.strInfoAdicional}" /> -->
<!--             <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/> -->
            
<!--             <div class="semarnat_ayuda" id='case_pnl_ayuda'> -->
<!--                 <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"> -->
<!--                 </div> -->
<!--             </div> -->
			
            <div id="carParProy">
                <h:panelGroup id='pCaraProy'> 
                    
<!--                     <button id='case_btn_ayuda' type="button" class="btn btn-default" -->
<!-- 						data-toggle="tooltip" data-placement="bottom"> -->
<!-- 						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> -->
<!-- 						<span class="glyphicon-class">Ayuda</span> -->
<!-- 					</button> -->
<!-- 					<hr></hr> -->
<!--                     <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>    -->

				<p:commandLink value="Agregar"
					styleClass="btn btn-default btn-xs glyphicon glyphicon-plus ui-button-textx"
					oncomplete="dlgEditarObra.show()"
					action="#{capitulo2_2View.abrirGuardarObra()}"
					update=":formEditarObra:opEditar, :formEditarObra:opAgregar, :formHeader:pnlEditarObraHeader"
					style="float: right" immediate="true">
					<p:resetInput target=":formEditarObra:opAgregar" />
				</p:commandLink>

				<p:commandLink id="btnEliminarCaracPartProy" value="Eliminar"
					styleClass="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar"
					action="#{capitulo2_2View.abrirEliminarObra}" style="float: right"
					update=":formEliminarObra:pnlCaractEliminadas"
					disabled="#{capitulo2_2View.listaCaractTOSeleccionado.size() == 0}" />
					<br/><br/><br/>

				<div id="componenteConsulta" >
	                        <p:dataTable id="grdObras" tableStyleClass="table table-bordered" selection="#{capitulo2_2View.listaCaractTOSeleccionado}"  
	                        			 rowKey="#{c.id}" value="#{capitulo2_2View.listaCaractTO}" var="c" rowIndexVar="rowIndexCPP"
	                        			 rows="10" paginator="true" paginatorPosition="bottom"
	                        			 emptyMessage="Sin registros.">                         

								<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarCaracPartProy" />						
	                       	    <p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarCaracPartProy"/>
                        		<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarCaracPartProy"/>     
	                            <p:column selectionMode="multiple" style="width:5%;text-align:center" disabledSelection="#{c.estatusSigProm == '0'}"/>
	                            
	                            <p:column style="white-space: normal; width: 50px; text-align: center; display:none">
	                                <f:facet name="header">#</f:facet>
	                                #{c.id}                                
	                            </p:column>
	                            
	                            <p:column style="white-space: normal; width: 50px; text-align: center;">
	                                <f:facet name="header">#</f:facet>
	                                <!-- #{c.caracteristicaID} -->
	                                #{rowIndexCPP+1}
	                            </p:column>
	                            
	                            <p:column style="white-space: normal">
	                                <f:facet name="header">Nombre de obra</f:facet>
	                                #{c.nombreObra}                                
	                            </p:column>
	                            
	                            <p:column style="white-space: normal">
	                                <f:facet name="header">Superficie</f:facet>
	                                <p:outputLabel value="#{c.superficie}"/>
	                                 #{c.unidad.descripcion}
	                            </p:column>	                            
	                            
	                            <p:column style="white-space: normal">
	                                <f:facet name="header">Obra / actividad</f:facet>
	                                #{c.obraActividad}                       
	                            </p:column>
	                            
	                            <p:column style="white-space: normal">
	                                <f:facet name="header">Naturaleza</f:facet>
	                                #{c.naturaleza.descripcion}                            
	                            </p:column>
	                            
	                            <p:column style="white-space: normal">
	                                <f:facet name="header">Temporalidad</f:facet>
	                                #{c.temporalidad.descripcion}
	                            </p:column>                            
	                            
	                            <p:column style="white-space: normal">
	                                <f:facet name="header">Descripción</f:facet>
	                                 #{c.descripcionCorta}
	                            </p:column>
	                            
	                            <p:column style="white-space: normal; width:80px">
	                                <f:facet name="header"></f:facet>                                
									<p:commandButton id="btnEditarObra" value="" class="btn btn-default btn-xs glyphicon glyphicon-pencil"  
										update=":formEditarObra:opEditar, :formEditarObra:opAgregar, :formHeader:pnlEditarObraHeader"
										action="#{capitulo2_2View.abrirEditarObra(c.id, rowIndexCPP+1)}" immediate="true"
										oncomplete="dlgEditarObra.show()" />
	                            </p:column>                            
	                        </p:dataTable>
                    </div>
                     					 
                </h:panelGroup>  
            </div>

<!--             <div id="componenteGuarda" style="float: right; clear: right; margin-right: 20px"> -->
<!--                 <p:commandButton value="Guardar" class="btn btn-primary" action="#{capitulo2_2View.guardar}"/> -->
<!--             </div> -->

            <p:commandButton value="Guardar" class="btn btn-primary" style="float: right" action="#{capitulo2_2View.guardar}" onsuccess="parent.actualizaBarra();"/>
        </h:form>




			<!-- =============================== DIALOG PARA EDITAR O AGREGAR NUEVA OBRA ========================================= -->

			<p:dialog widgetVar="dlgEditarObra" modal="true" showEffect="fade" hideEffect="fade" height="500px"  closable="false" resizable="false">
			    <f:facet name="header">
			    	<h:form id="formHeader">
			    		<p:outputPanel id="pnlEditarObraHeader">
				    		<h:panelGroup id="lblTitleEditar" rendered="#{capitulo2_2View.mostrarEdicion}">
								<h4 align="center" class="modal-title">Editar obra/actividad # #{capitulo2_2View.rowIndexCPPEditar}</h4>		    			    		
				    		</h:panelGroup>
			    		
				    		<h:panelGroup id="lblTitleGuardar" rendered="#{capitulo2_2View.mostrarEdicion == false}">
								<h4 align="center" class="modal-title">Obras/actividades - agregar</h4>		    			    		
				    		</h:panelGroup>	
			    		</p:outputPanel>		    		
			    	</h:form>
				</f:facet>
    	    	
    	    	<h:form id="formEditarObra">
    	    		
    	    		<p:outputPanel id="opEditar">
				<h:panelGrid id="pnlEditar" style="width: 100%"
					rendered="#{capitulo2_2View.mostrarEdicion}">
					<p:outputLabel id="lblNombreObra" value="Nombre de obra:" />
					<p:outputLabel value="#{capitulo2_2View.caracPartProy.nombreObra}" />
		    	   			
					<p:outputLabel id="lblSuperficie" value="Superficie: " />
					<p:outputLabel
						value="#{capitulo2_2View.caracPartProy.superficie} #{capitulo2_2View.caracPartProyTO.unidad.descripcion}" />
		    	   			
					<p:row>
						<p:column>
							<p:outputLabel value="Obra/actividad" />
							<p:outputLabel id="lblObraActividad" value=""
								for="cboObraActividad" />
							<p:outputLabel value=":" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:selectOneMenu id="cboObraActividad" styleClass="form-control"
								value="#{capitulo2_2View.caracPartProy.obraActividad}"
								required="true" style="width: 100%;"
								requiredMessage="Este campo es obligatorio">
								<f:selectItem itemValue="" itemLabel="Seleccione" />
								<f:selectItem itemValue="Actividad" itemLabel="Actividad" />
								<f:selectItem itemValue="Obra" itemLabel="Obra" />
								<f:selectItem itemValue="Otra" itemLabel="Otra" />
							</h:selectOneMenu>
							<p:message id="msgObraActividad" for="cboObraActividad"
								display="true" />
						</p:column>
					</p:row>
		    	   			
					<p:row>
						<p:column>
							<p:outputLabel value="Naturaleza" />
							<p:outputLabel id="lblNaturaleza" value="" for="cboNaturaleza" />
							<p:outputLabel value=":" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:selectOneMenu id="cboNaturaleza" styleClass="form-control"
								value="#{capitulo2_2View.caracPartProy.naturalezaId.naturalezaId}"
								required="true" style="width: 100%;"
								requiredMessage="Este campo es obligatorio">
								<f:selectItems var="varnaturaleza"
									value="#{capitulo2_2View.catNat}"
									itemValue="#{varnaturaleza.naturalezaId}"
									itemLabel="#{varnaturaleza.naturalezaDescripcion}" />
							</h:selectOneMenu>
							<p:message id="msgNaturaleza" for="cboNaturaleza" display="true" />
						</p:column>
					</p:row>
		    	   			
					<p:row>
						<p:column>
							<p:outputLabel value="Temporalidad" />
							<p:outputLabel id="lblTemporalidad" value="" for="cboTemporalidad"/>
							<p:outputLabel value=":" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:selectOneMenu id="cboTemporalidad" styleClass="form-control"
								value="#{capitulo2_2View.caracPartProy.temporalidadId.temporalidadId}"
								required="true" style="width: 100%;"
								requiredMessage="Este campo es obligatorio">
								<f:selectItems var="vartemporalidad"
									value="#{capitulo2_2View.catTemp}"
									itemValue="#{vartemporalidad.temporalidadId}"
									itemLabel="#{vartemporalidad.temporalidadDescripcion}" />
							</h:selectOneMenu>
							<p:message id="msgTemporalidad" for="cboTemporalidad"
								display="true" />
						</p:column>
					</p:row>
			    	   			
					<p:row>
						<p:column>
							<p:outputLabel value="Descripción" />
							<p:outputLabel id="lblDescripcion" value="" for="txtDescripcionEditada"/>
							<p:outputLabel value=":" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
					<p:inputTextarea id="txtDescripcionEditada"
						value="#{capitulo2_2View.caracPartProy.descripcion}"
								counter="contadorCaracteres" cols="50" rows="3"
								autoResize="false" maxlength="1000"
								counterTemplate="Quedan {0} caracteres." required="true"
								requiredMessage="Este campo es obligatorio" />
								<br />
							<p:outputLabel id="contadorCaracteres" />
							<p:message id="msgDescripcionEditada" for="txtDescripcionEditada"
								display="true" />
						</p:column>
					</p:row>
		  	        	</h:panelGrid> 		  
		    	   				  	        	
				<h:panelGroup id="pnlBotonesActualizar" columns="2"
					rendered="#{capitulo2_2View.mostrarEdicion}">
					<p:commandButton id="btnEditarObra" styleClass="btn btn-primary"
						value="Guardar" style="float: right"
						update="cboObraActividad, lblObraActividad, msgObraActividad, 
								cboNaturaleza, lblNaturaleza, msgNaturaleza, cboTemporalidad, 
								lblTemporalidad, msgTemporalidad, msgDescripcionEditada, 
								txtDescripcionEditada, lblDescripcion, :foDatosGen:grdObras "
						action="#{capitulo2_2View.guardarObra}" />
					  	    				 
					<p:commandButton id="btnCerrarObra" type="button"
						styleClass="btn btn-default botonEliminar" style="float: right"
						value="Cerrar" onclick="dlgEditarObra.hide()" />
						</h:panelGroup>		  	        	 	        	   	    		
    	    		</p:outputPanel>     
    	    		
    	    		<p:outputPanel id="opAgregar">
				<h:panelGrid id="pnlAgregar" style="width: 100%"
					rendered="#{capitulo2_2View.mostrarEdicion == false}">
					<p:row>
						<p:column>
							<p:outputLabel value="Nombre de obra" />
							<p:outputLabel id="lblNombreObraNuevo" value=""
								for="txtNombreObraNuevo" />
							<p:outputLabel value=":" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:inputText id="txtNombreObraNuevo" maxlength="100" style="width: 100%"
								value="#{capitulo2_2View.caracPartProy.nombreObra}"
								required="true" requiredMessage="Este campo es obligatorio" />
							<p:message id="msgNombreObraNuevo" for="txtNombreObraNuevo"
								display="true" />
						</p:column>
					</p:row>
							
					<p:row>
						<p:column>
							<p:outputLabel value="Superficie" />
							<p:outputLabel id="lblSuperficieNueva" value=""
								for="txtNombreSuperficieNuevo" />
							<p:outputLabel value=":" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<p:inputText id="txtNombreSuperficieNuevo" maxlength="9"
								value="#{capitulo2_2View.caracPartProy.superficie}" style="width: 100%"
								required="true" requiredMessage="Este campo es obligatorio">
								<pe:keyFilter regEx="/[\d\-\.]/" />
							</p:inputText>			
							<p:message id="msgSuperficieNueva" for="txtNombreSuperficieNuevo"
								display="true" />
						</p:column>
					</p:row>
							
					<p:row>
						<p:column>
							<p:outputLabel value="Unidad" />
							<p:outputLabel id="lblUnidadNueva" value="" for="cboUnidadNueva" />
							<p:outputLabel value=":" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:selectOneMenu id="cboUnidadNueva" style="width: 100%;" styleClass="form-control"
								value="#{capitulo2_2View.caracPartProy.ctunClve}"
								required="true" requiredMessage="Este campo es obligatorio">
								<f:selectItem itemValue="" itemLabel="Seleccione" />
								<f:selectItems var="varcatunidad"
									value="#{capitulo2_2View.catMedida}"
									itemValue="#{varcatunidad.ctunClve}"
									itemLabel="#{varcatunidad.ctunAbre}" />
							</h:selectOneMenu>
							<p:message id="msgUnidadNueva" for="cboUnidadNueva"
								display="true" />
						</p:column>
					</p:row>

					<p:row>
						<p:column>
							<p:outputLabel value="Obra/actividad" />
							<p:outputLabel id="lblActividadNueva" value=""
								for="cboActividadNueva" />
							<p:outputLabel value=":" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:selectOneMenu id="cboActividadNueva" style="width: 100%;" styleClass="form-control"
								value="#{capitulo2_2View.caracPartProy.obraActividad}"
								required="true" requiredMessage="Este campo es obligatorio">
								<f:selectItem itemValue="" itemLabel="Seleccione" />
								<f:selectItem itemValue="Actividad" itemLabel="Actividad" />
								<f:selectItem itemValue="Obra" itemLabel="Obra" />
								<f:selectItem itemValue="Otra" itemLabel="Otra" />
							</h:selectOneMenu>
							<p:message id="msgObraActividadNueva" for="cboActividadNueva"
								display="true" />
						</p:column>
					</p:row>
							
					<p:row>
						<p:column>
							<p:outputLabel value="Naturaleza" />
							<p:outputLabel id="lblNaturalezaNueva" value=""
								for="cboNaturalezaNueva" />
							<p:outputLabel value=":" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:selectOneMenu id="cboNaturalezaNueva" style="width: 100%;" styleClass="form-control"
								value="#{capitulo2_2View.caracPartProy.naturalezaId.naturalezaId}"
								required="true" requiredMessage="Este campo es obligatorio">
								<f:selectItem itemValue="" itemLabel="Seleccione" />
								<f:selectItems var="varnaturaleza"
									value="#{capitulo2_2View.catNat}"
									itemValue="#{varnaturaleza.naturalezaId}"
									itemLabel="#{varnaturaleza.naturalezaDescripcion}" />
							</h:selectOneMenu>
							<p:message id="msgNaturalezaNueva" for="cboNaturalezaNueva"
								display="true" />
						</p:column>
					</p:row>
		    	   			
					<p:row>
						<p:column>
							<p:outputLabel value="Temporalidad" />
							<p:outputLabel id="lblTemporalidadNueva" value=""
								for="cboTemporalidadNueva" />
							<p:outputLabel value=":" />
						</p:column>
					</p:row>
					<p:row>
						<p:column>
							<h:selectOneMenu id="cboTemporalidadNueva" style="width: 100%;" styleClass="form-control"
								value="#{capitulo2_2View.caracPartProy.temporalidadId.temporalidadId}"
								required="true" requiredMessage="Este campo es obligatorio">
								<f:selectItem itemValue="" itemLabel="Seleccione" />
								<f:selectItems var="vartemporalidad"
									value="#{capitulo2_2View.catTemp}"
									itemValue="#{vartemporalidad.temporalidadId}"
									itemLabel="#{vartemporalidad.temporalidadDescripcion}" />
							</h:selectOneMenu>
							<p:message id="msgTemporalidadNueva" for="cboTemporalidadNueva"
								display="true" />
						</p:column>
					</p:row>
								
					<p:row>
						<p:column>
							<p:outputLabel value="Descripción" />
							<p:outputLabel id="lblDescripcionNueva" value=""
								for="txtDescripcionNueva" />
							<p:outputLabel value=":" />
						</p:column>
					</p:row>
					<p:row>
						<p:inputTextarea id="txtDescripcionNueva"
							value="#{capitulo2_2View.caracPartProy.descripcion}"
							counter="contadorCaracteresNueva" cols="50" rows="3"
							autoResize="false" maxlength="1000"
							counterTemplate="Quedan {0} caracteres." required="true"
							requiredMessage="Este campo es obligatorio" />
						<br />
						<p:outputLabel id="contadorCaracteresNueva" />
						<p:message id="msgDescripcionNueva" for="txtDescripcionNueva"
							display="true" />
					</p:row>
  	    				</h:panelGrid>
  	    				
				<h:panelGroup id="pnlBotonesAgregar" columns="2"
					rendered="#{capitulo2_2View.mostrarEdicion == false}">
					<p:commandButton id="btnEditarObraNueva"
						styleClass="btn btn-primary" value="Guardar" style="float: right"
						update="cboNaturalezaNueva, lblNaturalezaNueva, msgNaturalezaNueva, msgObraActividadNueva, cboActividadNueva, lblActividadNueva, cboTemporalidadNueva, lblTemporalidadNueva, 
					  			msgTemporalidadNueva, cboUnidadNueva, lblUnidadNueva, msgUnidadNueva, txtNombreSuperficieNuevo, lblSuperficieNueva, msgSuperficieNueva,
					  	       	txtNombreObraNuevo, lblNombreObraNuevo, msgNombreObraNuevo, msgDescripcionNueva, txtDescripcionNueva, lblDescripcionNueva, :foDatosGen:grdObras"
						action="#{capitulo2_2View.guardarObra}" />
					  	       							
					<p:commandButton id="btnCerrarObraNueva" type="button"
						styleClass="btn btn-default botonEliminar" style="float: right"
						value="Cerrar" onclick="dlgEditarObra.hide()" />
		    	   		</h:panelGroup>  	    				
					</p:outputPanel>					
    	    	</h:form> 
            </p:dialog>         
            
			<!-- ============================== DIALOG PARA ELIMINAR UNA O VARIAS OBRAS ================================== -->
			
			<p:dialog widgetVar="dlgEliminarObra" modal="true" showEffect="fade" hideEffect="fade" closable="false" resizable="false">
                 <f:facet name="header">
				   	<h:form id="formEliminarHeader">
						<h4 class="modal-title">Eliminar obra/actividad</h4>	   	
				   	</h:form>
			     </f:facet>
				
				<h:form id="formEliminarObra">
					 <p:outputPanel id="pnlMensaje">     
	                      <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> ¿Realmente desea borrar esta Obra/Actividad?</div>
	                      
	                      <h:panelGrid id="pnlCaractEliminadas" columns="2">
	                      	
                            <ui:repeat value="#{capitulo2_2View.caractSeleccionados}" var="varcaracpartproyTO">
               					<h:outputText value="#{varcaracpartproyTO.nombreObra}" style="display:block"/>
           					</ui:repeat>
           					
	                      </h:panelGrid>
	                      
	                      <div class="modal-footer">
	                      	<p:commandButton styleClass="btn btn-default" id="respuestaNo" value="No" onclick="dlgEliminarObra.hide()" />
	                        <p:commandButton styleClass="btn btn-primary" id="respuestaSi" value="Si" update=":foDatosGen:grdObras" action="#{capitulo2_2View.eliminarObra()}"/>
	                      </div>
	                 </p:outputPanel>
                 </h:form> 
            </p:dialog>
            
            
            <!-- DIALOG QUE MUESTRA EL GUARDADO O ACTUALIZACION EXITOSO  -->
            
			<p:dialog widgetVar="dlgEdicionExitosa" modal="true" showEffect="fade" hideEffect="fade" closable="false" resizable="false">
                 <f:facet name="header">
				   	<h:form id="formEdicionHeader">
						<h4 class="modal-title">Aviso</h4>	   	
				   	</h:form>
			     </f:facet>
				
				 <h:form id="formMensajeActualizar">
					 <p:outputPanel id="pnlMensajeActualizar">     
		             	<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Registro guardado exitosamente.</div>
		                	<div class="modal-footer">
		                	<p:commandButton styleClass="btn btn-primary" id="aceptarEdicion" value="Aceptar" update=":foDatosGen:grdObras" onclick="dlgEdicionExitosa.hide()"/>
		                </div>
		             </p:outputPanel>				 
				 </h:form>
            </p:dialog>
            
            <!-- DIALOG QUE MUESTRA LA ACTUALIZACION EXITOSA  -->
            
			<p:dialog widgetVar="dlgEdicionCaracExitosa" modal="true" showEffect="fade" hideEffect="fade" closable="false" resizable="false">
                 <f:facet name="header">
				   	<h:form id="formEdicionExitosaHeader">
						<h4 class="modal-title">Aviso</h4>	   	
				   	</h:form>
			     </f:facet>
				
				 <h:form id="formMensajeActualizado">
					 <p:outputPanel id="pnlMensajeActualizarCarac">     
		             	<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Registro actualizado exitosamente.</div>
		                	<div class="modal-footer">
		                	<p:commandButton styleClass="btn btn-primary" id="aceptarEdicionCarac" value="Aceptar" update=":foDatosGen:grdObras" onclick="dlgEdicionCaracExitosa.hide()"/>
		                </div>
		             </p:outputPanel>				 
				 </h:form>
            </p:dialog>              
  
  
            <!-- DIALOG QUE MUESTRA EL ELIMINADO EXITOSO  -->
  
            
            <p:dialog widgetVar="dlgEliminacionExitosa" modal="true" showEffect="fade" hideEffect="fade" closable="false" resizable="false">
                 <f:facet name="header">
				   	<h:form id="formEliminarOkHeader">
						<h4 class="modal-title">Aviso</h4>	   	
				   	</h:form>
			     </f:facet>
				
				<h:form id="formMensajeEliminar">
					 <p:outputPanel id="pnlMensajeEliminar">     
		             	<div class="alert alert-success"><span class="glyphicon glyphicon-remove"></span> Registro eliminado exitosamente.</div>
		                	<div class="modal-footer">
		                	<p:commandButton styleClass="btn btn-primary" id="aceptarEliminar" value="Aceptar" onclick="pnlMensajeEliminar.hide()"/>
		                </div>
		             </p:outputPanel> 
	            </h:form>         
            </p:dialog>
            
            <!-- DIALOG QUE MUESTRA LA VALIDACION PARA SELECCIONAR UNA LEY ANTES DE ELIMINAR -->  
  
  			<p:dialog widgetVar="dlgSeleccionCarac" modal="true" showEffect="fade" hideEffect="fade" closable="false" resizable="false">
                  <f:facet name="header">
					<h4 class="modal-title">Alerta</h4>
			     </f:facet> 			
			     
			     Debes Seleccionar un registro.
			     
			     <h:form id="formSeleccionSegistro">
				     <p:commandButton type="button" styleClass="btn btn-default" style="float: right;" value="Cerrar" onclick="dlgSeleccionCarac.hide()"/>		     
			     </h:form>
  			</p:dialog>            

        <script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo3View.claveTramite}", nsub:"#{capitulo3View.proyecto.nsub}", capitulo: 2, subcapitulo: 2, seccion: 1, apartado: -1 }, case_ayuda);           
        </script>
        
<!--         <ui:include src="/loading.xhtml"/> -->
        </div>
    </h:body>
</html>
