<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link href="assets/images/favicon.ico" rel="shortcut icon" />

		<!-- Gráfica Base Local -->

		<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
		<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
		<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />

		<!-- Script de Gráfica Base Local -->

		<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
		<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
		<script src="#{request.contextPath}/assets/js/funciones.js"></script>
		<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
</h:head>
<h:body>

	<ui:include src="/loading.xhtml"/>

	<div class="col-md-12" id="mensaje"></div>
	<h:form id="formInfoBio">
		<div id="pesq">
			<p:panel id="tableTO" widgetVar="tableTO" style="border: none;">
				<div class="semarnat_ayuda" id='case_pnl_ayuda'>
					<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
				</div>

				<h3>Información biotecnológica de las especies a cultivar</h3>
				<hr class="red"></hr>				
					<button id='case_btn_ayuda' type="button" class="btn btn-default"
					data-toggle="tooltip" data-placement="bottom">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button><hr></hr>
				
				<br/>
				
				<div class="row">
						
						<p:commandLink
							styleClass="btn btn-default btn-xs glyphicon glyphicon-plus alinDerecha ui-button-textx"
							action="descPesqueros_add?faces-redirect=true" value="Agregar"
							actionListener="#{cap2_infoBio.changeValueAdd}">
							<f:param name="EDIT" value="-1" />
						</p:commandLink>

						<p:commandLink id="btnEliminar" disabled="#{cap2_infoBio.listaInfoBioSeleccionadas.size() == 0}"
							styleClass="btn btn-default btn-xs glyphicon glyphicon-remove alinDerecha ui-button-textx botonEliminar"
							actionListener="#{cap2_infoBio.previoDelete}" oncomplete="myDialogDelete.show()" value="Eliminar"
							update="finalizar"/>						
							
				</div>

				<br/>	

				<p:dataTable id="listaReiaProyObras" var="to" value="#{cap2_infoBio.listaInfoBio}" style="width: 100%"
							 styleClass="table table-striped" selection="#{cap2_infoBio.listaInfoBioSeleccionadas}" rowKey="#{to.infoBioId}" 
							 rowIndexVar="rowIndexReiaObras" rows="10" paginator="true" paginatorPosition="bottom"
	                         emptyMessage="Sin registros.">

<!-- 					<p:column> -->
<!-- 						<f:facet name="header"> -->
<!-- 							<h:selectBooleanCheckbox id="selectAllEntities" -->
<!-- 								value="#{cap2_infoBio.selectAllRow}" immediate="true" -->
<!-- 								valueChangeListener="#{cap2_infoBio.selectAllRowListener}"> -->
<!-- 								<f:ajax event="click" render="@form" /> -->
<!-- 							</h:selectBooleanCheckbox> -->
<!-- 						</f:facet> -->
						
<!-- 						<h:selectBooleanCheckbox value="#{cap2_infoBio.rowSelected[to]}" -->
<!-- 							immediate="true" -->
<!-- 							valueChangeListener="#{cap2_infoBio.selectRowListener}" -->
<!-- 							id="chck_#{to.infoBioId}"> -->
<!-- 							<f:ajax event="click" render="@form" /> -->
<!-- 						</h:selectBooleanCheckbox> -->
<!-- 					</p:column> -->
					
	      			<p:ajax event="toggleSelect" update=":formInfoBio:btnEliminar" />						
	                <p:ajax event="rowSelectCheckbox" update=":formInfoBio:btnEliminar"/>
                    <p:ajax event="rowUnselectCheckbox" update=":formInfoBio:btnEliminar"/>                   				                         
		            <p:column selectionMode="multiple" style="width: 4%; text-align:center"/>						

					<p:column style="white-space: normal; width: 4%; text-align:center">
						<f:facet name="header">#</f:facet>
						<p:outputLabel style="display: none;" value="#{to.rowObra}++"/>
<!-- 			                #{to.infoBioId} -->
						#{rowIndexReiaObras+1}
			        </p:column>
					
					<p:column style="white-space: normal">
						<f:facet name="header">Nombre</f:facet>
			                #{to.bioNombreCorto}
			        </p:column>
					
					<p:column style="white-space: normal">
						<f:facet name="header">Origen</f:facet>
			            #{to.bioOrigenCorto}
			        </p:column>
					
					<p:column style="white-space: normal">
						<f:facet name="header">No. de organismos a cultivar</f:facet>
			                #{to.bioNumorgCultivarCorto}
			        </p:column>
					
					<p:column style="white-space: normal">
						<f:facet name="header">Descripción de sus atributos y/o amenazas potenciales</f:facet>
			                #{to.bioDescAtributosAmeCorto} 
			        </p:column>
					
					<p:column style="white-space: normal; width: 6%; text-align:center">
						<f:facet name="header"></f:facet>

                        <p:commandButton value="" styleClass="btn btn-default btn-xs glyphicon glyphicon-pencil" 
                        				 actionListener="#{cap2_infoBio.editarInfoBio}" action="descPesqueros_add?faces-redirect=true">
							<f:param name="EDIT" value="#{to.infoBioId}" />                        				 
                        </p:commandButton>


<!-- 						<h:commandLink -->
<!-- 							styleClass="btn btn-default btn-xs glyphicon glyphicon-pencil" -->
<!-- 							action="descPesqueros_add"> -->
<!-- 							<f:param name="EDIT" value="#{to.infoBioId}" /> -->
<!-- 						</h:commandLink> -->
					</p:column>

				</p:dataTable>

				<!--              PAGINACION               -->
<!-- 				<ul class="pagination"> -->
<!-- 					<li><h:commandLink -->
<!-- 							rendered="#{cap2_infoBio.pagination.hasPreviousPage}">&laquo; -->
<!-- 	          			<p:ajax immediate="true" -->
<!-- 								listener="#{cap2_infoBio.previous}" update="@(.tableTO)" /> -->
<!-- 						</h:commandLink></li> -->

<!-- 					<c:forEach items="#{cap2_infoBio.listaPaginas}" var="pag"> -->
<!-- 						<li><h:commandLink immediate="true">#{pag.intValue() + 1} -->
<!-- 	          			<p:ajax immediate="true" -->
<!-- 									listener="#{cap2_infoBio.inPage(pag)}" update="@(.tableTO)" /> -->
<!-- 							</h:commandLink></li> -->
<!-- 					</c:forEach> -->


<!-- 					<li><h:commandLink -->
<!-- 							rendered="#{cap2_infoBio.pagination.hasNextPage}">&raquo; -->
<!-- 	          			<p:ajax immediate="true" listener="#{cap2_infoBio.next}" -->
<!-- 								update="@(.tableTO)" /> -->
<!-- 						</h:commandLink></li> -->
<!-- 				</ul> -->
<!-- 				<h:outputText -->
<!-- 					value="Mostrando Registros del #{cap2_infoBio.pagination.pageFirstItem + 1} al  #{cap2_infoBio.pagination.pageLastItem + 1} de los #{cap2_infoBio.pagination.itemsCount} encontrados" -->
<!-- 					rendered="#{cap2_infoBio.dtmdl.rowCount > 0}" />&nbsp;     -->
<!-- 			    <h:outputText value="Sin registros." -->
<!-- 					rendered="#{cap2_infoBio.dtmdl.rowCount == 0}" />&nbsp; -->

			</p:panel>
		</div>


		<!-- ========================================== VENTANA PARA ELIMINAR UNA OBRA DE BIOTECNOLOGIA ========================================================== -->

		<p:dialog draggable="false" widgetVar="myDialogDelete" id="myDialogDelete" modal="true" closable="false" header="Eliminar registro(s)" width="50%">
			<p:panel id="finalizar" style="border:none;">

                  <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> ¿Realmente desea borrar el/los registro/s?</div>
						
                  <ui:repeat value="#{cap2_infoBio.listaInfoBioSeleccionadas}" var="to">
          				<h:outputText value="#{to.bioNombre}" style="display:block"/>
          				<br/>
   				  </ui:repeat>						
           				
				  <div class="modal-footer">
						<p:commandButton value="Sí" styleClass="btn btn-primary alinDerecha" update=":formInfoBio:listaReiaProyObras: :formInfoBio:btnEliminar"
							actionListener="#{cap2_infoBio.delete}" oncomplete="myDialogDelete.hide(); dlgAvisoBorrado.show();" />

						<p:commandButton value="No" styleClass="btn btn-default alinDerecha botonEliminar"
							actionListener="#{cap2_infoBio.initMessage}"
							onclick="myDialogDelete.hide()" />
				  </div>
			</p:panel>
		</p:dialog>
		
		<p:dialog header="Aviso" widgetVar="dlgAvisoBorrado" modal="true"
			 showEffect="fade" hideEffect="fade">
			<div class="alert alert-success"><span class="glyphicon glyphicon-remove"></span> Registro(s) eliminado(s) exitosamente.</div>
				
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="dlgAvisoBorrado.hide();">Aceptar</button>
		</p:dialog>
		
	</h:form>
	
	<h:form>
		<div id="componenteGuarda"
			style="float: right;">
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{cap2_infoBio.guardarAvanceBiotecnologico}" onsuccess="parent.actualizaBarra();" />
		</div>
	</h:form>

</h:body>
</html>
