<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link href="assets/images/favicon.ico" rel="shortcut icon" />

		<!-- Gráfica Base Local -->

		<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
		<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
		<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />

		<!-- Script de Gráfica Base Local -->

		<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
		<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
		<script src="#{request.contextPath}/assets/js/funciones.js"></script>
		<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
</h:head>
<h:body>

	<ui:include src="/loading.xhtml"/>

	<h:outputLabel value="#{cap2_infoBio.loadModal}" />
	<h:form id="descPesqueros">

		<h:message for="descPesqueros" style="color:red;" />
		<h4>Agregar</h4>
		<hr class="red" />
		<h:panelGroup styleClass="pnlAddObra" id="pnlAddObra">

			<div class="row">
				<div class="col-md-1 " />
				
				<div class="control-label col-md-4">
					<p:outputLabel value="Nombre"/>
					<p:outputLabel id="lblNombreAgregar" for="inputNombre" value="" />
					<p:outputLabel value=":"/>				
				</div>
				
				
				<div class="col-md-5 ">
					<p:inputTextarea id="inputNombre" styleClass="form-control" required="true" 
								 requiredMessage="Este campo es obligatorio" value="#{cap2_infoBio.infobioProyectoAdd.bioNombre}" 
								 maxlength="200" cols="50" rows="3"
								 counter="descountNombre" counterTemplate="Quedan {0} caracteres." autoResize="false"/>

					<h:outputText id="descountNombre" />

					<p:message for="inputNombre"/>				

				</div>

			</div>

			<br/>

			<div class="row ">
				<div class="col-md-1 " />
				
				<div class="control-label col-md-4">
					<p:outputLabel value="Tipo de Especie"/>
					<p:outputLabel id="lblTipoEspecie" for="selectTipoEsp" value="" />
					<p:outputLabel value=":"/>				
				</div>			

				<div class="col-md-5 ">
					<h:selectOneMenu id="selectTipoEsp" required="true" requiredMessage="Este campo es obligatorio"
						value="#{cap2_infoBio.especiesAcuiferosSelected}" styleClass="form-control"
						converter="#{especiesAcuiferosConverter}" style="width: 100%">
						<f:selectItem itemValue="" itemLabel="Selecciona una Especie" />
						<f:selectItems value="#{cap2_infoBio.listaEspeciesAcuiferos}"
							var="especies" itemLabel="#{especies.descripcion}"
							itemValue="#{especies}" />
					</h:selectOneMenu>

					<p:message for="selectTipoEsp"/>

				</div>

			</div>

			<br/>

			<div class="row">
				<div class="col-md-1 " />
				
				<div class="control-label col-md-4">
					<p:outputLabel value="Origen"/>
					<p:outputLabel id="lblOrigen" for="inputOrigen" value="" />
					<p:outputLabel value=":"/>				
				</div>
				
				<div class="col-md-5 ">
					<p:inputTextarea id="inputOrigen" value="#{cap2_infoBio.infobioProyectoAdd.bioOrigen}" required="true" requiredMessage="Este campo es obligatorio" 
									 styleClass="form-control" maxlength="500" cols="50" rows="3"
									 counter="descount" counterTemplate="Quedan {0} caracteres." autoResize="false"/>
						
					<h:outputText id="descount" />
				
					<p:message for="inputOrigen"/>				
				
				</div>
			</div>
			
			<br/>
			
			<div class="row">
				<div class="col-md-1 " />

				<div class="control-label col-md-4">
					<p:outputLabel value="Número de Organismos a Cultivar"/>
					<p:outputLabel id="lblNumOrganismos" for="inputNumOC" value="" />
					<p:outputLabel value=":"/>				
				</div>
												
				<div class="col-md-5 ">
					<p:inputTextarea id="inputNumOC" value="#{cap2_infoBio.infobioProyectoAdd.bioNumorgCultivar}" required="true" 
									 requiredMessage="Este campo es obligatorio" styleClass="form-control" style="width: 100%" maxlength="500" cols="50" rows="3"
									 counter="descountOrgCult" counterTemplate="Quedan {0} caracteres." autoResize="false"/>

					<h:outputText id="descountOrgCult" />

					<p:message for="inputNumOC" styleClass="alert-danger" />

				</div>
			</div>

			<br/>

			<div class="row">
				<div class="col-md-1 " />

				<div class="control-label col-md-4">
					<p:outputLabel value="Descripción de sus atributos y/o amenazas potenciales" style="width: 70%"/>
					<p:outputLabel id="lblDescripAtributos" for="descAtributos" value="" />
					<p:outputLabel value=":"/>				
				</div>
												
				<div class="col-md-5 ">
					<p:inputTextarea id="descAtributos" required="true" value="#{cap2_infoBio.infobioProyectoAdd.bioDescAtributosAme}"
									 styleClass="form-control" requiredMessage="Este campo es obligatorio" maxlength="2000" cols="50" rows="3"
									 counter="descountAtributos" counterTemplate="Quedan {0} caracteres." autoResize="false"/>
						
					<h:outputText id="descountAtributos" />

					<p:message for="descAtributos"/>

				</div>

			</div>
			
			<br/>

			<div class="row">
				<div class="col-md-1 " />
				
				<div class="control-label col-md-4">
					<p:outputLabel value="La Especie es Forrajera"/>
					<p:outputLabel value=":"/>				
				</div>				

				<div class="col-md-6 ">
					<h:panelGroup styleClass="panelRespuestaForrajera" id="panelRespuestaForrajera">
						<h:commandButton styleClass="#{!cap2_infoBio.infobioProyectoAdd.bioEspForrajeraBoolean ?'btn btn-primary btn-sm  ':'btn btn-default btn-sm  '}"
										 value="No">
							
							<p:ajax event="click" listener="#{cap2_infoBio.changeValueInfoBioForrajeroNo}" update="@(.panelRespuestaForrajera)" immediate="true" />
						</h:commandButton>
					
						<p:spacer width="5px" />
							
						<h:commandButton styleClass="#{cap2_infoBio.infobioProyectoAdd.bioEspForrajeraBoolean?'btn btn-primary btn-sm  ':'btn btn-default btn-sm  '}"
										 value="SI">
										 
							<p:ajax event="click" listener="#{cap2_infoBio.changeValueInfoBioForrajeroSi}" update="@(.panelRespuestaForrajera)" immediate="true" />
						</h:commandButton>
					</h:panelGroup>
				</div>
				<div class="col-md-1 " />
			</div>
			
			<br/>
			<br/>
			
			<h:panelGroup>
				<h4>Estadío de su Ciclo de Vida</h4>
				<hr class="red" />

				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Crías:"/>
					</div>					

					<div class="col-md-6 ">
						<h:panelGroup styleClass="panelRespuestaCrias"
							id="panelRespuestaCrias">
								<h:commandButton
									styleClass="#{!cap2_infoBio.infobioProyectoAdd.bioCriasBoolean ?'btn btn-primary btn-sm ':'btn btn-default btn-sm  '}"
									value="No">
									<p:ajax event="click"
										listener="#{cap2_infoBio.changeValueInfoBioCriasNo}"
										update="@(.panelRespuestaCrias)" immediate="true" />
								</h:commandButton>
								
								<p:spacer width="5px" />
								
								<h:commandButton
									styleClass="#{cap2_infoBio.infobioProyectoAdd.bioCriasBoolean?'btn btn-primary btn-sm ':'btn btn-default btn-sm  '}"
									value="SI">
									<p:ajax event="click"
										listener="#{cap2_infoBio.changeValueInfoBioCriasSi}"
										update="@(.panelRespuestaCrias)" immediate="true" />
								</h:commandButton>
						</h:panelGroup>
					</div>
					<div class="col-md-1 " />
				</div>
				
				<br/>
				
				<!-- SEMILLAS  -->
				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Semillas:"/>
					</div>					

					<div class="col-md-6 ">
						<h:panelGroup styleClass="panelRespuestaSemillas"
							id="panelRespuestaSemillas">
								<h:commandButton
									styleClass="#{!cap2_infoBio.infobioProyectoAdd.bioSemillasBoolean ?'btn btn-primary btn-sm ':'btn btn-default btn-sm  '}"
									value="No">
									<p:ajax event="click"
										listener="#{cap2_infoBio.changeValueInfoBioSemillasNo}"
										update="@(.panelRespuestaSemillas)" immediate="true" />
								</h:commandButton>
								
								<p:spacer width="5px" />
								
								<h:commandButton
									styleClass="#{cap2_infoBio.infobioProyectoAdd.bioSemillasBoolean?'btn btn-primary btn-sm ':'btn btn-default btn-sm  '}"
									value="SI">
									<p:ajax event="click"
										listener="#{cap2_infoBio.changeValueInfoBioSemillasSi}"
										update="@(.panelRespuestaSemillas)" immediate="true" />
								</h:commandButton>
						</h:panelGroup>
					</div>
					<div class="col-md-1 " />
				</div>
				
				<br/>
				
				<!-- Postlarvas  -->
				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Postlarvas:"/>
					</div>					
					
					<div class="col-md-6 ">
						<h:panelGroup styleClass="panelRespuestaPostlarvas"
							id="panelRespuestaPostlarvas">
								<h:commandButton
									styleClass="#{!cap2_infoBio.infobioProyectoAdd.bioPostlarvasBoolean ?'btn btn-primary btn-sm ':'btn btn-default btn-sm  '}"
									value="No">
									<p:ajax event="click"
										listener="#{cap2_infoBio.changeValueInfoBioPostlarvasNo}"
										update="@(.panelRespuestaPostlarvas)" immediate="true" />
								</h:commandButton>
								
								<p:spacer width="5px" />
								
								<h:commandButton
									styleClass="#{cap2_infoBio.infobioProyectoAdd.bioPostlarvasBoolean ?'btn btn-primary btn-sm ':'btn btn-default btn-sm  '}"
									value="SI">
									<p:ajax event="click"
										listener="#{cap2_infoBio.changeValueInfoBioPostlarvasSi}"
										update="@(.panelRespuestaPostlarvas)" immediate="true" />
								</h:commandButton>
						</h:panelGroup>
					</div>
					<div class="col-md-1 " />
				</div>
				
				<br/>
				
				<!-- Juveniles -->

				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Juveniles:"/>
					</div>					

					<div class="col-md-6 ">
						<h:panelGroup styleClass="panelRespuestaJuveniles"
							id="panelRespuestaJuveniles">
								<h:commandButton
									styleClass="#{!cap2_infoBio.infobioProyectoAdd.bioJuvenilesBoolean ?'btn btn-primary btn-sm ':'btn btn-default btn-sm  '}"
									value="No">
									<p:ajax event="click"
										listener="#{cap2_infoBio.changeValueInfoBioJuvenilesNo}"
										update="@(.panelRespuestaJuveniles)" immediate="true" />
								</h:commandButton>
								
								<p:spacer width="5px" />								
								
								<h:commandButton
									styleClass="#{cap2_infoBio.infobioProyectoAdd.bioJuvenilesBoolean ?'btn btn-primary btn-sm ':'btn btn-default btn-sm  '}"
									value="SI">
									<p:ajax event="click"
										listener="#{cap2_infoBio.changeValueInfoBioJuvenilesSi}"
										update="@(.panelRespuestaJuveniles)" immediate="true" />
								</h:commandButton>
						</h:panelGroup>
					</div>
					<div class="col-md-1 " />
				</div>

				<br/>

				<!-- Adultos Reproductivos  -->
				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Adultos Reproductivos:"/>
					</div>					

					<div class="col-md-6 ">
						<h:panelGroup styleClass="panelRespuestaAdultos"
							id="panelRespuestaAdultos">
								<h:commandButton 
									styleClass="#{!cap2_infoBio.infobioProyectoAdd.bioAdultReprodBoolean ?'btn btn-primary btn-sm ':'btn btn-default btn-sm  '}"
									value="No">
									<p:ajax event="click"
										listener="#{cap2_infoBio.changeValueInfoBioAdultReprodNo}"
										update="@(.panelRespuestaAdultos)" immediate="true" />
								</h:commandButton>
								
								<p:spacer width="5px" />
								
								<h:commandButton
									styleClass="#{cap2_infoBio.infobioProyectoAdd.bioAdultReprodBoolean ?'btn btn-primary btn-sm ':'btn btn-default btn-sm  '}"
									value="SI">
									<p:ajax event="click"
										listener="#{cap2_infoBio.changeValueInfoBioAdultReprodSi}"
										update="@(.panelRespuestaAdultos)" immediate="true" />
								</h:commandButton>
						</h:panelGroup>
					</div>
					
					<div class="col-md-1 " />
				</div>
			</h:panelGroup>

			<br/>
			<br/>
			
			<!-- Biomasa  -->
			<h:panelGroup>
				<h4>Biomasa</h4>
				<hr class="red" />
				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="No. de ciclos"/>
						<p:outputLabel id="lblNoCiclos" for="inputBioCiclos" value="" />
						<p:outputLabel value=":"/>				
					</div>					
					
					<div class="col-md-5 ">
						<p:inputText id="inputBioCiclos" styleClass="form-control" value="#{cap2_infoBio.infobioProyectoAdd.bioNumciclos}" 
									 required="true" requiredMessage="Este campo es obligatorio" style="width: 100%" maxlength="10">
									 <pe:keyFilter regEx="/^[0-9]+$/"/>
						</p:inputText>
						
						<p:message for="inputBioCiclos"/>

					</div>
				</div>

				<br/>

				<!-- inicial-->
				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Biomasa Inicial"/>
						<p:outputLabel id="lblBioInicial" for="inputBioInicial" value="" />
						<p:outputLabel value=":"/>				
					</div>					

					<div class="col-md-5 ">
						<p:inputText id="inputBioInicial" styleClass="form-control" value="#{cap2_infoBio.infobioProyectoAdd.bioBiomasaInic}"
							converterMessage="Númerico [10,2]" required="true" requiredMessage="Este campo es obligatorio" style="width: 100%" maxlength="10">
							<f:convertNumber type="number" maxFractionDigits="2" maxIntegerDigits="10" pattern="##0.00" />
							<pe:keyFilter regEx="/^[0-9\.]+$/"/>
						</p:inputText>
					
						<p:message for="inputBioInicial"/>
					
					</div>
				</div>

				<br/>

				<div class="row ">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Unidad Inicial"/>
						<p:outputLabel id="lblUnidadInicial" for="bioUniIni" value="" />
						<p:outputLabel value=":"/>				
					</div>					
					
					<div class="col-md-5 ">
						<h:selectOneMenu id="bioUniIni" required="true" requiredMessage="Este campo es obligatorio" value="#{cap2_infoBio.unidadIniciaSeleccionada}"
							styleClass="form-control" converter="#{catUniMedidaConverter}" style="width: 100%"> 
							<f:selectItem itemValue="" itemLabel="Selecciona una Unidad" />
							<f:selectItems value="#{cap2_infoBio.listaUnidadInicia}" var="unidad" itemLabel="#{unidad.ctunDesc}" itemValue="#{unidad}" />
						</h:selectOneMenu>
					
						<p:message for="bioUniIni"/>				
					
					</div>
				</div>

				<br/>

				<!--  esperada -->
				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Biomasa Esperada"/>
						<p:outputLabel id="lblBioEsperada" for="inputBioEsperada" value="" />
						<p:outputLabel value=":"/>				
					</div>					

					<div class="col-md-5 ">
						<p:inputText id="inputBioEsperada" styleClass="form-control" value="#{cap2_infoBio.infobioProyectoAdd.bioBiomasaEsperada}"
							converterMessage="Númerico [10,2]" required="true" requiredMessage="Este campo es obligatorio" style="width: 100%" maxlength="10">
							<f:convertNumber type="number" maxFractionDigits="2" maxIntegerDigits="10"  pattern="##0.00" />
							<pe:keyFilter regEx="/^[0-9\.]+$/"/>
						</p:inputText>
					
						<p:message for="inputBioEsperada" />					
					
					</div>
				</div>

				<br/>

				<div class="row ">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Unidad Esperada"/>
						<p:outputLabel id="lblUnidadEsperada" for="bioUniEsperada" value="" />
						<p:outputLabel value=":"/>				
					</div>					

					<div class="col-md-5 ">
						<h:selectOneMenu id="bioUniEsperada" required="true" requiredMessage="Este campo es obligatorio" value="#{cap2_infoBio.unidadEsperadaSeleccionada}"
							styleClass="form-control" converter="#{catUniMedidaConverter}">
							<f:selectItem itemValue="" itemLabel="Selecciona una Unidad" />
							<f:selectItems value="#{cap2_infoBio.listaUnidadEsperada}" var="unidad" itemLabel="#{unidad.ctunDesc}" itemValue="#{unidad}" />
						</h:selectOneMenu>
					
						<p:message for="bioUniEsperada"/>					
					
					</div>
				</div>

			</h:panelGroup>

			<br/>
			<br/>
			
			<!-- Alimento  -->
			<h:panelGroup>
				<h4>Alimento</h4>
				<hr class="red" />
				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Tipo de Alimento"/>
						<p:outputLabel id="lblTipoAlimento" for="inputAlimentoTipo" value="" />
						<p:outputLabel value=":"/>				
					</div>					

					<div class="col-md-5 ">
						<p:inputTextarea id="inputAlimentoTipo" styleClass="form-control" required="true" requiredMessage="Este campo es obligatorio"
										 value="#{cap2_infoBio.infobioProyectoAdd.bioTipoAlimento}" maxlength="500" style="width: 100%" cols="50" rows="3"
									 	 counter="descountAlimentoTipo" counterTemplate="Quedan {0} caracteres." autoResize="false"/>
													
						<h:outputText id="descountAlimentoTipo" />							
							
						<p:message for="inputAlimentoTipo"/>							
							
					</div>
				</div>
				
				<br/>
				
				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Cantidad de Alimento"/>
						<p:outputLabel id="lblCantidadAlimento" for="inputAlimentoCantidad" value="" />
						<p:outputLabel value=":"/>				
					</div>					
					
					<div class="col-md-5">
						<p:inputText id="inputAlimentoCantidad" styleClass="form-control" requiredMessage="Este campo es obligatorio" required="true"
							value="#{cap2_infoBio.infobioProyectoAdd.bioCantAlimento}" maxlength="10" style="width: 100%">
							<f:convertNumber type="number" maxFractionDigits="2" pattern="##0.00" />
							<pe:keyFilter regEx="/^[0-9\.]+$/"/>
						</p:inputText>
						
						<p:message for="inputAlimentoCantidad"/>										
					</div>
				</div>
				
				<br/>
				
				<div class="row ">
					<div class="col-md-1 " />

					<div class="control-label col-md-4">
						<p:outputLabel value="Unidad Alimento"/>
						<p:outputLabel id="lblUnidadAlimento" for="inputAlimentoUnidad" value="" />
						<p:outputLabel value=":"/>				
					</div>

					<div class="col-md-5 ">
						<h:selectOneMenu id="inputAlimentoUnidad" required="true" requiredMessage="Este campo es obligatorio"
							value="#{cap2_infoBio.unidadAlimentoSeleccionada}" styleClass="form-control" converter="#{catUniMedidaConverter}" style="width: 100%">
							<f:selectItem itemValue="" itemLabel="Selecciona una Unidad" />
							<f:selectItems value="#{cap2_infoBio.listaUnidadEsperada}" var="unidad" itemLabel="#{unidad.ctunDesc}" itemValue="#{unidad}" />
						</h:selectOneMenu>

						<p:message for="inputAlimentoUnidad"/>

					</div>

				</div>
				
				<br/>
				
				<div class="row">
					<div class="col-md-1 " />

					<div class="control-label col-md-4">
						<p:outputLabel value="Forma de Almacenamiento"/>
						<p:outputLabel id="lblFormaAlmacenamiento" for="inputAlimentoForma" value="" />
						<p:outputLabel value=":"/>				
					</div>

					<div class="col-md-5 ">
						<p:inputTextarea id="inputAlimentoForma" styleClass="form-control" requiredMessage="Este campo es obligatorio" required="true"
										 value="#{cap2_infoBio.infobioProyectoAdd.bioFormaAlmacen}" maxlength="200" cols="50" rows="3"
									 	 counter="descountAlimentoForma" counterTemplate="Quedan {0} caracteres." autoResize="false"/>
						
						<h:outputText id="descountAlimentoForma" />							
							
						<p:message for="inputAlimentoForma"/>							
							
					</div>
				</div>

			</h:panelGroup>

			<br/>
			<br/>

			<!-- ABONO  -->
			<h:panelGroup>
				<h4>Abono y/o fertilizante</h4>
				<hr class="red" />
				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Tipo de abono y/o fertilizante"/>
						<p:outputLabel id="lblAbonoTipo" for="inputAbonoTipo" value="" />
						<p:outputLabel value=":"/>				
					</div>					

					<div class="col-md-5 ">
						<p:inputText id="inputAbonoTipo" styleClass="form-control" requiredMessage="Este campo es obligatorio" required="true"
							value="#{cap2_infoBio.infobioProyectoAdd.bioTipabono}" maxlength="100" style="width: 100%"/>
					
						<p:message for="inputAbonoTipo"/>
					
					</div>
				</div>

				<br/>

				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Forma de Uso del Fertilizante"/>
						<p:outputLabel id="lblAbonoFormaUso" for="inputAbonoFormaUso" value="" />
						<p:outputLabel value=":"/>				
					</div>										
					
					<div class="col-md-5 ">
						<p:inputTextarea id="inputAbonoFormaUso" styleClass="form-control" requiredMessage="Este campo es obligatorio" required="true" maxlength="500"
										 value="#{cap2_infoBio.infobioProyectoAdd.bioUsoAbono}" cols="50" rows="3" style="width: 100%"
									 	 counter="descountFormaUso" counterTemplate="Quedan {0} caracteres." autoResize="false"/>
						
						<h:outputText id="descountFormaUso" />							

						<p:message for="inputAbonoFormaUso"/>
							
					</div>

				</div>

				<br/>

				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Cantidad de Suministro"/>
						<p:outputLabel id="lblCantidadSum" for="inputAbonoCantidad" value="" />
						<p:outputLabel value=":"/>				
					</div>					
					
					<div class="col-md-5 ">
						<p:inputText id="inputAbonoCantidad" styleClass="form-control" value="#{cap2_infoBio.infobioProyectoAdd.bioCantSuministro}"
							requiredMessage="Este campo es obligatorio" required="true" converterMessage="Númerico" style="width: 100%" maxlength="10">
							<f:convertNumber maxFractionDigits="2" type="number" pattern="##0.00" />
							<pe:keyFilter regEx="/^[0-9\.]+$/"/>
						</p:inputText>

						<p:message for="inputAbonoCantidad"/>

					</div>
				</div>

				<br/>

				<div class="row ">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Unidad de Suministro"/>
						<p:outputLabel id="lblAbonoUnidad" for="inputAbonoUnidad" value="" />
						<p:outputLabel value=":"/>				
					</div>					
					
					<div class="col-md-5 ">
						<h:selectOneMenu id="inputAbonoUnidad" required="true" requiredMessage="Este campo es obligatorio" value="#{cap2_infoBio.unidadAbonoSeleccionada}"
							styleClass="form-control" converter="#{catUniMedidaConverter}" style="width: 100%">
							<f:selectItem itemValue="" itemLabel="Selecciona una Unidad" />
							<f:selectItems value="#{cap2_infoBio.listaUnidadEsperada}" var="unidad" itemLabel="#{unidad.ctunDesc}" itemValue="#{unidad}" />
						</h:selectOneMenu>

						<p:message for="inputAbonoUnidad"/>

					</div>
				</div>
				
				<br/>

				<div class="row">
					<div class="col-md-1 " />
					
					<div class="control-label col-md-4">
						<p:outputLabel value="Forma de Almacenamiento"/>
						<p:outputLabel id="lblAbonoForma" for="inputAbonoForma" value="" />
						<p:outputLabel value=":"/>				
					</div>					

					<div class="col-md-5 ">
						<p:inputTextarea id="inputAbonoForma" styleClass="form-control" requiredMessage="Este campo es obligatorio" required="true"
										 value="#{cap2_infoBio.infobioProyectoAdd.bioFormAlmacAbono}" maxlength="500" cols="50" rows="3"
									 	 counter="descountAbonoForma" counterTemplate="Quedan {0} caracteres." autoResize="false"/>
						
						<h:outputText id="descountAbonoForma" />								
							
						<p:message for="inputAbonoForma"/>

					</div>
				</div>
			</h:panelGroup>

		</h:panelGroup>
		
		<br /><br />
		
		<p:commandButton value="Guardar" styleClass="btn btn-primary alinDerecha" actionListener="#{cap2_infoBio.guardar}" update="pnlAddObra myDialogOk" 
						 process="@form" ajax="true"	/>
		
		<p:commandButton styleClass="btn btn-default alinDerecha botonEliminar" action="descPesqueros?faces-redirect=true" value="Cancelar" immediate="true"/>		


		<p:dialog widgetVar="myDialogOk" modal="true"  id="myDialogOk"  visible="#{cap2_infoBio.showDialog}" header="Aviso" >
			<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span>
				<p:outputLabel value=" Registro guardado exitosamente." rendered="#{cap2_infoBio.add}" />
				<p:outputLabel value=" Registro actualizado exitosamente." rendered="#{!cap2_infoBio.add}" />
			</div>					
			
			<p:commandButton value="Aceptar" styleClass="btn btn-primary alinDerecha" onclick="myDialogOk.hide();" action="descPesqueros?faces-redirect=true" />			
		</p:dialog>
	</h:form>
</h:body>
</html>
