<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
    <f:metadata>
		<f:viewAction action="#{archivosAnexosBean.consultarDesgloseCapitulo(2,2,3,0)}" />
	</f:metadata>      
      
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
        <link href="assets/images/favicon.ico" rel="shortcut icon" />
		<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" />
<!--         <link rel="stylesheet" href="#{request.contextPath}/assets/css/main_offline.css"/> -->
        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		

        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
    </h:head>
    <h:body onload="javascript:getInformacionAdicional('#{capitulo2View.strComentProy}','foDatosGen',2,3,0,'Descripción de Obras Principales del Proyecto')">

		<c:set var="capitulo" value="2"/>
		<c:set var="subcapitulo" value="2"/>
		<c:set var="seccion" value="3"/>
		<c:set var="apartado" value="0"/>

		<ui:include src="/loading.xhtml"/>

        <h:form id="foDatosGen">
            
            <h:inputHidden id="ubicActual" value="#{capitulo2View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo2View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>
            
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>
            
            <div id="titulo"></div>
            
				<button id='case_btn_ayuda' type="button" class="btn btn-default"
						data-toggle="tooltip" data-placement="bottom">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<span class="glyphicon-class">Ayuda</span>
				</button>            
            
            
            <br/><br/>
            
            <div id="componenteConsulta" style="display:none">
               <div id="carParProy" >
                    <h:panelGroup> 
                        Tipo de Actividad Industrial.
                        <center>
                            <table width="60%" style="text-align: justify;"><tr><td>
                            <c:choose>
                                <c:when test="#{capitulo2View.proyecto.proyIndActivitipoind eq null or capitulo2View.proyecto.proyIndActivitipoind eq ''}">
                                    <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                                </c:when>
                                <c:otherwise>
                                    <h:outputText value="#{capitulo2View.proyecto.proyIndActivitipoind}" escape="false"/> 
                                </c:otherwise>
                            </c:choose>
                            </td></tr></table>
                        </center>

                        <br/><br/>
                        Procesos y Operaciones Unitarias.
                        <center>
                            <table width="60%" style="text-align: justify;"><tr><td>
                            <c:choose>
                                <c:when test="#{capitulo2View.proyecto.proyIndProcyoperaciones eq null or capitulo2View.proyecto.proyIndProcyoperaciones eq ''}">
                                    <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                                </c:when>
                                <c:otherwise>
                                    <h:outputText value="#{capitulo2View.proyecto.proyIndProcyoperaciones}" escape="false"/> 
                                </c:otherwise>
                            </c:choose>
                            </td></tr></table>
                        </center>

                        <br/><br/>
                        ¿Cuál es la Capacidad de Diseño de los Equipos que se Utilizarán?
                        <center>
                            <table width="60%" style="text-align: justify;"><tr><td>
                            <c:choose>
                                <c:when test="#{capitulo2View.proyecto.proyIndCapacidadDisenio eq null or capitulo2View.proyecto.proyIndCapacidadDisenio eq ''}">
                                    <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                                </c:when>
                                <c:otherwise>
                                    <h:outputText value="#{capitulo2View.proyecto.proyIndCapacidadDisenio}" escape="false"/> 
                                </c:otherwise>
                            </c:choose>
                            </td></tr></table>
                        </center>

                        <br/><br/>
                        Identificar y mencionar, en que parte del diagrama de procesos, los puntos y equipos donde se generan contaminantes al aire, agua y suelo, así como los de mayor riesgo indicando los equipos para prevenir o reducir contamintantes, asi como para el control y prevención de riesgos.
                        <center>
                            <table width="60%" style="text-align: justify;"><tr><td>
                            <c:choose>
                                <c:when test="#{capitulo2View.proyecto.proyIndDiagramaproc eq null}">
                                    <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                                </c:when>
                                <c:otherwise>
                                    <h:outputText value="#{capitulo2View.proyecto.proyIndDiagramaproc}" escape="false"/> 
                                </c:otherwise>
                            </c:choose>  
                            </td></tr></table>
                        </center>
                        <br/><br/>
                        Indicar si Contará con sistemas de reutilización de agua, en caso afirmativo describa el sistema que se utilizará
                        <center>
                            <table width="60%" style="text-align: justify;"><tr><td>
                            <c:choose>
                                <c:when test="#{capitulo2View.proyecto.proyIndProcSistemasagua eq null}">
                                    <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                                </c:when>
                                <c:otherwise>
                                    <h:outputText value="#{capitulo2View.proyecto.proyIndProcSistemasagua}" escape="false"/> 
                                </c:otherwise>
                            </c:choose>
                            </td></tr></table>
                        </center>
                        <br/><br/>
                        El proyecto incluye sistemas para la congeneración y recuperación de energias, describa el sistema.
                        <center>
                            <table width="60%" style="text-align: justify;"><tr><td>
                            <c:choose>
                                <c:when test="#{capitulo2View.proyecto.proyIndProcSistemasconge eq null}">
                                    <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                                </c:when>
                                <c:otherwise>
                                    <h:outputText value="#{capitulo2View.proyecto.proyIndProcSistemasconge}" escape="false"/> 
                                </c:otherwise>
                            </c:choose>
                            </td></tr></table>
                        </center>
                    </h:panelGroup>
                </div>
                <h:panelGroup> 
                    <br/>
                    <br/>
                    <center> <p>Diagrama de flujo de procesos</p></center>
                        <div class="form-group">
                            <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=2,2,3,0,#{capitulo2View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
                        </div>
                </h:panelGroup>                 
            </div>
            <div id="componenteActualiza" style="display:none; float: right; margin-right: 20px">
                <br/> 
                <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModifica('foDatosGen');"/>
             </div>

            <div id="componenteCaptura">
                <div id="carParProy" >
                    <h:panelGroup> 
                        Tipo de Actividad Industrial.
                        <center>
                            <pe:ckEditor width="700" value="#{capitulo2View.proyecto.proyIndActivitipoind}"
                                         toolbar="[[ '-','Undo','Redo' ],
                                         [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                         [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                         ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                        </center>

                        <br/><br/>
                        Procesos y Operaciones Unitarias.
                        <center>
                            <pe:ckEditor  width="700" value="#{capitulo2View.proyecto.proyIndProcyoperaciones}"
                                         toolbar="[[ '-','Undo','Redo' ],
                                         [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                         [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                         ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                        </center>

                        <br/><br/>
                        ¿Cuál es la Capacidad de Diseño de los Equipos que se Utilizarán?
                        <center>
                            <pe:ckEditor  width="700" value="#{capitulo2View.proyecto.proyIndCapacidadDisenio}"
                                         toolbar="[[ '-','Undo','Redo' ],
                                         [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                         [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                         ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                        </center>

                        <br/><br/>
                        Identificar y mencionar, en que parte del diagrama de procesos, los puntos y equipos donde se generan contaminantes al aire, agua y suelo, así como los de mayor riesgo indicando los equipos para prevenir o reducir contamintantes, asi como para el control y prevención de riesgos.
                        <center>
                            <pe:ckEditor  width="700" value="#{capitulo2View.proyecto.proyIndDiagramaproc}"
                                         toolbar="[[ '-','Undo','Redo' ],
                                         [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                         [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                         ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                        </center>
                        <br/><br/>
                        Indicar si Contará con sistemas de reutilización de agua, en caso afirmativo describa el sistema que se utilizará
                        <center>
                            <pe:ckEditor  width="700" value="#{capitulo2View.proyecto.proyIndProcSistemasagua}"
                                         toolbar="[[ '-','Undo','Redo' ],
                                         [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                         [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                         ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                        </center>
                        <br/><br/>
                        El proyecto incluye sistemas para la congeneración y recuperación de energias, describa el sistema.
                        <center>
                            <pe:ckEditor  width="700" value="#{capitulo2View.proyecto.proyIndProcSistemasconge}"
                                         toolbar="[[ '-','Undo','Redo' ],
                                         [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                         [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                         ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                        </center>
                    </h:panelGroup>
                </div>
                <h:panelGroup> 
                    <br/>
                    <br/>
                    <center> <p>Diagrama de flujo de procesos</p></center>
                        <div class="form-group">
<!--                             <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombre.xhtml?info=2,2,3,0,#{capitulo2View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                        </div>
                </h:panelGroup> 
            </div>
            
			<!-- ============================================================= TABLA AGREGADA DE ANEXOS =========================================================== -->        
                    
            <ui:include src="/anexosarchivos.xhtml"/>            
            
            <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right:  20px">
                <p:commandButton value="Guardar" class="btn btn-primary"  action="#{capitulo2View.guardarProyecto}" onsuccess="parent.actualizaBarra();"/>
            </div>
        </h:form>
        
		<ui:include src="/ventanasModalesAnexos.xhtml"/>

        <script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo2View.claveTramite}", nsub:"#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 2, seccion: 3, apartado: -1 }, case_ayuda);
        </script>
    </h:body>
</html>
