<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
    <f:metadata>
		<f:viewAction action="#{archivosAnexosBean.consultarDesgloseCapituloPrograma(2,2,4,0)}" />					
<!-- 		<f:viewAction action="#{archivosAnexosBean.consultarDesgloseCapitulo(2,2,2,3)}" /> -->
	</f:metadata>      
      
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>     
        

	        <link href="assets/images/favicon.ico" rel="shortcut icon" />
	        			
			<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" />	       
	        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
	        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		
	
<!-- 	        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script> -->
        	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	        <script src="#{request.contextPath}/assets/js/funciones.js"></script>	        
	        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
        
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
    </h:head>
    <h:body onload="javascript:multiCarga()">
    <div class="col-md-12">
	    <div class="row" id="mensaje"></div>
		<div class="row" id="case_pnl_ayuda_cnt"></div>
 		<ui:include src="/loading.xhtml"/>

    	<c:choose>
            <c:when test="#{capitulo2View.proyecto.nsub eq 6}">
				<c:set var="capituloPrograma" value="2"/>
				<c:set var="subcapituloPrograma" value="2"/>
				<c:set var="seccionPrograma" value="4"/>
				<c:set var="apartadoPrograma" value="0"/> 
			</c:when>
			
			<c:otherwise>
				<c:set var="capituloPrograma" value="2"/>
				<c:set var="subcapituloPrograma" value="2"/>
				<c:set var="seccionPrograma" value="3"/>
				<c:set var="apartadoPrograma" value="0"/> 			
			</c:otherwise>	
		</c:choose>

       
        
<!--         <c:set var="capitulo" value="2"/> -->
<!-- 		<c:set var="subcapitulo" value="2"/> -->
<!-- 		<c:set var="seccion" value="2"/> -->
<!-- 		<c:set var="apartado" value="3"/>  -->
        
        <c:choose>
            <c:when test="#{capitulo2View.proyecto.nsub eq 6}">
                <script>
                    function multiCarga() {
                        getInformacionAdicionalMulti('#{capitulo2View.strComentProy}','foDatosGen','2,4,0-Programa general de trabajo|2,2,3-Duración del proyecto y programa de trabajo');
                    }
                </script>
             </c:when>
            <c:otherwise>
                <script>
                    function multiCarga() {
                        getInformacionAdicionalMulti('#{capitulo2View.strComentProy}','foDatosGen','2,3,0-Programa general de trabajo|2,2,3-Duración del proyecto y programa de trabajo');
                    }
                </script>
            </c:otherwise>
        </c:choose>  
        
        <h:form id="foDatosGen">
            
            <h:inputHidden id="ubicActual" value="#{capitulo2View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo2View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>
            
<!--             <div class="semarnat_ayuda" id='case_pnl_ayuda'> -->
<!--                 <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"> -->
<!--                 </div> -->
<!--             </div> -->

            <div id="duProgT">
                <h:panelGroup> 
<!--                     <div id="titulo1"></div> -->
					<h3>Programa general de trabajo<a style="color:#000;" ><span id='case_btn_ayuda' class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3>
                    <hr class="red"/>
<!-- 						<button id='case_btn_ayuda' type="button" class="btn btn-default" -->
<!-- 								data-toggle="tooltip" data-placement="bottom"> -->
<!-- 								<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> -->
<!-- 								<span class="glyphicon-class">Ayuda</span> -->
<!-- 						</button>                     -->
                    
                    
                    
                    <br/>
                    <br/>
                    <p>Adjuntar archivo que contenga el diagrama de Gantt que describa las etapas del proyecto (Preparación del sitio, construcción, operación y mantenimiento, abandono)</p>
                    <br/><br/>                     
                    <div id="componenteConsulta1" style="display:none">
                        <div class="form-group">
                            <c:choose>
                                <c:when test="#{capitulo2View.proyecto.nsub eq 6}">
<!--                                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=2,2,4,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                                </c:when>
                                <c:otherwise>
<!--                                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=2,2,3,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                                </c:otherwise>
                            </c:choose>                                
                        </div>
                    </div>
                    <div id="componenteActualiza1" style="display:none; float: right; margin-right: 20px">
                        <br/> 
                        <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','1');"/>
                    </div>
                    <div id="componenteCaptura1" style="display:none;">	                    
                        <div class="form-group">
                            <c:choose>
                                <c:when test="#{capitulo2View.proyecto.nsub eq 6}">
<!--                                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombre.xhtml?info=2,2,4,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->								
                                </c:when>
                                <c:otherwise>
<!--                                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombre.xhtml?info=2,2,3,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                                </c:otherwise>
                            </c:choose>                                
                        </div>
                    </div>
                </h:panelGroup>
                

								<!-- ==================== TABLA DE ARCHIVOS DE CONSULTA GENERAL ==================== -->
								
									<div id="botones" style="padding-bottom: 18px;">
										<p:commandLink id="btnAgregarArchivoPrograma" 
														 value="Agregar" 
														 class="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"  
														 oncomplete="modalSubirArchivoPrograma.show()" 
														 immediate="true"
											 			 update=":formArchivosProgramaDisposicion:pnlArchivoPrograma" action="#{archivosAnexosBean.iniciarArchivoPrograma}">
											<f:param name="capitulo" value="#{capituloPrograma}"/>
											<f:param name="subcapitulo" value="#{subcapituloPrograma}"/>
											<f:param name="seccion" value="#{seccionPrograma}"/>
											<f:param name="apartado" value="#{apartadoPrograma}"/>
											
											<p:resetInput target=":formArchivosProgramaDisposicion:pnlArchivoPrograma"/>
										</p:commandLink>
															
										<p:commandLink id="btnEliminarArchivoPrograma" 
										                 class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						                                 value="Eliminar"										                  
														 update=":fEliminarArchivoPrograma:pnlMensajeEliminarArchivoPrograma" 
														 disabled="#{archivosAnexosBean.listaArchivosProgramaSeleccionados.size() == 0 || archivosAnexosBean.archivosGeneralPrograma.size() == 0}" 
														 oncomplete="dlgEliminarArchivoProgramaAnexo.show()">
									    </p:commandLink>
									</div>
								
								
										<h3>Adjuntos</h3>
										<p:dataTable id="tablaArchivoPrograma" styleClass="table table-responsive" value="#{archivosAnexosBean.archivosGeneralPrograma}" var="archG" rowIndexVar="rowIndex"
													 selection="#{archivosAnexosBean.listaArchivosProgramaSeleccionados}" rowKey="#{archG.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
											
											<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoPrograma" />
											<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoPrograma" />
											<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoPrograma" />
							
											<p:column selectionMode="multiple" style="width:50px" />
								
											<p:column
												style="white-space: normal; width: 50px; text-align: center;">
												<f:facet name="header">#</f:facet>
<!-- 												<h:outputText value="#{archG.id}" /> -->
												<h:outputText value="#{rowIndex+1}" />
											</p:column>
								
											<p:column style="white-space: normal;">
												<f:facet name="header">Nombre</f:facet>
												<h:outputText value="#{archG.nombre}" />
											</p:column>
								
											<p:column style="white-space: normal;">
												<f:facet name="header">Descripción</f:facet>
												<h:outputText value="#{archG.descripcion}" />
											</p:column>
								
											<p:column style="white-space: normal; text-align: center; width:100px">
												<f:facet name="header"></f:facet>
									            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
									                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archG.seqId}'); return false;"/>					
											</p:column>
								
											<p:column style="white-space: normal; text-align: center; width:100px">
												<f:facet name="header" />
												<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosBean.consultarArchivoPrograma}"
																 oncomplete="modalEditarArchivoPrograma.show()" update=":fEditarArchivoPrograma:pnlEditarArchivoPrograma, 
																 :formEditarHeaderArchivoAnexoPrograma:opEditarHeaderArchivoProgramaAnexo" immediate="true"> 
													<f:param name="id" value="#{archG.id}" />
													<f:param name="pRowIndex" value="#{rowIndex+1}" />
													<p:resetInput target=":fEditarArchivoPrograma:pnlEditarArchivoPrograma"/>
												</p:commandButton>
											</p:column>
								
										</p:dataTable>
                
                
            </div>

            <div id="duProyProgT">
                <!--<button id='case_btn_ayuda1' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> Ayuda  -->
                <h:panelGroup> 
<!--                     <div id="titulo2"></div> -->
<!--                     <br/> -->
                    <h3>Duración del proyecto y programa de trabajo</h3>
					<hr class="red"/>
<!-- 					<button id='case_btn_ayuda1' type="button" class="btn btn-default" -->
<!-- 							data-toggle="tooltip" data-placement="bottom"> -->
<!-- 							<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> -->
<!-- 							<span class="glyphicon-class">Ayuda</span> -->
<!-- 					</button>                     -->
                    
<!--                     <br/><br/> -->
                    
                    <div id="componenteConsulta2" style="display:none">
                        <h:panelGrid columns="5">
                            Vida Útil del Proyecto
                            Año:
                            <h:inputText readonly="true" value="#{capitulo2View.proyecto.proyTiempoVidaAnios}" style="width: 50px" 
                                         required="true" requiredMessage="Agregar un valor para el año de la vida util del proyecto. En caso de ser solo meses agregar 0." 
                                         />
                            Mes:
                            <h:selectOneMenu value="#{capitulo2View.proyecto.proyTiempoVidaMeses}" style="width: 50px">
                                <f:selectItem itemValue="0" itemLabel="0" />
                                <f:selectItem itemValue="1" itemLabel="1" />
                                <f:selectItem itemValue="2" itemLabel="2" />
                                <f:selectItem itemValue="3" itemLabel="3" />
                                <f:selectItem itemValue="4" itemLabel="4" />
                                <f:selectItem itemValue="5" itemLabel="5" />
                                <f:selectItem itemValue="6" itemLabel="6" />
                                <f:selectItem itemValue="7" itemLabel="7" />
                                <f:selectItem itemValue="8" itemLabel="8" />
                                <f:selectItem itemValue="9" itemLabel="9" />
                                <f:selectItem itemValue="10" itemLabel="10" />
                                <f:selectItem itemValue="11" itemLabel="11" />
                                <f:selectItem itemValue="12" itemLabel="12" />
                            </h:selectOneMenu>
                        </h:panelGrid>
                        <br/><br/>

                        <table class="table">
                            <tr>
                                <td>
                                    Etapa
                                </td>
                                <td>
                                    Año
                                </td>
                                <td>
                                    Mes
                                </td>
                                <td>
                                    Semanas
                                </td>
                            </tr>
                            <tr>
                                <td>Preparación</td>
                                <td><h:inputText readonly="true" maxlength="3" value="#{capitulo2View.etapaPreparacion.anios}"/></td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaPreparacion.meses}" class="form-control">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                        <f:selectItem itemValue="5" itemLabel="5" />
                                        <f:selectItem itemValue="6" itemLabel="6" />
                                        <f:selectItem itemValue="7" itemLabel="7" />
                                        <f:selectItem itemValue="8" itemLabel="8" />
                                        <f:selectItem itemValue="9" itemLabel="9" />
                                        <f:selectItem itemValue="10" itemLabel="10" />
                                        <f:selectItem itemValue="11" itemLabel="11" />
                                        <f:selectItem itemValue="12" itemLabel="12" />
                                    </h:selectOneMenu>                            
                                </td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaPreparacion.semanas}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                    </h:selectOneMenu>
                                </td>                            
                            </tr>
                            <tr>
                                <td>Construcción</td>
                                <td><h:inputText readonly="true" maxlength="3" value="#{capitulo2View.etapaConstruccion.anios}"/></td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaConstruccion.meses}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                        <f:selectItem itemValue="5" itemLabel="5" />
                                        <f:selectItem itemValue="6" itemLabel="6" />
                                        <f:selectItem itemValue="7" itemLabel="7" />
                                        <f:selectItem itemValue="8" itemLabel="8" />
                                        <f:selectItem itemValue="9" itemLabel="9" />
                                        <f:selectItem itemValue="10" itemLabel="10" />
                                        <f:selectItem itemValue="11" itemLabel="11" />
                                        <f:selectItem itemValue="12" itemLabel="12" />
                                    </h:selectOneMenu>                            
                                </td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaConstruccion.semanas}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                    </h:selectOneMenu>
                                </td>                            
                            </tr>
                            <tr>
                                <td>Operación y Mantenimiento</td>
                                <td><h:inputText readonly="true" maxlength="3" value="#{capitulo2View.etapaOperacion.anios}"/></td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaOperacion.meses}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                        <f:selectItem itemValue="5" itemLabel="5" />
                                        <f:selectItem itemValue="6" itemLabel="6" />
                                        <f:selectItem itemValue="7" itemLabel="7" />
                                        <f:selectItem itemValue="8" itemLabel="8" />
                                        <f:selectItem itemValue="9" itemLabel="9" />
                                        <f:selectItem itemValue="10" itemLabel="10" />
                                        <f:selectItem itemValue="11" itemLabel="11" />
                                        <f:selectItem itemValue="12" itemLabel="12" />
                                    </h:selectOneMenu>                            
                                </td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaOperacion.semanas}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                    </h:selectOneMenu>
                                </td>                            
                            </tr>
                            <tr>
                                <td>Abandono</td>
                                <td><h:inputText readonly="true" maxlength="3" value="#{capitulo2View.etapaAbandono.anios}"/></td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaAbandono.meses}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                        <f:selectItem itemValue="5" itemLabel="5" />
                                        <f:selectItem itemValue="6" itemLabel="6" />
                                        <f:selectItem itemValue="7" itemLabel="7" />
                                        <f:selectItem itemValue="8" itemLabel="8" />
                                        <f:selectItem itemValue="9" itemLabel="9" />
                                        <f:selectItem itemValue="10" itemLabel="10" />
                                        <f:selectItem itemValue="11" itemLabel="11" />
                                        <f:selectItem itemValue="12" itemLabel="12" />
                                    </h:selectOneMenu>                            
                                </td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaAbandono.semanas}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                    </h:selectOneMenu>
                                </td>                            
                            </tr>
                        </table>                        
                    </div>
                    <div id="componenteActualiza2" style="display:none; float: right; margin-right: 20px">
                        <br/> 
                        <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','2');"/>
                    </div>
                    
                    <div id="componenteCaptura2" style="display:none;">	                    
                        <h:panelGrid columns="5">
                            Vida Útil del Proyecto
                            Año:
                            <h:inputText maxlength="4" value="#{capitulo2View.proyecto.proyTiempoVidaAnios}" style="width: 50px" 
                                         required="true" requiredMessage="Agregar un valor para el año de la vida util del proyecto. En caso de ser solo meses agregar 0." 
                                         onkeypress="return capturaEnteros(event);"/>
                            Mes:
                            <h:selectOneMenu value="#{capitulo2View.proyecto.proyTiempoVidaMeses}" style="width: 50px">
                                <f:selectItem itemValue="0" itemLabel="0" />
                                <f:selectItem itemValue="1" itemLabel="1" />
                                <f:selectItem itemValue="2" itemLabel="2" />
                                <f:selectItem itemValue="3" itemLabel="3" />
                                <f:selectItem itemValue="4" itemLabel="4" />
                                <f:selectItem itemValue="5" itemLabel="5" />
                                <f:selectItem itemValue="6" itemLabel="6" />
                                <f:selectItem itemValue="7" itemLabel="7" />
                                <f:selectItem itemValue="8" itemLabel="8" />
                                <f:selectItem itemValue="9" itemLabel="9" />
                                <f:selectItem itemValue="10" itemLabel="10" />
                                <f:selectItem itemValue="11" itemLabel="11" />
                                <f:selectItem itemValue="12" itemLabel="12" />
                            </h:selectOneMenu>
                        </h:panelGrid>
                        <br/><br/>

                        <table class="table">
                            <tr>
                                <td>
                                    Etapa
                                </td>
                                <td>
                                    Año
                                </td>
                                <td>
                                    Mes
                                </td>
                                <td>
                                    Semanas
                                </td>
                            </tr>
                            <tr>
                                <td>Preparación</td>
                                <td><h:inputText maxlength="4" value="#{capitulo2View.etapaPreparacion.anios}"
                                                 onkeypress="return capturaEnteros(event);"/></td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaPreparacion.meses}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                        <f:selectItem itemValue="5" itemLabel="5" />
                                        <f:selectItem itemValue="6" itemLabel="6" />
                                        <f:selectItem itemValue="7" itemLabel="7" />
                                        <f:selectItem itemValue="8" itemLabel="8" />
                                        <f:selectItem itemValue="9" itemLabel="9" />
                                        <f:selectItem itemValue="10" itemLabel="10" />
                                        <f:selectItem itemValue="11" itemLabel="11" />
                                        <f:selectItem itemValue="12" itemLabel="12" />
                                    </h:selectOneMenu>                            
                                </td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaPreparacion.semanas}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                    </h:selectOneMenu>
                                </td>                            
                            </tr>
                            <tr>
                                <td>Construcción</td>
                                <td><h:inputText maxlength="4" value="#{capitulo2View.etapaConstruccion.anios}"
                                                 onkeypress="return capturaEnteros(event);"/></td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaConstruccion.meses}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                        <f:selectItem itemValue="5" itemLabel="5" />
                                        <f:selectItem itemValue="6" itemLabel="6" />
                                        <f:selectItem itemValue="7" itemLabel="7" />
                                        <f:selectItem itemValue="8" itemLabel="8" />
                                        <f:selectItem itemValue="9" itemLabel="9" />
                                        <f:selectItem itemValue="10" itemLabel="10" />
                                        <f:selectItem itemValue="11" itemLabel="11" />
                                        <f:selectItem itemValue="12" itemLabel="12" />
                                    </h:selectOneMenu>                            
                                </td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaConstruccion.semanas}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                    </h:selectOneMenu>
                                </td>                            
                            </tr>
                            <tr>
                                <td>Operación y Mantenimiento</td>
                                <td><h:inputText maxlength="4" value="#{capitulo2View.etapaOperacion.anios}"
                                                 onkeypress="return capturaEnteros(event);"/></td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaOperacion.meses}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                        <f:selectItem itemValue="5" itemLabel="5" />
                                        <f:selectItem itemValue="6" itemLabel="6" />
                                        <f:selectItem itemValue="7" itemLabel="7" />
                                        <f:selectItem itemValue="8" itemLabel="8" />
                                        <f:selectItem itemValue="9" itemLabel="9" />
                                        <f:selectItem itemValue="10" itemLabel="10" />
                                        <f:selectItem itemValue="11" itemLabel="11" />
                                        <f:selectItem itemValue="12" itemLabel="12" />
                                    </h:selectOneMenu>                            
                                </td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaOperacion.semanas}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                    </h:selectOneMenu>
                                </td>                            
                            </tr>
                            <tr>
                                <td>Abandono</td>
                                <td><h:inputText maxlength="4" value="#{capitulo2View.etapaAbandono.anios}"
                                                 onkeypress="return capturaEnteros(event);"/></td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaAbandono.meses}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                        <f:selectItem itemValue="5" itemLabel="5" />
                                        <f:selectItem itemValue="6" itemLabel="6" />
                                        <f:selectItem itemValue="7" itemLabel="7" />
                                        <f:selectItem itemValue="8" itemLabel="8" />
                                        <f:selectItem itemValue="9" itemLabel="9" />
                                        <f:selectItem itemValue="10" itemLabel="10" />
                                        <f:selectItem itemValue="11" itemLabel="11" />
                                        <f:selectItem itemValue="12" itemLabel="12" />
                                    </h:selectOneMenu>                            
                                </td>
                                <td>
                                    <h:selectOneMenu value="#{capitulo2View.etapaAbandono.semanas}">
                                        <f:selectItem itemValue="0" itemLabel="0" />
                                        <f:selectItem itemValue="1" itemLabel="1" />
                                        <f:selectItem itemValue="2" itemLabel="2" />
                                        <f:selectItem itemValue="3" itemLabel="3" />
                                        <f:selectItem itemValue="4" itemLabel="4" />
                                    </h:selectOneMenu>
                                </td>                            
                            </tr>
                        </table>
                    </div>

<!--
                    <br/>
                    Otros anexos
                    <br/><br/>
                    <div class="form-group">
                        <:choose>
                            <c:when test="#{capitulo2View.proyecto.nsub eq 6}">
                                <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombre.xhtml?info=2,2,4,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
                            </c:when>
                            <c:otherwise>
                                <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombre.xhtml?info=2,2,3,0,#{capitulo4View.proyecto.proyectoPK.folioProyecto},#{capitulo4View.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe>
                            </c:otherwise>
                        </:choose>                        
                    </div>-->
                </h:panelGroup>
            </div>

			<!-- ============================================================= TABLA AGREGADA DE ANEXOS =========================================================== -->        
                    
<!--             <ui:include src="/anexosarchivos.xhtml"/> -->

            <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right:  20px">
                <br/>
                <p:commandButton value="Guardar" class="btn btn-primary" action="#{capitulo2View.guardarProyecto}" onsuccess="parent.actualizaBarra();"/>
            </div>        

        </h:form>

<!-- 			<ui:include src="/ventanasModalesAnexos.xhtml"/> -->
			
			<!-- ==================== VENTANA MODAL PARA AGREGAR UN ARCHIVO ==================== -->
				<p:dialog header="Agregar Archivo" draggable="false" widgetVar="modalSubirArchivoPrograma" modal="true" closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">
					<h:form id="formArchivosProgramaDisposicion">
						<p:outputPanel id="pnlArchivoPrograma">
							<p:outputLabel value="Nombre"/>
							<p:outputLabel value="" for="txtNombreArchivoPrograma" />
							<p:outputLabel value=":" />
							<br />
							
							<p:inputText id="txtNombreArchivoPrograma" value="#{archivosAnexosBean.archivoTemporalPrograma.nombre}" style="width:100%;" required="true"
								requiredMessage="Este campo es requerido." maxlength="50"/>
							<p:message id="msgNombreArchivoPrograma" for="txtNombreArchivoPrograma" display="true"/>
							<br />
							
							<p:outputLabel value="Descripción"/>
							<p:outputLabel value="" for="txtDescripcionArchivoPrograma" />
							<p:outputLabel value=":"/>
							<br />
							
							<p:inputTextarea id="txtDescripcionArchivoPrograma" class="form-control" value="#{archivosAnexosBean.archivoTemporalPrograma.descripcion}" cols="50"
								rows="3" maxlength="200" counter="descountArch" counterTemplate="Quedan {0} caracteres." required="true"
								requiredMessage="Este campo es requerido." autoResize="false"/>
							<h:outputText id="descountArch" />
							<p:message id="msgDescripcionArchivoPrograma" for="txtDescripcionArchivoPrograma" display="true"/>
							<br />
							
							<p:outputLabel id="lblReservadoArchivoPrograma" value="Reservado:" />
							<p:selectBooleanCheckbox value="#{archivosAnexosBean.cargaBean.reservado}"/>
							<br />
							
							<br />
							<p:outputLabel value="Cargar archivo"/>
							<p:outputLabel value="" for="fileAnexosPrograma" />
							<p:outputLabel value=":" />
							<br />
		
							<h:panelGrid columns="2" style="width: 100%">
			                    <p:fileUpload mode="advanced" id="fileAnexosPrograma" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
			                    	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
			                    fileUploadListener="#{archivosAnexosBean.cargaBean.handleFileUpload}"	                                  
			                    sizeLimit="10485760" 
				                    label="Seleccionar archivo"                                 
			                    invalidSizeMessage="El tamaño del archivo es demasiado grande"
			                    invalidFileMessage="Tipo de archivo invalido"
			                    allowTypes="/(\.|\/)(pdf|doc|docx|jpg|jpeg|gif|png|xls|xlsx|dwg)$/" update="lblCargaArchivoProgramaAnexo"
			                    required="true" requiredMessage="No seleccionó el archivo." 
				                    auto="true" style="width: 100%"/>	
				            		                
					                <c:if test="#{empty archivosAnexosBean.cargaBean.file.fileName}">
										<p:outputLabel id="lblCargaArchivoProgramaAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
					                </c:if>		    
					                
					                <c:if test="#{not empty archivosAnexosBean.cargaBean.file.fileName}">
										<p:outputLabel id="lblCargaArchivoProgramaAnexo" value="#{archivosAnexosBean.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
					                </c:if>            
							</h:panelGrid>		
							
							<p:outputLabel id="msjValida" value="#{archivosAnexosBean.msj}" style="color:#B40431" />						
		
							<p:message id="msgFileAnexosPrograma" for="fileAnexosPrograma" display="true"/>
							<br />
							
							<div id="divExtensiones" class="alert alert-info">
								<p:outputLabel value="Extensiones permitidas: (pdf/doc/docx/jpg/jpeg/gif/png/xls/xlsx/dwg)"/>
								<br/>
													
							<p:outputLabel value="El tamaño límite es de 10MB"/>
							</div>
							<br/>
							
							
							<p:commandButton id="btnGuardarModalArchivoPrograma" class="btn btn-primary" style="float: right;" value="Guardar"
								oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
								update=":foDatosGen:tablaArchivoPrograma, :formArchivosProgramaDisposicion:pnlArchivoPrograma" 
										action="#{archivosAnexosBean.guardarArchivoPrograma}" validateClient="true">
								<f:param name="capitulo" value="#{capituloPrograma}"/>
								<f:param name="subcapitulo" value="#{subcapituloPrograma}"/>
								<f:param name="seccion" value="#{seccionPrograma}"/>
								<f:param name="apartado" value="#{apartadoPrograma}"/>			
							</p:commandButton>
							
							<p:commandButton id="btnCerrarModalArchivoPrograma" class="btn btn-default" style="float: right;" value="Cerrar" onclick="modalSubirArchivoPrograma.hide();" type="button"/>
						</p:outputPanel>
					</h:form>
				</p:dialog>
				
				<!-- VENTANA MODAL PARA LA EDICIÓN DEL ARCHIVO -->
				
				<p:dialog draggable="false" widgetVar="modalEditarArchivoPrograma" showEffect="fade" hideEffect="fade" modal="true" closable="false">
					<f:facet name="header">
						<h:form id="formEditarHeaderArchivoAnexoPrograma">
							<p:outputPanel id="opEditarHeaderArchivoProgramaAnexo">
								<h4 class="modal-title">Editar Archivo #{archivosAnexosBean.indexRow}</h4>
							</p:outputPanel>				
						</h:form>
					</f:facet>
		
					<h:form id="fEditarArchivoPrograma">				
						<p:outputPanel id="pnlEditarArchivoPrograma">
							<p:outputLabel value="Descripción" />
							<p:outputLabel id="lblDescripPrograma" value="" for="descripcionArchivoProgramaE"/>
							<p:outputLabel value=":"/>
								<p:inputTextarea id="descripcionArchivoProgramaE" class="form-control" value="#{archivosAnexosBean.archivoEdicion.descripcion}" cols="50"
									rows="3" maxlength="200" counter="conta" counterTemplate="Quedan {0} caracteres." required="true"
									requiredMessage="Este campo es requerido." autoResize="false" />
								<h:outputText id="conta" />
								<p:message id="mismensajesArch1Programa" for="descripcionArchivoProgramaE" display="true"/>
<!-- 								<p:messages id="mismensajesArch1Programa" /> -->
			
								<p:commandButton id="guardarEArchivoPrograma" value="Guardar" class="btn btn-primary btn-sm" update=":fEditarArchivoPrograma:mismensajesArch1Programa, :fEditarArchivoPrograma:lblDescripPrograma , :foDatosGen:tablaArchivoPrograma"
												 action="#{archivosAnexosBean.editarArchivoPrograma}" style="float: right;" />
									
								<p:commandButton id="cerrarModalEArchivoPrograma" type="button" value="Cerrar" class="btn btn-default btn-sm" onclick="modalEditarArchivoPrograma.hide()"
												 style="float: right; margin-rigth: 20px;" />
						</p:outputPanel>
					</h:form>
				</p:dialog>		
		
				<p:dialog draggable="false" widgetVar="modalAlertArchivoPrograma" showEffect="fade" hideEffect="fade" modal="true" closable="false">
					<f:facet name="header">
						<h4 class="modal-title">Aviso</h4>	   	
					</f:facet>					
					<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span>Archivo guardado exitosamente.</div>
				    <div class="modal-footer">
						<button class="btn btn-primary" type="button" style="float: right;" onclick="modalAlertArchivoPrograma.hide();">Aceptar</button>
				    </div>				
				</p:dialog>
		
				<p:dialog draggable="false" widgetVar="modalAlertEdArchivoPrograma" showEffect="fade" hideEffect="fade" modal="true" closable="false">
					<f:facet name="header">
						<h4 class="modal-title">Aviso</h4>	   	
					</f:facet>
					<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span>Archivo actualizado exitosamente.</div>
				    <div class="modal-footer">
						<button class="btn btn-primary" style="float: right;" onclick="modalAlertEdArchivoPrograma.hide();">Aceptar</button>
				    </div>
				</p:dialog>
				
			<!-- ========== VENTANA MODAL PARA ELIMINAR ARCHIVOS SELECIONADOS ========== -->
		
				<p:dialog draggable="false" widgetVar="dlgEliminarArchivoProgramaAnexo" showEffect="fade" hideEffect="fade" modal="true" closable="false">
					<f:facet name="header">
						<h4 class="modal-title">Eliminar Archivo</h4>	   	
					</f:facet>
					
					<h:form id="fEliminarArchivoPrograma">
						 <p:outputPanel id="pnlMensajeEliminarArchivoPrograma">     
			                  <div class="alert alert-warning"><span class="glyphicon glyphicon-warning-sign"></span> ¿Realmente desea borrar el/los registro/s?</div>
			                   
			                  <h:panelGrid id="pnlArchivoProgramaAnexoEliminado" columns="2">	                    	
			                      <ui:repeat value="#{archivosAnexosBean.listaArchivosProgramaSeleccionados}" var="vararchivoproyecto">
			            		  	<h:outputText value="#{vararchivoproyecto.nombre}" style="display:block"/>
			           			  </ui:repeat>
			                  </h:panelGrid>
			                      
			                  <div class="modal-footer">
			                   	 <p:commandButton type="button" styleClass="btn btn-default" id="respuestaNo" value="No" onclick="dlgEliminarArchivoProgramaAnexo.hide()" />
			             	     <p:commandButton styleClass="btn btn-primary" id="respuestaSi" value="Si" update=":foDatosGen:tablaArchivoPrograma, :foDatosGen:btnEliminarArchivoPrograma" action="#{archivosAnexosBean.eliminarArchivosPrograma}"/>
			                  </div>
			             </p:outputPanel>
					</h:form>
				</p:dialog>
		
				<p:dialog draggable="false" widgetVar="modalAlertEArchivoPrograma" showEffect="fade" hideEffect="fade" modal="true" closable="false">
					<f:facet name="header">
						<h4 class="modal-title">Aviso</h4>	   	
					</f:facet>
					<div class="alert alert-success">Registro(s) eliminado(s) exitosamente.</div>
					<button class="btn btn-primary" type="button" style="float: right;" onclick="modalAlertEArchivoPrograma.hide();">Aceptar</button>
				</p:dialog>			

        <script>
            /*
            $('#case_btn_ayuda1').click(function(e){
                    var o = {
                        left: e.pageX + 14,
                        top: e.pageY
                    };
                    $("#case_pnl_ayuda").show().offset(o);
                    $('#case_pnl_ayuda_cnt').html("Los datos capturados en los campos de vida útil del proyecto son independientes de la duración de las etapas.<br></br> La vida útil del proyecto se refiere al periodo durante el cual un proyecto es capaz de generar beneficios por encima de sus costos esperados.<br></br>La duración de las etapas se refiere al plazo solicitado para la realización del proyecto en cada una de ellas.");
                });*/
        </script>
        <c:choose>
            <c:when test="#{capitulo2View.proyecto.nsub eq 6}">
                <script>
                    $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo2View.claveTramite}", nsub:"#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 2, seccion: 4, apartado: -1 }, case_ayuda);
                    $('#case_btn_ayuda1').click({vClaveTramite:"#{capitulo2View.claveTramite}", nsub:"#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 2, seccion: 2, apartado: 3 }, case_ayuda);
                </script>
             </c:when>
            <c:otherwise>
                <script>
                    $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo2View.claveTramite}", nsub:"#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 2, seccion: 3, apartado: -1 }, case_ayuda);
                    $('#case_btn_ayuda1').click({vClaveTramite:"#{capitulo2View.claveTramite}", nsub:"#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 2, seccion: 2, apartado: 3 }, case_ayuda);
                </script>
            </c:otherwise>
        </c:choose>
        </div>
    </h:body>
</html>
