<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
    </h:head>
    <h:body>
        <h:form >
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" />            
            <div id="pesq">

                        <h:panelGrid columns="2" width="500px">
                            <p:column style="width:30%">
                                <h:outputLabel value="Nombre:" />
                            </p:column>
                            <p:column style="width:70%">
                                <p:inputText class="form-control" value="#{capitulo2View.infoBio.bioNombre}" maxlength="100" size="80"/>
                            </p:column>
                            <h:outputLabel value="Origen:" />
                            <p:inputText class="form-control" value="#{capitulo2View.infoBio.bioOrigen}" maxlength="100"/>
                            <h:outputLabel value="Número de Organismos a Cultivar" />
                            <p:inputText class="form-control" value="#{capitulo2View.infoBio.bioNumorgCultivar}" maxlength="10"/>
                            
                            <h:outputLabel value="Descripción de sus Atributos y/o Amenazas Potenciales" />
                            <p:inputText class="form-control" value="#{capitulo2View.infoBio.bioDescAtributosAme}" maxlength="500"/>                            
                            <h:outputLabel value="La Especie es Forrajera" />
                            <p:selectOneMenu value="#{capitulo2View.infoBio.bioEspForrajera}" >
                                <f:selectItem itemValue="S" itemLabel="Si" />
                                <f:selectItem itemValue="N" itemLabel="No" />
                            </p:selectOneMenu>
                        </h:panelGrid>

                        <h3>Forma de su Ciclo de Vida</h3>

                        <h:panelGrid columns="2" width="300px">
                            <p:column style="width:30%">
                                <h:outputLabel value="Crías" />
                            </p:column>
                            <p:column style="width:70%">
                                <p:selectOneMenu value="#{capitulo2View.infoBio.bioCrias}" >
                                    <f:selectItem itemValue="S" itemLabel="Si" />
                                    <f:selectItem itemValue="N" itemLabel="No" />
                                </p:selectOneMenu>
                            </p:column>                                
                            <h:outputLabel value="Semillas" />
                            <p:selectOneMenu value="#{capitulo2View.infoBio.bioSemillas}" >
                                <f:selectItem itemValue="S" itemLabel="Si" />
                                <f:selectItem itemValue="N" itemLabel="No" />
                            </p:selectOneMenu>
                            <h:outputLabel value="Portalarvas" />
                            <p:selectOneMenu value="#{capitulo2View.infoBio.bioPostlarvas}" >
                                <f:selectItem itemValue="S" itemLabel="Si" />
                                <f:selectItem itemValue="N" itemLabel="No" />
                            </p:selectOneMenu>
                            <h:outputLabel value="Juveniles" />
                            <p:selectOneMenu value="#{capitulo2View.infoBio.bioJuveniles}" >
                                <f:selectItem itemValue="S" itemLabel="Si" />
                                <f:selectItem itemValue="N" itemLabel="No" />
                            </p:selectOneMenu>
                            <h:outputLabel value="Adultos Reproductivos" />
                            <p:selectOneMenu value="#{capitulo2View.infoBio.bioAdultReprod}" >
                                <f:selectItem itemValue="S" itemLabel="Si" />
                                <f:selectItem itemValue="N" itemLabel="No" />
                            </p:selectOneMenu>
                        </h:panelGrid>

                        <h3>Biomasa</h3>

                        <h:panelGrid columns="2" width="500px">
                            <p:column style="width:30%">
                                <h:outputLabel value="No. de ciclos" />
                            </p:column>
                            <p:column style="width:70%">
                                <pe:inputNumber value="#{capitulo2View.infoBio.bioNumciclos}" style="width: 380px"
                                                decimalPlaces="0" thousandSeparator="," maxlength="10"/>
                            </p:column>
                            <h:outputLabel value="Biomasa Inicial" />
                            <pe:inputNumber value="#{capitulo2View.infoBio.bioBiomasaInic}" maxlength="13" style="width: 380px"
                                            decimalPlaces="2" thousandSeparator="," decimalSeparator="."
                                            label="Biomasa Inicial">
                                <f:validateDoubleRange minimum="0.00" maximum="99999999.99"/>
                            </pe:inputNumber>
                            <h:outputLabel value="Unidad Inicial" />
                            <p:inputText class="form-control" value="#{capitulo2View.infoBio.bioUnidadInic}" maxlength="100"/>
                            <h:outputLabel value="Biomasa Esperada" />
                            <pe:inputNumber value="#{capitulo2View.infoBio.bioBiomasaEsperada}" maxlength="13" style="width: 380px"
                                            decimalPlaces="2" thousandSeparator="," decimalSeparator="."
                                            label="Biomasa Esperada">
                                <f:validateDoubleRange minimum="0.00" maximum="99999999.99"/>
                            </pe:inputNumber>
                            <h:outputLabel value="Unidad Esperada" />
                            <p:inputText class="form-control" value="#{capitulo2View.infoBio.bioUnidadEsperada}" maxlength="100"/>
                        </h:panelGrid>

                        <h3>Alimento</h3>

                        <h:panelGrid columns="2" width="500px">
                            <p:column style="width:30%">
                                <h:outputLabel value="Tipo de Alimento" />
                            </p:column>
                            <p:column style="width:70%">
                                <p:inputText class="form-control" value="#{capitulo2View.infoBio.bioTipoAlimento}" maxlength="100" />
                            </p:column>
                            <h:outputLabel value="Cantidad de Alimento" />
                            <pe:inputNumber  value="#{capitulo2View.infoBio.bioCantAlimento}" maxlength="13" style="width: 380px"
                                             decimalPlaces="2" thousandSeparator="," decimalSeparator="."
                                             label="Cantidad de Alimento">
                                <f:validateDoubleRange minimum="0.00" maximum="99999999.99"/>
                            </pe:inputNumber>
                            <h:outputLabel value="Forma de Almacenamiento" />
                            <p:inputText class="form-control" value="#{capitulo2View.infoBio.bioFormaAlmacen}" maxlength="100" />
                        </h:panelGrid>

                        <h3>Abono y/o fertilizante</h3>

                        <h:panelGrid columns="2" width="500px">
                            <p:column style="width:30%">
                                <h:outputLabel value="Tipo de abono y/o fertilizante" />
                            </p:column>
                            <p:column style="width:70%">
                                <p:inputText class="form-control" value="#{capitulo2View.infoBio.bioTipabono}" maxlength="100"/>
                            </p:column>
                            <h:outputLabel value="Forma de Uso del Fertilizante" />
                            <p:inputText class="form-control" value="#{capitulo2View.infoBio.bioUsoAbono}" maxlength="100"/>
                            <h:outputLabel value="Cantidad de Suministro" />
                            <pe:inputNumber value="#{capitulo2View.infoBio.bioCantSuministro}" maxlength="12" style="width: 380px"
                                            decimalPlaces="2" thousandSeparator="," decimalSeparator="."
                                            label="Cantidad de Suministro">
                                <f:validateDoubleRange minimum="0.00" maximum="99999999.99"/>
                            </pe:inputNumber>
                            <h:outputLabel value="Forma de Almacenamiento" />
                            <p:inputText class="form-control" value="#{capitulo2View.infoBio.bioFormAlmacAbono}" maxlength="100"/>
                        </h:panelGrid>

                        <br/>
                        <br/>
                        <p:commandButton value="Guardar cambios" class="btn btn-primary"  action="#{capitulo2View.agregarBio}" 
                                         onclick="javascript:window.location='#pesq'"/>
                        <p:commandButton value="Cancelar" class="btn btn-primary" action="descPesqueros?faces-redirect=true" 
                                         onclick="javascript:window.location='#pesq'"/>

            </div>

        </h:form>
    </h:body>
</html>
