<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8" />
		<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- Gráfica Base Local -->
			<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" />	       
	        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
<!-- 	        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script> -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script> 
	        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
	
	<!--Se agrega una variable para realizar la especificación de la sección que le corresponde al subsector-->
	<c:choose>
		<c:when
			test="#{capitulo2View.proyecto.nsub eq 4 || capitulo2View.proyecto.nsub eq 6}">
			<c:set target="#{capitulo2View}" property="vseccion" value="5" />
			<script>
				var vSeccion = 5;
			</script>
		</c:when>
		<c:otherwise>
			<c:set target="#{capitulo2View}" property="vseccion" value="4" />
			<script>
				var vSeccion = 4;
			</script>
		</c:otherwise>
	</c:choose>
</h:head>
<h:body onload="cargaDiferenteSeccion();">
	<script>
		function cargaDiferenteSeccion() {
			var cadena = "";
			cadena = "2," + vSeccion + ",1-Preparación del sitio|2," + vSeccion
					+ ",2-Construcción|2," + vSeccion
					+ ",3-Operación y mantenimiento|2," + vSeccion
					+ ",4-Abandono";
			getInformacionAdicionalMulti('#{capitulo2View.strComentProy}',
					'foDatosGen', cadena);
		}
	</script>
	<div class="col-md-12" id="mensaje"></div>
	<h:form id="foDatosGen">
		<h:inputHidden id="ubicActual" value="#{capitulo2View.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional"
			value="#{capitulo2View.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />

		<div class="semarnat_ayuda" id='case_pnl_ayuda'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>
	</h:form>

	<!-- 	<div id="carParProy"> -->
	<h3>Etapas del proyecto</h3>
	<hr class="red"></hr>
	<button id='case_btn_ayuda' type="button" class="btn btn-default"
		data-toggle="tooltip" data-placement="bottom">
		<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
		<span class="glyphicon-class">Ayuda</span>
	</button>
	<hr></hr>
	<h3 style="text-align: center">
		<h:outputText value="No se encontraron etapas del proyecto"
			rendered="#{capitulo2View.verMsgEtapa}" />
	</h3>

	<!-- Form que contiene la tabla de las Actividades de Preparación-->
	<h:form id="fTablaPreparacion">
		<h:panelGroup id="pnlVerPrep"
			rendered="#{capitulo2View.verPreparacion}">
			<div id="titulo1"></div>
			<hr class="red"></hr>
			
			<button id='case_btn_ayuda_preparacion' type="button"
				class="btn btn-default" data-toggle="tooltip"
				data-placement="bottom">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				<span class="glyphicon-class">Ayuda</span>
			</button>
			<hr></hr>
			<div id="botones" style="padding-bottom: 18px;">
			<p:commandLink
				class="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
				value="Agregar" 
				actionListener="#{cap2Etapas.crearActividad}"
				onsuccess="fAgregarActivPrep:modalAgregarP.show()"
				update=":fAgregarActivPrep:pnlAgregarP">
				<f:attribute name="tipo" value="preparacion" />
				<p:ajax process="@this" />
			</p:commandLink>
			<p:commandLink id="bEliminaP" 
				class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"				
				value="Eliminar" 
				actionListener="#{cap2Etapas.tieneActividadesPrepSeleccionados}"
				disabled="#{cap2Etapas.activPrep_seleccionados.size() == 0}"
				update=":fEliminarActivPrep:multiCritAP :fEliminarActivPrep:avisoHijosPrep">
				<p:ajax process="@this" />
			</p:commandLink>
			<br/>
			<br/>
			</div>
			
			
			<!-- Tabla de Actividades, etapa PREPARACIÓN DEL SITIO -->
			<p:dataTable id="tabPrepa" styleClass="table table-responsive"
				value="#{cap2Etapas.actividadesPrepara}" var="ac" rowIndexVar="rowIndexActPS"
				selection="#{cap2Etapas.activPrep_seleccionados}"
				rowKey="#{ac.actividadEtapaPK.actividadEtapaId}" paginator="true"
				paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
				<p:ajax event="toggleSelect" update=":fTablaPreparacion:bEliminaP" />
				<p:ajax event="rowSelectCheckbox"
					update=":fTablaPreparacion:bEliminaP" />
				<p:ajax event="rowUnselectCheckbox"
					update=":fTablaPreparacion:bEliminaP" />
				<p:column selectionMode="multiple" style="width:50px; text-align: center;"  />
				<p:column
					style="white-space: normal; width: 50px; text-align: center;">
					<f:facet name="header">#</f:facet>
					<!-- <h:outputText value="#{ac.actividadEtapaPK.actividadEtapaId}" />  -->
					<h:outputText value="#{rowIndexActPS+1}" />
				</p:column>
				<p:column style="white-space: normal;">
					<f:facet name="header">Nombre de la actividad</f:facet>
					<h:outputText value="#{ac.actividadNombre}" />
				</p:column>
				<p:column style="white-space: normal;">
					<f:facet name="header">Descripción</f:facet>
					<h:outputText value="#{ac.actividadDescripcionCorta}" />
				</p:column>
				<p:column style="white-space: normal; text-align:center; width:80px">
					<f:facet name="header" />
					<p:commandButton
						class="btn btn-default btn-xs glyphicon glyphicon-pencil" value=""
						action="#{cap2Etapas.consultarActividadPrep}"
						onclick="modalEditarAP.show()" immediate="true"
						update=":fEditarAP:pnlEditarAP :fEditarAP:formEditarHeaderAP">
						<p:ajax process="@this" />
						<f:param name="pRowIndexActPS" value="#{rowIndexActPS+1}" />
						<f:param name="id" value="#{ac.actividadEtapaPK.actividadEtapaId}" />
						<p:resetInput target=":fEditarAP:pnlEditarAP" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:panelGroup>
	</h:form>

	<h:form id="fArchPrep">
		<h:panelGroup id="pnlVerArchPrep"
			rendered="#{capitulo2View.verPreparacion}">
			
				<div id="botones" style="padding-bottom: 18px;">
					<p:commandLink
						class="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						action="#{cap2Etapas.iniciarArchivo}"
						oncomplete="modalSubirArchivoPrep.show()"
						update=":archivosPrep:pnlArchP">
						<f:param name="id" value="1" />
						<p:ajax process="@this" />
					</p:commandLink>
					
					<p:commandLink id="bEliminaArchP"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar" 
						actionListener="#{cap2Etapas.tieneArchivosPrepSeleccionados}"
						disabled="#{cap2Etapas.archivosPrep_seleccionados.size() == 0 || cap2Etapas.archivosPrepara.size() == 0}"
						update=":fEliminarArchPrep:multiCritArchP">
						<p:ajax process="@this" />
					</p:commandLink>
				</div>
				
			<!-- Tabla de Adjuntos, etapa PREPARACIÓN DEL SITIO -->
			<h3>Adjuntos</h3>
			<div class="form-group">
				<p:dataTable id="tabPrepArch" styleClass="table table-responsive"
					value="#{cap2Etapas.archivosPrepara}" var="archP" rowIndexVar="rowIndex"
					selection="#{cap2Etapas.archivosPrep_seleccionados}"
					rowKey="#{archP.id}" paginator="true" paginatorPosition="bottom"
					rows="10" emptyMessage="Sin archivos adjuntos.">
					<p:ajax event="toggleSelect" update=":fArchPrep:bEliminaArchP" />
					<p:ajax event="rowSelectCheckbox" update=":fArchPrep:bEliminaArchP" />
					<p:ajax event="rowUnselectCheckbox"
						update=":fArchPrep:bEliminaArchP" />
					<p:column selectionMode="multiple" style="width:50px"  />
					<p:column
						style="white-space: normal; width: 50px; text-align: center;">
						<f:facet name="header">#</f:facet>
						<!-- <h:outputText value="#{archP.id}" /> -->
						<h:outputText value="#{rowIndex+1}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Nombre</f:facet>
						<h:outputText value="#{archP.nombre}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Descripción</f:facet>
						<h:outputText value="#{archP.descripcion}" />
					</p:column>
					<p:column style="white-space: normal; text-align:center; width:100px">
						<f:facet name="header"></f:facet>
						<p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
						          onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archP.seqId}'); return false;"/>
							
					</p:column>
					<p:column style="white-space: normal; text-align:center; width:100px">
						<f:facet name="header" />
						<p:commandButton
							class="btn btn-default btn-xs glyphicon glyphicon-pencil"
							value="" action="#{cap2Etapas.consultarArchivoPrep}"
							onclick="modalEditarArchP.show()"
							update=":fEditarArchP:pnlEditarArchP :fEditarArchP:formEditarHeaderArchP">
							<p:ajax process="@this" />
							<f:param name="pRowIndex" value="#{rowIndex+1}" />
							<f:param name="id" value="#{archP.id}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</div>
		</h:panelGroup>
	</h:form>

	<!-- MODAL PARA SUBIR ARCHIVOS PREPARACIÓN-->
	<h:form id="archivosPrep">
		<p:dialog header="Agregar archivo preparación" draggable="false"
			widgetVar="modalSubirArchivoPrep" id="dlgSubirArchivoPrep"
			modal="true" closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">
			<p:outputPanel id="pnlArchP">
				<p:outputLabel value="Nombre"/>
				<p:outputLabel value="" for="txtNombreArchivoP"/>
				<p:outputLabel value=":"/>
				<br />
				
				<p:inputText id="txtNombreArchivoP"
					value="#{cap2Etapas.archivoTemporal.nombre}" style="width:100%;"
					required="true" requiredMessage="Este campo es obligatorio"
					maxlength="50">
				</p:inputText>
				<p:message for="txtNombreArchivoP" />
				<br />
				
				<p:outputLabel value="Descripción"/>
				<p:outputLabel value="" for ="txtDescripcionArchivoP"/>
				<p:outputLabel value=":"/>
				<br />
				
				<p:inputTextarea id="txtDescripcionArchivoP" class="form-control"
					value="#{cap2Etapas.archivoTemporal.descripcion}" cols="50"
					rows="3" maxlength="200" counter="descountP"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false">
				</p:inputTextarea>
				<h:outputText id="descountP" />
				<p:message for="txtDescripcionArchivoP" />
				<br />
				
				<p:outputLabel id="lblReservadoArchivoP" value="Reservado:" />
				<p:selectBooleanCheckbox value="#{cap2Etapas.cargaBean.reservado}">
				</p:selectBooleanCheckbox>
				<br />
				<br />				
				
				<p:outputLabel value="Cargar archivo" />
				<p:outputLabel value="" for="fileAnexos" />
				<p:outputLabel value=":" />
				<br />
				
				<h:panelGrid columns="2" style="width: 100%">
	                <p:fileUpload mode="advanced" id="fileAnexos" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
	                  	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
		                fileUploadListener="#{cap2Etapas.cargaBean.handleFileUpload}"	                                  
		                sizeLimit="10485760" 
		                label="Seleccionar archivo"                                 
		                invalidSizeMessage="El tamaño del archivo es demasiado grande"
		                invalidFileMessage="Tipo de archivo invalido"
		                allowTypes="/(\.|\/)(pdf|doc|docx|jpg|jpeg|gif|png|xls|xlsx|dwg)$/" update="lblCargaArchivoAnexo"
		                required="true" requiredMessage="No seleccionó el archivo." 
		                auto="true" style="width: 100%"/>	
		                
			            <c:if test="#{empty cap2Etapas.cargaBean.file.fileName}">
							<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
			            </c:if>		    
			                
			            <c:if test="#{not empty cap2Etapas.cargaBean.file.fileName}">
							<p:outputLabel id="lblCargaArchivoAnexo" value="#{cap2Etapas.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
			            </c:if>            
				</h:panelGrid>				
				<br/>
				
				<p:outputLabel id="msjValida" value="#{cap2Etapas.msj}" style="color:#B40431" />
				
				<div id="divExtensiones" class="alert alert-info">
					<p:outputLabel value="Extensiones permitidas: (pdf/doc/docx/jpg/jpeg/gif/png/xls/xlsx/dwg)"/>
					<br/>
											
					<p:outputLabel value="El tamaño límite es de 10MB"/>					
				</div>
				<br/>				
				
				<p:message id="msgAnexoPrep" for="fileAnexos" display="true"/>
				<br/>
				
				<p:commandButton id="btnGuardarModalArchivoP"
					class="btn btn-primary" style="float: right;" value="Guardar" oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  	$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
					update=":fArchPrep:tabPrepArch, :archivosPrep:msgAnexoPrep ,pnlArchP"
					actionListener="#{cap2Etapas.guardarArchivo}" validateClient="true">
					<f:attribute name="tipo" value="preparacion" />
					<p:ajax process="@this" />
				</p:commandButton>
				
				<p:commandButton id="btnCerrarModalArchivoP" class="btn btn-default botonEliminar"
					style="float: right;" value="Cerrar"
					onclick="modalSubirArchivoPrep.hide();" update="pnlArchP"
					process="@this" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertArchP" id="modalAlertArchP"
			header="Aviso" modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Archivo guardado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertArchP.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para editar un Archivo de tipo Preparación -->
	<h:form id="fEditarArchP">
		<p:dialog widgetVar="modalEditarArchP" id="modalEditarArchP"
			modal="true" closable="false">
			<f:facet name="header">
				<p:outputPanel id="formEditarHeaderArchP">
					<h4 class="modal-title">Editar archivo preparación
						#{cap2Etapas.indexRow}</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditarArchP">
				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descripcionArchE" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="descripcionArchE" class="form-control"
					value="#{cap2Etapas.archivoEdicion.descripcion}" cols="50" rows="3"
					maxlength="200" counter="conta"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="conta" />
				<p:message for="descripcionArchE" />

				<p:commandButton id="guardarEArchP" value="Guardar"
					class="btn btn-primary"
					update=":fArchPrep:tabPrepArch,pnlEditarArchP"
					action="#{cap2Etapas.editarArchivoPrep}" style="float: right;" />
				<p:commandButton id="cerrarModalEP" value="Cerrar"
					class="btn btn-default botonEliminar" onclick="modalEditarArchP.hide()"
					update="pnlEditarArchP" immediate="true"
					style="float: right; margin-rigth: 5px;" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertEdArchP" id="modalAlertEdArchP"
			header="Aviso" modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Archivo actualizado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEdArchP.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para eliminar archivos de Actividades de Preparación -->
	<h:form id="fEliminarArchPrep">
		<p:dialog header="Preparación del sitio - Eliminar archivo"
			widgetVar="eliminarArchPrep" id="eliminarArchPrep" modal="true"
			showEffect="fade" hideEffect="fade" closable="false"
			resizable="false">
			<div class="alert alert-warning">¿Realmente desea borrar el/los
				archivo(s)?</div>
			<p:outputPanel id="multiCritArchP">
				<ui:repeat value="#{cap2Etapas.archivosPrep_seleccionados}" var="ar">
					<h:outputText value="#{ar.nombre}" style="display:block" />
				</ui:repeat>
			</p:outputPanel>
			<p:commandButton value="Sí"
				action="#{cap2Etapas.eliminaArchivosPrep}" class="btn btn-primary"
				update=":fArchPrep:tabPrepArch, :fArchPrep:bEliminaArchP"
				oncomplete="eliminarArchPrep.hide();modalAlertEArchP.show()"
				style="float:right;" />
			<p:commandButton type="button" value="No"
				update=":fArchPrep:tabPrepArch" class="btn btn-default botonEliminar"
				onclick="eliminarArchPrep.hide()" style="float:right;" />
		</p:dialog>

		<p:dialog header="Aviso" widgetVar="modalAlertEArchP" modal="true"
			showEffect="fade" hideEffect="fade">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-remove"></span> Registro(s)
				eliminado(s) exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEArchP.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para la modal de guardado de Actividades de Preparación  -->
	<h:form id="fAgregarActivPrep">
		<p:dialog widgetVar="modalAgregarP" id="modalAgregarP" modal="true"
			closable="false">
			<f:facet name="header" style="background-color: black;">Preparación del sitio - agregar actividad</f:facet>
			<p:outputPanel id="pnlAgregarP">
				<p:outputLabel value="Nombre de actividad" />
				<p:outputLabel value="" for="nombreA" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="nombreA" class="form-control"
					value="#{cap2Etapas.selectedActividad.actividadNombre}" cols="50"
					rows="2" maxlength="100" counter="contador1"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false">
				</p:inputTextarea>
				<h:outputText id="contador1" />
				<p:message for="nombreA" />
				<br />
				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descripcionA" />
				<p:outputLabel value=":"  />
				<p:inputTextarea id="descripcionA" class="form-control"
					value="#{cap2Etapas.selectedActividad.actividadDescripcion}"
					cols="50" rows="3" maxlength="4000" counter="contador2"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador2" />
				<p:message for="descripcionA" />
				<!-- 				<p:messages id="mismensajes" /> -->

				<p:commandButton id="guardarAP" class="btn btn-primary"
					value="Guardar" update=":fTablaPreparacion:tabPrepa,pnlAgregarP"
					actionListener="#{cap2Etapas.agregarEtapa}" style="float: right;">
					<p:ajax process="@this" />
					<f:attribute name="tipo" value="preparacion" />
				</p:commandButton>
				<p:commandButton id="cerrarModalAP" class="btn btn-default"
					value="Cerrar" onclick="modalAgregarP.hide();" update="pnlAgregarP"
					immediate="true" style="float: right; margin-right: 5px;">
					<p:ajax process="@this" />
				</p:commandButton>
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertP" id="modalAlertP" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Registro guardado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertP.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para eliminar registros de Actividades de Preparación -->
	<h:form id="fEliminarActivPrep">
		<p:dialog header="Preparación del sitio - Eliminar actividad"
			widgetVar="eliminarActivPrep" id="eliminarActivPrep" modal="true"
			showEffect="fade" hideEffect="fade" closable="false"
			resizable="false">
			<div class="alert alert-warning">¿Realmente desea borrar la(s)
				actividad(es)?</div>
			<p:outputPanel id="multiCritAP">
				<ui:repeat value="#{cap2Etapas.activPrep_seleccionados}" var="ac">
					<h:outputText value="#{ac.actividadNombreCorto}" style="display:block" />
				</ui:repeat>
			</p:outputPanel>
			<p:outputPanel id="avisoHijosPrep">
				<h:outputLabel rendered="#{cap2Etapas.explosivosPrep eq true}">
					<div class="alert alert-danger">
						<strong>Atención</strong> Los registros que usted definió en el
						apartado de explosivos también <br /> serán eliminados de acuerdo
						a las actividades que se muestran en la lista.
					</div>
				</h:outputLabel>
			</p:outputPanel>
			<br />
			<p:commandButton value="Sí"
				action="#{cap2Etapas.eliminaActividadesPrep}"
				class="btn btn-primary" update=":fTablaPreparacion:tabPrepa"
				oncomplete="eliminarActivPrep.hide();modalAlertEP.show()"
				style="float:right;" />
			<p:commandButton type="button" value="No"
				update=":fTablaPreparacion:tabPrepa" class="btn btn-default botonEliminar"
				onclick="eliminarActivPrep.hide()" style="float:right;" />
		</p:dialog>

		<p:dialog header="Aviso" widgetVar="modalAlertEP" modal="true"
			showEffect="fade" hideEffect="fade">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-remove"></span> Registro(s)
				eliminado(s) exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEP.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para editar una Actividad de tipo Preparación -->
	<h:form id="fEditarAP">
		<p:dialog widgetVar="modalEditarAP" id="modalEditarAP" modal="true"
			closable="false">
			<f:facet name="header">
				<p:outputPanel id="formEditarHeaderAP">
					<h4 class="modal-title">Editar actividad #{cap2Etapas.rowIndexEditar}
						<!-- #{cap2Etapas.editActividad.actividadEtapaPK.actividadEtapaId} -->
					</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditarAP">
				<p:outputLabel value="Nombre de actividad"   />
				<p:outputLabel value="" for="nombreE" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="nombreE" class="form-control"
					value="#{cap2Etapas.editActividad.actividadNombre}" cols="50"
					rows="2" maxlength="100" counter="contador3"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false">
				</p:inputTextarea>
				<h:outputText id="contador3" />
				<p:message for="nombreE" />
				<br />
				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descripcionE" />
				<p:outputLabel value=":" />
				
				<p:inputTextarea id="descripcionE" class="form-control"
					value="#{cap2Etapas.editActividad.actividadDescripcion}" cols="50"
					rows="3" maxlength="4000" counter="contador4"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador4" />
				<p:message for="descripcionE" />

				<p:commandButton id="guardarEAP" value="Guardar"
					class="btn btn-primary"
					update=":fTablaPreparacion:tabPrepa,pnlEditarAP"
					action="#{cap2Etapas.editarActividadPrep}" style="float: right;" />
				<p:commandButton id="cerrarModalE" value="Cerrar"
					class="btn btn-default botonEliminar" onclick="modalEditarAP.hide()"
					update="pnlEditarAP" immediate="true"
					style="float: right;" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertEAP" id="modalAlertEAP" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Registro actualizado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEAP.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form que contiene la tabla de las Actividades de Construcción -->
	<h:form id="fTablaConstruccion">
		<h:panelGroup id="pnlVerCons"
			rendered="#{capitulo2View.verConstruccion}">
			<div id="titulo2"></div>
			<hr class="red"></hr>
			<button id='case_btn_ayuda_construccion' type="button"
				class="btn btn-default" data-toggle="tooltip"
				data-placement="bottom">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				<span class="glyphicon-class">Ayuda</span>
			</button>
			<hr></hr>
			
				<div id="botones" style="padding-bottom: 18px;">
					 <p:commandLink
						class="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha" 
						value="Agregar" 
						actionListener="#{cap2Etapas.crearActividad}"
						onsuccess="fAgregarActivCons:modalAgregarC.show()"
						update=":fAgregarActivCons:pnlAgregarC">
						<f:attribute name="tipo" value="construccion" />
						<p:ajax process="@this" />
					</p:commandLink>

				<p:commandLink
					class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
					value="Eliminar" 
					id="bEliminaC" actionListener="#{cap2Etapas.tieneActividadesConsSeleccionados}"
					disabled="#{cap2Etapas.activCons_seleccionados.size() == 0}"
					update=":fEliminarActivCons:multiCritAC :fEliminarActivCons:avisoHijosCons">
					<p:ajax process="@this" />
				</p:commandLink>
				<br />
					<br />
				</div>
			
			<!-- Tabla de Actividades, etapa CONSTRUCCIÓN -->
			<p:dataTable id="tabCons" styleClass="table table-responsive"
				value="#{cap2Etapas.actividadesConstru}" var="ac" rowIndexVar="rowIndexActC"
				selection="#{cap2Etapas.activCons_seleccionados}"
				rowKey="#{ac.actividadEtapaPK.actividadEtapaId}" paginator="true"
				paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
				<p:ajax event="toggleSelect" update=":fTablaConstruccion:bEliminaC" />
				<p:ajax event="rowSelectCheckbox"
					update=":fTablaConstruccion:bEliminaC" />
				<p:ajax event="rowUnselectCheckbox"
					update=":fTablaConstruccion:bEliminaC" />
				<p:column selectionMode="multiple" style="width:50px; text-align: center;"  />
				<p:column
					style="white-space: normal; width: 50px; text-align: center;">
					<f:facet name="header">#</f:facet>
					<!-- <h:outputText value="#{ac.actividadEtapaPK.actividadEtapaId}" />  -->
					<h:outputText value="#{rowIndexActC+1}" />
				</p:column>
				<p:column style="white-space: normal;">
					<f:facet name="header">Nombre de la actividad</f:facet>
					<h:outputText value="#{ac.actividadNombre}" />
				</p:column>
				<p:column style="white-space: normal;">
					<f:facet name="header">Descripción</f:facet>
					<h:outputText value="#{ac.actividadDescripcionCorta}" />
				</p:column>
				<p:column style="white-space: normal; text-align:center; width:80px">
					<f:facet name="header" />
					<p:commandButton
						class="btn btn-default btn-xs glyphicon glyphicon-pencil" value=""
						action="#{cap2Etapas.consultarActividadCons}"
						onclick="modalEditarAC.show()" immediate="true"
						update=":fEditarAC:pnlEditarAC :fEditarAC:formEditarHeaderAC">
						<p:ajax process="@this" />
						<f:param name="pRowIndexActC" value="#{rowIndexActC+1}" />
						<f:param name="id" value="#{ac.actividadEtapaPK.actividadEtapaId}" />
						<p:resetInput target=":fEditarAC:pnlEditarAC" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:panelGroup>
	</h:form>

	<h:form id="fArchCons">
		<h:panelGroup id="pnlVerArchCons"
			rendered="#{capitulo2View.verConstruccion}">
			<div id="botones" style="padding-bottom: 18px;">
				<p:commandLink
					value="Agregar" 
				    class="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha" 
					action="#{cap2Etapas.iniciarArchivo}"
					oncomplete="modalSubirArchivoCons.show()"
					update=":archivosCons:pnlArchC">
					<f:param name="id" value="2" />
					<p:ajax process="@this" />
				</p:commandLink>				
				<p:commandLink id="bEliminaArchC"
					class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
				    value="Eliminar" 
					actionListener="#{cap2Etapas.tieneArchivosConsSeleccionados}"
					disabled="#{cap2Etapas.archivosCons_seleccionados.size() == 0}"
					update=":fEliminarArchCons:multiCritArchC">
					<p:ajax process="@this" />
				</p:commandLink>
			</div>
			
			<!-- Tabla de Adjuntos, etapa CONSTRUCCIÓN -->
			<h3>Adjuntos</h3>
			<div class="form-group">
				<p:dataTable id="tabConsArch" styleClass="table table-responsive"
					value="#{cap2Etapas.archivosConstru}" var="archC" rowIndexVar="rowIndex"
					selection="#{cap2Etapas.archivosCons_seleccionados}"
					rowKey="#{archC.id}" paginator="true" paginatorPosition="bottom"
					rows="10" emptyMessage="Sin archivos adjuntos.">
					<p:ajax event="toggleSelect" update=":fArchCons:bEliminaArchC" />
					<p:ajax event="rowSelectCheckbox" update=":fArchCons:bEliminaArchC" />
					<p:ajax event="rowUnselectCheckbox"
						update=":fArchCons:bEliminaArchC" />
					<p:column selectionMode="multiple" style="width:50px"  />
					<p:column
						style="white-space: normal; width: 50px; text-align: center;">
						<f:facet name="header">#</f:facet>
						<!-- <h:outputText value="#{archC.id}" /> -->
						<h:outputText value="#{rowIndex+1}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Nombre</f:facet>
						<h:outputText value="#{archC.nombre}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Descripción</f:facet>
						<h:outputText value="#{archC.descripcion}" />
					</p:column>
					<p:column style="white-space: normal; text-align:center; width:100px">
						<f:facet name="header"></f:facet>
						<p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
						          onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archC.seqId}'); return false;"/>						
					</p:column>
					<p:column style="white-space: normal; text-align:center; width:100px">
						<f:facet name="header" />
						<p:commandButton
							class="btn btn-default btn-xs glyphicon glyphicon-pencil"
							value="" action="#{cap2Etapas.consultarArchivoCons}"
							onclick="modalEditarArchC.show()"
							update=":fEditarArchC:pnlEditarArchC :fEditarArchC:formEditarHeaderArchC">
							<p:ajax process="@this" />
							<f:param name="pRowIndex" value="#{rowIndex+1}" />
							<f:param name="id" value="#{archC.id}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</div>
		</h:panelGroup>
	</h:form>

	<!-- MODAL PARA SUBIR ARCHIVOS CONSTRUCCIÓN-->
	<h:form id="archivosCons">
		<p:dialog header="Agregar archivo construcción" draggable="false"
			widgetVar="modalSubirArchivoCons" id="dlgSubirArchivoCons"
			modal="true" closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">
			<p:outputPanel id="pnlArchC">
				<p:outputLabel value="Nombre" />
				<p:outputLabel value="" for="txtNombreArchivoC" />
				<p:outputLabel value=":" />
				
				<p:inputText id="txtNombreArchivoC"
					value="#{cap2Etapas.archivoTemporal.nombre}" style="width:100%;"
					required="true" requiredMessage="Este campo es obligatorio"
					maxlength="50">
				</p:inputText>
				<p:message for="txtNombreArchivoC" />
				<br />
				
				<p:outputLabel value="Descripción"/>
				<p:outputLabel value="" for="txtDescripcionArchivoC" />
				<p:outputLabel value=":"/>
				<p:inputTextarea id="txtDescripcionArchivoC" class="form-control"
					value="#{cap2Etapas.archivoTemporal.descripcion}" cols="50"
					rows="3" maxlength="200" counter="descountC"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false">
				</p:inputTextarea>
				<h:outputText id="descountC" />
				<br />
				<p:message for="txtDescripcionArchivoC" />
				<br/>
				
				<p:outputLabel id="lblReservadoArchivoC" value="Reservado:" />
				<p:selectBooleanCheckbox value="#{cap2Etapas.cargaBean.reservado}">
				</p:selectBooleanCheckbox>
				<br />
				
				<p:outputLabel value="Cargar archivo"/>
				<p:outputLabel value="" for="seleArchC" />
				<p:outputLabel value=":" />
				<br />								
				
				<h:panelGrid columns="2" style="width: 100%">
	                <p:fileUpload mode="advanced" id="seleArchC" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
	                  	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
		                fileUploadListener="#{cap2Etapas.cargaBean.handleFileUpload}"	                                  
		                sizeLimit="10485760" 
		                label="Seleccionar archivo"                                 
		                invalidSizeMessage="El tamaño del archivo es demasiado grande"
		                invalidFileMessage="Tipo de archivo invalido"
		                allowTypes="/(\.|\/)(pdf|doc|docx|jpg|jpeg|gif|png|xls|xlsx|dwg)$/" update="lblCargaArchivoAnexo"
		                required="true" requiredMessage="No seleccionó el archivo." 
		                auto="true" style="width: 100%"/>	
		                
			            <c:if test="#{empty cap2Etapas.cargaBean.file.fileName}">
							<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
			            </c:if>		    
			                
			            <c:if test="#{not empty cap2Etapas.cargaBean.file.fileName}">
							<p:outputLabel id="lblCargaArchivoAnexo" value="#{cap2Etapas.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
			            </c:if>            
				</h:panelGrid>				
				<br/>
				
				<p:outputLabel id="msjValida" value="#{cap2Etapas.msj}" style="color:#B40431" />
				
				<div id="divExtensiones" class="alert alert-info">
					<p:outputLabel value="Extensiones permitidas: (pdf/doc/docx/jpg/jpeg/gif/png/xls/xlsx/dwg)"/>
					<br/>
											
					<p:outputLabel value="El tamaño límite es de 10MB"/>					
				</div>
				<br/>

				<p:commandButton id="btnGuardarModalArchivoC"
					class="btn btn-primary" value="Guardar" oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  	$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
					update=":fArchCons:tabConsArch,pnlArchC"
					actionListener="#{cap2Etapas.guardarArchivo}" validateClient="true"
					style="float: right;">
					<f:attribute name="tipo" value="construccion" />
				</p:commandButton>
				
				<p:commandButton id="btnCerrarModalArchivoC" class="btn btn-default botonEliminar"
					value="Cerrar" onclick="modalSubirArchivoCons.hide();"
					update="pnlArchC" process="@this" style="float: right;" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertArchC" id="modalAlertArchC"
			header="Aviso" modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Archivo guardado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertArchC.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para editar un Archivo de tipo Construcción -->
	<h:form id="fEditarArchC">
		<p:dialog widgetVar="modalEditarArchC" id="modalEditarArchC"
			modal="true" closable="false">
			<f:facet name="header">
				<p:outputPanel id="formEditarHeaderArchC">
					<h4 class="modal-title">Editar archivo construcción
						#{cap2Etapas.indexRow}</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditarArchC">
				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descripcionArchEC" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="descripcionArchEC" class="form-control"
					value="#{cap2Etapas.archivoEdicion.descripcion}" cols="50" rows="3"
					maxlength="200" counter="contaC"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contaC" />
				<p:message for="descripcionArchEC" />

				<p:commandButton id="guardarEArchC" value="Guardar"
					class="btn btn-primary"
					update=":fArchCons:tabConsArch,pnlEditarArchC"
					action="#{cap2Etapas.editarArchivoCons}" style="float: right;" />
				<p:commandButton id="cerrarModalEC" value="Cerrar"
					class="btn btn-default botonEliminar" onclick="modalEditarArchC.hide()"
					update="pnlEditarArchC" immediate="true"
					style="float: right; margin-rigth: 5px;" />
			</p:outputPanel>
		</p:dialog>
		<p:dialog widgetVar="modalAlertEdArchC" id="modalAlertEdArchC"
			header="Aviso" modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Archivo actualizado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEdArchC.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para eliminar archivos de Actividades de Construcción -->
	<h:form id="fEliminarArchCons">
		<p:dialog header="Construcción - Eliminar archivo"
			widgetVar="eliminarArchCons" id="eliminarArchCons" modal="true"
			showEffect="fade" hideEffect="fade" closable="false"
			resizable="false">
			<div class="alert alert-warning">¿Realmente desea borrar el/los
				archivo(s)?</div>
			<p:outputPanel id="multiCritArchC">
				<ui:repeat value="#{cap2Etapas.archivosCons_seleccionados}" var="ar">
					<h:outputText value="#{ar.nombre}" style="display:block" />
				</ui:repeat>
			</p:outputPanel>
			<p:commandButton value="Sí"
				action="#{cap2Etapas.eliminaArchivosCons}" class="btn btn-primary"
				update=":fArchCons:tabConsArch, :fArchCons:bEliminaArchC"
				oncomplete="eliminarArchCons.hide();modalAlertEArchC.show()"
				style="float:right;" />
			<p:commandButton type="button" value="No"
				update=":fArchCons:tabConsArch" class="btn btn-default botonEliminar"
				onclick="eliminarArchCons.hide()" style="float:right;" />
		</p:dialog>

		<p:dialog header="Aviso" widgetVar="modalAlertEArchC" modal="true"
			showEffect="fade" hideEffect="fade">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-remove"></span> Registro(s)
				eliminado(s) exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEArchC.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para la modal de guardado de Actividades de Construcción  -->
	<h:form id="fAgregarActivCons">
		<p:dialog widgetVar="modalAgregarC" id="modalAgregarC" modal="true"
			closable="false">
			<f:facet name="header" style="background-color: black;">Construcción - agregar actividad</f:facet>
			<p:outputPanel id="pnlAgregarC">
				<p:outputLabel value="Nombre de actividad" />
				<p:outputLabel value="" for="nombreAC" />
				<p:outputLabel value=":"  />
				<br />
				<p:inputTextarea id="nombreAC" class="form-control"
					value="#{cap2Etapas.selectedActividad.actividadNombre}" cols="50"
					rows="2" maxlength="100" counter="contador1C"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false">
				</p:inputTextarea>
				<h:outputText id="contador1C" />
				<p:message for="nombreAC" />
				<br />
				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descripcionAC" />
				<p:outputLabel value=":"  />
				<p:inputTextarea id="descripcionAC" class="form-control"
					value="#{cap2Etapas.selectedActividad.actividadDescripcion}"
					cols="50" rows="3" maxlength="4000" counter="contador2C"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador2C" />
				<p:message for="descripcionAC" />

				<p:commandButton id="guardarAC" class="btn btn-primary"
					value="Guardar" update=":fTablaConstruccion:tabCons,pnlAgregarC"
					actionListener="#{cap2Etapas.agregarEtapa}" style="float: right;">
					<f:attribute name="tipo" value="construccion" />
				</p:commandButton>
				<p:commandButton id="cerrarModalAC" class="btn btn-default"
					value="Cerrar" onclick="modalAgregarC.hide();" update="pnlAgregarC"
					immediate="true" style="float: right; margin-right: 5px;" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertC" id="modalAlertC" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Registro guardado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertC.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para eliminar registros de Actividades de Construcción -->
	<h:form id="fEliminarActivCons">
		<p:dialog header="Construcción - Eliminar actividad"
			widgetVar="eliminarActivCons" id="eliminarActivCons" modal="true"
			showEffect="fade" hideEffect="fade" closable="false"
			resizable="false">
			<div class="alert alert-warning">¿Realmente desea borrar la(s) actividad(es)?</div>
			<p:outputPanel id="multiCritAC">
				<ui:repeat value="#{cap2Etapas.activCons_seleccionados}" var="ac">
					<h:outputText value="#{ac.actividadNombreCorto}" style="display:block" />
				</ui:repeat>
			</p:outputPanel>
			<p:outputPanel id="avisoHijosCons">
				<h:outputLabel rendered="#{cap2Etapas.explosivosCons eq true}">
					<div class="alert alert-danger">
						<strong>Atención</strong> Los registros que usted definió en el
						apartado de explosivos también <br /> serán eliminados de acuerdo
						a las actividades que se muestran en la lista.
					</div>
				</h:outputLabel>
			</p:outputPanel>
			<br />
			<p:commandButton value="Sí"
				action="#{cap2Etapas.eliminaActividadesCons}"
				class="btn btn-primary" update=":fTablaConstruccion:tabCons"
				oncomplete="eliminarActivCons.hide();modalAlertEC.show()"
				style="float:right;" />
			<p:commandButton type="button" value="No"
				update=":fTablaConstruccion:tabCons" class="btn btn-default botonEliminar"
				onclick="eliminarActivCons.hide()" style="float:right;" />
		</p:dialog>

		<p:dialog header="Aviso" widgetVar="modalAlertEC" modal="true"
			showEffect="fade" hideEffect="fade">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-remove"></span> Registro(s)
				eliminado(s) exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEC.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para editar una Actividad de tipo Construcción -->
	<h:form id="fEditarAC">
		<p:dialog widgetVar="modalEditarAC" id="modalEditarAC" modal="true"
			closable="false">
			<f:facet name="header">
				<p:outputPanel id="formEditarHeaderAC">
					<h4 class="modal-title">Editar actividad #{cap2Etapas.rowIndexEditar}
						<!-- #{cap2Etapas.editActividad.actividadEtapaPK.actividadEtapaId} -->
					</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditarAC">
				<p:outputLabel value="Nombre de actividad"  />
				<p:outputLabel value="" for="nombreEC" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="nombreEC" class="form-control"
					value="#{cap2Etapas.editActividad.actividadNombre}" cols="50"
					rows="2" maxlength="100" counter="contador3C"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false">
				</p:inputTextarea>
				<h:outputText id="contador3C" />
				<p:message for="nombreEC" />
				<br />
				<p:outputLabel value="Descripción"   />
				<p:outputLabel value="" for="descripcionEC" />
				<p:outputLabel value=" :"   />
				<p:inputTextarea id="descripcionEC" class="form-control"
					value="#{cap2Etapas.editActividad.actividadDescripcion}" cols="50"
					rows="3" maxlength="4000" counter="contador4C"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador4C" />
				<p:message for="descripcionEC" />

				<p:commandButton id="guardarEAC" value="Guardar"
					class="btn btn-primary"
					update=":fTablaConstruccion:tabCons,pnlEditarAC"
					action="#{cap2Etapas.editarActividadCons}" style="float: right;" />
				<p:commandButton id="cerrarModalEC" value="Cerrar"
					class="btn btn-default botonEliminar" onclick="modalEditarAC.hide()"
					update="pnlEditarAC" immediate="true"
					style="float: right;" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertEAC" id="modalAlertEAC" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Registro actualizado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEAC.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form que contiene la tabla de las Actividades de Operación -->
	<h:form id="fTablaOperacion">
		<h:panelGroup id="pnlVerOper" rendered="#{capitulo2View.verOperacion}">
			<div id="titulo3"></div>
			<hr class="red"></hr>
			<button id='case_btn_ayuda_operacion' type="button"
				class="btn btn-default" data-toggle="tooltip"
				data-placement="bottom">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				<span class="glyphicon-class">Ayuda</span>
			</button>
			<hr></hr>
			  <div id="botones" style="padding-bottom: 18px;">
				<p:commandLink
					value="Agregar" 
					class="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"   
					actionListener="#{cap2Etapas.crearActividad}"
					onsuccess="fAgregarActivOper:modalAgregarO.show()"
					update=":fAgregarActivOper:pnlAgregarO">
					<f:attribute name="tipo" value="operacion" />
					<p:ajax process="@this" />
				</p:commandLink>
				<p:commandLink
					class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
					value="Eliminar" 
					id="bEliminaO" 
					actionListener="#{cap2Etapas.tieneActividadesOperSeleccionados}"
					disabled="#{cap2Etapas.activOper_seleccionados.size() == 0}"
					update=":fEliminarActivOper:multiCritAO :fEliminarActivOper:avisoHijosOper">
					<p:ajax process="@this" />
				</p:commandLink>
				<br />
			    <br />
				</div>
			

			<!-- Tabla de Actividades, etapa OPERACIÓN Y MANTENIMIENTO -->
			<p:dataTable id="tabOper" styleClass="table table-responsive"
				value="#{cap2Etapas.actividadesOperaci}" var="ac" rowIndexVar="rowIndexActOM"
				selection="#{cap2Etapas.activOper_seleccionados}"
				rowKey="#{ac.actividadEtapaPK.actividadEtapaId}" paginator="true"
				paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
				<p:ajax event="toggleSelect" update=":fTablaOperacion:bEliminaO" />
				<p:ajax event="rowSelectCheckbox"
					update=":fTablaOperacion:bEliminaO" />
				<p:ajax event="rowUnselectCheckbox"
					update=":fTablaOperacion:bEliminaO" />
				<p:column selectionMode="multiple" style="width:50px; text-align: center;"  />
				<p:column
					style="white-space: normal; width: 50px; text-align: left;">
					<f:facet name="header">#</f:facet>
					<!-- <h:outputText value="#{ac.actividadEtapaPK.actividadEtapaId}" /> -->
					<h:outputText value="#{rowIndexActOM+1}" />
				</p:column>
				<p:column style="white-space: normal;">
					<f:facet name="header">Nombre de la actividad</f:facet>
					<h:outputText value="#{ac.actividadNombre}" />
				</p:column>
				<p:column style="white-space: normal;">
					<f:facet name="header">Descripción</f:facet>
					<h:outputText value="#{ac.actividadDescripcionCorta}" />
				</p:column>
				<p:column style="white-space: normal; text-align:center; width:80px">
					<f:facet name="header" />
					<p:commandButton
						class="btn btn-default btn-xs glyphicon glyphicon-pencil" value=""
						action="#{cap2Etapas.consultarActividadOper}"
						onclick="modalEditarAO.show()" immediate="true"
						update=":fEditarAO:pnlEditarAO :fEditarAO:formEditarHeaderAO">
						<p:ajax process="@this" />
						<f:param name="pRowIndexActOM" value="#{rowIndexActOM+1}" />
						<f:param name="id" value="#{ac.actividadEtapaPK.actividadEtapaId}" />
						<p:resetInput target=":fEditarAO:pnlEditarAO" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:panelGroup>
	</h:form>

	<h:form id="fArchOper">
		<h:panelGroup id="pnlVerArchOper" rendered="#{capitulo2View.verOperacion}">
		
		     <div id="botones" style="padding-bottom: 18px;">		
					<p:commandLink 
						value="Agregar" 
						class="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha" 
						action="#{cap2Etapas.iniciarArchivo}"
						oncomplete="modalSubirArchivoOper.show()"
						update=":archivosOper:pnlArchO">
						<f:param name="id" value="3" />
						<p:ajax process="@this" />
					</p:commandLink >
					<p:commandLink  id="bEliminaArchO"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar" 
						actionListener="#{cap2Etapas.tieneArchivosOperSeleccionados}"
						disabled="#{cap2Etapas.archivosOper_seleccionados.size() == 0 || cap2Etapas.archivosOperaci.size() == 0}"
						update=":fEliminarArchOper:multiCritArchO">
						<p:ajax process="@this" />
					</p:commandLink >
				</div>
					
			<!-- Tabla de Adjuntos, etapa OPERACIÓN Y MANTENIMIENTO -->
			<h3>Adjuntos</h3>
			<div class="form-group">
				<p:dataTable id="tabOperArch" styleClass="table table-responsive"
					value="#{cap2Etapas.archivosOperaci}" var="archO" rowIndexVar="rowIndex"
					selection="#{cap2Etapas.archivosOper_seleccionados}"
					rowKey="#{archO.id}" paginator="true" paginatorPosition="bottom"
					rows="10" emptyMessage="Sin archivos adjuntos.">
					<p:ajax event="toggleSelect" update=":fArchOper:bEliminaArchO" />
					<p:ajax event="rowSelectCheckbox" update=":fArchOper:bEliminaArchO" />
					<p:ajax event="rowUnselectCheckbox"
						update=":fArchOper:bEliminaArchO" />
					<p:column selectionMode="multiple" style="width:50px"  />
					<p:column
						style="white-space: normal; width: 50px; text-align: center;">
						<f:facet name="header">#</f:facet>
						<!-- <h:outputText value="#{archO.id}" /> -->
						<h:outputText value="#{rowIndex+1}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Nombre</f:facet>
						<h:outputText value="#{archO.nombre}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Descripción</f:facet>
						<h:outputText value="#{archO.descripcion}" />
					</p:column>
					<p:column style="white-space: normal; text-align:center; width:100px">
						<f:facet name="header"></f:facet>
						<p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
						          onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archO.seqId}'); return false;"/>						

					</p:column>
					<p:column style="white-space: normal; text-align:center; width:100px">
						<f:facet name="header" />
						<p:commandButton
							class="btn btn-default btn-xs glyphicon glyphicon-pencil"
							value="" action="#{cap2Etapas.consultarArchivoOper}"
							onclick="modalEditarArchO.show()"
							update=":fEditarArchO:pnlEditarArchO :fEditarArchO:formEditarHeaderArchO">
							<p:ajax process="@this" />
							<f:param name="pRowIndex" value="#{rowIndex+1}" />
							<f:param name="id" value="#{archO.id}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</div>
		</h:panelGroup>
	</h:form>

	<!-- MODAL PARA SUBIR ARCHIVOS OPERACIÓN -->
	<h:form id="archivosOper">
		<p:dialog header="Agregar archivo operación" draggable="false"
			widgetVar="modalSubirArchivoOper" id="dlgSubirArchivoOper"
			modal="true" closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">
			<p:outputPanel id="pnlArchO">
				<p:outputLabel value="Nombre" />
				<p:outputLabel value="" for="txtNombreArchivoO" />
				<p:outputLabel value=":" />
				
				<p:inputText id="txtNombreArchivoO"
					value="#{cap2Etapas.archivoTemporal.nombre}" style="width:100%;"
					required="true" requiredMessage="Este campo es obligatorio"
					maxlength="50">
				</p:inputText>
				<p:message for="txtNombreArchivoO" />
				<br />
				
				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="txtDescripcionArchivoO" />
				<p:outputLabel value=":"  />
				
				<p:inputTextarea id="txtDescripcionArchivoO" class="form-control"
					value="#{cap2Etapas.archivoTemporal.descripcion}" cols="50"
					rows="3" maxlength="200" counter="descountO"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false">
				</p:inputTextarea>
				<h:outputText id="descountO" />
				<p:message for="txtDescripcionArchivoO" />
				<br />
				
				<p:outputLabel id="lblReservadoArchivoO" value="Reservado:" />
				<p:selectBooleanCheckbox value="#{cap2Etapas.cargaBean.reservado}">
				</p:selectBooleanCheckbox>
				<br />				
				<br/>
				
				<p:outputLabel value="Cargar archivo"/>
				<p:outputLabel value="" for="seleArchO" />
				<p:outputLabel value=":" />
				<br />			
				
				<h:panelGrid columns="2" style="width: 100%">
	                <p:fileUpload mode="advanced" id="seleArchO" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
	                  	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
		                fileUploadListener="#{cap2Etapas.cargaBean.handleFileUpload}"	                                  
		                sizeLimit="10485760" 
		                label="Seleccionar archivo"                                 
		                invalidSizeMessage="El tamaño del archivo es demasiado grande"
		                invalidFileMessage="Tipo de archivo invalido"
		                allowTypes="/(\.|\/)(pdf|doc|docx|jpg|jpeg|gif|png|xls|xlsx|dwg)$/" update="lblCargaArchivoAnexo"
		                required="true" requiredMessage="No seleccionó el archivo." 
		                auto="true" style="width: 100%"/>	
		                
			            <c:if test="#{empty cap2Etapas.cargaBean.file.fileName}">
							<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
			            </c:if>		    
			                
			            <c:if test="#{not empty cap2Etapas.cargaBean.file.fileName}">
							<p:outputLabel id="lblCargaArchivoAnexo" value="#{cap2Etapas.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
			            </c:if>            
				</h:panelGrid>				


				<p:outputLabel id="msjValida" value="#{cap2Etapas.msj}" style="color:#B40431" />				
				<div id="divExtensiones" class="alert alert-info">
					<p:outputLabel value="Extensiones permitidas: (pdf/doc/docx/jpg/jpeg/gif/png/xls/xlsx/dwg)"/>
					<br/>
											
					<p:outputLabel value="El tamaño límite es de 10MB"/>					
				</div>
				<br/>

				<p:commandButton id="btnGuardarModalArchivoO"
					class="btn btn-primary" value="Guardar" oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  	$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
					update=":fArchOper:tabOperArch,pnlArchO"
					actionListener="#{cap2Etapas.guardarArchivo}" validateClient="true"
					style="float: right;">
					<f:attribute name="tipo" value="operacion" />
				</p:commandButton>
				
				<p:commandButton id="btnCerrarModalArchivoO" class="btn btn-default botonEliminar"
					value="Cerrar" onclick="modalSubirArchivoOper.hide();"
					update="pnlArchO" process="@this" style="float: right;" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertArchO" id="modalAlertArchO"
			header="Aviso" modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Archivo guardado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertArchO.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para editar un Archivo de tipo Operación -->
	<h:form id="fEditarArchO">
		<p:dialog widgetVar="modalEditarArchO" id="modalEditarArchO"
			modal="true" closable="false">
			<f:facet name="header">
				<p:outputPanel id="formEditarHeaderArchO">
					<h4 class="modal-title">Editar archivo operación
						#{cap2Etapas.indexRow}</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditarArchO">
				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descripcionArchEO" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="descripcionArchEO" class="form-control"
					value="#{cap2Etapas.archivoEdicion.descripcion}" cols="50" rows="3"
					maxlength="200" counter="contaO"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contaO" />
				<p:message for="descripcionArchEO" />

				<p:commandButton id="guardarEArchO" value="Guardar"
					class="btn btn-primary"
					update=":fArchOper:tabOperArch,pnlEditarArchO"
					action="#{cap2Etapas.editarArchivoOper}" style="float: right;" />
				<p:commandButton id="cerrarModalEO" value="Cerrar"
					class="btn btn-default" onclick="modalEditarArchO.hide()"
					update="pnlEditarArchO" immediate="true"
					style="float: right; margin-rigth: 5px;" />
			</p:outputPanel>
		</p:dialog>
		<p:dialog widgetVar="modalAlertEdArchO" id="modalAlertEdArchO"
			header="Aviso" modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Archivo actualizado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEdArchO.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para eliminar archivos de Actividades de Operación -->
	<h:form id="fEliminarArchOper">
		<p:dialog header="Operación y mantenimiento - Eliminar archivo"
			widgetVar="eliminarArchOper" id="eliminarArchOper" modal="true"
			showEffect="fade" hideEffect="fade" closable="false"
			resizable="false">
			<div class="alert alert-warning">¿Realmente desea borrar el/los
				archivo(s)?</div>
			<p:outputPanel id="multiCritArchO">
				<ui:repeat value="#{cap2Etapas.archivosOper_seleccionados}" var="ar">
					<h:outputText value="#{ar.nombre}" style="display:block" />
				</ui:repeat>
			</p:outputPanel>
			<p:commandButton value="Sí"
				action="#{cap2Etapas.eliminaArchivosOper}" class="btn btn-primary"
				update=":fArchOper:tabOperArch, :fArchOper:bEliminaArchO"
				oncomplete="eliminarArchOper.hide();modalAlertEArchO.show()"
				style="float:right;" />
			<p:commandButton type="button" value="No"
				update=":fArchOper:tabOperArch" class="btn btn-default botonEliminar"
				onclick="eliminarArchOper.hide()" style="float:right;" />
		</p:dialog>

		<p:dialog header="Aviso" widgetVar="modalAlertEArchO" modal="true"
			showEffect="fade" hideEffect="fade">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-remove"></span> Registro(s)
				eliminado(s) exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEArchO.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para la modal de guardado de Actividades de Operación  -->
	<h:form id="fAgregarActivOper">
		<p:dialog widgetVar="modalAgregarO" id="modalAgregarO" modal="true"
			closable="false">
			<f:facet name="header" style="background-color: black;">Operación y mantenimiento - agregar actividad</f:facet>
			<p:outputPanel id="pnlAgregarO">
				<p:outputLabel value="Nombre de actividad" />
				<p:outputLabel value="" for="nombreAO" />
				<p:outputLabel value=":"  />
				<br />
				<p:inputTextarea id="nombreAO" class="form-control"
					value="#{cap2Etapas.selectedActividad.actividadNombre}" cols="50"
					rows="2" maxlength="100" counter="contador1O"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false">
				</p:inputTextarea>
				<h:outputText id="contador1O" />
				<p:message for="nombreAO" />
				<br />
				<p:outputLabel value="Descripción"   />
				<p:outputLabel value="" for="descripcionAO" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="descripcionAO" class="form-control"
					value="#{cap2Etapas.selectedActividad.actividadDescripcion}"
					cols="50" rows="3" maxlength="4000" counter="contador2O"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador2O" />
				<p:message for="descripcionAO" />

				<p:commandButton id="guardarAO" class="btn btn-primary"
					value="Guardar" update=":fTablaOperacion:tabOper,pnlAgregarO"
					actionListener="#{cap2Etapas.agregarEtapa}" style="float: right;">
					<f:attribute name="tipo" value="operacion" />
				</p:commandButton>
				<p:commandButton id="cerrarModalAO" class="btn btn-default"
					value="Cerrar" onclick="modalAgregarO.hide();" update="pnlAgregarO"
					immediate="true" style="float: right; margin-right: 5px;" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertO" id="modalAlertO" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Registro guardado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertO.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para eliminar registros de Actividades de Operación -->
	<h:form id="fEliminarActivOper">
		<p:dialog header="Operación y mantenimiento - Eliminar actividad"
			widgetVar="eliminarActivOper" id="eliminarActivOper" modal="true"
			showEffect="fade" hideEffect="fade" closable="false"
			resizable="false">
			<div class="alert alert-warning">¿Realmente desea borrar la(s)
				actividad(es)?</div>
			<p:outputPanel id="multiCritAO">
				<ui:repeat value="#{cap2Etapas.activOper_seleccionados}" var="ac">
					<h:outputText value="#{ac.actividadNombreCorto}" style="display:block" />
				</ui:repeat>
			</p:outputPanel>
			<p:outputPanel id="avisoHijosOper">
				<h:outputLabel rendered="#{cap2Etapas.explosivosOper eq true}">
					<div class="alert alert-danger">
						<strong>Atención</strong> Los registros que usted definió en el
						apartado de explosivos también <br /> serán eliminados de acuerdo
						a las actividades que se muestran en la lista.
					</div>
				</h:outputLabel>
			</p:outputPanel>
			<br />
			<p:commandButton value="Sí"
				action="#{cap2Etapas.eliminaActividadesOper}"
				class="btn btn-primary" update=":fTablaOperacion:tabOper"
				oncomplete="eliminarActivOper.hide();modalAlertEO.show()"
				style="float:right;" />
			<p:commandButton type="button" value="No"
				update=":fTablaOperacion:tabOper" class="btn btn-default botonEliminar"
				onclick="eliminarActivOper.hide()" style="float:right;" />
		</p:dialog>

		<p:dialog header="Aviso" widgetVar="modalAlertEO" modal="true"
			showEffect="fade" hideEffect="fade">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-remove"></span> Registro(s)
				eliminado(s) exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEO.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para editar una Actividad de tipo Operación -->
	<h:form id="fEditarAO">
		<p:dialog widgetVar="modalEditarAO" id="modalEditarAO" modal="true"
			closable="false">
			<f:facet name="header">
				<p:outputPanel id="formEditarHeaderAO">
					<h4 class="modal-title">Editar actividad #{cap2Etapas.rowIndexEditar}
						<!-- #{cap2Etapas.editActividad.actividadEtapaPK.actividadEtapaId} -->
					</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditarAO">
				<p:outputLabel value="Nombre de Actividad" />
				<p:outputLabel value="" for="nombreEO" />
				<p:outputLabel value=":"  />
				<br />
				<p:inputTextarea id="nombreEO" class="form-control"
					value="#{cap2Etapas.editActividad.actividadNombre}" cols="50"
					rows="2" maxlength="100" counter="contador3O"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false">
				</p:inputTextarea>
				<h:outputText id="contador3O" />
				<p:message for="nombreEO" />
				<br />
				<p:outputLabel value="Descripción"/>
				<p:outputLabel value="" for="descripcionEO" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="descripcionEO" class="form-control"
					value="#{cap2Etapas.editActividad.actividadDescripcion}" cols="50"
					rows="3" maxlength="4000" counter="contador4O"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador4O" />
				<p:message for="descripcionEO" />

				<p:commandButton id="guardarEAO" value="Guardar"
					class="btn btn-primary"
					update=":fTablaOperacion:tabOper,pnlEditarAO"
					action="#{cap2Etapas.editarActividadOper}" style="float: right;" />
				<p:commandButton id="cerrarModalEO" value="Cerrar"
					class="btn btn-default botonEliminar" onclick="modalEditarAO.hide()"
					update="pnlEditarAO" immediate="true"
					style="float: right;" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertEAO" id="modalAlertEAO" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Registro actualizado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEAO.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form que contiene la tabla de las Actividades de Abandono -->
	<h:form id="fTablaAbandono">
		<h:panelGroup id="pnlVerPrep" rendered="#{capitulo2View.verAbandono}">
			<div id="titulo4"></div>
			<hr class="red"></hr>
			<button id='case_btn_ayuda_abandono' type="button"
				class="btn btn-default" data-toggle="tooltip"
				data-placement="bottom">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				<span class="glyphicon-class">Ayuda</span>
			</button>
			<hr></hr>
			 	<div id="botones" style="padding-bottom: 18px;">
					<p:commandLink
						value="Agregar" 
						class="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha" 
						actionListener="#{cap2Etapas.crearActividad}"
						onsuccess="fAgregarActivAban:modalAgregarA.show()"
						update=":fAgregarActivAban:pnlAgregarA">
						<f:attribute name="tipo" value="abandono" />
						<p:ajax process="@this" />
					</p:commandLink>
					<p:commandLink
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar" 
						id="bEliminaA"  
						actionListener="#{cap2Etapas.tieneActividadesAbanSeleccionados}"
						disabled="#{cap2Etapas.activAban_seleccionados.size() == 0}"
						update=":fEliminarActivAban:multiCritAA :fEliminarActivAban:avisoHijosAban">
						<p:ajax process="@this" />
					</p:commandLink>
					<br />
					<br />
					</div>


			<!-- Tabla de Actividades, etapa ABANDONO -->
			<p:dataTable id="tabAban" styleClass="table table-responsive"
				value="#{cap2Etapas.actividadesAbandon}" var="ac" rowIndexVar="rowIndexActA"
				selection="#{cap2Etapas.activAban_seleccionados}"
				rowKey="#{ac.actividadEtapaPK.actividadEtapaId}" paginator="true"
				paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
				<p:ajax event="toggleSelect" update=":fTablaAbandono:bEliminaA" />
				<p:ajax event="rowSelectCheckbox" update=":fTablaAbandono:bEliminaA" />
				<p:ajax event="rowUnselectCheckbox"
					update=":fTablaAbandono:bEliminaA" />
				<p:column selectionMode="multiple" style="width:50px; text-align: center;"  />
				<p:column
					style="white-space: normal; width: 50px; text-align: left;">
					<f:facet name="header">#</f:facet>
					<!-- <h:outputText value="#{ac.actividadEtapaPK.actividadEtapaId}" /> -->
					<h:outputText value="#{rowIndexActA+1}" />
				</p:column>
				<p:column style="white-space: normal;">
					<f:facet name="header">Nombre de la actividad</f:facet>
					<h:outputText value="#{ac.actividadNombre}" />
				</p:column>
				<p:column style="white-space: normal;">
					<f:facet name="header">Descripción</f:facet>
					<h:outputText value="#{ac.actividadDescripcionCorta}" />
				</p:column>
				<p:column style="white-space: normal; text-align:center; width:80px">
					<f:facet name="header" />
					<p:commandButton
						class="btn btn-default btn-xs glyphicon glyphicon-pencil" value=""
						action="#{cap2Etapas.consultarActividadAban}"
						onclick="modalEditarAA.show()" immediate="true"
						update=":fEditarAA:pnlEditarAA :fEditarAA:formEditarHeaderAA">
						<p:ajax process="@this" />
						<f:param name="pRowIndexActA" value="#{rowIndexActA+1}" />
						<f:param name="id" value="#{ac.actividadEtapaPK.actividadEtapaId}" />
						<p:resetInput target=":fEditarAA:pnlEditarAA" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:panelGroup>
	</h:form>

	<h:form id="fArchAban">
		<h:panelGroup id="pnlVerArchPrep" rendered="#{capitulo2View.verAbandono}">
		   <div id="botones" style="padding-bottom: 18px;">
					<p:commandLink
					    value="Agregar" 
						class="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						
					    action="#{cap2Etapas.iniciarArchivo}"
						oncomplete="modalSubirArchivoAban.show()"
						update=":archivosAban:pnlArchA">
						<f:param name="id" value="4" />
						<p:ajax process="@this" />
					</p:commandLink>
					<p:commandLink id="bEliminaArchA"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar" 
						actionListener="#{cap2Etapas.tieneArchivosAbanSeleccionados}"
						disabled="#{cap2Etapas.archivosAban_seleccionados.size() == 0 || cap2Etapas.archivosAbandon.size() == 0}"
						update=":fEliminarArchAban:multiCritArchA">
						<p:ajax process="@this" />
					</p:commandLink>
			</div>
			
			<!-- Tabla de Adjuntos, etapa ABANDONO -->		
			<h3>Adjuntos</h3>
			<div class="form-group">
				<p:dataTable id="tabAbanArch" styleClass="table table-responsive"
					value="#{cap2Etapas.archivosAbandon}" var="archA" rowIndexVar="rowIndex"
					selection="#{cap2Etapas.archivosAban_seleccionados}"
					rowKey="#{archA.id}" paginator="true" paginatorPosition="bottom"
					rows="10" emptyMessage="Sin archivos adjuntos.">
					<p:ajax event="toggleSelect" update=":fArchAban:bEliminaArchA" />
					<p:ajax event="rowSelectCheckbox" update=":fArchAban:bEliminaArchA" />
					<p:ajax event="rowUnselectCheckbox"
						update=":fArchAban:bEliminaArchA" />
					<p:column selectionMode="multiple" style="width:50px"  />
					<p:column
						style="white-space: normal; width: 50px; text-align: center;">
						<f:facet name="header">#</f:facet>
						<!-- <h:outputText value="#{archA.id}" /> -->
						<h:outputText value="#{rowIndex+1}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Nombre</f:facet>
						<h:outputText value="#{archA.nombre}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Descripción</f:facet>
						<h:outputText value="#{archA.descripcion}" />
					</p:column>
					<p:column style="white-space: normal; text-align:center; width:100px">
						<f:facet name="header"></f:facet>
						<p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
						          onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archA.seqId}'); return false;"/>
					</p:column>
					<p:column style="white-space: normal; text-align:center; width:100px">
						<f:facet name="header" />
						<p:commandButton
							class="btn btn-default btn-xs glyphicon glyphicon-pencil"
							value="" action="#{cap2Etapas.consultarArchivoAban}"
							onclick="modalEditarArchA.show()"
							update=":fEditarArchA:pnlEditarArchA :fEditarArchA:formEditarHeaderArchA">
							<p:ajax process="@this" />
							<f:param name="pRowIndex" value="#{rowIndex+1}" />
							<f:param name="id" value="#{archA.id}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</div>
		</h:panelGroup>
	</h:form>

	<!-- MODAL PARA SUBIR ARCHIVOS ABANDONO -->
	<h:form id="archivosAban">
		<p:dialog header="Agregar archivo abandono" draggable="false"
			widgetVar="modalSubirArchivoAban" id="dlgSubirArchivoAban"
			modal="true" closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">
			<p:outputPanel id="pnlArchA">
				<p:outputLabel value="Nombre" />
				<p:outputLabel value="" for="txtNombreArchivoA" />
				<p:outputLabel value=":"/>
				
				<p:inputText id="txtNombreArchivoA"
					value="#{cap2Etapas.archivoTemporal.nombre}" style="width:100%;"
					required="true" requiredMessage="Este campo es obligatorio"
					maxlength="50">
				</p:inputText>
				<p:message for="txtNombreArchivoA" />
				<br />
				
				<p:outputLabel value="Descripción"/>
				<p:outputLabel value="" for="txtDescripcionArchivoA" />
				<p:outputLabel value=":"/>
				
				<p:inputTextarea id="txtDescripcionArchivoA" class="form-control"
					value="#{cap2Etapas.archivoTemporal.descripcion}" cols="50"
					rows="3" maxlength="200" counter="descountA"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false">
				</p:inputTextarea>
				<h:outputText id="descountA" />
				<p:message for="txtDescripcionArchivoA" />
				<br />
				
				<p:outputLabel id="lblReservadoArchivoA" value="Reservado:" />
				<p:selectBooleanCheckbox value="#{cap2Etapas.cargaBean.reservado}">
				</p:selectBooleanCheckbox>
				<br />				
				
				<p:outputLabel value="Cargar archivo"/>
				<p:outputLabel value="" for="seleArchA" />
				<p:outputLabel value=":" />
				<br />			
				
				<h:panelGrid columns="2" style="width: 100%">
	                <p:fileUpload mode="advanced" id="seleArchA" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
	                  	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
		                fileUploadListener="#{cap2Etapas.cargaBean.handleFileUpload}"	                                  
		                sizeLimit="10485760" 
		                label="Seleccionar archivo"                                 
		                invalidSizeMessage="El tamaño del archivo es demasiado grande"
		                invalidFileMessage="Tipo de archivo invalido"
		                allowTypes="/(\.|\/)(pdf|doc|docx|jpg|jpeg|gif|png|xls|xlsx|dwg)$/" update="lblCargaArchivoAnexo"
		                required="true" requiredMessage="No seleccionó el archivo." 
		                auto="true" style="width: 100%"/>	
		                
			            <c:if test="#{empty cap2Etapas.cargaBean.file.fileName}">
							<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
			            </c:if>		    
			                
			            <c:if test="#{not empty cap2Etapas.cargaBean.file.fileName}">
							<p:outputLabel id="lblCargaArchivoAnexo" value="#{cap2Etapas.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
			            </c:if>            
				</h:panelGrid>				
				<br/>
				<p:outputLabel id="msjValida" value="#{cap2Etapas.msj}" style="color:#B40431" />
				
				<div id="divExtensiones" class="alert alert-info">
					<p:outputLabel value="Extensiones permitidas: (pdf/doc/docx/jpg/jpeg/gif/png/xls/xlsx/dwg)"/>
					<br/>
											
					<p:outputLabel value="El tamaño límite es de 10MB"/>					
				</div>
				<br/>

				<p:commandButton id="btnGuardarModalArchivoA"
					class="btn btn-primary" value="Guardar" oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  	$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"
					update=":fArchAban:tabAbanArch,pnlArchA"
					actionListener="#{cap2Etapas.guardarArchivo}" validateClient="true"
					style="float: right;">
					<f:attribute name="tipo" value="abandono" />
				</p:commandButton>
				<p:commandButton id="btnCerrarModalArchivoA" class="btn btn-default botonEliminar"
					value="Cerrar" onclick="modalSubirArchivoAban.hide();"
					update="pnlArchA" process="@this" style="float: right;" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertArchA" id="modalAlertArchA"
			header="Aviso" modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Archivo guardado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertArchA.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para editar un Archivo de tipo Abandono -->
	<h:form id="fEditarArchA">
		<p:dialog widgetVar="modalEditarArchA" id="modalEditarArchA"
			modal="true" closable="false">
			<f:facet name="header">
				<p:outputPanel id="formEditarHeaderArchA">
					<h4 class="modal-title">Editar archivo abandono
						#{cap2Etapas.indexRow}</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditarArchA">
				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descripcionArchEA" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="descripcionArchEA" class="form-control"
					value="#{cap2Etapas.archivoEdicion.descripcion}" cols="50" rows="3"
					maxlength="200" counter="contaA"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contaA" />
				<p:message for="descripcionArchEA" />

				<p:commandButton id="guardarEArchA" value="Guardar"
					class="btn btn-primary"
					update=":fArchAban:tabAbanArch,pnlEditarArchA"
					action="#{cap2Etapas.editarArchivoAban}" style="float: right;" />
				<p:commandButton id="cerrarModalEA" value="Cerrar"
					class="btn btn-default botonEliminar" onclick="modalEditarArchA.hide()"
					update="pnlEditarArchA" immediate="true"
					style="float: right; margin-rigth: 5px;" />
			</p:outputPanel>
		</p:dialog>
		<p:dialog widgetVar="modalAlertEdArchA" id="modalAlertEdArchA"
			header="Aviso" modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Archivo actualizado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEdArchA.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para eliminar archivos de Actividades de Abandono -->
	<h:form id="fEliminarArchAban">
		<p:dialog header="Abandono - Eliminar archivo"
			widgetVar="eliminarArchAban" id="eliminarArchAban" modal="true"
			showEffect="fade" hideEffect="fade" closable="false"
			resizable="false">
			<div class="alert alert-warning">¿Realmente desea borrar el/los
				archivo(s)?</div>
			<p:outputPanel id="multiCritArchA">
				<ui:repeat value="#{cap2Etapas.archivosAban_seleccionados}" var="ar">
					<h:outputText value="#{ar.nombre}" style="display:block" />
				</ui:repeat>
			</p:outputPanel>
			<p:commandButton value="Sí"
				action="#{cap2Etapas.eliminaArchivosAban}" class="btn btn-primary"
				update=":fArchAban:tabAbanArch, :fArchAban:bEliminaArchA"
				oncomplete="eliminarArchAban.hide();modalAlertEArchA.show()"
				style="float:right;" />
			<p:commandButton type="button" value="No"
				update=":fArchAban:tabAbanArch" class="btn btn-default botonEliminar"
				onclick="eliminarArchAban.hide()" style="float:right;" />
		</p:dialog>

		<p:dialog header="Aviso" widgetVar="modalAlertEArchA" modal="true"
			showEffect="fade" hideEffect="fade">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-remove"></span> Registro(s)
				eliminado(s) exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEArchA.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para la modal de guardado de Actividades de Abandono  -->
	<h:form id="fAgregarActivAban">
		<p:dialog widgetVar="modalAgregarA" id="modalAgregarA" modal="true"
			closable="false">
			<f:facet name="header" style="background-color: black;">Abandono - agregar actividad</f:facet>
			<p:outputPanel id="pnlAgregarA">
				<p:outputLabel value="Nombre de actividad"/>
				<p:outputLabel value=""  for="nombreAA" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="nombreAA" class="form-control"
					value="#{cap2Etapas.selectedActividad.actividadNombre}" cols="50"
					rows="2" maxlength="100" counter="contador1A"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false">
				</p:inputTextarea>
				<h:outputText id="contador1A" />
				<p:message for="nombreAA" />
				<br />
				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descripcionAA" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="descripcionAA" class="form-control"
					value="#{cap2Etapas.selectedActividad.actividadDescripcion}"
					cols="50" rows="3" maxlength="4000" counter="contador2A"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador2A" />
				<p:message for="descripcionAA" />

				<p:commandButton id="guardarAA" class="btn btn-primary"
					value="Guardar" update=":fTablaAbandono:tabAban,pnlAgregarA"
					actionListener="#{cap2Etapas.agregarEtapa}" style="float: right;">
					<f:attribute name="tipo" value="abandono" />
				</p:commandButton>
				<p:commandButton id="cerrarModalAA" class="btn btn-default"
					value="Cerrar" onclick="modalAgregarA.hide();" update="pnlAgregarA"
					immediate="true" style="float: right; margin-right: 5px;" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertA" id="modalAlertA" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Registro guardado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertA.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para eliminar registros de Actividades de Abandono -->
	<h:form id="fEliminarActivAban">
		<p:dialog header="Abandono - Eliminar actividad"
			widgetVar="eliminarActivAban" id="eliminarActivAban" modal="true"
			showEffect="fade" hideEffect="fade" closable="false"
			resizable="false">
			<div class="alert alert-warning">¿Realmente desea borrar la(s)
				actividad(es)?</div>
			<p:outputPanel id="multiCritAA">
				<ui:repeat value="#{cap2Etapas.activAban_seleccionados}" var="ac">
					<h:outputText value="#{ac.actividadNombreCorto}" style="display:block" />
				</ui:repeat>
			</p:outputPanel>
			<p:outputPanel id="avisoHijosAban">
				<h:outputLabel rendered="#{cap2Etapas.explosivosAban eq true}">
					<div class="alert alert-danger">
						<strong>Atención</strong> Los registros que usted definió en el
						apartado de explosivos también <br /> serán eliminados de acuerdo
						a las actividades que se muestran en la lista.
					</div>
				</h:outputLabel>
			</p:outputPanel>
			<br />
			<p:commandButton value="Sí"
				action="#{cap2Etapas.eliminaActividadesAban}"
				class="btn btn-primary" update=":fTablaAbandono:tabAban"
				oncomplete="eliminarActivAban.hide();modalAlertEA.show()"
				style="float:right;" />
			<p:commandButton type="button" value="No"
				update=":fTablaAbandono:tabAban" class="btn btn-default botonEliminar"
				onclick="eliminarActivAban.hide()" style="float:right;" />
		</p:dialog>

		<p:dialog header="Aviso" widgetVar="modalAlertEA" modal="true"
			showEffect="fade" hideEffect="fade">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-remove"></span> Registro(s)
				eliminado(s) exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEA.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para editar una Actividad de tipo Abandono -->
	<h:form id="fEditarAA">
		<p:dialog widgetVar="modalEditarAA" id="modalEditarAA" modal="true"
			closable="false">
			<f:facet name="header">
				<p:outputPanel id="formEditarHeaderAA">
					<h4 class="modal-title">Editar actividad #{cap2Etapas.rowIndexEditar}
						<!-- #{cap2Etapas.editActividad.actividadEtapaPK.actividadEtapaId} -->
					</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditarAA">
				<p:outputLabel value="Nombre de actividad"/>
				<p:outputLabel value="" for="nombreEA" />
				<p:outputLabel value=":"  />
				<br />
				<p:inputTextarea id="nombreEA" class="form-control"
					value="#{cap2Etapas.editActividad.actividadNombre}" cols="50"
					rows="2" maxlength="100" counter="contador3A"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio"
					autoResize="false">
				</p:inputTextarea>
				<h:outputText id="contador3A" />
				<p:message for="nombreEA" />
				<br />
				<p:outputLabel value="Descripción"  />
				<p:outputLabel value="" for="descripcionEA" />
				<p:outputLabel value=":"/>
				<p:inputTextarea id="descripcionEA" class="form-control"
					value="#{cap2Etapas.editActividad.actividadDescripcion}" cols="50"
					rows="3" maxlength="4000" counter="contador4A"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador4A" />
				<p:message for="descripcionEA" />

				<p:commandButton id="guardarEAA" value="Guardar"
					class="btn btn-primary"
					update=":fTablaAbandono:tabAban,pnlEditarAA"
					action="#{cap2Etapas.editarActividadAban}" style="float: right;" />
				<p:commandButton id="cerrarModalEA" value="Cerrar"
					class="btn btn-default botonEliminar" onclick="modalEditarAA.hide()"
					update="pnlEditarAA" immediate="true"
					style="float: right;" />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlertEAA" id="modalAlertEAA" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Registro actualizado
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertEAA.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- 		</h:panelGroup> -->
	<!-- 	</div> -->

	<h:form>
		<div id="componenteGuarda" style="display: none; float: right;">
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{cap2Etapas.guardar}" onsuccess="parent.actualizaBarra();" />
		</div>
	</h:form>

	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo2View.claveTramite}",
			nsub : "#{capitulo2View.proyecto.nsub}",
			capitulo : 2,
			subcapitulo : 2,
			seccion : vSeccion,
			apartado : -1
		}, case_ayuda);
		$('#case_btn_ayuda_preparacion').click({
			vClaveTramite : "#{capitulo2View.claveTramite}",
			nsub : "#{capitulo2View.proyecto.nsub}",
			capitulo : 2,
			subcapitulo : 2,
			seccion : vSeccion,
			apartado : 1
		}, case_ayuda);
		$('#case_btn_ayuda_construccion').click({
			vClaveTramite : "#{capitulo2View.claveTramite}",
			nsub : "#{capitulo2View.proyecto.nsub}",
			capitulo : 2,
			subcapitulo : 2,
			seccion : vSeccion,
			apartado : 2
		}, case_ayuda);
		$('#case_btn_ayuda_operacion').click({
			vClaveTramite : "#{capitulo2View.claveTramite}",
			nsub : "#{capitulo2View.proyecto.nsub}",
			capitulo : 2,
			subcapitulo : 2,
			seccion : vSeccion,
			apartado : 3
		}, case_ayuda);
		$('#case_btn_ayuda_abandono').click({
			vClaveTramite : "#{capitulo2View.claveTramite}",
			nsub : "#{capitulo2View.proyecto.nsub}",
			capitulo : 2,
			subcapitulo : 2,
			seccion : vSeccion,
			apartado : 4
		}, case_ayuda);
	</script>

	<!-- 	<script src="http://framework-gb.cdn.gob.mx/gobmx.js"></script> -->
	<!-- Bloquear pantalla mientras se realiza alguna transacción -->
    <ui:include src="/loading.xhtml"/>
</h:body>
</html>
