<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link href="assets/images/favicon.ico" rel="shortcut icon" />
		<!-- Gráfica Base Local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
        
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
        <script>
	        function ocultaDivTablaDatos(){
	        	// console.log('oculta');
	        	document.getElementById('divTablaDatos').style.display = 'none';
	        	document.getElementById('botones').style.display = 'none';
	        }
	        
			function muestraDivTablaDatos(){
				// console.log('muestra');
				document.getElementById('divTablaDatos').style.display = 'block';
				document.getElementById('botones').style.display = 'block';
	        }
        </script>
        <!--Se agrega una variable para realizar la especificación de la sección que le corresponde al subsector-->
        <c:choose>
            <c:when test="#{cap2explosivos.proyecto.nsub eq 7}">
                <script>
                    var vSeccion = 7;
                </script>
            </c:when>            
            <c:otherwise>
                <script>
                    var vSeccion = 6;
                </script>
            </c:otherwise>
        </c:choose>
    </h:head>
    <h:body onload="javascript:getInformacionAdicional('#{cap2explosivos.strComentProy}','foDatosGen',2,vSeccion,0,'Utilización de explosivos')">
        <div class="col-md-12" id="mensaje"></div>
        
        <h:form id="foDatosGen">
            
            <h:inputHidden id="ubicActual" value="#{cap2explosivos.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{cap2explosivos.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>
            
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>
            
            <p:dialog widgetVar="modalGuardarSustExitoSi" id="modalGuardarSustExitoSi" header="Aviso"
				modal="true" closable="false" position="top">
				<div class="alert alert-success">Su información ha sido guardada con éxito.</div>
				<button class="btn btn-primary" type="button" style="float: right;"
					onclick="modalGuardarSustExitoSi.hide();">Aceptar</button>
			</p:dialog>
			
			<p:dialog widgetVar="modalGuardarSustExitoNo" id="modalGuardarSustExitoNo" header="Aviso"
				modal="true" closable="false" position="top">
				<div class="alert alert-success">No se ha podido guardar la información, intente mas tarde..</div>
				<button class="btn btn-primary" type="button" style="float: right;"
					onclick="modalGuardarSustExitoNo.hide();">Aceptar</button>
			</p:dialog>
            
         </h:form>
         
        <div id="planosAdicionales">
		<h:panelGroup id="pSelSit">
			<h:form id="fTabla">
			
					<div id="titulo"></div>
					<hr class="red"></hr>
					<button id='case_btn_ayuda' type="button" class="btn btn-default"
						data-toggle="tooltip" data-placement="bottom">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						<span class="glyphicon-class">Ayuda</span>
					</button>
					<hr></hr>

					<!-- Div de pregunta EXPLOSIVOS -->
					<p:outputLabel id="lblPreguntaPDU"
						value="¿Su proyecto requiere el uso de explosivos?" />
					<p:spacer width="20px" />
					
					<h:commandButton id="btnNo"
						styleClass="#{!cap2explosivos.proySustAplica?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}"
						value="No">
						<p:ajax event="click"
							listener="#{cap2explosivos.respuestaAplicaNo}"
							update="btnSi btnNo btnAgregarElements  btnEliminarElements " />
					</h:commandButton>
					<p:spacer width="5px" />
					<h:commandButton id="btnSi"
						styleClass="#{cap2explosivos.proySustAplica?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}"
						value="SI">
						<p:ajax event="click"
							listener="#{cap2explosivos.respuestaAplicaSi}"
							update="btnNo btnSi btnAgregarElements  btnEliminarElements " />
					</h:commandButton>					

					<div id="componenteActualiza"
						style="display: none; float: right; margin-right: 20px">
						<br />
						<p:commandButton value="Modificar sección (opcional)"
							class="btn btn-primary"
							onclick="actualizaComponentesModifica('foDatosGen');" />
					</div>

				<div id="botones" style="display: none; padding-bottom: 18px;">
					<!-- 				mas -->
					<p:commandLink id="btnAgregarElements"
						value="Agregar" 
						class="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha" 
						actionListener="#{cap2explosivos.crearExplosivo}"						
						onclick="modalAgregar.show()" update=":fAgregar:pnlAgregar">
					</p:commandLink>

					<!-- 				menos -->
					<p:commandLink id="btnEliminarElements"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"	
						actionListener="#{cap2explosivos.tieneExplosivosSeleccionados}"
						disabled="#{cap2explosivos.explosivosListSelecciones.size() == 0}"
						update=":fEliminar:multiCrit">
						<p:ajax process="@this" />
					</p:commandLink><br /><br />
				</div>

				<!--  Tabla de consulta de datos -->
				<div id="divTablaDatos" style="display:none;">
					<p:dataTable id="tablaDatos" value="#{cap2explosivos.explosivosList}" var="c" rowIndexVar="rowIndexExp"
						selection="#{cap2explosivos.explosivosListSelecciones}"
						rowKey="#{c.consecutivo}" 
						paginator="true"
						paginatorPosition="bottom" 
						rows="10" emptyMessage="Sin registros."
						style="margin-bottom: 0"
						>
						<p:ajax event="toggleSelect" update=":fTabla:btnEliminarElements" />						
						<p:ajax event="rowSelectCheckbox" update=":fTabla:btnEliminarElements" />
						<p:ajax event="rowUnselectCheckbox" update=":fTabla:btnEliminarElements" />
						<p:column id="eliminarE" selectionMode="multiple"
							style="width:50px;text-align:center">
						</p:column>
						<p:column style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
								<h:outputText value="#{rowIndexExp+1}" />
						</p:column>						
                        <p:column style="white-space: normal">
                            <f:facet name="header">Etapa</f:facet>
                            	<h:outputText value="#{c.actividadEtapa.etapaProyecto.catEtapa.etapaDescripcion}" />
                        </p:column>
                        <p:column style="white-space: normal">
                            <f:facet name="header">Actividad</f:facet>
                            <h:outputText value="#{c.actividadEtapa.actividadNombre}" />                            		
                        </p:column>                                                    
                        <p:column style="white-space: normal">
                            <f:facet name="header">Justificación</f:facet>
                            <h:outputText value="#{c.actividadJustificacionCorta}" />                            		
                        </p:column>
                        <p:column style="white-space: normal">
                            <f:facet name="header">Metodología</f:facet>
                            <h:outputText value="#{c.actividadMetodologiaCorta}" />                            		
                        </p:column>
                        <p:column style="white-space: normal; width: 80px; text-align: center;">
							<f:facet name="header"></f:facet>
							<p:commandButton
								class="btn btn-default btn-xs glyphicon glyphicon-pencil"
								value="" action="#{cap2explosivos.consultarExplosivo}"
								onclick="modalEditar.show()"
								update=":fEditar:pnlEditar :fEditar:formEditarHeader">
								<p:ajax process="@this" />
								<f:param name="prowindexExp" value="#{rowIndexExp+1}" />
								<f:param name="id" value="#{c.explosivoActividadEtapaPK.explosivoEtapaId}" />
								<f:param name="etapa_" value="#{c.explosivoActividadEtapaPK.etapaId}" />
								<f:param name="actividadetapa_" value="#{c.explosivoActividadEtapaPK.actividadEtapaId}" />
							</p:commandButton>
						</p:column>
                     </p:dataTable>				
				</div>
				
				</h:form>
		</h:panelGroup>
		</div>
		
		
		<!-- Formulario para agregar registro -->
		<h:form id="fAgregar">
			<p:dialog widgetVar="modalAgregar" id="modalAgregar" modal="true"
				closable="false" position="top">
				<f:facet name="header" style="background-color: black;">Agregar explosivos</f:facet>
				<p:outputPanel id="pnlAgregar">
					<p:outputLabel value="Etapa" />
					<p:outputLabel value="" for="etapas" />
					<p:outputLabel value=":" />
					<br />
					<h:selectOneMenu id="etapas"						
						value="#{cap2explosivos.selectedEtapa}"
						converter="#{catEtapaConverterBean}"
						required="true"
						requiredMessage="Este campo es obligatorio"
						validatorMessage="Este campo es obligatorio"
						>		
						<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}" noSelectionOption="false"></f:selectItem>
						<f:selectItems value="#{catalogosView.catEtapa}" />
						<f:ajax process="etapas"  event="change" listener="#{cap2explosivos.seleccionarEtapa}" render="actividades" />
					</h:selectOneMenu>
					<p:message for="etapas" />
					<br />
					<p:outputLabel value="Actividad" />
					<p:outputLabel value="" for="actividades" />
					<p:outputLabel value=":" />
					<br />
					<h:selectOneMenu id="actividades"
						required="true"
						requiredMessage="Este campo es obligatorio"						
						validatorMessage="Este campo es obligatorio"
						value="#{cap2explosivos.selectedActividadint}"						
						hideNoSelectionOption="true">
						<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}" noSelectionOption="false"></f:selectItem>
						<f:selectItems var="x" value="#{cap2explosivos.listaActividadesPorEtapa}" itemLabel="#{x.actividadNombre}" itemValue="#{x.actividadEtapaPK.actividadEtapaId}" />
						<f:ajax event="change" listener="#{cap2explosivos.seleccionarActividad}" immediate="true" />
					</h:selectOneMenu>
					<p:message for="actividades" />
					<br />
					<p:outputLabel value="Justificación" />
					<p:outputLabel value="" for="itjustificacion" />
					<p:outputLabel value=":" />
					<br />
					<p:inputTextarea value="#{cap2explosivos.actividadJustificacion}"
					    id="itjustificacion" 
						maxlength="3000"
						required="true"
						requiredMessage="Este campo es obligatorio"
						validatorMessage="Este campo es obligatorio" 
						counter="contadorJust" 
						counterTemplate="Quedan {0} caracteres." 
						cols="50" rows="3" autoResize="false" />
					<p:message for="itjustificacion" />					
					<h:outputText id="contadorJust" />
					<br /><br />
					<p:outputLabel value="Metodología" />
					<p:outputLabel value="" for="itmetodologia" />
					<p:outputLabel value=":" />
					<br />
					<p:inputTextarea value="#{cap2explosivos.actividadMetodologia}"
					    id="itmetodologia" 
						maxlength="3000"
						required="true"
						requiredMessage="Este campo es obligatorio"
						validatorMessage="Este campo es obligatorio" 
						counter="contadorMetod" 
						counterTemplate="Quedan {0} caracteres." 
						cols="50" rows="3" autoResize="false" />
					<p:message for="itmetodologia" />
					<h:outputText id="contadorMetod" />
					<br /><br />
					
					<p:commandButton id="guardar" class="btn btn-primary"
						value="Guardar" update=":fTabla:tablaDatos,pnlAgregar"
						action="#{cap2explosivos.agregarExplosivo}" style="float: right;" />
					<p:commandButton id="cerrarModalA" class="btn btn-default"
						value="Cerrar" type="button" onclick="modalAgregar.hide();"
						update="pnlAgregar" immediate="true"
						style="float: right; margin-right: 10px;" />
				</p:outputPanel>
			</p:dialog>
	
			<p:dialog widgetVar="modalAlert" id="modalAlert" header="Aviso"
				modal="true" closable="false" position="top">
				<div class="alert alert-success">Registro guardado exitosamente.</div>
				<button class="btn btn-primary" type="button" style="float: right;"
					onclick="modalAlert.hide();">Aceptar</button>
			</p:dialog>
		</h:form>
		
		
		
		<!-- Formulario para editar registro -->
		<h:form id="fEditar">		
			<p:dialog widgetVar="modalEditar" id="modalEditar" modal="true"
				closable="false" position="top">
				<f:facet name="header">
					<p:outputPanel id="formEditarHeader">
						<h4 class="modal-title">Editar uso de explosivo # #{cap2explosivos.rowIndexExpEditar}</h4>						
					</p:outputPanel>
				</f:facet>
				<p:outputPanel id="pnlEditar">
					<p:outputLabel value="Etapa:" />				
					<br />
					<h:selectOneMenu id="etapasE"
						required="true"
						requiredMessage="Este campo es obligatorio"
						value="#{cap2explosivos.editExplosivo.actividadEtapa.etapaProyecto.catEtapa}"
						converter="#{catEtapaConverterBean}"
						hideNoSelectionOption="true"
						disabled="true">		
						<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}" noSelectionOption="false"></f:selectItem>
						<f:selectItems value="#{catalogosView.catEtapa}" />
					</h:selectOneMenu>
					<br />
					<br />
					<p:outputLabel value="Actividad:" />
					<br />
					<h:selectOneMenu id="actividadesE"
						required="true"
						requiredMessage="Este campo es obligatorio"
						value="#{cap2explosivos.editExplosivo.actividadEtapa.actividadEtapaPK.actividadEtapaId}"						
						hideNoSelectionOption="true"
						disabled="true">
						<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}" noSelectionOption="false"></f:selectItem>
						<f:selectItems var="x" value="#{cap2explosivos.listaActividadesPorEtapa}" itemLabel="#{x.actividadNombre}" itemValue="#{x.actividadEtapaPK.actividadEtapaId}" />
					</h:selectOneMenu>
					<br />				
					<p:outputLabel value="Justificación" />
					<p:outputLabel value="" for="itjustificacion2" />
					<p:outputLabel value=":" />
					<br />
					<p:inputTextarea value="#{cap2explosivos.editExplosivo.actividadJustificacion}"
						id="itjustificacion2" 
						maxlength="3000"
						required="true"
						requiredMessage="Este campo es obligatorio"
						validatorMessage="Este campo es obligatorio" 
						counter="contadorJustE" 
						counterTemplate="Quedan {0} caracteres."/>
					<br />
					<p:message for="itjustificacion2" />
					<h:outputText id="contadorJustE" />					
					<br />
					<p:outputLabel value="Metodología" for="itmetodologia2" />
					<br />
					<p:inputTextarea value="#{cap2explosivos.editExplosivo.actividadMetodologia}"
						id="itmetodologia2" 
						maxlength="3000"
						required="true"
						requiredMessage="Este campo es obligatorio"
						validatorMessage="Este campo es obligatorio" 
						counter="contadorMetodE" 
						counterTemplate="Quedan {0} caracteres."/>
					<br />			
					<p:message for="itmetodologia2" />
					<h:outputText id="contadorMetodE" />
					<br />
 						
					<p:commandButton id="guardarE" value="Guardar"
						class="btn btn-primary btn-sm"
						update=":fTabla:tablaDatos,pnlEditar"
						action="#{cap2explosivos.editarExplosivo}" style="float: right;" />
					<p:commandButton id="cerrarModalE" value="Cerrar"
						class="btn btn-default btn-sm" onclick="modalEditar.hide()"
						update="pnlEditar" immediate="true"
						style="float: right; margin-rigth: 20px;" />
				</p:outputPanel>
			</p:dialog>
			<p:dialog widgetVar="modalAlertE" id="modalAlertE" header="Aviso"
				modal="true" closable="false" position="top">
				<div class="alert alert-success">Registro actualizado exitosamente.</div>
				<button class="btn btn-primary" type="button" style="float: right;"
					onclick="modalAlertE.hide();">Aceptar</button>
			</p:dialog>
		</h:form>	
		
		
		
		
		
		<!-- Form para confirmar la eliminación -->
		<h:form id="fEliminar">
			<p:dialog header="Eliminar explosivo" widgetVar="eliminarExplosivos"
				id="eliminarExplosivos" modal="true" position="top" showEffect="fade"
				hideEffect="fade" closable="false" resizable="false">
				<div class="alert alert-warning">¿Realmente desea borrar el(los) explosivo(s)?</div>
 				<p:outputPanel id="multiCrit" style="text-align:center;">
 					<ui:repeat value="#{cap2explosivos.explosivosListSelecciones}" var="c">
 						<h:outputText
 							value="#{c.actividadEtapa.etapaProyecto.catEtapa.etapaDescripcion} - #{c.actividadEtapa.actividadNombre}"
 							style="display:block" />
 					</ui:repeat>
 				</p:outputPanel>
				<p:commandButton value="Sí" action="#{cap2explosivos.eliminarExplosivos}"
					class="btn btn-primary btn-sm" update=":fTabla:tablaDatos"
					oncomplete="eliminarExplosivos.hide();dlgAvisoBorrado.show()"
					style="float:right;"
					immediate="true"
					 />
				<p:commandButton type="button" value="No" update=":fTabla:tablaDatos"
					class="btn btn-default btn-sm" onclick="eliminarExplosivos.hide()"
					style="float:right;" />
			</p:dialog>
	
			<p:dialog header="Aviso" widgetVar="dlgAvisoBorrado" modal="true"
				position="top" showEffect="fade" hideEffect="fade">
				<div class="alert alert-success">Registro(s) eliminado(s) exitosamente.</div>
				<button class="btn btn-primary" type="button" style="float: right;"
					onclick="dlgAvisoBorrado.hide();">Aceptar</button>
			</p:dialog>
		</h:form>
		
	
        <c:set value="2.12" target="#{cap2explosivos}" property="seccion" />
<!--         <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" /> -->

		<h:form>
		<div id="componenteGuarda" style="float: right;">
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{cap2explosivos.guardarProyectoExplosivo}"
				oncomplete="parent.actualizaBarra();" />
		</div>
		</h:form>
            

        <script>
            $('#case_btn_ayuda').click({vClaveTramite: "#{cap2explosivos.claveTramite}", nsub: "#{cap2explosivos.proyecto.nsub}", capitulo: 2, subcapitulo: 2, seccion: vSeccion, apartado: -1}, case_ayuda);
        </script>
        
        <c:choose>
		<c:when
			test="#{cap2explosivos.proySustAplica == true }">
			<script>			
				// console.log('muestra div');
				muestraDivTablaDatos();
            </script>
		</c:when>		
		<c:otherwise>
			<script>
			    // console.log('oculta div');
				ocultaDivTablaDatos();
            </script>
		</c:otherwise>
	</c:choose>
    </h:body>
</html>



