<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- Gráfica Base Local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	<!--Se agrega una variable para realizar la especificación de la sección que le corresponde al subsector-->
	<c:choose>
		<c:when test="#{capitulo2View.proyecto.nsub eq 6}">
			<script>
				var vSeccion = 6;
			</script>
		</c:when>
		<c:otherwise>
			<script>
				var vSeccion = 5;
			</script>
		</c:otherwise>
	</c:choose>
</h:head>

<h:body
	onload="javascript:getInformacionAdicional('#{cap2_2_10_InsumosView.strComentProy}','foDatosGen',2,vSeccion,0,'Insumos')">
	<div class="col-md-12" id="mensaje"></div>
	<h:form id="newForm">
		<div class="semarnat_ayuda" id='case_pnl_ayuda'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>

		<h:inputHidden id="ubicActual"
			value="#{cap2_2_10_InsumosView.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional"
			value="#{cap2_2_10_InsumosView.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />

	</h:form>



	<h:form id="main_menu_form">
		<div id="titulo"><h3>Insumos</h3></div>
		<hr class="red"></hr>
		<button id='case_btn_ayuda' type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom">
			<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
			<span class="glyphicon-class">Ayuda</span>
		</button><hr></hr>

		<div id="componenteActualiza"
			style="display: none; float: right; margin-right: 20px">
			<br />
			<p:commandButton value="Modificar sección (opcional)"
				class="btn btn-primary"
				onclick="actualizaComponentesModifica('foDatosGen');" />
		</div>
		<div id="botones" style="padding-bottom: 18px;">
				<p:commandLink
					value="Agregar" 
					class="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
					action="#{cap2_2_10_InsumosView.creaInsumo}"
					update=":agregarForm:pnlAgregar">
					<p:ajax process="@this" />
				</p:commandLink>
				<p:commandLink id="bElimina"
					class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
					value="Eliminar"
					update=":eliminar:pnlInsumosBorrar"
					action="#{cap2_2_10_InsumosView.tieneInsumosSeleccionados}"
					disabled="#{cap2_2_10_InsumosView.insumosSeleccionados.size() == 0}">
					<p:ajax process="@this" />
				</p:commandLink>
				<br />
				<br />
		</div>
			<h:panelGroup id="pInsumos">
				<p:dataTable id="tablaInsumos"
					value="#{cap2_2_10_InsumosView.insumosLista}" var="ins" rowIndexVar="rowIndexInsumo"
					selection="#{cap2_2_10_InsumosView.insumosSeleccionados}"
					rowKey="#{ins.insumosProyectoPK.insumosId}"
					paginatorPosition="bottom" paginator="true" rows="10"
					emptyMessage="Sin registros.">
					
						<p:ajax event="toggleSelect" update=":main_menu_form:bElimina" />						
						<p:ajax event="rowSelectCheckbox" update=":main_menu_form:bElimina" />
						<p:ajax event="rowUnselectCheckbox" update=":main_menu_form:bElimina" />

					<p:column id="check" selectionMode="multiple"
						style="width:3%;text-align:center" />
					<p:column style="white-space:normal; width:4%">
						<f:facet name="header">#</f:facet>
							<h:outputText value="#{rowIndexInsumo+1}" />
					</p:column>
					<p:column style="white-space:normal;">
						<f:facet name="header">Etapa</f:facet>
							<h:outputText value="#{ins.catEtapa.etapaDescripcion}" />
					</p:column>
					<p:column style="white-space:normal; width:10%;">
						<f:facet name="header">Nombre Común</f:facet>
							<h:outputText value="#{ins.insumoNomCmoun}" />
					</p:column>
					<p:column style="white-space:normal; width:10%;">
						<f:facet name="header">Nombre Técnico</f:facet>
							<h:outputText value="#{ins.insumoNomTecnico}" />
					</p:column>
					<p:column style="white-space:normal; width:10%;">
						<f:facet name="header">Estado <br />Físico</f:facet>
							<h:outputText value="#{ins.insumoEstadoFisico}" />
					</p:column>
					<p:column style="white-space:normal;">
						<f:facet name="header">Cantidad Almacenada</f:facet>
							<h:outputText value="#{ins.insumoCantAlm}" />
					</p:column>
					<p:column style="white-space:normal;">
						<f:facet name="header">Cantidad Mensual</f:facet>
							<h:outputText value="#{ins.insumoCantMensual}" />
					</p:column>
					<p:column style="white-space:normal;">
						<f:facet name="header">Unidad</f:facet>
							<h:outputText
								value="#{cap2_2_10_InsumosView.unidades(ins.cveClve)}" />
					</p:column>
					<p:column style="white-space:normal; width:5%">
						<f:facet name="header" />
						<p:commandButton
							class="btn btn-default btn-xs glyphicon glyphicon-pencil"
							value="" action="#{cap2_2_10_InsumosView.consultaInsumoId}"
							onclick="modalEditar.show()"
							update=":editarForm:pnlEditar :editarForm:formEditarHeader" immediate="true">
							<p:ajax process="@this" />
							<f:param name="prowindexInsumo" value="#{rowIndexInsumo+1}" />
							<f:param name="idInsumo"
								value="#{ins.insumosProyectoPK.insumosId}" />
							<f:param name="idEtapa" value="#{ins.insumosProyectoPK.etapaId}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:panelGroup>

		<div id="componenteGuarda"
			style="float: right; clear: right;">
			<br />
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{cap2_2_10_InsumosView.guardar}"
				onsuccess="parent.actualizaBarra();" />
		</div>
	</h:form>

	<!-- modales editar -->
	<h:form id="editarForm">
		<p:dialog id="modalEditar" widgetVar="modalEditar" modal="true"
			draggable="false" closable="false" position="top">
			<f:facet name="header">
				<p:outputPanel id="formEditarHeader">
					<h4 class="modal-title">Editar insumo # #{cap2_2_10_InsumosView.rowIndexInsumoEditar}</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditar">
				<p:outputLabel value="Etapa" />
				<p:outputLabel value="" for="cboEditarEtapa" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="cboEditarEtapa"
					value="#{cap2_2_10_InsumosView.edit.catEtapa}"
					converter="#{catEtapaConverterBean}" required="true"
					requiredMessage="Este campo es obligatorio">
					<f:selectItem itemLabel="Seleccione" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{catalogosView.catEtapa}" />
				</h:selectOneMenu>
				<p:message for="cboEditarEtapa" />
				<br />
				<p:outputLabel value="Nombre Común" />
				<p:outputLabel value="" for="nombreComunE" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="nombreComunE" class="form-control"
					value="#{cap2_2_10_InsumosView.edit.insumoNomCmoun}" cols="30"
					rows="2" maxlength="100" counter="contNCE"
					counterTemplate="Quedan {0} caracteres." autoResize="false"
					required="true" requiredMessage="Este campo es obligatorio" />
					<h:outputText id="contNCE" />
					<p:message for="nombreComunE" />
				<p:outputLabel value="Nombre Técnico" />
				<p:outputLabel value="" for="nombreTecnicoE" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="nombreTecnicoE" class="form-control"
					value="#{cap2_2_10_InsumosView.edit.insumoNomTecnico}" cols="30"
					rows="2" maxlength="100" counter="contNTE"
					counterTemplate="Quedan {0} caracteres." autoResize="false"
					required="true" requiredMessage="Este campo es obligatorio" />
					<h:outputText id="contNTE" />
					<p:message for="nombreTecnicoE" />
				<p:outputLabel value="Estado Físico" />
				<p:outputLabel value="" for="estadoFisicoE"/>
				<p:outputLabel value=":" />
					<p:inputTextarea id="estadoFisicoE" class="form-control"
						value="#{cap2_2_10_InsumosView.edit.insumoEstadoFisico}" cols="30"
						rows="2" maxlength="100" counter="contEFE"
						counterTemplate="Quedan {0} caracteres." autoResize="false"
						required="true" requiredMessage="Este campo es obligatorio" />
						<h:outputText id="contEFE" />
						<p:message for="estadoFisicoE" />
					<p:outputLabel value="Cantidad Almacenada" />
					<p:outputLabel value="" for="cantidadAlmacenadaE" />
					<p:outputLabel value=":" />
					<br />
					<p:inputText id="cantidadAlmacenadaE" maxlength="8"
						value="#{cap2_2_10_InsumosView.edit.insumoCantAlm}"
						required="true" requiredMessage="Este campo es obligatorio">
						<f:validateDoubleRange minimum="0.00" maximum="99999.99" />
					</p:inputText>
					<pe:keyFilter for="cantidadAlmacenadaE" mask="num" />
					<p:message for="cantidadAlmacenadaE" />
					<br />
					<p:outputLabel value="Cantidad Mensual" />
					<p:outputLabel value="" for="cantidadMensualE" />
					<p:outputLabel value=":" />
					<br />
					<p:inputText id="cantidadMensualE" maxlength="8"
						value="#{cap2_2_10_InsumosView.edit.insumoCantMensual}"
						required="true" requiredMessage="Este campo es obligatorio">
						<f:validateDoubleRange minimum="0.00" maximum="99999.99" />
					</p:inputText>
					<pe:keyFilter for="cantidadMensualE" mask="num" />
					<p:message for="cantidadMensualE" />
					<br />
					<h:outputLabel value="Unidad" />
					<h:outputLabel value="" for="tipoUnidadE" />
					<h:outputLabel value=":" />
					<br />
					<h:selectOneMenu id="tipoUnidadE"
						value="#{cap2_2_10_InsumosView.edit.cveClve}" required="true"
						requiredMessage="Este campo es obligatorio">
						<f:selectItem itemLabel="Seleccione" itemValue="#{null}"
							noSelectionOption="true" />
						<f:selectItems value="#{cap2_2_10_InsumosView.catUnidadMedida}"
							var="catUnidadMedida" itemValue="#{catUnidadMedida.ctunClve}"
							itemLabel="#{catUnidadMedida.ctunDesc}" />
					</h:selectOneMenu>
					<p:message for="tipoUnidadE" />					
					<br/>

					<p:commandButton id="guardarInsumoE" value="Guardar"
						styleClass="btn btn-primary"
						action="#{cap2_2_10_InsumosView.editarInsumo}"
						update=":main_menu_form:tablaInsumos,pnlEditar"
						style="float: right;" validateClient="true"/>
					<p:commandButton id="cerrarModalInsumoE" value="Cerrar"
						styleClass="btn btn-default" onclick="modalEditar.hide();"
						update="pnlEditar" immediate="true" style="float: right;"/>
				</p:outputPanel>
		</p:dialog>

		<!-- Modal Aviso Insumo Editado -->
		<p:dialog widgetVar="modalAvisoAgregado" id="modalAvisoAgregado"
			header="Aviso" modal="true" closable="false" position="top">
			<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Registro guardado exitosamente.</div>
			<button class="btn btn-primary" type="button" style="float: right;">Aceptar</button>
		</p:dialog>
		<pe:keyFilter for="cantidadAlmacenadaE" mask="num" />
		<pe:keyFilter for="cantidadMensualE" mask="num" />
	</h:form>

	<!-- modales editar -->




	<!-- Modales Agregar -->

	<!-- Venta modal Agregar  -->
	<h:form id="agregarForm">
		<p:dialog widgetVar="modalAgregar" modal="true" draggable="false" closable="false" position="top">
			<f:facet name="header" style="background-color: black;">
				<h:form id="formHeader">
					<h4 class="modal-title">Agregar insumo</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlAgregar">
				<p:outputLabel value="Etapa" />
				<p:outputLabel value="" for="etapaCat" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="etapaCat"
					value="#{cap2_2_10_InsumosView.add.catEtapa}"
					converter="#{catEtapaConverterBean}" required="true"
					requiredMessage="Este campo es obligatorio">
					<f:selectItem itemLabel="Seleccione" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{catalogosView.catEtapa}" />
				</h:selectOneMenu>
				<p:messages for="etapaCat" />
				<p:outputLabel value="Nombre Común" />
				<p:outputLabel value="" for="nombreComun" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="nombreComun" class="form-control"
					value="#{cap2_2_10_InsumosView.add.insumoNomCmoun}" cols="30"
					rows="2" maxlength="100" counter="contNC"
					counterTemplate="Quedan {0} caracteres." autoResize="false"
					required="true" requiredMessage="Este campo es obligatorio" />
				<h:outputText id="contNC" />
				<p:messages for="nombreComun" />
				<p:outputLabel value="Nombre Técnico" />
				<p:outputLabel value="" for="nombreTecnico" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="nombreTecnico" class="form-control"
					value="#{cap2_2_10_InsumosView.add.insumoNomTecnico}" cols="30"
					rows="2" maxlength="100" counter="contNT"
					counterTemplate="Quedan {0} caracteres." autoResize="false"
					required="true" requiredMessage="Este campo es obligatorio" />
				<h:outputText id="contNT" />
				<p:messages for="nombreTecnico" />
				<p:outputLabel value="Estado Físico" />
				<p:outputLabel value="" for="estadoFisico" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="estadoFisico" class="form-control"
					value="#{cap2_2_10_InsumosView.add.insumoEstadoFisico}" cols="30"
					rows="2" maxlength="100" counter="contEF"
					counterTemplate="Quedan {0} caracteres." autoResize="false"
					required="true" requiredMessage="Este campo es obligatorio" />
				<h:outputText id="contEF" />
				<p:messages for="estadoFisico" />
				<p:outputLabel value="Cantidad Almacenada" />
				<p:outputLabel value="" for="cantidadAlmacenada" />
				<p:outputLabel value=":" />
				<br />
				<p:inputText id="cantidadAlmacenada" maxlength="8"
					class="form-control"
					value="#{cap2_2_10_InsumosView.add.insumoCantAlm}" required="true"
					requiredMessage="Este campo es obligatorio">
					<f:validateDoubleRange minimum="0.00" maximum="99999.99" />
				</p:inputText>
				<pe:keyFilter for="cantidadAlmacenada" mask="num" />
				<p:messages for="cantidadAlmacenada" />
				<p:outputLabel value="Cantidad Mensual" />
				<p:outputLabel value="" for="cantidadMensual" />
				<p:outputLabel value=":" />
				<br />
				<p:inputText id="cantidadMensual" maxlength="8" class="form-control"
					value="#{cap2_2_10_InsumosView.add.insumoCantMensual}"
					required="true" requiredMessage="Este campo es obligatorio">
					<f:validateDoubleRange minimum="0.00" maximum="99999.99" />
				</p:inputText>
				<pe:keyFilter for="cantidadMensual" mask="num" />
				<p:messages for="cantidadMensual" />
				<p:outputLabel value="Unidad" />
				<p:outputLabel value="" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="tipoUnidad"
					value="#{cap2_2_10_InsumosView.add.cveClve}" required="true"
					requiredMessage="Este campo es obligatorio">
					<f:selectItem itemLabel="Seleccione" itemValue="#{null}"
						noSelectionOption="true" />
					<f:selectItems value="#{cap2_2_10_InsumosView.catUnidadMedida}"
						var="catUnidadMedida" itemValue="#{catUnidadMedida.ctunClve}"
						itemLabel="#{catUnidadMedida.ctunDesc}" />
				</h:selectOneMenu>
				<p:messages for="tipoUnidad" />
				<br/>
<!-- 				<p:messages id="mismensajes" /> -->

					<p:commandButton id="guardarInsumo" value="Guardar"
					styleClass="btn btn-primary"
						action="#{cap2_2_10_InsumosView.agregarInsumo}"
						update=":main_menu_form:tablaInsumos,pnlAgregar"
						validateClient="true" style="float: right;"/>					
					<p:commandButton id="cerrarModalInsumo"
						styleClass="btn btn-default" value="Cerrar"
						onclick="modalAgregar.hide()" update="pnlAgregar" immediate="true"
						style="float: right; margin-right: 10px;" />
			</p:outputPanel>
		</p:dialog>

		<!-- Modal Aviso guardado -->
		<p:dialog widgetVar="modalAvisoAgregado" modal="true" position="top"
			showEffect="fade" hideEffect="fade">
			<f:facet name="header">
				<h:form id="formAvisoAgregado">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlGuardado">
				<div class="alert alert-success">
					<span class="glyphicon glyphicon-ok"></span> Registro agregado exitosamente.
				</div>
				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary"
						id="cierraAvisoInsumoAgregado" value="Aceptar"
						onclick="modalAvisoAgregado.hide()" update="pnlGuardado"
						inmediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<h:form id="MensajeEditar">
		<p:dialog widgetVar="modalMensajeEditar" id="modalMensajeEditar"
			modal="true">
			<f:facet name="header">
				<h:form id="formMensajeHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensaje">

				<div class="alert alert-success">
					<span class="glyphicon glyphicon-ok"></span> Registro actualizado exitosamente.
				</div>

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary" id="cerrarModalM"
						value="Aceptar" onclick="modalMensajeEditar.hide()"
						update="pnlMensaje" immediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<h:form id="eliminar">
		<p:dialog widgetVar="modalEliminar" id="modalEliminar" modal="true" position="top" showEffect="fade" hideEffect="fade" closable="false" resizable="false">
		
		   <f:facet name="header" style="background-color: black;">
				<h:form id="formEliminar">
					<h4 class="modal-title">Eliminar insumo</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlInsumosBorrar">
				<div class="alert alert-warning">¿Realmente desea borrar
					el(los) insumo(s)?</div>
				<ui:repeat value="#{cap2_2_10_InsumosView.insumosSeleccionados}"
					var="i">
					<h:outputText value="#{i.insumoNomCmoun}" style="display:block" />
				</ui:repeat>
			</p:outputPanel>
			<div class="modal-footer">
				<p:commandButton value="Sí"
					action="#{cap2_2_10_InsumosView.eliminarInsumos}"
					class="btn btn-primary"
					update=":main_menu_form:tablaInsumos"
					oncomplete="modalEliminar.hide()" style="float:right;" />
				<p:commandButton type="button" value="No"
					update=":main_menu_form:tablaInsumos"
					class="btn btn-default" onclick="modalEliminar.hide()"
					style="float:right;" />
			</div>
		</p:dialog>
	</h:form>
	<h:form id="MensajeEliminar">
		<p:dialog widgetVar="modalAvisoEliminar" id="modalAvisoEliminar"
			header="Aviso" modal="true" closable="false" position="top">
			<div class="alert alert-success"><span class="glyphicon glyphicon-remove"></span> Insumo(s) eliminado(s) exitosamente.</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAvisoEliminar.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo2View.claveTramite}",
			nsub : "#{capitulo2View.proyecto.nsub}",
			capitulo : 2,
			subcapitulo : 2,
			seccion : vSeccion,
			apartado : -1
		}, case_ayuda);
	</script>
</h:body>
</html>
