<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>  
    </h:head>
    <h:body>
        <h:form >

            <div id="pesq">

                        <h:panelGrid columns="2">
                            <h:outputLabel value="Nombre:" />
                            <h:inputText value="#{capitulo2View.infoBio.bioNombre}" />
                            <h:outputLabel value="Origen:" />
                            <h:inputText value="#{capitulo2View.infoBio.bioOrigen}" />
                            <h:outputLabel value="Número de Organismos a Cultivar;" />
                            <h:inputText value="#{capitulo2View.infoBio.bioNumorgCultivar}" />
                            <h:outputLabel value="Descripción de sus Atributos y/o Amenazas Potenciales" />
                            <h:inputText value="#{capitulo2View.infoBio.bioDescAtributosAme}" />

                            <h:outputLabel value="La Especie es Forrajera" />
                            <h:selectOneMenu value="#{capitulo2View.infoBio.bioEspForrajera}" >
                                <f:selectItem itemValue="S" itemLabel="Si" />
                                <f:selectItem itemValue="N" itemLabel="No" />
                            </h:selectOneMenu>
                        </h:panelGrid>

                        <h:outputLabel value="Forma de su Ciclo de Vida" />

                        <h:panelGrid columns="2">
                            <h:outputLabel value="Crías" />
                            <h:selectOneMenu value="#{capitulo2View.infoBio.bioCrias}" >
                                <f:selectItem itemValue="S" itemLabel="Si" />
                                <f:selectItem itemValue="N" itemLabel="No" />
                            </h:selectOneMenu>
                            <h:outputLabel value="Semillas" />
                            <h:selectOneMenu value="#{capitulo2View.infoBio.bioSemillas}" >
                                <f:selectItem itemValue="S" itemLabel="Si" />
                                <f:selectItem itemValue="N" itemLabel="No" />
                            </h:selectOneMenu>
                            <h:outputLabel value="Portalarvas" />
                            <h:selectOneMenu value="#{capitulo2View.infoBio.bioPostlarvas}" >
                                <f:selectItem itemValue="S" itemLabel="Si" />
                                <f:selectItem itemValue="N" itemLabel="No" />
                            </h:selectOneMenu>
                            <h:outputLabel value="Juveniles" />
                            <h:selectOneMenu value="#{capitulo2View.infoBio.bioJuveniles}" >
                                <f:selectItem itemValue="S" itemLabel="Si" />
                                <f:selectItem itemValue="N" itemLabel="No" />
                            </h:selectOneMenu>
                            <h:outputLabel value="Adultos Reproductivos" />
                            <h:selectOneMenu value="#{capitulo2View.infoBio.bioAdultReprod}" >
                                <f:selectItem itemValue="S" itemLabel="Si" />
                                <f:selectItem itemValue="N" itemLabel="No" />
                            </h:selectOneMenu>
                        </h:panelGrid>

                        <h:outputLabel value="Biomasa" />

                        <h:panelGrid columns="2">
                            <h:outputLabel value="No. de ciclos" />
                            <h:inputText value="#{capitulo2View.infoBio.bioNumciclos}" />
                            <h:outputLabel value="Biomasa Inicial" />
                            <h:inputText value="#{capitulo2View.infoBio.bioBiomasaInic}" />
                            <h:outputLabel value="Unidad" />
                            <h:inputText value="#{capitulo2View.infoBio.bioUnidadInic}" />
                            <h:outputLabel value="Biomasa Esperada" />
                            <h:inputText value="#{capitulo2View.infoBio.bioBiomasaEsperada}" />
                            <h:outputLabel value="Unidad" />
                            <h:inputText value="#{capitulo2View.infoBio.bioUnidadEsperada}" />
                        </h:panelGrid>

                        <h:outputLabel value="Alimento" />

                        <h:panelGrid columns="2">
                            <h:outputLabel value="Tipo de Alimento" />
                            <h:inputText value="#{capitulo2View.infoBio.bioTipoAlimento}" />
                            <h:outputLabel value="Cantidad de Alimento" />
                            <h:inputText value="#{capitulo2View.infoBio.bioCantAlimento}" />
                            <h:outputLabel value="Forma de Almacenamiento" />
                            <h:inputText value="#{capitulo2View.infoBio.bioFormaAlmacen}" />
                        </h:panelGrid>

                        <h:outputLabel value="Abono y/o fertlizante" />

                        <h:panelGrid columns="2">
                            <h:outputLabel value="Tipo de abono y/o fertilizante" />
                            <h:inputText value="#{capitulo2View.infoBio.bioTipabono}" />
                            <h:outputLabel value="Forma de Uso del Fertilizante" />
                            <h:inputText value="#{capitulo2View.infoBio.bioUsoAbono}" />
                            <h:outputLabel value="Cantidad de Suministro" />
                            <h:inputText value="#{capitulo2View.infoBio.bioCantSuministro}" />
                            <h:outputLabel value="Forma de Almacenamiento" />
                            <h:inputText value="#{capitulo2View.infoBio.bioFormAlmacAbono}" />
                        </h:panelGrid>

                        <p:commandButton value="Agregar" class="btn btn-primary"  action="#{capitulo2View.agregarBio}" />
                        <p:commandButton value="Cancelar" class="btn btn-primary" action="descPesqueros?faces-redirect=true" />

            </div>

        </h:form>
    </h:body>
</html>
