<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:head>
	<title></title>
	<!-- Gráfica Base Local -->
	<link href="#{request.contextPath}/assets/styles/main.css"
		rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/ayudas.css"
		rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css"
		rel="stylesheet" />
	<!-- Script de Gráfica Base Local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>

	<c:choose>
		<c:when
			test="#{capitulo2View.proyecto.nsub eq 6 || capitulo2View.proyecto.nsub eq 7}">
			<script>
				var vSeccion = 8;
			</script>
		</c:when>
		<c:when test="#{capitulo2View.proyecto.nsub eq 2}">
			<script>
				var vSeccion = 6;
			</script>
		</c:when>
		<c:otherwise>
			<script>
				var vSeccion = 7;
			</script>
		</c:otherwise>
	</c:choose>
</h:head>
<h:body>
	<div class="col-md-12" id="mensaje"></div>
	<h:form id="foDatosGen">
	
	<h:inputHidden id="strInfoAdicional" value="#{capitulo2View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/> 

		<div class="semarnat_ayuda" id='case_pnl_ayuda'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>

		<div id="titulo">
			<h3>Generación, manejo y disposición de residuos sólidos,
				líquidos y emisiones a la atmósfera.</h3>
		</div>
		<hr class="red"></hr>

		<button id='case_btn_ayuda' type="button" class="btn btn-default"
			data-toggle="tooltip" data-placement="bottom">
			<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
			<span class="glyphicon-class">Ayuda</span>
		</button>
		<hr></hr>

		<!-- ===============================FS: Tabla de consulta de RESIDUOS SOLIDOS======================================= -->
		<div id="componenteConsulta" style="display: none">
			<h:panelGroup id='panelConsulta'>
				<p:scrollPanel mode="native" style="width:auto; border: none;">
					<h:dataTable styleClass="table"
						value="#{capitulo2View.contaminanteuList}" var="c">
						<h:column>
							<f:facet name="header">Etapa</f:facet>
							<h:selectOneMenu value="#{c.contaminante.etapaProyecto}"
								converter="#{catEtapaProyectoConverterBean}"
								style="width: 150px">
								<f:selectItems value="#{capitulo2View.sep}" />
							</h:selectOneMenu>
						</h:column>
						<h:column>
							<f:facet name="header">Tipo</f:facet>
							<h:selectOneMenu value="#{c.contaminante.contaminanteTipo}">
								<f:ajax render=":foDatosGen:panelConsulta"
									listener="#{c.selTipo}" />
								<f:selectItems value="#{catalogosView.catTipoCont}" var="tc"
									itemLabel="#{tc.tipoContaminanteDescripcion}"
									itemValue="#{tc.tipoContaminanteId}" />
							</h:selectOneMenu>
						</h:column>
						<h:column>
							<f:facet name="header">Emisiones, Residuos o Descargas</f:facet>
							<h:selectOneMenu value="#{c.contaminante.catContaminante}"
								converter="#{catContaminanteConverterBean}">
								<f:selectItems value="#{c.contaminanteCat}" />
							</h:selectOneMenu>
						</h:column>
						<h:column>
							<f:facet name="header">Cantidad</f:facet>
							<h:inputText readonly="true"
								value="#{c.contaminante.contaminanteCantidad}"
								style="width: 50px" />
						</h:column>
						<h:column>
							<f:facet name="header">Unidad</f:facet>
							<h:selectOneMenu value="#{c.contaminante.ctunClave}">
								<f:selectItem itemValue="0" itemLabel="Seleccione" />
								<f:selectItems value="#{catalogosView.catMedida}" var="u"
									itemLabel="#{u.ctunDesc}" itemValue="#{u.ctunClve}" />
							</h:selectOneMenu>
						</h:column>
						<h:column>
							<f:facet name="header">Fuente Emisora</f:facet>
							<p:commandButton icon="ui-icon-pencil" type="button"
								onclick="lzpC#{c.contaminante.contaminanteProyectoPK.contaminanteId}.show()"
								class="btn btn-default" style="height: 20px; padding-left: 10px" />
							<p:dialog
								widgetVar="lzpC#{c.contaminante.contaminanteProyectoPK.contaminanteId}"
								position="top" modal="true" width="600" height="500"
								header="Fuente Emisora">
								<h:inputTextarea id="control2C"
									value="#{c.contaminante.fuenteEmisora}" cols="67" rows="20" />
							</p:dialog>
						</h:column>
						<h:column>
							<f:facet name="header">Observaciones</f:facet>
							<p:commandButton icon="ui-icon-pencil" type="button"
								onclick="dsoC#{c.contaminante.contaminanteProyectoPK.contaminanteId}.show()"
								class="btn btn-default" style="height: 20px; padding-left: 10px" />
							<p:dialog
								widgetVar="dsoC#{c.contaminante.contaminanteProyectoPK.contaminanteId}"
								position="top" modal="true" width="600" height="500"
								header="Observaciones">
								<h:inputTextarea id="c23C"
									value="#{c.contaminante.observaciones}" cols="67" rows="20" />
							</p:dialog>
						</h:column>
					</h:dataTable>
				</p:scrollPanel>
			</h:panelGroup>
		</div>
		<!-- =============================================================================================================== -->

		<div id="botones" style="padding-bottom: 25px;">
			<p:commandLink id="add" value="Agregar"
				class="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
				onsuccess="myDialogEdit.show()"
				actionListener="#{contaminantes.loadAdd}"
				update=":formDialog:pnlAddContaminante" />
			<p:commandLink id="bElimina"
				class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
				value="Eliminar" actionListener="#{contaminantes.previoDelete}"
				update=":formDialog:finalizar" />
			<br />
		</div>
		<br />

		<h:panelGroup id="panelCaptura" styleClass="tableTO">
			<!--  -->
			<h:dataTable id="listaReiaProyObras" var="contaminanteProyectoTo"
				value="#{contaminantes.dtmdl}" binding="#{contaminantes.dataTable}"
				styleClass="table table-bordered">

				<h:column >
					<f:facet name="header">
						<h:selectBooleanCheckbox id="selectAllEntities"
							value="#{contaminantes.selectAllRow}" immediate="true"
							valueChangeListener="#{contaminantes.selectAllRowListener}">
							<f:ajax event="click" render="@form" />
						</h:selectBooleanCheckbox>
					</f:facet>
					<h:selectBooleanCheckbox
						value="#{contaminantes.rowSelected[contaminanteProyectoTo]}"
						immediate="true"
						valueChangeListener="#{contaminantes.selectRowListener}"
						id="chck_#{contaminanteProyectoTo.contaminanteId}">
						<f:ajax event="click" render="@form" />
					</h:selectBooleanCheckbox>
				</h:column>

				<h:column>
					<f:facet name="header">#</f:facet>
					<h:outputText value="#{contaminantes.dataTable.rowIndex+1}" />
				</h:column>

				<h:column>
					<f:facet name="header">Etapa</f:facet>
					<h:outputText value=" #{contaminanteProyectoTo.etapaDescripcion}" />
				</h:column>
				<h:column>
					<f:facet name="header">Tipo</f:facet>
					<h:outputText
						value="  #{contaminanteProyectoTo.contaminanteTipoDesc}" />
				</h:column>
				<h:column>
					<f:facet name="header">Emisiones, residuos o descargas</f:facet>
					<h:outputText
						value="#{contaminanteProyectoTo.catContaminante.contaminanteNombre}" />
				</h:column>

				<h:column>
					<f:facet name="header">Descripción de la emisión, residuo o descarga</f:facet>

					<h:outputText value="#{contaminanteProyectoTo.descEmiResiDes}" />

				</h:column>
				<h:column>
					<f:facet name="header">Cantidad</f:facet>
					<h:outputText
						value="#{contaminanteProyectoTo.contaminanteCantidad } #{contaminanteProyectoTo.unidadMedida.ctunDesc}" />

				</h:column>
				<h:column>
					<f:facet name="header">Fuente emisora</f:facet>
					<h:outputText value="#{contaminanteProyectoTo.fuenteEmisoraTrunk}" />


				</h:column>
				<h:column>
					<f:facet name="header">Manejo/disposición de los residuos o emisiones</f:facet>

					<h:outputText value="#{contaminanteProyectoTo.observacionesTrunk}" />

				</h:column>
				<h:column>
					<f:facet name="header"></f:facet>
					<p:commandButton id="editarButton"
						styleClass="btn btn-default btn-xs glyphicon glyphicon-pencil"
						onsuccess="myDialogEdit.show()" value=""
						actionListener="#{contaminantes.cargarEdicion(contaminanteProyectoTo)}"
						update=":formDialog:pnlAddContaminante">
						<f:param name="prowindexRS" value="#{contaminantes.dataTable.rowIndex+1}" />
					</p:commandButton>


				</h:column>
			</h:dataTable>
			<!--              PAGINACION               -->
			<center>
				<ul class="pagination" style="align: center;">

					<li><h:commandLink
							rendered="#{contaminantes.pagination.hasPreviousPage}">&laquo;
	          								<p:ajax immediate="true"
								listener="#{contaminantes.previous}" update="@(.tableTO)" />
						</h:commandLink></li>

					<c:forEach items="#{contaminantes.listaPaginas}" var="pag">
						<li><h:commandLink immediate="true">#{pag.intValue() + 1}
	          								<p:ajax immediate="true"
									listener="#{contaminantes.inPage(pag)}" update="@(.tableTO)" />
							</h:commandLink></li>
					</c:forEach>


					<li><h:commandLink
							rendered="#{contaminantes.pagination.hasNextPage}">&raquo;
	          							<p:ajax immediate="true"
								listener="#{contaminantes.next}" update="@(.tableTO)" />
						</h:commandLink></li>

				</ul>
			</center>
			<h:outputText value="" rendered="#{contaminantes.dtmdl.rowCount > 0}" />&nbsp;    
			    <h:outputText value="Sin registros."
				rendered="#{contaminantes.dtmdl.rowCount == 0}" />&nbsp;				
				


						
					</h:panelGroup>

	</h:form>
	<h:form id="formDialog">

		<p:dialog widgetVar="myDialogEdit" modal="true" id="myDialogEdit"
			styleClass="myDialogEdit" header="#{contaminantes.titleDialog}">
			<div class="modal-body">
				<h:panelGroup styleClass="pnlAddContaminante"
					id="pnlAddContaminante" widgetVar="pnlAddContaminante">
					<div class="row">
						<div class="col-md-1 "></div>
						<div class="col-md-4 ">
							<h:outputLabel value="Etapa" styleClass="control-label" />
						</div>
						<div class="col-md-6 ">
							<h:selectOneMenu id="selectEtapa" required="true"
								requiredMessage="Este campo es obligatorio"
								value="#{contaminantes.etapaSelected}" styleClass="form-control"
								converter="#{etapaConverter}">
								<f:selectItem itemValue="" itemLabel="Selecciona una etapa" />
								<f:selectItems value="#{contaminantes.listaEtapaP}" var="etapa"
									itemLabel="#{etapa.descEtapa}" itemValue="#{etapa}" />
							</h:selectOneMenu>
						</div>
						<div class="col-md-1 ">
							<h:message for="selectEtapa" styleClass="alert-danger" />
						</div>
					</div>


					<div class="row">
						<div class="col-md-1 "></div>
						<div class="col-md-4 ">
							<h:outputLabel value="Tipo" styleClass="control-label" />
						</div>
						<div class="col-md-6 ">
							<h:selectOneMenu id="selectTipo" required="true"
								requiredMessage="Este campo es obligatorio"
								value="#{contaminantes.tipoSelected}" styleClass="form-control"
								converter="#{tipoConverter}">
								<f:selectItem itemValue="" itemLabel="Selecciona un tipo" />
								<f:selectItems value="#{contaminantes.listaTipo}" var="tipo"
									itemLabel="#{tipo.tipoContaminanteDescripcion}"
									itemValue="#{tipo}" />
								<p:ajax event="change"
									listener="#{contaminantes.changeValueTipo}"
									update="@(.selectEmi)" />
							</h:selectOneMenu>
						</div>
						<div class="col-md-1 ">
							<h:message for="selectTipo" styleClass="alert-danger" />
						</div>
					</div>



					<div class="row">
						<div class="col-md-1 "></div>
						<div class="col-md-4 ">
							<h:outputLabel value="Emisiones, residuos o descargas"
								styleClass="control-label" />
						</div>
						<div class="col-md-6 ">
							<h:selectOneMenu id="selectEmi" required="true"
								requiredMessage="Este campo es obligatorio"
								value="#{contaminantes.contaminanteSelected}"
								styleClass="form-control selectEmi"
								disabled="#{contaminantes.tipoSelected == null}"
								converter="#{contaminanteConverter}">
								<f:selectItem itemValue=""
									itemLabel="Selecciona Emisiones, residuos o descargas" />
								<f:selectItems value="#{contaminantes.listaContaminante}"
									var="contaminante"
									itemLabel="#{contaminante.contaminanteNombre}"
									itemValue="#{contaminante}" />
							</h:selectOneMenu>
						</div>
						<div class="col-md-1 ">
							<h:message for="selectEmi" styleClass="alert-danger" />
						</div>
					</div>

					<!-- descr -->
					<div class="row">
						<div class="col-md-1 "></div>
						<div class="col-md-4 ">
							<h:outputLabel
								value="Descripción de emisiones, residuos o descargas"
								styleClass="control-label" />
						</div>
						<div class="col-md-6 ">
							<p:inputText class="form-control"
								value="#{contaminantes.to.descEmiResiDes}" maxlength="100"
								required="true" id="descEmiResiDes"
								requiredMessage="Este campo es obligatorio" />
						</div>
						<div class="col-md-1 ">
							<h:message for="descEmiResiDes" styleClass="alert-danger" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-1 "></div>
						<div class="col-md-4 ">
							<h:outputLabel value="Cantidad" styleClass="control-label" />
						</div>
						<div class="col-md-6 ">
							<p:inputText class="form-control"
								value="#{contaminantes.to.contaminanteCantidad}"
								id="contaminanteCantidad" requiredMessage="Este campo es obligatorio"
								converterMessage="Numerico" required="true" maxlength="8">
								<f:convertNumber maxFractionDigits="2" type="number"
									pattern="##0.00" />
							</p:inputText>
						</div>
						<div class="col-md-1 ">
							<h:message for="contaminanteCantidad" styleClass="alert-danger" />
						</div>
					</div>


					<div class="row">
						<div class="col-md-1 "></div>
						<div class="col-md-4 ">
							<h:outputLabel value="Unidad" styleClass="control-label" />
						</div>
						<div class="col-md-6 ">
							<h:selectOneMenu id="selectUni" required="true"
								requiredMessage="Este campo es obligatorio"
								value="#{contaminantes.unidadSeleted}" styleClass="form-control"
								converter="#{catUniMedidaConverter}">
								<f:selectItem itemValue="" itemLabel="Selecciona unidad" />
								<f:selectItems value="#{contaminantes.listaUnidad}" var="unidad"
									itemLabel="#{unidad.ctunDesc}" itemValue="#{unidad}" />
							</h:selectOneMenu>
						</div>
						<div class="col-md-1 ">
							<h:message for="selectUni" styleClass="alert-danger" />
						</div>
					</div>


					<div class="row">
						<div class="col-md-1 "></div>
						<div class="col-md-4 ">
							<h:outputLabel value="Fuente emisora" styleClass="control-label" />
						</div>
						<div class="col-md-6 ">
							<p:inputTextarea class="form-control"
								value="#{contaminantes.to.fuenteEmisora}" cols="30" rows="3"
								maxlength="300" counter="contador1"
								counterTemplate="Quedan {0} caracteres." autoResize="false">
							</p:inputTextarea>
							<h:outputText id="contador1" />
						</div>
						<div class="col-md-1 "></div>
					</div>



					<div class="row">
						<div class="col-md-1 "></div>
						<div class="col-md-4 ">
							<h:outputLabel
								value="Manejo/disposición de los residuos o emisiones."
								styleClass="control-label" />
						</div>
						<div class="col-md-6 ">
							<p:inputTextarea class="form-control"
								value="#{contaminantes.to.observaciones}" cols="30" rows="3"
								maxlength="1000" counter="contador2"
								counterTemplate="Quedan {0} caracteres." autoResize="false">
							</p:inputTextarea>
							<h:outputText id="contador2" />
						</div>
						<div class="col-md-1 "></div>
					</div>


					<div class="modal-footer">
						<p:commandButton styleClass="btn btn-default"
							onclick="myDialogEdit.hide()" value="Cancelar">
						</p:commandButton>
						<p:commandButton value="Guardar" styleClass="btn btn-primary"
							oncomplete="if(!args.validationFailed) { modalAlert.show() }"
							actionListener="#{contaminantes.guardarAll}"
							update="@(.pnlAddContaminante)" immediate="false" />
					</div>
				</h:panelGroup>
			</div>
		</p:dialog>

		<p:dialog widgetVar="myDialogDelete" modal="true" id="myDialogDelete"
			header="Eliminar registros">

			<p:panel id="finalizar">

				<div class="modal-body">
					<div class="row">
						<div class="alert alert-warning">
							<p:outputLabel value="¿Desea eliminar los siguientes registros?"
								styleClass="control-label col-md-12" />
							<br />
						</div>
					</div>

					<c:forEach items="#{contaminantes.selectedRow}" var="to">
						<div class="row">
							<h:outputLabel value="#{to.contaminanteTipoDesc}"
								styleClass="control-label col-md-8" />
						</div>
					</c:forEach>

				</div>
				<div class="modal-footer">
					<p:commandButton value="Cancelar" styleClass="btn btn-default"
						onclick="myDialogDelete.hide();" />

					<p:commandButton value="Aceptar" styleClass="btn btn-primary"
						onsuccess="myDialogDelete.hide();dlgAvisoBorrado.show();"
						actionListener="#{contaminantes.delete}"
						update=":foDatosGen:panelCaptura" immediate="true" />

				</div>
			</p:panel>
		</p:dialog>

	</h:form>

	<h:form id="mensajesOK">
		<p:dialog header="Aviso" widgetVar="dlgAvisoBorrado" modal="true"
			showEffect="fade" hideEffect="fade">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-remove"></span> Registro(s)
				eliminado(s) exitosamente.
			</div>
			<p:commandButton class="btn btn-primary" style="float: right;"
				action="residuosSolidos?faces-redirect=true" value="Aceptar"
				immediate="true"></p:commandButton>
		</p:dialog>

		<p:dialog widgetVar="modalAlert" id="modalAlert" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Registro guardado
				exitosamente.
			</div>
			<p:commandButton class="btn btn-primary" style="float: right;"
				action="residuosSolidos?faces-redirect=true" value="Aceptar"></p:commandButton>
		</p:dialog>
	</h:form>

	<h:form>
		<div id="componenteGuarda" style="float: right;">
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{contaminantes.guardarAvance}"
				onsuccess="parent.actualizaBarra();" />
		</div>
	</h:form>

	<script>
		$('#case_btn_ayuda').click({
			vClaveTramite : "#{capitulo2View.claveTramite}",
			nsub : "#{capitulo2View.proyecto.nsub}",
			capitulo : 2,
			subcapitulo : 2,
			seccion : vSeccion,
			apartado : -1
		}, case_ayuda);
	</script>

</h:body>
</html>
