<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link rel="stylesheet" href="../../assets/css/gobmx.css"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
        </style>
         <!--Se agrega una variable para realizar la especificación de la sección que le corresponde al subsector-->
        <c:choose>
            <c:when test="#{capitulo2View.proyecto.nsub eq 6 || capitulo2View.proyecto.nsub eq 7}">
                <script>
                    var vSeccion = 8;
                </script>
            </c:when>            
            <c:when test="#{capitulo2View.proyecto.nsub eq 2}">
                <script>
                    var vSeccion = 6;
                </script>
            </c:when>
            <c:otherwise>
                <script>
                    var vSeccion = 7;
                </script>
            </c:otherwise>
        </c:choose>
    </h:head>
    <h:body>
        <h:form id="foDatosGen">
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>


            <div id="carParProy">
                <h:panelGroup id="pnresdi"> 
                    <h3>Generación, Manejo y Disposición de Residuos Sólidos, Líquidos y Emisiones a la Atmósfera.</h3>
                    <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> Ayuda  
                    <br/><br/>
                    <p:scrollPanel mode="native" style="width:auto; border: none;">
                        <h:dataTable id="tabCon" styleClass="table" value="#{capitulo2View.contaminanteList}" var="c">
                            <h:column>
                                <f:facet name="header">Etapa</f:facet>
                                <h:selectOneMenu value="#{c.contaminanteProyectoPK.etapaId}" converter="#{catEtapaProyectoConverterBean}" style="width: 150px">
                                    <f:selectItems value="#{capitulo2View.sep}"/>
                                </h:selectOneMenu>
                                <!--Id etapa: #{c.contaminanteProyectoPK.etapaId}-->
                                <!--#{c.etapaProyecto.etapaProyectoPK.etapaId}-->
                                <!--#{c.etapaProyecto.catEtapa.etapaDescripcion}-->
                            </h:column>
                            <h:column>
                                <f:facet name="header">Tipo</f:facet>
                                #{c.catContaminante.tipoContaminanteId.tipoContaminanteDescripcion}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Emisiones, Residuos o Descargas</f:facet>
                                #{c.catContaminante.contaminanteNombre}
                            </h:column>
                            <h:column>
                                <f:facet name="header">Cantidad</f:facet>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Unidad</f:facet>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Fuente Emisora</f:facet>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Observaciones</f:facet>
                            </h:column>
                            <h:column>
                                <f:facet name="header">Etapa
                                    <p:graphicImage value="/assets/images/gobmx/icons/panel.png" />
                                </f:facet>
                            </h:column>
                        </h:dataTable>
                    </p:scrollPanel>

                </h:panelGroup>
            </div>

            <div style="float: right; margin-right: 20px">
                <p:commandButton value="Guardar" class="btn btn-primary" action="#{capitulo2View.guardarProyecto}" onsuccess="parent.actualizaBarra();"/>
            </div>

        </h:form>
        <script>
            $('#case_btn_ayuda').click({vClaveTramite: "#{capitulo2View.claveTramite}", nsub: "#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 2, seccion: vSeccion, apartado: -1}, case_ayuda);
        </script>
    </h:body>
</html>
