<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<h:head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- 	<link rel="stylesheet" href="../../assets/css/gobmx.css" /> -->
	<!-- 	<link href="https://framework-gb-ssl.cdn.gob.mx/qa/assets/styles/main.css" rel="stylesheet" type="text/css" /> -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<!-- 	<link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen" /> -->
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	
	<!-- Script de Gráfica Base Local - -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<!-- 	<script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script> -->
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	<script src="#{request.contextPath}/assets/js/locale_es.js"></script>

	<style>
.css_radio label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
	width: 50px;
	padding: 10px;
	vertical-align: middle;
	text-align: justify;
}

.highlight {
	background: yellow !important;
}





</style>

	<script>
            function mal1() {                 
                document.getElementById('p_malmsg1').style.display = 'block';
                // parent.verER();
            }
            function mal2() {
                document.getElementById('p_malmsg1').style.display = 'none';
                // parent.verER2();
            }
            
            function ocultaDivTablaDatos(){
            	// console.log('oculta');
            	document.getElementById('divTablaDatos').style.display = 'none';
            	document.getElementById('botones').style.display = 'none';
            }
            
			function muestraDivTablaDatos(){
				// console.log('muestra');
				document.getElementById('divTablaDatos').style.display = 'block';
				document.getElementById('botones').style.display = 'block';
            }
        </script>
	<!--Se agrega una variable para realizar la especificación de la sección que le corresponde al subsector-->
	<c:choose>
		<c:when
			test="#{capitulo2View.proyecto.nsub eq 4 || capitulo2View.proyecto.nsub eq 7}">
			<script>
                    var vSeccion = 6;
                </script>
		</c:when>
		<c:when test="#{capitulo2View.proyecto.nsub eq 6}">
			<script>
                    var vSeccion = 7;
                </script>
		</c:when>
		<c:otherwise>
			<script>
                    var vSeccion = 5;
                </script>
		</c:otherwise>
	</c:choose>
	


</h:head>
<h:body
	onload="javascript:getInformacionAdicional('#{capitulo2View.strComentProy}','foDatosGen',2,#{capitulo2View.vseccion},0,'Sustancias riesgosas')">
<div class="col-md-12" id="mensaje"></div>

	<ui:include src="/loading.xhtml"/>

	<h:form id="foDatosGen">

		<h:inputHidden id="ubicActual" value="#{capitulo2View.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional"
			value="#{capitulo2View.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional"
			process="strInfoAdicional" />

		<div class="semarnat_ayuda" id='case_pnl_ayuda'>
			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div>
		</div>

		<div id="p_malmsg1" style="display: none">
			<div class="alert alert-warning">Una de las sustancias supera
				la cantidad permitida, debe presentar un Estudio de Riesgo Ambiental
			</div>
		</div>

		<c:if test="#{capitulo2View.estudioRiesgoId eq 1}">
			<script>mal1();</script>
		</c:if>
		<c:if test="#{capitulo2View.estudioRiesgoId eq 0}">
			<script>mal2();</script>
		</c:if>

		<p:dialog widgetVar="modalGuardarSustExitoSi"
			id="modalGuardarSustExitoSi" header="Aviso" modal="true"
			closable="false" position="top">
			<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Su información ha sido
				guardada con Éxito.</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalGuardarSustExitoSi.hide();">Aceptar</button>
		</p:dialog>

		<p:dialog widgetVar="modalGuardarSustExitoNo"
			id="modalGuardarSustExitoNo" header="Aviso" modal="true"
			closable="false" position="top">
			<div class="alert alert-warning"><span class="glyphicon glyphicon-remove"></span> No se ha podido guardar la
				información, Intente mas tarde..</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalGuardarSustExitoNo.hide();">Aceptar</button>
		</p:dialog>

		<p:dialog widgetVar="modalProyDescNat" id="modalProyDescNat"
			header="Aviso" modal="true" closable="false" position="top">
			<div class="alert alert-warning"><span class="glyphicon glyphicon-remove"></span> No es posible guardar la
				información, su captura contiene mas de 3500 caracteres</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalProyDescNat.hide();">Aceptar</button>
		</p:dialog>

		<!-- Ventana modal alerta -->
		<p:dialog widgetVar="modalAlerta" id="dlgAlerta" header="Alerta"
			modal="true"><div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span>
			<p:outputLabel id="lblAlerta" value=" Archivo guardado correctamente." /></div>
			<br />
			<p:commandButton styleClass="btn btn-primary alinDerecha" value="Aceptar"
				process="@this" onclick="modalAlerta.hide()" />
		</p:dialog>

	</h:form>


	<div id="planosAdicionales">
		<h:panelGroup id="pSelSit">
			<h:form id="fTabla">
					<div id="titulo"></div>
					<hr class="red"></hr>					
						<button id='case_btn_ayuda' type="button" class="btn btn-default"
					data-toggle="tooltip" data-placement="bottom">
					<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button><hr></hr>					

					<!-- Div de pregunta PDU -->
					<p:outputLabel 
						value="¿Su proyecto requiere del uso de sustancias riesgosas?" />
					<p:spacer width="20px" />
					
					<h:commandButton id="btnNo"
						styleClass="#{!capitulo2View.proySustAplica?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}"
						value="No">
						<p:ajax event="click"
							listener="#{capitulo2View.respuestaAplicaNo}"
							update="btnSi btnNo btnAgregarElements btnEliminarElements"
							immediate="true" />
					</h:commandButton>
					<p:spacer width="5px" />
					<h:commandButton id="btnSi"
						styleClass="#{capitulo2View.proySustAplica?'btn btn-primary btn-sm panelTan1Q2':'btn btn-default btn-sm panelTan1Q2'}"
						value="SI">
						<p:ajax event="click"
							listener="#{capitulo2View.respuestaAplicaSi}"
							update="btnNo btnSi btnAgregarElements btnEliminarElements"
							immediate="true" />
					</h:commandButton>

					<div id="componenteActualiza"
						style="display: none; float: right; margin-right: 20px">
						<br />
						<p:commandButton value="Modificar sección (opcional)"
							class="btn btn-primary"
							onclick="actualizaComponentesModifica('foDatosGen');" />
					</div>

<!-- Icono del lado izquierdo del botón -->

					<div id="botones" style="display: none; padding-bottom: 18px;">
								    
					
					<!-- 				mas -->
					<p:commandLink id="btnAgregarElements"
						styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{capitulo2View.crearSustancia}"
						update=":fAgregar:pnlAgregar" 
						disabled="#{!capitulo2View.proySustAplica}" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar				
						<f:attribute name="tipo" value="preparacion" />
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- 				menos -->
					<p:commandLink id="btnEliminarElements"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"
						actionListener="#{capitulo2View.tieneSustanciasSeleccionadas}"
						update=":fEliminar:multiCrit"
						disabled="#{!capitulo2View.proySustAplica}">
						<p:ajax process="@this" />
					</p:commandLink><br />
					<button class="btn btn-default" type="button" style="display: none">
					  <span class="glyphicon glyphicon-plus"></span>Agregar
					</button>
					<br />
					</div>

				<!--  Tabla de consulta de datos -->
				<div id="divTablaDatos" style="display: none; padding-right: 2px; padding-top: 6px;">
					<p:dataTable id="tablaDatos"
						value="#{capitulo2View.sustanciasList}" var="c" rowIndexVar="rowIndexSust"
						selection="#{capitulo2View.sustanciasListSelecciones}"
						rowKey="#{c.model.sustanciaProyectoPK.sustProyId}"
						paginator="true" paginatorPosition="bottom" rows="10"
						emptyMessage="Sin registros." style="margin-bottom: 0"
						rowStyleClass="#{c.model.excedeLimite eq '1' ? 'highlight' : null}"> 	
						<p:column id="eliminarR" selectionMode="multiple"
							style="width:50px;text-align:center">
						</p:column>
						<p:column style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
								<h:outputText value="#{rowIndexSust+1}" />
						</p:column>
						<p:column style="white-space: normal">
							<f:facet name="header">Etapa</f:facet>
								<h:outputText value="#{c.model.etapaId.etapaDescripcion}" />
						</p:column>|
						<p:column style="white-space: normal;">
							<f:facet name="header">Tipo de sustancia</f:facet>
								<h:outputText
									value="#{c.model.sustanciaId.sustanciaDescripcion}" />
						</p:column>
						<p:column style="white-space: normal;">
							<f:facet name="header">Cantidad almacenada</f:facet>
								<h:outputText value="#{c.model.sustanciaCantidadAlmacenada}" />
						</p:column>
						<p:column style="white-space: normal;">
							<f:facet name="header">Unidad</f:facet>
								<!-- <h:outputText value="#{c.model.sustanciaId.sustanciaUnidad}" />   -->
								<h:outputText value="#{c.unidad.ctunDesc}" />
						</p:column>
						<p:column style="white-space: normal;text-align:center">
							<f:facet name="header">Hoja de seguridad</f:facet>
							<p:commandButton
								class="btn btn-default btn-xs glyphicon glyphicon-upload"
								value="" action="#{capitulo2View.iniciarArchivo}"
								oncomplete="dlgSubirArchivo.show()"
								update=":fSubirArchivo:pnlContenidoArchivo :fSubirArchivo:dlgSubirArchivo"
								process="@this">
								<!--                                 disabled="#{c.claveOrigenRegistro != 1}" -->
								<f:param name="id"
									value="#{c.model.sustanciaProyectoPK.sustProyId}" />
							</p:commandButton>
						</p:column>
						<p:column style="white-space: normal; width: 6%; text-align: center;">
							<f:facet name="header"></f:facet>
								<p:button
								styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open"
								value=""
								onclick="window.open('../../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{c.model.idArchivoProyecto}'); return false;"
								disabled="#{empty c.model.idArchivoProyecto}"/>
						</p:column>
						<p:column style="white-space: normal; width: 6%; text-align: center;">
							<f:facet name="header" />
							<p:commandButton
								class="btn btn-default btn-xs glyphicon glyphicon-pencil"
								value="" action="#{capitulo2View.consultarSustancia}"
								onclick="modalEditar.show()"
								update=":fEditar:pnlEditar :fEditar:formEditarHeader">
								<p:ajax process="@this" />
								<f:param name="prowindexSust" value="#{rowIndexSust+1}" />
								<f:param name="id" value="#{c.model.sustanciaProyectoPK.sustProyId}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</div>

			</h:form>
		</h:panelGroup>
	</div>


	<!-- Formulario para agregar registro -->
	<h:form id="fAgregar">
		<p:dialog widgetVar="modalAgregar" id="modalAgregar" modal="true"
			closable="false" position="top" resizable="false">
			<f:facet name="header" style="background-color: black;">Agregar sustancia riesgosa</f:facet>
			<p:outputPanel id="pnlAgregar">
				<p:outputLabel value="Etapa"/>
				<p:outputLabel value="" for="etapas" />
				<p:outputLabel value=":"/>
				<br />
				<h:selectOneMenu id="etapas" value="#{capitulo2View.selectedEtapa}"
					converter="#{catEtapaConverterBean}" required="true" class="form-control"
					requiredMessage="Este campo es obligatorio"
					validatorMessage="Este campo es obligatorio">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="false"></f:selectItem>
					<f:selectItems value="#{catalogosView.catEtapa}" />
				</h:selectOneMenu>
				<p:message for="etapas" />
				<br />
				<p:outputLabel value="Tipo de sustancia" />
				<p:outputLabel value="" for="acuno"/>
				<p:outputLabel value=":" />
				<br />
				<p:autoComplete id="acuno"
					style="border: 1px;opacity: 1; filter: Alpha(Opacity=100);"
					completeMethod="#{capitulo2View.completarSustancias}"
					value="#{capitulo2View.sustanciariesgosaId}" forceSelection="true"
					var="sust" required="true"
					requiredMessage="Este campo es obligatorio"
					itemValue="#{sust}" itemLabel="#{sust.sustanciaDescripcion}"
					converter="#{convSustAltamR}" disabled="false">
					<p:ajax event="itemSelect" listener="#{capitulo2View.verificaOtra}"
						update=":fAgregar:Otra, lblunidad" />
				</p:autoComplete>
				<br />
				<p:message for="acuno"/>
				<h:panelGroup id="Otra">
					<h:panelGroup
						rendered="#{capitulo2View.sustanciariesgosaId.sustanciaDescripcion eq 'Otra'}">
						<h:outputLabel value="Capture la Sustancia" />
						<h:outputLabel value="" for="itsustprom"/>
						<h:outputLabel value=":" />
						<br />
						<h:inputText id="itsustprom" class="form-control"
							value="#{capitulo2View.sustanciaPromovente}"
							required="#{capitulo2View.sustanciariesgosaId.sustanciaDescripcion eq 'Otra'}"
							requiredMessage="Este campo es obligatorio"
							validatorMessage="Este campo es obligatorio" readonly="false" />
					</h:panelGroup>
				</h:panelGroup>
				<p:message for="itsustprom" />
				<br />
				<p:outputLabel value="Cantidad almacenada" />
				<p:outputLabel value="" for="itcantidadalmacenada" />
				<p:outputLabel value=":" />
				<p:inputText id="itcantidadalmacenada" class="form-control"
					value="#{capitulo2View.sustanciaCantidadAlmacenada}"
					style="width: 65%;" required="true"
					requiredMessage="Este campo es obligatorio"
					validatorMessage="Este campo es obligatorio">
					<f:validateDoubleRange minimum="1.00" maximum="99999999.99" />
					<p:ajax event="keyup"
						listener="#{capitulo2View.verificaCantidadAgregar}" />
				</p:inputText>
				<br />
				<p:message for="itcantidadalmacenada" />
				<p:outputLabel value="Unidad: " />
				<p:outputLabel id="lblunidad" value="#{capitulo2View.ctunDesc}" />
				<br />
				<!-- 					<p:message for="lblunidad" /> -->
				<br />
				<p:commandButton id="guardar" class="btn btn-primary"
					value="Guardar" update=":fTabla:tablaDatos,pnlAgregar"
					action="#{capitulo2View.agregarSustancia}" style="float: right;" />
				<p:commandButton id="cerrarModalA" class="btn btn-default"
					value="Cerrar" type="button" onclick="modalAgregar.hide();"
					update="pnlAgregar" immediate="true"
					style="float: right; margin-right: 10px;" />
				<br />
			</p:outputPanel>
		</p:dialog>

		<p:dialog widgetVar="modalAlert" id="modalAlert" header="Aviso"
			modal="true" closable="false" position="top">
			<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Registro guardado
				exitosamente.</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlert.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Formulario para editar registro -->
	<h:form id="fEditar">
		<p:dialog widgetVar="modalEditar" id="modalEditar" modal="true"
			closable="false" position="top">
			<f:facet name="header">
				<p:outputPanel id="formEditarHeader">
					<h4 class="modal-title">Editar sustancia riesgosa # #{capitulo2View.rowIndexSustREditar}</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditar">
				<p:outputLabel value="Etapa"/>
				<p:outputLabel value="" for="etapasE" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="etapasE" required="true" class="form-control"
					requiredMessage="Este campo es obligatorio"
					value="#{capitulo2View.editSustancia.model.etapaId}"
					converter="#{catEtapaConverterBean}" hideNoSelectionOption="true"
					disabled="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="false"></f:selectItem>
					<f:selectItems value="#{catalogosView.catEtapa}" />
				</h:selectOneMenu>
				<br />
				<p:outputLabel value="Tipo de sustancia"/>
				<p:outputLabel value="" for="acunoE"/>
				<p:outputLabel value=":" />
				<br />
				<p:autoComplete id="acunoE"
					style="border: 1px;opacity: 1; filter: Alpha(Opacity=100);"
					completeMethod="#{capitulo2View.completarSustancias}"
					value="#{capitulo2View.sustanciariesgosaId}" forceSelection="true"
					var="sust" required="true"
					requiredMessage="Este campo es obligatorio"
					itemValue="#{sust}" itemLabel="#{sust.sustanciaDescripcion}"
					converter="#{convSustAltamR}" disabled="true">
					<p:ajax event="itemSelect" listener="#{capitulo2View.verificaOtra}"
						update=":fEditar:OtraE, lblunidadE" />
				</p:autoComplete>
				<h:panelGroup id="OtraE"><br />
					<h:panelGroup
						rendered="#{capitulo2View.sustanciariesgosaId.sustanciaDescripcion eq 'Otra'}">
						<h:outputLabel value="Capture la Sustancia" />
						<br />
						<h:inputText value="#{capitulo2View.sustanciaPromovente}"
							required="#{capitulo2View.sustanciariesgosaId.sustanciaDescripcion eq 'Otra'}"
							readonly="false" class="form-control"
							requiredMessage="Este campo es obligatorio" />
					</h:panelGroup>
				</h:panelGroup>
				<br />
				<p:outputLabel value="Cantidad almacenada" />
				<p:outputLabel value="" for="itcantidadalmacenadaE" />
				<p:outputLabel value=":" />
				<p:inputText id="itcantidadalmacenadaE" class="form-control"
					value="#{capitulo2View.sustanciaCantidadAlmacenada}"
					style="width: 65%" required="true"
					requiredMessage="Este campo es obligatorio"
					validatorMessage="Este campo es obligatorio">
					<f:validateDoubleRange minimum="1.00" maximum="99999999.99" />
					<p:ajax event="keyup"
						listener="#{capitulo2View.verificaCantidadAgregar}" />
				</p:inputText>
				<br />
				<p:message for="itcantidadalmacenadaE" />
				<p:outputLabel value="Unidad" />
				<p:outputLabel value="" for="lblunidadE" />
				<p:outputLabel value=":" />
				<p:outputLabel id="lblunidadE" value="#{capitulo2View.ctunDesc}" />
				<p:message for="lblunidadE" />
				<br />

				<p:commandButton id="guardarE" value="Guardar"
					class="btn btn-primary"
					update=":fTabla:tablaDatos,pnlEditar"
					action="#{capitulo2View.editarSustancia}" style="float: right;">
				</p:commandButton>
				<p:commandButton id="cerrarModalE" value="Cerrar"
					class="btn btn-default botonEliminar" onclick="modalEditar.hide()"
					update="pnlEditar" immediate="true"
					style="float: right; margin-rigth: 20px;" />
			</p:outputPanel>
		</p:dialog>
		<p:dialog widgetVar="modalAlertE" id="modalAlertE" header="Aviso"
			modal="true" closable="false" position="top">
			<div class="alert alert-success"><span class="glyphicon glyphicon-ok"></span> Registro actualizado
				exitosamente.</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="modalAlertE.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	<!-- Form para confirmar la eliminación -->
	<h:form id="fEliminar">
		<p:dialog header="Eliminar sustancia" widgetVar="eliminarSustancias"
			id="eliminarSustancias" modal="true" position="top" showEffect="fade"
			hideEffect="fade" closable="false" resizable="false">
			<div class="alert alert-warning">¿Realmente desea borrar la(s)
				sustancia(s)?</div>
			<p:outputPanel id="multiCrit">
				<ui:repeat value="#{capitulo2View.sustanciasListSelecciones}"
					var="c">
					<h:outputText
						value="#{c.model.etapaId.etapaDescripcion} - #{c.model.sustanciaId.sustanciaDescripcion}"
						style="display:block" />
				</ui:repeat>
			</p:outputPanel>
			<p:commandButton value="Sí"
				action="#{capitulo2View.eliminarSustancias}"
				class="btn btn-primary" update=":fTabla:tablaDatos"
				oncomplete="eliminarSustancias.hide();dlgAvisoBorrado.show()"
				style="float:right;" />
			<p:commandButton type="button" value="No" update=":fTabla:tablaDatos"
				class="btn btn-default" onclick="eliminarSustancias.hide()"
				style="float:right;" />
		</p:dialog>

		<p:dialog header="Aviso" widgetVar="dlgAvisoBorrado" modal="true"
			position="top" showEffect="fade" hideEffect="fade">
			<div class="alert alert-success"><span class="glyphicon glyphicon-remove"></span> Registro(s) eliminado(s)
				exitosamente.</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="dlgAvisoBorrado.hide();">Aceptar</button>
		</p:dialog>
	</h:form>

	

	<!-- MODAL PARA SUBIR ARCHIVOS -->
	<h:form id="fSubirArchivo">
		<p:dialog header="Adjuntar archivo" draggable="false"
			widgetVar="dlgSubirArchivo" id="dlgSubirArchivo" modal="true"
			closable="false" onShow="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				  $('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');">
			<p:outputPanel id="pnlContenidoArchivo">

						<p:outputLabel value="Nombre" />
						<p:outputLabel id="lblNombreArchivo" value="" for="txtNombreArchivo"/>
						<p:outputLabel value=":" />

						<br/>

						<p:inputText id="txtNombreArchivo"
							value="#{capitulo2View.archivoTemporal.nombre}"
							style="width:100%;"
							required="true" 
							requiredMessage="Este campo es obligatorio" 
							validatorMessage="Este campo es obligatorio" maxlength="50">
						</p:inputText>
						<p:message for="txtNombreArchivo" />
						
						<br/>
						
						<p:outputLabel value="Descripción" />
						<p:outputLabel id="lblDescripcionArchivo" value="" for="txtDescripcionArchivo"/>
						<p:outputLabel value=":" />

						<br/>
	
						<p:inputTextarea id="txtDescripcionArchivo" class="form-control"
							value="#{capitulo2View.archivoTemporal.descripcion}"
							style="width:100%;" 
							cols="50"
							rows="3" maxlength="200" counter="descount"
							counterTemplate="Quedan {0} caracteres."
							required="true" 
							requiredMessage="Este campo es obligatorio" 
							validatorMessage="Este campo es obligatorio" 
							autoResize="false">
						</p:inputTextarea>
						<h:outputText id="descount" />
						<p:message for="txtDescripcionArchivo"/>

						<br/>

						<p:outputLabel id="lblReservadoArchivo" value="Reservado:" />
						<p:selectBooleanCheckbox
							value="#{capitulo2View.cargaBean.reservado}">
						</p:selectBooleanCheckbox>

						<br/>

						<p:outputLabel value="Cargar archivo" />
						<p:outputLabel value="" for="fUploadArchivo" />
						<p:outputLabel value=":" />

						<br/>
	
						<h:panelGrid columns="2" style="width: 100%">
		                    <p:fileUpload mode="advanced" id="fUploadArchivo" styleClass="fileupload-simple" onstart="$('.fileupload-content.ui-widget-content.ui-corner-bottom').show();" 
		                    	oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide();"                               
			                    fileUploadListener="#{capitulo2View.cargaBean.handleFileUpload}"	                                  
			                    sizeLimit="10485760" 
			                    label="Seleccionar archivo"                                 
			                    invalidSizeMessage="El tamaño del archivo es demasiado grande"
			                    invalidFileMessage="Tipo de archivo invalido"
			                    allowTypes="/(\.|\/)(pdf|doc|docx|jpg|jpeg|gif|png|xls|xlsx|dwg)$/" update="lblCargaArchivoAnexo"
			                    required="true" requiredMessage="No seleccionó el archivo." 
			                    auto="true" style="width: 100%"/>
			                    
				                <c:if test="#{empty capitulo2View.cargaBean.file.fileName}">
									<p:outputLabel id="lblCargaArchivoAnexo" value="Ningún archivo seleccionado" style="width: 100%;" styleClass="archivoCargado"/>	                
				                </c:if>		    
				                
				                <c:if test="#{not empty capitulo2View.cargaBean.file.fileName}">
									<p:outputLabel id="lblCargaArchivoAnexo" value="#{capitulo2View.cargaBean.file.fileName}" style="width: 100%;" styleClass="archivoCargado"/>	                
				                </c:if>		                    	
						</h:panelGrid>
						
						<p:outputLabel id="msjValida" value="#{capitulo2View.msj}" style="color:#B40431" />
						
						<p:message id="msgFileAnexos" for="fUploadArchivo" display="true" />
						
						<div id="divExtensiones" class="alert alert-info">
							<p:outputLabel value="Extensiones permitidas: (pdf/doc/docx/jpg/jpeg/gif/png/xls/xlsx/dwg)"/>
							<br/>
															
							<p:outputLabel value="El tamaño límite es de 10MB"/>					
						</div>
						
						<br/>						
			
			</p:outputPanel>
			<br />	
			
			<p:commandButton id="btnGuardarModalArchivo" class="btn btn-primary" style="float: right;"
				value="Guardar" action="#{capitulo2View.guardarArchivo}"
				process="@this pnlContenidoArchivo"
				oncomplete="$('.fileupload-content.ui-widget-content.ui-corner-bottom').hide(); 
				$('.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.fileinput-button').css('background-color', '#DDDDDD');"	
				update=":foDatosGen:lblAlerta :fTabla:tablaDatos :fSubirArchivo:pnlContenidoArchivo" />
				
				<p:commandButton id="btnCerrarModalArchivo" class="btn btn-default botonEliminar" style="float: right;"
				value="Cerrar" onclick="dlgSubirArchivo.hide();" process="@this" update=":fSubirArchivo:pnlContenidoArchivo"/>
		</p:dialog>
 	</h:form>
 	
 	<h:form>
		<div id="componenteGuarda" style="float: right;">
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{capitulo2View.guardarProyectoSustancia}"
				onsuccess="parent.actualizaBarra();" process="@form"/>
		</div>
	</h:form>


	<script>
            $('#case_btn_ayuda').click({vClaveTramite: "#{capitulo2View.claveTramite}", nsub: "#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 2, seccion: vSeccion, apartado: -1}, case_ayuda);
    </script>
    
    <c:choose>
		<c:when
			test="#{capitulo2View.proySustAplica == true }">
			<script>			
				// console.log('muestra div');
				muestraDivTablaDatos();
            </script>
		</c:when>		
		<c:otherwise>
			<script>
			    // console.log('oculta div');
				ocultaDivTablaDatos();
            </script>
		</c:otherwise>
	</c:choose>
</h:body>
</html>
