<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<h:head>
	<title></title>
	<meta http-equiv="Expires" content="0" />
	<meta http-equiv="Last-Modified" content="0" />
	<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate" />
	<meta http-equiv="Pragma" content="no-cache" />
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"
		charset="utf-8" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
		<!-- Hoja de Estilos Grafica base local -->
			<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" />	       
	        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
	        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		
	
<!-- 	        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script> -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
	<style>
.css_radio label {
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold;
	width: 50px;
	padding: 10px;
	vertical-align: middle;
	text-align: justify;
}
/*    .ui-icon {
			    background-image: url("http://www.primefaces.org/showcase/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");
			}  */
.ui-widget-content .ui-icon {
	background-image:
		url("http://www.primefaces.org/showcase/javax.faces.resource/images/ui-icons_616161_256x240.png.xhtml?ln=primefaces-aristo");
}

.ui-widget-content .ui-icon-check {
	background-image: none;
}

.rowHijo {
	background-color: #d9edf7;
}
</style>
</h:head>
<h:body
	onload="javascript:getInformacionAdicionalMulti('#{capitulo2View.strComentProy}','foDatosGen','2,2,1-Uso de suelos y/o Cuerpos de Agua del predio|2,2,2-Uso de suelo de predios colindantes')">
<div class="col-md-12">
	    <div class="row" id="mensaje"></div>
		<div class="row" id="case_pnl_ayuda_cnt"></div>
	
	<h:form id="foDatosGen">
		<h:inputHidden id="ubicActual" value="#{capitulo2View.ubicActual}" />
		<p:remoteCommand name="remoteUbicActual" process="ubicActual" />

		<h:inputHidden id="strInfoAdicional" value="#{capitulo2View.strInfoAdicional}" />
		<p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional" />

<!-- 		<div class="semarnat_ayuda" id='case_pnl_ayuda'> -->
<!-- 			<div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div> -->
<!-- 		</div> -->

		<div id="titulo">
			<h3>Uso actual de suelo y/o cuerpos de agua en el sitio del
				proyecto.<a style="color:#000;" ><span id='case_btn_ayuda' class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3>
		</div>
		<hr class="red"></hr>

		<!-- <div id="componenteCaptura1" style="display:none;"> -->
		<!-- ESTA ES LA TABLA QUE SE PINTA (SUELOS)-->
		<p:treeTable id="ttSuelos" value="#{capitulo2View.rootSuelos}"
			var="node" widgetVar="ttSuelos"
			rowStyleClass="#{node.tipoRow eq 'Hijo' ? 'rowHijo' : null}">
			<p:column headerText="Componente" style="white-space: normal">
				<h:outputText value="#{node.nombreObra}" />
			</p:column>
			<p:column headerText="Descripción" style="white-space: normal">
				<h:outputText value="#{node.descripcion}" />
			</p:column>
			<p:column headerText="Grupo de vegetación"
				style="white-space: normal">
				<h:outputText value="#{node.grupoVegetacion}" />
			</p:column>
			<p:column headerText="Tipo de vegetación o uso de suelo"
				style="white-space: normal">
				<h:outputText value="#{node.tipoVegetacion}" />
			</p:column>
			<p:column headerText="Fase de vegetación" style="white-space: normal">
				<h:outputText value="#{node.faseVegetacion}" />
			</p:column>
			<p:column headerText="Superficie m&lt;sup&gt;2&lt;&#47;sup&gt;" style="white-space: normal; text-align: right;" escape="false">
				<h:outputLabel value="#{node.superficie}">
<!-- 					<f:convertNumber pattern="###,###.##" /> -->
					<f:convertNumber pattern="###,##0.00" />
				</h:outputLabel>
			</p:column>
			<p:column headerText="¿Está de acuerdo?" style="white-space: normal;width:10%">
				<h:commandButton styleClass="btn btn-primary btn-sm" value="Si"
					rendered="#{node.tipoRow eq 'Padre'}">
				</h:commandButton>
				<p:spacer width="5px" />
				<h:commandButton styleClass="btn btn-default btn-sm" value="No"
					rendered="#{node.tipoRow eq 'Padre'}"
					action="#{capitulo2View.crearNuevoDetalleSuelo}">
					<f:param name="id" value="#{node.id}" />
					<p:ajax oncomplete="modalDetallesSuelo.show()"
						update=":foDatosGen:pnlContenidoModal :foDatosGen:dlgModalDetallesSuelo" />
					<p:resetInput target=":foDatosGen:pnlContenidoModal" />
				</h:commandButton>
				<p:commandButton
					class="btn btn-default btn-xs glyphicon glyphicon-pencil" value=""
					rendered="#{node.tipoRow eq 'Hijo'}"
					action="#{capitulo2View.cargarDetalleSueloSeleccionado}"
					oncomplete="modalDetallesSuelo.show()" process="@this"
					update=":foDatosGen:pnlContenidoModal :foDatosGen:dlgModalDetallesSuelo">
					<f:param name="id" value="#{node.id}" />
				</p:commandButton>
				<h:panelGroup >
				<p:commandButton
					class="btn btn-default btn-xs glyphicon glyphicon-remove-circle"
					value="" rendered="#{node.tipoRow eq 'Hijo'}"
					action="#{capitulo2View.cargarDetalleSueloSeleccionado}"
					oncomplete="modalBorrarDetalle.show()" process="@this">
					<f:param name="id" value="#{node.id}" />
				</p:commandButton>
				</h:panelGroup>
			</p:column>
		</p:treeTable>
		<!--  </div> -->
		<br />
		<br />

		<div id="titulo2"></div>
		<hr class="red"></hr>
		<!-- Botones de Administracion de Predios -->
		<div id="botones" style="float: right;">
					<!-- mas -->
					<p:commandLink styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{capitulo2View.crearUsoSuelo}"
						update=":Agregar:pnlAgregar"
						oncomplete="Agregar:modalAgregar.show()" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar						
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- menos -->
			
					<p:commandLink id="btnEliminar"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar" 
						oncomplete="modalEliminar.show()"
						update=":Eliminar:pnlEliminar"
						disabled="#{capitulo2View.selectedPredios.size() == 0}" >
						<p:ajax process="@this" />
					</p:commandLink><br />	
		</div>
		<br />
		<br />
		<br />

		<div id="componenteCaptura">
			<h:panelGroup id='panelCaptura'>
				<!-- NUEVA Tabla de registros de Uso de suelo -->
				<h:panelGroup id="pSelSit">
					<p:dataTable value="#{capitulo2View.predCol}" var="pd" rowIndexVar="rowIndexUSPC"
						paginator="true" paginatorPosition="bottom" id="tablaDatos"
						selection="#{capitulo2View.selectedPredios}"
						rowKey="#{pd.prediocolinProyPK.predioColinId}"
						emptyMessage="Sin registros.">
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminar" />
						<p:ajax event="rowUnselectCheckbox"
							update=":foDatosGen:btnEliminar" />
						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminar" />
						<p:column id="check" selectionMode="multiple"
							style="width:5%;text-align:center" >
							<!--<f:ajax execute="eliminarR" render="eliminarB" event="change" />-->
						</p:column>
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
							<h:outputText value="#{rowIndexUSPC+1}" />
						</p:column>
						<p:column style="white-space: normal">
							<f:facet name="header">Predio</f:facet>
							<h:outputText value="#{pd.predioNombre}" />
						</p:column>
						<p:column style="white-space: normal">
							<f:facet name="header">Clasificación</f:facet>
							<h:outputText
								value="#{pd.clasificacionId.clasificacionDescripcion}" />
						</p:column>
						<p:column style="white-space: normal">
							<f:facet name="header">Uso de suelo</f:facet>
							<!--                                     <h:outputText value="#{pd.temporalidadId.temporalidadDescripcion}"/> -->
							<h:outputText value="#{pd.clasificacionBId.clasificacionB}" />
						</p:column>
						<p:column style="white-space: normal">
							<f:facet name="header">Referencia</f:facet>
							<h:outputText value="#{pd.referenciaId.referenciaDescripcion}" />
						</p:column>
						<p:column style="white-space: normal">
							<f:facet name="header">Descripción</f:facet>
							<h:outputText value="#{pd.predioDescripcionCorta}" />
						</p:column>
						<p:column
							style="white-space: normal; width: 80px; text-align: center;">
							<f:facet name="header" />
							<!-- 	                                <button class="btn btn-default btn-xs" type="button"> -->
							<!-- 	                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> -->
							<!--                                     </button> -->
							<p:commandButton
								class="btn btn-default btn-xs glyphicon glyphicon-pencil"
								value="" action="#{capitulo2View.consultarUsoSuelo}"
								update=":Editar:pnlEditar,:Editar:pnlEditarHeader"
								oncomplete="Editar:modalEditar.show()" immediate="true">
								<p:ajax process="@this" />
								<f:param name="prowindexUSPC" value="#{rowIndexUSPC+1}" />
								<f:param name="id" value="#{pd.prediocolinProyPK.predioColinId}" />
							</p:commandButton>
						</p:column>

					</p:dataTable>
				</h:panelGroup>
			</h:panelGroup>
		</div>

		<!-- 
                         <c:set value="2.8" target="#{capitulo2View}" property="seccion" />
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" />
            -->

		<div id="componenteGuarda"
			style="display: block; float: right; clear: right;">
			<br />
			<p:commandButton value="Guardar" class="btn btn-primary"
				action="#{capitulo2View.guardarProyecto}" process="@this"
				onsuccess="parent.actualizaBarra();" />
		</div>


		<!-- VENTANA MODAL PARA AGREGAR DETALLES DE SUELO -->
		<p:dialog id="dlgModalDetallesSuelo"
			header="#{capitulo2View.headerTextDetalle}"
			widgetVar="modalDetallesSuelo" modal="true" closable="false">
			<p:panelGrid id="pnlContenidoModal">
				<p:row>
					<p:column>
						<p:outputLabel id="lblVegGrupo"
							value="Seleccione el grupo de vegetación:" for="slGrupo" />
					</p:column>
					<p:column>
						<p:selectOneMenu id="slGrupo" value="#{capitulo2View.idVegGrupo}"
							required="true"
							requiredMessage="Este campo es obligatorio"
							validatorMessage="Este campo es obligatorio">
							<f:selectItem itemLabel="Seleccione un grupo de vegetación"
								itemValue="" />
							<f:selectItems value="#{capitulo2View.listaVegGrupos}"
								var="vegGrupo" itemLabel="#{vegGrupo.vegNombre}"
								itemValue="#{vegGrupo.idVegGrupo}" />
							<p:ajax listener="#{capitulo2View.mostrarVegTipos}"
								update=":foDatosGen:pnlContenidoModal" />
						</p:selectOneMenu>
						<p:message for="slGrupo" display="text" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel id="lblTipoGrupo"
							value="Seleccione el tipo de vegetación:" for="slTipo" />
					</p:column>
					<p:column>
						<p:selectOneMenu id="slTipo" value="#{capitulo2View.idVegTipo}"
							required="true"
							requiredMessage="Este campo es obligatorio"
							validatorMessage="Este campo es obligatorio">
							<f:selectItem itemLabel="Seleccione un tipo de vegetación"
								itemValue="" />
							<f:selectItems
								value="#{capitulo2View.sueloVegetacionDetalleSeleccionado.vegGrupo.listaVegTipos}"
								var="vegTipo" itemLabel="#{vegTipo.vegNombre}"
								itemValue="#{vegTipo.idVegTipo}" />
							<p:ajax listener="#{capitulo2View.mostrarVegFases}"
								update=":foDatosGen:slFase" />
						</p:selectOneMenu>
						<p:message for="slTipo" display="text" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel id="lblFaseGrupo"
							value="Seleccione la fase de vegetación:" for="slFase" />
					</p:column>
					<p:column>
						<p:selectOneMenu id="slFase" value="#{capitulo2View.idVegFase}"
							required="true"
							requiredMessage="Este campo es obligatorio"
							validatorMessage="Este campo es obligatorio">
							<f:selectItem itemLabel="Seleccione la fase de vegetacion"
								itemValue="" />
							<f:selectItems
								value="#{capitulo2View.sueloVegetacionDetalleSeleccionado.vegTipo.listaVegFases}"
								var="vegFase" itemLabel="#{vegFase.vegNombre}"
								itemValue="#{vegFase.idVegFase}" />
							<p:ajax listener="#{capitulo2View.asignarFaseTipo}" />
						</p:selectOneMenu>
						<p:message for="slFase" display="text" />
					</p:column>
				</p:row>
				<p:row>
					<p:column>
						<p:outputLabel id="lblSuperficie"
							value="Ingrese la superficie en m&lt;sup&gt;2&lt;&#47;sup&gt;:" for="txtSuperficie" escape="false" />
					</p:column>
					<p:column>
						<p:inputText id="txtSuperficie"
							value="#{capitulo2View.sueloVegetacionDetalleSeleccionado.superficie}"
							required="true"
							requiredMessage="Este campo es obligatorio"
							validatorMessage="Este campo es obligatorio. No puede ser una superficie mayor de #{capitulo2View.limiteSuperficie} m&lt;sup&gt;2&lt;&#47;sup&gt;"
							converterMessage="No se puede agregar una cadena de letras">
							<p:ajax />
							<f:validateDoubleRange minimum="1.0"
								maximum="#{capitulo2View.limiteSuperficie}" />
						</p:inputText>
						<p:message for="txtSuperficie" display="text"  escape="false"/>
					</p:column>
				</p:row>
			</p:panelGrid>
			<br />
			<p:commandButton styleClass="btn btn-primary alinDerecha"
				id="btnGuardarDetalles" value="Guardar"
				process="@this pnlContenidoModal"
				disabled="#{capitulo2View.limiteSuperficie == 0.0 and !capitulo2View.edicionDetalleSuelo}"
				action="#{capitulo2View.guardarDetalleSuelo}"
				oncomplete="if (!args.validationFailed){ modalDetallesSuelo.hide();modalAlertaDetalle.show() }"
				update=":foDatosGen:lblAlerta :foDatosGen:pnlContenidoModal">
			</p:commandButton>
			<p:commandButton styleClass="btn btn-default botonEliminar alinDerecha"
				id="btnCerrarDetalle" value="Cerrar"
				onclick="PF('modalDetallesSuelo').hide()" immediate="true"
				update=":foDatosGen:pnlContenidoModal" />
		</p:dialog>

		<!-- Ventana modal de aviso -->
		<p:dialog id="dlgAlertaDetalle" header="Aviso" modal="true"
			widgetVar="modalAlertaDetalle">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span>
				<p:outputLabel id="lblAlerta"
					value="#{capitulo2View.alertTextDetalle}" />
			</div>
			<p:commandButton styleClass="btn btn-primary alinDerecha"
				value="Aceptar" onclick="modalAlertaDetalle.hide()"
				update=":foDatosGen:ttSuelos" process="@this">
			</p:commandButton>
		</p:dialog>

		<!-- Modal para eliminar el Detalle de suelo seleccionado -->
		<p:dialog id="dlgBorrarDetalle" header="Eliminar detalle de suelo"
			modal="true" widgetVar="modalBorrarDetalle">
			<p:outputLabel id="lblAlertaBorrarDet"
				value="¿Realmente desea eliminar el detalle de suelo?" />
			<br />
			<p:commandButton styleClass="btn btn-default" value="Cancelar"
				onclick="PF('modalBorrarDetalle').hide()" immediate="true" />
			<p:commandButton id="btnEliminarDetalleSuelo"
				styleClass="btn btn-primary botonEliminar alinDerecha" value="Aceptar" process="@this"
				action="#{capitulo2View.eliminarDetalleSuelo}"
				oncomplete="modalAlertaDetalle.show();modalBorrarDetalle.hide()"
				update=":foDatosGen:lblAlerta">
			</p:commandButton>
		</p:dialog>
	</h:form>
	
	<h:form id="Agregar">
		<p:dialog widgetVar="modalAgregar" id="modalAgregar" modal="true">
			<f:facet name="header">
				<h:form id="formHeader">
					<h4 class="modal-title">Predios colindantes - agregar</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlAgregar">
				<p:outputLabel value="Predio" />
				<p:outputLabel value="" for="predio" />
				<p:outputLabel value=":" />
				<br />
				<p:inputTextarea id="predio" class="form-control"
					value="#{capitulo2View.predio.predioNombre}" cols="50" rows="3"
					maxlength="100" counter="contador1"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador1" />
				<br />
				<p:message id="msgPredio" for="predio" display="true" />

				<p:outputLabel value="Clasificación" />
				<p:outputLabel value="" for="clasificacion" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="clasificacion" class="form-control"
					value="#{capitulo2View.predio.clasificacionId}"
					converter="#{catClasificacionConverterBean}"
					valueChangeListener="#{capitulo2View.changeClasificacion}"
					required="true" requiredMessage="Este campo es obligatorio"
					hideNoSelectionOption="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catClasificacion}" />
					<p:ajax event="valueChange" immediate="true" process="@this"
						update="usoDeSuelo" />
				</h:selectOneMenu>
				<p:message id="msgclasificacion" for="clasificacion" display="true" />

				<p:outputLabel value="Uso de suelo" />
				<p:outputLabel value="" for="usoDeSuelo" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="usoDeSuelo" class="form-control"
					value="#{capitulo2View.predio.clasificacionBId}"
					converter="#{catClasificacionBConverterBean}" required="true"
					requiredMessage="Este campo es obligatorio"
					hideNoSelectionOption="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{capitulo2View.catClasificacionB}" />
				</h:selectOneMenu>
				<p:message id="msgusoDeSuelo" for="usoDeSuelo" display="true" />

				<p:outputLabel value="Referencia" />
				<p:outputLabel value="" for="referencia" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="referencia" class="form-control"
					value="#{capitulo2View.predio.referenciaId}"
					converter="#{catReferenciaConverterBean}" required="true"
					requiredMessage="Este campo es obligatorio"
					hideNoSelectionOption="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catReferencia}" />
				</h:selectOneMenu>
				<p:message id="msgreferencia" for="referencia" display="true" />

				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="descripcion" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="descripcion" class="form-control"
					value="#{capitulo2View.predio.predioDescripcion}" cols="50"
					rows="3" maxlength="1000" counter="contador2"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador2" />
				<p:message id="msgdescripcion" for="descripcion" display="true" />

				<div class="modal-footer">
					<p:commandButton id="cerrarModalA" styleClass="btn btn-default"
						value="Cerrar" onclick="modalAgregar.hide()" update="pnlAgregar"
						immediate="true" />

					<p:commandButton id="guardar" styleClass="btn btn-primary botonEliminar alinDerecha"
						value="Guardar" action="#{capitulo2View.agregarUsoSuelo}"
						update="predio,msgPredio,clasificacion,msgclasificacion, usoDeSuelo, msgusoDeSuelo, 
							referencia, msgreferencia, descripcion, msgdescripcion, :foDatosGen:tablaDatos, 
							:Agregar:pnlAgregar" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>
	
	<h:form id="Editar">
		<p:dialog widgetVar="modalEditar" id="modalEditar" modal="true"
			width="50%">
			<f:facet name="header">
				<p:outputPanel id="pnlEditarHeader">
					<h4 class="modal-title">Predio - editar # #{capitulo2View.rowIndexUSPCEditar}</h4>
				</p:outputPanel>
			</f:facet>
			<p:outputPanel id="pnlEditar">
				<p:outputLabel value="Predio" />
				<p:outputLabel value="" for="editPredio" />
				<p:outputLabel value=":" />
				<br />
				<h:outputText id="editPredio"
					value="#{capitulo2View.editPredio.predioNombre}" cols="50" rows="3"
					maxlength="100" counter="contador3"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<br />

				<p:outputLabel value="Clasificación" />
				<p:outputLabel value="" for="editClasificacion" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="editClasificacion" class="form-control"
					value="#{capitulo2View.editPredio.clasificacionId}"
					converter="#{catClasificacionConverterBean}"
					valueChangeListener="#{capitulo2View.changeClasificacion}"
					required="true" requiredMessage="Este campo es obligatorio"
					hideNoSelectionOption="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catClasificacion}" />
					<p:ajax event="valueChange" immediate="true" process="@this"
						update="editUsoDeSuelo" />
				</h:selectOneMenu>
				<p:message id="msgeditClasificacion" for="editClasificacion" display="true" />

				<p:outputLabel value="Uso de suelo" />
				<p:outputLabel value="" for="editUsoDeSuelo" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="editUsoDeSuelo" class="form-control"
					value="#{capitulo2View.editPredio.clasificacionBId}"
					converter="#{catClasificacionBConverterBean}" required="true"
					requiredMessage="Este campo es obligatorio"
					hideNoSelectionOption="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{capitulo2View.catClasificacionB}" />
				</h:selectOneMenu>
				<p:message id="msgeditUsoDeSuelo" for="editUsoDeSuelo" display="true" />

				<p:outputLabel value="Referencia" />
				<p:outputLabel value="" for="editReferencia" />
				<p:outputLabel value=":" />
				<br />
				<h:selectOneMenu id="editReferencia" class="form-control"
					value="#{capitulo2View.editPredio.referenciaId}"
					converter="#{catReferenciaConverterBean}" required="true"
					requiredMessage="Este campo es obligatorio"
					hideNoSelectionOption="true">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
					<f:selectItems value="#{catalogosView.catReferencia}" />
				</h:selectOneMenu>
				<p:message id="msgeditReferencia" for="editReferencia" display="true" />

				<p:outputLabel value="Descripción" />
				<p:outputLabel value="" for="editDescripcion" />
				<p:outputLabel value=":" />
				<p:inputTextarea id="editDescripcion" class="form-control"
					value="#{capitulo2View.editPredio.predioDescripcion}" rows="3"
					maxlength="1000" counter="contador4"
					counterTemplate="Quedan {0} caracteres." required="true"
					requiredMessage="Este campo es obligatorio" autoResize="false" />
				<h:outputText id="contador4" />
				<p:message id="msgeditDescripcion" for="editDescripcion" display="true" />

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-default" id="cerrarModalE"
						value="Cerrar" onclick="modalEditar.hide()" update="pnlEditar"
						immediate="true" />

					<p:commandButton styleClass="btn btn-primary botonEliminar alinDerecha" id="guardar"
						value="Guardar" action="#{capitulo2View.editarUsoSuelo}"
						update="editPredio, editClasificacion, msgeditClasificacion, editUsoDeSuelo, 
							msgeditUsoDeSuelo, editReferencia,  msgeditReferencia, msgeditDescripcion, 
							editDescripcion :foDatosGen:tablaDatos, pnlEditar" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<h:form id="Mensaje">
		<p:dialog widgetVar="modalMensaje" id="modalMensaje" modal="true">
			<f:facet name="header">
				<h:form id="formMensajeHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensaje">

				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro guardado
					exitosamente.
				</div>

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary" id="cerrarModalM"
						value="Aceptar" onclick="modalMensaje.hide()" update="pnlMensaje"
						immediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<h:form id="MensajeEliminar">
		<p:dialog widgetVar="modalMensajeEliminar" id="modalMensajeEliminar"
			modal="true">
			<f:facet name="header">
				<h:form id="formMensajeEliminarHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensajeEliminar">

				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-remove"></SPAN> Registro eliminado
					exitosamente.
				</div>

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary" id="cerrarModalME"
						value="Aceptar" onclick="modalMensajeEliminar.hide()"
						update="pnlMensajeEliminar" immediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<h:form id="MensajeEditar">
		<p:dialog widgetVar="modalMensajeEditar" id="modalMensajeEditar"
			modal="true">
			<f:facet name="header">
				<h:form id="formMensajeHeader">
					<h4 class="modal-title">Aviso</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlMensaje">

				<div class="alert alert-success">
					<SPAN class="glyphicon glyphicon-ok"></SPAN> Registro actualizado
					exitosamente.
				</div>

				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-primary" id="cerrarModalM"
						value="Aceptar" onclick="modalMensajeEditar.hide()"
						update="pnlMensaje" immediate="true" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<h:form id="Eliminar">
		<p:dialog widgetVar="modalEliminar" id="modalEliminar" modal="true">
			<f:facet name="header">
				<h:form id="formEliminarHeader">
					<h4 class="modal-title">Predio - eliminar</h4>
				</h:form>
			</f:facet>
			<p:outputPanel id="pnlEliminar">

				<div class="alert alert-warning">
					<SPAN class="glyphicon glyphicon-warning-sign"></SPAN> ¿Realmente
					desea borrar el(los) registros(s)?
				</div>
				<ui:repeat value="#{capitulo2View.selectedPredios}" var="pred">
					<h:outputText value="#{pred.predioNombre}" style="display:block" />
				</ui:repeat>
				<div class="modal-footer">
					<p:commandButton styleClass="btn btn-default" id="respuestaNo"
						value="No" onclick="modalEliminar.hide()" />
					<p:commandButton styleClass="btn btn-primary botonEliminar alinDerecha" id="respuestaSi"
						value="Si" action="#{capitulo2View.eliminarUsoSuelo}"
						onclick="modalEliminar.hide()" update=":foDatosGen:tablaDatos, :foDatosGen:btnEliminar" />
				</div>
			</p:outputPanel>
		</p:dialog>
	</h:form>

	<script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo2View.claveTramite}", nsub:"#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 2, seccion: 2, apartado: 1 }, case_ayuda);
            $('#case_btn_ayuda1').click({vClaveTramite:"#{capitulo2View.claveTramite}", nsub:"#{capitulo2View.proyecto.nsub}", capitulo: 2, subcapitulo: 2, seccion: 2, apartado: 2 }, case_ayuda);
        </script>
	<!--  -->
</div>
</h:body>
</html>
