<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
       <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        
			<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" />	       
	        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
	        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		
        
        	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	        <script src="#{request.contextPath}/assets/js/funciones.js"></script>	        
	        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
	</h:head>
    <body>

<div class="col-md-12">

        <h:form id="foDatosGen"> 
			<div class="row" id="mensaje"></div>

            <h:inputHidden id="ubicActual" value="#{capitulo7View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo7View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>
        
            <div id="evaluacion">
                <div id="titulo1"></div>
                <hr class= "red"/>
<!--                 <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> -->
                <br></br>
                <div id="componenteConsulta1" style="display:none">
                    <center><table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{capitulo7View.proyecto.evaAlternativas eq null or capitulo7View.proyecto.evaAlternativas eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{capitulo7View.proyecto.evaAlternativas}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                    </td></tr></table></center>                    
                </div>
                <div id="componenteActualiza1" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','1');"/>
                </div>

                <div id="componenteCaptura1" style="visibility: hidden;">		
                
<!--                     <label class="control-label"><span class="requerido">Descripción:</span></label> -->
<!--                     <br></br> -->
                    <center>
                        <pe:ckEditor width="100%" value="#{capitulo7View.proyecto.evaAlternativas}"
                                     toolbar="[[ 'Undo','Redo' ],
                                     [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                     [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                     ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>
                </div>
            </div>
             <div id="conclusion">
                <div id="titulo2" class="top-buffer"></div> 
                <hr class="red"/>
<!--                 <button id='case_btn_ayuda_conclusion' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> -->
                <br></br>
                <div id="componenteConsulta2" style="display:none">
                        <center><table width="60%" style="text-align: justify;"><tr><td>
                            <c:choose>
                                <c:when test="#{capitulo7View.proyecto.conclusionProy eq null or capitulo7View.proyecto.conclusionProy eq ''}">
                                    <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                                </c:when>
                                <c:otherwise>
                                    <h:outputText value="#{capitulo7View.proyecto.conclusionProy}" escape="false"/> 
                                </c:otherwise>
                            </c:choose>
                        </td></tr></table></center>                    
                </div>
                <div id="componenteActualiza2" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','2');"/>
                </div>

                <div id="componenteCaptura2" style="visibility: hidden;">		
                
<!--                     <label class="control-label"><span class="requerido">Descripción:</span></label> -->
<!--                     <br></br> -->
                    <center>
                    <pe:ckEditor width="100%" value="#{capitulo7View.proyecto.conclusionProy}"
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    </center>
                </div>

                <c:set value="7.1" target="#{capitulo4View}" property="seccion" />
                <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" />

                <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right: 20px">
                    <br/>
                    <p:commandButton value="Guardar" onsuccess="parent.actualizaBarra();" class="btn btn-primary"  action="#{capitulo7View.guardar}"/>
                </div>  
            </div>
        </h:form>   
</div>         
         <script>
           $(document).ready(function(){
        	   
        	   setTimeout(function() {
                   getInformacionAdicionalMulti('#{capitulo7View.strComentProy}','foDatosGen','1,2,0-Evaluación de alternativas, en su caso|2,1,0-Conclusión')
               }, (200));
        	   
           });
           
         	$('#case_btn_ayuda').click({vClaveTramite:"#{capitulo7View.claveTramite}", nsub:"#{capitulo7View.proyecto.nsub}", capitulo: 7, subcapitulo: 2, seccion: 1, apartado: -1 }, case_ayuda); 
           $('#case_btn_ayuda_conclusion').click({vClaveTramite:"#{capitulo7View.claveTramite}", nsub:"#{capitulo7View.proyecto.nsub}", capitulo: 7, subcapitulo: 2, seccion: 2, apartado: -1 }, case_ayuda); 
         </script>
    </body>
</html>