<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
         
			<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" />	       
	        <link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />		        
	        <link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />		
        
        	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	        <script src="#{request.contextPath}/assets/js/funciones.js"></script>	        
	        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	        <script src="#{request.contextPath}/assets/js/locale_es.js"></script>
    
    </h:head>
    <h:body onload="javascript:setTimeout(function() {
                    getInformacionAdicional('#{capitulo7View.strComentProy}','foDatosGen',1,1,0,'Escenarios:')
                }, (200));">
	<div class="col-md-12">
	    <div class="row" id="mensaje"></div>
		<div class="row" id="case_pnl_ayuda_cnt"></div>
	                
        <h:form id="foDatosGen"> 
<!--             <div class="semarnat_ayuda" id='case_pnl_ayuda'> -->
<!--                 <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"> -->
<!--                 </div> -->
<!--             </div> -->
            <h:inputHidden id="ubicActual" value="#{capitulo7View.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{capitulo7View.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>

            <h3>Pronósticos ambientales y en su caso evaluación de alternativas<a style="color:#000;" ><span id='case_btn_ayuda' class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3>
            <hr class="red"/>
            
<!--             <h3>Pronósticos del escenario</h3> -->
<!--             <button id='case_btn_ayuda_pronos_esc' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> -->
            <div id="pPronostico">
<!--                 <div id="titulo"></div>  -->
<!--                 <button id='case_btn_ayuda_escenarios' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> -->
<!--                 <br></br> -->
                <div id="componenteConsulta" style="display:none">
                    <h4>Escenario sin proyecto:</h4>
                    <br/><br/>
                    <center><table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{capitulo7View.proyecto.esceSinProy eq null or capitulo7View.proyecto.esceSinProy eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{capitulo7View.proyecto.esceSinProy}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                    </td></tr></table></center>                    
                    <br></br>
                    Escenario con proyecto:
                    <br/><br/>
                    <center><table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{capitulo7View.proyecto.esceConProy eq null or capitulo7View.proyecto.esceConProy eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{capitulo7View.proyecto.esceConProy}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                    </td></tr></table></center>                    
                    <br></br>
                    Escenario con proyecto y medidas:
                    <br/><br/>
                    <center><table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{capitulo7View.proyecto.esceConProyMed eq null or capitulo7View.proyecto.esceConProyMed eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{capitulo7View.proyecto.esceConProyMed}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                    </td></tr></table></center>                    
                    <br></br>
                    Pronóstico ambiental:
                    <br/><br/>
                    <center><table width="60%" style="text-align: justify;"><tr><td>
                        <c:choose>
                            <c:when test="#{capitulo7View.proyecto.pronosAmb eq null or capitulo7View.proyecto.pronosAmb eq ''}">
                                <h:outputText style="color: gray" value="Sin especificar" escape="false"/> 
                            </c:when>
                            <c:otherwise>
                                <h:outputText value="#{capitulo7View.proyecto.pronosAmb}" escape="false"/> 
                            </c:otherwise>
                        </c:choose>
                    </td></tr></table></center>                    
                </div>
                <div id="componenteActualiza" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModifica('foDatosGen');"/>
                </div>

                <div id="componenteCaptura" style="visibility: hidden;">                
                    <h4>Escenario sin proyecto:</h4>
                    <hr/>
                    <pe:ckEditor width="100%" value="#{capitulo7View.proyecto.esceSinProy}"
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    <br/>
                    <h4>Escenario con proyecto:</h4>
                    <hr/>
                    <pe:ckEditor width="100%" value="#{capitulo7View.proyecto.esceConProy}"
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                    <br></br>
                    <h4>Escenario con proyecto y medidas:</h4>
                    <hr/>
                    <pe:ckEditor width="100%" value="#{capitulo7View.proyecto.esceConProyMed}"
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>

                    <br></br>
                    <h4>Pronóstico ambiental:</h4>
                    <hr/>
                    <pe:ckEditor width="100%" value="#{capitulo7View.proyecto.pronosAmb}"
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>
                                 
					<br></br>
                    <h4>Escenarios actuales y futuros que tendrá el proyecto respecto del cambio climático:</h4>
                    <hr/>
                    <pe:ckEditor width="100%" value="#{capitulo7View.proyecto.escActFut}"
                                 toolbar="[[ 'Undo','Redo' ],
                                 [ 'Bold','Italic','Underline','Subscript','Superscript',],
                                 [ 'NumberedList','BulletedList','-','Outdent','Indent','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                                 ['Link','-','Table'],[ 'TextColor','BGColor' ]]"/>                                 
                </div>
            </div>            

            <c:set value="7.2" target="#{capitulo4View}" property="seccion" />
            <p:messages id="messages" showDetail="true" autoUpdate="true" closable="false" />

            <div id="componenteGuarda" style="display:none; float: right; clear: right; margin-right: 20px">
                <p:commandButton onsuccess="parent.actualizaBarra();" value="Guardar" class="btn btn-primary"  action="#{capitulo7View.guardar}"/>
            </div>        

        </h:form> 
	</div>         
         <script>
           $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo7View.claveTramite}", nsub:"#{capitulo7View.proyecto.nsub}", capitulo: 7, subcapitulo: 1, seccion: -1, apartado: -1 }, case_ayuda); 
           $('#case_btn_ayuda_escenarios').click({vClaveTramite:"#{capitulo7View.claveTramite}", nsub:"#{capitulo7View.proyecto.nsub}", capitulo: 7, subcapitulo: 1, seccion: 1, apartado: -1 }, case_ayuda); 
        </script>
    </h:body>
</html>
