<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title></title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
            <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>        
    </h:head>
    
    <h:body>
    <h:form>
        <p:dataTable var="rsm" value="#{archivosAnexosBean.listaresumen}" rowIndexVar="rowIndex" emptyMessage="No hay registros">
            
            <p:column headerText="#">
                <h:outputText value="#{rowIndex+1}"/>
            </p:column>
            <p:column headerText="Capítulo" style="text-align: center;">
                <h:outputText value="#{rsm[0]}"/>
            </p:column>
            
            <p:column headerText="Subcapítulo" style="text-align: center;">
                <h:outputText value="#{rsm[1] == 0 ? 'N/A' : rsm[1]}"/>
            </p:column>
            
            <p:column headerText="Sección" style="text-align: center;">
                <h:outputText value="#{rsm[2] == 0 ? 'N/A' : rsm[2]}"/>
            </p:column>
            
            <p:column headerText="Nombre">
                <h:outputText value="#{rsm[4]}"/>
            </p:column>
            
            <p:column headerText="Descripción">
                <h:outputText value="#{rsm[5]}"/>
            </p:column>
            
            <p:column headerText="Tamaño">
                <h:outputText value="#{rsm[6]/1024} KB"/>
            </p:column>
            
            <p:column headerText="Reservado">
                <h:outputText value="#{rsm[7] == 0 ? 'SI' : 'NO'}"/>
            </p:column> 
            
            <p:column style="text-align: center; width:3%">
					<f:facet name="header"></f:facet>
		            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
		                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{rsm[3]}'); return false;"/>					
			</p:column>            
        </p:dataTable> 
        </h:form>
    </h:body>
</html>
  

