<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>

    </h:head>
    <h:body>

        <h:panelGroup rendered="#{modArchivosView.verEstudios}">
            <form enctype="multipart/form-data" action="#{request.contextPath}/cargarArchivo" method="post">
                <input type="hidden" name="tipo" value="anexo_estudio" />
                <input type="hidden" name="info" value="#{modArchivosView.info}" />
                <table>
                    <tr>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" id="txtArea1" name="txtArea1"/>
                        </td>
                        <td>
                            <input type="file" id="cinfil1" name="cinfil1" />
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary">Cargar Archivo</button>

                        </td>
                    </tr>
                </table>
            </form>
        </h:panelGroup>
        <h:panelGroup rendered="#{not empty modArchivosView.estudiosProyecto}">
            <h:dataTable value="#{modArchivosView.estudiosProyecto}" var="s">
                <h:column>
                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/modarchivos/visor.xhtml?folio=#{s.estudiosEspProyPK.folioSerial}&amp;serial=#{s.estudiosEspProyPK.serialProyecto}&amp;idt=#{s.estudiosEspProyPK.estudioId}&amp;tipo=estudio">Ver Archivo</a>
                    Nombre del archivo:
                    #{s.anexoNombre}
                    <br/>
                    Descripcion:
                    #{s.anexoDescripcion}
                </h:column>
            </h:dataTable>

        </h:panelGroup>
    </h:body>
</html>