<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title></title>
     </h:head>
     
     <h:body>  
     
     	<h:panelGrid id="Contenedor">
     	 
	     	 <h:panelGrid id="Carga">    	 	   
	     	 	  
	     	 	   <h:form id="archivos" enctype="multipart/form-data" target="_blank">  
	     	 	   <!-- Boton para invocar la modal para carga de archivos -->	 
	     	 	   <p:commandButton value="Modal" type="button" onclick="modalAgregar.show()" />
	     	 	   
                     <p:dialog header="Agregar archivo" draggable="false" widgetVar="modalAgregar" id="modalAgregar" 
                     modal="true" closable="false">
                               
                         <p:outputPanel>
                            <h:column>
                                <h:outputLabel value="Nombre*:"/>
                                <h:inputText id="nombre" value="#{cargaBean.nombre}" required="true" validatorMessage="Nombre de archivo requerido" maxlength="20"/>                                   
                            </h:column>                      
                            <h:column>
                               <h:outputLabel value="Descripcion*:"/>
                               <p:inputTextarea id="descripcion" class="form-control" value="#{cargaBean.descr}" cols="50" rows="3" maxlength="1000" counter="descount" counterTemplate="Quedan {0} caracteres." required="true" validatorMessage="Descripción requerida" autoResize="false"/>
                               <h:outputText id="descount" /><br/>                                                                           
                           </h:column>                                 
                            <h:column>                        
                                <h:outputLabel value="Archivo*: "/>                                 
                                <p:fileUpload                 
                                  mode="advanced"                                  
                                  fileUploadListener="#{cargaBean.handleFileUpload}"
                                  update="messages"
                                  sizeLimit="10485760"                                  
                                  validatorMessage="Error de tamaño"
                                  allowTypes="/(\.|\/)(pdf|docx|txt)$/" 
                                  auto="true"/>  
                                <p:growl id="messages" showDetail="true"  />
                            </h:column>
                            <h:column>
                                <h:outputLabel value="Reservado:"/>
                                <h:selectBooleanCheckbox value=" "/>
                            </h:column> 
                   
                    <div class="modal-footer">
                        <h:commandButton id="CerrarModal" class="btn btn-default" value="Cerrar"  onclick="modalAgregar.hide();" immediate="true" />
                        <h:commandButton id="GuardarModal" class="btn btn-primary"  onclick=""  value="Guardar" action="#{cargaBean.pruebaGuardar}"/>
                    </div>
                        </p:outputPanel>
               </p:dialog>    
               
               <p:commandButton id="btnMostrar" value="Mostrar archivo" ajax="false">
               		<p:fileDownload value="#{archivoBean.prueba('11')}" />          	
               </p:commandButton>
               </h:form>  	 
			     	 
			     	 
	     	 
	     	 </h:panelGrid>
	     	 
     	</h:panelGrid>
     	
     	
     
     </h:body>
     
</html>