<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
    <ui:composition>
        <link href="../../../assets/css/modarchivos.css" rel="stylesheet" media="screen"/>
        <script src="../../../assets/js/jquery.omniwindow.js"></script>
        <script src="../../../assets/js/modarchivos.js"></script>

        #{dgiraVisorArchivos.init(seccion_id,capitulo_id, sub_capitulo_id,folio_proyecto, serial_proyecto)}

        <div class="ow-overlay ow-closed"></div>
        <div class="modal2 ow-closed" id="modal_visor">
            <div class="visor_cont" id="visor_cont"></div>
            <div class="visor_nav" id="visor_nav">
                <div class="btn btn-primary" onclick="zoomVisor(1)">Zoom +</div>
                <div class="btn btn-primary" onclick="zoomVisor(2)">Zoom -</div>
                <div class="btn btn-primary" onclick="rotarVisor(2);">Rotar izq</div>
                <div class="btn btn-primary" onclick="rotarVisor(1);">Rotar der</div>
                <div class="btn btn-primary" onclick="cerrarVisor();">Cerrar</div>
            </div>
        </div> 

        <h:dataTable styleClass="table" value="#{dgiraVisorArchivos.archivosAnexos}" var="archivo">
            <h:column>
                <f:facet name="header">
                    Descripción
                </f:facet>
                <h:inputTextarea rows="1" readonly="true" value="#{archivo.descripcion}" rendered="#{archivo.estado eq false}"/>
            </h:column>
            <h:column>
                <div class="btn btn-primary" onclick="abrirVisor(#{archivo.id}, '#{archivo.extensionArchivo}')">Ver</div>
            </h:column>
        </h:dataTable>

    </ui:composition>
</html>
