<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"       
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
    <f:metadata>
		<f:viewAction action="#{archivosAnexosCap10Bean.consultarDesglosePlanosCargaPagina(10,6,1,0)}" />
		<f:viewAction action="#{archivosAnexosCap10Bean.consultarDesgloseOtrosCargaPagina(10,6,2,0)}" />	
	</f:metadata>	
	
    <h:head>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
	<link href="assets/images/favicon.ico" rel="shortcut icon" />
	<!-- Hoja de Estilos Grafica base local -->
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" type="text/css" />
	<link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/scripts/main.js"></script>
	<script src="#{request.contextPath}/assets/scripts/plugins.js"></script>
	<!-- Script Grafica base local -->
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
    </h:head>
    <h:body onload="javascript:setTimeout(function() {
        getInformacionAdicionalMulti('#{estudioRiesgoView.strComentProy}','foDatosGen',
		'6,1,0-Planos de localización y Fotografías|' + 
		'6,2,0-Otros Anexos'                
                )
            }, (250));">
        
        
            <ui:include src="/loading.xhtml"/>        
        
            
            <!-- Planos de localizacion y Fotografias -->

			<c:set var="capituloPlanos" value="10"/>
			<c:set var="subcapituloPlanos" value="6"/>
			<c:set var="seccionPlanos" value="1"/>
			<c:set var="apartadoPlanos" value="0"/>       
			
			<!-- Otros Anexos -->

			<c:set var="capituloOtros" value="10"/>
			<c:set var="subcapituloOtros" value="6"/>
			<c:set var="seccionOtros" value="2"/>
			<c:set var="apartadoOtros" value="0"/>  
                    
        <h:form id="foDatosGen">
                
            <div class="semarnat_ayuda" id='case_pnl_ayuda'>
                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt">
                </div>
            </div>
            <h:inputHidden id="ubicActual" value="#{estudioRiesgoView.ubicActual}" />
            <p:remoteCommand name="remoteUbicActual" process="ubicActual"/>
            
            <h:inputHidden id="strInfoAdicional" value="#{estudioRiesgoView.strInfoAdicional}" />
            <p:remoteCommand name="remoteUpdateInfoAdicional" process="strInfoAdicional"/>

            <!--V.1.1 PLANOS DE LOCALIZACIÓN Y V.1.2 FOTOGRAFÍAS -->
            <div id="pPlaLoFo" class="gobmx-example" style="margin-left: auto; margin-right: auto; width: 800px">
                <div id="titulo1"></div>
<!--                 Ayuda <button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> -->
                <button id='case_btn_ayuda' type="button"
					class="btn btn-default" data-toggle="tooltip"
					data-placement="bottom">
					<span class="gobmxfont icon-infocircle" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button>
                <br/><br/>
                <div id="componenteConsulta1" style="display:none">
<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=10,6,1,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </div>
                <div id="componenteActualiza1" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','1');"/>
                </div>
                <div id="componenteCaptura1" style="display:none;">		
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombre.xhtml?info=10,6,1,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
<!-- ==================== TABLA DE ARCHIVOS DE Planos de localizacion y Fotografias ==================== -->
	
				<div id="botones" style="float: right;">
<!-- 					<p:commandButton id="btnAgregarArchivoPlanos" value="" class="btn btn-default btn-xs glyphicon glyphicon-plus" style="float:right;" oncomplete="modalSubirArchivo.show()" immediate="true" -->
<!-- 						action="#{archivosAnexosCap10Bean.iniciarArchivo('PLANOS')}" update=":formArchivosDisposicion:pnlArchivo"> -->
<!-- 						<f:param name="capitulo" value="#{capituloPlanos}"/> -->
<!-- 						<f:param name="subcapitulo" value="#{subcapituloPlanos}"/> -->
<!-- 						<f:param name="seccion" value="#{seccionPlanos}"/> -->
<!-- 						<f:param name="apartado" value="#{apartadoPlanos}"/> -->
<!-- 						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/> -->
<!-- 					</p:commandButton> -->
					<!-- mas -->
					<p:commandLink id="btnAgregarArchivoPlanos" styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{archivosAnexosCap10Bean.iniciarArchivo('PLANOS')}"
						update=":formArchivosDisposicion:pnlArchivo"
						oncomplete="modalSubirArchivo.show()" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar	
						<f:param name="capitulo" value="#{capituloPlanos}"/>
						<f:param name="subcapitulo" value="#{subcapituloPlanos}"/>
						<f:param name="seccion" value="#{seccionPlanos}"/>
						<f:param name="apartado" value="#{apartadoPlanos}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- menos -->
			
					<p:commandLink id="btnEliminarArchivoPlanos"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"
						action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"
						oncomplete="dlgEliminarArchivoAnexo.show()"
						update=":fEliminarArchivo:pnlMensajeEliminarArchivo"
						disabled="#{archivosAnexosCap10Bean.listaArchivosPlanosSeleccionados.size() == 0 || archivosAnexosCap10Bean.archivosGeneralPlanos.size() == 0}" >
						<f:param name="eliminarArchivo" value="PLANOS"/>
						<f:param name="capitulo" value="#{capituloPlanos}"/>
						<f:param name="subcapitulo" value="#{subcapituloPlanos}"/>
						<f:param name="seccion" value="#{seccionPlanos}"/>
						<f:param name="apartado" value="#{apartadoPlanos}"/>
						<p:ajax process="@this" />
					</p:commandLink><br />											
<!-- 					<p:commandButton id="btnEliminarArchivoPlanos" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle" value="" style="float:right;"  -->
<!-- 									 update=":fEliminarArchivo:pnlMensajeEliminarArchivo" action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"  -->
<!-- 									 disabled="#{archivosAnexosCap10Bean.listaArchivosPlanosSeleccionados.size() == 0}"  -->
<!-- 									 oncomplete="dlgEliminarArchivoAnexo.show()"> -->
<!-- 						<f:param name="eliminarArchivo" value="PLANOS"/> -->
<!-- 						<f:param name="capitulo" value="#{capituloPlanos}"/> -->
<!-- 						<f:param name="subcapitulo" value="#{subcapituloPlanos}"/> -->
<!-- 						<f:param name="seccion" value="#{seccionPlanos}"/> -->
<!-- 						<f:param name="apartado" value="#{apartadoPlanos}"/>								 -->
<!-- 					</p:commandButton> -->
				</div>
			
					<br/>
			
					<h3>Adjuntos</h3>
					<p:dataTable id="tablaArchivoPlanos" styleClass="table table-responsive" value="#{archivosAnexosCap10Bean.archivosGeneralPlanos}" var="archPlanos" rowIndexVar="rowIndexP"
								 selection="#{archivosAnexosCap10Bean.listaArchivosPlanosSeleccionados}" rowKey="#{archPlanos.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
						
						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoPlanos" />
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoPlanos" />
						<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoPlanos" />
		
						<p:column selectionMode="multiple" style="width:50px" />
			
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
<!-- 							<h:outputText value="#{archPlanos.id}" /> -->
							<h:outputText value="#{rowIndexP+1}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Nombre</f:facet>
							<h:outputText value="#{archPlanos.nombre}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Descripción</f:facet>
							<h:outputText value="#{archPlanos.descripcion}" />
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header"></f:facet>
				            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
				                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archPlanos.seqId}'); return false;"/>					
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header" />
							<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap10Bean.consultarArchivo(10,6,1,0)}"
											 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
								<f:param name="id" value="#{archPlanos.id}" />
								<f:param name="pRowIndex" value="#{rowIndexP+1}" />
								<f:param name="actualizarArchivo" value="PLANOS"/>
								<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
							</p:commandButton>
						</p:column>
			</p:dataTable>
<!-- ==================== TABLA DE ARCHIVOS DE Planos de localizacion y Fotografias ==================== -->
                </div>
            </div>
            <br/>
            <br/>
            <!--V.2 OTROS ANEXOS -->
            <div id="pOtroAnexos" class="gobmx-example" style="margin-left: auto; margin-right: auto; width: 800px">
                <div id="titulo2"></div>
<!--                 Ayuda <button id='case_btn_ayuda1' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button> -->
                <button id='case_btn_ayuda1' type="button"
					class="btn btn-default" data-toggle="tooltip"
					data-placement="bottom">
					<span class="gobmxfont icon-infocircle" aria-hidden="true"></span>
					<span class="glyphicon-class">Ayuda</span>
				</button>
                <br/><br/>
                <div id="componenteConsulta2" style="display:none">
<!--                     <iframe width="100%" height="100px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombreNoEdit.xhtml?info=10,6,2,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
                </div>
                <div id="componenteActualiza2" style="display:none; float: right; margin-right: 20px">
                    <br/> 
                    <p:commandButton value="Modificar sección (opcional)" class="btn btn-primary" onclick="actualizaComponentesModificaMulti('foDatosGen','2');"/>
                </div>
                <div id="componenteCaptura2" style="display:none;">		
<!--                     <iframe width="100%" height="250px" src="#{request.contextPath}/faces/modarchivos/cargaarchivonombre.xhtml?info=10,6,2,0,#{estudioRiesgoView.proyecto.proyectoPK.folioProyecto},#{estudioRiesgoView.proyecto.proyectoPK.serialProyecto}" frameborder="0"></iframe> -->
<!-- ==================== TABLA DE ARCHIVOS DE Otros Anexos ==================== -->
	
				<div id="botones" style="float: right;">
<!-- 					<p:commandButton id="btnAgregarArchivoOtros" value="" class="btn btn-default btn-xs glyphicon glyphicon-plus" style="float:right;" oncomplete="modalSubirArchivo.show()" immediate="true" -->
<!-- 						action="#{archivosAnexosCap10Bean.iniciarArchivo('OTROS')}" update=":formArchivosDisposicion:pnlArchivo"> -->
<!-- 						<f:param name="capitulo" value="#{capituloOtros}"/> -->
<!-- 						<f:param name="subcapitulo" value="#{subcapituloOtros}"/> -->
<!-- 						<f:param name="seccion" value="#{seccionOtros}"/> -->
<!-- 						<f:param name="apartado" value="#{apartadoOtros}"/> -->
<!-- 						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/> -->
<!-- 					</p:commandButton> -->
					<!-- mas -->
					<p:commandLink id="btnAgregarArchivoOtros" styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha"
						value="Agregar" 
						type="button"
						actionListener="#{archivosAnexosCap10Bean.iniciarArchivo('OTROS')}"
						update=":formArchivosDisposicion:pnlArchivo"
						oncomplete="modalSubirArchivo.show()" immediate="true">
						<span class="glyphicon glyphicon-plus"></span> Agregar	
						<f:param name="capitulo" value="#{capituloOtros}"/>
						<f:param name="subcapitulo" value="#{subcapituloOtros}"/>
						<f:param name="seccion" value="#{seccionOtros}"/>
						<f:param name="apartado" value="#{apartadoOtros}"/>
						<p:resetInput target=":formArchivosDisposicion:pnlArchivo"/>
						<p:ajax process="@this" />
					</p:commandLink>
					<!-- menos -->
			
					<p:commandLink id="btnEliminarArchivoOtros"
						class="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar"
						action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"
						oncomplete="dlgEliminarArchivoAnexo.show()"
						update=":fEliminarArchivo:pnlMensajeEliminarArchivo"
						disabled="#{archivosAnexosCap10Bean.listaArchivosOtrosSeleccionados.size() == 0 || archivosAnexosCap10Bean.archivosGeneralOtros.size() == 0}"  >
						<f:param name="eliminarArchivo" value="OTROS"/>
						<f:param name="capitulo" value="#{capituloOtros}"/>
						<f:param name="subcapitulo" value="#{subcapituloOtros}"/>
						<f:param name="seccion" value="#{seccionOtros}"/>
						<f:param name="apartado" value="#{apartadoOtros}"/>	
						<p:ajax process="@this" />
					</p:commandLink><br />												
<!-- 					<p:commandButton id="btnEliminarArchivoOtros" class="btn btn-default btn-xs glyphicon glyphicon-remove-circle" value="" style="float:right;"  -->
<!-- 									 update=":fEliminarArchivo:pnlMensajeEliminarArchivo" action="#{archivosAnexosCap10Bean.abrirModalEliminarArchivo}"  -->
<!-- 									 disabled="#{archivosAnexosCap10Bean.listaArchivosOtrosSeleccionados.size() == 0}"  -->
<!-- 									 oncomplete="dlgEliminarArchivoAnexo.show()"> -->
<!-- 						<f:param name="eliminarArchivo" value="OTROS"/> -->
<!-- 						<f:param name="capitulo" value="#{capituloOtros}"/> -->
<!-- 						<f:param name="subcapitulo" value="#{subcapituloOtros}"/> -->
<!-- 						<f:param name="seccion" value="#{seccionOtros}"/> -->
<!-- 						<f:param name="apartado" value="#{apartadoOtros}"/>								 -->
<!-- 					</p:commandButton> -->
				</div>
			
					<br/>
			
					<h3>Adjuntos</h3>
					<p:dataTable id="tablaArchivoOtros" styleClass="table table-responsive" value="#{archivosAnexosCap10Bean.archivosGeneralOtros}" var="archOtros" rowIndexVar="rowIndexO"
								 selection="#{archivosAnexosCap10Bean.listaArchivosOtrosSeleccionados}" rowKey="#{archOtros.id}" paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
						
						<p:ajax event="toggleSelect" update=":foDatosGen:btnEliminarArchivoOtros" />
						<p:ajax event="rowSelectCheckbox" update=":foDatosGen:btnEliminarArchivoOtros" />
						<p:ajax event="rowUnselectCheckbox" update=":foDatosGen:btnEliminarArchivoOtros" />
		
						<p:column selectionMode="multiple" style="width:50px" />
			
						<p:column
							style="white-space: normal; width: 50px; text-align: center;">
							<f:facet name="header">#</f:facet>
<!-- 							<h:outputText value="#{archOtros.id}" /> -->
							<h:outputText value="#{rowIndexO+1}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Nombre</f:facet>
							<h:outputText value="#{archOtros.nombre}" />
						</p:column>
			
						<p:column style="white-space: normal;">
							<f:facet name="header">Descripción</f:facet>
							<h:outputText value="#{archOtros.descripcion}" />
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header"></f:facet>
				            <p:button styleClass="btn btn-default btn-xs glyphicon glyphicon-eye-open" value="" 
				                      onclick="window.open('#{request.contextPath}/faces/modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archOtros.seqId}'); return false;"/>					
						</p:column>
			
						<p:column style="white-space: normal; text-align: center; width:100px">
							<f:facet name="header" />
							<p:commandButton class="btn btn-default btn-xs glyphicon glyphicon-pencil" value="" action="#{archivosAnexosCap10Bean.consultarArchivo(10,6,2,0)}"
											 oncomplete="modalEditarArchivo.show()" update=":fEditarArchivo:pnlEditarArchivo, :formEditarHeaderArchivoAnexo:opEditarHeaderArchivoAnexo" immediate="true"> 
								<f:param name="id" value="#{archOtros.id}" />
								<f:param name="pRowIndex" value="#{rowIndexO+1}" />
								<f:param name="actualizarArchivo" value="OTROS"/>
								<p:resetInput target=":fEditarArchivo:pnlEditarArchivo"/>
							</p:commandButton>
						</p:column>
			</p:dataTable>
<!-- ==================== TABLA DE ARCHIVOS DE Otros Anexos ==================== -->
                </div>
            </div>
            <br/>
        </h:form>
        
   		<ui:include src="/ventanasModalesAnexosCap10.xhtml"/>
        
        <script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{estudioRiesgoView.claveTramite}", nsub: "#{estudioRiesgoView.subsec}", capitulo: 10, subcapitulo: 6, seccion: 1, apartado: -1 }, case_ayuda); 
            $('#case_btn_ayuda1').click({vClaveTramite:"#{estudioRiesgoView.claveTramite}", nsub: "#{estudioRiesgoView.subsec}", capitulo: 10, subcapitulo: 6, seccion: 2, apartado: -1 }, case_ayuda); 
        </script>

    </h:body>
</html>
