<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8"/>
        <link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet"/>
        <link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" /> 
        
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>    
        <script src="#{request.contextPath}/assets/js/ayudas.js"></script>     
        <script src="#{request.contextPath}/assets/js/MIAR.js"></script>
	
        
        <style>
            .css_radio label{
                display: inline-block;
                margin-bottom: 5px;
                font-weight: bold;
                width: 50px;
                padding: 10px;
                vertical-align: middle;
                text-align: justify;
            }
 			
        </style>
    </h:head>
    <h:body>
        <div class="col-md-8" >
        	<div class="row" id="mensaje"></div>
			<div class="row" id="case_pnl_ayuda_cnt"></div>
			<div class="row">	           
           		<h3>Datos generales del responsable de la elaboración del estudio de impacto ambiental <a style="color:#000;" ><span id='case_btn_ayuda' class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor:pointer"></span></a></h3>
           		<hr class="red"/>	           
            </div>
<!--             <div class="row">                     -->
<!-- 					<button id='case_btn_ayuda' type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"> -->
<!-- 	                        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Ayuda  -->
<!-- 	                </button> -->
<!--                     <div class="semarnat_ayuda" id='case_pnl_ayuda'> -->
<!-- 			                <div class="semarnat_ayuda_cont" id="case_pnl_ayuda_cnt"></div> -->
<!-- 			        </div> -->
<!-- 			        <hr/>                     -->
<!--             </div> -->
			<div class="row">
			
				<h:form id="foDatosGen">
		                <h:panelGroup id="pDatGen"  style="width: 600px">
	
		                    <h:outputLabel for="fResmismo" value="¿El responsable técnico de la elaboración del estudio es el mismo que el representante legal ?" />
		                    <h:selectOneRadio id="fResmismo" required="true" requiredMessage="Es necesario indicar si el responsable técnico de la elaboración del estudio es el mismo que el representante legal" 
		                                      value="#{capitulo1View.mismo}" styleClass="css_radio" >
		                        <f:ajax listener="#{capitulo1View.selMismo}" render="pDatGen"/>
		                        <f:selectItem itemLabel="Si" itemValue="S"/>
		                        <f:selectItem itemLabel="No" itemValue="N"/>
		                    </h:selectOneRadio>
		                    <p:message for="fResmismo" display="text" />
		
		                    <h:selectOneMenu id="repLegalAux" class="form-control" rendered="#{capitulo1View.editarREEIA and capitulo1View.mismo eq 'S'}" value="#{capitulo1View.selCurp}" required="true" >
		                        <f:ajax listener="#{capitulo1View.selRepLegal}" render="pDatGen"/>
		                        <f:selectItem itemValue="" itemLabel="Selecciona un Representante Legal" />
		                        <f:selectItems value="#{capitulo1View.representantes}"/>
		                    </h:selectOneMenu>
		                    <p:message for="repLegalAux" display="text" />
		                    <hr/>

		                    
		                    <h:outputLabel for="fNombre" value="Nombre del responsable técnico*:" />
		                    <p:inputText value="#{capitulo1View.repEEIA.respTecNombre}" class="form-control" id="fNombre" 
		                                 required="true" maxlength="100" requiredMessage="Nombre del proyecto es requerido"/>
		                    <p:message for="fNombre" display="text" />
		
		                    <h:outputLabel for="fApellp" value="Primer apellido*:" />
		                    <p:inputText value="#{capitulo1View.repEEIA.respTecApellido1}" class="form-control" id="fApellp" 
		                                 required="true" maxlength="100" requiredMessage="Apellido Paterno es requerido"/>
		                    <p:message for="fApellp" display="text" />
		
		                    <h:outputLabel for="fApellm" value="Segundo apellido*:" />
		                    <p:inputText value="#{capitulo1View.repEEIA.respTecApellido2}" class="form-control" id="fApellm" 
		                                 required="true" maxlength="100" requiredMessage="Apellido Materno es requerido"/>
		                    <p:message for="fApellm" display="text" />
		
		                    <h:outputLabel for="fRFC" value="RFC*:" />
		                    <p:inputText value="#{capitulo1View.repEEIA.respTecRfc}" class="form-control" id="fRFC" required="true"
		                                 maxlength="20" requiredMessage="RFC es requerido"/>
		                    <p:message for="fRFC" display="text" />
		
		                    <h:outputLabel for="fCURP" value="CURP*:" />
		                    <p:inputText value="#{capitulo1View.repEEIA.respTecCurp}" class="form-control" id="fCURP" required="true" 
		                                 maxlength="20" requiredMessage="CURP es requerido"/>
		                    <p:message for="fCURP" display="text" />
		
		                    <br/>
		                    <div class="pull-right">
		                        <p:commandButton value="Guardar" class="btn btn-primary" action="#{capitulo1View.guardarREEIA}" onsuccess="parent.actualizaBarra();" update="@form"/>
		                    </div>
		                </h:panelGroup>                    
	
	            	 </h:form>
           	</div>
       
        </div>
        <script>
            $('#case_btn_ayuda').click({vClaveTramite:"#{capitulo1View.claveTramite}", nsub:1, capitulo: 1, subcapitulo: 4, seccion: -1, apartado: -1 }, case_ayuda);             
        </script>

    </h:body>
</html>
